Repository Metta-AI/metta: changes, and which Codecov flags are due for each by the changed paths.
All: core, app_backend, agent, mettagrid, mettagrid_cpp, common

Small refactor of PolicyStore (#1716)
  agent/src/metta/agent/policy_store.py
  run.py
  tools/request_eval.py
  tools/sim.py
Due: core, agent

Add comments for files to ignore
  tests/sim/test_all_sim_configs.py
Due: none

access_cross is within memory, not systematic_exploration_memory
  configs/sim/all.yaml
Due: core

Fix other missing sim configs and add tests
  configs/sim/all.yaml
  configs/sim/sweep_eval.yaml
  tests/sim/test_all_sim_configs.py
Due: core

turn some things into fixtures
  tests/sim/test_all_sim_configs.py
Due: none

Fix usage of custom repo checkout within eval worker: clear environment to prevent picking up settings from primary checkout
  app_backend/src/metta/app_backend/eval_task_worker.py
  common/src/metta/common/util/git.py
Due: app_backend, common

Fix eval task worker running code out of versioned checkout (#1720)
  app_backend/src/metta/app_backend/eval_task_worker.py
  common/src/metta/common/util/git.py
Due: app_backend, common

Support spawning multiple workers per git hash to speed up policy evaluator
  app_backend/src/metta/app_backend/eval_task_orchestrator.py
  app_backend/tests/test_eval_task_orchestrator_integration.py
Due: app_backend

take up max timeout because sim=all sometimes takes more than 10m
  app_backend/src/metta/app_backend/eval_task_orchestrator.py
  devops/charts/orchestrator/values.yaml
Due: core, app_backend

Multiple policy evaluator workers per git hash (#1721)
  app_backend/src/metta/app_backend/eval_task_orchestrator.py
  app_backend/tests/test_eval_task_orchestrator_integration.py
  devops/charts/orchestrator/values.yaml
Due: core, app_backend

Test for sim config misconfigurations (and make fixes to existing ones) (#1718)
  configs/sim/all.yaml
  configs/sim/sweep_eval.yaml
  tests/sim/test_all_sim_configs.py
Due: core

WIP trainer calls out to policy evaluator
  common/src/metta/common/util/git.py
  configs/trainer/trainer.yaml
  configs/user/nishad.yaml
  devops/skypilot/utils.py
  metta/rl/trainer.py
  metta/rl/trainer_config.py
  metta/setup/local_commands.py
  metta/sim/simulation.py
  metta/sim/utils.py
  tools/request_eval.py
  tools/train.py
Due: core, common

Trainer optionally calls out to policy evaluator (#1719)
  common/src/metta/common/util/git.py
  configs/trainer/trainer.yaml
  configs/user/nishad.yaml
  devops/skypilot/utils.py
  metta/rl/trainer.py
  metta/rl/trainer_config.py
  metta/setup/local_commands.py
  metta/sim/simulation.py
  metta/sim/utils.py
  tools/request_eval.py
  tools/train.py
Due: core, common

Update recipes/arena.sh to take in additional command line args (other recipes already do)
  recipes/arena.sh
Due: core

format recipe scripts with ./devops/tools/format_sh.sh
  recipes/arena.sh
  recipes/nav_memory_sequence.sh
  recipes/navigation.sh
  recipes/object_use.sh
Due: core

rm reference to missing recipe_trainer config
  recipes/nav_memory_sequence.sh
Due: core

Improve trainer logging with rich console output and master-only logs (#1673)
  configs/user/daveey.yaml
  metta/rl/trainer.py
Due: core

bash
  recipes/agent_pressure.sh
Due: core

bash
  recipes/navigation_local.sh
Due: core

greg.yaml
  configs/user/greg.yaml
Due: core

fix env code to not throw errors if no box
  mettagrid/src/metta/mettagrid/mettagrid_c.cpp
  recipes/agent_pressure.sh
  recipes/navigation_local.sh
Due: core, mettagrid, mettagrid_cpp

debugging different map generators
  configs/env/mettagrid/curriculum/navigation/only_cw.yaml
  configs/env/mettagrid/curriculum/navigation/only_tfn.yaml
  configs/env/mettagrid/curriculum/navigation/only_vtb.yaml
  configs/env/mettagrid/curriculum/navigation/only_vtd.yaml
  configs/env/mettagrid/curriculum/navigation/only_vtm.yaml
  configs/env/mettagrid/curriculum/navigation/only_vts.yaml
  recipes/agent_pressure.sh
Due: core

fix reward pointer issues in environment
  mettagrid/src/metta/mettagrid/mettagrid_c.cpp
  mettagrid/src/metta/mettagrid/mettagrid_c.hpp
  mettagrid/src/metta/mettagrid/objects/agent.hpp
  recipes/agent_pressure.sh
Due: core, mettagrid, mettagrid_cpp

fix smoke tests and base_env to work
  mettagrid/src/metta/mettagrid/base_env.py
Due: mettagrid

cleanup and update ci tests to use base_env
  agent/src/metta/agent/metta_agent.py
  mettagrid/benchmarks/test_mettagrid_env_benchmark.py
  mettagrid/src/metta/mettagrid/base_env.py
  mettagrid/src/metta/mettagrid/replay_writer.py
  mettagrid/src/metta/mettagrid/util/actions.py
  mettagrid/tests/renderer/test_nethack.py
  mettagrid/tests/test_actions.py
  mettagrid/tests/test_buffers.py
  mettagrid/tests/test_env_map.py
  mettagrid/tests/test_leaks.py
  mettagrid/tests/test_movement_metrics.py
  mettagrid/tests/test_observations.py
  mettagrid/tests/test_rewards.py
  mettagrid/tests/test_swap.py
  mettagrid/tests/test_wandb_movement_metrics.py
Due: agent, mettagrid

ruff fixes
  mettagrid/benchmarks/test_mettagrid_env_benchmark.py
  mettagrid/src/metta/mettagrid/util/actions.py
  mettagrid/tests/renderer/test_nethack.py
  mettagrid/tests/test_actions.py
  mettagrid/tests/test_buffers.py
  mettagrid/tests/test_env_map.py
  mettagrid/tests/test_leaks.py
  mettagrid/tests/test_movement_metrics.py
  mettagrid/tests/test_observations.py
  mettagrid/tests/test_rewards.py
  mettagrid/tests/test_swap.py
  mettagrid/tests/test_wandb_movement_metrics.py
Due: mettagrid

add test on buffer reuse
  mettagrid/tests/test_buffer_reuse.py
Due: none

remove conflicting space properties
  mettagrid/src/metta/mettagrid/gym_env.py
Due: mettagrid

rename base_env to mettagrid_env and MettaGrid to MettagridCpp
  mettagrid/src/metta/mettagrid/__init__.py
  mettagrid/src/metta/mettagrid/gym_env.py
  mettagrid/src/metta/mettagrid/mettagrid_env.py
  mettagrid/src/metta/mettagrid/pettingzoo_env.py
  mettagrid/src/metta/mettagrid/puffer_env.py
  mettagrid/tests/test_new_env_hierarchy.py
Due: mettagrid

final testing before merge
  a.txt
Due: core

Asana / Github integration (#1599)
  .github/actions/asana/ensure-task/main.py
  .github/actions/asana/pr_description_asana_to_gh/action.yml
  .github/actions/asana/pr_description_asana_to_gh/pr_description_asana_to_gh.py
  .github/actions/asana/pr_gh_to_asana/action.yml
  .github/actions/asana/pr_gh_to_asana/asana_task.py
  .github/actions/asana/pr_gh_to_asana/cassettes/test_request.yaml
  .github/actions/asana/pr_gh_to_asana/dead_code.py
  .github/actions/asana/pr_gh_to_asana/github_asana_mapping.py
  .github/actions/asana/pr_gh_to_asana/pr_gh_to_asana.py
  .github/actions/asana/pr_gh_to_asana/pull_request.py
  .github/actions/asana/pr_gh_to_asana/test/README.md
  .github/actions/asana/pr_gh_to_asana/test/download_action_logs.py
  .github/actions/asana/pr_gh_to_asana/test/manual_vcr_get_test.py
  .github/actions/asana/pr_gh_to_asana/test/replay_and_test.py
  .github/actions/asana/pr_gh_to_asana/test/requirements.txt
  .github/actions/asana/pr_gh_to_asana/test/run_16393962816/http-interactions-16393962816/http_interactions_16393962816.yaml
  .github/actions/asana/pr_gh_to_asana/test/run_16393962816/run_log.txt
  .github/workflows/asana-integration.yml
  metta.code-workspace
Due: core

Path conditions:
  core: any file but: app_backend/, agent/, mettagrid/, common/, **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  app_backend: any of: app_backend/, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  agent: any of: agent/, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  mettagrid: any of: mettagrid/, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  mettagrid_cpp: any of: **/*.cpp, **/*.cc, **/*.cxx, **/*.c++, **/*.h, **/*.hpp, **/*.hh, **/*.hxx, **/*.h++, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  common: any of: common/, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
