Repository Metta-AI/metta: changes, and which Codecov flags are due for each by the changed paths.
All: core, app_backend, agent, mettagrid, mettagrid_cpp, common

codecov.yml:

# Codecov configuration for Metta-AI
# Documentation: https://docs.codecov.com/docs/codecov-yaml

# Wait for all CI jobs to complete before posting results
codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

# Coverage settings
coverage:
  # Round coverage to 2 decimal places
  precision: 2
  round: down

  # Status checks configuration
  status:
    # Project-wide coverage
    project:
      default:
        target: auto # Compare against base branch
        threshold: 1% # Allow 1% coverage drop
        base: auto
        informational: true # Won't fail PR, just inform

    # Coverage for changed lines only - this is your main gate
    patch:
      default:
        target: 50% # Minimum 50% coverage on new code
        threshold: 0% # No tolerance below 50%
        base: auto
        if_ci_failed: success # Don't fail if CI fails
        if_not_found: success # Don't fail if no coverage data

      # Additional informational patch check
      informational:
        target: 80% # Ideal target
        threshold: 0%
        informational: true # Won't fail, just shows as warning

# Pull request comment configuration
comment:
  layout: "header, diff, flags, components, files"
  behavior: default
  require_changes: false # Post comment even if no coverage change
  require_base: false # Don't require base coverage
  require_head: true # Must have head coverage to post
  hide_project_coverage: false # Show overall project coverage

# Flag configuration for different test suites
flags:
  core:
    paths:
      - "!app_backend/"
      - "!agent/"
      - "!mettagrid/"
      - "!common/"
    carryforward: true

  app_backend:
    paths:
      - app_backend/
    carryforward: true

  agent:
    paths:
      - agent/
    carryforward: true

  mettagrid:
    paths:
      - mettagrid/
    carryforward: true

  mettagrid_cpp:
    paths:
      - "**/*.cpp"
      - "**/*.cc"
      - "**/*.cxx"
      - "**/*.c++"
      - "**/*.h"
      - "**/*.hpp"
      - "**/*.hh"
      - "**/*.hxx"
      - "**/*.h++"
    carryforward: true

  common:
    paths:
      - common/
    carryforward: true

# Ignore certain paths from coverage
ignore:
  - "**/tests/"
  - "**/test_*.py"
  - "**/*_test.py"
  - "**/conftest.py"
  - "setup.py"
  - "**/migrations/"
  - "**/__pycache__/"
  - "**/node_modules/"
  - "**/*.pb.py" # Generated protobuf files
  - "**/*.pyi" # Type stub files
  - "**/fixtures/"
  - "**/mocks/"
  - "**/build/" # C++ build directories
  - "**/cmake-build-*/" # CLion/CMake build directories
  - "**/CMakeFiles/" # CMake generated files
  - "**/*.o" # Object files
  - "**/*.a" # Static libraries
  - "**/*.so" # Shared libraries
  - "**/*.dylib" # macOS dynamic libraries
  - "**/*.dll" # Windows dynamic libraries

# GitHub integration settings
github_checks:
  annotations: true # Show coverage annotations in PR files view

Cursor background agent compatibility (#1565)
  .cursor/environment.json
  devops/tools/common.sh
  install.sh
Due: core

cardinal direction change
  agent/src/metta/agent/lib/obs_token_to_box_shaper.py
  configs/agent/cardinal_safe.yaml
  configs/env/mettagrid/mettagrid.yaml
  docs/cardinal_movement_migration.md
  mettagrid/src/metta/mettagrid/actions/move_cardinal.hpp
  mettagrid/tests/test_cardinal_movement.py
Due: core, agent, mettagrid, mettagrid_cpp

config(sweep): prepare config for 2B sweep over nav eval
  configs/sweep/full.yaml
  configs/sweep_job.yaml
Due: core

[MettaScope] Reduce console.log usage (#1504)
  mettascope/src/main.ts
  mettascope/src/replay.ts
Due: core

nav defaults
  configs/env/mettagrid/systematic_exploration/training/defaults.yaml
Due: core

change defaults
  configs/env/mettagrid/curriculum/navigation/systematic_bucketed.yaml
Due: core

[MettaScope] Fix hover bubbles while game is playing (#1487)
  mettascope/src/worldmap.ts
Due: core

configs
  configs/env/mettagrid/curriculum/navigation/systematic_bucketed.yaml
Due: core

all together
  configs/env/mettagrid/curriculum/navigation/systematic_bucketed.yaml
Due: core

[MettaScope] esc should close panels and search menu (#1502)
  mettascope/src/main.ts
Due: core

fixed tests
  common/src/metta/common/util/resolvers.py
  common/tests/util/test_resolvers.py
  mettagrid/tests/test_curriculum.py
Due: common

stats move
  metta/rl/__init__.py
  metta/rl/trainer.py
  metta/rl/training_state.py
  metta/rl/util/stats.py
  run.py
Due: core

format
  metta/setup/local_commands.py
  metta/setup/tools/local/load_policies.py
Due: core

`metta local load-policies {args}` for adding policies from wandb to stats db
  common/src/metta/common/util/stats_client_cfg.py
  metta/setup/local_commands.py
  metta/setup/metta_cli.py
  metta/setup/tools/__init__.py
  metta/setup/tools/local/__init__.py
  metta/setup/tools/local/load_policies.py
Due: core, common

lint and imports
  common/src/metta/common/util/stats_client_cfg.py
  metta/setup/local_commands.py
  metta/setup/metta_cli.py
  metta/setup/tools/local/load_policies.py
Due: core, common

allow specifying given runs
  metta/setup/local_commands.py
  metta/setup/tools/local/load_policies.py
Due: core

remove main entirely
  metta/setup/tools/local/load_policies.py
Due: core

dont need this doc
  docs/refactor_training_state.md
Due: core

[MettaScope] Mobile UI (#1536)
  mettascope/AGENTS.md
  mettascope/src/common.ts
  mettascope/src/hoverpanels.ts
  mettascope/src/htmlutils.ts
  mettascope/src/main.ts
  mettascope/src/panels.ts
  mettascope/src/timeline.ts
  mettascope/style.css
Due: core

fixed the accidental world size re-add
  metta/rl/util/stats.py
  run.py
Due: core

new abort helper
  common/src/metta/common/wandb/helpers.py
Due: common

split up misc into own files
  metta/interface/checkpoint.py
  metta/interface/hyperparameter.py
  metta/interface/optimizer.py
Due: core

split up misc into own files
  metta/interface/__init__.py
  metta/interface/training.py
Due: core

`metta local load-policies` for adding policies from wandb to stats db (#1555)
  common/src/metta/common/util/stats_client_cfg.py
  metta/setup/local_commands.py
  metta/setup/metta_cli.py
  metta/setup/tools/__init__.py
  metta/setup/tools/local/__init__.py
  metta/setup/tools/local/load_policies.py
Due: core, common
