Repository Metta-AI/metta: changes, and which Codecov flags are due for each by the changed paths.
All: core, app_backend, agent, mettagrid, mettagrid_cpp, common

Support replay format v2 in thumbnail generation tool (#2144)
  mettascope/tools/gen_thumb.py
Due: core

wip
  .github/scripts/create_pr_digest.py
  .github/scripts/gemini_analyze_pr.py
  .github/scripts/gemini_analyze_pr_digest.py
  .github/scripts/gemini_client.py
  .github/workflows/generate-author-report.yml
  .github/workflows/generate-newsletter.yml
  docs/workflows/pr-summary.md
Due: core

updated actor further
  agent/src/metta/agent/lib/actor.py
  configs/agent/fast.yaml
  configs/user/alex.yaml
Due: core, agent

lint
  .github/scripts/gemini_analyze_pr.py
  .github/scripts/gemini_analyze_pr_digest.py
Due: core

lint
  mettagrid/tests/test_observations.py
Due: none

fix: refactor ObservationHelper to reliably detect features by type (#2148)
  mettagrid/src/metta/mettagrid/test_support/observation_helper.py
  mettagrid/tests/test_observations.py
Due: mettagrid

feat: AI reviews by author (#2150)
  .github/scripts/create_pr_digest.py
  .github/scripts/gemini_analyze_pr.py
  .github/scripts/gemini_analyze_pr_digest.py
  .github/scripts/gemini_client.py
  .github/workflows/generate-author-report.yml
  .github/workflows/generate-newsletter.yml
  docs/workflows/pr-summary.md
Due: core

CMakelists fixes for raylib
  mettagrid/CMakeLists.txt
  mettagrid/tests.cmake
Due: mettagrid

More rendering, inputs & camera controls, cleaned up compiler warnings
  mettagrid/src/metta/mettagrid/mettagrid_c.cpp
  mettagrid/src/metta/mettagrid/mettagrid_c.hpp
  mettagrid/src/metta/mettagrid/renderer/hermes.cpp
  mettagrid/src/metta/mettagrid/renderer/hermes.hpp
Due: mettagrid, mettagrid_cpp

Removed python dependency on raylib (using native dependency instead)
  pyproject.toml
  uv.lock
Due: core

Working colors for converter objects
  mettagrid/src/metta/mettagrid/renderer/hermes.cpp
Due: mettagrid, mettagrid_cpp

Commit changes before switching branch
  mettagrid/demos/demo_train_puffer.py
  mettagrid/src/metta/mettagrid/renderer/hermes.cpp
Due: mettagrid, mettagrid_cpp

More draw calls + sprite pivots & proper sizing + tiny profiler
  mettagrid/src/metta/mettagrid/mettagrid_c.cpp
  mettagrid/src/metta/mettagrid/mettagrid_c.hpp
  mettagrid/src/metta/mettagrid/renderer/hermes.cpp
Due: mettagrid, mettagrid_cpp

Walls rendering, agent coloring, better sprite indexing
  mettagrid/src/metta/mettagrid/core.py
  mettagrid/src/metta/mettagrid/mettagrid_c.cpp
  mettagrid/src/metta/mettagrid/renderer/hermes.cpp
  mettagrid/src/metta/mettagrid/renderer/hermes.hpp
  mettagrid/src/metta/mettagrid/renderer/raylib.cpp
  mettagrid/src/metta/mettagrid/renderer/raylib.hpp
Due: mettagrid, mettagrid_cpp

Revert accidental lock change
  uv.lock
Due: core

Auto render_mode -> raylib
  mettagrid/src/metta/mettagrid/core.py
  uv.lock
Due: core, mettagrid

Lint
  mettagrid/src/metta/mettagrid/renderer/hermes.cpp
Due: mettagrid, mettagrid_cpp

Fix
  mettagrid/src/metta/mettagrid/core.py
Due: mettagrid

Support getting render_mode from the shell environment
  mettagrid/src/metta/mettagrid/core.py
Due: mettagrid

Nolint
  mettagrid/src/metta/mettagrid/mettagrid_c.cpp
  mettagrid/src/metta/mettagrid/renderer/hermes.cpp
Due: mettagrid, mettagrid_cpp

Updated sprite handling to match the new mettascope
  mettagrid/src/metta/mettagrid/renderer/hermes.cpp
Due: mettagrid, mettagrid_cpp

Restore existing text renderers
  mettagrid/src/metta/mettagrid/core.py
  mettagrid/src/metta/mettagrid/mettagrid_env.py
  mettagrid/src/metta/mettagrid/renderer/assets/Inter-Regular.ttf
  mettagrid/src/metta/mettagrid/renderer/assets/altar.png
  mettagrid/src/metta/mettagrid/renderer/assets/converter.png
  mettagrid/src/metta/mettagrid/renderer/assets/generator.png
  mettagrid/src/metta/mettagrid/renderer/assets/items.png
  mettagrid/src/metta/mettagrid/renderer/assets/monsters.png
  mettagrid/src/metta/mettagrid/renderer/assets/ore-0.png
  mettagrid/src/metta/mettagrid/renderer/assets/ore-1.png
  mettagrid/src/metta/mettagrid/renderer/assets/ore-2.png
  mettagrid/src/metta/mettagrid/renderer/assets/ore-3.png
  mettagrid/src/metta/mettagrid/renderer/assets/ore-4.png
  mettagrid/src/metta/mettagrid/renderer/assets/ore-5.png
  mettagrid/src/metta/mettagrid/renderer/assets/ore-6.png
  mettagrid/src/metta/mettagrid/renderer/assets/puffer_chars.png
  mettagrid/src/metta/mettagrid/renderer/assets/wall.png
  mettagrid/src/metta/mettagrid/renderer/hermes.cpp
Due: mettagrid, mettagrid_cpp

Fixed frozen agent rendering, added help UI to show controls
  mettagrid/src/metta/mettagrid/core.py
  mettagrid/src/metta/mettagrid/renderer/hermes.cpp
Due: mettagrid, mettagrid_cpp

Revert demo_train_puffer, only used it with raylib for early dev
  mettagrid/demos/demo_train_puffer.py
Due: mettagrid

Force raylib renderer in mettagrid env for now
  mettagrid/src/metta/mettagrid/mettagrid_env.py
Due: mettagrid

Remove RENDER_MODE envvar
  mettagrid/pyproject.toml
  mettagrid/src/metta/mettagrid/core.py
  mettagrid/src/metta/mettagrid/renderer/hermes.cpp
Due: mettagrid, mettagrid_cpp

Camera clamping
  mettagrid/src/metta/mettagrid/mettagrid_c.cpp
  mettagrid/src/metta/mettagrid/renderer/hermes.cpp
Due: mettagrid, mettagrid_cpp

Make raylib support optional on finding its system installed package
  mettagrid/CMakeLists.txt
  mettagrid/src/metta/mettagrid/mettagrid_c.cpp
  mettagrid/src/metta/mettagrid/renderer/hermes.cpp
  mettagrid/src/metta/mettagrid/renderer/hermes.hpp
  mettagrid/tests.cmake
Due: mettagrid, mettagrid_cpp

Linty McLint
  mettagrid/src/metta/mettagrid/renderer/hermes.cpp
  mettagrid/src/metta/mettagrid/renderer/hermes.hpp
Due: mettagrid, mettagrid_cpp

To lint or not to lint, that is a question
  mettagrid/src/metta/mettagrid/renderer/hermes.hpp
Due: mettagrid, mettagrid_cpp

test no longer flaky
  mettagrid/tests/test_observations.py
Due: none

actual commit
  configs/env/mettagrid/autocurricula/defaults.yaml
  mettagrid/src/metta/mettagrid/mettagrid_c.cpp
Due: core, mettagrid, mettagrid_cpp

feat: implement Phase 1 migration tools and updated plan
  .github/workflows/migration-test.yml
  docs/REORGANIZATION_PLAN.md
  migration/INCREMENTAL_MIGRATION_PLAN.md
  migration/PHASE1_COMPLETE.md
  migration/baselines/baseline-metrics.json
  migration/baselines/dependencies-packages.dot
  migration/baselines/dependency-analysis.json
  migration/baselines/import-validation-report.json
  migration/docs/DEPENDENCY_SUMMARY.md
  migration/tools/analyze_dependencies.py
  migration/tools/clean_python_artifacts.py
  migration/tools/rewrite_imports.py
  migration/tools/validate_imports.py
Due: core

docs: add migration tools README for quick reference
  migration/README.md
Due: core

Path conditions:
  core: any file but: app_backend/, agent/, mettagrid/, common/, **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  app_backend: any of: app_backend/, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  agent: any of: agent/, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  mettagrid: any of: mettagrid/, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  mettagrid_cpp: any of: **/*.cpp, **/*.cc, **/*.cxx, **/*.c++, **/*.h, **/*.hpp, **/*.hh, **/*.hxx, **/*.h++, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  common: any of: common/, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
