Repository Metta-AI/metta: changes, and which Codecov flags are due for each by the changed paths.
All: core, app_backend, agent, mettagrid, mettagrid_cpp, common

add left sidebar navigation with placeholder pages
  library/src/app/authors/page.tsx
  library/src/app/globals.css
  library/src/app/institutions/page.tsx
  library/src/app/layout.tsx
  library/src/app/me/page.tsx
  library/src/app/papers/page.tsx
  library/src/app/search/page.tsx
  library/src/components/LibraryLayout.tsx
  library/src/components/LibrarySidebar.tsx
Due: core

flesh out feed view: add infinite scroll, LaTex rendering, and clickable users
  library/.cursorignore
  library/package.json
  library/pnpm-lock.yaml
  library/src/app/FeedPost.tsx
  library/src/app/FeedPostsPage.tsx
  library/src/app/NewPostForm.tsx
  library/src/app/layout.tsx
  library/src/app/page.tsx
  library/src/components/InfiniteScroll.tsx
  library/src/components/MathJaxProvider.tsx
  library/src/components/PaperCard.tsx
  library/src/lib/hooks/usePaginator.ts
  library/src/posts/actions/createPostAction.ts
  library/src/posts/data/feed.ts
  library/src/posts/data/post.ts
Due: core

build out social feed front & back end
  library/drizzle/0004_rich_posts.sql
  library/drizzle/relations.ts
  library/drizzle/schema.ts
  library/library.code-workspace
  library/src/app/FeedPost.tsx
  library/src/app/FeedPostsPage.tsx
  library/src/app/NewPostForm.tsx
  library/src/app/me/page.tsx
  library/src/lib/db/schema/post.ts
  library/src/posts/actions/createPostAction.ts
  library/src/posts/data/feed.ts
  library/src/posts/data/post.ts
Due: core

implement papers view & me view
  library/drizzle/relations.ts
  library/drizzle/schema.ts
  library/src/app/me/page.tsx
  library/src/app/papers/page.tsx
  library/src/components/MeView.tsx
  library/src/components/PaperOverlay.tsx
  library/src/components/PapersView.tsx
  library/src/components/UserCard.tsx
  library/src/components/library/LibraryContent.tsx
  library/src/components/library/LibraryLayout.tsx
  library/src/components/library/LibrarySidebar.tsx
  library/src/components/library/index.ts
  library/src/posts/actions/toggleQueueAction.ts
  library/src/posts/actions/toggleStarAction.ts
  library/src/posts/data/papers.ts
Due: core

cleanup commit
  library/src/lib/hooks/usePaginator.ts
  library/src/posts/actions/createPostAction.ts
  library/src/posts/actions/toggleQueueAction.ts
  library/src/posts/actions/toggleStarAction.ts
  library/src/posts/data/feed.ts
  library/src/posts/data/papers.ts
  library/src/posts/data/post.ts
Due: core

add arXiv paper fetcher script with CLI and module support
  library/README.md
  library/package.json
  library/scripts/fetch-arxiv-paper.ts
  library/scripts/test-arxiv-fetcher.ts
Due: core

fix regex that cursor messed with
  .github/actions/asana/pr_gh_to_asana/asana_task.py
Due: core

fix regex that cursor broke
  .github/actions/asana/pr_gh_to_asana/asana_task.py
  .github/actions/asana/pr_gh_to_asana/pull_request.py
Due: core

clean up cursor
  .github/actions/asana/pr_gh_to_asana/asana_task.py
Due: core

Revert "use VCR lib"
  .github/actions/asana/pr_gh_to_asana/.gitignore
  .github/actions/asana/pr_gh_to_asana/README.md
  .github/actions/asana/pr_gh_to_asana/asana_task.py
  .github/actions/asana/pr_gh_to_asana/github_asana_mapping.py
  .github/actions/asana/pr_gh_to_asana/pr_gh_to_asana.py
  .github/actions/asana/pr_gh_to_asana/pull_request.py
  .github/actions/asana/pr_gh_to_asana/test_vcr.py
  pyproject.toml
  uv.lock
Due: core

more test
  .github/actions/asana/pr_gh_to_asana/cassettes/test_request.yaml
Due: core

fix vcr package ref
  .github/actions/asana/pr_gh_to_asana/pr_gh_to_asana.py
Due: core

continuing work on the bot (#1547)
  .github/actions/asana/common/github_asana_mapping.py
  .github/actions/asana/pr_gh_to_asana/asana_task.py
  .github/actions/asana/pr_gh_to_asana/cassettes/test_request.yaml
  .github/actions/asana/pr_gh_to_asana/dead_code.py
  .github/actions/asana/pr_gh_to_asana/pr_gh_to_asana.py
  .github/actions/asana/pr_gh_to_asana/pull_request.py
  .github/actions/asana/pr_review_gh_to_asana/action.yml
  .github/actions/asana/pr_review_gh_to_asana/pr_review_gh_to_asana.py
  .github/workflows/asana-integration.yml
  change.txt
  file.txt
  file2.txt
Due: core

one last try for tonight
  .github/actions/asana/pr_gh_to_asana/pr_gh_to_asana.py
  metta.code-workspace
Due: core

file
  file.txt
Due: core

VCR library logging
  .github/actions/asana/pr_gh_to_asana/pr_gh_to_asana.py
Due: core

maybe this will work with VCR
  .github/actions/asana/pr_gh_to_asana/pr_gh_to_asana.py
Due: core

more fun with VCR
  .github/actions/asana/pr_gh_to_asana/pr_gh_to_asana.py
Due: core

add the REST file as an artifact
  .github/actions/asana/pr_gh_to_asana/action.yml
Due: core

fix formatting
  .github/actions/asana/pr_gh_to_asana/action.yml
Due: core

lint and imports
  common/src/metta/common/util/stats_client_cfg.py
  metta/setup/local_commands.py
  metta/setup/metta_cli.py
  metta/setup/tools/local/load_policies.py
Due: core, common

rm unused field
  app_backend/src/metta/app_backend/container_managers/k8s.py
  app_backend/tests/test_k8s_pod_manager_integration.py
Due: app_backend

`metta local load-policies {args}` for adding policies from wandb to stats db
  common/src/metta/common/util/stats_client_cfg.py
  metta/setup/local_commands.py
  metta/setup/metta_cli.py
  metta/setup/tools/__init__.py
  metta/setup/tools/local/__init__.py
  metta/setup/tools/local/load_policies.py
Due: core, common

policy evaluator management ui in observatory
  app_backend/README.md
  app_backend/src/metta/app_backend/metta_repo.py
  app_backend/src/metta/app_backend/routes/eval_task_routes.py
  observatory/src/App.tsx
  observatory/src/Dashboard.tsx
  observatory/src/Episodes.tsx
  observatory/src/EvalTasks.tsx
  observatory/src/TrainingRunDetail.tsx
  observatory/src/repo.ts
Due: core, app_backend

Clean up sampling curricula (#1561)
  configs/env/mettagrid/curriculum/bbc/tasks/altar.yaml
  configs/env/mettagrid/curriculum/bbc/tasks/armor.yaml
  configs/env/mettagrid/curriculum/bbc/tasks/basic.yaml
  configs/env/mettagrid/curriculum/bbc/tasks/combat.yaml
  configs/env/mettagrid/curriculum/bbc/tasks/laser.yaml
  configs/env/mettagrid/curriculum/bbc/tasks/tag.yaml
  configs/env/mettagrid/curriculum/navigation/bucketed.yaml
  configs/env/mettagrid/curriculum/objects/all_objects.yaml
  configs/env/mettagrid/curriculum/resources.yaml
  mettagrid/src/metta/mettagrid/curriculum/bucketed.py
  mettagrid/src/metta/mettagrid/curriculum/progressive.py
  mettagrid/src/metta/mettagrid/curriculum/sampling.py
  mettagrid/tests/test_curriculum.py
Due: core, mettagrid

[Policy evaluator] 6: implementation on local kubernetes (#1548)
  app_backend/README.md
  app_backend/src/metta/app_backend/container_managers/docker.py
  app_backend/src/metta/app_backend/container_managers/factory.py
  app_backend/src/metta/app_backend/container_managers/k8s.py
  app_backend/src/metta/app_backend/eval_task_orchestrator.py
  app_backend/src/metta/app_backend/kind.sh
  devops/docker/Dockerfile.local
  devops/macos/Brewfile
  metta/setup/local_commands.py
  metta/setup/metta_cli.py
Due: core, app_backend

Path conditions:
  core: any file but: app_backend/, agent/, mettagrid/, common/, **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  app_backend: any of: app_backend/, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  agent: any of: agent/, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  mettagrid: any of: mettagrid/, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  mettagrid_cpp: any of: **/*.cpp, **/*.cc, **/*.cxx, **/*.c++, **/*.h, **/*.hpp, **/*.hh, **/*.hxx, **/*.h++, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  common: any of: common/, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
