Repository Metta-AI/metta: changes, and which Codecov flags are due for each by the changed paths.
All: core, app_backend, agent, mettagrid, mettagrid_cpp, common

coop reward sharing
  configs/user/krishnakanth.yaml
Due: core

added time to run name
  recipes/coop_rewardsharing.sh
Due: core

Fix missing bptt key for non-ComponentPolicy policies
  agent/src/metta/agent/metta_agent.py
Due: agent

add debug output
  devops/skypilot/set_github_status.py
Due: core

more printing
  devops/skypilot/set_github_status.py
Due: core

fix: ci debug (#2066)
  devops/skypilot/set_github_status.py
Due: core

enhance skypilot action
  .github/workflows/sky-train.yml
Due: core

fix context bug
  devops/skypilot/config/sk_train.yaml
  devops/skypilot/set_github_status.py
Due: core

use stdout
  devops/skypilot/set_github_status.py
Due: core

fix: set context ENV when updating skypilot job status (#2067)
  .github/workflows/sky-train.yml
  devops/skypilot/config/sk_train.yaml
  devops/skypilot/set_github_status.py
Due: core

surface launch output from action
  .github/actions/launch-skypilot-job/action.yml
  .github/workflows/sky-train.yml
Due: core

fix: capture script output from skypilot launch action (#2068)
  .github/actions/launch-skypilot-job/action.yml
  .github/workflows/sky-train.yml
Due: core

Add Google Drive tests
  mettagrid/tests/test_gdrive.py
Due: none

lint
  common/tests/util/test_cli.py
  common/tests/util/test_collections.py
  common/tests/util/test_config.py
  common/tests/util/test_fs.py
  common/tests/util/test_git_filter.py
  common/tests/util/test_heartbeat.py
  common/tests/util/test_instantiate.py
  common/tests/util/test_logging_helpers.py
  common/tests/util/test_mettagrid_cfgs.py
  common/tests/util/test_numpy_compat.py
  common/tests/util/test_omegaconf.py
  common/tests/util/test_resolvers.py
  common/tests/util/test_stats_client_cfg.py
  common/tests/util/test_tracing.py
Due: none

lint
  common/tests/util/test_cli.py
  common/tests/util/test_collections.py
  common/tests/util/test_config.py
  common/tests/util/test_cost_monitor.py
  common/tests/util/test_fs.py
  common/tests/util/test_git_filter.py
  common/tests/util/test_heartbeat.py
  common/tests/util/test_instantiate.py
  common/tests/util/test_lock.py
  common/tests/util/test_logging_helpers.py
  common/tests/util/test_mettagrid_cfgs.py
  common/tests/util/test_numpy_compat.py
  common/tests/util/test_numpy_helpers.py
  common/tests/util/test_omegaconf.py
  common/tests/util/test_resolvers.py
  common/tests/util/test_retry.py
  common/tests/util/test_skypilot_latency.py
  common/tests/util/test_stats_client_cfg.py
  common/tests/util/test_tracing.py
  common/tests/util/test_typed_config.py
Due: none

Update agent/src/metta/agent/component_policy.py
  agent/src/metta/agent/component_policy.py
Due: agent

Update agent/src/metta/agent/metta_agent.py
  agent/src/metta/agent/metta_agent.py
Due: agent

Fix missing import
  agent/src/metta/agent/metta_agent.py
Due: agent

mv heartbeat to skypilot run
  devops/skypilot/config/sk_train.yaml
  devops/skypilot/utils.py
  devops/train.sh
Due: core

fix names
  devops/skypilot/config/sk_train.yaml
Due: core

fix exit code
  devops/skypilot/config/sk_train.yaml
  devops/skypilot/launch.py
  devops/train.sh
Due: core

add short versions
  devops/skypilot/launch.py
Due: core

set group pid
  devops/skypilot/config/sk_train.yaml
Due: core

change logging
  devops/skypilot/config/sk_train.yaml
Due: core

add sigkill
  .cspell.json
  devops/skypilot/config/sk_train.yaml
  devops/skypilot/launch.py
Due: core

last push for a while
  configs/sim/perfect_mazes.yaml
  replay.sh
  train.sh
Due: core

print c_cfg)
  mettagrid/src/metta/mettagrid/core.py
Due: mettagrid

.
  mettagrid/src/metta/mettagrid/core.py
Due: mettagrid

print game config dict
  mettagrid/src/metta/mettagrid/core.py
Due: mettagrid

fix hopefully
  mettagrid/src/metta/mettagrid/core.py
  mettagrid/src/metta/mettagrid/gym_env.py
  mettagrid/src/metta/mettagrid/mettagrid_env.py
  mettagrid/src/metta/mettagrid/pettingzoo_env.py
Due: mettagrid

more fixes
  metta/rl/trainer.py
  mettagrid/src/metta/mettagrid/core.py
  mettagrid/src/metta/mettagrid/mettagrid_env.py
  mettagrid/src/metta/mettagrid/puffer_base.py
Due: core, mettagrid

typo
  mettagrid/src/metta/mettagrid/mettagrid_env.py
Due: mettagrid

fail silently; icon change (#2036)
  .github/actions/asana/pr_gh_to_asana/pr_gh_to_asana.py
Due: core

fix
  mettagrid/src/metta/mettagrid/mettagrid_env.py
Due: mettagrid

added comment
  mettagrid/src/metta/mettagrid/mettagrid_env.py
Due: mettagrid

skypilot run for coop rewardsharing
  configs/user/krishnakanth.yaml
Due: core

Path conditions:
  core: any file but: app_backend/, agent/, mettagrid/, common/, **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  app_backend: any of: app_backend/, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  agent: any of: agent/, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  mettagrid: any of: mettagrid/, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  mettagrid_cpp: any of: **/*.cpp, **/*.cc, **/*.cxx, **/*.c++, **/*.h, **/*.hpp, **/*.hh, **/*.hxx, **/*.h++, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  common: any of: common/, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
