Repository Metta-AI/metta: changes, and which Codecov flags are due for each by the changed paths.
All: core, app_backend, agent, mettagrid, mettagrid_cpp, common

Accept simple change from main
  metta/core/distributed.py
Due: core

test
  configs/user/krishnakanth.yaml
Due: core

add diagnostics script
  devops/skypilot/config/sk_train.yaml
  devops/skypilot/test_nccl.py
Due: core

increased timesteps
  configs/user/krishnakanth.yaml
Due: core

fix: add Prisma convenience scripts and auto-env detection
  library/.gitignore
  library/package.json
Due: core

fix randomization
  configs/env/mettagrid/curriculum/colortree_easy_random.yaml
  configs/env/mettagrid/curriculum/colortree_hard_random.yaml
  configs/env/mettagrid/curriculum/colortree_medium_random.yaml
  mettagrid/src/metta/mettagrid/curriculum/colortree_random.py
Due: core, mettagrid

Finish removing episodes
  observatory/src/App.tsx
Due: core

Delete configs/user/multi_trial_example.yaml
  configs/user/multi_trial_example.yaml
Due: core

update core
  mettagrid/src/metta/mettagrid/core.py
Due: mettagrid

Make visitation counts observation defaulted to false (#1946)
  configs/env/mettagrid/mettagrid.yaml
  mettagrid/src/metta/mettagrid/mettagrid_c.cpp
  mettagrid/src/metta/mettagrid/mettagrid_c.hpp
  mettagrid/src/metta/mettagrid/mettagrid_config.py
Due: core, mettagrid, mettagrid_cpp

Explicitly call `torch.cuda.set_device(device)` (#1950)
  metta/core/distributed.py
Due: core

Finish removing episodes (#1951)
  observatory/src/App.tsx
Due: core

plot per trial rewards
  mettagrid/src/metta/mettagrid/curriculum/core.py
  mettagrid/src/metta/mettagrid/mettagrid_env.py
Due: mettagrid

Explain what DistributedMettaAgent does and remove redundant methods that could be handled through the basic passthrough mechanism
  agent/src/metta/agent/metta_agent.py
Due: agent

add 256 agent version#
  configs/env/mettagrid/colortree_easy_256.yaml
  configs/env/mettagrid/colortree_hard_256.yaml
  configs/env/mettagrid/colortree_medium_256.yaml
  configs/env/mettagrid/curriculum/colortree_easy_256_random.yaml
  configs/env/mettagrid/curriculum/colortree_hard_256_random.yaml
  configs/env/mettagrid/curriculum/colortree_medium_256_random.yaml
  configs/env/mettagrid/maps/debug/colortree_256.map
Due: core

cleaning up
  agent/src/metta/agent/metta_agent.py
  metta/rl/checkpoint_manager.py
  metta/rl/policy_management.py
  metta/sim/simulation.py
Due: core, agent

simplify comments
  agent/src/metta/agent/metta_agent.py
Due: agent

mv github to py file
  .cspell.json
  common/src/metta/common/util/github.py
  common/src/metta/common/util/lock.py
  devops/skypilot/config/sk_train.yaml
  devops/skypilot/post_commit_status.py
  devops/skypilot/test_nccl.py
Due: core, common

cleaning up
  configs/user/krishnakanth.yaml
Due: core

add eval suite
  configs/env/mettagrid/curriculum/operant_conditioning/smoke_test.yaml
  configs/env/mettagrid/maps/operant_conditioning/red_2.map
  configs/env/mettagrid/maps/operant_conditioning/red_3.map
  configs/env/mettagrid/maps/operant_conditioning/red_4.map
  configs/env/mettagrid/maps/operant_conditioning/red_5.map
  configs/env/mettagrid/maps/operant_conditioning/red_6.map
  configs/env/mettagrid/operant_conditioning/smoke_tests/2_converters/mine_blue.yaml
  configs/env/mettagrid/operant_conditioning/smoke_tests/2_converters/mine_red.yaml
  configs/env/mettagrid/operant_conditioning/smoke_tests/3_converters/mine_blue.yaml
  configs/env/mettagrid/operant_conditioning/smoke_tests/3_converters/mine_green.yaml
  configs/env/mettagrid/operant_conditioning/smoke_tests/3_converters/mine_red.yaml
  configs/env/mettagrid/operant_conditioning/smoke_tests/4_converters/factory.yaml
  configs/env/mettagrid/operant_conditioning/smoke_tests/4_converters/mine_blue.yaml
  configs/env/mettagrid/operant_conditioning/smoke_tests/4_converters/mine_green.yaml
  configs/env/mettagrid/operant_conditioning/smoke_tests/4_converters/mine_red.yaml
  configs/env/mettagrid/operant_conditioning/smoke_tests/defaults.yaml
  configs/sim/operant_condition_smoketest.yaml
Due: core

oc smoke test recipe
  recipes/operantconditioning_smoketest.sh
Due: core

generalize recipe
  recipes/operantconditioning_smoketest.sh
Due: core

update recipe
  recipes/operantconditioning_smoketest.sh
Due: core

f
  experiments/notebooks/mettabook-template.ipynb
Due: core

update curriculum
  configs/env/mettagrid/curriculum/operant_conditioning/smoke_test.yaml
Due: core

fix bugs
  configs/env/mettagrid/operant_conditioning/smoke_tests/4_converters/mine_blue.yaml
  configs/env/mettagrid/operant_conditioning/smoke_tests/4_converters/mine_green.yaml
  configs/env/mettagrid/operant_conditioning/smoke_tests/4_converters/mine_red.yaml
Due: core

Increase skypilot api server disk size
  devops/charts/helm.values/skypilot-values.yaml
Due: core

Add heatmap button.
  mettascope/data/ui/heatmap.png
  mettascope/data/ui/heatmap@2x.png
  mettascope/index.css
  mettascope/index.html
Due: core

add assertions and defaults
  mettagrid/src/metta/mettagrid/replay_writer.py
Due: mettagrid

add tooltip
  mettascope/src/tooltips.ts
Due: core

unified checks for replay writer and mettascope server
  mettagrid/src/metta/mettagrid/grid_object_formatter.py
  mettagrid/src/metta/mettagrid/replay_writer.py
  mettascope/server.py
Due: core, mettagrid

i don't want to waste my life on this
  .github/workflows/test-mettascope.yml
Due: core

reference implementation
  mettagrid/src/metta/mettagrid/analysis/README.md
  mettagrid/src/metta/mettagrid/analysis/__init__.py
  mettagrid/src/metta/mettagrid/analysis/activation_recorder.py
  mettagrid/src/metta/mettagrid/analysis/concept_analysis.py
  mettagrid/src/metta/mettagrid/analysis/policy_loader.py
  mettagrid/src/metta/mettagrid/analysis/sequence_generator.py
  mettagrid/src/metta/mettagrid/analysis/sparse_autoencoder.py
  mettagrid/src/metta/mettagrid/analysis/utils/__init__.py
  mettagrid/src/metta/mettagrid/analysis/utils/metadata.py
  mettagrid/src/metta/mettagrid/analysis/utils/storage.py
  mettagrid/src/metta/mettagrid/analysis/visualization/__init__.py
  mettagrid/src/metta/mettagrid/analysis/visualization/notebooks.py
  mettagrid/src/metta/mettagrid/analysis/visualization/wandb_plots.py
Due: mettagrid

adjust comment
  mettagrid/src/metta/mettagrid/grid_object_formatter.py
Due: mettagrid

Path conditions:
  core: any file but: app_backend/, agent/, mettagrid/, common/, **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  app_backend: any of: app_backend/, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  agent: any of: agent/, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  mettagrid: any of: mettagrid/, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  mettagrid_cpp: any of: **/*.cpp, **/*.cc, **/*.cxx, **/*.c++, **/*.h, **/*.hpp, **/*.hh, **/*.hxx, **/*.h++, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  common: any of: common/, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
