Repository Metta-AI/metta: changes, and which Codecov flags are due for each by the changed paths.
All: core, app_backend, agent, mettagrid, mettagrid_cpp, common

codecov.yml:

# Codecov configuration for Metta-AI
# Documentation: https://docs.codecov.com/docs/codecov-yaml

# Wait for all CI jobs to complete before posting results
codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

# Coverage settings
coverage:
  # Round coverage to 2 decimal places
  precision: 2
  round: down

  # Status checks configuration
  status:
    # Project-wide coverage
    project:
      default:
        target: auto # Compare against base branch
        threshold: 1% # Allow 1% coverage drop
        base: auto
        informational: true # Won't fail PR, just inform

    # Coverage for changed lines only - this is your main gate
    patch:
      default:
        target: 50% # Minimum 50% coverage on new code
        threshold: 0% # No tolerance below 50%
        base: auto
        if_ci_failed: success # Don't fail if CI fails
        if_not_found: success # Don't fail if no coverage data

      # Additional informational patch check
      informational:
        target: 80% # Ideal target
        threshold: 0%
        informational: true # Won't fail, just shows as warning

# Pull request comment configuration
comment:
  layout: "header, diff, flags, components, files"
  behavior: default
  require_changes: false # Post comment even if no coverage change
  require_base: false # Don't require base coverage
  require_head: true # Must have head coverage to post
  hide_project_coverage: false # Show overall project coverage

# Flag configuration for different test suites
flags:
  core:
    paths:
      - "!app_backend/"
      - "!agent/"
      - "!mettagrid/"
      - "!common/"
    carryforward: true

  app_backend:
    paths:
      - app_backend/
    carryforward: true

  agent:
    paths:
      - agent/
    carryforward: true

  mettagrid:
    paths:
      - mettagrid/
    carryforward: true

  mettagrid_cpp:
    paths:
      - "**/*.cpp"
      - "**/*.cc"
      - "**/*.cxx"
      - "**/*.c++"
      - "**/*.h"
      - "**/*.hpp"
      - "**/*.hh"
      - "**/*.hxx"
      - "**/*.h++"
    carryforward: true

  common:
    paths:
      - common/
    carryforward: true

# Ignore certain paths from coverage
ignore:
  - "**/tests/"
  - "**/test_*.py"
  - "**/*_test.py"
  - "**/conftest.py"
  - "setup.py"
  - "**/migrations/"
  - "**/__pycache__/"
  - "**/node_modules/"
  - "**/*.pb.py" # Generated protobuf files
  - "**/*.pyi" # Type stub files
  - "**/fixtures/"
  - "**/mocks/"
  - "**/build/" # C++ build directories
  - "**/cmake-build-*/" # CLion/CMake build directories
  - "**/CMakeFiles/" # CMake generated files
  - "**/*.o" # Object files
  - "**/*.a" # Static libraries
  - "**/*.so" # Shared libraries
  - "**/*.dylib" # macOS dynamic libraries
  - "**/*.dll" # Windows dynamic libraries

# GitHub integration settings
github_checks:
  annotations: true # Show coverage annotations in PR files view

Removed intentionally bad test case from game yaml config file.
  configs/env/mettagrid/arena/basic.yaml
  configs/user/lsoros.yaml
Due: core

no more random;
  configs/env/mettagrid/8way_movement_example.yaml
  mettagrid/src/metta/mettagrid/actions/move_8way.hpp
  mettagrid/src/metta/mettagrid/actions/move_cardinal.hpp
Due: core, mettagrid, mettagrid_cpp

a
  recipes/arena_teams.sh
Due: core

Added debug printing
  agent/src/metta/agent/metta_agent.py
  metta/core/distributed.py
  metta/rl/policy_management.py
  metta/rl/trainer.py
Due: core, agent

collect all coverage files
  .github/scripts/upload_codecov.py
  conftest.py
Due: core

refactor(sweep): Clairfy config passing in sweep pipeline
  configs/sweep_job.yaml
  metta/sweep/sweep_lifecycle.py
  tests/sweep/test_distributed_sweep_integration.py
  tests/sweep/test_sweep_lifecycle.py
  tests/sweep/test_sweep_pipeline_integration.py
  tests/sweep/test_sweep_rollout.py
  tools/sweep_config_utils.py
Due: core

fix(devops): update sweep.sh to pass sweep_dir correctly
  devops/sweep.sh
Due: core

refactor: update sweep implementation for distributed execution
  common/src/metta/common/util/lock.py
  metta/sweep/__init__.py
  metta/sweep/sweep_lifecycle.py
  metta/sweep/wandb_utils.py
  tools/sweep_rollout.py
Due: core, common

fix(sweep): load full config from saved config.yaml for evaluation
  tools/sweep_rollout.py
Due: core

refact(sweep): move files around
  devops/sweep_rollout.sh
  metta/sweep/__init__.py
  metta/sweep/lifecycle/sweep_eval.py
  metta/sweep/lifecycle/sweep_prepare_run.py
  metta/sweep/lifecycle/sweep_setup.py
  metta/sweep/sweep_rollout.py
Due: core

Simplify sweep.sh to launch consolidated rollout script
  devops/sweep.sh
Due: core

refactor(sweep): remove W&B sweep support in favor of W&B groups
  metta/sweep/wandb_utils.py
Due: core

Refactor wandb_utils for cleaner sweep integration
  metta/sweep/wandb_utils.py
Due: core

Extract protein utility functions to separate module
  metta/sweep/protein_utils.py
Due: core

refactor(tools): update get_best_params to use sweep_name directly
  tools/get_best_params_from_sweep.py
Due: core

refactor(config): update sweep_job.yaml to use interpolations instead of null values
  configs/sweep_job.yaml
Due: core

test: refactor and fix sweep tests for new architecture
  tests/sweep/test_distributed_sweep_integration.py
  tests/sweep/test_distributed_sweep_orchestration.py
  tests/sweep/test_protein_utils.py
  tests/sweep/test_sweep_lifecycle.py
  tests/sweep/test_sweep_pipeline_integration.py
  tests/sweep/test_sweep_rollout.py
Due: none

Consolidate sweep pipeline into single rollout script
  tools/sweep_rollout.py
Due: core

Update sweep package exports for new architecture
  metta/sweep/__init__.py
Due: core

fix(lock): improve type hints and error handling in run_once
  common/src/metta/common/util/lock.py
Due: common

refactor(sweep): remove create_wandb_sweep from exports
  metta/sweep/__init__.py
Due: core

refactor(sweep): update sweep lifecycle to work without W&B sweep IDs
  metta/sweep/sweep_lifecycle.py
Due: core

Remove legacy sweep lifecycle scripts
  metta/sweep/lifecycle/sweep_eval.py
  metta/sweep/lifecycle/sweep_prepare_run.py
  metta/sweep/lifecycle/sweep_setup.py
  metta/sweep/sweep_rollout.py
Due: core

Add sweep rollout configuration parameters
  configs/sweep_job.yaml
Due: core

refactor(config): clean up full.yaml sweep configuration
  configs/sweep/full.yaml
Due: core

fix(sweep): add docstring + refactor train_job_cfg building
  common/src/metta/common/util/lock.py
  configs/sweep_job.yaml
  metta/sweep/sweep_lifecycle.py
  tools/sweep_rollout.py
Due: core, common

fix: sweep docker sandbox master-worker coordination
  common/src/metta/common/util/lock.py
  configs/sweep_job.yaml
  devops/docker_launch.py
  devops/setup_docker_sandbox.sh
  metta/sweep/docker/docker-compose.yml
  metta/sweep/docker/scripts/start-test-env.sh
  tools/sweep_rollout.py
Due: core, common

refactor(sweep): remove docker testing sandbox
  common/src/metta/common/util/lock.py
  devops/docker_launch.py
  devops/setup_docker_sandbox.sh
  metta/sweep/docker/Dockerfile
  metta/sweep/docker/Makefile
  metta/sweep/docker/README.md
  metta/sweep/docker/configs/test-sweep-advanced.yaml
  metta/sweep/docker/configs/test-sweep-basic.yaml
  metta/sweep/docker/configs/test-sweep-intermediate.yaml
  metta/sweep/docker/docker-compose.yml
  metta/sweep/docker/scripts/dummy-api-server.py
  metta/sweep/docker/scripts/run-single-test.sh
  metta/sweep/docker/scripts/run-sweep-tests.sh
  metta/sweep/docker/scripts/start-test-env.sh
  tests/sweep/test_integration_sweep_pipeline.py
Due: core, common

debug(train): add missing import for os module
  tools/train.py
Due: core

fix tests for sweeps
  metta/sweep/sweep_lifecycle.py
  tests/sweep/test_distributed_sweep_integration.py
  tests/sweep/test_distributed_sweep_orchestration.py
  tests/sweep/test_protein_utils.py
  tests/sweep/test_sweep_lifecycle.py
  tests/sweep/test_sweep_pipeline_integration.py
  tests/sweep/test_sweep_rollout.py
  tests/sweep/test_wandb_utils.py
Due: core

Add Docker sandbox environment for distributed sweep testing
  configs/sweep_job.yaml
  devops/docker_launch.py
  devops/setup_docker_sandbox.sh
  metta/sweep/docker/Dockerfile
  metta/sweep/docker/Makefile
  metta/sweep/docker/README.md
  metta/sweep/docker/configs/test-sweep-advanced.yaml
  metta/sweep/docker/configs/test-sweep-basic.yaml
  metta/sweep/docker/configs/test-sweep-intermediate.yaml
  metta/sweep/docker/docker-compose.yml
  metta/sweep/docker/scripts/dummy-api-server.py
  metta/sweep/docker/scripts/run-single-test.sh
  metta/sweep/docker/scripts/run-sweep-tests.sh
  metta/sweep/docker/scripts/start-test-env.sh
Due: core

Remove dist_cfg.yaml file-based coordination for distributed sweeps
  common/src/metta/common/util/lock.py
  metta/sweep/sweep_lifecycle.py
  metta/sweep/wandb_utils.py
  tools/sweep_rollout.py
Due: core, common

tests(sweep): remove dist_cfg refs and update func signatures
  tests/sweep/test_sweep_init.py
  tests/sweep/test_sweep_lifecycle.py
  tests/sweep/test_sweep_rollout.py
Due: none

Update conftest.py
  conftest.py
Due: none

arg names must be as expected
  .cspell.json
  conftest.py
Due: core

update coverage collection
  .github/workflows/checks.yml
Due: core

STUFF IS FINALLY WORKING!
  metta/rl/policy_management.py
Due: core

rm duplicate
  conftest.py
Due: none

Removing old debug prints
  agent/src/metta/agent/metta_agent.py
  metta/rl/policy_management.py
  metta/rl/trainer.py
Due: core, agent

fixed sampling in all teams files
  configs/env/mettagrid/arena/advanced_teams.yaml
  configs/env/mettagrid/arena/basic_teams.yaml
  configs/env/mettagrid/arena/combat_teams.yaml
  configs/env/mettagrid/arena/tag_teams.yaml
Due: core
