Repository Metta-AI/metta: changes, and which Codecov flags are due for each by the changed paths.
All: core, app_backend, agent, mettagrid, mettagrid_cpp, common

codecov.yml:

# Codecov configuration for Metta-AI
# Documentation: https://docs.codecov.com/docs/codecov-yaml

# Wait for all CI jobs to complete before posting results
codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

# Coverage settings
coverage:
  # Round coverage to 2 decimal places
  precision: 2
  round: down

  # Status checks configuration
  status:
    # Project-wide coverage
    project:
      default:
        target: auto # Compare against base branch
        threshold: 1% # Allow 1% coverage drop
        base: auto
        informational: true # Won't fail PR, just inform

    # Coverage for changed lines only - this is your main gate
    patch:
      default:
        target: 50% # Minimum 50% coverage on new code
        threshold: 0% # No tolerance below 50%
        base: auto
        if_ci_failed: success # Don't fail if CI fails
        if_not_found: success # Don't fail if no coverage data

      # Additional informational patch check
      informational:
        target: 80% # Ideal target
        threshold: 0%
        informational: true # Won't fail, just shows as warning

# Pull request comment configuration
comment:
  layout: "header, diff, flags, components, files"
  behavior: default
  require_changes: false # Post comment even if no coverage change
  require_base: false # Don't require base coverage
  require_head: true # Must have head coverage to post
  hide_project_coverage: false # Show overall project coverage

# Flag configuration for different test suites
flags:
  core:
    paths:
      - "!app_backend/"
      - "!agent/"
      - "!mettagrid/"
      - "!common/"
    carryforward: true

  app_backend:
    paths:
      - app_backend/
    carryforward: true

  agent:
    paths:
      - agent/
    carryforward: true

  mettagrid:
    paths:
      - mettagrid/
    carryforward: true

  mettagrid_cpp:
    paths:
      - "**/*.cpp"
      - "**/*.cc"
      - "**/*.cxx"
      - "**/*.c++"
      - "**/*.h"
      - "**/*.hpp"
      - "**/*.hh"
      - "**/*.hxx"
      - "**/*.h++"
    carryforward: true

  common:
    paths:
      - common/
    carryforward: true

# Ignore certain paths from coverage
ignore:
  - "**/tests/"
  - "**/test_*.py"
  - "**/*_test.py"
  - "**/conftest.py"
  - "setup.py"
  - "**/migrations/"
  - "**/__pycache__/"
  - "**/node_modules/"
  - "**/*.pb.py" # Generated protobuf files
  - "**/*.pyi" # Type stub files
  - "**/fixtures/"
  - "**/mocks/"
  - "**/build/" # C++ build directories
  - "**/cmake-build-*/" # CLion/CMake build directories
  - "**/CMakeFiles/" # CMake generated files
  - "**/*.o" # Object files
  - "**/*.a" # Static libraries
  - "**/*.so" # Shared libraries
  - "**/*.dylib" # macOS dynamic libraries
  - "**/*.dll" # Windows dynamic libraries

# GitHub integration settings
github_checks:
  annotations: true # Show coverage annotations in PR files view

set lstm hidden to contiguous
  agent/src/metta/agent/lib/lstm.py
  configs/user/alex.yaml
Due: core, agent

fixed logprobs reference in stats
  agent/src/metta/agent/metta_agent.py
  metta/rl/experience.py
Due: core, agent

fixed logprobs reference in stats
  metta/rl/experience.py
Due: core

biome -> eslint in mettascope
  .github/workflows/test-mettascope.yml
  .prettierignore
  .prettierrc
  mettascope/.prettierignore
  mettascope/AGENTS.md
  mettascope/README.md
  mettascope/biome.jsonc
  mettascope/docs/replay_spec.md
  mettascope/eslint.config.mts
  mettascope/package.json
  mettascope/src/context3d.ts
  mettascope/src/timeline.ts
  mettascope/style.css
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: core

running on mettabox but not training well :(
  metta/rl/experience.py
Due: core

biome -> eslint+prettier in mettascope (#1725)
  .github/workflows/test-mettascope.yml
  .prettierignore
  .prettierrc
  mettascope/.prettierignore
  mettascope/AGENTS.md
  mettascope/README.md
  mettascope/biome.jsonc
  mettascope/docs/replay_spec.md
  mettascope/eslint.config.mts
  mettascope/package.json
  mettascope/src/context3d.ts
  mettascope/src/timeline.ts
  mettascope/style.css
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: core

observatory -> prettier & eslint
  .prettierignore
  biome.jsonc
  observatory/.prettierignore
  observatory/README.md
  observatory/biome.jsonc
  observatory/eslint.config.mts
  observatory/index.html
  observatory/package.json
  observatory/src/Dashboard.module.css
  observatory/src/Dashboard.tsx
  observatory/src/Episodes.tsx
  observatory/src/EvalTasks.tsx
  observatory/src/Heatmap.tsx
  observatory/src/SQLQuery.tsx
  observatory/src/SaveDashboardModal.tsx
  observatory/src/SavedDashboards.tsx
  observatory/src/TrainingRunDetail.tsx
  observatory/src/components/EvalSelector.module.css
  observatory/src/components/EvalSelector.tsx
  observatory/src/components/MetricSelector.module.css
  observatory/src/components/MetricSelector.tsx
  observatory/src/components/PolicySelector.module.css
  observatory/src/components/PolicySelector.tsx
  observatory/src/components/SearchInput.tsx
  observatory/src/components/TrainingRunPolicySelector.module.css
  observatory/src/components/TrainingRunPolicySelector.tsx
  observatory/src/repo.ts
  pnpm-lock.yaml
Due: core

biome -> prettier+eslint in observatory (#1726)
  .prettierignore
  biome.jsonc
  observatory/.prettierignore
  observatory/README.md
  observatory/biome.jsonc
  observatory/eslint.config.mts
  observatory/index.html
  observatory/package.json
  observatory/src/Dashboard.module.css
  observatory/src/Dashboard.tsx
  observatory/src/Episodes.tsx
  observatory/src/EvalTasks.tsx
  observatory/src/Heatmap.tsx
  observatory/src/SQLQuery.tsx
  observatory/src/SaveDashboardModal.tsx
  observatory/src/SavedDashboards.tsx
  observatory/src/TrainingRunDetail.tsx
  observatory/src/components/EvalSelector.module.css
  observatory/src/components/EvalSelector.tsx
  observatory/src/components/MetricSelector.module.css
  observatory/src/components/MetricSelector.tsx
  observatory/src/components/PolicySelector.module.css
  observatory/src/components/PolicySelector.tsx
  observatory/src/components/SearchInput.tsx
  observatory/src/components/TrainingRunPolicySelector.module.css
  observatory/src/components/TrainingRunPolicySelector.tsx
  observatory/src/repo.ts
  pnpm-lock.yaml
Due: core

fixed sim, added reset memory, cleaned old code
  agent/src/metta/agent/lib/lstm.py
  agent/src/metta/agent/lib/metta_layer.py
  agent/src/metta/agent/lib/obs_token_to_box_shaper.py
  agent/src/metta/agent/metta_agent.py
  agent/src/metta/agent/policy_record.py
  metta/rl/trainer.py
  metta/sim/simulation.py
Due: core, agent

configure eslint and prettier in vscode
  .vscode/extensions.json
  metta.code-workspace
Due: core

prettier is default formatter for most types
  metta.code-workspace
Due: core

configure eslint and prettier in vscode (#1727)
  .vscode/extensions.json
  metta.code-workspace
Due: core

slight optimization to future-proof this
  experiments/notebooks/utils/heatmap_widget/should_build.sh
Due: core

cp
  configs/env/mettagrid/curriculum/bbc/agents/1.yaml
  configs/env/mettagrid/curriculum/bbc/agents/2.yaml
  configs/env/mettagrid/curriculum/bbc/agents/24.yaml
  configs/env/mettagrid/curriculum/bbc/agents/3.yaml
  configs/env/mettagrid/curriculum/bbc/agents/defaults.yaml
  configs/env/mettagrid/curriculum/bbc/bbc.yaml
  configs/trainer/trainer.yaml
  configs/user/berekuk.yaml
  configs/user/daveey.yaml
  configs/user/example.yaml
  configs/user/georgedeane.yaml
  configs/user/lars.yaml
  configs/user/rwalters.yaml
  metta/map/mapgen.py
  metta/rl/curriculum/__init__.py
  metta/rl/curriculum/curriculum_client.py
  metta/rl/curriculum/curriculum_server.py
  metta/rl/curriculum/curriculum_state.py
  metta/rl/trainer_config.py
  metta/rl/vecenv.py
  mettagrid/src/metta/mettagrid/curriculum/learning_progress.py
  rl/curriculum/curriculum_client.py
  test_outstanding_timing.py
  tests/rl/test_curriculum.py
  tests/rl/test_trainer_config.py
  tools/train.py
Due: core, mettagrid

another slight optimization. let's use find instead of shell globs.
  experiments/notebooks/utils/heatmap_widget/should_build.sh
Due: core

sort the files, not the md5sum output
  experiments/notebooks/utils/heatmap_widget/should_build.sh
Due: core

Add performance optimization tools and hardware-specific configs
  OPTIMIZATION_GUIDE.md
  configs/common.yaml
  configs/hardware/github.yaml
  configs/hardware/macbook.yaml
  metta/rl/trainer.py
  metta/rl/trainer_config.py
  mettagrid/compiler_flags.cmake
  pyproject.toml
  tools/benchmark.py
  tools/performance_optimizer.py
  turbo.jsonc
Due: core, mettagrid

test
  metta/setup/components/mettascope.py
  metta/setup/components/nodejs.py
  metta/setup/components/observatory_key.py
  metta/setup/components/skypilot.py
  metta/setup/components/system.py
  metta/setup/components/tailscale.py
  metta/setup/local_commands.py
  metta/setup/metta_cli.py
  metta/setup/tools/codeclip/codeclip/cli.py
  metta/setup/tools/codeclip/codeclip/file.py
  metta/setup/tools/codeclip/codeclip/token_profiler.py
Due: core

foo
  metta/setup/components/system.py
  metta/setup/metta_cli.py
Due: core

fix: revert npm-related changes while keeping metta_cli refactoring
  metta/setup/metta_cli.py
Due: core

fix: revert npm/pnpm related changes in nodejs.py and mettascope.py
  metta/setup/components/mettascope.py
  metta/setup/components/nodejs.py
Due: core

pre-commit shoulld lint --fix by default (#1762)
  metta/setup/components/githooks.py
Due: core

just use search_texts. no more training_run_names. it's the same thing.
  experiments/notebooks/heatmap_widget_example.ipynb
  experiments/notebooks/utils/heatmap_widget/heatmap_widget/HeatmapWidget.py
  experiments/notebooks/utils/heatmap_widget/heatmap_widget/util.py
Due: core

cleaned up heatmap_widget example notebook a lil more
  experiments/notebooks/heatmap_widget_example.ipynb
Due: core

work with all the metrics given of course
  experiments/notebooks/heatmap_widget_example.ipynb
  experiments/notebooks/utils/heatmap_widget/heatmap_widget/util.py
Due: core

remove dead code
  .github/actions/asana/pr_gh_to_asana/pr_gh_to_asana.py
  .github/actions/asana/pr_gh_to_asana/pull_request.py
Due: core

file for testing
  a.txt
Due: core

Fix some formatting issues with comments in the GitHub / asana integration (#1730)
  .github/actions/asana/pr_gh_to_asana/pr_gh_to_asana.py
  .github/actions/asana/pr_gh_to_asana/pull_request.py
Due: core

feat(sweep): Implement centralized sweep info database for sweep parallel worker support
  app_backend/src/metta/app_backend/sweep_client.py
  cogweb/cogweb_client.py
  configs/sweep_job.yaml
  devops/sweep.sh
  devops/sweep_rollout.sh
  devops/train.sh
  metta/rl/policy.py
  metta/sweep/wandb_utils.py
  tests/sweep/test_integration_sweep_centralized.py
  tests/sweep/test_sweep_script_integration.py
  tools/sweep_prepare_run.py
  tools/sweep_setup.py
Due: core, app_backend

refactor(sweep): refactor CogwebClient according to comments
  cogweb/cogweb_client.py
  metta/sweep/wandb_utils.py
  tests/sweep/test_integration_sweep_centralized.py
  tools/sweep_prepare_run.py
  tools/sweep_setup.py
Due: core

refactor(sweep): Clairfy config passing in sweep pipeline
  configs/sweep_job.yaml
  metta/sweep/sweep_lifecycle.py
  tests/sweep/test_distributed_sweep_integration.py
  tests/sweep/test_sweep_lifecycle.py
  tests/sweep/test_sweep_pipeline_integration.py
  tests/sweep/test_sweep_rollout.py
  tools/sweep_config_utils.py
Due: core

tests(sweep): refactor tests for new protein architecture
  metta/sweep/sweep_rollout.py
  tests/sweep/test_integration_sweep_pipeline.py
  tests/sweep/test_metta_protein.py
  tests/sweep/test_protein_end_to_end_pipeline.py
  tests/sweep/test_protein_fill_parameter.py
  tests/sweep/test_protein_integration.py
  tests/sweep/test_protein_metta.py
  tests/sweep/test_protein_observation_loading.py
  tests/sweep/test_protein_serialization.py
  tests/sweep/test_protein_wandb.py
  tests/sweep/test_sweep_init.py
  tools/sweep_prepare_run.py
Due: core

refact(sweep): move files around
  devops/sweep_rollout.sh
  metta/sweep/__init__.py
  metta/sweep/lifecycle/sweep_eval.py
  metta/sweep/lifecycle/sweep_prepare_run.py
  metta/sweep/lifecycle/sweep_setup.py
  metta/sweep/sweep_rollout.py
Due: core

test: refactor and fix sweep tests for new architecture
  tests/sweep/test_distributed_sweep_integration.py
  tests/sweep/test_distributed_sweep_orchestration.py
  tests/sweep/test_integration_sweep_pipeline.py
  tests/sweep/test_protein_utils.py
  tests/sweep/test_sweep_config_loading.py
  tests/sweep/test_sweep_init.py
  tests/sweep/test_sweep_lifecycle.py
  tests/sweep/test_sweep_pipeline_integration.py
  tests/sweep/test_sweep_rollout.py
  tests/sweep/test_sweep_script_integration.py
Due: none

Fix sweep_rollout to use run_once appropriately
  metta/sweep/sweep_rollout.py
Due: core
