Repository Metta-AI/metta: changes, and which Codecov flags are due for each by the changed paths.
All: core, app_backend, agent, mettagrid, mettagrid_cpp, common

quieter
  .cspell.json
  tools/train.py
Due: core

try simpler exit
  devops/skypilot/config/lifecycle/cleanup_handler.sh
  devops/skypilot/config/monitors/test_job_restart_monitor.sh
  devops/skypilot/config/sk_train.yaml
  tools/train.py
Due: core

try with set -e
  devops/skypilot/config/sk_train.yaml
  tools/train.py
Due: core

cp
  experiments/arena/arena.py
  mettagrid/src/metta/mettagrid/core.py
  mettagrid/src/metta/mettagrid/mettagrid_config.py
  tools/train.py
Due: core, mettagrid

cp
  metta/cogworks/sweep/sweep_config.py
Due: core

cp
  experiments/arena/arena.py
  metta/cogworks/curriculum/demo.py
  metta/eval/eval_service.py
  metta/rl/evaluate.py
  metta/rl/trainer.py
  metta/rl/trainer_config.py
  metta/sim/simulation.py
  metta/sim/simulation_config.py
  metta/sim/simulation_suite.py
  mettagrid/src/metta/mettagrid/mettagrid_config.py
  tools/play.py
  tools/replay.py
  tools/sim.py
  tools/sweep_eval.py
  tools/train.py
Due: core, mettagrid

init_mettagrid_system_environment is back
  metta/util/init/mettagrid_system.py
  tools/run.py
Due: core

cp
  agent/src/metta/agent/policy_store.py
  app_backend/src/metta/app_backend/clients/stats_client.py
  common/src/metta/common/util/stats_client_cfg.py
  experiments/arena/arena.py
  experiments/user/daveey.py
  metta/core/distributed.py
  metta/rl/system_config.py
  metta/rl/trainer.py
  metta/rl/trainer_config.py
  metta/setup/local_commands.py
  metta/setup/shell.py
  tools/play.py
  tools/replay.py
  tools/request_eval.py
  tools/sim.py
  tools/train.py
  tools/utils.py
Due: core, app_backend, agent, common

convert tools/analyze
  agent/src/metta/agent/policy_store.py
  tools/analyze.py
Due: core, agent

pydantic_metta_script
  metta/util/metta_script.py
  tools/play.py
  tools/replay.py
Due: core

wip
  configs/common.yaml
  configs/train_job.yaml
  configs/user/ci.yaml
  metta/util/init/mettagrid_system.py
  metta/util/metta_script.py
  tools/play.py
  tools/replay.py
  tools/train.py
Due: core

bring back test_metta_script test
  tests/util/fixtures/script.py
  tests/util/test_metta_script.py
Due: core

tools/play.py overrides
  tools/play.py
Due: core

convert tools/renderer
  metta/util/metta_script.py
  tools/renderer.py
Due: core

cp
  .vscode/launch.json
  agent/src/metta/agent/metta_agent.py
  agent/tests/test_metta_agent.py
  arena/daveey-test-run-3/checkpoints/model_0000.pt
  arena/daveey-test-run-3/checkpoints/model_0010.pt
  arena/daveey-test-run-3/checkpoints/model_0020.pt
  devops/train.sh
  experiments/arena/arena.py
  experiments/user/daveey.py
  metta/cogworks/curriculum/demo.py
  metta/map/mapgen.py
  metta/map/terrain_from_numpy.py
  metta/map/utils/show.py
  metta/rl/puffer_policy.py
  metta/rl/trainer_config.py
  mettagrid/demos/demo_train_gym.py
  mettagrid/demos/demo_train_puffer.py
  mettagrid/src/metta/mettagrid/config/__init__.py
  mettagrid/src/metta/mettagrid/config/building.py
  mettagrid/src/metta/mettagrid/config/envs.py
  mettagrid/src/metta/mettagrid/core.py
  mettagrid/src/metta/mettagrid/map_builder/map_builder.py
  mettagrid/src/metta/mettagrid/mettagrid_c_config.py
  mettagrid/src/metta/mettagrid/mettagrid_config.py
  mettagrid/tests/renderer/test_nethack.py
  mettagrid/tests/test_buffer_reuse.py
  mettagrid/tests/test_gym_env.py
  mettagrid/tests/test_interactive.py
  mettagrid/tests/test_movement_metrics.py
  mettagrid/tests/test_new_env_hierarchy.py
  mettagrid/tests/test_no_agent_interference.py
  mettagrid/tests/test_pettingzoo_env.py
  mettagrid/tests/test_wandb_movement_metrics.py
  tests/cogworks/curriculum/test_serialization.py
  tools/analyze.py
  tools/renderer.py
  tools/train.py
  tools/utils.py
Due: core, agent, mettagrid

cp
  metta/rl/evaluate.py
  metta/rl/trainer.py
  metta/sim/simulation.py
  metta/sim/simulation_config.py
  metta/sim/simulation_stats_db.py
  metta/sim/simulation_suite.py
  mettagrid/src/metta/mettagrid/mettagrid_config.py
  tests/eval/test_eval_stats_db.py
  tests/sim/test_simulation_stats_db.py
Due: core, mettagrid

fix rebase
  metta/tools/play.py
Due: core

seed_everything
  common/src/metta/common/util/tool.py
  metta/rl/system_config.py
  metta/tools/play.py
  metta/tools/train.py
  metta/util/metta_script.py
  tools/run.py
Due: core, common

fixes
  metta/tools/play.py
  tools/play.py
  tools/run.py
Due: core

convert stats_duckdb_cli
  tools/stats_duckdb_cli.py
Due: core

sim.py dehydrated (wip)
  tools/analyze.py
Due: core

tools/run.py
  common/src/metta/common/util/tool.py
  experiments/arena/arena.py
  experiments/user/daveey.py
  metta/rl/system_config.py
  metta/tools/play.py
  mettascope/server.py
  tools/replay.py
  tools/run.py
  tools/train.py
Due: core, common

dehydrated nav evals
  .gitignore
  configs/env/mettagrid/mettagrid.yaml
  configs/env/mettagrid/navigation/evals/labyrinth.yaml
  experiments/evals/navigation.py
  experiments/user/berekuk.py
  metta/tools/sim.py
  mettagrid/src/metta/mettagrid/config/envs.py
  mettagrid/src/metta/mettagrid/map_builder/__init__.py
  mettagrid/tests/map_builder/test_polymorphic_serialization.py
Due: core, mettagrid

SimTool is running, SceneCofnig is pydantic
  experiments/evals/run.py
  experiments/evals/suites/navigation.py
  metta/map/load.py
  metta/map/load_random.py
  metta/map/load_random_from_index.py
  metta/map/mapgen.py
  metta/map/mapgen_ascii.py
  metta/map/scene.py
  metta/map/scenes/ascii.py
  metta/map/scenes/auto.py
  metta/map/scenes/mirror.py
  metta/map/scenes/multi_left_and_right.py
  metta/map/scenes/random_objects.py
  metta/map/scenes/random_scene.py
  metta/map/scenes/random_scene_from_dir.py
  metta/map/types.py
  metta/tools/sim.py
  mettagrid/src/metta/mettagrid/config/envs.py
  mettagrid/src/metta/mettagrid/map_builder/__init__.py
  mettagrid/tests/map_builder/test_polymorphic_serialization.py
  tests/map/scenes/test_make_connected.py
  tests/map/scenes/test_remove_agents.py
  tests/map/scenes/test_room_grid.py
  tests/map/scenes/utils.py
  tests/map/test_scene.py
  tools/run.py
Due: core, mettagrid

cp
  .vscode/launch.json
  devops/train.sh
  experiments/user/daveey.py
  metta/core/distributed.py
  metta/rl/trainer.py
  metta/rl/trainer_config.py
  metta/tools/train.py
  tools/run.py
Due: core

evals registry
  app_backend/src/metta/app_backend/eval_task_worker.py
  experiments/evals/registry.py
  experiments/evals/run.py
  experiments/evals/suites/navigation.py
  metta/eval/eval_service.py
  metta/tools/sim.py
Due: core, app_backend

fix empty overrides; port tools/replay and tools/analyze
  experiments/arena/arena.py
  metta/tools/analyze.py
  metta/tools/replay.py
  mettascope/server.py
  tools/analyze.py
  tools/run.py
Due: core

more mapgen refactorings
  experiments/evals/navigation.py
  experiments/evals/run.py
  metta/map/load.py
  metta/map/mapgen.py
  metta/map/scene.py
  metta/map/scenes/ascii.py
  metta/map/scenes/auto.py
  metta/map/scenes/mirror.py
  metta/map/scenes/multi_left_and_right.py
  metta/map/scenes/random_objects.py
  metta/map/scenes/random_scene_from_dir.py
  metta/map/tools/gen.py
  metta/map/tools/gen_scene.py
  metta/map/tools/view.py
  metta/map/utils/make_scene_config.py
  metta/map/utils/show.py
  metta/map/utils/storable_map.py
  mettagrid/src/metta/mettagrid/config/envs.py
  tests/map/scenes/test_make_connected.py
  tests/map/scenes/test_mirror.py
  tests/map/scenes/test_random_scene.py
  tests/map/scenes/test_remove_agents.py
  tests/map/test_scene.py
  tests/map/utils/test_storable_map_io.py
  tools/map/gen.py
  tools/map/gen_scene.py
  tools/map/view.py
  tools/run.py
Due: core, mettagrid

CUDA OOM Fix (#2158)
  metta/rl/vecenv.py
Due: core

wip
  agent/src/metta/agent/policy_store.py
  experiments/user/berekuk.py
  metta/tools/analyze.py
  metta/tools/play.py
  metta/tools/replay.py
  metta/tools/sim.py
  metta/tools/train.py
  tools/sim.py
Due: core, agent

cleanup legacy mapgen-related builders
  configs/env/mettagrid/game/map_builder/load_random.yaml
  docs/mapgen.md
  metta/map/load.py
  metta/map/load_random.py
  metta/map/load_random_from_index.py
  metta/map/tools/view.py
  metta/map/utils/storable_map.py
Due: core

cp
  arena/daveey-test-run-3/checkpoints/model_0000.pt
  arena/daveey-test-run-3/checkpoints/model_0010.pt
  arena/daveey-test-run-3/checkpoints/model_0020.pt
  configs/user/daveey.yaml
  experiments/arena/arena.py
  experiments/user/daveey.py
  metta/map/__init__.py
  metta/map/mapgen.py
  metta/map/terrain_from_numpy.py
  metta/rl/torch_profiler.py
  metta/rl/trainer_config.py
  metta/sim/simulation.py
  metta/tools/train.py
  mettagrid/src/metta/mettagrid/config/envs.py
  mettagrid/src/metta/mettagrid/map_builder/__init__.py
  mettagrid/src/metta/mettagrid/mettagrid_config.py
  mettagrid/src/metta/mettagrid/test_support/__init__.py
  mettagrid/tests/map_builder/test_ascii.py
  mettagrid/tests/map_builder/test_polymorphic_serialization.py
  tests/map/test_mapgen.py
  tools/run.py
Due: core, mettagrid

fix --overrides
  common/src/metta/common/util/config.py
  tools/run.py
Due: core, common

cp
  .cspell.json
  experiments/arena.py
  experiments/arena/__init__.py
  experiments/evals/__init__.py
  experiments/evals/navigation.py
  experiments/navigation.py
  metta/cogworks/curriculum/learning_progress.py
  metta/cogworks/curriculum/task_generator.py
  mettagrid/src/metta/mettagrid/config/envs.py
Due: core, mettagrid

map reconstruction test fixed, env hierarchy test wall and agent config
  mettagrid/tests/test_env_config_serialization.py
  mettagrid/tests/test_new_env_hierarchy.py
Due: none

revert to agent groups
  mettagrid/tests/test_interactive.py
  mettagrid/tests/test_new_env_hierarchy.py
  mettagrid/tests/test_pettingzoo_env.py
Due: none

streamline test_observations.py
  mettagrid/tests/test_observations.py
Due: none

minor cleanups
  metta/eval/analysis_config.py
  metta/map/scene.py
  metta/tools/analyze.py
  metta/tools/play.py
  metta/tools/sim.py
  metta/tools/train.py
Due: core

fix ruff issues, replaced TestEnvironmentBuilder with EnvConfig pattern, fixed property access
  mettagrid/tests/test_8way_movement.py
Due: none

Path conditions:
  core: any file but: app_backend/, agent/, mettagrid/, common/, **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  app_backend: any of: app_backend/, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  agent: any of: agent/, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  mettagrid: any of: mettagrid/, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  mettagrid_cpp: any of: **/*.cpp, **/*.cc, **/*.cxx, **/*.c++, **/*.h, **/*.hpp, **/*.hh, **/*.hxx, **/*.h++, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  common: any of: common/, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
