Repository Metta-AI/metta: changes, and which Codecov flags are due for each by the changed paths.
All: core, app_backend, agent, mettagrid, mettagrid_cpp, common

codecov.yml:

# Codecov configuration for Metta-AI
# Documentation: https://docs.codecov.com/docs/codecov-yaml

# Wait for all CI jobs to complete before posting results
codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

# Coverage settings
coverage:
  # Round coverage to 2 decimal places
  precision: 2
  round: down

  # Status checks configuration
  status:
    # Project-wide coverage
    project:
      default:
        target: auto # Compare against base branch
        threshold: 1% # Allow 1% coverage drop
        base: auto
        informational: true # Won't fail PR, just inform

    # Coverage for changed lines only - this is your main gate
    patch:
      default:
        target: 50% # Minimum 50% coverage on new code
        threshold: 0% # No tolerance below 50%
        base: auto
        if_ci_failed: success # Don't fail if CI fails
        if_not_found: success # Don't fail if no coverage data

      # Additional informational patch check
      informational:
        target: 80% # Ideal target
        threshold: 0%
        informational: true # Won't fail, just shows as warning

# Pull request comment configuration
comment:
  layout: "header, diff, flags, components, files"
  behavior: default
  require_changes: false # Post comment even if no coverage change
  require_base: false # Don't require base coverage
  require_head: true # Must have head coverage to post
  hide_project_coverage: false # Show overall project coverage

# Flag configuration for different test suites
flags:
  core:
    paths:
      - "!app_backend/"
      - "!agent/"
      - "!mettagrid/"
      - "!common/"
    carryforward: true

  app_backend:
    paths:
      - app_backend/
    carryforward: true

  agent:
    paths:
      - agent/
    carryforward: true

  mettagrid:
    paths:
      - mettagrid/
    carryforward: true

  mettagrid_cpp:
    paths:
      - "**/*.cpp"
      - "**/*.cc"
      - "**/*.cxx"
      - "**/*.c++"
      - "**/*.h"
      - "**/*.hpp"
      - "**/*.hh"
      - "**/*.hxx"
      - "**/*.h++"
    carryforward: true

  common:
    paths:
      - common/
    carryforward: true

# Ignore certain paths from coverage
ignore:
  - "**/tests/"
  - "**/test_*.py"
  - "**/*_test.py"
  - "**/conftest.py"
  - "setup.py"
  - "**/migrations/"
  - "**/__pycache__/"
  - "**/node_modules/"
  - "**/*.pb.py" # Generated protobuf files
  - "**/*.pyi" # Type stub files
  - "**/fixtures/"
  - "**/mocks/"
  - "**/build/" # C++ build directories
  - "**/cmake-build-*/" # CLion/CMake build directories
  - "**/CMakeFiles/" # CMake generated files
  - "**/*.o" # Object files
  - "**/*.a" # Static libraries
  - "**/*.so" # Shared libraries
  - "**/*.dylib" # macOS dynamic libraries
  - "**/*.dll" # Windows dynamic libraries

# GitHub integration settings
github_checks:
  annotations: true # Show coverage annotations in PR files view

cp
  agent/src/metta/agent/policy_store.py
  common/src/metta/common/wandb/wandb_context.py
  common/tests/wandb/test_wandb_context.py
  experiments/arena.py
  experiments/evals/navigation.py
  experiments/evals/run.py
  experiments/navigation.py
  experiments/user/daveey.py
  metta/map/mapgen.py
  metta/map/utils/show.py
  metta/rl/trainer_config.py
  metta/tools/analyze.py
  metta/tools/play.py
  metta/tools/replay.py
  metta/tools/sim.py
  softmax/softmax.py
  tests/tools/test_renderer_job.py
  tools/train.py
Due: core, agent, common

Enforce that if a stats_server_uri is provided, we can connect to it
  app_backend/src/metta/app_backend/clients/base_client.py
  app_backend/src/metta/app_backend/clients/stats_client.py
  cogweb/cogweb_client.py
  metta/setup/components/observatory_key.py
  metta/setup/local_commands.py
  metta/setup/tools/local/kind.py
  metta/tools/train.py
  observatory/launch.py
  tools/request_eval.py
Due: core, app_backend

cp
  experiments/evals/navigation.py
  metta/map/mapgen.py
  metta/rl/trainer_config.py
  mettagrid/tests/test_observations.py
Due: core

Update evaluate_policy to handle multiple simulations, much like how SimulationSuite.simulate used to
  common/src/metta/common/util/collections.py
  metta/eval/eval_service.py
  metta/sim/simulation.py
Due: core, common

user experiments file
  experiments/user/berekuk.py
  experiments/user/example.py
  metta/setup/components/experiments.py
  metta/setup/profiles.py
Due: core

add templating
  experiments/user/example.py
  metta/setup/components/experiments.py
Due: core

auto configs for wandb
  common/src/metta/common/wandb/wandb_context.py
  metta/setup/components/observatory_key.py
  metta/setup/components/wandb.py
  metta/setup/shell.py
  metta/tools/analyze.py
  metta/tools/play.py
  metta/tools/replay.py
  metta/tools/sim.py
  metta/tools/utils/__init__.py
  metta/tools/utils/auto_config.py
  tools/train.py
Due: core, common

fix: marking training run as failed on exception
  metta/rl/trainer.py
Due: core

Update metta setup README
  metta/setup/README.md
  metta/setup/components/base.py
  metta/setup/components/skypilot.py
  metta/setup/metta_cli.py
  metta/setup/saved_settings.py
Due: core

update uv.lock
  uv.lock
Due: core

MapBuilder.Config fixes & tests
  mettagrid/benchmarks/test_mettagrid_env_benchmark.py
  mettagrid/src/metta/mettagrid/map_builder/ascii.py
  mettagrid/src/metta/mettagrid/map_builder/map_builder.py
  mettagrid/tests/map_builder/test_ascii.py
  mettagrid/tests/map_builder/test_map_builder.py
  mettagrid/tests/map_builder/test_maze.py
  mettagrid/tests/map_builder/test_polymorphic_serialization.py
  mettagrid/tests/map_builder/test_random.py
  mettagrid/tests/renderer/test_nethack.py
  mettagrid/tests/test_8way_movement.py
  mettagrid/tests/test_cardinal_movement.py
  mettagrid/tests/test_env_config_serialization.py
  mettagrid/tests/test_gym_env.py
  mettagrid/tests/test_interactive.py
  mettagrid/tests/test_mettagrid.py
  mettagrid/tests/test_new_env_hierarchy.py
  mettagrid/tests/test_no_agent_interference.py
  mettagrid/tests/test_observations.py
  mettagrid/tests/test_pettingzoo_env.py
  mettagrid/tests/test_visitation_counts.py
  mettagrid/tests/test_wandb_movement_metrics.py
  tests/map/scenes/test_maze.py
  tests/map/utils/test_storable_map_io.py
Due: mettagrid

cp
  app_backend/src/metta/app_backend/clients/stats_client.py
  common/src/metta/common/config/__init__.py
  experiments/arena.py
  experiments/evals/run.py
  metta/map/tools/dcss_import.py
  metta/map/tools/gen.py
  metta/map/tools/gen_scene.py
  metta/map/tools/view.py
  metta/rl/hyperparameter_scheduler.py
  metta/rl/trainer_config.py
  metta/rl/vecenv.py
  metta/tools/analyze.py
  metta/tools/play.py
  metta/tools/replay.py
  metta/tools/sim.py
  metta/tools/train.py
  mettagrid/src/metta/mettagrid/util/hydra.py
  softmax/softmax.py
  tests/rl/test_hyperparameter_scheduler.py
  tools/run.py
  tools/sweep_setup.py
  tools/train.py
Due: core, app_backend, mettagrid, common

terrain_from_numpy fix
  metta/map/terrain_from_numpy.py
  mettagrid/src/metta/mettagrid/map_builder/map_builder.py
Due: core, mettagrid

heartbeat
  recipes/operantconditioning_incontext.sh
Due: core

merge fixes
  agent/src/metta/agent/component_policy.py
  devops/skypilot/config/skypilot_run.sh
Due: core, agent

fix log
  devops/skypilot/config/skypilot_run.sh
Due: core

updated the mcp server to use @mcp.resource decorator functions and proper pydantic models all around.
  app_backend/src/metta/app_backend/routes/scorecard_routes.py
  mcp_server/src/metta/mcp_server/base_models.py
  mcp_server/src/metta/mcp_server/cloud_models.py
  mcp_server/src/metta/mcp_server/ml_models.py
  mcp_server/src/metta/mcp_server/server.py
  mcp_server/src/metta/mcp_server/task_models.py
  mcp_server/src/metta/mcp_server/tests/conftest.py
  mcp_server/src/metta/mcp_server/tests/test_training_utils.py
  mcp_server/src/metta/mcp_server/tests/test_wandb_integration.py
  mcp_server/src/metta/mcp_server/training_utils.py
  mcp_server/src/metta/mcp_server/wandb_integration.py
Due: core, app_backend

fix naming
  mcp_server/src/metta/mcp_server/server.py
Due: core

feat: add simple standalone training setup in dominiks_training/
  dominiks_training/agent.py
  dominiks_training/config.ini
  dominiks_training/env_config.py
  dominiks_training/final_model.pt
  dominiks_training/train.py
Due: core

Add all *.pt checkpoints to gitignore
  .gitignore
Due: core

refactor: upgrade to actor-critic architecture with simplified agent.py
  dominiks_training/agent.py
  dominiks_training/final_model.pt
  dominiks_training/train.py
Due: core

Delete file that should never have been commited
  dominiks_training/final_model.pt
Due: core

oops i need this
  mcp_server/src/metta/mcp_server/database_models.py
Due: core

Add type hints
  dominiks_training/train.py
Due: core

feat: implement GAE (Generalized Advantage Estimation) for improved learning
  dominiks_training/config.ini
  dominiks_training/train.py
Due: core

dominiks_training: auto-select CUDA if available; remove device from config and log device
  dominiks_training/config.ini
  dominiks_training/train.py
Due: core

feat: add wandb integration to standalone training system
  dominiks_training/config.ini
  dominiks_training/train.py
Due: core

train: cast NumPy means to float and accept float episode_length in wandb logging to fix type error
  dominiks_training/train.py
Due: core

Update gitignore
  .gitignore
Due: core

tools/sim.py should emit all replay urls
  agent/src/metta/agent/component_policy.py
  devops/skypilot/README.md
  devops/skypilot/config/skypilot_run.sh
  experiments/evals/navigation.py
  metta/rl/trainer.py
  metta/tools/sim.py
Due: core, agent

feat: implement PufferLib vectorization with smart backend selection
  dominiks_training/config.ini
  dominiks_training/train.py
Due: core

fix: resolve type annotation issues in vectorized training
  dominiks_training/train.py
Due: core

update files
  agent/src/metta/agent/component_policy.py
  devops/skypilot/config/skypilot_run.sh
Due: core, agent

fix: revert to config-based vectorization selection
  dominiks_training/config.ini
  dominiks_training/train.py
Due: core

fix: correct checkpoint interval logic
  dominiks_training/train.py
Due: core

fix: improve checkpoint logic and add debug information
  dominiks_training/train.py
Due: core

feat: redesign logging and checkpointing system
  dominiks_training/config.ini
  dominiks_training/train.py
Due: core

tools/sim.py should emit all replay urls
  agent/src/metta/agent/component_policy.py
  devops/skypilot/README.md
  devops/skypilot/config/skypilot_run.sh
  experiments/evals/navigation.py
  metta/rl/trainer.py
  metta/sweep/sweep_lifecycle.py
  metta/tools/sim.py
  tests/tools/test_opportunistic_policy.py
  tests/tools/test_policy_selection.py
  tests/tools/test_renderer_job.py
  tools/renderer.py
Due: core, agent
