Repository Metta-AI/metta: changes, and which Codecov flags are due for each by the changed paths.
All: core, app_backend, agent, mettagrid, mettagrid_cpp, common

codecov.yml:

# Codecov configuration for Metta-AI
# Documentation: https://docs.codecov.com/docs/codecov-yaml

# Wait for all CI jobs to complete before posting results
codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

# Coverage settings
coverage:
  # Round coverage to 2 decimal places
  precision: 2
  round: down

  # Status checks configuration
  status:
    # Project-wide coverage
    project:
      default:
        target: auto # Compare against base branch
        threshold: 1% # Allow 1% coverage drop
        base: auto
        informational: true # Won't fail PR, just inform

    # Coverage for changed lines only - this is your main gate
    patch:
      default:
        target: 50% # Minimum 50% coverage on new code
        threshold: 0% # No tolerance below 50%
        base: auto
        if_ci_failed: success # Don't fail if CI fails
        if_not_found: success # Don't fail if no coverage data

      # Additional informational patch check
      informational:
        target: 80% # Ideal target
        threshold: 0%
        informational: true # Won't fail, just shows as warning

# Pull request comment configuration
comment:
  layout: "header, diff, flags, components, files"
  behavior: default
  require_changes: false # Post comment even if no coverage change
  require_base: false # Don't require base coverage
  require_head: true # Must have head coverage to post
  hide_project_coverage: false # Show overall project coverage

# Flag configuration for different test suites
flags:
  core:
    paths:
      - "!app_backend/"
      - "!agent/"
      - "!mettagrid/"
      - "!common/"
    carryforward: true

  app_backend:
    paths:
      - app_backend/
    carryforward: true

  agent:
    paths:
      - agent/
    carryforward: true

  mettagrid:
    paths:
      - mettagrid/
    carryforward: true

  mettagrid_cpp:
    paths:
      - "**/*.cpp"
      - "**/*.cc"
      - "**/*.cxx"
      - "**/*.c++"
      - "**/*.h"
      - "**/*.hpp"
      - "**/*.hh"
      - "**/*.hxx"
      - "**/*.h++"
    carryforward: true

  common:
    paths:
      - common/
    carryforward: true

# Ignore certain paths from coverage
ignore:
  - "**/tests/"
  - "**/test_*.py"
  - "**/*_test.py"
  - "**/conftest.py"
  - "setup.py"
  - "**/migrations/"
  - "**/__pycache__/"
  - "**/node_modules/"
  - "**/*.pb.py" # Generated protobuf files
  - "**/*.pyi" # Type stub files
  - "**/fixtures/"
  - "**/mocks/"
  - "**/build/" # C++ build directories
  - "**/cmake-build-*/" # CLion/CMake build directories
  - "**/CMakeFiles/" # CMake generated files
  - "**/*.o" # Object files
  - "**/*.a" # Static libraries
  - "**/*.so" # Shared libraries
  - "**/*.dylib" # macOS dynamic libraries
  - "**/*.dll" # Windows dynamic libraries

# GitHub integration settings
github_checks:
  annotations: true # Show coverage annotations in PR files view

and maybe fix redirect behavior
  home/generate-nginx-redirects.js
Due: core

and update target url string interpolation logic
  home/generate-nginx-redirects.js
Due: core

Add more home shortlinks (#2465)
  home/generate-nginx-redirects.js
  home/links.yaml
Due: core

logs
  .github/actions/setup-uv/action.yml
Due: core

oops
  .github/actions/setup-uv/action.yml
Due: core

break cache
  .github/actions/setup-uv/action.yml
Due: core

fix tests
  common/src/metta/common/util/retry.py
  common/tests/wandb/test_wandb_context.py
Due: common

npc policy fix
  agent/src/metta/agent/mocks/mock_policy_record.py
  agent/src/metta/agent/mocks/random_agent.py
  agent/src/metta/agent/policy_store.py
  experiments/recipes/arena_trader_experiment.py
  metta/sim/simulation.py
  metta/sim/trader_npc_policy.py
  run_trader_experiment.py
Due: core, agent

restore retry
  common/src/metta/common/util/retry.py
  common/tests/profiling/test_system_monitor.py
Due: common

fix: home.softmax-research.net string
  home/generate-nginx-redirects.js
Due: core

fix test
  common/tests/profiling/test_system_monitor.py
  common/tests/util/test_retry.py
Due: none

all use custom uv action
  .github/actions/asana/pr_description_asana_to_gh/action.yml
  .github/actions/asana/pr_description_asana_to_gh/dependencies.txt
  .github/actions/asana/pr_gh_to_asana/action.yml
  .github/actions/asana/pr_gh_to_asana/dependencies.txt
  .github/actions/combine-all-benchmarks/action.yml
  .github/actions/combine-all-benchmarks/dependencies.txt
  .github/actions/discord-webhook/action.yml
  .github/actions/discord-webhook/dependencies.txt
  .github/actions/fetch-artifacts/action.yml
  .github/actions/fetch-artifacts/dependencies.txt
  .github/actions/file-changes/action.yml
  .github/actions/file-changes/dependencies.txt
  .github/actions/pr-assignment/action.yml
  .github/actions/pr-digest/action.yml
  .github/actions/pr-digest/dependencies.txt
  .github/actions/save-benchmarks/action.yml
  .github/actions/save-benchmarks/dependencies.txt
  .github/actions/setup-uv/action.yml
  .github/workflows/analyze-pr.yml
  .github/workflows/checks.yml
  .github/workflows/claude-review-base.yml
  .github/workflows/claude-review-orchestrator.yml
  .github/workflows/generate-author-report.yml
  .github/workflows/generate-newsletter.yml
Due: core

simpler hooks
  metta/rl/hooks/__init__.py
  metta/rl/hooks/base.py
  metta/rl/trainer.py
  tests/rl/hooks/__init__.py
  tests/rl/hooks/test_base.py
Due: core

add back methods
  metta/sim/simulation.py
Due: core

fix: home.softmax-research.net string (#2467)
  home/generate-nginx-redirects.js
Due: core

testing
  .github/actions/setup-uv/action.yml
Due: core

reduce diff
  devops/skypilot/README.md
  experiments/recipes/navigation/__init__.py
  experiments/recipes/navigation/train.py
  metta/cogworks/curriculum/curriculum_env.py
  metta/cogworks/curriculum/learning_progress_algorithm.py
  run_navigation_training.sh
  run_navigation_training_skypilot.sh
  tests/cogworks/curriculum/test_curriculum_env.py
  tests/tools/test_new_policy_system.py
Due: core

fix warnings
  common/src/metta/common/wandb/wandb_context.py
  common/tests/wandb/test_wandb_context.py
  devops/wandb/wandb_ttl.py
  metta/rl/wandb.py
Due: core, common

better globs
  .github/actions/asana/pr_description_asana_to_gh/action.yml
  .github/actions/discord-webhook/action.yml
  .github/actions/pr-digest/action.yml
  .github/actions/setup-uv/action.yml
  .github/workflows/setup-tests.yml
Due: core

Cache based on version number (determined at build time). make redirects that use username vary with auth header
  home/generate-nginx-redirects.js
  home/nginx.conf.template
Due: core

home update: cache redirects based on build-version (#2468)
  home/generate-nginx-redirects.js
  home/nginx.conf.template
Due: core

that should fix it
  .github/actions/setup-uv/action.yml
  metta/setup/components/system.py
Due: core

make sure that npc is just commented out
  metta/sim/simulation.py
Due: core

mettscope orientation hotfix
  metta/sim/simulation.py
  mettascope/src/actions.ts
Due: core

deploy mettascope2 with github pages
  .github/workflows/deploy-mettascope.yml
Due: core

reduce diff: tests consolidation
  tests/cogworks/curriculum/test_curriculum_algorithms.py
  tests/cogworks/curriculum/test_curriculum_core.py
  tests/cogworks/curriculum/test_helpers.py
Due: none

readd init
  experiments/recipes/navigation.py
  metta/map/__init__.py
  metta/map/random/__init__.py
  metta/map/scenes/__init__.py
  metta/map/utils/__init__.py
Due: core

ms patch
  metta/sim/simulation.py
  mettascope/src/actions.ts
  mettascope/src/replay.ts
Due: core

terrain from numpy fix
  experiments/recipes/navigation.py
  experiments/users/alex.py
  metta/map/__init__.py
  metta/map/random/__init__.py
  metta/map/scenes/__init__.py
  metta/map/utils/__init__.py
  mettagrid/src/metta/mettagrid/map_builder/terrain_from_numpy.py
Due: core, mettagrid

reorg
  devops/skypilot/connect.py
  devops/skypilot/launch.py
  devops/skypilot/launch/__init__.py
  devops/skypilot/launch/sandbox.py
  devops/skypilot/launch/sandbox.yaml
  devops/skypilot/launch/skypilot_run.py
  devops/skypilot/launch/skypilot_run.yaml
  devops/skypilot/src/__init__.py
  devops/skypilot/tests/utils/test_job_latency.py
  devops/skypilot/utils/__init__.py
  devops/skypilot/utils/configure_environment.py
  devops/skypilot/utils/configure_jobs_controller.py
  devops/skypilot/utils/cost_monitor.py
  devops/skypilot/utils/job_helpers.py
  devops/skypilot/utils/job_latency.py
  devops/skypilot/utils/nccl_tests.py
  devops/skypilot/utils/runtime_monitors.py
Due: core

no replay console log
  mettascope/src/replay.ts
Due: core

reduce diff
  experiments/recipes/navigation.py
  metta/map/__init__.py
  metta/map/random/__init__.py
  metta/map/scenes/__init__.py
  metta/map/terrain_from_numpy.py
  metta/map/utils/__init__.py
Due: core

disabling rotate
  mettagrid/src/metta/mettagrid/config/envs.py
  mettagrid/src/metta/mettagrid/mettagrid_config.py
Due: mettagrid

no more users alex
  experiments/users/alex.py
Due: core

fix paths
  devops/README.md
  devops/skypilot/README.md
  devops/skypilot/files/controller.crontab
  devops/skypilot/launch.py
  devops/skypilot/launch/sandbox.yaml
  devops/skypilot/launch/skypilot_run.py
  devops/skypilot/launch/skypilot_run.yaml
  devops/skypilot/utils/configure_jobs_controller.py
  devops/skypilot/utils/job_helpers.py
Due: core

Apply suggestion from @graphite-app[bot]
  .github/actions/setup-uv/action.yml
Due: core

restore dense logging
  metta/cogworks/curriculum/learning_progress_algorithm.py
Due: core

actions fix?
  mettascope/src/actions.ts
Due: core

keep alex
  experiments/users/alex.py
Due: core
