Repository Metta-AI/metta: changes, and which Codecov flags are due for each by the changed paths.
All: core, app_backend, agent, mettagrid, mettagrid_cpp, common

codecov.yml:

# Codecov configuration for Metta-AI
# Documentation: https://docs.codecov.com/docs/codecov-yaml

# Wait for all CI jobs to complete before posting results
codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

# Coverage settings
coverage:
  # Round coverage to 2 decimal places
  precision: 2
  round: down

  # Status checks configuration
  status:
    # Project-wide coverage
    project:
      default:
        target: auto # Compare against base branch
        threshold: 1% # Allow 1% coverage drop
        base: auto
        informational: true # Won't fail PR, just inform

    # Coverage for changed lines only - this is your main gate
    patch:
      default:
        target: 50% # Minimum 50% coverage on new code
        threshold: 0% # No tolerance below 50%
        base: auto
        if_ci_failed: success # Don't fail if CI fails
        if_not_found: success # Don't fail if no coverage data

      # Additional informational patch check
      informational:
        target: 80% # Ideal target
        threshold: 0%
        informational: true # Won't fail, just shows as warning

# Pull request comment configuration
comment:
  layout: "header, diff, flags, components, files"
  behavior: default
  require_changes: false # Post comment even if no coverage change
  require_base: false # Don't require base coverage
  require_head: true # Must have head coverage to post
  hide_project_coverage: false # Show overall project coverage

# Flag configuration for different test suites
flags:
  core:
    paths:
      - "!app_backend/"
      - "!agent/"
      - "!mettagrid/"
      - "!common/"
    carryforward: true

  app_backend:
    paths:
      - app_backend/
    carryforward: true

  agent:
    paths:
      - agent/
    carryforward: true

  mettagrid:
    paths:
      - mettagrid/
    carryforward: true

  mettagrid_cpp:
    paths:
      - "**/*.cpp"
      - "**/*.cc"
      - "**/*.cxx"
      - "**/*.c++"
      - "**/*.h"
      - "**/*.hpp"
      - "**/*.hh"
      - "**/*.hxx"
      - "**/*.h++"
    carryforward: true

  common:
    paths:
      - common/
    carryforward: true

# Ignore certain paths from coverage
ignore:
  - "**/tests/"
  - "**/test_*.py"
  - "**/*_test.py"
  - "**/conftest.py"
  - "setup.py"
  - "**/migrations/"
  - "**/__pycache__/"
  - "**/node_modules/"
  - "**/*.pb.py" # Generated protobuf files
  - "**/*.pyi" # Type stub files
  - "**/fixtures/"
  - "**/mocks/"
  - "**/build/" # C++ build directories
  - "**/cmake-build-*/" # CLion/CMake build directories
  - "**/CMakeFiles/" # CMake generated files
  - "**/*.o" # Object files
  - "**/*.a" # Static libraries
  - "**/*.so" # Shared libraries
  - "**/*.dylib" # macOS dynamic libraries
  - "**/*.dll" # Windows dynamic libraries

# GitHub integration settings
github_checks:
  annotations: true # Show coverage annotations in PR files view

Add summary "Tests" job to satisfy branch protection rule
  .github/workflows/checks.yml
Due: core

Update upload_codecov.py
  .github/scripts/upload_codecov.py
Due: core

lint
  .github/scripts/upload_codecov.py
Due: core

make test self-contained
  app_backend/tests/test_saved_dashboards.py
Due: none

bash
  recipes/agent_pressure.sh
Due: core

revert trainer.py and simulation.py to main
  metta/rl/trainer.py
  metta/sim/simulation.py
Due: core

add in additional deps
  .github/actions/setup-uv/action.yml
Due: core

install gcovr ahead of time
  .github/actions/setup-uv/action.yml
Due: core

add readme for demos
  mettagrid/demos/README.md
Due: mettagrid

Make example notebook slightly more interesting
  notebooks/research/example.ipynb
Due: core

remove emulated=False artifact
  mettagrid/src/metta/mettagrid/core.py
  mettagrid/src/metta/mettagrid/pettingzoo_env.py
Due: mettagrid

feat: System Implementation for RL adapters (Gymnasium, PettingZoo, PufferLib) (#1552)
  .github/workflows/test-demo-environments.yml
  mettagrid/README.md
  mettagrid/demos/README.md
  mettagrid/demos/demo_train_gym.py
  mettagrid/demos/demo_train_pettingzoo.py
  mettagrid/demos/demo_train_puffer.py
  mettagrid/src/metta/mettagrid/__init__.py
  mettagrid/src/metta/mettagrid/base_env.py
  mettagrid/src/metta/mettagrid/pettingzoo_env.py
  mettagrid/tests/test_interactive.py
  mettagrid/tests/test_pettingzoo_env.py
Due: core, mettagrid

Dont try to connect renderer tests to s3 and give them a bit more time since they are frequently timing out
  tests/tools/test_renderer_job.py
Due: none

Move last reference to private resource out of trainer config
  metta/rl/trainer_config.py
Due: core

more time
  tests/tools/test_renderer_job.py
Due: none

fix test
  tests/rl/test_trainer_config.py
Due: none

go back to PYTEST_WORKERS=auto
  .github/workflows/checks.yml
Due: core

build mettagrid c++ for core
  .github/workflows/checks.yml
Due: core

take up pytest worker parallelism and time back to 15 for core tests
  .github/workflows/checks.yml
Due: core

fix setup-uv desc
  .github/actions/setup-uv/action.yml
Due: core

fix: max reward calculation in Agent::_update_resource_reward (#1602)
  mettagrid/src/metta/mettagrid/objects/agent.hpp
  mettagrid/tests/test_mettagrid.cpp
Due: mettagrid, mettagrid_cpp

decode stdout and stderr before dumping
  tests/tools/test_renderer_job.py
Due: none

add timeout var
  tests/tools/test_renderer_job.py
Due: none

increase timeout
  tests/tools/test_renderer_job.py
Due: none

try without build
  .github/workflows/checks.yml
Due: core

longer test
  tests/tools/test_renderer_job.py
Due: none

detect CI
  tests/tools/test_renderer_job.py
Due: none

300s
  tests/tools/test_renderer_job.py
Due: none

split out setup
  .github/workflows/checks.yml
Due: core

lint
  .github/actions/asana/ensure-task/action.yml
  .github/actions/fetch-artifacts/action.yml
  .github/workflows/asana-integration.yml
  .github/workflows/auto-tag-researcher-current.yml
  .github/workflows/checks.yml
  .github/workflows/claude-review-base.yml
  .github/workflows/claude-review-orchestrator.yml
  .github/workflows/generate-newsletter.yml
  .github/workflows/stale.yml
  .github/workflows/test-demo-environments.yml
  .github/workflows/test-fetch-artifacts.yml
  app_backend/src/metta/app_backend/docker-compose.yml
  tests/tools/map/maze.yaml
Due: core, app_backend

simplify needs
  .github/workflows/checks.yml
Due: core

don't add extra checkout
  .github/workflows/checks.yml
Due: core

matrix needs separate install
  .github/workflows/checks.yml
Due: core

wip
  .github/workflows/checks.yml
Due: core
