Repository Metta-AI/metta: changes, and which Codecov flags are due for each by the changed paths.
All: core, app_backend, agent, mettagrid, mettagrid_cpp, common

sweep
  tools/ct_seed_sweep.py
Due: core

made general recipes
  recipes/colortree_binary_mixed_suite.sh
  recipes/colortree_ternary_fixed_bptt_sweep.sh
  recipes/colortree_ternary_random_bptt_sweep.sh
Due: core

lp curriculum
  recipes/dual_policy_cloud.sh
Due: core

update pyproject.toml and uv.lock away from puffer fork
  agent/pyproject.toml
  mettagrid/pyproject.toml
  pyproject.toml
  resources
  uv.lock
Due: core, agent, mettagrid

Delete resources
  resources
Due: core

lp 1 gpu 1 node
  recipes/dual_policy_cloud.sh
Due: core

clearer writing
  mettagrid/src/metta/mettagrid/mettagrid_env.py
Due: mettagrid

basic
  mettagrid/src/metta/mettagrid/mettagrid_env.py
Due: mettagrid

space
  mettagrid/src/metta/mettagrid/mettagrid_env.py
Due: mettagrid

fix altar
  configs/env/mettagrid/game/objects/in_context_learning.yaml
Due: core

debug
  devops/skypilot/config/sk_train.yaml
Due: core

post to test channel for now
  .github/workflows/sky-train.yml
Due: core

fix ruff errors
  mettagrid/src/metta/mettagrid/mettagrid_env.py
Due: mettagrid

basic easy shaped sky run
  recipes/dual_policy_cloud.sh
Due: core

more graceful shutdown
  devops/skypilot/config/sk_train.yaml
Due: core

feat: report skypilot status to discord channel (#2081)
  .github/actions/discord-webhook/discord_webhook.py
  .github/actions/launch-skypilot-job/action.yml
  .github/workflows/generate-newsletter.yml
  .github/workflows/sky-train.yml
  common/src/metta/common/util/discord.py
  devops/skypilot/config/sk_train.yaml
  devops/skypilot/launch.py
Due: core, common

debug skypilot fails on curricula with diverse levels (#2070)
  mettagrid/src/metta/mettagrid/mettagrid_env.py
Due: mettagrid

merge
  devops/skypilot/config/sk_train.yaml
Due: core

add null policy test
  .github/workflows/test-mettascope.yml
Due: core

fix yaml syntax
  devops/skypilot/config/sk_train.yaml
Due: core

add ipc dir
  devops/skypilot/config/sk_train.yaml
Due: core

hotfix: repair sk_train yaml (#2091)
  devops/skypilot/config/sk_train.yaml
Due: core

sandbox test multi node
  recipes/dual_policy_cloud.sh
Due: core

local.sh with multiple nodes
  recipes/dual_policy_local.sh
Due: core

Lint
  agent/src/metta/agent/component_policy.py
  agent/src/metta/agent/lib/lstm.py
  agent/src/metta/agent/metta_agent.py
  metta/rl/experience.py
Due: core, agent

Revert "MettaAgent either creates a ComponentPolicy or just a torch.nn.Module as a policy (#2064)"
  agent/src/metta/agent/component_policy.py
  agent/src/metta/agent/external/__init__.py
  agent/src/metta/agent/external/example.py
  agent/src/metta/agent/external/lstm_transformer.py
  agent/src/metta/agent/external/models/encoders.py
  agent/src/metta/agent/external/models/tokenizers.py
  agent/src/metta/agent/metta_agent.py
  agent/src/metta/agent/mocks/mock_agent.py
  agent/src/metta/agent/policy_record.py
  agent/src/metta/agent/pytorch/agent_mapper.py
  agent/src/metta/agent/pytorch/example.py
  agent/src/metta/agent/pytorch/fast.py
  agent/src/metta/agent/pytorch/latent_attn_med.py
  agent/src/metta/agent/pytorch/latent_attn_small.py
  agent/src/metta/agent/pytorch/latent_attn_tiny.py
  agent/tests/test_feature_remapping.py
  agent/tests/test_metta_agent.py
  agent/tests/test_vanilla_policy.py
  metta/rl/checkpoint_manager.py
  metta/rl/puffer_policy.py
Due: core, agent

Revert "MettaAgent either creates a ComponentPolicy or just a torch.n… (#2093)
  agent/src/metta/agent/component_policy.py
  agent/src/metta/agent/external/__init__.py
  agent/src/metta/agent/external/example.py
  agent/src/metta/agent/external/lstm_transformer.py
  agent/src/metta/agent/external/models/encoders.py
  agent/src/metta/agent/external/models/tokenizers.py
  agent/src/metta/agent/metta_agent.py
  agent/src/metta/agent/mocks/mock_agent.py
  agent/src/metta/agent/policy_record.py
  agent/src/metta/agent/pytorch/agent_mapper.py
  agent/src/metta/agent/pytorch/example.py
  agent/src/metta/agent/pytorch/fast.py
  agent/src/metta/agent/pytorch/latent_attn_med.py
  agent/src/metta/agent/pytorch/latent_attn_small.py
  agent/src/metta/agent/pytorch/latent_attn_tiny.py
  agent/tests/test_feature_remapping.py
  agent/tests/test_metta_agent.py
  agent/tests/test_vanilla_policy.py
  metta/rl/checkpoint_manager.py
  metta/rl/puffer_policy.py
Due: core, agent

preparing to train teacher - needed to add on_eval_start to metta_layer
  agent/src/metta/agent/lib/metta_layer.py
  configs/user/alex.yaml
  metta/rl/trainer.py
Due: core, agent

still prepping for teacher training. Left a print line in.
  configs/user/alex.yaml
  metta/rl/trainer.py
Due: core

check for infinite recursion
  agent/src/metta/agent/metta_agent.py
Due: agent

minimal ddp hotfix
  metta/rl/checkpoint_manager.py
Due: core

actual fix
  metta/rl/checkpoint_manager.py
Due: core

hotfix: DDP broken when reloading multi-GPU checkpoints (#2095)
  metta/rl/checkpoint_manager.py
Due: core

Path conditions:
  core: any file but: app_backend/, agent/, mettagrid/, common/, **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  app_backend: any of: app_backend/, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  agent: any of: agent/, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  mettagrid: any of: mettagrid/, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  mettagrid_cpp: any of: **/*.cpp, **/*.cc, **/*.cxx, **/*.c++, **/*.h, **/*.hpp, **/*.hh, **/*.hxx, **/*.h++, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  common: any of: common/, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
