Repository Metta-AI/metta: changes, and which Codecov flags are due for each by the changed paths.
All: core, app_backend, agent, mettagrid, mettagrid_cpp, common

reverted
  metta/map/random/__init__.py
  metta/map/scenes/__init__.py
  metta/map/utils/__init__.py
Due: core

lint
  experiments/recipes/icl_resource_chain.py
  metta/map/__init__.py
Due: core

cleaner for graphite
  metta/sim/simulation.py
Due: core

Update .github/actions/setup-uv/action.yml
  .github/actions/setup-uv/action.yml
Due: core

hotfix x3: patch simulation for play, nav for map move, and rotate disable (#2469)
  experiments/recipes/icl_resource_chain.py
  experiments/recipes/navigation.py
  metta/map/__init__.py
  metta/sim/simulation.py
  mettagrid/src/metta/mettagrid/config/envs.py
  mettagrid/src/metta/mettagrid/mettagrid_config.py
Due: core, mettagrid

set logs
  metta/rl/vecenv.py
Due: core

optimize uv caching: convert dependency files to inline, enhance setup-uv
  .github/actions/asana/pr_description_asana_to_gh/action.yml
  .github/actions/asana/pr_description_asana_to_gh/dependencies.txt
  .github/actions/asana/pr_gh_to_asana/action.yml
  .github/actions/asana/pr_gh_to_asana/dependencies.txt
  .github/actions/combine-all-benchmarks/action.yml
  .github/actions/combine-all-benchmarks/dependencies.txt
  .github/actions/discord-webhook/action.yml
  .github/actions/discord-webhook/dependencies.txt
  .github/actions/fetch-artifacts/dependencies.txt
  .github/actions/file-changes/action.yml
  .github/actions/file-changes/dependencies.txt
  .github/actions/pr-digest/action.yml
  .github/actions/pr-digest/dependencies.txt
  .github/actions/save-benchmarks/action.yml
  .github/actions/save-benchmarks/dependencies.txt
  .github/actions/setup-uv/action.yml
  .github/workflows/checks.yml
Due: core

fixing initialization
  metta/cogworks/curriculum/learning_progress_algorithm.py
Due: core

Fix saving policies to observatory
  metta/rl/checkpoint_manager.py
  metta/rl/wandb.py
  metta/sim/simulation.py
  metta/sim/utils.py
Due: core

move log init
  devops/README.md
  devops/skypilot/README.md
  devops/skypilot/connect.py
  devops/skypilot/launch/sandbox.py
  devops/skypilot/sandbox.py
  mcp_servers/wandb_dashboard/pyproject.toml
  metta/rl/trainer.py
  metta/tools/train.py
Due: core

wip
  agent/src/metta/agent/agent_config.py
  agent/src/metta/agent/metta_agent.py
  metta/rl/checkpoint_manager.py
  metta/rl/policy_artifact.py
  pyproject.toml
  rl/policy_artifact.py
Due: core, agent

rm extra logs
  metta/rl/checkpoint_manager.py
  metta/sim/utils.py
Due: core

fix request_eval
  common/src/metta/common/wandb/wandb_context.py
  metta/sim/simulation.py
  tools/request_eval.py
Due: core, common

go
  metta/rl/policy_artifact.py
  rl/policy_artifact.py
Due: core

hotfix: fix saving policies to observatory (#2471)
  metta/rl/wandb.py
  metta/sim/simulation.py
Due: core

hotfix: fix request_eval (#2472)
  common/src/metta/common/wandb/wandb_context.py
  metta/sim/simulation.py
  tools/request_eval.py
Due: core, common

fix gainmap
  mettascope2/src/mettascope/replays.nim
Due: core

agent traces + mouse to panel + zoom clamp + wip pos clamp
  mettascope2/src/mettascope.nim
  mettascope2/src/mettascope/agenttraces.nim
  mettascope2/src/mettascope/common.nim
  mettascope2/src/mettascope/panels.nim
  mettascope2/src/mettascope/replays.nim
  mettascope2/src/mettascope/timeline.nim
  mettascope2/src/mettascope/worldmap.nim
Due: core

fix agenttrace item position, move dead code
  mettascope2/src/mettascope/agenttraces.nim
  mettascope2/src/mettascope/common.nim
  mettascope2/src/mettascope/worldmap.nim
Due: core

Make tests less fragile to changing obs space
  mettagrid/tests/test_global_reward_observations.py
Due: none

wandb pushing fix
  metta/rl/stats.py
Due: core

check root handler
  common/src/metta/common/profiling/stopwatch.py
  common/src/metta/common/profiling/system_monitor.py
  common/src/metta/common/util/log_config.py
Due: common

rm debug
  common/src/metta/common/util/log_config.py
Due: common

wandb uri cleanup
  metta/rl/checkpoint_manager.py
  metta/rl/stats.py
  metta/rl/wandb.py
Due: core

fix test
  metta/rl/wandb.py
  tests/rl/test_checkpoint_uri_integration.py
Due: core

readibility refactor of learning progress
  metta/cogworks/curriculum/curriculum.py
  metta/cogworks/curriculum/learning_progress_algorithm.py
  tests/cogworks/curriculum/test_curriculum_algorithms.py
Due: core

remove no agent interference, again
  experiments/marimo/01-hello-world-marimo.py
  mettagrid/src/metta/mettagrid/actions/move.hpp
  mettagrid/src/metta/mettagrid/mettagrid_c.cpp
  mettagrid/src/metta/mettagrid/mettagrid_c.hpp
  mettagrid/src/metta/mettagrid/mettagrid_c.pyi
  mettagrid/src/metta/mettagrid/mettagrid_c_config.py
  mettagrid/src/metta/mettagrid/mettagrid_config.hpp
  mettagrid/src/metta/mettagrid/mettagrid_config.py
Due: core, mettagrid, mettagrid_cpp

wip
  experiments/users/alex.py
Due: core

debug lazypath
  common/src/metta/common/util/lazypath.py
  common/src/metta/common/util/log_config.py
Due: common

Fix: `metta` binary correctly uses enclosing uv project
  metta/setup/installer/bin/metta
  metta/setup/metta_cli.py
Due: core

panels
  mettascope2/src/mettascope.nim
  mettascope2/src/mettascope/common.nim
Due: core

testing parallelized unit tests and caching
  .github/actions/setup-uv/action.yml
  .github/workflows/checks.yml
  common/tests/profiling/test_stopwatch.py
  tests/test_no_xcxc.py
Due: core

improve help
  devops/skypilot/launch/sandbox.py
Due: core

handle aws exception
  devops/skypilot/launch/sandbox.py
Due: core

Fix: `metta` binary correctly uses enclosing uv project (#2477)
  metta/setup/installer/bin/metta
  metta/setup/metta_cli.py
Due: core

Fix checkpoint test that (now, incorrectly) expects :latest as a version
  tests/rl/test_checkpoint_uri_integration.py
Due: none

phase 1 hooks
  docs/design/pre_phase_audit.md
  docs/design/pre_phase_changes.md
  docs/design/pre_phase_summary.md
  docs/design/trainer_hooks_engineering_plan.md
  metta/rl/callbacks/__init__.py
  metta/rl/callbacks/base.py
  metta/rl/hooks/__init__.py
  metta/rl/loss/base_loss.py
  metta/rl/trainer.py
  tests/rl/callbacks/__init__.py
  tests/rl/callbacks/test_base.py
  tests/rl/hooks/__init__.py
  tests/rl/hooks/test_base.py
Due: core

be explicit about version
  tests/rl/test_checkpoint_uri_integration.py
Due: none

hotfix: fix checkpoint test to expect specific policy version= (#2479)
  tests/rl/test_checkpoint_uri_integration.py
Due: none

Path conditions:
  core: any file but: app_backend/, agent/, mettagrid/, common/, **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  app_backend: any of: app_backend/, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  agent: any of: agent/, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  mettagrid: any of: mettagrid/, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  mettagrid_cpp: any of: **/*.cpp, **/*.cc, **/*.cxx, **/*.c++, **/*.h, **/*.hpp, **/*.hh, **/*.hxx, **/*.h++, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  common: any of: common/, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
