Repository Metta-AI/metta: changes, and which Codecov flags are due for each by the changed paths.
All: core, app_backend, agent, mettagrid, mettagrid_cpp, common

moving config to user
  configs/user/dual_policy_example.yaml
Due: core

wip
  mettagrid/src/metta/mettagrid/mettagrid_env.py
Due: mettagrid

inline configs
  mettagrid/src/metta/mettagrid/curriculum/bucketed.py
  mettagrid/src/metta/mettagrid/curriculum/core.py
  mettagrid/src/metta/mettagrid/curriculum/util.py
  mettagrid/tests/test_bucketed_config.yaml
  mettagrid/tests/test_curriculum.py
Due: mettagrid

wip
  mettagrid/src/metta/mettagrid/curriculum/core.py
Due: mettagrid

wip
  mettagrid/src/metta/mettagrid/curriculum/core.py
  mettagrid/src/metta/mettagrid/mettagrid_env.py
Due: mettagrid

Make eval task worker/orchestrator use the same image, build in github action (#1626)
  .github/workflows/build-metta-policy-evaluator-docker.yml
  app_backend/Dockerfile
  app_backend/README.md
  app_backend/src/metta/app_backend/docker-compose.yml
  app_backend/src/metta/app_backend/eval_task_orchestrator.py
  app_backend/tests/test_docker_integration.py
  devops/charts/orchestrator/environments/kind.yaml
  devops/charts/orchestrator/templates/deployment.yaml
  devops/charts/orchestrator/values.yaml
  devops/docker/Dockerfile.policy_evaluator
  metta/setup/local_commands.py
  metta/setup/metta_cli.py
  metta/setup/tools/local/kind.py
Due: core, app_backend

adding evals
  configs/user/dual_policy_example.yaml
Due: core

simplify the policy example
  agent/src/metta/agent/external/example.py
  metta/rl/puffer_policy.py
Due: core, agent

smaller maxvec
  agent/src/metta/agent/external/example.py
Due: agent

cyclical converters
  configs/env/mettagrid/curriculum/cyclical_converter.yaml
  configs/env/mettagrid/cyclical/cyclical_converter_test.yaml
  configs/env/mettagrid/maps/cyclical/cyclical_hallway.map
  configs/env/mettagrid/maps/cyclical/cyclical_test.map
Due: core

example.py uglyness moved to puffer_policy (#1632)
  agent/src/metta/agent/external/example.py
  metta/rl/puffer_policy.py
Due: core, agent

gamepad support in mettascope
  mettascope/src/actions.ts
  mettascope/src/main.ts
Due: core

fmt
  mettascope/src/actions.ts
  mettascope/src/main.ts
Due: core

alternate versions
  mettagrid/pyproject.toml
  pyproject.toml
Due: core, mettagrid

updated uvlock
  uv.lock
Due: core

Update mettascope/src/actions.ts
  mettascope/src/actions.ts
Due: core

added type
  agent/src/metta/agent/external/example.py
Due: agent

added type to tensor (#1635)
  agent/src/metta/agent/external/example.py
Due: agent

revert use of metta_script to @hydra decorator
  configs/sweep_job.yaml
  tools/sweep_eval.py
  tools/sweep_prepare_run.py
  tools/sweep_setup.py
Due: core

refactor(sweep): general improvements
  devops/sweep.sh
  tools/sweep_prepare_run.py
  tools/sweep_setup.py
Due: core

refactor(sweep): adapt sweep_eval for distributed training
  configs/sweep_job.yaml
  tools/sweep_eval.py
  tools/sweep_prepare_run.py
Due: core

Fix git-hook usage of ensure_uv_setup by removing mixed meanings of SCRIPT_DIR
  devops/tools/common.sh
  install.sh
Due: core

support metta local build-policy-evaluator-img --no-cache
  metta/setup/local_commands.py
  metta/setup/metta_cli.py
Due: core

refactor(sweep): Improve sweep evaluation with distributed coordination and longer evaluation time (#1559)
  configs/sweep_job.yaml
  devops/sweep.sh
  tools/sweep_eval.py
  tools/sweep_prepare_run.py
  tools/sweep_setup.py
Due: core

Alingment of Parameters
  bullm_run.py
  tools/direct_hyperparameter_comparison.py
  tools/extract_model_hyperparameters.py
Due: core

support metta local build-policy-evaluator-img --no-cache (#1630)
  metta/setup/local_commands.py
  metta/setup/metta_cli.py
Due: core

Path conditions:
  core: any file but: app_backend/, agent/, mettagrid/, common/, **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  app_backend: any of: app_backend/, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  agent: any of: agent/, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  mettagrid: any of: mettagrid/, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  mettagrid_cpp: any of: **/*.cpp, **/*.cc, **/*.cxx, **/*.c++, **/*.h, **/*.hpp, **/*.hh, **/*.hxx, **/*.h++, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  common: any of: common/, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
