Repository Metta-AI/metta: changes, and which Codecov flags are due for each by the changed paths.
All: core, app_backend, agent, mettagrid, mettagrid_cpp, common

codecov.yml:

# Codecov configuration for Metta-AI
# Documentation: https://docs.codecov.com/docs/codecov-yaml

# Wait for all CI jobs to complete before posting results
codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

# Coverage settings
coverage:
  # Round coverage to 2 decimal places
  precision: 2
  round: down

  # Status checks configuration
  status:
    # Project-wide coverage
    project:
      default:
        target: auto # Compare against base branch
        threshold: 1% # Allow 1% coverage drop
        base: auto
        informational: true # Won't fail PR, just inform

    # Coverage for changed lines only - this is your main gate
    patch:
      default:
        target: 50% # Minimum 50% coverage on new code
        threshold: 0% # No tolerance below 50%
        base: auto
        if_ci_failed: success # Don't fail if CI fails
        if_not_found: success # Don't fail if no coverage data

      # Additional informational patch check
      informational:
        target: 80% # Ideal target
        threshold: 0%
        informational: true # Won't fail, just shows as warning

# Pull request comment configuration
comment:
  layout: "header, diff, flags, components, files"
  behavior: default
  require_changes: false # Post comment even if no coverage change
  require_base: false # Don't require base coverage
  require_head: true # Must have head coverage to post
  hide_project_coverage: false # Show overall project coverage

# Flag configuration for different test suites
flags:
  core:
    paths:
      - "!app_backend/"
      - "!agent/"
      - "!mettagrid/"
      - "!common/"
    carryforward: true

  app_backend:
    paths:
      - app_backend/
    carryforward: true

  agent:
    paths:
      - agent/
    carryforward: true

  mettagrid:
    paths:
      - mettagrid/
    carryforward: true

  mettagrid_cpp:
    paths:
      - "**/*.cpp"
      - "**/*.cc"
      - "**/*.cxx"
      - "**/*.c++"
      - "**/*.h"
      - "**/*.hpp"
      - "**/*.hh"
      - "**/*.hxx"
      - "**/*.h++"
    carryforward: true

  common:
    paths:
      - common/
    carryforward: true

# Ignore certain paths from coverage
ignore:
  - "**/tests/"
  - "**/test_*.py"
  - "**/*_test.py"
  - "**/conftest.py"
  - "setup.py"
  - "**/migrations/"
  - "**/__pycache__/"
  - "**/node_modules/"
  - "**/*.pb.py" # Generated protobuf files
  - "**/*.pyi" # Type stub files
  - "**/fixtures/"
  - "**/mocks/"
  - "**/build/" # C++ build directories
  - "**/cmake-build-*/" # CLion/CMake build directories
  - "**/CMakeFiles/" # CMake generated files
  - "**/*.o" # Object files
  - "**/*.a" # Static libraries
  - "**/*.so" # Shared libraries
  - "**/*.dylib" # macOS dynamic libraries
  - "**/*.dll" # Windows dynamic libraries

# GitHub integration settings
github_checks:
  annotations: true # Show coverage annotations in PR files view

resource loss prob
  recipes/operantconditioning_incontext.sh
Due: core

add wait_for_termination subscript
  devops/skypilot/config/lifecycle/configure_environment.sh
  devops/skypilot/config/lifecycle/wait_for_termination.sh
  devops/skypilot/config/observability/send_discord_notification.sh
  devops/skypilot/config/sk_train_run.sh
Due: core

wait longer
  devops/skypilot/config/sk_train_run.sh
Due: core

lint
  devops/skypilot/config/lifecycle/wait_for_termination.sh
  devops/skypilot/config/sk_train_run.sh
Due: core

revert
  devops/skypilot/config/lifecycle/wait_for_termination.sh
  devops/skypilot/config/sk_train_run.sh
Due: core

cleanup comments
  devops/skypilot/config/sk_train_run.sh
Due: core

increase sleep
  devops/skypilot/config/sk_train_run.sh
Due: core

fix torch exits
  devops/skypilot/config/preflight/test_nccl.py
  devops/skypilot/config/sk_train_run.sh
Due: core

stop testing failure
  devops/skypilot/config/preflight/test_nccl.py
  devops/skypilot/config/sk_train_run.sh
Due: core

clean up
  configs/env/mettagrid/curriculum/navigation/bucketed_grid_altar.yaml
  configs/env/mettagrid/curriculum/navigation/bucketed_spiral_altar.yaml
  configs/env/mettagrid/curriculum/navigation/grid_spiral_systematic/learning_progress_grid_spiral.yaml
  configs/env/mettagrid/curriculum/navigation/grid_spiral_systematic/learning_progress_nav_grid_spiral.yaml
  configs/env/mettagrid/curriculum/navigation/grid_spiral_systematic/learning_progress_nav_spiral.yaml
  configs/env/mettagrid/curriculum/navigation/grid_spiral_systematic/random_nav_grid_spiral.yaml
  configs/env/mettagrid/curriculum/navigation/learning_progress_nav_grid.yaml
  configs/env/mettagrid/curriculum/navigation/resampling_grid_standard.yaml
  configs/env/mettagrid/navigation/training/variants/grid/grid_base.yaml
  configs/env/mettagrid/navigation/training/variants/grid/grid_multiroom.yaml
  configs/env/mettagrid/navigation/training/variants/spiral/spiral_altar_base.yaml
  configs/env/mettagrid/navigation/training/variants/spiral/spiral_altar_large.yaml
  configs/env/mettagrid/navigation/training/variants/spiral/spiral_altar_loose.yaml
  configs/env/mettagrid/navigation/training/variants/spiral/spiral_altar_multiroom.yaml
  configs/env/mettagrid/navigation/training/variants/spiral/spiral_altar_tight.yaml
Due: core

set var
  agent/src/metta/agent/component_policy.py
  agent/src/metta/agent/metta_agent.py
Due: agent

boxes you can pick up with required resources
  configs/env/mettagrid/autocurricula/ascii_defaults.yaml
  configs/env/mettagrid/autocurricula/defaults.yaml
  configs/env/mettagrid/autocurricula/obstacles0.yaml
  configs/env/mettagrid/maps/autocurricula/obstacles0.map
  configs/user/gregorypylypovych.yaml
  mettagrid/src/metta/mettagrid/actions/get_output.hpp
  mettagrid/src/metta/mettagrid/actions/move.hpp
  mettagrid/src/metta/mettagrid/actions/move_8way.hpp
  mettagrid/src/metta/mettagrid/actions/move_cardinal.hpp
  mettagrid/src/metta/mettagrid/char_encoder.py
  mettagrid/src/metta/mettagrid/mettagrid_c.cpp
  mettagrid/src/metta/mettagrid/mettagrid_c.pyi
  mettagrid/src/metta/mettagrid/mettagrid_c_config.py
  mettagrid/src/metta/mettagrid/mettagrid_config.py
  mettagrid/src/metta/mettagrid/objects/box.hpp
Due: core, mettagrid, mettagrid_cpp

fixing lint
  mettagrid/src/metta/mettagrid/mettagrid_c.pyi
Due: none

fixing lint
  mettagrid/src/metta/mettagrid/actions/move.hpp
  mettagrid/src/metta/mettagrid/actions/move_8way.hpp
  mettagrid/src/metta/mettagrid/actions/move_cardinal.hpp
Due: mettagrid, mettagrid_cpp

fonts working
  mettascope/src/context3d.ts
  mettascope/src/overlay.ts
  mettascope/src/replay.ts
  mettascope/src/worldmap.ts
Due: core

fix centering
  mettascope/src/context3d.ts
  mettascope/src/overlay.ts
  mettascope/src/worldmap.ts
Due: core

experimenting bucketed curriculum with tiled training
  configs/env/mettagrid/arena/coop_rewardsharing_ascii_alt.yaml
  configs/env/mettagrid/arena/coop_rewardsharing_simple.yaml
  configs/env/mettagrid/curriculum/coop_rewardsharing/bucketed.yaml
  configs/env/mettagrid/curriculum/coop_rewardsharing/combined.yaml
  configs/env/mettagrid/maps/simple/coop_rewardsharing_alt.map
  configs/user/krishnakanth.yaml
  metta/map/scenes/coop_divided.py
Due: core

text refactoring
  mettascope/src/context3d.ts
  mettascope/src/overlay.ts
  mettascope/src/worldmap.ts
Due: core

merge
  mettascope/src/atlas.ts
Due: core

cleanup
  mettascope/src/overlay.ts
  mettascope/src/replay.ts
Due: core

feat(sweep): Add phase-aware sim configuration for evaluations
  configs/sim/sweep_eval.yaml
  configs/sweep_job.yaml
  metta/sweep/sweep_lifecycle.py
  tools/sweep_execute.py
Due: core

removed tiling
  configs/env/mettagrid/arena/coop_rewardsharing.yaml
  configs/env/mettagrid/arena/coop_rewardsharing_ascii_alt.yaml
  configs/user/krishnakanth.yaml
Due: core

update
  mettascope/src/atlas.ts
  mettascope/src/context3d.ts
Due: core

sweep(feat): Add a sweep dashbaord
  experiments/dashboards/sweep_dashboard.py
  metta/sweep/README.md
  pyproject.toml
  uv.lock
Due: core

sweep(feat): Add a sweep dashbaord
  pyproject.toml
  uv.lock
Due: core

better tests
  mcp_server/src/metta/mcp_server/tests/test_stats_analysis.py
Due: none

make code less awful
  mettascope/src/main.ts
  mettascope/src/overlay.ts
  mettascope/src/replay.ts
  mettascope/src/worldmap.ts
Due: core

fixed uv.lock file
  experiments/dashboards/sweep_dashboard.py
  metta/sweep/README.md
  tools/sweep_execute.py
  uv.lock
Due: core

Add reduced parameter sweep config for effective BO
  configs/sweep/reduced.yaml
  docs/parameter_selection_rationale.md
Due: core

Add EI and UCB acquisition functions to Protein optimizer
  configs/sweep/full.yaml
  configs/sweep/quick.yaml
  configs/sweep_job.yaml
  metta/sweep/protein.py
Due: core

sandbox training run
  configs/user/krishnakanth.yaml
Due: core

final improvements to sweep config
  configs/sweep_job.yaml
Due: core

fix: refactor skypilot launch system (#2198)
  .cspell.json
  agent/src/metta/agent/component_policy.py
  agent/src/metta/agent/metta_agent.py
  devops/skypilot/config/lifecycle/cleanup_handler.sh
  devops/skypilot/config/lifecycle/configure_environment.sh
  devops/skypilot/config/lifecycle/create_job_secrets.py
  devops/skypilot/config/lifecycle/setup.sh
  devops/skypilot/config/monitors/cluster_stop_monitor.sh
  devops/skypilot/config/monitors/heartbeat_monitor.sh
  devops/skypilot/config/monitors/test_job_restart_monitor.sh
  devops/skypilot/config/monitors/timeout_monitor.sh
  devops/skypilot/config/notifications/send_github_status.sh
  devops/skypilot/config/notifications/set_github_status.sh
  devops/skypilot/config/observability/send_discord_notification.sh
  devops/skypilot/config/observability/set_github_status.py
  devops/skypilot/config/preflight/test_nccl.py
  devops/skypilot/config/sandbox.yaml
  devops/skypilot/config/sk_train.yaml
  devops/skypilot/config/sk_train_run.sh
  devops/skypilot/install.sh
  devops/skypilot/set_github_status.py
  devops/skypilot/setup_shell.sh
  devops/skypilot/test_nccl.py
  devops/train.sh
  metta/rl/trainer.py
  tools/train.py
Due: core, agent

make code less awful
  mettascope/src/context3d.ts
  mettascope/src/overlay.ts
  mettascope/src/worldmap.ts
Due: core

make code less awful
  mettascope/src/context3d.ts
Due: core

add periods to comments
  mettascope/src/context3d.ts
Due: core

Revert "fix: refactor skypilot launch system (#2198)"
  .cspell.json
  agent/src/metta/agent/component_policy.py
  agent/src/metta/agent/metta_agent.py
  devops/skypilot/config/configure_environment.sh
  devops/skypilot/config/lifecycle/cleanup_handler.sh
  devops/skypilot/config/monitors/cluster_stop_monitor.sh
  devops/skypilot/config/monitors/heartbeat_monitor.sh
  devops/skypilot/config/monitors/test_job_restart_monitor.sh
  devops/skypilot/config/monitors/timeout_monitor.sh
  devops/skypilot/config/notifications/send_discord_notification.sh
  devops/skypilot/config/notifications/send_github_status.sh
  devops/skypilot/config/notifications/set_github_status.sh
  devops/skypilot/config/observability/set_github_status.py
  devops/skypilot/config/preflight/test_nccl.py
  devops/skypilot/config/sandbox.yaml
  devops/skypilot/config/sk_setup.sh
  devops/skypilot/config/sk_train.yaml
  devops/skypilot/config/sk_train_run.sh
  devops/skypilot/create_job_secrets.py
  devops/skypilot/install.sh
  devops/skypilot/set_github_status.py
  devops/skypilot/setup_shell.sh
  devops/skypilot/test_nccl.py
  devops/train.sh
  metta/rl/trainer.py
  tools/train.py
Due: core, agent

Revert "Component Pytorch Policies w/o YAML (#2149)"
  agent/src/metta/agent/agent_mapper.py
  agent/src/metta/agent/component_policies/fast.py
  agent/src/metta/agent/component_policies/latent_attn_med.py
  agent/src/metta/agent/component_policies/latent_attn_small.py
  agent/src/metta/agent/component_policies/latent_attn_tiny.py
  agent/src/metta/agent/component_policy.py
  agent/src/metta/agent/lib/obs_enc.py
  agent/src/metta/agent/metta_agent.py
  agent/src/metta/agent/pytorch/agent_mapper.py
  agent/src/metta/agent/pytorch/latent_attn_small.py
  agent/tests/test_legacy_adapter.py
  agent/tests/test_metta_agent.py
  configs/agent/README.md
  configs/agent/fast.yaml
  configs/agent/latent_attn_med.yaml
  configs/agent/latent_attn_small.yaml
  configs/agent/latent_attn_tiny.yaml
  configs/agent/prototypes/resmlp_value.yaml
  configs/agent/reference_design.yaml
  configs/sweep_job.yaml
  configs/train_job.yaml
  metta/util/metta_script.py
  tests/rl/test_trainer_config.py
  tests/tools/test_validate_config.py
Due: core, agent

pydantic_metta_script
  metta/util/metta_script.py
  tools/play.py
  tools/replay.py
Due: core
