Repository Metta-AI/metta: changes, and which Codecov flags are due for each by the changed paths.
All: core, app_backend, agent, mettagrid, mettagrid_cpp, common

cleanup
  agent/src/metta/agent/metta_agent.py
  metta/rl/checkpoint_manager.py
  metta/rl/wandb.py
  metta/setup/local_commands.py
  tests/tools/test_new_policy_system.py
Due: core, agent

comment cleanup
  agent/src/metta/agent/metta_agent.py
  agent/src/metta/agent/pytorch/base.py
  agent/src/metta/agent/pytorch/fast.py
  metta/rl/trainer.py
Due: core, agent

uri handling
  tests/rl/test_uri_handling_comprehensive.py
  uri_handling.md
Due: core

more
  devops/skypilot/DATADOG_SETUP.md
  devops/skypilot/config/lifecycle/install_datadog.sh
  devops/skypilot/config/skypilot_run.sh
Due: core

cleanup
  app_backend/src/metta/app_backend/clients/base_client.py
  app_backend/src/metta/app_backend/routes/scorecard_routes.py
  devops/observatory_login.py
  metta/cogworks/curriculum/task_generator.py
  metta/rl/experience.py
  metta/setup/local_commands.py
Due: core, app_backend

checkpoint manager cleanup
  metta/rl/checkpoint_manager.py
Due: core

no more uri handling
  uri_handling.md
Due: core

test cleanup
  agent/tests/test_vanilla_policy.py
Due: none

prevent silently failing on observatory auth
  metta/tools/train.py
Due: core

fixed DB tests
  tests/eval/test_eval_stats_db.py
Due: none

unneeded deletion
  app_backend/src/metta/app_backend/clients/base_client.py
Due: app_backend

tests simplifications
  tests/rl/test_checkpoint_integration.py
  tests/rl/test_checkpoint_manager.py
  tests/rl/test_checkpoint_manager_cache.py
  tests/rl/test_checkpoint_manager_comprehensive.py
  tests/rl/test_checkpoint_uri_integration.py
  tests/rl/test_uri_handling_comprehensive.py
Due: none

more legacy deletions
  agent/src/metta/agent/metta_agent.py
  agent/src/metta/agent/pytorch/base.py
  agent/src/metta/agent/pytorch/fast.py
  agent/src/metta/agent/pytorch/pytorch_agent_mixin.py
  app_backend/src/metta/app_backend/clients/base_client.py
  metta/eval/eval_service.py
  metta/rl/trainer.py
Due: core, app_backend, agent

imports cleanup
  experiments/marimo/01-hello-world-marimo.py
Due: core

Update metta/tools/train.py
  metta/tools/train.py
Due: core

fix
  metta/tools/train.py
Due: core

Reduce the number of static_casts we're using
  mettagrid/src/metta/mettagrid/action_handler.hpp
  mettagrid/src/metta/mettagrid/actions/attack.hpp
  mettagrid/src/metta/mettagrid/actions/get_output.hpp
  mettagrid/src/metta/mettagrid/actions/place_box.hpp
  mettagrid/src/metta/mettagrid/actions/put_recipe_items.hpp
  mettagrid/src/metta/mettagrid/mettagrid_c.cpp
  mettagrid/src/metta/mettagrid/objects/agent.hpp
  mettagrid/src/metta/mettagrid/objects/converter.hpp
Due: mettagrid, mettagrid_cpp

rollback
  metta/sweep/store/wandb.py
Due: core

push tests deleted durign rebase.
  metta/sweep/sweep_config.py
  tests/sweep/test_orchestrator.py
  tests/sweep/test_protein_metta.py
  tests/sweep/test_protein_optimization_easy.py
  tests/sweep/test_protein_optimization_hard.py
  tests/sweep/test_protein_optimization_medium.py
  tests/sweep/test_schedulers.py
  tests/sweep/test_sweep_script_integration.py
Due: core

fixed linter error
  metta/sweep/sweep_config.py
  tests/sweep/test_orchestrator.py
  tests/sweep/test_schedulers.py
Due: core

remove outdated README (rebase accident)
  metta/sweep/README.md
Due: core

another ruff
  tests/sweep/test_schedulers.py
Due: none

Fixed tests
  common/src/metta/common/util/lock.py
  metta/sweep/protein_config.py
  metta/sweep/protein_metta.py
  metta/sweep/scheduler/__init__.py
  tests/sweep/test_protein_metta.py
Due: core, common

small improvement
  metta/sweep/scheduler/optimizing.py
  metta/sweep/store/wandb.py
  metta/sweep/sweep_orchestrator.py
  tests/sweep/test_orchestrator.py
Due: core

remove strings
  agent/src/metta/agent/metta_agent.py
  metta/rl/trainer.py
  tests/tools/test_comprehensive_environment_integration.py
  tests/tools/test_new_policy_system.py
Due: core, agent

try running as container
  devops/skypilot/DATADOG_CONTAINER_SETUP.md
  devops/skypilot/config/lifecycle/setup.sh
  devops/skypilot/config/lifecycle/start_datadog_container.sh
  devops/skypilot/config/skypilot_run.sh
Due: core

remove comments
  agent/src/metta/agent/lib/lstm.py
  agent/src/metta/agent/pytorch/fast.py
  experiments/marimo/01-hello-world-marimo.py
  metta/rl/experience.py
  metta/rl/wandb.py
  tests/cogworks/curriculum/test_curriculum.py
  tests/rl/test_checkpoint_manager.py
  tests/rl/test_kickstarter.py
  tests/sim/test_simulation_stats_db.py
  tests/tools/test_comprehensive_environment_integration.py
Due: core, agent

add back some imports etc
  experiments/marimo/01-hello-world-marimo.py
  metta/cogworks/curriculum/task_generator.py
Due: core

add back no ops
  agent/src/metta/agent/lib/lstm.py
  agent/src/metta/agent/pytorch/base.py
Due: agent

more
  devops/skypilot/config/lifecycle/start_datadog_container.sh
  devops/skypilot/config/skypilot_run.yaml
Due: core

use recommended atadog flags for amazon linux v2/ubuntu
  devops/skypilot/config/lifecycle/start_datadog_container.sh
Due: core

fix
  experiments/sweeps/standard.py
Due: core

changes
  metta/cogworks/curriculum/task_generator.py
  metta/rl/trainer.py
Due: core

cleaned up checkpoint manager
  metta/rl/checkpoint_manager.py
Due: core

MettaScope 2 in Nim
  mettascope2/data/objects/mine_red.png
  mettascope2/src/mettascope.nim
  mettascope2/src/mettascope/actions.nim
  mettascope2/src/mettascope/common.nim
  mettascope2/src/mettascope/footer.nim
  mettascope2/src/mettascope/panels.nim
  mettascope2/src/mettascope/replays.nim
  mettascope2/src/mettascope/sim.nim
  mettascope2/src/mettascope/timeline.nim
  mettascope2/src/mettascope/utils.nim
  mettascope2/src/mettascope/worldmap.nim
Due: core

more progress
  mettascope2/cors_http_server.py
  mettascope2/src/mettascope.nim
  mettascope2/src/mettascope.nims
  mettascope2/src/mettascope/panels.nim
  mettascope2/src/mettascope/shell.html
  mettascope2/src/mettascope/sim.nim
Due: core

pass flag no-incompatible-function-pointer-types
  mettascope2/src/mettascope.nims
Due: core

Rendering first replay
  mettascope2/src/mettascope.nim
  mettascope2/src/mettascope.nims
  mettascope2/src/mettascope/actions.nim
  mettascope2/src/mettascope/common.nim
  mettascope2/src/mettascope/replays.nim
  mettascope2/src/mettascope/sim.nim
  mettascope2/src/mettascope/utils.nim
  mettascope2/src/mettascope/worldmap.nim
Due: core

Replay replays.
  mettascope2/data/objects/mine_red.png
  mettascope2/src/mettascope.nim
  mettascope2/src/mettascope/common.nim
  mettascope2/src/mettascope/replays.nim
  mettascope2/src/mettascope/timeline.nim
  mettascope2/src/mettascope/worldmap.nim
Due: core

Ability to load replays.
  mettascope2/mettascope.nimble
  mettascope2/src/mettascope.nim
  mettascope2/src/mettascope/replays.nim
Due: core

Path conditions:
  core: any file but: app_backend/, agent/, mettagrid/, common/, **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  app_backend: any of: app_backend/, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  agent: any of: agent/, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  mettagrid: any of: mettagrid/, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  mettagrid_cpp: any of: **/*.cpp, **/*.cc, **/*.cxx, **/*.c++, **/*.h, **/*.hpp, **/*.hh, **/*.hxx, **/*.h++, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  common: any of: common/, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
