Repository Metta-AI/metta: changes, and which Codecov flags are due for each by the changed paths.
All: core, app_backend, agent, mettagrid, mettagrid_cpp, common

codecov.yml:

# Codecov configuration for Metta-AI
# Documentation: https://docs.codecov.com/docs/codecov-yaml

# Wait for all CI jobs to complete before posting results
codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

# Coverage settings
coverage:
  # Round coverage to 2 decimal places
  precision: 2
  round: down

  # Status checks configuration
  status:
    # Project-wide coverage
    project:
      default:
        target: auto # Compare against base branch
        threshold: 1% # Allow 1% coverage drop
        base: auto
        informational: true # Won't fail PR, just inform

    # Coverage for changed lines only - this is your main gate
    patch:
      default:
        target: 50% # Minimum 50% coverage on new code
        threshold: 0% # No tolerance below 50%
        base: auto
        if_ci_failed: success # Don't fail if CI fails
        if_not_found: success # Don't fail if no coverage data

      # Additional informational patch check
      informational:
        target: 80% # Ideal target
        threshold: 0%
        informational: true # Won't fail, just shows as warning

# Pull request comment configuration
comment:
  layout: "header, diff, flags, components, files"
  behavior: default
  require_changes: false # Post comment even if no coverage change
  require_base: false # Don't require base coverage
  require_head: true # Must have head coverage to post
  hide_project_coverage: false # Show overall project coverage

# Flag configuration for different test suites
flags:
  core:
    paths:
      - "!app_backend/"
      - "!agent/"
      - "!mettagrid/"
      - "!common/"
    carryforward: true

  app_backend:
    paths:
      - app_backend/
    carryforward: true

  agent:
    paths:
      - agent/
    carryforward: true

  mettagrid:
    paths:
      - mettagrid/
    carryforward: true

  mettagrid_cpp:
    paths:
      - "**/*.cpp"
      - "**/*.cc"
      - "**/*.cxx"
      - "**/*.c++"
      - "**/*.h"
      - "**/*.hpp"
      - "**/*.hh"
      - "**/*.hxx"
      - "**/*.h++"
    carryforward: true

  common:
    paths:
      - common/
    carryforward: true

# Ignore certain paths from coverage
ignore:
  - "**/tests/"
  - "**/test_*.py"
  - "**/*_test.py"
  - "**/conftest.py"
  - "setup.py"
  - "**/migrations/"
  - "**/__pycache__/"
  - "**/node_modules/"
  - "**/*.pb.py" # Generated protobuf files
  - "**/*.pyi" # Type stub files
  - "**/fixtures/"
  - "**/mocks/"
  - "**/build/" # C++ build directories
  - "**/cmake-build-*/" # CLion/CMake build directories
  - "**/CMakeFiles/" # CMake generated files
  - "**/*.o" # Object files
  - "**/*.a" # Static libraries
  - "**/*.so" # Shared libraries
  - "**/*.dylib" # macOS dynamic libraries
  - "**/*.dll" # Windows dynamic libraries

# GitHub integration settings
github_checks:
  annotations: true # Show coverage annotations in PR files view

stats cleanup
  metta/rl/util/stats.py
Due: core

sim job
  configs/sim_job.yaml
Due: core

faster basic
  configs/env/mettagrid/arena/basic.yaml
Due: core

any
  configs/env/mettagrid/navigation/training/terrain_from_numpy_defaults.yaml
Due: core

Fix example policy
  agent/src/metta/agent/external/example.py
Due: agent

fix bug
  mettagrid/src/metta/mettagrid/mettagrid_env.py
Due: mettagrid

add boost
  mettagrid/src/metta/mettagrid/mettagrid_env.py
Due: mettagrid

drop gpu check
  devops/skypilot/config/gpu-troubleshoot.sh
  devops/skypilot/config/sandbox.yaml
  devops/skypilot/config/sk_train.yaml
Due: core

Remove random resolvers (#1821)
  common/src/metta/common/util/resolvers.py
  common/tests/util/test_resolvers.py
Due: common

lint
  devops/skypilot/sandbox.py
Due: core

creat config comparison
  config_comparison.txt
  configs/env/mettagrid/arena/basic.yaml
  create_config_comparison.py
Due: core

yaml file
  configs/user/harsh.yaml
Due: core

Show requesting user in eval task table (#1815)
  app_backend/src/metta/app_backend/metta_repo.py
  app_backend/src/metta/app_backend/routes/eval_task_routes.py
  app_backend/tests/test_eval_task_orchestrator_integration.py
  devops/charts/orchestrator/environments/kind.yaml
  observatory/src/EvalTasks.tsx
  observatory/src/repo.ts
Due: core, app_backend

Removed extraneous code that checked if number of items in .yaml config file was None.
  configs/env/mettagrid/arena/basic.yaml
  configs/user/lsoros.yaml
  mettagrid/src/metta/mettagrid/mettagrid_c_config.py
Due: core, mettagrid

major update to loss examples
  agent/src/metta/agent/lib/lstm.py
  metta/rl/util/losses.py
Due: core, agent

Removed populate_initial_inventory() function and cleaned up inventory initialization.
  configs/env/mettagrid/arena/basic.yaml
  configs/user/lsoros.yaml
  mettagrid/src/metta/mettagrid/objects/agent.hpp
Due: core, mettagrid, mettagrid_cpp

updating LSTM again
  agent/src/metta/agent/lib/lstm.py
  configs/user/alex.yaml
  metta/rl/trainer.py
Due: core, agent

updating LSTM again
  agent/src/metta/agent/lib/lstm.py
Due: agent

rs change
  configs/env/mettagrid/cyclical/cyclical_converter_test.yaml
  configs/env/mettagrid/maps/cyclical/cyclical_horizontal_hallway.map
Due: core

same width
  configs/env/mettagrid/maps/cyclical/cyclical_horizontal_hallway.map
Due: core

update envs
  configs/env/mettagrid/cyclical/cyclical_horizontal_converter_test.yaml
  configs/env/mettagrid/cyclical/cyclical_horizontal_timing_10.yaml
  configs/env/mettagrid/cyclical/cyclical_horizontal_timing_100.yaml
  configs/env/mettagrid/cyclical/cyclical_horizontal_timing_11.yaml
  configs/env/mettagrid/cyclical/cyclical_horizontal_timing_15.yaml
  configs/env/mettagrid/cyclical/cyclical_horizontal_timing_16.yaml
  configs/env/mettagrid/cyclical/cyclical_horizontal_timing_18.yaml
  configs/env/mettagrid/cyclical/cyclical_horizontal_timing_20.yaml
  configs/env/mettagrid/cyclical/cyclical_horizontal_timing_22.yaml
  configs/env/mettagrid/cyclical/cyclical_horizontal_timing_25.yaml
  configs/env/mettagrid/cyclical/cyclical_horizontal_timing_3.yaml
  configs/env/mettagrid/cyclical/cyclical_horizontal_timing_33.yaml
  configs/env/mettagrid/cyclical/cyclical_horizontal_timing_4.yaml
  configs/env/mettagrid/cyclical/cyclical_horizontal_timing_5.yaml
  configs/env/mettagrid/cyclical/cyclical_horizontal_timing_50.yaml
  configs/env/mettagrid/cyclical/cyclical_horizontal_timing_6.yaml
  configs/env/mettagrid/cyclical/cyclical_horizontal_timing_8.yaml
  configs/env/mettagrid/cyclical/cyclical_vertical_converter_test.yaml
  configs/env/mettagrid/cyclical/cyclical_vertical_timing_10.yaml
  configs/env/mettagrid/cyclical/cyclical_vertical_timing_100.yaml
  configs/env/mettagrid/cyclical/cyclical_vertical_timing_11.yaml
  configs/env/mettagrid/cyclical/cyclical_vertical_timing_15.yaml
  configs/env/mettagrid/cyclical/cyclical_vertical_timing_16.yaml
  configs/env/mettagrid/cyclical/cyclical_vertical_timing_18.yaml
  configs/env/mettagrid/cyclical/cyclical_vertical_timing_20.yaml
  configs/env/mettagrid/cyclical/cyclical_vertical_timing_22.yaml
  configs/env/mettagrid/cyclical/cyclical_vertical_timing_25.yaml
  configs/env/mettagrid/cyclical/cyclical_vertical_timing_3.yaml
  configs/env/mettagrid/cyclical/cyclical_vertical_timing_33.yaml
  configs/env/mettagrid/cyclical/cyclical_vertical_timing_4.yaml
  configs/env/mettagrid/cyclical/cyclical_vertical_timing_5.yaml
  configs/env/mettagrid/cyclical/cyclical_vertical_timing_50.yaml
  configs/env/mettagrid/cyclical/cyclical_vertical_timing_6.yaml
  configs/env/mettagrid/cyclical/cyclical_vertical_timing_8.yaml
  configs/env/mettagrid/cyclical/evals/defaults.yaml
  configs/env/mettagrid/maps/cyclical/cyclical_test.map
  configs/env/mettagrid/maps/cyclical/cyclical_vertical_hallway.map
Due: core

clean up stationary tracking
  mettagrid/src/metta/mettagrid/action_handler.hpp
  mettagrid/src/metta/mettagrid/actions/rotate.hpp
  mettagrid/src/metta/mettagrid/grid_object.hpp
  mettagrid/src/metta/mettagrid/mettagrid_c.cpp
  mettagrid/src/metta/mettagrid/objects/agent.hpp
Due: mettagrid, mettagrid_cpp

1024 study
  configs/env/mettagrid/curriculum/cyclical_converter_timing_study_1024.yaml
Due: core

update rewards for evals to normalize to epsilon greedy outcome
  configs/env/mettagrid/cyclical/evals/horizontal_timing_10.yaml
  configs/env/mettagrid/cyclical/evals/horizontal_timing_100.yaml
  configs/env/mettagrid/cyclical/evals/horizontal_timing_11.yaml
  configs/env/mettagrid/cyclical/evals/horizontal_timing_15.yaml
  configs/env/mettagrid/cyclical/evals/horizontal_timing_16.yaml
  configs/env/mettagrid/cyclical/evals/horizontal_timing_18.yaml
  configs/env/mettagrid/cyclical/evals/horizontal_timing_20.yaml
  configs/env/mettagrid/cyclical/evals/horizontal_timing_22.yaml
  configs/env/mettagrid/cyclical/evals/horizontal_timing_25.yaml
  configs/env/mettagrid/cyclical/evals/horizontal_timing_3.yaml
  configs/env/mettagrid/cyclical/evals/horizontal_timing_33.yaml
  configs/env/mettagrid/cyclical/evals/horizontal_timing_4.yaml
  configs/env/mettagrid/cyclical/evals/horizontal_timing_5.yaml
  configs/env/mettagrid/cyclical/evals/horizontal_timing_50.yaml
  configs/env/mettagrid/cyclical/evals/horizontal_timing_6.yaml
  configs/env/mettagrid/cyclical/evals/horizontal_timing_8.yaml
  configs/env/mettagrid/cyclical/evals/vertical_timing_10.yaml
  configs/env/mettagrid/cyclical/evals/vertical_timing_100.yaml
  configs/env/mettagrid/cyclical/evals/vertical_timing_11.yaml
  configs/env/mettagrid/cyclical/evals/vertical_timing_15.yaml
  configs/env/mettagrid/cyclical/evals/vertical_timing_16.yaml
  configs/env/mettagrid/cyclical/evals/vertical_timing_18.yaml
  configs/env/mettagrid/cyclical/evals/vertical_timing_20.yaml
  configs/env/mettagrid/cyclical/evals/vertical_timing_22.yaml
  configs/env/mettagrid/cyclical/evals/vertical_timing_25.yaml
  configs/env/mettagrid/cyclical/evals/vertical_timing_3.yaml
  configs/env/mettagrid/cyclical/evals/vertical_timing_33.yaml
  configs/env/mettagrid/cyclical/evals/vertical_timing_4.yaml
  configs/env/mettagrid/cyclical/evals/vertical_timing_5.yaml
  configs/env/mettagrid/cyclical/evals/vertical_timing_50.yaml
  configs/env/mettagrid/cyclical/evals/vertical_timing_6.yaml
  configs/env/mettagrid/cyclical/evals/vertical_timing_8.yaml
  devops/skypilot/config/sk_train.yaml
Due: core

avoid constant
  mettagrid/src/metta/mettagrid/actions/rotate.hpp
Due: mettagrid, mettagrid_cpp

invert logic
  mettagrid/src/metta/mettagrid/action_handler.hpp
  mettagrid/src/metta/mettagrid/grid_object.hpp
Due: mettagrid, mettagrid_cpp

updated batch size
  configs/user/cyclical_1024.yaml
  configs/user/cyclical_1024_small.yaml
Due: core

no user
  configs/user/cyclical_1024.yaml
  configs/user/cyclical_1024_small.yaml
Due: core

add a test
  mettagrid/tests/test_mettagrid.cpp
Due: mettagrid, mettagrid_cpp

ignore type
  tools/map/sample_vae.py
Due: core

made some messy changes to episode lengths to fix buffer not updating
  configs/user/alex.yaml
  metta/rl/experience.py
  metta/rl/trainer.py
Due: core

reenable L4 gpus; envs->secrets; revert custom logging
  devops/charts/skypilot/files/ecr.patch
  devops/skypilot/config/sandbox.yaml
  devops/skypilot/config/sk_train.yaml
  devops/skypilot/sandbox.py
  devops/skypilot/utils.py
Due: core

reenable L4 gpus; envs->secrets; revert custom logging (#1829)
  devops/charts/skypilot/files/ecr.patch
  devops/skypilot/config/sandbox.yaml
  devops/skypilot/config/sk_train.yaml
  devops/skypilot/sandbox.py
  devops/skypilot/utils.py
Due: core
