Repository Metta-AI/metta: changes, and which Codecov flags are due for each by the changed paths.
All: core, app_backend, agent, mettagrid, mettagrid_cpp, common

wip
  mettagrid/tests/test_swap.py
Due: none

fixed package name
  run.py
Due: core

optional deps
  mettagrid/pyproject.toml
  pyproject.toml
Due: core, mettagrid

wip
  mettascope/src/atlas.ts
  mettascope/src/common.ts
  mettascope/src/context3d.ts
  mettascope/src/mesh.ts
  mettascope/src/worldmap.ts
Due: core

email rule for email with comma in asana email
  .github/actions/asana/pr_gh_to_asana/github_asana_mapping.py
Due: core

revert to old top-right behavior
  mettascope/src/context3d.ts
Due: core

sprite font tool
  mettascope/tools/sprint_font/character tables/emoji.csv
  mettascope/tools/sprint_font/character tables/extended_ascii.csv
  mettascope/tools/sprint_font/character tables/unicode_symbols.csv
  mettascope/tools/sprint_font/sprite_font.html
Due: core

Update mettascope/src/atlas.ts
  mettascope/src/atlas.ts
Due: core

Update grid_objects to expose more data (#1667)
  metta/rl/trainer.py
  metta/rl/util/__init__.py
  metta/rl/util/policy_management.py
  mettagrid/src/metta/mettagrid/core.py
  mettagrid/src/metta/mettagrid/mettagrid_c.cpp
  mettagrid/src/metta/mettagrid/mettagrid_c.hpp
  mettagrid/src/metta/mettagrid/mettagrid_c.pyi
  mettagrid/src/metta/mettagrid/mettagrid_env.py
  mettagrid/tests/test_swap.py
Due: core, mettagrid, mettagrid_cpp

add scaling
  mettascope/tools/sprint_font/sprite_font.html
Due: core

add draggable image
  mettascope/tools/sprint_font/sprite_font.html
Due: core

not working, sp
  metta/rl/experience.py
  metta/rl/trainer.py
  metta/rl/util/losses.py
Due: core

Got a good React/ReactDOM version going on now. It works well in Jupyter but still not in Cursor. Next up is to add my new build dependency.
  experiments/notebooks/heatmap_widget_example.ipynb
  experiments/notebooks/utils/heatmap_widget/src/index.tsx
Due: core

much better explanations and examples for HeatmapWidget usage
  experiments/notebooks/heatmap_widget_example.ipynb
Due: core

added an install/compile metta setup component that installs the node_modules and builds the project of heatmap_widget
  metta/setup/components/heatmapwidget.py
Due: core

better interface for the widget because why not
  experiments/notebooks/utils/heatmap_widget/src/index.tsx
Due: core

commented some garbage
  experiments/notebooks/utils/heatmap_widget/src/index.tsx
Due: core

Update experiments/notebooks/utils/heatmap_widget/vite.config.js
  experiments/notebooks/utils/heatmap_widget/vite.config.js
Due: core

i forgot about traitlets
  pyproject.toml
Due: core

cp
  metta/rl/curriculum/curriculum_client.py
  metta/rl/curriculum_server.py
  tests/mettagrid/test_attack_resource_consumption.py
  tests/rl/curriculum/test_curriculum_integration.py
  tests/rl/curriculum/test_curriculum_server.py
  tests/rl/curriculum/test_curriculum_server_client.py
  tests/rl/curriculum/test_curriculum_server_integration.py
  tests/rl/curriculum/test_curriculum_trainer_integration.py
  tests/rl/curriculum/test_trainer_curriculum_integration.py
  tests/rl/curriculum/test_trainer_curriculum_stats.py
  tests/rl/curriculum/test_validate_all_curriculums.py
Due: core

Changes from background composer bc-e25a0738-e476-45be-be08-3689be766a45
  configs/trainer/curriculum_server_example.yaml
  configs/trainer/trainer.yaml
  docs/curriculum_server.md
  metta/mettagrid/curriculum/curriculum_client.py
  metta/mettagrid/curriculum/curriculum_server.py
  metta/rl/curriculum_client.py
  metta/rl/curriculum_server.py
  metta/rl/trainer.py
  metta/rl/trainer_config.py
  tests/rl/test_curriculum_server.py
  tests/rl/test_curriculum_server_client.py
  tests/test_curriculum_integration.py
  tests/test_curriculum_server_integration.py
  tests/test_curriculum_trainer_integration.py
  tests/test_trainer_curriculum_integration.py
  tests/test_trainer_curriculum_stats.py
  tools/train.py
Due: core

Changes from background composer bc-e25a0738-e476-45be-be08-3689be766a45
  configs/trainer/curriculum_server_example.yaml
  docs/curriculum_server.md
  metta/mettagrid/curriculum/curriculum_client.py
  metta/mettagrid/curriculum/curriculum_server.py
  metta/rl/curriculum_client.py
  metta/rl/curriculum_server.py
  metta/rl/trainer.py
  metta/rl/trainer_config.py
  mettagrid/tests/test_curriculum_server.py
  pyproject.toml
  tests/rl/test_curriculum_server_client.py
  tests/test_curriculum_server_client.py
  tools/train.py
  uv.lock
Due: core

cp
  configs/trainer/trainer.yaml
  metta/api.py
  metta/rl/curriculum/__init__.py
  metta/rl/curriculum/curriculum_client.py
  metta/rl/curriculum/curriculum_server.py
  metta/rl/trainer.py
  mettagrid/docs/global_observations.md
  mettagrid/src/metta/mettagrid/base_env.py
  mettagrid/src/metta/mettagrid/curriculum/core.py
  mettagrid/src/metta/mettagrid/curriculum/multi_task.py
  mettagrid/src/metta/mettagrid/curriculum/progressive.py
  mettagrid/src/metta/mettagrid/curriculum/sampling.py
  mettagrid/src/metta/mettagrid/mettagrid_c.cpp
  mettagrid/src/metta/mettagrid/mettagrid_env.py
  tests/rl/curriculum/test_curriculum_integration.py
  tests/rl/curriculum/test_curriculum_server.py
  tests/rl/curriculum/test_curriculum_server_client.py
  tests/rl/curriculum/test_curriculum_server_integration.py
  tests/rl/curriculum/test_curriculum_trainer_integration.py
  tests/rl/curriculum/test_trainer_curriculum_integration.py
  tests/rl/curriculum/test_trainer_curriculum_stats.py
  tools/sweep_config_utils.py
  tools/train.py
Due: core, mettagrid, mettagrid_cpp

cp
  conftest.py
  metta/rl/curriculum/curriculum_client.py
  metta/rl/curriculum/curriculum_server.py
  metta/rl/trainer.py
  metta/rl/trainer_config.py
  mettagrid/src/metta/mettagrid/curriculum/bucketed.py
  mettagrid/src/metta/mettagrid/curriculum/learning_progress.py
  mettagrid/src/metta/mettagrid/curriculum/progressive.py
  mettagrid/src/metta/mettagrid/mettagrid_c.cpp
  mettagrid/src/metta/mettagrid/objects/agent.hpp
  tests/mettagrid/test_attack_resource_consumption.py
  tests/rl/curriculum/conftest.py
  tests/rl/curriculum/test_curriculum_integration.py
  tests/rl/curriculum/test_curriculum_server.py
  tests/rl/curriculum/test_curriculum_server_client.py
  tests/rl/curriculum/test_curriculum_server_integration.py
  tests/rl/curriculum/test_curriculum_trainer_integration.py
  tests/rl/curriculum/test_trainer_curriculum_integration.py
  tests/rl/curriculum/test_trainer_curriculum_stats.py
  tests/rl/curriculum/test_validate_all_curriculums.py
  tools/train.py
Due: core, mettagrid, mettagrid_cpp

cp
  devops/train.sh
  metta/rl/curriculum/curriculum_client.py
Due: core

cp
  metta/rl/curriculum/curriculum_client.py
Due: core

cp
  configs/trainer/trainer.yaml
  metta/rl/curriculum/curriculum_client.py
  metta/rl/trainer.py
  mettagrid/src/metta/mettagrid/curriculum/multi_task.py
Due: core, mettagrid

cp
  metta/rl/trainer.py
Due: core

Path conditions:
  core: any file but: app_backend/, agent/, mettagrid/, common/, **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  app_backend: any of: app_backend/, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  agent: any of: agent/, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  mettagrid: any of: mettagrid/, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  mettagrid_cpp: any of: **/*.cpp, **/*.cc, **/*.cxx, **/*.c++, **/*.h, **/*.hpp, **/*.hh, **/*.hxx, **/*.h++, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  common: any of: common/, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
