Repository Metta-AI/metta: changes, and which Codecov flags are due for each by the changed paths.
All: core, app_backend, agent, mettagrid, mettagrid_cpp, common

fix: Correct action conversion formula by fixing cumsum calculation
  agent/src/metta/agent/component_policy.py
  agent/src/metta/agent/metta_agent.py
  agent/src/metta/agent/pytorch/pytorch_agent_mixin.py
Due: agent

config
  configs/user/gregorypylypovych.yaml
  greg.sh
Due: core

Revert "fix: Correct action conversion formula by fixing cumsum calculation"
  agent/src/metta/agent/component_policy.py
  agent/src/metta/agent/metta_agent.py
  agent/src/metta/agent/pytorch/pytorch_agent_mixin.py
Due: agent

move simpleop to the mixin
  agent/src/metta/agent/component_policy.py
  agent/src/metta/agent/metta_agent.py
  agent/src/metta/agent/pytorch/pytorch_agent_mixin.py
Due: agent

misc.
  recipes/contrastive_sweep.sh
Due: core

Add policy-eval overview stats (#2133)
  metta/rl/stats.py
  metta/rl/wandb.py
Due: core

Cleanup
  app_backend/src/metta/app_backend/leaderboard_updater.py
  app_backend/src/metta/app_backend/metta_repo.py
  app_backend/src/metta/app_backend/routes/leaderboard_routes.py
  observatory/src/LeaderboardConfig.tsx
  observatory/src/repo.ts
Due: core, app_backend

cleaned up spurious comments, etc
  agent/src/metta/agent/component_policy.py
  agent/src/metta/agent/metta_agent.py
  agent/src/metta/agent/pytorch/base.py
  agent/src/metta/agent/pytorch/example.py
  agent/src/metta/agent/pytorch/fast.py
  agent/src/metta/agent/pytorch/latent_attn_med.py
  agent/src/metta/agent/pytorch/latent_attn_small.py
  agent/src/metta/agent/pytorch/latent_attn_tiny.py
  agent/src/metta/agent/pytorch/pytorch_agent_mixin.py
Due: agent

remove todo
  experiments/notebooks/utils/scorecard_widget/scorecard_widget/ScorecardWidget.py
Due: core

added ks cfg
  configs/agent/prototypes/fast_ks.yaml
Due: core

cleanup
  agent/src/metta/agent/component_policy.py
  agent/src/metta/agent/metta_agent.py
  agent/src/metta/agent/pytorch/base.py
Due: agent

removed unnecessary top-of-file comments
  agent/src/metta/agent/mocks/__init__.py
  app_backend/src/metta/app_backend/leaderboard_updater.py
  app_backend/src/metta/app_backend/worker_managers/__init__.py
  devops/__init__.py
  devops/git/__init__.py
  metta/rl/losses.py
  mettagrid/conftest.py
  mettagrid/tests/test_pufferlib_integration.py
  mettascope/replays.py
  tests/__init__.py
  tests/rl/__init__.py
  tests/sweep/__init__.py
Due: core, app_backend, agent

removed more comments
  metta/cogworks/__init__.py
  metta/cogworks/curriculum/__init__.py
  metta/core/__init__.py
  tests/cogworks/curriculum/__init__.py
Due: core

lint
  agent/src/metta/agent/metta_agent.py
  agent/src/metta/agent/policy_interface.py
  agent/src/metta/agent/pytorch/base.py
  agent/src/metta/agent/pytorch/example.py
  agent/src/metta/agent/pytorch/fast.py
  agent/src/metta/agent/pytorch/latent_attn_med.py
  agent/src/metta/agent/pytorch/latent_attn_small.py
  agent/src/metta/agent/pytorch/latent_attn_tiny.py
  agent/src/metta/agent/pytorch/pytorch_agent_mixin.py
Due: agent

better docs
  experiments/notebooks/utils/scorecard_widget/scorecard_widget/ScorecardWidget.py
Due: core

remove prints
  experiments/notebooks/utils/scorecard_widget/scorecard_widget/ScorecardWidget.py
Due: core

fixed NPC actions getting included into replay buffer
  metta/rl/losses.py
  metta/rl/trainer.py
Due: core

remove unnecessary comment
  agent/src/metta/agent/pytorch/pytorch_agent_mixin.py
Due: agent

Leaderboard improvements (#2128)
  app_backend/src/metta/app_backend/leaderboard_updater.py
  app_backend/src/metta/app_backend/metta_repo.py
  app_backend/src/metta/app_backend/routes/leaderboard_routes.py
  observatory/src/App.tsx
  observatory/src/LeaderboardConfig.tsx
  observatory/src/Leaderboards.tsx
  observatory/src/repo.ts
Due: core, app_backend

Support replay format v2 in thumbnail generation tool
  mettascope/tools/gen_thumb.py
Due: core

fix script
  mettagrid/src/metta/mettagrid/curriculum/colortree_random.py
  recipes/run_colortree_experiments.sh
  scripts/run_colortree_experiments.sh
Due: core, mettagrid

fix names
  recipes/run_colortree_experiments.sh
Due: core

removed unnecessary top-of-file comments (#2143)
  agent/src/metta/agent/mocks/__init__.py
  app_backend/src/metta/app_backend/leaderboard_updater.py
  app_backend/src/metta/app_backend/worker_managers/__init__.py
  devops/__init__.py
  devops/git/__init__.py
  metta/cogworks/__init__.py
  metta/cogworks/curriculum/__init__.py
  metta/core/__init__.py
  metta/rl/losses.py
  mettagrid/conftest.py
  mettagrid/tests/test_pufferlib_integration.py
  mettascope/replays.py
  tests/__init__.py
  tests/cogworks/curriculum/__init__.py
  tests/rl/__init__.py
  tests/sweep/__init__.py
Due: core, app_backend, agent

fix variable names
  mettascope/src/context3d.ts
  mettascope/tools/gen_atlas.py
Due: core

refactor: sweep pipeline implementation
  common/src/metta/common/util/datastruct.py
  common/src/metta/common/util/lock.py
  common/tests/util/test_datastruct.py
  configs/sweep/full.yaml
  configs/sweep_job.yaml
  devops/sweep.sh
  devops/sweep_rollout.sh
  experiments/notebooks/research/sweep_analysis.ipynb
  experiments/notebooks/research/sweep_dashboard_plotly.ipynb
  metta/sweep/README.md
  metta/sweep/__init__.py
  metta/sweep/protein_metta.py
  metta/sweep/sweep_lifecycle.py
  metta/sweep/sweep_rollout.py
  metta/sweep/wandb_utils.py
  output.png
  tests/sweep/test_integration_sweep_centralized.py
  tests/sweep/test_integration_sweep_pipeline.py
  tests/sweep/test_metta_protein.py
  tests/sweep/test_protein_end_to_end_pipeline.py
  tests/sweep/test_protein_integration.py
  tests/sweep/test_protein_metta.py
  tests/sweep/test_sweep_config_loading.py
  tests/sweep/test_sweep_execute.py
  tests/sweep/test_sweep_init.py
  tests/sweep/test_sweep_lifecycle.py
  tests/sweep/test_sweep_script_integration.py
  tests/sweep/test_wandb_utils.py
  tools/get_best_params_from_sweep.py
  tools/sweep_config_utils.py
  tools/sweep_eval.py
  tools/sweep_execute.py
  tools/sweep_prepare_run.py
  tools/sweep_setup.py
  tools/train.py
Due: core, common

added plotly dashboard
  configs/sweep/OPTIMIZATION_STRATEGY.md
  configs/sweep/phase1_explore_cheap.yaml
  configs/sweep/phase2_exploit_medium.yaml
  configs/sweep/phase3_final_expensive.yaml
  configs/sweep/simple.yaml
  configs/sweep_job.yaml
  experiments/notebooks/research/sweep_analysis.ipynb
  experiments/notebooks/research/sweep_dashboard_plotly.py
  pyproject.toml
  uv.lock
Due: core

feat(sweep): add phase support
  configs/sweep/OPTIMIZATION_STRATEGY.md
  configs/sweep/PHASED_STRATEGY.md
  configs/sweep/full.yaml
  configs/sweep/phase1_explore_cheap.yaml
  configs/sweep/phase2_exploit_medium.yaml
  configs/sweep/phase3_final_expensive.yaml
  configs/sweep_job.yaml
  experiments/notebooks/research/sweep_analysis.ipynb
  metta/sweep/sweep_lifecycle.py
  tools/sweep_execute.py
Due: core

add skypilot restarts to our test
  .github/actions/launch-skypilot-job/action.yml
  .github/workflows/sky-train.yml
  devops/skypilot/config/configure_environment.sh
  devops/skypilot/config/sk_train.yaml
  devops/skypilot/config/sk_train_run.sh
  devops/skypilot/launch.py
Due: core

change default test suite
  .github/workflows/sky-train.yml
Due: core

notify on restart
  devops/skypilot/config/sk_train_run.sh
Due: core

policy selector widget for juypter/marimo notebooks (#2137)
  app_backend/src/metta/app_backend/clients/scorecard_client.py
  app_backend/src/metta/app_backend/routes/scorecard_routes.py
  app_backend/tests/test_scorecard_routes.py
  configs/user/zfogg.yaml
  experiments/marimo/eval-finder-example.py
  experiments/marimo/policy-selector-example.py
  experiments/notebooks/scorecard_widget_example.ipynb
  experiments/notebooks/utils/eval_finder_widget/eval_finder_widget/EvalFinderWidget.py
  experiments/notebooks/utils/eval_finder_widget/eval_finder_widget/util.py
  experiments/notebooks/utils/eval_finder_widget/src/EvalFinder.tsx
  experiments/notebooks/utils/eval_finder_widget/src/index.tsx
  experiments/notebooks/utils/policy_selector_widget/README.md
  experiments/notebooks/utils/policy_selector_widget/package.json
  experiments/notebooks/utils/policy_selector_widget/policy_selector_widget/PolicySelectorWidget.py
  experiments/notebooks/utils/policy_selector_widget/policy_selector_widget/__init__.py
  experiments/notebooks/utils/policy_selector_widget/policy_selector_widget/static/index.js
  experiments/notebooks/utils/policy_selector_widget/policy_selector_widget/static/policy_selector_widget.css
  experiments/notebooks/utils/policy_selector_widget/policy_selector_widget/util.py
  experiments/notebooks/utils/policy_selector_widget/src/PolicySelector.tsx
  experiments/notebooks/utils/policy_selector_widget/src/index.tsx
  experiments/notebooks/utils/policy_selector_widget/src/styles.css
  experiments/notebooks/utils/policy_selector_widget/src/types.ts
  experiments/notebooks/utils/policy_selector_widget/tsconfig.json
  experiments/notebooks/utils/policy_selector_widget/turbo.jsonc
  experiments/notebooks/utils/policy_selector_widget/vite.config.js
  experiments/notebooks/utils/scorecard_widget/package.json
  experiments/notebooks/utils/scorecard_widget/scorecard_widget/ScorecardWidget.py
  experiments/notebooks/utils/scorecard_widget/scorecard_widget/util.py
  experiments/notebooks/utils/scorecard_widget/turbo.jsonc
  metta/setup/components/notebookwidgets.py
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: core, app_backend

agalite fixes
  agent/src/metta/agent/pytorch/agalite.py
  agent/src/metta/agent/pytorch/agalite_hybrid.py
Due: agent

plan phases
  docs/REORGANIZATION_PLAN.md
Due: core

make name consistent
  .github/workflows/sky-train.yml
Due: core

ruff format for Brandon
  experiments/marimo/01-hello-world-marimo.py
Due: core

Notebook hello world v1 (#2113)
  experiments/marimo/01-hello-world-marimo.py
  experiments/notebooks/01-hello-world.ipynb
  experiments/notebooks/01-hello-world.py
  experiments/pyproject.toml
  mettagrid/src/metta/mettagrid/renderer/miniscope.py
  mettagrid/src/metta/mettagrid/renderer/nethack.py
  mettagrid/tests/renderer/test_miniscope.py
  mettagrid/tests/renderer/test_nethack.py
  tests/tools/test_opportunistic_policy.py
  tests/tools/test_policy_selection.py
  tools/renderer.py
  uv.lock
Due: core, mettagrid

Path conditions:
  core: any file but: app_backend/, agent/, mettagrid/, common/, **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  app_backend: any of: app_backend/, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  agent: any of: agent/, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  mettagrid: any of: mettagrid/, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  mettagrid_cpp: any of: **/*.cpp, **/*.cc, **/*.cxx, **/*.c++, **/*.h, **/*.hpp, **/*.hh, **/*.hxx, **/*.h++, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  common: any of: common/, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
