Repository Metta-AI/metta: changes, and which Codecov flags are due for each by the changed paths.
All: core, app_backend, agent, mettagrid, mettagrid_cpp, common

codecov.yml:

# Codecov configuration for Metta-AI
# Documentation: https://docs.codecov.com/docs/codecov-yaml

# Wait for all CI jobs to complete before posting results
codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

# Coverage settings
coverage:
  # Round coverage to 2 decimal places
  precision: 2
  round: down

  # Status checks configuration
  status:
    # Project-wide coverage
    project:
      default:
        target: auto # Compare against base branch
        threshold: 1% # Allow 1% coverage drop
        base: auto
        informational: true # Won't fail PR, just inform

    # Coverage for changed lines only - this is your main gate
    patch:
      default:
        target: 50% # Minimum 50% coverage on new code
        threshold: 0% # No tolerance below 50%
        base: auto
        if_ci_failed: success # Don't fail if CI fails
        if_not_found: success # Don't fail if no coverage data

      # Additional informational patch check
      informational:
        target: 80% # Ideal target
        threshold: 0%
        informational: true # Won't fail, just shows as warning

# Pull request comment configuration
comment:
  layout: "header, diff, flags, components, files"
  behavior: default
  require_changes: false # Post comment even if no coverage change
  require_base: false # Don't require base coverage
  require_head: true # Must have head coverage to post
  hide_project_coverage: false # Show overall project coverage

# Flag configuration for different test suites
flags:
  core:
    paths:
      - "!app_backend/"
      - "!agent/"
      - "!mettagrid/"
      - "!common/"
    carryforward: true

  app_backend:
    paths:
      - app_backend/
    carryforward: true

  agent:
    paths:
      - agent/
    carryforward: true

  mettagrid:
    paths:
      - mettagrid/
    carryforward: true

  mettagrid_cpp:
    paths:
      - "**/*.cpp"
      - "**/*.cc"
      - "**/*.cxx"
      - "**/*.c++"
      - "**/*.h"
      - "**/*.hpp"
      - "**/*.hh"
      - "**/*.hxx"
      - "**/*.h++"
    carryforward: true

  common:
    paths:
      - common/
    carryforward: true

# Ignore certain paths from coverage
ignore:
  - "**/tests/"
  - "**/test_*.py"
  - "**/*_test.py"
  - "**/conftest.py"
  - "setup.py"
  - "**/migrations/"
  - "**/__pycache__/"
  - "**/node_modules/"
  - "**/*.pb.py" # Generated protobuf files
  - "**/*.pyi" # Type stub files
  - "**/fixtures/"
  - "**/mocks/"
  - "**/build/" # C++ build directories
  - "**/cmake-build-*/" # CLion/CMake build directories
  - "**/CMakeFiles/" # CMake generated files
  - "**/*.o" # Object files
  - "**/*.a" # Static libraries
  - "**/*.so" # Shared libraries
  - "**/*.dylib" # macOS dynamic libraries
  - "**/*.dll" # Windows dynamic libraries

# GitHub integration settings
github_checks:
  annotations: true # Show coverage annotations in PR files view

more minimal
  .github/actions/setup-uv/action.yml
Due: core

drop dup test
  .github/workflows/compile-mettascope.yml
  .github/workflows/test-mettascope.yml
Due: core

wip
  mettagrid/tests/test_curriculum.py
Due: none

wip
  common/src/metta/common/util/resolvers.py
  common/tests/util/test_resolvers.py
  configs/env/mettagrid/curriculum/navigation/learning_progress.yaml
  configs/env/mettagrid/curriculum/navigation/progressive.yaml
  configs/env/mettagrid/curriculum/navigation/subcurricula/defaults.yaml
  configs/env/mettagrid/curriculum/navigation/subcurricula/sparse.yaml
  configs/env/mettagrid/navigation/training/cylinder_world.yaml
  configs/env/mettagrid/navigation/training/defaults.yaml
  configs/env/mettagrid/navigation/training/large.yaml
  configs/env/mettagrid/navigation/training/medium.yaml
  configs/env/mettagrid/navigation/training/small.yaml
  configs/env/mettagrid/navigation/training/sparse.yaml
  configs/env/mettagrid/navigation/training/sparse_bucketed.yaml
  configs/env/mettagrid/navigation/training/sparse_bucketed_cfg.yaml
  configs/env/mettagrid/navigation/training/terrain_from_numpy.yaml
  configs/env/mettagrid/navigation/training/varied_terrain_balanced.yaml
  configs/env/mettagrid/navigation/training/varied_terrain_dense.yaml
  configs/env/mettagrid/navigation/training/varied_terrain_maze.yaml
  configs/env/mettagrid/navigation/training/varied_terrain_sparse.yaml
  configs/user/sasmith.yaml
  mettagrid/src/metta/mettagrid/curriculum/progressive.py
  mettagrid/src/metta/mettagrid/curriculum/sampling.py
Due: core, mettagrid, common

allow inline configs
  configs/env/mettagrid/curriculum/navigation/subcurricula/cylinder_world.yaml
  configs/env/mettagrid/curriculum/navigation/subcurricula/defaults.yaml
  configs/env/mettagrid/curriculum/navigation/subcurricula/large.yaml
  configs/env/mettagrid/curriculum/navigation/subcurricula/medium.yaml
  configs/env/mettagrid/curriculum/navigation/subcurricula/small.yaml
  configs/env/mettagrid/curriculum/navigation/subcurricula/sparse_bucketed.yaml
  configs/env/mettagrid/curriculum/navigation/subcurricula/sparse_bucketed_cfg.yaml
  configs/env/mettagrid/curriculum/navigation/subcurricula/sparse_cfg.yaml
  configs/env/mettagrid/curriculum/navigation/subcurricula/terrain_from_numpy.yaml
  configs/env/mettagrid/curriculum/navigation/subcurricula/varied_terrain_balanced.yaml
  configs/env/mettagrid/curriculum/navigation/subcurricula/varied_terrain_dense.yaml
  configs/env/mettagrid/curriculum/navigation/subcurricula/varied_terrain_maze.yaml
  configs/env/mettagrid/curriculum/navigation/subcurricula/varied_terrain_sparse.yaml
Due: core

refactor scene children
  metta/map/mapgen.py
  metta/map/scene.py
  metta/map/scenes/ascii.py
  metta/map/scenes/auto.py
  metta/map/scenes/layout.py
  metta/map/scenes/multi_left_and_right.py
  metta/map/scenes/random_objects.py
  metta/map/scenes/random_scene.py
  metta/map/scenes/random_scene_from_dir.py
  metta/map/types.py
  tests/map/scenes/utils.py
Due: core

Revert "Added debug prints"
  agent/src/metta/agent/metta_agent.py
  metta/rl/util/policy_management.py
Due: core, agent

try playwrite container
  .github/workflows/deploy-mettascope.yml
  .github/workflows/test-mettascope.yml
  mettascope/package.json
Due: core

update package lock
  mettascope/package-lock.json
Due: core

need more packages to train
  .github/workflows/test-mettascope.yml
Due: core

refactor scene tree
  metta/map/scene.py
  metta/map/scenes/room_grid.py
  tests/map/test_scene.py
Due: core

Make looking prettier
  metta/rl/util/policy_management.py
Due: core

custom docker image
  .github/workflows/build-mettascope-docker.yml
  .github/workflows/test-mettascope.yml
  mettascope/Dockerfile
Due: core

Update helm charts and local commands for deploying orchestrator on prod
  devops/charts/orchestrator/templates/deployment.yaml
  devops/charts/orchestrator/values.yaml
  metta/setup/local_commands.py
  metta/setup/metta_cli.py
  metta/setup/tools/local/kind.py
Due: core

need docker x
  .github/workflows/build-mettascope-docker.yml
Due: core

must be lowercase
  .github/workflows/build-mettascope-docker.yml
  .github/workflows/test-mettascope.yml
Due: core

non interactive mode
  mettascope/Dockerfile
Due: core

initial
  IMPLEMENTATION_SUMMARY.md
  agent/src/metta/agent/lib/environmental_context.py
  agent/src/metta/agent/metta_agent.py
  configs/agent/fast_with_context.yaml
  docs/environmental_context.md
  metta/rl/trainer.py
  metta/rl/util/rollout.py
  mettagrid/src/metta/mettagrid/mettagrid_env.py
  notebooks/mettabook-template.ipynb
  notebooks/research/example.ipynb
  recipes/navigation_with_context.sh
  tools/analyze_environmental_context.py
Due: core, agent, mettagrid

Fix last import
  experiments/notebooks/utils/replays.py
Due: core

adding tests
  recipes/navigation_with_context.sh
Due: core

creating recipes
  recipes/navigation_baseline.sh
Due: core

test for get_scene_tree
  tests/map/test_scene.py
Due: none

Remove comments
  metta/rl/util/policy_management.py
Due: core

smudges
  mettascope/src/context3d.ts
  mettascope/src/glyphtable.ts
  mettascope/src/minimap.ts
  mettascope/src/timeline.ts
  mettascope/src/traces.ts
  mettascope/src/worldmap.ts
  mettascope/tools/parse_json_z.py
Due: core

fix name
  .github/workflows/test-mettascope.yml
Due: core

fix version
  mettascope/Dockerfile
Due: core

Adding optional Converter config param. Now works with new recipe_details_obs config param.
  mettagrid/src/metta/mettagrid/mettagrid_c.cpp
  mettagrid/src/metta/mettagrid/mettagrid_c.pyi
  mettagrid/src/metta/mettagrid/mettagrid_c_config.py
  mettagrid/src/metta/mettagrid/mettagrid_config.py
  mettagrid/src/metta/mettagrid/objects/converter.hpp
Due: mettagrid, mettagrid_cpp

This commit contains the modification that actually works with the new recipe config options.
  configs/user/lsoros.yaml
  mettagrid/src/metta/mettagrid/mettagrid_c.cpp
Due: core, mettagrid, mettagrid_cpp

recipe refinement
  multirun/2025-07-23/18-57-33/0/.hydra/config.yaml
  multirun/2025-07-23/18-57-33/0/.hydra/hydra.yaml
  multirun/2025-07-23/18-57-33/0/.hydra/overrides.yaml
  multirun/2025-07-23/18-57-33/multirun.yaml
  multirun/2025-07-23/18-59-46/0/.hydra/config.yaml
  multirun/2025-07-23/18-59-46/0/.hydra/hydra.yaml
  multirun/2025-07-23/18-59-46/0/.hydra/overrides.yaml
  multirun/2025-07-23/18-59-46/multirun.yaml
  recipes/navigation_baseline.sh
  recipes/navigation_with_context.sh
Due: core

Load weights only on master rank (#1614)
  metta/rl/trainer.py
  metta/rl/util/__init__.py
  metta/rl/util/policy_management.py
Due: core

recipe refinement
  recipes/navigation_baseline.sh
  recipes/navigation_with_context.sh
Due: core

update-lsoros
  configs/user/lsoros.yaml
Due: core

Remove docker cli from policy evaluator dockerfile, supply helper to build amd64 image and push to eks
  devops/docker/Dockerfile.policy_evaluator
  devops/docker/push_image.py
  metta/setup/local_commands.py
  metta/setup/tools/local/kind.py
Due: core

add debug logging
  .github/workflows/test-mettascope.yml
Due: core

lint and change arg name
  metta/setup/local_commands.py
  metta/setup/metta_cli.py
  metta/setup/tools/local/kind.py
Due: core
