Repository Metta-AI/metta: changes, and which Codecov flags are due for each by the changed paths.
All: core, app_backend, agent, mettagrid, mettagrid_cpp, common

codecov.yml:

# Codecov configuration for Metta-AI
# Documentation: https://docs.codecov.com/docs/codecov-yaml

# Wait for all CI jobs to complete before posting results
codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

# Coverage settings
coverage:
  # Round coverage to 2 decimal places
  precision: 2
  round: down

  # Status checks configuration
  status:
    # Project-wide coverage
    project:
      default:
        target: auto # Compare against base branch
        threshold: 1% # Allow 1% coverage drop
        base: auto
        informational: true # Won't fail PR, just inform

    # Coverage for changed lines only - this is your main gate
    patch:
      default:
        target: 50% # Minimum 50% coverage on new code
        threshold: 0% # No tolerance below 50%
        base: auto
        if_ci_failed: success # Don't fail if CI fails
        if_not_found: success # Don't fail if no coverage data

      # Additional informational patch check
      informational:
        target: 80% # Ideal target
        threshold: 0%
        informational: true # Won't fail, just shows as warning

# Pull request comment configuration
comment:
  layout: "header, diff, flags, components, files"
  behavior: default
  require_changes: false # Post comment even if no coverage change
  require_base: false # Don't require base coverage
  require_head: true # Must have head coverage to post
  hide_project_coverage: false # Show overall project coverage

# Flag configuration for different test suites
flags:
  core:
    paths:
      - "!app_backend/"
      - "!agent/"
      - "!mettagrid/"
      - "!common/"
    carryforward: true

  app_backend:
    paths:
      - app_backend/
    carryforward: true

  agent:
    paths:
      - agent/
    carryforward: true

  mettagrid:
    paths:
      - mettagrid/
    carryforward: true

  mettagrid_cpp:
    paths:
      - "**/*.cpp"
      - "**/*.cc"
      - "**/*.cxx"
      - "**/*.c++"
      - "**/*.h"
      - "**/*.hpp"
      - "**/*.hh"
      - "**/*.hxx"
      - "**/*.h++"
    carryforward: true

  common:
    paths:
      - common/
    carryforward: true

# Ignore certain paths from coverage
ignore:
  - "**/tests/"
  - "**/test_*.py"
  - "**/*_test.py"
  - "**/conftest.py"
  - "setup.py"
  - "**/migrations/"
  - "**/__pycache__/"
  - "**/node_modules/"
  - "**/*.pb.py" # Generated protobuf files
  - "**/*.pyi" # Type stub files
  - "**/fixtures/"
  - "**/mocks/"
  - "**/build/" # C++ build directories
  - "**/cmake-build-*/" # CLion/CMake build directories
  - "**/CMakeFiles/" # CMake generated files
  - "**/*.o" # Object files
  - "**/*.a" # Static libraries
  - "**/*.so" # Shared libraries
  - "**/*.dylib" # macOS dynamic libraries
  - "**/*.dll" # Windows dynamic libraries

# GitHub integration settings
github_checks:
  annotations: true # Show coverage annotations in PR files view

phase 7 audit
  phase_7_audit.md
Due: core

tests re-add
  agent/tests/util/test_distribution_utils.py
  function_call_chains_audit.md
  tests/map/random/test_float.py
  tests/tools/test_opportunistic_policy.py
  tests/tools/test_policy_selection.py
Due: core

more mocks
  agent/src/metta/agent/mocks/mock_policy_record.py
  tests/test_num_episodes_bug.py
Due: agent

fix graphite code quality complaint
  metta/setup/components/nodejs.py
Due: core

mark as integration
  mettascope/tests/test_replay_format_validator.py
Due: none

removing mocks
  agent/src/metta/agent/mocks/__init__.py
  agent/src/metta/agent/mocks/mock_policy_record.py
  metta/eval/eval_stats_db.py
  metta/sim/policy_wrapper.py
  tests/eval/test_eval_stats_db.py
Due: core, agent

wip
  devops/skypilot/config/configure_environment.py
  devops/skypilot/config/runtime_monitors.py
  devops/skypilot/config/skypilot_run.py
Due: core

phase 6 engineering update
  phase_6_engineering.md
  tests/eval/test_eval_stats_db.py
  tests/test_num_episodes_bug.py
Due: core

move run.py code to common, provide "tool" script alias, minimal tests
  common/pyproject.toml
  common/src/metta/common/config/run_tool.py
  common/tests/config/fixtures/extra-import-root/mypackage/tools.py
  common/tests/config/test_run_tool.py
  tools/run.py
Due: core, common

lint
  agent/tests/util/test_distribution_utils.py
  mettascope/tests/test_replay_format_validator.py
  tests/map/random/test_float.py
  tests/map/random/test_int.py
  tests/map/scenes/test_ascii.py
  tests/map/scenes/test_convchain.py
  tests/map/scenes/test_multi_left_and_right.py
  tests/map/scenes/test_nop.py
  tests/map/scenes/test_random_objects.py
  tests/map/scenes/test_random_scene.py
  tests/map/scenes/test_random_scene_from_dir.py
  tests/map/scenes/test_remove_agents.py
  tests/map/scenes/test_wfc.py
  tests/tools/test_opportunistic_policy.py
  tests/tools/test_policy_selection.py
Due: none

move run.py code to common, provide "tool" script alias, minimal tests (#2340)
  common/pyproject.toml
  common/src/metta/common/config/run_tool.py
  common/tests/config/fixtures/extra-import-root/mypackage/tools.py
  common/tests/config/test_run_tool.py
  tools/run.py
Due: core, common

lint issue
  mettagrid/tests/test_global_reward_observations.py
Due: none

targeted cooling: add back 10% tests. Want to go after slow, spurious tests not fast, coverage tests (#2371)
  agent/tests/util/test_distribution_utils.py
  function_call_chains_audit.md
  mettascope/tests/test_replay_format_validator.py
  tests/map/random/test_float.py
  tests/map/random/test_int.py
  tests/map/scenes/test_ascii.py
  tests/map/scenes/test_convchain.py
  tests/map/scenes/test_multi_left_and_right.py
  tests/map/scenes/test_nop.py
  tests/map/scenes/test_random_objects.py
  tests/map/scenes/test_random_scene.py
  tests/map/scenes/test_remove_agents.py
  tests/map/scenes/test_wfc.py
  tests/tools/test_opportunistic_policy.py
  tests/tools/test_policy_selection.py
Due: core

fix file name
  devops/skypilot/README.md
  devops/skypilot/connect.py
Due: core

reduce duplicate tets
  tests/map/scenes/test_simple_generators.py
Due: none

fix paths
  devops/skypilot/config/sandbox.yaml
  devops/skypilot/config/skypilot_run.py
  devops/skypilot/config/skypilot_run.yaml
Due: core

cooling: remove duplicate tests (#2372)
  tests/map/scenes/test_simple_generators.py
Due: none

phase 8 audit
  phase_8_audit.md
Due: core

phase 7 engineering
  agent/src/metta/agent/policy_metadata.py
  metta/rl/evaluate.py
  metta/rl/kickstarter.py
  metta/rl/simple_checkpoint_manager.py
  metta/rl/stats.py
  metta/rl/tiny_checkpoint_manager.py
  metta/rl/trainer.py
  metta/rl/wandb.py
  metta/sim/simple_policy_store.py
  metta/sim/simulation_stats_db.py
  metta/sim/utils.py
  metta/tools/analyze.py
  metta/tools/play.py
  metta/tools/replay.py
  metta/tools/sim.py
  metta/tools/train.py
  phase_7_engineering.md
  tests/rl/test_simple_checkpoint_manager_caching.py
  tests/rl/test_simple_checkpoint_manager_comprehensive.py
  tests/sim/test_simulation_stats_db_simple_checkpoint.py
Due: core, agent

lint
  metta/rl/evaluate.py
  tests/rl/test_simple_checkpoint_manager_caching.py
  tests/rl/test_simple_checkpoint_manager_comprehensive.py
  tests/sim/test_simulation_stats_db_simple_checkpoint.py
Due: core

lint
  mettagrid/tests/test_global_reward_observations.py
Due: none

tiny to normal
  metta/rl/checkpoint_manager.py
  metta/rl/evaluate.py
  metta/rl/kickstarter.py
  metta/rl/trainer.py
  metta/sim/simulation_stats_db.py
  metta/tools/analyze.py
  metta/tools/play.py
  metta/tools/replay.py
  metta/tools/sim.py
  metta/tools/train.py
  tests/sim/test_simulation_stats_db.py
  tests/sim/test_simulation_stats_db_simple_checkpoint.py
Due: core

audit
  phase_9_audit.md
Due: core

nuclear tiny
  phase_8_engineering.md
Due: core

dry up mettagrid/tests/test_global_reward_observations.py (#2344)
  mettagrid/tests/test_global_reward_observations.py
Due: none

addressed todos
  metta/rl/trainer.py
  metta/sim/simulation.py
  metta/tools/play.py
  metta/tools/replay.py
Due: core

address imports
  metta/sim/simulation.py
Due: core

Phase 9: Nuclear Simplification Complete - PolicyRecord/PolicyStore Elimination
  metta/sim/simulation.py
  metta/tools/replay.py
  phase_9_engineering.md
Due: core

add command
  common/src/metta/common/util/constants.py
  common/src/metta/common/util/github.py
  gitta/src/gitta/__init__.py
Due: core, common

useful agents
  .claude/agents/agent-architecture-auditor.md
  .claude/agents/content-writer.md
  .claude/agents/frontend-designer.md
  .claude/agents/prd-writer.md
  .claude/agents/rl-trainer-debugger.md
  .claude/agents/vibe-coding-coach.md
Due: core

switch to gitta package
  devops/skypilot/config/skypilot_run.py
Due: core

add spelling
  .cspell.json
Due: core

Fix remaining PolicyRecord references and linting issues
  metta/sim/simulation.py
Due: core

cleaner succinct agents
  .claude/agents/agent.md
  .claude/agents/checkpoint.md
  .claude/agents/code-refactorer.md
  .claude/agents/config.md
  .claude/agents/data.md
  .claude/agents/env.md
  .claude/agents/metrics.md
  .claude/agents/perf.md
  .claude/agents/project-task-planner.md
  .claude/agents/security.md
  .claude/agents/trainer.md
Due: core

switch to discord script
  devops/skypilot/config/skypilot_run.py
Due: core

better agent structure
  .claude/agents/agent.md
  .claude/agents/checkpoint.md
  .claude/agents/config.md
  .claude/agents/data.md
  .claude/agents/env.md
  .claude/agents/metrics.md
  .claude/agents/perf.md
  .claude/agents/trainer.md
Due: core

remove stale yaml files (#2357)
  mettagrid/configs/benchmark.yaml
  mettagrid/configs/test_basic.yaml
Due: mettagrid

remove scene-from-file support from mapgen
  metta/map/load.py
  metta/map/mapgen.py
  metta/map/scene.py
  metta/map/scenes/mirror.py
  metta/map/scenes/random_scene.py
  metta/map/scenes/random_scene_from_dir.py
  tests/map/scenes/test_random_scene_from_dir.py
Due: core

start of sweep orchestrator
  metta/sweep/sweep.py
  metta/sweep/sweep_orchestrator.py
Due: core

switch to a comment
  mettagrid/src/metta/mettagrid/actions/move.hpp
Due: mettagrid, mettagrid_cpp
