Repository Metta-AI/metta: changes, and which Codecov flags are due for each by the changed paths.
All: core, app_backend, agent, mettagrid, mettagrid_cpp, common

cooling: imports to top, top docstring to 🪦 (#2380)
  agent/src/metta/agent/lib/nn_layer_library.py
  devops/skypilot/config/preflight/test_nccl.py
  metta/rl/experience.py
  metta/sim/thumbnail_automation.py
  metta/tools/replay.py
  metta/tools/sim.py
  tests/map/random/test_float.py
  tests/map/random/test_int.py
  tests/rl/test_kickstarter.py
  tests/rl/test_losses.py
  tests/sweep/test_protein_metta.py
  tests/sweep/test_sweep_script_integration.py
  tests/test_programmatic_env_creation.py
Due: core, agent

fix eval task worker after change to gitta
  app_backend/src/metta/app_backend/eval_task_worker.py
  devops/git/monorepo.py
Due: core, app_backend

fix eval task worker after change to gitta (#2382)
  app_backend/src/metta/app_backend/eval_task_worker.py
  devops/git/monorepo.py
Due: core, app_backend

accumulate in seconds
  devops/skypilot/config/configure_environment.py
  devops/skypilot/config/runtime_monitors.py
  devops/skypilot/config/skypilot_run.py
Due: core

[MettaScope2] add binary to gitignore (#2381)
  mettascope2/.gitignore
Due: core

add mettascope2 nim build
  .github/workflows/build-mettascope2.yml
Due: core

remove comments
  .github/workflows/build-mettascope2.yml
Due: core

add repo token
  .github/workflows/build-mettascope2.yml
Due: core

adjust build triggers
  .github/workflows/build-mettascope2.yml
Due: core

Update .github/workflows/build-mettascope2.yml
  .github/workflows/build-mettascope2.yml
Due: core

add data files
  .github/workflows/build-mettascope2.yml
Due: core

add replay so the artifact can work
  .github/workflows/build-mettascope2.yml
Due: core

change output location
  .github/workflows/build-mettascope2.yml
Due: core

centralize logging
  .cspell.json
  common/src/metta/common/util/skypilot_latency.py
  devops/skypilot/config/configure_environment.py
  devops/skypilot/config/runtime_monitors.py
  devops/skypilot/config/skypilot_logging.py
  devops/skypilot/config/skypilot_run.py
  devops/skypilot/launch.py
Due: core, common

feat: add top-level codebot package init and fix pyproject.toml package structure
  codebot/__init__.py
Due: core

test: add test file for verifying codebot refactor and git layer
  merge_test.py
Due: none

phase 14 audit
  phase_14_audit.md
Due: core

adjust logs
  .cspell.json
  devops/skypilot/config/skypilot_run.py
  devops/skypilot/config/test_nccl.py
Due: core

new Checkpoint everywhere
  experiments/marimo/01-hello-world-marimo.py
  metta/eval/analysis_config.py
  metta/setup/local_commands.py
  metta/setup/shell.py
Due: core

changes
  metta/setup/local_commands.py
  metta/setup/shell.py
Due: core

rename some env_config
  mettagrid/tests/test_env_config_serialization.py
  mettagrid/tests/test_env_map.py
  tests/test_programmatic_env_creation.py
Due: none

Rename some env_cfg to cfg
  mettagrid/tests/test_interactive.py
  mettagrid/tests/test_mettagrid.py
  mettagrid/tests/test_move.py
  mettagrid/tests/test_resource_loss.py
  tests/cogworks/curriculum/test_curriculum.py
  tests/cogworks/curriculum/test_task.py
  tests/tools/test_opportunistic_policy.py
  tests/tools/test_policy_selection.py
Due: none

cleanup: remove old manybot directory structure after successful migration
  codebot/pyproject.toml
  manybot/codebot/MCP_SERVER.md
  manybot/codebot/codebot/__init__.py
  manybot/codebot/codebot/cli.py
  manybot/codebot/codebot/command_models.py
  manybot/codebot/codebot/commands.py
  manybot/codebot/codebot/git_layer.py
  manybot/codebot/codebot/git_utils.py
  manybot/codebot/codebot/mcp_server.py
  manybot/codebot/codebot/models.py
  manybot/codebot/codebot/summary_models.py
  manybot/codebot/pyproject.toml
  merge_test.py
  uv.lock
Due: core

Rename some env_cfg to cfg (#2364)
  mettagrid/tests/test_env_config_serialization.py
  mettagrid/tests/test_env_map.py
  mettagrid/tests/test_interactive.py
  mettagrid/tests/test_mettagrid.py
  mettagrid/tests/test_move.py
  mettagrid/tests/test_resource_loss.py
  tests/cogworks/curriculum/test_curriculum.py
  tests/cogworks/curriculum/test_task.py
  tests/test_programmatic_env_creation.py
  tests/tools/test_opportunistic_policy.py
  tests/tools/test_policy_selection.py
Due: none

new plan
  phase_14_plan.md
Due: core

test: add file for gitta migration testing
  gitta_test.py
Due: none

commands for new Checkpoint class
  metta/rl/checkpoint_manager.py
  metta/setup/local_commands.py
  metta/tools/sim.py
Due: core

refactor: migrate git operations from git_utils to gitta library
  codebot/manybot/commands.py
  codebot/manybot/git_layer.py
  gitta_test.py
Due: core

cleanup: remove unused git_utils.py after successful migration to gitta
  codebot/manybot/git_utils.py
  gitta_test.py
Due: core

[MettaScope2] build mettascope2 in CI (#2383)
  .github/workflows/build-mettascope2.yml
Due: core

streamline diff
  CLAUDE.md
  experiments/marimo/01-hello-world-marimo.py
  metta/rl/checkpoint_interface.py
  metta/rl/checkpoint_manager.py
  metta/sim/simulation_stats_db.py
Due: core

culling the files
  phase_10_audit.md
  phase_10_completion.md
  phase_11_nextsteps.md
  phase_12_compare_contrast.md
  phase_13_nuclear_simplification.md
  phase_14_audit.md
  phase_14_plan.md
  phase_1_policy_design.md
  phase_2_complete_design.md
  phase_3_progress.md
  phase_4_policyx_removal_risks.md
  phase_5_audit.md
  phase_5_engineering.md
  phase_6_audit.md
  phase_6_engineering.md
  phase_7_audit.md
  phase_7_engineering.md
  phase_8_audit.md
  phase_8_engineering.md
  phase_9_audit.md
  phase_9_engineering.md
  policy_cull_status.md
Due: core

rm shutdown fn
  .cspell.json
  devops/skypilot/config/runtime_monitors.py
  devops/skypilot/config/skypilot_run.py
  devops/skypilot/launch.py
Due: core

fix observatory backend after gitta introduction
  app_backend/pyproject.toml
  uv.lock
Due: core, app_backend

checkpointing
  metta/rl/checkpoint_manager.py
  metta/rl/policy_uri_resolver.py
  metta/rl/wandb_policy_loader.py
  metta/tools/sim.py
Due: core

revert
  devops/skypilot/launch.py
Due: core

Add short url to k8s pod statuses dashboard in datadog to home.softmax-research.net
  home/links.yaml
Due: core

Default to no remote evaluation for local development.
  experiments/recipes/scratchpad/example.py
Due: core

pre deletion
  phase_10_audit.md
  phase_10_completion.md
  phase_11_nextsteps.md
  phase_12_compare_contrast.md
  phase_13_nuclear_simplification.md
  phase_14_audit.md
  phase_14_plan.md
  phase_1_policy_design.md
  phase_2_complete_design.md
  phase_3_progress.md
  phase_4_policyx_removal_risks.md
  phase_5_audit.md
  phase_5_engineering.md
  phase_6_audit.md
  phase_6_engineering.md
  phase_7_audit.md
  phase_7_engineering.md
  phase_8_audit.md
  phase_8_engineering.md
  phase_9_audit.md
  phase_9_engineering.md
Due: core

concise
  metta/eval/eval_service.py
  metta/eval/eval_stats_db.py
  metta/rl/checkpoint_interface.py
  metta/rl/checkpoint_manager.py
  metta/tools/sim.py
Due: core

Path conditions:
  core: any file but: app_backend/, agent/, mettagrid/, common/, **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  app_backend: any of: app_backend/, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  agent: any of: agent/, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  mettagrid: any of: mettagrid/, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  mettagrid_cpp: any of: **/*.cpp, **/*.cc, **/*.cxx, **/*.c++, **/*.h, **/*.hpp, **/*.hh, **/*.hxx, **/*.h++, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  common: any of: common/, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
