Repository Metta-AI/metta: changes, and which Codecov flags are due for each by the changed paths.
All: core, app_backend, agent, mettagrid, mettagrid_cpp, common

codecov.yml:

# Codecov configuration for Metta-AI
# Documentation: https://docs.codecov.com/docs/codecov-yaml

# Wait for all CI jobs to complete before posting results
codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

# Coverage settings
coverage:
  # Round coverage to 2 decimal places
  precision: 2
  round: down

  # Status checks configuration
  status:
    # Project-wide coverage
    project:
      default:
        target: auto # Compare against base branch
        threshold: 1% # Allow 1% coverage drop
        base: auto
        informational: true # Won't fail PR, just inform

    # Coverage for changed lines only - this is your main gate
    patch:
      default:
        target: 50% # Minimum 50% coverage on new code
        threshold: 0% # No tolerance below 50%
        base: auto
        if_ci_failed: success # Don't fail if CI fails
        if_not_found: success # Don't fail if no coverage data

      # Additional informational patch check
      informational:
        target: 80% # Ideal target
        threshold: 0%
        informational: true # Won't fail, just shows as warning

# Pull request comment configuration
comment:
  layout: "header, diff, flags, components, files"
  behavior: default
  require_changes: false # Post comment even if no coverage change
  require_base: false # Don't require base coverage
  require_head: true # Must have head coverage to post
  hide_project_coverage: false # Show overall project coverage

# Flag configuration for different test suites
flags:
  core:
    paths:
      - "!app_backend/"
      - "!agent/"
      - "!mettagrid/"
      - "!common/"
    carryforward: true

  app_backend:
    paths:
      - app_backend/
    carryforward: true

  agent:
    paths:
      - agent/
    carryforward: true

  mettagrid:
    paths:
      - mettagrid/
    carryforward: true

  mettagrid_cpp:
    paths:
      - "**/*.cpp"
      - "**/*.cc"
      - "**/*.cxx"
      - "**/*.c++"
      - "**/*.h"
      - "**/*.hpp"
      - "**/*.hh"
      - "**/*.hxx"
      - "**/*.h++"
    carryforward: true

  common:
    paths:
      - common/
    carryforward: true

# Ignore certain paths from coverage
ignore:
  - "**/tests/"
  - "**/test_*.py"
  - "**/*_test.py"
  - "**/conftest.py"
  - "setup.py"
  - "**/migrations/"
  - "**/__pycache__/"
  - "**/node_modules/"
  - "**/*.pb.py" # Generated protobuf files
  - "**/*.pyi" # Type stub files
  - "**/fixtures/"
  - "**/mocks/"
  - "**/build/" # C++ build directories
  - "**/cmake-build-*/" # CLion/CMake build directories
  - "**/CMakeFiles/" # CMake generated files
  - "**/*.o" # Object files
  - "**/*.a" # Static libraries
  - "**/*.so" # Shared libraries
  - "**/*.dylib" # macOS dynamic libraries
  - "**/*.dll" # Windows dynamic libraries

# GitHub integration settings
github_checks:
  annotations: true # Show coverage annotations in PR files view

components example
  REFACTORING_SUMMARY.md
  experiments/notebooks/mettabook-template.ipynb
  experiments/notebooks/research/example.ipynb
  metta/rl/components/__init__.py
  metta/rl/components/environment_manager.py
  metta/rl/components/evaluation_manager.py
  metta/rl/components/optimizer_manager.py
  metta/rl/components/rollout_manager.py
  metta/rl/components/stats_manager.py
  metta/rl/components/trainer.py
  metta/rl/components/training_manager.py
  metta/rl/trainer_component.py
  run_component.py
  run_refactored.py
  tools/train_component.py
Due: core

hydrate/dehydrate fixes
  agent/src/metta/agent/lib/action.py
  agent/src/metta/agent/metta_agent.py
  metta/rl/experience.py
Due: core, agent

maybe a registry?
  agent/src/metta/agent/lib/action.py
  agent/src/metta/agent/metta_agent.py
  agent/src/metta/agent/policy_store.py
  agent/src/metta/agent/registry.py
  experiments/notebooks/mettabook-template.ipynb
  experiments/notebooks/research/example.ipynb
  tests/test_registry.py
  uv.lock
Due: core, agent

fixed some workflow differences
  metta/rl/components/environment_manager.py
  metta/rl/components/evaluation_manager.py
  metta/rl/components/stats_manager.py
  metta/rl/components/trainer.py
  tools/train_component.py
Due: core

skip unit tests that rely on docker daemon if it is not available (#1679)
  app_backend/tests/conftest.py
  app_backend/tests/test_docker_integration.py
  conftest.py
  metta/common/__init__.py
  metta/common/tests/__init__.py
  metta/common/tests/fixtures.py
  tests/devops/test_docker_image_builds.py
Due: core

ugh render is a hot loop
  mettagrid/src/metta/mettagrid/mettagrid_env.py
Due: mettagrid

runtime fixes
  metta/rl/components/environment_manager.py
  metta/rl/components/trainer.py
  run.py
  run_component.py
  run_refactored.py
  tools/train_component.py
Due: core

more apparent rendering stuff?
  .github/actions/setup-uv/action.yml
  mettagrid/pyproject.toml
  mettagrid/src/metta/mettagrid/mettagrid_env.py
  pyproject.toml
  uv.lock
Due: core, mettagrid

Clean up movement tests (#1680)
  mettagrid/tests/test_movement_metrics.py
  mettagrid/tests/test_wandb_movement_metrics.py
  uv.lock
Due: core

Switch navigation training to be bucketed curricula instead of using random resolvers (#1654)
  configs/env/mettagrid/curriculum/all.yaml
  configs/env/mettagrid/curriculum/navigation/bucketed.yaml
  configs/env/mettagrid/curriculum/navigation/prioritize_regressed.yaml
  configs/env/mettagrid/curriculum/navsequence/nav_backchain.yaml
  configs/env/mettagrid/curriculum/navsequence/nav_backchain_mem.yaml
  configs/env/mettagrid/curriculum/navsequence/nav_mem.yaml
  configs/env/mettagrid/curriculum/navsequence/nav_navsequence_backchain.yaml
  configs/env/mettagrid/navigation/training/cylinder_world.yaml
  configs/env/mettagrid/navigation/training/large.yaml
  configs/env/mettagrid/navigation/training/medium.yaml
  configs/env/mettagrid/navigation/training/small.yaml
  configs/env/mettagrid/navigation/training/terrain_from_numpy.yaml
  configs/env/mettagrid/navigation/training/terrain_from_numpy_defaults.yaml
  configs/env/mettagrid/navigation/training/varied_terrain_balanced.yaml
  configs/env/mettagrid/navigation/training/varied_terrain_dense.yaml
  configs/env/mettagrid/navigation/training/varied_terrain_maze.yaml
  configs/env/mettagrid/navigation/training/varied_terrain_sparse.yaml
  configs/user/sasmith.yaml
  metta/interface/evaluation.py
  recipes/navigation.sh
  tests/test_validate_all_envs.py
Due: core

speed up install dont verify deps are importable
  metta/setup/components/core.py
Due: core

speed up install dont verify deps are importable (#1684)
  metta/setup/components/core.py
Due: core

ruff merges
  experiments/notebooks/mettabook-template.ipynb
  experiments/notebooks/research/example.ipynb
  mettagrid/src/metta/mettagrid/core.py
  mettagrid/tests/renderer/test_render_modes.py
  uv.lock
Due: core, mettagrid

npm -> pnpm
  devops/macos/Brewfile
  flake.nix
  gridworks/pnpm-workspace.yaml
  library/pnpm-lock.yaml
  metta/setup/components/observatory_fe.py
  mettascope/AGENTS.md
  mettascope/install.sh
  mettascope/package-lock.json
  mettascope/package.json
  mettascope/pnpm-lock.yaml
  mettascope/pnpm-workspace.yaml
  observatory/Dockerfile
  observatory/README.md
  observatory/package-lock.json
  observatory/package.json
  observatory/pnpm-lock.yaml
  observatory/pnpm-workspace.yaml
Due: core

allow more pnpm builds
  pnpm-workspace.yaml
Due: core

single pnpm workspace
  gridworks/package.json
  gridworks/pnpm-lock.yaml
  gridworks/pnpm-workspace.yaml
  mettascope/pnpm-lock.yaml
  mettascope/pnpm-workspace.yaml
  observatory/pnpm-lock.yaml
  observatory/pnpm-workspace.yaml
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: core

fix CI
  .github/workflows/test-mettascope.yml
Due: core

[MettaScope] trace panel caching (#1660)
  mettascope/data/atlas/trace/get_items.png
  mettascope/data/atlas/trace/put_items.png
  mettascope/src/context3d.ts
  mettascope/src/main.ts
  mettascope/src/replay.ts
  mettascope/src/traces.ts
Due: core

[MettaScope] Improve hover bubbles (#1637)
  mettascope/src/common.ts
  mettascope/src/hoverbubbles.ts
  mettascope/src/main.ts
  mettascope/src/worldmap.ts
Due: core

[MettaScope] gamepad support (#1633)
  mettascope/src/actions.ts
  mettascope/src/main.ts
Due: core

[MettaScope] add arrow keys to input (#1631)
  mettascope/src/actions.ts
Due: core

one more CI fix
  .github/workflows/test-mettascope.yml
Due: core

extra trusted keys
  flake.nix
Due: core

CI fixes; top-level package.json
  .github/workflows/deploy-mettascope.yml
  .github/workflows/test-mettascope.yml
  package.json
Due: core
