Repository Metta-AI/metta: changes, and which Codecov flags are due for each by the changed paths.
All: core, app_backend, agent, mettagrid, mettagrid_cpp, common

sim.py dehydrated (wip)
  tools/analyze.py
Due: core

SimTool is running, SceneCofnig is pydantic
  experiments/evals/run.py
  experiments/evals/suites/navigation.py
  metta/map/load.py
  metta/map/load_random.py
  metta/map/load_random_from_index.py
  metta/map/mapgen.py
  metta/map/mapgen_ascii.py
  metta/map/scene.py
  metta/map/scenes/ascii.py
  metta/map/scenes/auto.py
  metta/map/scenes/mirror.py
  metta/map/scenes/multi_left_and_right.py
  metta/map/scenes/random_objects.py
  metta/map/scenes/random_scene.py
  metta/map/scenes/random_scene_from_dir.py
  metta/map/types.py
  metta/tools/sim.py
  mettagrid/src/metta/mettagrid/config/envs.py
  mettagrid/src/metta/mettagrid/map_builder/__init__.py
  mettagrid/tests/map_builder/test_polymorphic_serialization.py
  tests/map/scenes/test_make_connected.py
  tests/map/scenes/test_remove_agents.py
  tests/map/scenes/test_room_grid.py
  tests/map/scenes/utils.py
  tests/map/test_scene.py
  tools/run.py
Due: core, mettagrid

more mapgen cleanups
  experiments/evals/registry.py
  experiments/user/berekuk.py
  metta/map/load.py
  metta/map/mapgen.py
  metta/map/scene.py
  metta/map/scenes/mirror.py
  metta/map/scenes/random_scene.py
  mettagrid/src/metta/mettagrid/config/envs.py
Due: core, mettagrid

seed_everything
  common/src/metta/common/util/tool.py
  metta/rl/system_config.py
  metta/tools/play.py
  metta/tools/train.py
  tools/run.py
Due: core, common

wip
  agent/src/metta/agent/policy_store.py
  experiments/user/berekuk.py
  metta/tools/analyze.py
  metta/tools/play.py
  metta/tools/replay.py
  metta/tools/sim.py
  metta/tools/train.py
  tools/sim.py
Due: core, agent

fixes
  metta/tools/play.py
  tools/play.py
  tools/run.py
Due: core

cleanup legacy mapgen-related builders
  configs/env/mettagrid/game/map_builder/load_random.yaml
  docs/mapgen.md
  metta/map/load.py
  metta/map/load_random.py
  metta/map/load_random_from_index.py
  metta/map/tools/view.py
  metta/map/utils/storable_map.py
Due: core

fix rebase
  metta/tools/play.py
Due: core

convert stats_duckdb_cli
  tools/stats_duckdb_cli.py
Due: core

cp
  agent/src/metta/agent/policy_store.py
  app_backend/src/metta/app_backend/clients/stats_client.py
  common/src/metta/common/util/stats_client_cfg.py
  experiments/arena/arena.py
  experiments/user/daveey.py
  metta/core/distributed.py
  metta/rl/system_config.py
  metta/rl/trainer.py
  metta/rl/trainer_config.py
  metta/setup/local_commands.py
  metta/setup/shell.py
  tools/play.py
  tools/replay.py
  tools/request_eval.py
  tools/sim.py
  tools/train.py
  tools/utils.py
Due: core, app_backend, agent, common

dehydrated nav evals
  .gitignore
  configs/env/mettagrid/mettagrid.yaml
  configs/env/mettagrid/navigation/evals/labyrinth.yaml
  experiments/evals/navigation.py
  experiments/user/berekuk.py
  metta/tools/sim.py
  mettagrid/src/metta/mettagrid/config/envs.py
  mettagrid/src/metta/mettagrid/map_builder/__init__.py
  mettagrid/tests/map_builder/test_polymorphic_serialization.py
Due: core, mettagrid

dcss_import tool
  metta/map/scene.py
  metta/map/tools/dcss_import.py
  metta/map/tools/gen.py
  metta/map/tools/gen_scene.py
Due: core

cp
  arena/daveey-test-run-3/checkpoints/model_0000.pt
  arena/daveey-test-run-3/checkpoints/model_0010.pt
  arena/daveey-test-run-3/checkpoints/model_0020.pt
  configs/user/daveey.yaml
  experiments/arena/arena.py
  experiments/user/daveey.py
  metta/map/__init__.py
  metta/map/mapgen.py
  metta/map/terrain_from_numpy.py
  metta/rl/torch_profiler.py
  metta/rl/trainer_config.py
  metta/sim/simulation.py
  metta/tools/train.py
  mettagrid/src/metta/mettagrid/config/envs.py
  mettagrid/src/metta/mettagrid/map_builder/__init__.py
  mettagrid/src/metta/mettagrid/mettagrid_config.py
  mettagrid/src/metta/mettagrid/test_support/__init__.py
  mettagrid/tests/map_builder/test_ascii.py
  mettagrid/tests/map_builder/test_polymorphic_serialization.py
  tests/map/test_mapgen.py
  tools/run.py
Due: core, mettagrid

cp
  .vscode/launch.json
  devops/train.sh
  experiments/user/daveey.py
  metta/core/distributed.py
  metta/rl/trainer.py
  metta/rl/trainer_config.py
  metta/tools/train.py
  tools/run.py
Due: core

tools/run.py
  common/src/metta/common/util/tool.py
  experiments/arena/arena.py
  experiments/user/daveey.py
  metta/rl/system_config.py
  metta/tools/play.py
  mettascope/server.py
  tools/replay.py
  tools/run.py
  tools/train.py
Due: core, common

fix --overrides
  common/src/metta/common/util/config.py
  tools/run.py
Due: core, common

cleanup mapgen types
  metta/map/mapgen_ascii.py
  metta/map/scene.py
  metta/map/utils/dcss.py
  metta/map/utils/make_scene_config.py
  tests/map/scenes/test_ascii.py
  tests/map/scenes/test_auto.py
  tests/map/scenes/test_bsp.py
  tests/map/scenes/test_convchain.py
  tests/map/scenes/test_inline_ascii.py
  tests/map/scenes/test_layout.py
  tests/map/scenes/test_make_connected.py
  tests/map/scenes/test_maze.py
  tests/map/scenes/test_mean_distance.py
  tests/map/scenes/test_mirror.py
  tests/map/scenes/test_multi_left_and_right.py
  tests/map/scenes/test_nop.py
  tests/map/scenes/test_radial_maze.py
  tests/map/scenes/test_random.py
  tests/map/scenes/test_random_objects.py
  tests/map/scenes/test_random_scene.py
  tests/map/scenes/test_random_scene_from_dir.py
  tests/map/scenes/test_remove_agents.py
  tests/map/scenes/test_room_grid.py
  tests/map/scenes/test_wfc.py
  tests/map/scenes/utils.py
  tests/map/test_mapgen.py
  tests/map/utils/test_storable_map_io.py
Due: core

wip
  configs/common.yaml
  configs/train_job.yaml
  configs/user/ci.yaml
  metta/util/init/mettagrid_system.py
  metta/util/metta_script.py
  tools/play.py
  tools/replay.py
  tools/train.py
Due: core

init_mettagrid_system_environment is back
  metta/util/init/mettagrid_system.py
  tools/run.py
Due: core

fix empty overrides; port tools/replay and tools/analyze
  experiments/arena/arena.py
  metta/tools/analyze.py
  metta/tools/replay.py
  mettascope/server.py
  tools/analyze.py
  tools/run.py
Due: core

cp
  .cspell.json
  experiments/arena.py
  experiments/arena/__init__.py
  experiments/evals/__init__.py
  experiments/evals/navigation.py
  experiments/navigation.py
  metta/cogworks/curriculum/learning_progress.py
  metta/cogworks/curriculum/task_generator.py
  mettagrid/src/metta/mettagrid/config/envs.py
Due: core, mettagrid

minor cleanups
  metta/eval/analysis_config.py
  metta/map/scene.py
  metta/tools/analyze.py
  metta/tools/play.py
  metta/tools/sim.py
  metta/tools/train.py
Due: core

remove hydraless_metta_script
  metta/util/metta_script.py
Due: core

more mapgen refactorings
  experiments/evals/navigation.py
  experiments/evals/run.py
  metta/map/load.py
  metta/map/mapgen.py
  metta/map/scene.py
  metta/map/scenes/ascii.py
  metta/map/scenes/auto.py
  metta/map/scenes/mirror.py
  metta/map/scenes/multi_left_and_right.py
  metta/map/scenes/random_objects.py
  metta/map/scenes/random_scene_from_dir.py
  metta/map/tools/gen.py
  metta/map/tools/gen_scene.py
  metta/map/tools/view.py
  metta/map/utils/make_scene_config.py
  metta/map/utils/show.py
  metta/map/utils/storable_map.py
  mettagrid/src/metta/mettagrid/config/envs.py
  tests/map/scenes/test_make_connected.py
  tests/map/scenes/test_mirror.py
  tests/map/scenes/test_random_scene.py
  tests/map/scenes/test_remove_agents.py
  tests/map/test_scene.py
  tests/map/utils/test_storable_map_io.py
  tools/map/gen.py
  tools/map/gen_scene.py
  tools/map/view.py
  tools/run.py
Due: core, mettagrid

cleanup labels
  metta/map/scene.py
  metta/map/scenes/copy_grid.py
  metta/map/scenes/room_grid.py
  metta/map/scenes/transplant_scene.py
  metta/map/scenes/varied_terrain.py
Due: core

CUDA OOM Fix (#2158)
  metta/rl/vecenv.py
Due: core

evals registry
  app_backend/src/metta/app_backend/eval_task_worker.py
  experiments/evals/registry.py
  experiments/evals/run.py
  experiments/evals/suites/navigation.py
  metta/eval/eval_service.py
  metta/tools/sim.py
Due: core, app_backend

fix test_observations to ude new EnvConfig
  mettagrid/tests/test_observations.py
Due: none

fix wall config and agents serialization migration issues
  mettagrid/tests/test_8way_movement.py
  mettagrid/tests/test_cardinal_movement.py
  mettagrid/tests/test_gym_env.py
  mettagrid/tests/test_interactive.py
  mettagrid/tests/test_pettingzoo_env.py
Due: none

cp
  agent/src/metta/agent/policy_store.py
  common/src/metta/common/wandb/wandb_context.py
  common/tests/wandb/test_wandb_context.py
  experiments/arena.py
  experiments/evals/navigation.py
  experiments/evals/run.py
  experiments/navigation.py
  experiments/user/daveey.py
  metta/map/mapgen.py
  metta/map/utils/show.py
  metta/rl/trainer_config.py
  metta/tools/analyze.py
  metta/tools/play.py
  metta/tools/replay.py
  metta/tools/sim.py
  softmax/softmax.py
  tests/tools/test_renderer_job.py
  tools/train.py
Due: core, agent, common

removed hardcoded paths from play.py
  metta/tools/play.py
Due: core

revert to agent groups
  mettagrid/tests/test_interactive.py
  mettagrid/tests/test_new_env_hierarchy.py
  mettagrid/tests/test_pettingzoo_env.py
Due: none

fix use old config with envconfig on test_mettagrid, method to property refactoring
  mettagrid/tests/test_mettagrid.py
Due: none

map reconstruction test fixed, env hierarchy test wall and agent config
  mettagrid/tests/test_env_config_serialization.py
  mettagrid/tests/test_new_env_hierarchy.py
Due: none

fix ruff issues, replaced TestEnvironmentBuilder with EnvConfig pattern, fixed property access
  mettagrid/tests/test_8way_movement.py
Due: none

cp
  devops/skypilot/config/skypilot_run.sh
  devops/skypilot/launch.py
  experiments/arena.py
  metta/map/__init__.py
  metta/rl/system_config.py
  metta/setup/local_commands.py
  mettagrid/src/metta/mettagrid/mettagrid_c_config.py
  mettagrid/src/metta/mettagrid/mettagrid_config.py
  mettagrid/tests/test_resource_loss.py
  mettagrid/tests/test_visitation_counts.py
  mettascope/tests/test_replay_format_validator.py
  pnpm-lock.yaml
  tests/cogworks/curriculum/test_curriculum_env.py
  tests/map/scenes/test_random_scene_from_dir.py
  tests/sim/test_simulation_stats_db.py
  tests/sweep/test_integration_sweep_centralized.py
  tests/sweep/test_integration_sweep_pipeline.py
  tests/sweep/test_sweep_config_loading.py
  tests/sweep/test_sweep_init.py
  tests/test_sweep_config_utils.py
  tests/tools/test_opportunistic_policy.py
  tests/tools/test_policy_selection.py
  tools/request_eval.py
Due: core, mettagrid

fix visitation counts test
  mettagrid/tests/test_visitation_counts.py
Due: none

cp
  .vscode/launch.json
  cogworks/curriculum/curriculum.py
  cogworks/curriculum/task_generator.py
  common/src/metta/common/util/config.py
  devops/run.sh
  experiments/arena.py
  experiments/evals/navigation.py
  experiments/navigation.py
  experiments/user/daveey.py
  metta/cogworks/curriculum/__init__.py
  metta/cogworks/curriculum/curriculum_env.py
  metta/cogworks/curriculum/task_generator.py
  metta/rl/vecenv.py
  metta/tools/train.py
  mettagrid/src/metta/mettagrid/config/envs.py
  mettagrid/src/metta/mettagrid/mettagrid_config.py
  mettagrid/src/metta/mettagrid/puffer_base.py
  tools/run.py
Due: core, mettagrid, common

streamline test_observations.py
  mettagrid/tests/test_observations.py
Due: none

cp
  common/src/metta/common/util/config.py
  devops/skypilot/config/skypilot_run.sh
  devops/skypilot/config/skypilot_run.yaml
  devops/skypilot/launch.py
  devops/skypilot/setup_shell.sh
  devops/skypilot/utils.py
  experiments/arena.py
  experiments/evals/navigation.py
  experiments/navigation.py
  experiments/user/daveey.py
  metta/cogworks/curriculum/curriculum_env.py
  metta/cogworks/curriculum/task_generator.py
  metta/sim/simulation.py
  metta/tools/sim.py
  mettagrid/src/metta/mettagrid/config/envs.py
  mettagrid/src/metta/mettagrid/mettagrid_c_config.py
  mettagrid/tests/test_8way_movement.py
  mettagrid/tests/test_cardinal_movement.py
  mettagrid/tests/test_gym_env.py
  mettagrid/tests/test_interactive.py
  mettagrid/tests/test_new_env_hierarchy.py
  mettagrid/tests/test_pettingzoo_env.py
  tests/cogworks/curriculum/test_curriculum_env.py
  tests/cogworks/curriculum/test_serialization.py
  tests/test_action_compatibility.py
  tests/tools/map/test_gen.py
  tests/tools/test_renderer_job.py
  tools/run.py
Due: core, mettagrid, common

Path conditions:
  core: any file but: app_backend/, agent/, mettagrid/, common/, **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  app_backend: any of: app_backend/, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  agent: any of: agent/, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  mettagrid: any of: mettagrid/, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  mettagrid_cpp: any of: **/*.cpp, **/*.cc, **/*.cxx, **/*.c++, **/*.h, **/*.hpp, **/*.hh, **/*.hxx, **/*.h++, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  common: any of: common/, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
