Repository Metta-AI/metta: changes, and which Codecov flags are due for each by the changed paths.
All: core, app_backend, agent, mettagrid, mettagrid_cpp, common

suppress warnings
  mettagrid/src/metta/mettagrid/actions/move.hpp
Due: mettagrid, mettagrid_cpp

build skeleton for scalable sweeps with stateless execution
  metta/sweep/TODO_SWEEP_IMPLEMENTATION.md
  metta/sweep/sweep_orchestrator.py
Due: core

Required methods
  agent/src/metta/agent/pytorch/base.py
Due: agent

fix return value of run_git_cmd
  gitta/src/gitta/__init__.py
Due: core

feat: implement git layer with AI commit tracking and autonomous file-changing commands
  manybot/codebot/codebot/cli.py
  manybot/codebot/codebot/command_models.py
  manybot/codebot/codebot/commands.py
  manybot/codebot/codebot/git_layer.py
  manybot/codebot/codebot/git_utils.py
Due: core

skypilot run
  experiments/recipes/arena_trader_experiment.py
  metta/sim/trader_npc_policy.py
  mettagrid/src/metta/mettagrid/actions/transfer.hpp
  mettagrid/src/metta/mettagrid/mettagrid_c.cpp
  mettagrid/src/metta/mettagrid/mettagrid_c_config.py
  mettagrid/src/metta/mettagrid/mettagrid_config.py
  run_trader_experiment.py
Due: core, mettagrid, mettagrid_cpp

revert test_move
  mettagrid/tests/test_move.py
Due: none

fix defaults
  mettagrid/src/metta/mettagrid/mettagrid_config.hpp
  mettagrid/tests/test_global_reward_observations.py
  mettagrid/tests/test_visitation_counts.py
Due: mettagrid, mettagrid_cpp

cooling: make our .claude/agents more concise+better metta/ fit (#2373)
  .claude/agents/agent.md
  .claude/agents/checkpoint.md
  .claude/agents/code-refactorer.md
  .claude/agents/config.md
  .claude/agents/content-writer.md
  .claude/agents/data.md
  .claude/agents/env.md
  .claude/agents/frontend-designer.md
  .claude/agents/metrics.md
  .claude/agents/perf.md
  .claude/agents/prd-writer.md
  .claude/agents/project-task-planner.md
  .claude/agents/security.md
  .claude/agents/trainer.md
  .claude/agents/vibe-coding-coach.md
Due: core

phase 10
  agent/tests/test_feature_remapping.py
  metta/tools/analyze.py
  metta/tools/sim.py
  phase_10_completion.md
  tests/rl/test_simple_checkpoint_manager_caching.py
  tests/rl/test_simple_checkpoint_manager_comprehensive.py
Due: core

fix import
  devops/skypilot/config/skypilot_run.py
Due: core

fixed action space mismatch for trade action
  experiments/recipes/arena_basic_easy_shaped.py
Due: core

phase 10 audit
  phase_10_audit.md
Due: core

still linting
  tests/rl/test_simple_checkpoint_manager_caching.py
  tests/rl/test_simple_checkpoint_manager_comprehensive.py
Due: none

view log from launch
  devops/skypilot/launch.py
Due: core

update re
  common/src/metta/common/util/skypilot_latency.py
Due: common

name changs
  agent/tests/test_feature_remapping.py
  tests/rl/test_checkpoint_manager_caching.py
  tests/rl/test_checkpoint_manager_comprehensive.py
Due: none

fix re
  devops/skypilot/launch.py
Due: core

next steps phase 11
  phase_11_nextsteps.md
Due: core

imports to top
  tests/rl/test_checkpoint_manager_comprehensive.py
Due: none

imports to the top
  metta/rl/trainer.py
  metta/sim/simulation.py
  metta/sim/simulation_stats_db.py
  metta/tools/analyze.py
  metta/tools/replay.py
  metta/tools/sim.py
  tests/map/random/test_float.py
  tests/map/random/test_int.py
  tests/rl/test_checkpoint_manager_comprehensive.py
  tests/sim/test_simulation_stats_db_simple_checkpoint.py
  tests/sweep/test_protein_metta.py
  tests/sweep/test_sweep_script_integration.py
  tests/test_programmatic_env_creation.py
Due: core

use returned request_ids
  devops/skypilot/launch.py
  devops/skypilot/utils.py
Due: core

codeflow compare contrast
  phase_12_compare_contrast.md
Due: core

imports to the top
  metta/rl/trainer.py
  metta/sim/simulation.py
  metta/tools/analyze.py
  metta/tools/replay.py
  metta/tools/sim.py
  tests/map/random/test_float.py
  tests/map/random/test_int.py
  tests/rl/test_checkpoint_manager_comprehensive.py
  tests/sim/test_simulation_stats_db_simple_checkpoint.py
  tests/sweep/test_protein_metta.py
  tests/sweep/test_sweep_script_integration.py
  tests/test_programmatic_env_creation.py
Due: core

adjust logging
  devops/skypilot/config/configure_environment.py
  devops/skypilot/config/skypilot_run.py
Due: core

fix: move imports to top of files in metta_cli.py and local_commands.py
  metta/setup/local_commands.py
  metta/setup/metta_cli.py
Due: core

lint
  metta/rl/trainer.py
  metta/setup/metta_cli.py
  metta/sim/simulation.py
  metta/tools/sim.py
Due: core

remove new tests
  tests/rl/test_checkpoint_manager_comprehensive.py
  tests/sim/test_simulation_stats_db_simple_checkpoint.py
Due: none

some stub files?
  metta/eval/analysis.py
  metta/eval/eval_service.py
  metta/rl/checkpoint_cache.py
  metta/rl/checkpoint_info.py
  metta/rl/checkpoint_manager.py
  metta/rl/policy_discovery.py
  tools/request_eval.py
  tools/request_eval_stub.py
Due: core

fix: complete import positioning cleanup in metta_cli.py and local_commands.py
  metta/setup/local_commands.py
  metta/setup/metta_cli.py
Due: core

reduce diff
  metta/tools/analyze.py
Due: core

nuclear back and forth
  metta/eval/analysis.py
  metta/eval/eval_service.py
  metta/rl/checkpoint_cache.py
  metta/rl/checkpoint_info.py
  metta/rl/checkpoint_manager.py
  metta/rl/policy_discovery.py
  metta/rl/simple_policy_interface.py
  phase_13_nuclear_simplification.md
Due: core

unifying around Checkpoint
  metta/eval/analysis.py
  metta/eval/eval_service.py
  metta/rl/checkpoint_interface.py
  metta/sim/simulation_stats_db.py
Due: core

add output binary to gitignore
  mettascope2/.gitignore
Due: core

use logger
  devops/skypilot/config/configure_environment.py
Due: core

refactor: remove verbose LLM-generated comment blocks from file tops
  agent/src/metta/agent/lib/nn_layer_library.py
  devops/skypilot/config/preflight/test_nccl.py
  metta/map/scenes/varied_terrain.py
  metta/rl/experience.py
  metta/sim/thumbnail_automation.py
  metta/tools/sim.py
  tests/rl/test_kickstarter.py
  tests/rl/test_losses.py
Due: core, agent

latency
  metta/setup/local_commands.py
  metta/setup/metta_cli.py
Due: core

remove PolicyX
  metta/eval/eval_service.py
  metta/rl/checkpoint_interface.py
  metta/sim/simulation.py
  tests/sim/test_simulation_stats_db.py
  tests/sim/test_simulation_stats_db_simple_checkpoint.py
  tools/request_eval.py
Due: core

preserve slavas nice comments
  metta/map/scenes/varied_terrain.py
Due: core

culling
  metta/setup/shell.py
  metta/tools/analyze.py
Due: core

Path conditions:
  core: any file but: app_backend/, agent/, mettagrid/, common/, **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  app_backend: any of: app_backend/, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  agent: any of: agent/, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  mettagrid: any of: mettagrid/, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  mettagrid_cpp: any of: **/*.cpp, **/*.cc, **/*.cxx, **/*.c++, **/*.h, **/*.hpp, **/*.hh, **/*.hxx, **/*.h++, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  common: any of: common/, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
