Repository Metta-AI/metta: changes, and which Codecov flags are due for each by the changed paths.
All: core, app_backend, agent, mettagrid, mettagrid_cpp, common

codecov.yml:

# Codecov configuration for Metta-AI
# Documentation: https://docs.codecov.com/docs/codecov-yaml

# Wait for all CI jobs to complete before posting results
codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

# Coverage settings
coverage:
  # Round coverage to 2 decimal places
  precision: 2
  round: down

  # Status checks configuration
  status:
    # Project-wide coverage
    project:
      default:
        target: auto # Compare against base branch
        threshold: 1% # Allow 1% coverage drop
        base: auto
        informational: true # Won't fail PR, just inform

    # Coverage for changed lines only - this is your main gate
    patch:
      default:
        target: 50% # Minimum 50% coverage on new code
        threshold: 0% # No tolerance below 50%
        base: auto
        if_ci_failed: success # Don't fail if CI fails
        if_not_found: success # Don't fail if no coverage data

      # Additional informational patch check
      informational:
        target: 80% # Ideal target
        threshold: 0%
        informational: true # Won't fail, just shows as warning

# Pull request comment configuration
comment:
  layout: "header, diff, flags, components, files"
  behavior: default
  require_changes: false # Post comment even if no coverage change
  require_base: false # Don't require base coverage
  require_head: true # Must have head coverage to post
  hide_project_coverage: false # Show overall project coverage

# Flag configuration for different test suites
flags:
  core:
    paths:
      - "!app_backend/"
      - "!agent/"
      - "!mettagrid/"
      - "!common/"
    carryforward: true

  app_backend:
    paths:
      - app_backend/
    carryforward: true

  agent:
    paths:
      - agent/
    carryforward: true

  mettagrid:
    paths:
      - mettagrid/
    carryforward: true

  mettagrid_cpp:
    paths:
      - "**/*.cpp"
      - "**/*.cc"
      - "**/*.cxx"
      - "**/*.c++"
      - "**/*.h"
      - "**/*.hpp"
      - "**/*.hh"
      - "**/*.hxx"
      - "**/*.h++"
    carryforward: true

  common:
    paths:
      - common/
    carryforward: true

# Ignore certain paths from coverage
ignore:
  - "**/tests/"
  - "**/test_*.py"
  - "**/*_test.py"
  - "**/conftest.py"
  - "setup.py"
  - "**/migrations/"
  - "**/__pycache__/"
  - "**/node_modules/"
  - "**/*.pb.py" # Generated protobuf files
  - "**/*.pyi" # Type stub files
  - "**/fixtures/"
  - "**/mocks/"
  - "**/build/" # C++ build directories
  - "**/cmake-build-*/" # CLion/CMake build directories
  - "**/CMakeFiles/" # CMake generated files
  - "**/*.o" # Object files
  - "**/*.a" # Static libraries
  - "**/*.so" # Shared libraries
  - "**/*.dylib" # macOS dynamic libraries
  - "**/*.dll" # Windows dynamic libraries

# GitHub integration settings
github_checks:
  annotations: true # Show coverage annotations in PR files view

catch exception
  devops/skypilot/launch/sandbox.py
Due: core

fix: remove unnecessary inline comments from URI handling code
  metta/rl/checkpoint_manager.py
  metta/rl/wandb.py
  tests/rl/test_checkpoint_uri_integration.py
Due: core

Make converter obs tests less fragile
  mettagrid/tests/test_converter.py
Due: none

suppress traceback
  devops/skypilot/launch/sandbox.py
Due: core

fix caching for dependency file lists
  .github/actions/setup-uv/action.yml
Due: core

Make tests less fragile to changing obs space (#2473)
  mettagrid/tests/test_global_reward_observations.py
Due: none

handle both dependencies files and inline dependencies
  .github/actions/setup-uv/action.yml
Due: core

feat: Add ASCII map transformations for navigation evaluation
  experiments/evals/navigation_transform.py
  experiments/recipes/navigation.py
  mettagrid/src/metta/mettagrid/mapgen/utils/ascii_transform.py
Due: core, mettagrid

surface warning
  devops/skypilot/launch/sandbox.py
Due: core

Make converter obs tests less fragile (#2480)
  mettagrid/tests/test_converter.py
Due: none

nicer scripting
  .github/actions/setup-uv/action.yml
Due: core

try again
  common/src/metta/common/util/log_config.py
Due: common

missing quote
  .github/actions/setup-uv/action.yml
Due: core

Update pytest-ci
  pytest-ci
Due: core

fixing memory leak
  metta/cogworks/curriculum/learning_progress_algorithm.py
Due: core

fixfriction: less cryptic sandbox up (#2423)
  devops/skypilot/sandbox.py
Due: core

remove no agent interference, again (#2476)
  experiments/marimo/01-hello-world-marimo.py
  experiments/users/alex.py
  mettagrid/src/metta/mettagrid/actions/move.hpp
  mettagrid/src/metta/mettagrid/mettagrid_c.cpp
  mettagrid/src/metta/mettagrid/mettagrid_c.hpp
  mettagrid/src/metta/mettagrid/mettagrid_c.pyi
  mettagrid/src/metta/mettagrid/mettagrid_c_config.py
  mettagrid/src/metta/mettagrid/mettagrid_config.hpp
  mettagrid/src/metta/mettagrid/mettagrid_config.py
Due: core, mettagrid, mettagrid_cpp

agent traces + mouse to panel + zoom clamp + wip pos clamp (#2418)
  mettascope2/src/mettascope.nim
  mettascope2/src/mettascope/agenttraces.nim
  mettascope2/src/mettascope/common.nim
  mettascope2/src/mettascope/panels.nim
  mettascope2/src/mettascope/replays.nim
  mettascope2/src/mettascope/timeline.nim
  mettascope2/src/mettascope/worldmap.nim
Due: core

fix bug
  common/src/metta/common/util/constants.py
  common/src/metta/common/util/log_config.py
Due: common

normalization and smoothing
  metta/cogworks/curriculum/learning_progress_algorithm.py
Due: core

[MettaScope2] deploy mettascope2 to github pages (#2470)
  .github/workflows/deploy-mettascope.yml
Due: core

Fix log handler handling: child loggers do not inherit root logger handlers directly; they propagate messages up. a logger uses its own handlers and then its parent's
  common/src/metta/common/profiling/stopwatch.py
  common/src/metta/common/profiling/system_monitor.py
Due: common

update logger used in stopwatch logging testing
  common/tests/profiling/test_stopwatch.py
Due: none

fix some more tests
  common/tests/profiling/test_system_monitor.py
Due: none

fix
  common/src/metta/common/profiling/system_monitor.py
Due: common

better scripting
  .github/actions/setup-uv/action.yml
Due: core

Fix and simplify log handler handling (#2475)
  common/src/metta/common/profiling/stopwatch.py
  common/src/metta/common/profiling/system_monitor.py
  common/tests/profiling/test_stopwatch.py
  common/tests/profiling/test_system_monitor.py
Due: common

fix sweep
  metta/sweep/wandb_utils.py
Due: core

incorporate 2423
  devops/skypilot/launch/sandbox.py
Due: core

panels
  mettascope2/src/mettascope.nim
  mettascope2/src/mettascope/common.nim
Due: core

imports up
  metta/rl/checkpoint_manager.py
  metta/setup/components/wandb.py
  metta/sim/utils.py
  metta/utils/progress.py
Due: core

rm file
  common/src/metta/common/util/logging_helper.md
Due: common

revert
  devops/skypilot/launch/skypilot_run.py
  gitta/src/gitta/__init__.py
Due: core

rev
  gitta/src/gitta/__init__.py
Due: core

fix: imports up (#2483)
  metta/rl/checkpoint_manager.py
  metta/setup/components/wandb.py
  metta/sim/utils.py
  metta/utils/progress.py
Due: core

initial setup
  metta/rl/loss/ppo_npc.py
  metta/rl/loss/ppo_npc_config.py
Due: core

Fix ruff/lint issues in mapgen tools
  mettagrid/src/metta/mettagrid/builder/envs.py
  mettagrid/src/metta/mettagrid/mapgen/tools/gen.py
  mettagrid/src/metta/mettagrid/mapgen/tools/gen_scene.py
  mettagrid/src/metta/mettagrid/mapgen/tools/view.py
Due: mettagrid

remove parallel matrix unit tests for now
  .github/workflows/checks.yml
Due: core
