Repository Metta-AI/metta: changes, and which Codecov flags are due for each by the changed paths.
All: core, app_backend, agent, mettagrid, mettagrid_cpp, common

recipes
  configs/env/mettagrid/curriculum/operant_conditioning/in_context_learning/ICL.yaml
  configs/env/mettagrid/curriculum/operant_conditioning/in_context_learning/all.yaml
  configs/sim/operant_conditioning_incontext.yaml
  recipes/operantconditioning_incontext.sh
Due: core

update recipes
  recipes/operantconditioning_incontext.sh
Due: core

fixed example maybe?
  agent/src/metta/agent/metta_agent.py
  agent/src/metta/agent/pytorch/example.py
Due: agent

ugly shim
  agent/src/metta/agent/metta_agent.py
Due: agent

fix ugly old component method
  agent/src/metta/agent/metta_agent.py
Due: agent

debug
  devops/skypilot/config/sk_train.yaml
Due: core

more concise adapter
  agent/src/metta/agent/metta_agent.py
Due: agent

pass tests
  agent/src/metta/agent/metta_agent.py
Due: agent

dist fix
  agent/src/metta/agent/policy_record.py
Due: agent

fix: prevent circular reference in __setstate__ for distributed training
  agent/src/metta/agent/metta_agent.py
Due: agent

undo
  agent/src/metta/agent/metta_agent.py
Due: agent

oh wow
  metta/rl/checkpoint_manager.py
Due: core

basic easy shaped curriculum
  recipes/dual_policy_cloud.sh
Due: core

ddp
  metta/rl/policy_management.py
  metta/rl/trainer.py
Due: core

basic easy shaped bug fix
  recipes/dual_policy_cloud.sh
Due: core

ddp
  metta/rl/checkpoint_manager.py
Due: core

cp
  metta/cogworks/curriculum/curriculum.py
  metta/cogworks/curriculum/demo.py
  metta/cogworks/curriculum/task_generator.py
  metta/sim/simulation_config.py
  tests/cogworks/curriculum/test_serialization.py
Due: core

undo logging change
  metta/rl/checkpoint_manager.py
  metta/rl/policy_management.py
Due: core

reduce diff
  agent/src/metta/agent/metta_agent.py
  metta/rl/checkpoint_manager.py
Due: core, agent

load change
  metta/rl/checkpoint_manager.py
Due: core

MettaAgent either creates a ComponentPolicy or just a torch.nn.Module as a policy (#2064)
  agent/src/metta/agent/component_policy.py
  agent/src/metta/agent/external/__init__.py
  agent/src/metta/agent/external/example.py
  agent/src/metta/agent/external/lstm_transformer.py
  agent/src/metta/agent/metta_agent.py
  agent/src/metta/agent/mocks/mock_agent.py
  agent/src/metta/agent/models/encoders.py
  agent/src/metta/agent/models/tokenizers.py
  agent/src/metta/agent/policy_record.py
  agent/src/metta/agent/pytorch/agent_mapper.py
  agent/src/metta/agent/pytorch/example.py
  agent/src/metta/agent/pytorch/fast.py
  agent/src/metta/agent/pytorch/latent_attn_med.py
  agent/src/metta/agent/pytorch/latent_attn_small.py
  agent/src/metta/agent/pytorch/latent_attn_tiny.py
  agent/tests/test_feature_remapping.py
  agent/tests/test_metta_agent.py
  agent/tests/test_vanilla_policy.py
  metta/rl/checkpoint_manager.py
  metta/rl/puffer_policy.py
Due: core, agent

feat(codeclip): add diff mode on -d to append `git diff origin/main` as a virtual file
  manybot/codebot/codeclip/codeclip/cli.py
  manybot/codebot/codeclip/codeclip/file.py
  manybot/codebot/codeclip/codeclip/token_profiler.py
Due: core

7x7 rooms
  configs/env/mettagrid/operant_conditioning/in_context_learning/defaults.yaml
  recipes/operantconditioning_incontext.sh
Due: core

7x7
  configs/env/mettagrid/operant_conditioning/in_context_learning/defaults.yaml
Due: core

512 steps and 8x8
  configs/env/mettagrid/operant_conditioning/in_context_learning/defaults.yaml
  recipes/operantconditioning_incontext.sh
Due: core

general
  configs/env/mettagrid/operant_conditioning/in_context_learning/defaults.yaml
  recipes/operantconditioning_incontext.sh
Due: core

put comments back
  recipes/operantconditioning_incontext.sh
Due: core

update navigation to use random seed
  recipes/navigation.sh
Due: core

Make mettagrid descriptions in README.md and mettagrid/README.md more up-to-date
  README.md
  mettagrid/README.md
  roadmap.md
Due: core, mettagrid

preparing to train teacher
  agent/src/metta/agent/lib/lstm.py
  agent/src/metta/agent/metta_agent.py
  configs/agent/fast.yaml
  configs/trainer/trainer.yaml
  configs/user/alex.yaml
  metta/rl/loss/base_loss.py
  metta/rl/loss/kickstarter.py
  metta/rl/loss/ppo.py
  metta/rl/trainer.py
  metta/sim/simulation.py
  tests/rl/test_kickstarter.py
  tests/rl/test_metrics_formatting.py
  tests/rl/test_trainer_config.py
Due: core, agent

preparing to train teacher - needed to comment out EMA head
  configs/agent/fast.yaml
  metta/rl/loss/ema.py
Due: core

preparing to train teacher - needed to comment out EMA under leaf_components (this is brittle)
  configs/agent/fast.yaml
Due: core

feat(codeclip): add readmes-only flag on -r and remove --raw
  manybot/codebot/codeclip/codeclip/cli.py
  manybot/codebot/codeclip/codeclip/file.py
  manybot/codebot/codeclip/codeclip/token_profiler.py
Due: core

Add polymorphic task generator config with type discriminators for serialization (#2075)
  metta/cogworks/curriculum/curriculum.py
  metta/cogworks/curriculum/demo.py
  metta/cogworks/curriculum/task_generator.py
  metta/sim/simulation_config.py
  tests/cogworks/curriculum/test_serialization.py
Due: core

Restoring states in expereince
  agent/src/metta/agent/component_policy.py
  agent/src/metta/agent/lib/lstm.py
  metta/rl/experience.py
Due: core, agent

Required arguments
  agent/src/metta/agent/metta_agent.py
  metta/rl/experience.py
  metta/rl/trainer.py
Due: core, agent

Pass the state to forward
  agent/src/metta/agent/component_policy.py
  agent/src/metta/agent/lib/lstm.py
  agent/src/metta/agent/metta_agent.py
  metta/rl/experience.py
  metta/rl/losses.py
  metta/rl/trainer.py
Due: core, agent

Fix store state
  agent/src/metta/agent/component_policy.py
  metta/rl/experience.py
  metta/rl/trainer.py
Due: core, agent

Path conditions:
  core: any file but: app_backend/, agent/, mettagrid/, common/, **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  app_backend: any of: app_backend/, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  agent: any of: agent/, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  mettagrid: any of: mettagrid/, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  mettagrid_cpp: any of: **/*.cpp, **/*.cc, **/*.cxx, **/*.c++, **/*.h, **/*.hpp, **/*.hh, **/*.hxx, **/*.h++, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  common: any of: common/, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
