Repository Metta-AI/metta: changes, and which Codecov flags are due for each by the changed paths.
All: core, app_backend, agent, mettagrid, mettagrid_cpp, common

metadata_only for safetensors
  agent/src/metta/agent/policy_store.py
Due: agent

Remove puzzle embeddings
  agent/src/metta/agent/pytorch/hrm.py
Due: agent

refactor PolicyRecord
  agent/src/metta/agent/policy_record.py
  agent/src/metta/agent/policy_store.py
  agent/tests/test_feature_remapping.py
  agent/tests/test_policy_cache.py
  agent/tests/test_policy_record_yaml.py
  agent/tests/test_policy_store.py
Due: agent

wip
  agent/src/metta/agent/policy_loader.py
  agent/src/metta/agent/policy_store.py
  agent/tests/test_policy_store.py
  metta/rl/checkpoint_manager.py
  metta/rl/trainer.py
Due: core, agent

more cleanup
  metta/rl/checkpoint_manager.py
  metta/rl/trainer.py
Due: core

cleanup
  metta/rl/trainer.py
Due: core

Add LLM-based Adobe object selection as alternative to fragile semantic mapping logic
  library/LLM_ADOBE_SELECTION_README.md
  library/src/lib/openai-pdf-extractor.ts
Due: core

Fix insetalling specific versions of brew deps, and support pinning deps
  devops/macos/Brewfile
  devops/macos/pinned-deps.txt
  metta/setup/components/system.py
Due: core

Update metta/setup/components/system.py
  metta/setup/components/system.py
Due: core

fix
  tests/test_num_episodes_bug.py
Due: none

Remove sim_suite from simulations db, eval stats db
  app_backend/src/metta/app_backend/clients/stats_client.py
  app_backend/src/metta/app_backend/routes/stats_routes.py
  metta/eval/analysis.py
  metta/eval/analysis_config.py
  metta/eval/eval_service.py
  metta/eval/eval_stats_db.py
  metta/sim/simulation.py
  metta/sim/simulation_stats_db.py
  tests/eval/test_eval_stats_db.py
  tests/sim/test_simulation_stats_db.py
Due: core, app_backend

more
  app_backend/tests/test_score_routes.py
Due: none

rm test for fn that isnt used
  tests/eval/test_eval_stats_db.py
Due: none

add back something
  metta/eval/eval_stats_db.py
  tests/eval/test_eval_stats_db.py
Due: core

maybe more fixes
  app_backend/tests/test_eval_task_routes.py
  app_backend/tests/test_stats_server.py
  app_backend/tests/test_training_runs_routes.py
Due: none

x
  tests/test_num_episodes_bug.py
Due: none

more
  metta/eval/eval_stats_db.py
  tests/eval/test_dashboard_data.py
  tests/eval/test_eval_stats_db.py
Due: core

more
  metta/eval/dashboard_data.py
Due: core

more
  app_backend/tests/generate_test_data.py
  app_backend/tests/test_scorecard_routes.py
Due: app_backend

fix
  app_backend/tests/conftest.py
Due: none

remove sweep tests
  tests/test_sweep_config_utils.py
Due: none

dynamically generate sim suite a little more intelligently
  app_backend/src/metta/app_backend/routes/stats_routes.py
Due: app_backend

rm asyncstatsclient and update EpisodeCreate to use sim_name and not eval_name
  app_backend/src/metta/app_backend/clients/stats_client.py
  app_backend/src/metta/app_backend/routes/stats_routes.py
  app_backend/tests/conftest.py
  app_backend/tests/generate_test_data.py
  app_backend/tests/test_eval_task_routes.py
  app_backend/tests/test_score_routes.py
  app_backend/tests/test_scorecard_routes.py
  app_backend/tests/test_stats_server.py
  app_backend/tests/test_training_runs_routes.py
  metta/sim/simulation.py
Due: core, app_backend

Move the simulation-suite calculation into app_backend
  app_backend/src/metta/app_backend/metta_repo.py
  app_backend/src/metta/app_backend/routes/stats_routes.py
Due: app_backend

keep USER simple
  experiments/recipes/navigation.py
Due: core

pass real env_label around
  app_backend/src/metta/app_backend/clients/stats_client.py
  app_backend/src/metta/app_backend/metta_repo.py
  app_backend/src/metta/app_backend/routes/stats_routes.py
  app_backend/tests/conftest.py
  app_backend/tests/generate_test_data.py
  app_backend/tests/test_eval_task_routes.py
  app_backend/tests/test_score_routes.py
  app_backend/tests/test_scorecard_routes.py
  app_backend/tests/test_stats_server.py
  app_backend/tests/test_training_runs_routes.py
  metta/sim/simulation.py
Due: core, app_backend

fix reflection
  agent/src/metta/agent/policy_loader.py
  agent/src/metta/agent/policy_record.py
  agent/src/metta/agent/policy_store.py
Due: agent

fix failing scorecard route tests
  app_backend/tests/test_scorecard_routes.py
Due: none

Support pinning brew deps. pin awscli (#2276)
  devops/macos/Brewfile
  devops/macos/pinned-deps.txt
  metta/setup/components/system.py
Due: core

remove old moves
  mettagrid/benchmarks/test_mettagrid_env_benchmark.py
  mettagrid/demo.py
  mettagrid/src/metta/mettagrid/actions/move.hpp
  mettagrid/src/metta/mettagrid/actions/move_8way.hpp
  mettagrid/src/metta/mettagrid/actions/move_cardinal.hpp
  mettagrid/src/metta/mettagrid/config/envs.py
  mettagrid/src/metta/mettagrid/mettagrid_c.cpp
  mettagrid/src/metta/mettagrid/mettagrid_config.py
  mettagrid/src/metta/mettagrid/renderer/assets/atlas.json
  mettagrid/src/metta/mettagrid/test_support/actions.py
  mettagrid/src/metta/mettagrid/test_support/compass.py
  mettagrid/src/metta/mettagrid/test_support/orientation.py
  mettagrid/tests/test_8way_movement.py
  mettagrid/tests/test_actions.py
  mettagrid/tests/test_attack_resource_exception.py
  mettagrid/tests/test_buffers.py
  mettagrid/tests/test_converter.py
  mettagrid/tests/test_global_obs_config.py
  mettagrid/tests/test_gym_env.py
  mettagrid/tests/test_interactive.py
  mettagrid/tests/test_mettagrid.py
  mettagrid/tests/test_new_env_hierarchy.py
  mettagrid/tests/test_no_agent_interference.py
  mettagrid/tests/test_observations.py
  mettagrid/tests/test_pettingzoo_env.py
  mettagrid/tests/test_rewards.py
  mettagrid/tests/test_stats_rewards.py
  mettagrid/tests/test_swap.py
  mettagrid/tests/test_visitation_counts.py
  tests/rl/test_kickstarter.py
  tests/test_action_compatibility.py
  tests/test_programmatic_env_creation.py
  tests/tools/test_renderer_job.py
Due: mettagrid, mettagrid_cpp

revert
  mettagrid/src/metta/mettagrid/renderer/assets/atlas.json
Due: mettagrid

bucket with lp and 4 custom maps
  configs/env/mettagrid/arena/coop_rewardsharing.yaml
  configs/env/mettagrid/curriculum/coop_rewardsharing/rewardsharing_buckets.yaml
  configs/env/mettagrid/maps/simple/eval1.map
  configs/env/mettagrid/maps/simple/train1.map
  configs/env/mettagrid/maps/simple/train2.map
  configs/env/mettagrid/maps/simple/train3.map
  configs/env/mettagrid/maps/simple/train4.map
  configs/sim/coop_rewardsharing.yaml
  configs/train_job.yaml
  configs/user/krishnakanth.yaml
  experiments/recipes/rewardsharing.py
Due: core

update
  experiments/recipes/in_context_learning.py
Due: core

Simplify simulations tracking schema: no more sim_suite, env_name supplied to observatory is meaningful (#2250)
  app_backend/src/metta/app_backend/clients/stats_client.py
  app_backend/src/metta/app_backend/metta_repo.py
  app_backend/src/metta/app_backend/routes/stats_routes.py
  app_backend/tests/conftest.py
  app_backend/tests/generate_test_data.py
  app_backend/tests/test_eval_task_routes.py
  app_backend/tests/test_score_routes.py
  app_backend/tests/test_scorecard_routes.py
  app_backend/tests/test_stats_server.py
  app_backend/tests/test_training_runs_routes.py
  metta/eval/analysis.py
  metta/eval/analysis_config.py
  metta/eval/dashboard_data.py
  metta/eval/eval_service.py
  metta/eval/eval_stats_db.py
  metta/sim/simulation.py
  metta/sim/simulation_stats_db.py
  tests/eval/test_dashboard_data.py
  tests/eval/test_eval_stats_db.py
  tests/sim/test_simulation_stats_db.py
  tests/test_num_episodes_bug.py
Due: core, app_backend

run name bug fix
  configs/user/krishnakanth.yaml
Due: core

exps
  experiments/recipes/in_context_learning.py
Due: core

skypilot run custom maps
  recipes/coop_rewardsharing.sh
Due: core

move all jobs run on ubuntu-latest (out of the box github runners) to our new runner group
  .github/actions/disk-cleanup/README.md
  .github/workflows/analyze-pr.yml
  .github/workflows/asana-integration.yml
  .github/workflows/assign-dependabot.yml
  .github/workflows/auto-tag-researcher-current.yml
  .github/workflows/build-metta-app-docker.yml
  .github/workflows/build-metta-fe-docker.yml
  .github/workflows/build-metta-policy-evaluator-docker.yml
  .github/workflows/build-mettascope-docker.yml
  .github/workflows/checks.yml
  .github/workflows/claude-review-base.yml
  .github/workflows/claude-review-orchestrator.yml
  .github/workflows/claude.yml
  .github/workflows/deploy-mettascope.yml
  .github/workflows/dist-smoketest.yml
  .github/workflows/generate-author-report.yml
  .github/workflows/generate-newsletter.yml
  .github/workflows/setup-tests.yml
  .github/workflows/sky-train.yml
  .github/workflows/stale.yml
  .github/workflows/test-demo-environments.yml
  .github/workflows/test-fetch-artifacts.yml
  .github/workflows/test-mettascope.yml
  manybot/remotebot/README.md
Due: core

extra-standard-runner -> default
  .github/actions/disk-cleanup/README.md
  .github/workflows/analyze-pr.yml
  .github/workflows/asana-integration.yml
  .github/workflows/assign-dependabot.yml
  .github/workflows/auto-tag-researcher-current.yml
  .github/workflows/build-metta-app-docker.yml
  .github/workflows/build-metta-fe-docker.yml
  .github/workflows/build-metta-policy-evaluator-docker.yml
  .github/workflows/build-mettascope-docker.yml
  .github/workflows/checks.yml
  .github/workflows/claude-review-base.yml
  .github/workflows/claude-review-orchestrator.yml
  .github/workflows/claude.yml
  .github/workflows/deploy-mettascope.yml
  .github/workflows/dist-smoketest.yml
  .github/workflows/generate-author-report.yml
  .github/workflows/generate-newsletter.yml
  .github/workflows/setup-tests.yml
  .github/workflows/sky-train.yml
  .github/workflows/stale.yml
  .github/workflows/test-demo-environments.yml
  .github/workflows/test-fetch-artifacts.yml
  .github/workflows/test-mettascope.yml
  manybot/remotebot/README.md
Due: core

Path conditions:
  core: any file but: app_backend/, agent/, mettagrid/, common/, **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  app_backend: any of: app_backend/, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  agent: any of: agent/, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  mettagrid: any of: mettagrid/, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  mettagrid_cpp: any of: **/*.cpp, **/*.cc, **/*.cxx, **/*.c++, **/*.h, **/*.hpp, **/*.hh, **/*.hxx, **/*.h++, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  common: any of: common/, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
