Repository Metta-AI/metta: changes, and which Codecov flags are due for each by the changed paths.
All: core, app_backend, agent, mettagrid, mettagrid_cpp, common

refactor(tools): update get_best_params to use sweep_name directly
  tools/get_best_params_from_sweep.py
Due: core

refactor(sweep): remove docker testing sandbox
  common/src/metta/common/util/lock.py
  devops/docker_launch.py
  devops/setup_docker_sandbox.sh
  metta/sweep/docker/Dockerfile
  metta/sweep/docker/Makefile
  metta/sweep/docker/README.md
  metta/sweep/docker/configs/test-sweep-advanced.yaml
  metta/sweep/docker/configs/test-sweep-basic.yaml
  metta/sweep/docker/configs/test-sweep-intermediate.yaml
  metta/sweep/docker/docker-compose.yml
  metta/sweep/docker/scripts/dummy-api-server.py
  metta/sweep/docker/scripts/run-single-test.sh
  metta/sweep/docker/scripts/run-sweep-tests.sh
  metta/sweep/docker/scripts/start-test-env.sh
  tests/sweep/test_integration_sweep_pipeline.py
Due: core, common

refactor(sweep): update sweep lifecycle to work without W&B sweep IDs
  metta/sweep/sweep_lifecycle.py
Due: core

Add Docker sandbox environment for distributed sweep testing
  configs/sweep_job.yaml
  devops/docker_launch.py
  devops/setup_docker_sandbox.sh
  metta/sweep/docker/Dockerfile
  metta/sweep/docker/Makefile
  metta/sweep/docker/README.md
  metta/sweep/docker/configs/test-sweep-advanced.yaml
  metta/sweep/docker/configs/test-sweep-basic.yaml
  metta/sweep/docker/configs/test-sweep-intermediate.yaml
  metta/sweep/docker/docker-compose.yml
  metta/sweep/docker/scripts/dummy-api-server.py
  metta/sweep/docker/scripts/run-single-test.sh
  metta/sweep/docker/scripts/run-sweep-tests.sh
  metta/sweep/docker/scripts/start-test-env.sh
Due: core

tests(sweep): remove dist_cfg refs and update func signatures
  tests/sweep/test_sweep_init.py
  tests/sweep/test_sweep_lifecycle.py
  tests/sweep/test_sweep_rollout.py
Due: none

Remove dist_cfg.yaml file-based coordination for distributed sweeps
  common/src/metta/common/util/lock.py
  metta/sweep/sweep_lifecycle.py
  metta/sweep/wandb_utils.py
  tools/sweep_rollout.py
Due: core, common

refactor(config): update sweep_job.yaml to use interpolations instead of null values
  configs/sweep_job.yaml
Due: core

debug(train): add missing import for os module
  tools/train.py
Due: core

refactor(sweep): remove W&B sweep support in favor of W&B groups
  metta/sweep/wandb_utils.py
Due: core

fix(sweep): load full config from saved config.yaml for evaluation
  tools/sweep_rollout.py
Due: core

fix tests for sweeps
  metta/sweep/sweep_lifecycle.py
  tests/sweep/test_distributed_sweep_integration.py
  tests/sweep/test_distributed_sweep_orchestration.py
  tests/sweep/test_protein_utils.py
  tests/sweep/test_sweep_lifecycle.py
  tests/sweep/test_sweep_pipeline_integration.py
  tests/sweep/test_sweep_rollout.py
  tests/sweep/test_wandb_utils.py
Due: core

fix(sweep): add docstring + refactor train_job_cfg building
  common/src/metta/common/util/lock.py
  configs/sweep_job.yaml
  metta/sweep/sweep_lifecycle.py
  tools/sweep_rollout.py
Due: core, common

Use casting to prevent type problems
  metta/rl/trainer.py
Due: core

in-line rollout
  metta/rl/rollout.py
  metta/rl/trainer.py
Due: core

branch update import issues
  metta/rl/rollout.py
Due: core

Test pufferlib metta config sync (#1738)
  .gitignore
  mettagrid/tests/test_pufferlib_integration.py
Due: core

fix 2
  metta/rl/rollout.py
Due: core

basic scripts
  fun.sh
  recipes/boxes.sh
Due: core

Only master loads policies and other ranks receive from master
  agent/src/metta/agent/util/distribution_utils.py
  metta/rl/policy_management.py
Due: core, agent

Use cast for torch.compile to preserve type information (#1858)
  metta/rl/trainer.py
Due: core

feat: Cleanup legacy mettagrid_env.py (#1715)
  metta/rl/rollout.py
  mettagrid/demos/demo_train_puffer.py
  mettagrid/src/metta/mettagrid/__init__.py
  mettagrid/src/metta/mettagrid/base_env.py
  mettagrid/src/metta/mettagrid/core.py
  mettagrid/src/metta/mettagrid/gym_env.py
  mettagrid/src/metta/mettagrid/mettagrid_c.cpp
  mettagrid/src/metta/mettagrid/mettagrid_c.pyi
  mettagrid/src/metta/mettagrid/mettagrid_env.py
  mettagrid/src/metta/mettagrid/pettingzoo_env.py
  mettagrid/src/metta/mettagrid/puffer_base.py
  mettagrid/src/metta/mettagrid/puffer_env.py
  mettagrid/src/metta/mettagrid/replay_writer.py
  mettagrid/src/metta/mettagrid/types.hpp
  mettagrid/src/metta/mettagrid/util/actions.py
  mettagrid/tests/test_actions.py
  mettagrid/tests/test_buffer_reuse.py
  mettagrid/tests/test_buffers.py
  mettagrid/tests/test_mettagrid.py
  mettagrid/tests/test_mettagrid_env.py
  mettagrid/tests/test_new_env_hierarchy.py
  mettagrid/tests/test_observations.py
  mettagrid/tests/test_puffer_env.py
  mettagrid/tests/test_rewards.py
  mettagrid/tests/test_swap.py
Due: core, mettagrid, mettagrid_cpp

Transfer files and handle merges
  configs/user/dual_policy_checkpoint_example.yaml
  docs/dual_policy_training.md
  metta/rl/rollout.py
  metta/rl/trainer_config.py
  recipes/dual_policy_sky.sh
  run.py
  tests/rl/test_dual_policy_training.py
Due: core

gpu stuff
  devops/README_multi_gpu_sweeps.md
  devops/sweep_multi_gpu.sh
  devops/train.sh
  tools/sweep_rollout.py
Due: core

lint fix
  configs/user/dual_policy_checkpoint_example.yaml
Due: core

permissions
  recipes/dual_policy_sky.sh
Due: core

edit recipe
  recipes/dual_policy_sky.sh
Due: core

address comments
  devops/skypilot/config/sandbox.yaml
  devops/skypilot/config/setup-common.sh
  devops/skypilot/config/sk_train.yaml
Due: core

Reduce usage of SamplingCurriculum (#1825)
  configs/user/sasmith.yaml
  mettagrid/src/metta/mettagrid/curriculum/core.py
  mettagrid/src/metta/mettagrid/curriculum/util.py
Due: core, mettagrid

fix colors
  mettascope/src/worldmap.ts
Due: core

feat: add common setup script for skypilot yaml config (#1822)
  devops/skypilot/config/sandbox.yaml
  devops/skypilot/config/setup-common.sh
  devops/skypilot/config/sk_train.yaml
  devops/skypilot/sandbox.py
Due: core

prometheus - grafana secret
  devops/tf/eks/monitoring.tf
Due: core

cleanup heatmap code
  mettascope/src/heatmap.ts
  mettascope/src/minimap.ts
  mettascope/src/worldmap.ts
Due: core

format
  mettascope/src/heatmap.ts
  mettascope/src/main.ts
  mettascope/src/worldmap.ts
Due: core

fmt
  mettascope/AGENTS.md
Due: core

make local recipe
  recipes/dual_policy_local.sh
  run.py
Due: core

Path conditions:
  core: any file but: app_backend/, agent/, mettagrid/, common/, **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  app_backend: any of: app_backend/, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  agent: any of: agent/, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  mettagrid: any of: mettagrid/, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  mettagrid_cpp: any of: **/*.cpp, **/*.cc, **/*.cxx, **/*.c++, **/*.h, **/*.hpp, **/*.hh, **/*.hxx, **/*.h++, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  common: any of: common/, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
