Repository Metta-AI/metta: changes, and which Codecov flags are due for each by the changed paths.
All: core, app_backend, agent, mettagrid, mettagrid_cpp, common

tests(sweep): refactor tests for new protein architecture
  metta/sweep/sweep_rollout.py
  tests/sweep/test_integration_sweep_pipeline.py
  tests/sweep/test_metta_protein.py
  tests/sweep/test_protein_end_to_end_pipeline.py
  tests/sweep/test_protein_fill_parameter.py
  tests/sweep/test_protein_integration.py
  tests/sweep/test_protein_metta.py
  tests/sweep/test_protein_observation_loading.py
  tests/sweep/test_protein_serialization.py
  tests/sweep/test_protein_wandb.py
  tests/sweep/test_sweep_init.py
  tools/sweep_prepare_run.py
Due: core

rebase
  mettascope/package-lock.json
  mettascope/src/hoverpanels.ts
  observatory/package-lock.json
Due: core

test: refactor and fix sweep tests for new architecture
  tests/sweep/test_distributed_sweep_integration.py
  tests/sweep/test_distributed_sweep_orchestration.py
  tests/sweep/test_integration_sweep_pipeline.py
  tests/sweep/test_protein_utils.py
  tests/sweep/test_sweep_config_loading.py
  tests/sweep/test_sweep_init.py
  tests/sweep/test_sweep_lifecycle.py
  tests/sweep/test_sweep_pipeline_integration.py
  tests/sweep/test_sweep_rollout.py
  tests/sweep/test_sweep_script_integration.py
Due: none

Add sweep rollout configuration parameters
  configs/sweep_job.yaml
Due: core

Extract protein utility functions to separate module
  metta/sweep/protein_utils.py
Due: core

Remove legacy sweep lifecycle scripts
  metta/sweep/lifecycle/sweep_eval.py
  metta/sweep/lifecycle/sweep_prepare_run.py
  metta/sweep/lifecycle/sweep_setup.py
  metta/sweep/sweep_rollout.py
Due: core

Consolidate sweep pipeline into single rollout script
  tools/sweep_rollout.py
Due: core

refact(sweep): move files around
  devops/sweep_rollout.sh
  metta/sweep/__init__.py
  metta/sweep/lifecycle/sweep_eval.py
  metta/sweep/lifecycle/sweep_prepare_run.py
  metta/sweep/lifecycle/sweep_setup.py
  metta/sweep/sweep_rollout.py
Due: core

refactor: update sweep implementation for distributed execution
  common/src/metta/common/util/lock.py
  metta/sweep/__init__.py
  metta/sweep/sweep_lifecycle.py
  metta/sweep/wandb_utils.py
  tools/sweep_rollout.py
Due: core, common

Refactor wandb_utils for cleaner sweep integration
  metta/sweep/wandb_utils.py
Due: core

revert(sweep): remove optional destruction of distributed group for run_once
  common/src/metta/common/util/lock.py
  tools/sweep_rollout.py
Due: core, common

Simplify sweep.sh to launch consolidated rollout script
  devops/sweep.sh
Due: core

Update sweep package exports for new architecture
  metta/sweep/__init__.py
Due: core

fix(sweep): add dist cleanup between training runs to avoid resource overload
  pyproject.toml
  tools/sweep_rollout.py
  uv.lock
Due: core

feat(sweep): Add sweep analysis notebook
  notebooks/sweep_analysis.ipynb
  notebooks/sweep_analysis_lnjzuler.csv
Due: core

Revert "fix(sweep): add dist cleanup between training runs to avoid resource overload"
  tools/sweep_rollout.py
  uv.lock
Due: core

modified notebook
  notebooks/sweep_analysis.ipynb
Due: core

attempt to fix distributed stuff
  common/src/metta/common/util/lock.py
  notebooks/sweep_analysis.ipynb
  tools/sweep_rollout.py
Due: core, common

fix: rework downstream config to abide by expectations
  configs/sweep_job.yaml
  metta/sweep/sweep_lifecycle.py
  tools/sweep_rollout.py
Due: core

what?
  notebooks/sweep_analysis.ipynb
  notebooks/sweep_analysis_lnjzuler.csv
Due: core

fix(sweep): cleanup dist group between runs to avoid resource overload
  tools/sweep_rollout.py
Due: core

Move key mgmt to backend
  app_backend/src/metta/app_backend/config.py
  app_backend/src/metta/app_backend/routes/sql_routes.py
  observatory/src/AIQueryBuilder.tsx
  observatory/src/repo.ts
Due: core, app_backend

Note that observatory backend should be getting anthropic secret key
  devops/charts/observatory-backend/templates/deployment.yaml
  devops/charts/observatory-backend/values.yaml
Due: core

add AI-powered SQL query builder
  app_backend/src/metta/app_backend/routes/sql_routes.py
  observatory/src/AIQueryBuilder.tsx
  observatory/src/SQLQuery.tsx
  observatory/src/repo.ts
Due: core, app_backend

format and lint observatory
  observatory/README.md
  observatory/src/Dashboard.module.css
  observatory/src/Dashboard.tsx
  observatory/src/EvalTasks.tsx
  observatory/src/Heatmap.tsx
  observatory/src/components/EvalSelector.module.css
  observatory/src/components/EvalSelector.tsx
  observatory/src/components/MetricSelector.module.css
  observatory/src/components/MetricSelector.tsx
  observatory/src/components/PolicySelector.module.css
  observatory/src/components/PolicySelector.tsx
  observatory/src/components/SearchInput.tsx
  observatory/src/components/TrainingRunPolicySelector.module.css
  observatory/src/components/TrainingRunPolicySelector.tsx
Due: core

Update biome.jsonc files and apply
  biome.jsonc
  mettascope/biome.jsonc
  observatory/biome.jsonc
  observatory/src/AIQueryBuilder.tsx
  observatory/src/App.tsx
  observatory/src/Dashboard.tsx
  observatory/src/DescriptionEditor.tsx
  observatory/src/Episodes.tsx
  observatory/src/EvalTasks.tsx
  observatory/src/GroupSelector.tsx
  observatory/src/Heatmap.tsx
  observatory/src/MapViewer.tsx
  observatory/src/MultiSelectDropdown.tsx
  observatory/src/SQLQuery.tsx
  observatory/src/SaveDashboardModal.tsx
  observatory/src/SavedDashboards.tsx
  observatory/src/SearchAndFiltersSidebar.tsx
  observatory/src/SuiteTabs.tsx
  observatory/src/TagEditor.tsx
  observatory/src/TokenManager.tsx
  observatory/src/TrainingRunDetail.tsx
  observatory/src/TrainingRunRow.tsx
  observatory/src/TrainingRuns.tsx
  observatory/src/components/EvalSelector.tsx
  observatory/src/components/MetricSelector.tsx
  observatory/src/components/PolicySelector.tsx
  observatory/src/components/TrainingRunPolicySelector.tsx
  observatory/src/data_loader.ts
  observatory/src/repo.ts
  observatory/vite.config.ts
Due: core

fix linting errors in observatory components
  observatory/README.md
  observatory/src/App.tsx
  observatory/src/DescriptionEditor.tsx
  observatory/src/EvalTasks.tsx
  observatory/src/MapViewer.tsx
  observatory/src/MultiSelectDropdown.tsx
  observatory/src/SQLQuery.tsx
  observatory/src/SaveDashboardModal.tsx
Due: core

fixed some nonsense in the ipynb and removed the static copy of Heatmap.tsx. Now 'metta install' copies the file from Observatory.
  experiments/notebooks/heatmap_widget_example.ipynb
  experiments/notebooks/utils/heatmap_widget/.gitignore
  experiments/notebooks/utils/heatmap_widget/src/Heatmap.tsx
  metta/setup/components/heatmapwidget.py
Due: core

Bump policy evaluator max-workers-per-hash to 30
  devops/charts/orchestrator/templates/deployment.yaml
  devops/charts/orchestrator/values.yaml
Due: core

remove unreachable cooldown code
  mettagrid/src/metta/mettagrid/objects/converter.hpp
  mettagrid/tests/test_observations.cpp
Due: mettagrid, mettagrid_cpp

re-add pufferlib as install
  mettagrid/pyproject.toml
Due: mettagrid

move mesh class
  mettascope/src/context3d.ts
  mettascope/src/mesh.ts
Due: core

Also limit max workers overall
  app_backend/src/metta/app_backend/eval_task_orchestrator.py
  devops/charts/orchestrator/values.yaml
Due: core, app_backend

re-add pufferlib as install in tools.uv.sources (#1757)
  mettagrid/pyproject.toml
Due: mettagrid

lint
  mettascope/package.json
  mettascope/src/context3d.ts
  mettascope/src/mesh.ts
Due: core

add pnpm to flake
  flake.nix
Due: core

only set isPlaying when enabling demo mode
  mettascope/src/demomode.ts
Due: core

more strings
  mettagrid/tests/test_observations.cpp
Due: mettagrid, mettagrid_cpp

switch on version
  mettagrid/tests/test_observations.cpp
Due: mettagrid, mettagrid_cpp

Path conditions:
  core: any file but: app_backend/, agent/, mettagrid/, common/, **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  app_backend: any of: app_backend/, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  agent: any of: agent/, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  mettagrid: any of: mettagrid/, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  mettagrid_cpp: any of: **/*.cpp, **/*.cc, **/*.cxx, **/*.c++, **/*.h, **/*.hpp, **/*.hh, **/*.hxx, **/*.h++, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  common: any of: common/, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
