Repository Metta-AI/metta: changes, and which Codecov flags are due for each by the changed paths.
All: core, app_backend, agent, mettagrid, mettagrid_cpp, common

codecov.yml:

# Codecov configuration for Metta-AI
# Documentation: https://docs.codecov.com/docs/codecov-yaml

# Wait for all CI jobs to complete before posting results
codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

# Coverage settings
coverage:
  # Round coverage to 2 decimal places
  precision: 2
  round: down

  # Status checks configuration
  status:
    # Project-wide coverage
    project:
      default:
        target: auto # Compare against base branch
        threshold: 1% # Allow 1% coverage drop
        base: auto
        informational: true # Won't fail PR, just inform

    # Coverage for changed lines only - this is your main gate
    patch:
      default:
        target: 50% # Minimum 50% coverage on new code
        threshold: 0% # No tolerance below 50%
        base: auto
        if_ci_failed: success # Don't fail if CI fails
        if_not_found: success # Don't fail if no coverage data

      # Additional informational patch check
      informational:
        target: 80% # Ideal target
        threshold: 0%
        informational: true # Won't fail, just shows as warning

# Pull request comment configuration
comment:
  layout: "header, diff, flags, components, files"
  behavior: default
  require_changes: false # Post comment even if no coverage change
  require_base: false # Don't require base coverage
  require_head: true # Must have head coverage to post
  hide_project_coverage: false # Show overall project coverage

# Flag configuration for different test suites
flags:
  core:
    paths:
      - "!app_backend/"
      - "!agent/"
      - "!mettagrid/"
      - "!common/"
    carryforward: true

  app_backend:
    paths:
      - app_backend/
    carryforward: true

  agent:
    paths:
      - agent/
    carryforward: true

  mettagrid:
    paths:
      - mettagrid/
    carryforward: true

  mettagrid_cpp:
    paths:
      - "**/*.cpp"
      - "**/*.cc"
      - "**/*.cxx"
      - "**/*.c++"
      - "**/*.h"
      - "**/*.hpp"
      - "**/*.hh"
      - "**/*.hxx"
      - "**/*.h++"
    carryforward: true

  common:
    paths:
      - common/
    carryforward: true

# Ignore certain paths from coverage
ignore:
  - "**/tests/"
  - "**/test_*.py"
  - "**/*_test.py"
  - "**/conftest.py"
  - "setup.py"
  - "**/migrations/"
  - "**/__pycache__/"
  - "**/node_modules/"
  - "**/*.pb.py" # Generated protobuf files
  - "**/*.pyi" # Type stub files
  - "**/fixtures/"
  - "**/mocks/"
  - "**/build/" # C++ build directories
  - "**/cmake-build-*/" # CLion/CMake build directories
  - "**/CMakeFiles/" # CMake generated files
  - "**/*.o" # Object files
  - "**/*.a" # Static libraries
  - "**/*.so" # Shared libraries
  - "**/*.dylib" # macOS dynamic libraries
  - "**/*.dll" # Windows dynamic libraries

# GitHub integration settings
github_checks:
  annotations: true # Show coverage annotations in PR files view

Fix eval tasks sim_suites input (#2100)
  observatory/src/EvalTasks.tsx
Due: core

lp sky run 10 bil steps
  recipes/dual_policy_cloud.sh
Due: core

Better messaging
  observatory/src/LeaderboardView.tsx
Due: core

Add leaderboards to observatory (#2078)
  app_backend/src/metta/app_backend/leaderboard_updater.py
  app_backend/src/metta/app_backend/metta_repo.py
  app_backend/src/metta/app_backend/routes/leaderboard_routes.py
  app_backend/src/metta/app_backend/routes/scorecard_routes.py
  app_backend/src/metta/app_backend/server.py
  app_backend/tests/conftest.py
  app_backend/tests/generate_test_data.py
  app_backend/tests/test_scorecard_routes.py
  metta/common/test_support/__init__.py
  metta/common/test_support/schema_isolation_functions.py
  observatory/src/App.tsx
  observatory/src/LeaderboardConfig.tsx
  observatory/src/LeaderboardView.tsx
  observatory/src/Leaderboards.tsx
  observatory/src/components/DateSelector.tsx
  observatory/src/repo.ts
Due: core, app_backend

MettaAgent either creates a ComponentPolicy or just a torch.nn.Module as a policy v2 (#2094)
  CLAUDE.md
  agent/src/metta/agent/component_policy.py
  agent/src/metta/agent/external/__init__.py
  agent/src/metta/agent/external/example.py
  agent/src/metta/agent/external/lstm_transformer.py
  agent/src/metta/agent/metta_agent.py
  agent/src/metta/agent/mocks/mock_agent.py
  agent/src/metta/agent/models/encoders.py
  agent/src/metta/agent/models/tokenizers.py
  agent/src/metta/agent/policy_record.py
  agent/src/metta/agent/pytorch/agent_mapper.py
  agent/src/metta/agent/pytorch/example.py
  agent/src/metta/agent/pytorch/fast.py
  agent/src/metta/agent/pytorch/latent_attn_med.py
  agent/src/metta/agent/pytorch/latent_attn_small.py
  agent/src/metta/agent/pytorch/latent_attn_tiny.py
  agent/tests/test_legacy_adapter.py
  agent/tests/test_metta_agent.py
  agent/tests/test_vanilla_policy.py
  metta/rl/checkpoint_manager.py
  metta/rl/puffer_policy.py
Due: core, agent

Apply suggested changes
  tests/sweep/test_sweep_rollout.py
  tools/train.py
Due: core

refactor: sweep pipeline implementation
  common/src/metta/common/util/lock.py
  configs/sweep/full.yaml
  configs/sweep_job.yaml
  devops/sweep.sh
  experiments/notebooks/research/sweep_analysis.ipynb
  experiments/notebooks/research/sweep_dashboard_interactive.ipynb
  experiments/notebooks/research/sweep_dashboard_plotly.ipynb
  metta/sweep/__init__.py
  metta/sweep/protein_utils.py
  metta/sweep/sweep_lifecycle.py
  metta/sweep/sweep_rollout.py
  metta/sweep/wandb_utils.py
  output.png
  tests/sweep/__init__.py
  tests/sweep/test_integration_sweep_centralized.py
  tests/sweep/test_integration_sweep_pipeline.py
  tests/sweep/test_metta_protein.py
  tests/sweep/test_protein_end_to_end_pipeline.py
  tests/sweep/test_protein_integration.py
  tests/sweep/test_protein_metta.py
  tests/sweep/test_protein_utils.py
  tests/sweep/test_sweep_config_loading.py
  tests/sweep/test_sweep_init.py
  tests/sweep/test_sweep_lifecycle.py
  tests/sweep/test_sweep_rollout.py
  tests/sweep/test_sweep_script_integration.py
  tests/sweep/test_wandb_utils.py
  tools/get_best_params_from_sweep.py
  tools/sweep_config_utils.py
  tools/sweep_prepare_run.py
  tools/sweep_rollout.py
  tools/sweep_setup.py
  tools/train.py
Due: core, common

update discord notices
  devops/skypilot/config/sk_train.yaml
Due: core

drop debug
  devops/skypilot/config/sk_train.yaml
Due: core

no more py_agent
  configs/py_agent/agalite.yaml
Due: core

py_agent doesnt need yaml
  configs/agent/agalite.yaml
Due: core

no device
  agent/src/metta/agent/metta_agent.py
  agent/src/metta/agent/pytorch/example.py
Due: agent

add device
  agent/src/metta/agent/pytorch/fast.py
  agent/src/metta/agent/pytorch/latent_attn_med.py
  agent/src/metta/agent/pytorch/latent_attn_small.py
  agent/src/metta/agent/pytorch/latent_attn_tiny.py
Due: agent

add crap to pytorch agents
  agent/src/metta/agent/pytorch/fast.py
  agent/src/metta/agent/pytorch/latent_attn_med.py
  agent/src/metta/agent/pytorch/latent_attn_small.py
  agent/src/metta/agent/pytorch/latent_attn_tiny.py
Due: agent

td fix
  agent/src/metta/agent/pytorch/agalite.py
  agent/src/metta/agent/pytorch/example.py
Due: agent

reduced helpers
  agent/src/metta/agent/pytorch/fast.py
  agent/src/metta/agent/pytorch/latent_attn_med.py
  agent/src/metta/agent/pytorch/latent_attn_small.py
  agent/src/metta/agent/pytorch/latent_attn_tiny.py
Due: agent

.
  metta/rl/trainer.py
Due: core

try as external script
  devops/skypilot/config/sk_train.yaml
  devops/skypilot/config/sk_train_run.sh
Due: core

made agalite memory fit metta
  agent/src/metta/agent/pytorch/agalite.py
Due: agent

testing shape
  configs/env/mettagrid/colortree_easy.yaml
  configs/env/mettagrid/colortree_easy_roomgen.yaml
  configs/env/mettagrid/curriculum/colortree_easy_roomgen.yaml
  configs/user/jacke.yaml
  mettascope/src/actions.ts
Due: core

batched by default;
  agent/src/metta/agent/pytorch/agalite.py
Due: agent

add defaults
  metta/util/metta_script.py
Due: core

fix size
  configs/env/mettagrid/colortree_easy_roomgen.yaml
Due: core

batch agalite
  agent/src/metta/agent/agalite.py
Due: agent

perf fixes
  agent/src/metta/agent/agalite.py
  agent/src/metta/agent/pytorch/agalite.py
Due: agent

update configs
  configs/env/mettagrid/curriculum/operant_conditioning/2_converters.yaml
  configs/env/mettagrid/curriculum/operant_conditioning/3_converters.yaml
  configs/env/mettagrid/curriculum/operant_conditioning/4_converters.yaml
  configs/env/mettagrid/curriculum/operant_conditioning/all.yaml
  configs/env/mettagrid/curriculum/operant_conditioning/in_context_learning/01_sinks_chainlength4.yaml
  configs/env/mettagrid/operant_conditioning/in_context_learning/defaults.yaml
  configs/replay_job.yaml
  metta/map/scenes/perimeter.py
  recipes/operantconditioning_incontext.sh
  tools/generate_incontext_envs.py
Due: core

update sim
  configs/sim/operant_conditioning_incontext.yaml
Due: core

update recipe
  recipes/operantconditioning_incontext.sh
Due: core

now working on ks losses
  configs/agent/fast.yaml
  configs/user/alex.yaml
  metta/rl/loss/ema.py
  metta/rl/loss/ppo.py
  metta/rl/loss/tlkickstarter.py
  metta/rl/trainer.py
Due: core

sp
  agent/src/metta/agent/lib/lstm_jack.py
  configs/agent/fast.yaml
  configs/user/alex.yaml
Due: core, agent

example fix
  agent/src/metta/agent/pytorch/example.py
Due: agent

new version
  agent/src/metta/agent/agalite_batched.py
  agent/src/metta/agent/pytorch/agalite_optimized.py
  agent/src/metta/agent/pytorch/agent_mapper.py
Due: agent

new version
  agent/src/metta/agent/agalite.py
  agent/src/metta/agent/pytorch/agalite.py
  agent/src/metta/agent/pytorch/agalite_optimized.py
Due: agent

readme changes
  agent/src/metta/agent/agalite_README.md
  agent/src/metta/agent/pytorch/agent_mapper.py
Due: agent

tiny envs
  configs/agent/fast.yaml
  configs/env/mettagrid/maps/tiny/tiny1.map
  configs/env/mettagrid/maps/tiny/tiny2.map
  configs/env/mettagrid/maps/tiny/tiny3.map
  configs/env/mettagrid/tiny/defaults.yaml
  configs/env/mettagrid/tiny/tiny1.yaml
  configs/env/mettagrid/tiny/tiny2.yaml
  configs/env/mettagrid/tiny/tiny3.yaml
  configs/replay_job.yaml
  configs/user/georgedeane.yaml
Due: core

fixed batch implementation
  agent/src/metta/agent/agalite_batched.py
  agent/src/metta/agent/pytorch/agalite.py
Due: agent

matt magic, LSTM off diagonol intizilzaztion, MLP post multiplication
  agent/src/metta/agent/lstm_jack.py
  configs/agent/fast.yaml
  configs/env/mettagrid/colortree_easy.yaml
  tools/ct_seed_sweep.py
Due: core, agent

a sin
  agent/src/metta/agent/lib/lstm_jack.py
  agent/src/metta/agent/lstm_jack.py
  configs/agent/fast.yaml
Due: core, agent
