Repository Metta-AI/metta: changes, and which Codecov flags are due for each by the changed paths.
All: core, app_backend, agent, mettagrid, mettagrid_cpp, common

codecov.yml:

# Codecov configuration for Metta-AI
# Documentation: https://docs.codecov.com/docs/codecov-yaml

# Wait for all CI jobs to complete before posting results
codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

# Coverage settings
coverage:
  # Round coverage to 2 decimal places
  precision: 2
  round: down

  # Status checks configuration
  status:
    # Project-wide coverage
    project:
      default:
        target: auto # Compare against base branch
        threshold: 1% # Allow 1% coverage drop
        base: auto
        informational: true # Won't fail PR, just inform

    # Coverage for changed lines only - this is your main gate
    patch:
      default:
        target: 50% # Minimum 50% coverage on new code
        threshold: 0% # No tolerance below 50%
        base: auto
        if_ci_failed: success # Don't fail if CI fails
        if_not_found: success # Don't fail if no coverage data

      # Additional informational patch check
      informational:
        target: 80% # Ideal target
        threshold: 0%
        informational: true # Won't fail, just shows as warning

# Pull request comment configuration
comment:
  layout: "header, diff, flags, components, files"
  behavior: default
  require_changes: false # Post comment even if no coverage change
  require_base: false # Don't require base coverage
  require_head: true # Must have head coverage to post
  hide_project_coverage: false # Show overall project coverage

# Flag configuration for different test suites
flags:
  core:
    paths:
      - "!app_backend/"
      - "!agent/"
      - "!mettagrid/"
      - "!common/"
    carryforward: true

  app_backend:
    paths:
      - app_backend/
    carryforward: true

  agent:
    paths:
      - agent/
    carryforward: true

  mettagrid:
    paths:
      - mettagrid/
    carryforward: true

  mettagrid_cpp:
    paths:
      - "**/*.cpp"
      - "**/*.cc"
      - "**/*.cxx"
      - "**/*.c++"
      - "**/*.h"
      - "**/*.hpp"
      - "**/*.hh"
      - "**/*.hxx"
      - "**/*.h++"
    carryforward: true

  common:
    paths:
      - common/
    carryforward: true

# Ignore certain paths from coverage
ignore:
  - "**/tests/"
  - "**/test_*.py"
  - "**/*_test.py"
  - "**/conftest.py"
  - "setup.py"
  - "**/migrations/"
  - "**/__pycache__/"
  - "**/node_modules/"
  - "**/*.pb.py" # Generated protobuf files
  - "**/*.pyi" # Type stub files
  - "**/fixtures/"
  - "**/mocks/"
  - "**/build/" # C++ build directories
  - "**/cmake-build-*/" # CLion/CMake build directories
  - "**/CMakeFiles/" # CMake generated files
  - "**/*.o" # Object files
  - "**/*.a" # Static libraries
  - "**/*.so" # Shared libraries
  - "**/*.dylib" # macOS dynamic libraries
  - "**/*.dll" # Windows dynamic libraries

# GitHub integration settings
github_checks:
  annotations: true # Show coverage annotations in PR files view

lint
  .github/scripts/check_mettagrid_build.py
Due: core

Update skypilok client to match slava ugprade to server version
  pyproject.toml
  uv.lock
Due: core

surface runtime failures
  .github/scripts/check_mettagrid_build.py
Due: core

skypilot 0.10.0 (#1739)
  devops/charts/helmfile.yaml
  devops/charts/skypilot/.gitignore
  devops/charts/skypilot/.helmignore
  devops/charts/skypilot/Chart.yaml
  devops/charts/skypilot/DCGM_MONITORING.md
  devops/charts/skypilot/README.md
  devops/charts/skypilot/developer.md
  devops/charts/skypilot/files/ecr.patch
  devops/charts/skypilot/manifests/api-server-overview.json
  devops/charts/skypilot/manifests/dcgm-cluster-dashboard.json
  devops/charts/skypilot/manifests/dcgm-cluster-filter-dashboard.json
  devops/charts/skypilot/templates/NOTES.txt
  devops/charts/skypilot/templates/_helpers.tpl
  devops/charts/skypilot/templates/api-configmap.yaml
  devops/charts/skypilot/templates/api-dashboard-grafana-configmap.yaml
  devops/charts/skypilot/templates/api-deployment.yaml
  devops/charts/skypilot/templates/api-secrets.yaml
  devops/charts/skypilot/templates/auth.yaml
  devops/charts/skypilot/templates/datasource.yaml
  devops/charts/skypilot/templates/dcgm-cluster-dashboard-grafana-configmap.yaml
  devops/charts/skypilot/templates/dcgm-cluster-filtering-dashboard-grafana-configmap.yaml
  devops/charts/skypilot/templates/dcgm-prometheus-scrape-service.yaml
  devops/charts/skypilot/templates/grafana-ingress.yaml
  devops/charts/skypilot/templates/ingress.yaml
  devops/charts/skypilot/templates/initial-auth.yaml
  devops/charts/skypilot/templates/oauth2-proxy-deployment.yaml
  devops/charts/skypilot/templates/oauth2-proxy-ingress.yaml
  devops/charts/skypilot/templates/oauth2-proxy-redis.yaml
  devops/charts/skypilot/templates/oauth2-proxy-service.yaml
  devops/charts/skypilot/templates/rbac.yaml
  devops/charts/skypilot/unittests/deployment_test.yaml
  devops/charts/skypilot/values.yaml
  pyproject.toml
  uv.lock
Due: core

Update recipes/arena.sh to take in additional command line args (#1722)
  recipes/arena.sh
  recipes/nav_memory_sequence.sh
  recipes/navigation.sh
  recipes/object_use.sh
Due: core

Categorical sampling for bucketed curriculum (#1693)
  configs/env/mettagrid/curriculum/bbc/tasks/altar.yaml
  configs/env/mettagrid/curriculum/bbc/tasks/armor.yaml
  configs/env/mettagrid/curriculum/bbc/tasks/basic.yaml
  configs/env/mettagrid/curriculum/bbc/tasks/combat.yaml
  configs/env/mettagrid/curriculum/bbc/tasks/laser.yaml
  configs/env/mettagrid/curriculum/bbc/tasks/tag.yaml
  configs/env/mettagrid/curriculum/navigation/bucketed.yaml
  configs/env/mettagrid/curriculum/objects/all_objects.yaml
  configs/env/mettagrid/curriculum/resources.yaml
  configs/user/daphne.yaml
  mettagrid/src/metta/mettagrid/curriculum/bucketed.py
  mettagrid/src/metta/mettagrid/curriculum/sampling.py
  mettagrid/tests/test_bucketed_config.yaml
  mettagrid/tests/test_curriculum.py
Due: core, mettagrid

catch output
  .github/scripts/check_mettagrid_build.py
  .github/workflows/checks.yml
Due: core

add timing
  configs/env/mettagrid/curriculum/cyclical_converter_timing_study.yaml
  configs/env/mettagrid/curriculum/cyclical_timing_10.yaml
  configs/env/mettagrid/curriculum/cyclical_timing_100.yaml
  configs/env/mettagrid/curriculum/cyclical_timing_16.yaml
  configs/env/mettagrid/curriculum/cyclical_timing_20.yaml
  configs/env/mettagrid/curriculum/cyclical_timing_50.yaml
  configs/env/mettagrid/curriculum/cyclical_timing_6.yaml
  configs/env/mettagrid/curriculum/cyclical_timing_8.yaml
  configs/env/mettagrid/cyclical/cyclical_horizontal_timing_10.yaml
  configs/env/mettagrid/cyclical/cyclical_horizontal_timing_100.yaml
  configs/env/mettagrid/cyclical/cyclical_horizontal_timing_16.yaml
  configs/env/mettagrid/cyclical/cyclical_horizontal_timing_20.yaml
  configs/env/mettagrid/cyclical/cyclical_horizontal_timing_50.yaml
  configs/env/mettagrid/cyclical/cyclical_horizontal_timing_6.yaml
  configs/env/mettagrid/cyclical/cyclical_horizontal_timing_8.yaml
  configs/env/mettagrid/cyclical/cyclical_vertical_timing_10.yaml
  configs/env/mettagrid/cyclical/cyclical_vertical_timing_100.yaml
  configs/env/mettagrid/cyclical/cyclical_vertical_timing_16.yaml
  configs/env/mettagrid/cyclical/cyclical_vertical_timing_20.yaml
  configs/env/mettagrid/cyclical/cyclical_vertical_timing_50.yaml
  configs/env/mettagrid/cyclical/cyclical_vertical_timing_6.yaml
  configs/env/mettagrid/cyclical/cyclical_vertical_timing_8.yaml
  recipes/cyclical_timing_tests.sh
Due: core

addressed dist barrier issues
  .claude/tasks/fix_missing_features_and_audit_distributed.md
  metta/rl/trainer.py
Due: core

updated metta_client to use proper types from heatmap_routes and also to use EvalTaskClient so it gets a token automatically and can make requests nicely. updated the ipynb to reflect.
  experiments/notebooks/heatmap_widget_example.ipynb
  experiments/notebooks/utils/heatmap_widget/heatmap_widget/metta_client.py
Due: core

fix warnings
  mettagrid/src/metta/mettagrid/mettagrid_c.cpp
  mettagrid/src/metta/mettagrid/objects/converter.hpp
Due: mettagrid, mettagrid_cpp

cleaned up the claude related readmes
  .claude/hooks/Stop
  .claude/hooks/TrainTest
  CLAUDE.md
Due: core

update skypilot
  devops/charts/skypilot/values.yaml
  pyproject.toml
  uv.lock
Due: core

hydra details
  CLAUDE.md
  README.md
Due: core

readme changes
  CLAUDE.md
  README.md
Due: core

fix to random
  configs/env/mettagrid/curriculum/cyclical_converter.yaml
  configs/env/mettagrid/curriculum/cyclical_timing_10.yaml
  configs/env/mettagrid/curriculum/cyclical_timing_100.yaml
  configs/env/mettagrid/curriculum/cyclical_timing_16.yaml
  configs/env/mettagrid/curriculum/cyclical_timing_20.yaml
  configs/env/mettagrid/curriculum/cyclical_timing_50.yaml
  configs/env/mettagrid/curriculum/cyclical_timing_6.yaml
  configs/env/mettagrid/curriculum/cyclical_timing_8.yaml
Due: core

better seperation of code. now the api client lives in metta.common and there is a heatmap_widget.util module
  common/src/metta/common/client/__init__.py
  common/src/metta/common/client/metta_client.py
  experiments/notebooks/heatmap_widget_example.ipynb
  experiments/notebooks/utils/heatmap_widget/__init__.py
  experiments/notebooks/utils/heatmap_widget/heatmap_widget/__init__.py
  experiments/notebooks/utils/heatmap_widget/heatmap_widget/metta_client.py
  experiments/notebooks/utils/heatmap_widget/heatmap_widget/util.py
Due: core, common

optional float or string
  mettagrid/src/metta/mettagrid/mettagrid_config.py
Due: mettagrid

Fix keys in all_objects curriculum
  configs/env/mettagrid/curriculum/objects/all_objects.yaml
Due: core

removed python __ALL__ stuff from __init__.pys. metta doesn't use those apparently.
  common/src/metta/common/client/__init__.py
  experiments/notebooks/heatmap_widget_example.ipynb
  experiments/notebooks/utils/heatmap_widget/__init__.py
  experiments/notebooks/utils/heatmap_widget/heatmap_widget/__init__.py
Due: core, common

No spot pricing for sandboxes
  devops/skypilot/sandbox.py
Due: core

Fix keys in all_objects curriculum (#1645)
  configs/env/mettagrid/curriculum/objects/all_objects.yaml
Due: core

enable oauth for skypilot api server
  devops/charts/helmfile.yaml
  devops/skypilot/README.md
  devops/skypilot/install.sh
Due: core

cleanup terraform skypilot module
  devops/tf/eks/cert-manager.tf
  devops/tf/eks/skypilot/chart.tf
  devops/tf/eks/skypilot/endpoint.tf
  devops/tf/eks/skypilot/iam.tf
  devops/tf/eks/skypilot/secrets.tf
  devops/tf/eks/skypilot/skypilot-config.tftpl
  devops/tf/eks/skypilot/variables.tf
Due: core

fix global scope issues
  mettagrid/compiler_flags.cmake
  mettagrid/src/metta/mettagrid/action_handler.hpp
  mettagrid/src/metta/mettagrid/mettagrid_c.cpp
  mettagrid/src/metta/mettagrid/mettagrid_c.pyi
  mettagrid/src/metta/mettagrid/mettagrid_env.py
  mettagrid/src/metta/mettagrid/objects/constants.hpp
  mettagrid/src/metta/mettagrid/observation_encoder.hpp
  mettagrid/src/metta/mettagrid/stats_tracker.hpp
  mettagrid/tests/test_mettagrid.cpp
Due: mettagrid, mettagrid_cpp

Fix sandbox cost calculation to use on-demand pricing (#1743)
  devops/skypilot/sandbox.py
Due: core

no more relative import
  experiments/notebooks/utils/heatmap_widget/heatmap_widget/util.py
Due: core

Changes to CLAUDE.md and .claude/ (#1734)
  .claude/agents/code-refactorer.md
  .claude/agents/content-writer.md
  .claude/agents/frontend-designer.md
  .claude/agents/prd-writer.md
  .claude/agents/project-task-planner.md
  .claude/agents/security-auditor.md
  .claude/agents/vibe-coding-coach.md
  .claude/commands/joke.md
  .claude/commands/journal.md
  .claude/commands/todo.md
  .claude/hooks/Stop
  .claude/hooks/TrainTest
  CLAUDE.md
  README.md
Due: core

ruff format this file
  experiments/notebooks/utils/heatmap_widget/heatmap_widget/HeatmapWidget.py
Due: core

simplify and type change
  .claude/tasks/refactor_pr_1374_cleanup.md
  metta/rl/checkpoint_manager.py
  metta/rl/evaluate.py
  metta/rl/trainer.py
  metta/rl/trainer_component.py
  metta/rl/util/policy_management.py
  metta/rl/wandb.py
Due: core

fix import bug
  experiments/notebooks/heatmap_widget_example.ipynb
Due: core

update skypilot gh action
  .github/actions/launch-skypilot-job/action.yml
  .github/workflows/dist-smoketest.yml
  .github/workflows/sky-train.yml
  devops/tf/github/secrets.tf
Due: core

fix some linux build warnings
  mettagrid/benchmarks/test_mettagrid_env_benchmark.cpp
  mettagrid/src/metta/mettagrid/grid.hpp
  mettagrid/src/metta/mettagrid/grid_object.hpp
  mettagrid/src/metta/mettagrid/packed_coordinate.hpp
  mettagrid/src/metta/mettagrid/stats_tracker.hpp
Due: mettagrid, mettagrid_cpp

batch variance penalty
  configs/trainer/trainer.yaml
  metta/rl/trainer_config.py
  metta/rl/util/losses.py
Due: core
