Repository Metta-AI/metta: changes, and which Codecov flags are due for each by the changed paths.
All: core, app_backend, agent, mettagrid, mettagrid_cpp, common

codecov.yml:

# Codecov configuration for Metta-AI
# Documentation: https://docs.codecov.com/docs/codecov-yaml

# Wait for all CI jobs to complete before posting results
codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

# Coverage settings
coverage:
  # Round coverage to 2 decimal places
  precision: 2
  round: down

  # Status checks configuration
  status:
    # Project-wide coverage
    project:
      default:
        target: auto # Compare against base branch
        threshold: 1% # Allow 1% coverage drop
        base: auto
        informational: true # Won't fail PR, just inform

    # Coverage for changed lines only - this is your main gate
    patch:
      default:
        target: 50% # Minimum 50% coverage on new code
        threshold: 0% # No tolerance below 50%
        base: auto
        if_ci_failed: success # Don't fail if CI fails
        if_not_found: success # Don't fail if no coverage data

      # Additional informational patch check
      informational:
        target: 80% # Ideal target
        threshold: 0%
        informational: true # Won't fail, just shows as warning

# Pull request comment configuration
comment:
  layout: "header, diff, flags, components, files"
  behavior: default
  require_changes: false # Post comment even if no coverage change
  require_base: false # Don't require base coverage
  require_head: true # Must have head coverage to post
  hide_project_coverage: false # Show overall project coverage

# Flag configuration for different test suites
flags:
  core:
    paths:
      - "!app_backend/"
      - "!agent/"
      - "!mettagrid/"
      - "!common/"
    carryforward: true

  app_backend:
    paths:
      - app_backend/
    carryforward: true

  agent:
    paths:
      - agent/
    carryforward: true

  mettagrid:
    paths:
      - mettagrid/
    carryforward: true

  mettagrid_cpp:
    paths:
      - "**/*.cpp"
      - "**/*.cc"
      - "**/*.cxx"
      - "**/*.c++"
      - "**/*.h"
      - "**/*.hpp"
      - "**/*.hh"
      - "**/*.hxx"
      - "**/*.h++"
    carryforward: true

  common:
    paths:
      - common/
    carryforward: true

# Ignore certain paths from coverage
ignore:
  - "**/tests/"
  - "**/test_*.py"
  - "**/*_test.py"
  - "**/conftest.py"
  - "setup.py"
  - "**/migrations/"
  - "**/__pycache__/"
  - "**/node_modules/"
  - "**/*.pb.py" # Generated protobuf files
  - "**/*.pyi" # Type stub files
  - "**/fixtures/"
  - "**/mocks/"
  - "**/build/" # C++ build directories
  - "**/cmake-build-*/" # CLion/CMake build directories
  - "**/CMakeFiles/" # CMake generated files
  - "**/*.o" # Object files
  - "**/*.a" # Static libraries
  - "**/*.so" # Shared libraries
  - "**/*.dylib" # macOS dynamic libraries
  - "**/*.dll" # Windows dynamic libraries

# GitHub integration settings
github_checks:
  annotations: true # Show coverage annotations in PR files view

added test checks etc
  tests/tools/test_new_policy_system.py
Due: none

tests
  metta/rl/checkpoint_manager.py
  tests/rl/test_kickstarter.py
Due: core

tests tests tests
  tests/rl/test_checkpoint_uri_integration.py
Due: none

simplify
  metta/rl/checkpoint_manager.py
Due: core

lint
  metta/rl/checkpoint_manager.py
  tests/rl/test_checkpoint_uri_integration.py
Due: core

parse uri changes
  metta/rl/checkpoint_manager.py
Due: core

dist resume fix
  metta/rl/trainer.py
Due: core

restored circular reference issue
  agent/src/metta/agent/metta_agent.py
  metta/rl/trainer.py
Due: core, agent

yay barriers
  agent/src/metta/agent/metta_agent.py
Due: agent

trainer fixes
  metta/rl/trainer.py
Due: core

remove barrier
  agent/src/metta/agent/metta_agent.py
Due: agent

barrier
  metta/rl/trainer.py
Due: core

barrier back
  metta/rl/trainer.py
Due: core

adopt main save load
  metta/rl/trainer.py
Due: core

barrier crap
  metta/rl/trainer.py
Due: core

all rannks load
  metta/rl/trainer.py
Due: core

uses exists
  metta/rl/trainer.py
Due: core

use exist
  metta/rl/trainer.py
Due: core

attempted fix
  agent/src/metta/agent/metta_agent.py
Due: agent

status
  agent/src/metta/agent/metta_agent.py
Due: agent

simplify
  agent/src/metta/agent/metta_agent.py
  metta/rl/trainer.py
Due: core, agent

our changes
  agent/src/metta/agent/metta_agent.py
  metta/rl/trainer.py
Due: core, agent

simplify
  agent/src/metta/agent/metta_agent.py
Due: agent

redux
  devops/tools/auto_ruff_fix.py
  metta/rl/trainer.py
Due: core

linted
  agent/src/metta/agent/metta_agent.py
  metta/rl/trainer.py
Due: core, agent

simplify agent
  metta/rl/trainer.py
Due: core

dist fix
  metta/core/distributed.py
Due: core

device fix
  metta/rl/trainer.py
Due: core

more ddp issues
  agent/src/metta/agent/metta_agent.py
  metta/core/distributed.py
Due: core, agent

ruff fix
  mettagrid/src/metta/mettagrid/mapgen/tools/dcss_import.py
Due: mettagrid

last attempt for now
  metta/core/distributed.py
  metta/rl/trainer.py
Due: core

fix extra print statements
  mettagrid/src/metta/mettagrid/mapgen/mapgen.py
Due: mettagrid

move license note
  README.md
  mettagrid/src/metta/mettagrid/mapgen/scenes/dcss/README.md
Due: core, mettagrid

fix tests
  mettagrid/src/metta/mettagrid/test_support/mapgen.py
  mettagrid/tests/mapgen/scenes/test_ascii.py
  mettagrid/tests/mapgen/scenes/test_auto.py
  mettagrid/tests/mapgen/scenes/test_bsp.py
  mettagrid/tests/mapgen/scenes/test_convchain.py
  mettagrid/tests/mapgen/scenes/test_inline_ascii.py
  mettagrid/tests/mapgen/scenes/test_layout.py
  mettagrid/tests/mapgen/scenes/test_make_connected.py
  mettagrid/tests/mapgen/scenes/test_maze.py
  mettagrid/tests/mapgen/scenes/test_mean_distance.py
  mettagrid/tests/mapgen/scenes/test_mirror.py
  mettagrid/tests/mapgen/scenes/test_multi_left_and_right.py
  mettagrid/tests/mapgen/scenes/test_nop.py
  mettagrid/tests/mapgen/scenes/test_radial_maze.py
  mettagrid/tests/mapgen/scenes/test_random.py
  mettagrid/tests/mapgen/scenes/test_random_dcss_scene.py
  mettagrid/tests/mapgen/scenes/test_random_objects.py
  mettagrid/tests/mapgen/scenes/test_random_scene.py
  mettagrid/tests/mapgen/scenes/test_random_yaml_scene.py
  mettagrid/tests/mapgen/scenes/test_remove_agents.py
  mettagrid/tests/mapgen/scenes/test_room_grid.py
  mettagrid/tests/mapgen/scenes/test_wfc.py
  mettagrid/tests/mapgen/scenes/test_yaml.py
  mettagrid/tests/mapgen/test_mapgen.py
Due: mettagrid

yaml, random_yaml_scene, random_dcss_scene scenes
  mettagrid/src/metta/mettagrid/mapgen/scenes/random_dcss_scene.py
  mettagrid/src/metta/mettagrid/mapgen/scenes/random_yaml_scene.py
  mettagrid/src/metta/mettagrid/mapgen/scenes/yaml.py
  mettagrid/tests/mapgen/scenes/fixtures/dir1/1.yaml
  mettagrid/tests/mapgen/scenes/fixtures/dir1/2.yaml
  mettagrid/tests/mapgen/scenes/fixtures/test.yaml
  mettagrid/tests/mapgen/scenes/test_random_dcss_scene.py
  mettagrid/tests/mapgen/scenes/test_random_yaml_scene.py
  mettagrid/tests/mapgen/scenes/test_yaml.py
Due: mettagrid

wip refactor obs_enc
  mettagrid/src/metta/mettagrid/action_handler.hpp
  mettagrid/src/metta/mettagrid/actions/attack.hpp
  mettagrid/src/metta/mettagrid/actions/rotate.hpp
  mettagrid/src/metta/mettagrid/event.hpp
  mettagrid/src/metta/mettagrid/extensions/mettagrid_extension.cpp
  mettagrid/src/metta/mettagrid/extensions/mettagrid_extension.hpp
  mettagrid/src/metta/mettagrid/extensions/visitation_counts.cpp
  mettagrid/src/metta/mettagrid/extensions/visitation_counts.hpp
  mettagrid/src/metta/mettagrid/grid.hpp
  mettagrid/src/metta/mettagrid/grid_object.hpp
  mettagrid/src/metta/mettagrid/mettagrid_c.cpp
  mettagrid/src/metta/mettagrid/mettagrid_c.hpp
  mettagrid/src/metta/mettagrid/objects/agent.hpp
  mettagrid/src/metta/mettagrid/objects/box.hpp
  mettagrid/src/metta/mettagrid/objects/constants.hpp
  mettagrid/src/metta/mettagrid/objects/converter.hpp
  mettagrid/src/metta/mettagrid/objects/has_inventory.hpp
  mettagrid/src/metta/mettagrid/objects/production_handler.hpp
  mettagrid/src/metta/mettagrid/objects/wall.hpp
  mettagrid/src/metta/mettagrid/observation_encoder.hpp
  mettagrid/src/metta/mettagrid/observation_tokens.hpp
  mettagrid/src/metta/mettagrid/packed_coordinate.hpp
  mettagrid/tests/test_mettagrid.cpp
Due: mettagrid, mettagrid_cpp
