Repository Metta-AI/metta: changes, and which Codecov flags are due for each by the changed paths.
All: core, app_backend, agent, mettagrid, mettagrid_cpp, common

codecov.yml:

# Codecov configuration for Metta-AI
# Documentation: https://docs.codecov.com/docs/codecov-yaml

# Wait for all CI jobs to complete before posting results
codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

# Coverage settings
coverage:
  # Round coverage to 2 decimal places
  precision: 2
  round: down

  # Status checks configuration
  status:
    # Project-wide coverage
    project:
      default:
        target: auto # Compare against base branch
        threshold: 1% # Allow 1% coverage drop
        base: auto
        informational: true # Won't fail PR, just inform

    # Coverage for changed lines only - this is your main gate
    patch:
      default:
        target: 50% # Minimum 50% coverage on new code
        threshold: 0% # No tolerance below 50%
        base: auto
        if_ci_failed: success # Don't fail if CI fails
        if_not_found: success # Don't fail if no coverage data

      # Additional informational patch check
      informational:
        target: 80% # Ideal target
        threshold: 0%
        informational: true # Won't fail, just shows as warning

# Pull request comment configuration
comment:
  layout: "header, diff, flags, components, files"
  behavior: default
  require_changes: false # Post comment even if no coverage change
  require_base: false # Don't require base coverage
  require_head: true # Must have head coverage to post
  hide_project_coverage: false # Show overall project coverage

# Flag configuration for different test suites
flags:
  core:
    paths:
      - "!app_backend/"
      - "!agent/"
      - "!mettagrid/"
      - "!common/"
    carryforward: true

  app_backend:
    paths:
      - app_backend/
    carryforward: true

  agent:
    paths:
      - agent/
    carryforward: true

  mettagrid:
    paths:
      - mettagrid/
    carryforward: true

  mettagrid_cpp:
    paths:
      - "**/*.cpp"
      - "**/*.cc"
      - "**/*.cxx"
      - "**/*.c++"
      - "**/*.h"
      - "**/*.hpp"
      - "**/*.hh"
      - "**/*.hxx"
      - "**/*.h++"
    carryforward: true

  common:
    paths:
      - common/
    carryforward: true

# Ignore certain paths from coverage
ignore:
  - "**/tests/"
  - "**/test_*.py"
  - "**/*_test.py"
  - "**/conftest.py"
  - "setup.py"
  - "**/migrations/"
  - "**/__pycache__/"
  - "**/node_modules/"
  - "**/*.pb.py" # Generated protobuf files
  - "**/*.pyi" # Type stub files
  - "**/fixtures/"
  - "**/mocks/"
  - "**/build/" # C++ build directories
  - "**/cmake-build-*/" # CLion/CMake build directories
  - "**/CMakeFiles/" # CMake generated files
  - "**/*.o" # Object files
  - "**/*.a" # Static libraries
  - "**/*.so" # Shared libraries
  - "**/*.dylib" # macOS dynamic libraries
  - "**/*.dll" # Windows dynamic libraries

# GitHub integration settings
github_checks:
  annotations: true # Show coverage annotations in PR files view

yaml add
  configs/env/mettagrid/curriculum/colortree_random_mattmagic_2colors.yaml
  configs/env/mettagrid/curriculum/colortree_random_mattmagic_3colors.yaml
Due: core

yaml
  configs/env/mettagrid/curriculum/colortree_random_mattmagic_3colors.yaml
Due: core

fix script
  configs/env/mettagrid/curriculum/colortree_random_mattmagic_2colors.yaml
  configs/env/mettagrid/curriculum/colortree_random_mattmagic_3colors.yaml
  scripts/run_colortree_experiments.sh
Due: core

gix sim
  scripts/run_colortree_experiments.sh
Due: core

integrate as toggle
  docs/task_scaled_performance.md
  docs/task_scaled_performance_example.md
  metta/cogworks/curriculum/curriculum_env.py
  metta/cogworks/curriculum/task_generator.py
  mettagrid/src/metta/mettagrid/mettagrid_config.py
  recipes/navigation_original_metric.sh
  recipes/navigation_task_scaled_performance.sh
  recipes/navigation_task_scaled_performance_custom_range.sh
  tests/test_task_scaled_performance.py
Due: core, mettagrid

fix env load order
  devops/skypilot/config/sk_train_run.sh
  devops/skypilot/test_nccl.py
Due: core

simplify recipes
  recipes/navigation_original_metric.sh
  recipes/navigation_task_scaled_perf.sh
  recipes/navigation_task_scaled_performance.sh
Due: core

new learning progress memory curriculum
  configs/env/mettagrid/curriculum/memory_learning_progress.yaml
  configs/env/mettagrid/curriculum/navigation/learning_progress.yaml
  metta/rl/infonce.py
Due: core

pretty print
  devops/skypilot/test_nccl.py
Due: none

update resource limits
  configs/env/mettagrid/operant_conditioning/in_context_learning/chain_length_1/0_sinks/battery_red.yaml
  configs/env/mettagrid/operant_conditioning/in_context_learning/chain_length_1/0_sinks/ore_blue.yaml
  configs/env/mettagrid/operant_conditioning/in_context_learning/chain_length_1/0_sinks/ore_green.yaml
  configs/env/mettagrid/operant_conditioning/in_context_learning/chain_length_1/0_sinks/ore_red.yaml
  configs/env/mettagrid/operant_conditioning/in_context_learning/defaults.yaml
Due: core

first pass at font rendering
  mettascope/tools/gen_atlas.py
Due: core

bells, whistles
  devops/skypilot/test_nccl.py
Due: none

make both notebookwidgets use pnpm and turbo
  devops/macos/Brewfile
  devops/tools/cleanup_repo.py
  experiments/notebooks/utils/eval_finder_widget/package-lock.json
  experiments/notebooks/utils/eval_finder_widget/package.json
  experiments/notebooks/utils/eval_finder_widget/should_build.sh
  experiments/notebooks/utils/eval_finder_widget/turbo.jsonc
  experiments/notebooks/utils/scorecard_widget/package-lock.json
  experiments/notebooks/utils/scorecard_widget/package.json
  experiments/notebooks/utils/scorecard_widget/should_build.sh
  experiments/notebooks/utils/scorecard_widget/turbo.jsonc
  metta/setup/components/notebookwidgets.py
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: core

make code less awful
  mettascope/tools/gen_atlas.py
Due: core

fixing exps
  configs/env/mettagrid/colortree_easy_roomgen_greg.yaml
  greg.sh
  mettagrid/src/metta/mettagrid/actions/color_tree.hpp
  mettagrid/src/metta/mettagrid/mettagrid_c.cpp
  mettagrid/src/metta/mettagrid/mettagrid_c_config.py
  mettagrid/src/metta/mettagrid/mettagrid_config.py
Due: core, mettagrid, mettagrid_cpp

Better date filtering
  observatory/src/LeaderboardConfig.tsx
Due: core

venv fix for logging
  metta/rl/stats.py
  metta/rl/trainer.py
  metta/rl/vecenv.py
  recipes/dual_policy_cloud.sh
  recipes/dual_policy_local.sh
Due: core

fix for dual policy cloud logging 1
  data/artifacts/daphne.generalized_nav.bucketed.07-10:v381/model.pt
  metta/rl/distributed_stats.py
  mettagrid/src/metta/mettagrid/mettagrid_env.py
Due: core, mettagrid

add json output file
  devops/skypilot/config/sk_train.yaml
  devops/skypilot/config/sk_train_run.sh
  devops/skypilot/test_nccl.py
Due: core

cp
  experiments/arena/arena.py
  metta/cogworks/curriculum/demo.py
  metta/eval/eval_service.py
  metta/rl/evaluate.py
  metta/rl/trainer.py
  metta/rl/trainer_config.py
  metta/sim/simulation.py
  metta/sim/simulation_config.py
  metta/sim/simulation_suite.py
  mettagrid/src/metta/mettagrid/mettagrid_config.py
  tools/play.py
  tools/replay.py
  tools/sim.py
  tools/sweep_eval.py
  tools/train.py
Due: core, mettagrid

cp
  experiments/arena/arena.py
  mettagrid/src/metta/mettagrid/core.py
  mettagrid/src/metta/mettagrid/mettagrid_config.py
  tools/train.py
Due: core, mettagrid

cp
  agent/pyproject.toml
  metta/rl/evaluate.py
  metta/rl/trainer.py
  metta/sim/simulation.py
  metta/sim/simulation_config.py
  metta/sim/simulation_stats_db.py
  metta/sim/simulation_suite.py
  mettagrid/pyproject.toml
  mettagrid/src/metta/mettagrid/mettagrid_config.py
  pyproject.toml
  tests/eval/test_eval_stats_db.py
  tests/sim/test_simulation_stats_db.py
  uv.lock
Due: core, agent, mettagrid

cp
  metta/cogworks/sweep/sweep_config.py
Due: core

device handling changes
  agent/src/metta/agent/metta_agent.py
  agent/src/metta/agent/pytorch/agalite.py
  agent/src/metta/agent/pytorch/agalite_hybrid.py
  agent/src/metta/agent/pytorch/example.py
  agent/src/metta/agent/pytorch/fast.py
  agent/src/metta/agent/pytorch/latent_attn_med.py
  agent/src/metta/agent/pytorch/latent_attn_small.py
  agent/src/metta/agent/pytorch/latent_attn_tiny.py
Due: agent

increment chainlength in filename
  tools/generate_incontext_envs.py
Due: core

update tool
  tools/generate_incontext_envs.py
Due: core

feat: PufferLib Fork to PyPI Migration (#2116)
  agent/pyproject.toml
  mettagrid/pyproject.toml
  pyproject.toml
  uv.lock
Due: core, agent, mettagrid

mv tests after trap
  devops/skypilot/config/sk_train_run.sh
Due: core

Add new movement keys to support new movement directions.
  configs/user/me.yaml
  mettascope/src/actions.ts
Due: core

Add my experiment.
  experiments/notebooks/andre_move_experiment.ipynb
  experiments/notebooks/mettabook-template.ipynb
Due: core

f
  experiments/notebooks/mettabook-template.ipynb
Due: core

fixing dual policy logging 2
  metta/rl/stats.py
Due: core

fix dtype test
  devops/skypilot/test_nccl.py
Due: none
