Repository Metta-AI/metta: changes, and which Codecov flags are due for each by the changed paths.
All: core, app_backend, agent, mettagrid, mettagrid_cpp, common

codecov.yml:

# Codecov configuration for Metta-AI
# Documentation: https://docs.codecov.com/docs/codecov-yaml

# Wait for all CI jobs to complete before posting results
codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

# Coverage settings
coverage:
  # Round coverage to 2 decimal places
  precision: 2
  round: down

  # Status checks configuration
  status:
    # Project-wide coverage
    project:
      default:
        target: auto # Compare against base branch
        threshold: 1% # Allow 1% coverage drop
        base: auto
        informational: true # Won't fail PR, just inform

    # Coverage for changed lines only - this is your main gate
    patch:
      default:
        target: 50% # Minimum 50% coverage on new code
        threshold: 0% # No tolerance below 50%
        base: auto
        if_ci_failed: success # Don't fail if CI fails
        if_not_found: success # Don't fail if no coverage data

      # Additional informational patch check
      informational:
        target: 80% # Ideal target
        threshold: 0%
        informational: true # Won't fail, just shows as warning

# Pull request comment configuration
comment:
  layout: "header, diff, flags, components, files"
  behavior: default
  require_changes: false # Post comment even if no coverage change
  require_base: false # Don't require base coverage
  require_head: true # Must have head coverage to post
  hide_project_coverage: false # Show overall project coverage

# Flag configuration for different test suites
flags:
  core:
    paths:
      - "!app_backend/"
      - "!agent/"
      - "!mettagrid/"
      - "!common/"
    carryforward: true

  app_backend:
    paths:
      - app_backend/
    carryforward: true

  agent:
    paths:
      - agent/
    carryforward: true

  mettagrid:
    paths:
      - mettagrid/
    carryforward: true

  mettagrid_cpp:
    paths:
      - "**/*.cpp"
      - "**/*.cc"
      - "**/*.cxx"
      - "**/*.c++"
      - "**/*.h"
      - "**/*.hpp"
      - "**/*.hh"
      - "**/*.hxx"
      - "**/*.h++"
    carryforward: true

  common:
    paths:
      - common/
    carryforward: true

# Ignore certain paths from coverage
ignore:
  - "**/tests/"
  - "**/test_*.py"
  - "**/*_test.py"
  - "**/conftest.py"
  - "setup.py"
  - "**/migrations/"
  - "**/__pycache__/"
  - "**/node_modules/"
  - "**/*.pb.py" # Generated protobuf files
  - "**/*.pyi" # Type stub files
  - "**/fixtures/"
  - "**/mocks/"
  - "**/build/" # C++ build directories
  - "**/cmake-build-*/" # CLion/CMake build directories
  - "**/CMakeFiles/" # CMake generated files
  - "**/*.o" # Object files
  - "**/*.a" # Static libraries
  - "**/*.so" # Shared libraries
  - "**/*.dylib" # macOS dynamic libraries
  - "**/*.dll" # Windows dynamic libraries

# GitHub integration settings
github_checks:
  annotations: true # Show coverage annotations in PR files view

don't append
  .github/workflows/checks.yml
Due: core

adding NPC + policy logging
  metta/rl/rollout.py
  mettagrid/src/metta/mettagrid/mettagrid_env.py
  run.py
Due: core, mettagrid

simplify
  conftest.py
Due: none

per shard coverage
  .github/workflows/checks.yml
Due: core

WIP
  app_backend/src/metta/app_backend/clients/eval_task_client.py
  app_backend/src/metta/app_backend/eval_task_orchestrator.py
  app_backend/src/metta/app_backend/eval_task_worker.py
  app_backend/src/metta/app_backend/metta_repo.py
  app_backend/src/metta/app_backend/routes/eval_task_routes.py
  app_backend/src/metta/app_backend/worker_managers/__init__.py
  app_backend/src/metta/app_backend/worker_managers/base.py
  app_backend/src/metta/app_backend/worker_managers/container_manager.py
  app_backend/src/metta/app_backend/worker_managers/thread_manager.py
  app_backend/tests/test_eval_task_orchestrator.py
  app_backend/tests/test_eval_task_orchestrator_integration.py
  app_backend/tests/test_workers/__init__.py
  app_backend/tests/test_workers/mock_workers.py
Due: app_backend

WIP
  app_backend/src/metta/app_backend/worker_managers/base.py
  app_backend/src/metta/app_backend/worker_managers/thread_manager.py
Due: app_backend

use package name
  .github/workflows/checks.yml
Due: core

update run names
  recipes/dual_policy_local.sh
Due: core

details on new ways of moving
  docs/move.md
Due: core

WIP
  app_backend/src/metta/app_backend/eval_task_worker.py
Due: app_backend

some git optimizations
  common/src/metta/common/util/git.py
Due: common

WIP
  app_backend/tests/test_eval_task_orchestrator_integration.py
  app_backend/tests/test_workers/mock_workers.py
Due: app_backend

WIP
  app_backend/tests/test_eval_task_orchestrator_integration.py
Due: none

mark some slow tests
  app_backend/tests/test_episode_filtering.py
  common/tests/util/test_git.py
  tests/sim/test_all_sim_configs.py
  tests/test_validate_all_curriculums.py
  tests/tools/test_renderer_job.py
Due: none

improve test coverage
  common/tests/util/test_git.py
Due: none

hydra merge conflict
  configs/env/mettagrid/arena/combat_teams.yaml
Due: core

add more slow marks
  app_backend/tests/test_docker_integration.py
  app_backend/tests/test_episode_filtering.py
  app_backend/tests/test_episode_tag_routes.py
  app_backend/tests/test_eval_task_routes.py
  common/tests/util/test_git.py
  mettagrid/tests/test_leaks.py
Due: none

New replay writer.
  mettagrid/src/metta/mettagrid/replay_writer.py
  mettascope/docs/replay_spec.md
Due: core, mettagrid

fix how traces show resources
  mettascope/src/hoverbubbles.ts
  mettascope/src/traces.ts
Due: core

Fix how inventory is displayed.
  mettagrid/src/metta/mettagrid/replay_writer.py
  mettascope/server.py
  mettascope/src/hoverbubbles.ts
  mettascope/src/replay.ts
  mettascope/src/traces.ts
  mettascope/src/worldmap.ts
Due: core, mettagrid

Actions and locations.
  mettagrid/src/metta/mettagrid/replay_writer.py
  mettascope/server.py
  mettascope/src/replay.ts
  mettascope/src/worldmap.ts
Due: core, mettagrid

Add object images.
  mettascope/data/atlas/objects/generator_blue.png
  mettascope/data/atlas/objects/generator_green.png
  mettascope/data/atlas/objects/generator_red.png
  mettascope/data/atlas/objects/mine_blue.png
  mettascope/data/atlas/objects/mine_green.png
  mettascope/data/atlas/objects/mine_red.png
Due: core

It now draws the map.
  mettagrid/src/metta/mettagrid/replay_writer.py
  mettascope/src/actions.ts
  mettascope/src/agentpanel.ts
  mettascope/src/demomode.ts
  mettascope/src/hoverbubbles.ts
  mettascope/src/main.ts
  mettascope/src/minimap.ts
  mettascope/src/replay.ts
  mettascope/src/search.ts
  mettascope/src/timeline.ts
  mettascope/src/traces.ts
  mettascope/src/worldmap.ts
Due: core, mettagrid

more typing
  mettascope/src/common.ts
  mettascope/src/hoverbubbles.ts
  mettascope/src/replay.ts
  mettascope/src/traces.ts
  mettascope/src/worldmap.ts
Due: core

Use the new typed objects.
  mettagrid/src/metta/mettagrid/replay_writer.py
  mettascope/src/actions.ts
  mettascope/src/agentpanel.ts
  mettascope/src/common.ts
  mettascope/src/demomode.ts
  mettascope/src/hoverbubbles.ts
  mettascope/src/main.ts
  mettascope/src/minimap.ts
  mettascope/src/replay.ts
  mettascope/src/search.ts
  mettascope/src/timeline.ts
  mettascope/src/traces.ts
  mettascope/src/worldmap.ts
Due: core, mettagrid

Gain and loss.
  mettascope/src/replay.ts
  mettascope/src/worldmap.ts
Due: core

More types in more places.
  mettascope/src/agentpanel.ts
  mettascope/src/hoverbubbles.ts
  mettascope/src/main.ts
  mettascope/src/replay.ts
  mettascope/src/worldmap.ts
Due: core

remove logs
  mettascope/src/replay.ts
Due: core

All of my cool old replays now work.
  mettascope/src/replay.ts
Due: core

Convert format v1 into format v2.
  mettascope/src/replay.ts
Due: core

fix input resources during play
  mettascope/src/replay.ts
Due: core

how gain and loss of resources on the trace panel.
  mettascope/src/traces.ts
Due: core

location swap
  mettagrid/src/metta/mettagrid/replay_writer.py
  mettascope/server.py
Due: core, mettagrid

Fix agent panel to the new keys.
  mettascope/data/ui/table/actionId.png
  mettascope/data/ui/table/actionId@2x.png
  mettascope/data/ui/table/actionParameter.png
  mettascope/data/ui/table/actionParameter@2x.png
  mettascope/data/ui/table/actionSuccess.png
  mettascope/data/ui/table/actionSuccess@2x.png
  mettascope/data/ui/table/agentId.png
  mettascope/data/ui/table/agentId@2x.png
  mettascope/data/ui/table/currentReward.png
  mettascope/data/ui/table/currentReward@2x.png
  mettascope/data/ui/table/groupId.png
  mettascope/data/ui/table/groupId@2x.png
  mettascope/data/ui/table/isFrozen.png
  mettascope/data/ui/table/isFrozen@2x.png
  mettascope/data/ui/table/totalReward.png
  mettascope/data/ui/table/totalReward@2x.png
  mettascope/data/ui/table/typeId.png
  mettascope/data/ui/table/typeId@2x.png
  mettascope/src/agentpanel.ts
  mettascope/src/replay.ts
Due: core

Play fix that was broken (off by one step).
  mettascope/src/actions.ts
  mettascope/src/replay.ts
Due: core

small renames
  mettascope/src/agentpanel.ts
Due: core

Fix var/let/const.
  mettascope/src/replay.ts
Due: core

Make heart work
  mettascope/src/worldmap.ts
Due: core

Add params to hover bubbles.
  mettascope/src/common.ts
  mettascope/src/hoverbubbles.ts
Due: core

Fix available Columns doubling.
  mettascope/src/agentpanel.ts
Due: core
