Repository Metta-AI/metta: changes, and which Codecov flags are due for each by the changed paths.
All: core, app_backend, agent, mettagrid, mettagrid_cpp, common

codecov.yml:

# Codecov configuration for Metta-AI
# Documentation: https://docs.codecov.com/docs/codecov-yaml

# Wait for all CI jobs to complete before posting results
codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

# Coverage settings
coverage:
  # Round coverage to 2 decimal places
  precision: 2
  round: down

  # Status checks configuration
  status:
    # Project-wide coverage
    project:
      default:
        target: auto # Compare against base branch
        threshold: 1% # Allow 1% coverage drop
        base: auto
        informational: true # Won't fail PR, just inform

    # Coverage for changed lines only - this is your main gate
    patch:
      default:
        target: 50% # Minimum 50% coverage on new code
        threshold: 0% # No tolerance below 50%
        base: auto
        if_ci_failed: success # Don't fail if CI fails
        if_not_found: success # Don't fail if no coverage data

      # Additional informational patch check
      informational:
        target: 80% # Ideal target
        threshold: 0%
        informational: true # Won't fail, just shows as warning

# Pull request comment configuration
comment:
  layout: "header, diff, flags, components, files"
  behavior: default
  require_changes: false # Post comment even if no coverage change
  require_base: false # Don't require base coverage
  require_head: true # Must have head coverage to post
  hide_project_coverage: false # Show overall project coverage

# Flag configuration for different test suites
flags:
  core:
    paths:
      - "!app_backend/"
      - "!agent/"
      - "!mettagrid/"
      - "!common/"
    carryforward: true

  app_backend:
    paths:
      - app_backend/
    carryforward: true

  agent:
    paths:
      - agent/
    carryforward: true

  mettagrid:
    paths:
      - mettagrid/
    carryforward: true

  mettagrid_cpp:
    paths:
      - "**/*.cpp"
      - "**/*.cc"
      - "**/*.cxx"
      - "**/*.c++"
      - "**/*.h"
      - "**/*.hpp"
      - "**/*.hh"
      - "**/*.hxx"
      - "**/*.h++"
    carryforward: true

  common:
    paths:
      - common/
    carryforward: true

# Ignore certain paths from coverage
ignore:
  - "**/tests/"
  - "**/test_*.py"
  - "**/*_test.py"
  - "**/conftest.py"
  - "setup.py"
  - "**/migrations/"
  - "**/__pycache__/"
  - "**/node_modules/"
  - "**/*.pb.py" # Generated protobuf files
  - "**/*.pyi" # Type stub files
  - "**/fixtures/"
  - "**/mocks/"
  - "**/build/" # C++ build directories
  - "**/cmake-build-*/" # CLion/CMake build directories
  - "**/CMakeFiles/" # CMake generated files
  - "**/*.o" # Object files
  - "**/*.a" # Static libraries
  - "**/*.so" # Shared libraries
  - "**/*.dylib" # macOS dynamic libraries
  - "**/*.dll" # Windows dynamic libraries

# GitHub integration settings
github_checks:
  annotations: true # Show coverage annotations in PR files view

transformer fix
  agent/src/metta/agent/pytorch/full_context.py
Due: agent

squeeze
  agent/src/metta/agent/pytorch/full_context.py
Due: agent

turbo updates
  agent/src/metta/agent/modules/agalite_compiled.py
  agent/src/metta/agent/modules/agalite_turbo.py
  agent/src/metta/agent/modules/agalite_unified.py
  agent/src/metta/agent/pytorch/agalite.py
Due: agent

Add activity feed API
  graphite-demo/server.js
Due: core

cleanup: remove unused AGaLiTe module variants
  agent/src/metta/agent/modules/agalite_batched.py
  agent/src/metta/agent/modules/agalite_optimized_v2.py
  agent/src/metta/agent/modules/agalite_turbo.py
Due: agent

docs: add AGaLiTe implementation summary
  AGALITE_IMPLEMENTATION_SUMMARY.md
Due: core

Add server API
  graphite-demo/server.js
Due: core

Add frontend for search
  graphite-demo/frontend.jsx
Due: core

cleanup: remove underperforming and unused AGaLiTe modules
  agent/src/metta/agent/modules/agalite_compiled.py
  agent/src/metta/agent/modules/agalite_parallel.py
  agent/src/metta/agent/modules/agalite_unified.py
  agent/src/metta/agent/modules/gru_gating.py
  agent/src/metta/agent/pytorch/layer_init.py
Due: agent

fix: restore working AGaLiTe fast mode from commit 946dcd5d2
  agent/src/metta/agent/pytorch/agalite.py
Due: agent

full context fix
  agent/src/metta/agent/modules/FULL_CONTEXT_FIX_SUMMARY.md
  agent/src/metta/agent/modules/full_context_transformer.py
  agent/src/metta/agent/pytorch/full_context.py
Due: agent

feat: optimize standard AGaLiTe for better metrics while preserving fast mode
  agent/src/metta/agent/pytorch/agalite.py
Due: agent

dimensions fix
  agent/src/metta/agent/pytorch/agalite.py
Due: agent

fix: dimension mismatch in AGaLiTe memory initialization
  agent/src/metta/agent/pytorch/agalite.py
Due: agent

fix: restore exact AGaLiTe fast mode from working commit 946dcd5d2
  agent/src/metta/agent/pytorch/agalite.py
Due: agent

feat: add agalite_optimized variant for better metrics
  agent/src/metta/agent/pytorch/agalite_optimized.py
  agent/src/metta/agent/pytorch/agent_mapper.py
Due: agent

SimTool is running, SceneCofnig is pydantic
  experiments/evals/run.py
  experiments/evals/suites/navigation.py
  metta/map/__init__.py
  metta/map/load.py
  metta/map/load_random.py
  metta/map/load_random_from_index.py
  metta/map/mapgen.py
  metta/map/mapgen_ascii.py
  metta/map/scene.py
  metta/map/scenes/ascii.py
  metta/map/scenes/auto.py
  metta/map/scenes/mirror.py
  metta/map/scenes/multi_left_and_right.py
  metta/map/scenes/random_objects.py
  metta/map/scenes/random_scene.py
  metta/map/scenes/random_scene_from_dir.py
  metta/map/types.py
  metta/tools/sim.py
  mettagrid/src/metta/mettagrid/config/envs.py
  mettagrid/src/metta/mettagrid/map_builder/__init__.py
  mettagrid/tests/map_builder/test_polymorphic_serialization.py
  tests/map/scenes/test_make_connected.py
  tests/map/scenes/test_remove_agents.py
  tests/map/scenes/test_room_grid.py
  tests/map/scenes/utils.py
  tests/map/test_scene.py
  tools/run.py
Due: core, mettagrid

agalite optimized
  agent/src/metta/agent/pytorch/agalite_optimized.py
Due: agent

implemented scorecard client even more, and implemented that as our mcp functionality
  app_backend/src/metta/app_backend/clients/scorecard_client.py
  app_backend/src/metta/app_backend/mcp_stdio_server.py
  app_backend/src/metta/app_backend/routes/dashboard_routes.py
  app_backend/src/metta/app_backend/routes/entity_routes.py
  app_backend/src/metta/app_backend/routes/leaderboard_routes.py
  app_backend/src/metta/app_backend/routes/sql_routes.py
  mcp_server/server.py
Due: core, app_backend

fix: resolve dimension mismatch in FastAGaLiTeLayer for AGaLiTeOptimized
  agent/src/metta/agent/modules/agalite_fast.py
Due: agent

fix: properly handle discount factor shapes for different r values in FastAGaLiTeLayer
  agent/src/metta/agent/modules/agalite_fast.py
Due: agent

modified full context
  agent/src/metta/agent/modules/FULL_CONTEXT_FIX_SUMMARY.md
  agent/src/metta/agent/pytorch/full_context.py
Due: agent

fix: resolve batch size initialization issue in AGaLiTe memory management
  agent/src/metta/agent/modules/agalite_optimized.py
  agent/src/metta/agent/pytorch/agalite.py
Due: agent

fix: correct memory tensor slicing in chunked processing path for batch > 1024
  agent/src/metta/agent/modules/agalite_fast.py
Due: agent

matching the filestructure and python module layout of the project
  mcp_server/pyproject.toml
  mcp_server/src/metta/__init__.py
  mcp_server/src/metta/mcp_server/__init__.py
  mcp_server/src/metta/mcp_server/metta.mcp.json
  mcp_server/src/metta/mcp_server/server.py
Due: core

docs: Add comprehensive documentation for working Full-Context Transformer
  docs/FULL_CONTEXT_TRANSFORMER_GTRXL.md
  docs/FULL_CONTEXT_WORKING_VERSION.md
Due: core

updated the project mcp servers file to match the last commit
  .mcp.json
Due: core

cp
  .cspell.json
  experiments/arena.py
  experiments/arena/__init__.py
  experiments/evals/__init__.py
  experiments/evals/navigation.py
  experiments/navigation.py
  metta/cogworks/curriculum/learning_progress.py
  metta/cogworks/curriculum/task_generator.py
  mettagrid/src/metta/mettagrid/config/envs.py
Due: core, mettagrid

deleted crap
  metta.mcp.json
Due: core

nan checking
  agent/src/metta/agent/pytorch/agalite.py
  agent/src/metta/agent/pytorch/pytorch_agent_mixin.py
Due: agent

feat: add numerical stability checks and improved initialization for AGaLiTe
  agent/src/metta/agent/pytorch/agalite_optimized.py
  agent/src/metta/agent/pytorch/pytorch_agent_mixin.py
Due: agent

lint
  agent/src/metta/agent/modules/agalite_fast.py
  agent/src/metta/agent/modules/agalite_optimized.py
  agent/src/metta/agent/modules/transformer_wrapper.py
  agent/src/metta/agent/pytorch/agalite.py
  agent/src/metta/agent/pytorch/agalite_hybrid.py
  agent/src/metta/agent/pytorch/agalite_optimized.py
  agent/src/metta/agent/pytorch/pytorch_agent_mixin.py
Due: agent

lint
  agent/src/metta/agent/modules/agalite_fast.py
  agent/src/metta/agent/modules/agalite_optimized.py
  agent/src/metta/agent/modules/full_context_transformer.py
  agent/src/metta/agent/modules/transformer_wrapper.py
  agent/src/metta/agent/pytorch/agalite.py
  agent/src/metta/agent/pytorch/agalite_hybrid.py
  agent/src/metta/agent/pytorch/agalite_optimized.py
  agent/src/metta/agent/pytorch/full_context.py
Due: agent

linted
  agent/src/metta/agent/modules/agalite_fast.py
  agent/src/metta/agent/pytorch/agalite_optimized.py
Due: agent

linted
  agent/src/metta/agent/pytorch/agalite.py
  agent/src/metta/agent/pytorch/pytorch_agent_mixin.py
Due: agent

agalite fixes
  agent/src/metta/agent/modules/agalite_fast.py
  agent/src/metta/agent/pytorch/agalite_optimized.py
Due: agent

feat: add AGaLiTe config files and implementation summary
  AGALITE_VARIANTS_SUMMARY.md
  configs/agent/agalite.yaml
  configs/agent/agalite_hybrid.yaml
  configs/agent/agalite_optimized.yaml
Due: core

refactor: simplify AGaLiTeOptimized import pattern
  agent/src/metta/agent/pytorch/agalite_optimized.py
Due: agent

fix: improve numerical stability to prevent CUDA assertion errors
  agent/src/metta/agent/modules/agalite_fast.py
  agent/src/metta/agent/pytorch/pytorch_agent_mixin.py
Due: agent

more mapgen refactorings
  experiments/evals/navigation.py
  experiments/evals/run.py
  metta/map/load.py
  metta/map/mapgen.py
  metta/map/scene.py
  metta/map/scenes/ascii.py
  metta/map/scenes/auto.py
  metta/map/scenes/mirror.py
  metta/map/scenes/multi_left_and_right.py
  metta/map/scenes/random_objects.py
  metta/map/scenes/random_scene_from_dir.py
  metta/map/tools/gen.py
  metta/map/tools/gen_scene.py
  metta/map/tools/view.py
  metta/map/utils/make_scene_config.py
  metta/map/utils/show.py
  metta/map/utils/storable_map.py
  mettagrid/src/metta/mettagrid/config/envs.py
  tests/map/scenes/test_make_connected.py
  tests/map/scenes/test_mirror.py
  tests/map/scenes/test_random_scene.py
  tests/map/scenes/test_remove_agents.py
  tests/map/test_scene.py
  tests/map/utils/test_storable_map_io.py
  tools/map/gen.py
  tools/map/gen_scene.py
  tools/map/view.py
  tools/run.py
Due: core, mettagrid
