Repository Metta-AI/metta: changes, and which Codecov flags are due for each by the changed paths.
All: core, app_backend, agent, mettagrid, mettagrid_cpp, common

codecov.yml:

# Codecov configuration for Metta-AI
# Documentation: https://docs.codecov.com/docs/codecov-yaml

# Wait for all CI jobs to complete before posting results
codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

# Coverage settings
coverage:
  # Round coverage to 2 decimal places
  precision: 2
  round: down

  # Status checks configuration
  status:
    # Project-wide coverage
    project:
      default:
        target: auto # Compare against base branch
        threshold: 1% # Allow 1% coverage drop
        base: auto
        informational: true # Won't fail PR, just inform

    # Coverage for changed lines only - this is your main gate
    patch:
      default:
        target: 50% # Minimum 50% coverage on new code
        threshold: 0% # No tolerance below 50%
        base: auto
        if_ci_failed: success # Don't fail if CI fails
        if_not_found: success # Don't fail if no coverage data

      # Additional informational patch check
      informational:
        target: 80% # Ideal target
        threshold: 0%
        informational: true # Won't fail, just shows as warning

# Pull request comment configuration
comment:
  layout: "header, diff, flags, components, files"
  behavior: default
  require_changes: false # Post comment even if no coverage change
  require_base: false # Don't require base coverage
  require_head: true # Must have head coverage to post
  hide_project_coverage: false # Show overall project coverage

# Flag configuration for different test suites
flags:
  core:
    paths:
      - "!app_backend/"
      - "!agent/"
      - "!mettagrid/"
      - "!common/"
    carryforward: true

  app_backend:
    paths:
      - app_backend/
    carryforward: true

  agent:
    paths:
      - agent/
    carryforward: true

  mettagrid:
    paths:
      - mettagrid/
    carryforward: true

  mettagrid_cpp:
    paths:
      - "**/*.cpp"
      - "**/*.cc"
      - "**/*.cxx"
      - "**/*.c++"
      - "**/*.h"
      - "**/*.hpp"
      - "**/*.hh"
      - "**/*.hxx"
      - "**/*.h++"
    carryforward: true

  common:
    paths:
      - common/
    carryforward: true

# Ignore certain paths from coverage
ignore:
  - "**/tests/"
  - "**/test_*.py"
  - "**/*_test.py"
  - "**/conftest.py"
  - "setup.py"
  - "**/migrations/"
  - "**/__pycache__/"
  - "**/node_modules/"
  - "**/*.pb.py" # Generated protobuf files
  - "**/*.pyi" # Type stub files
  - "**/fixtures/"
  - "**/mocks/"
  - "**/build/" # C++ build directories
  - "**/cmake-build-*/" # CLion/CMake build directories
  - "**/CMakeFiles/" # CMake generated files
  - "**/*.o" # Object files
  - "**/*.a" # Static libraries
  - "**/*.so" # Shared libraries
  - "**/*.dylib" # macOS dynamic libraries
  - "**/*.dll" # Windows dynamic libraries

# GitHub integration settings
github_checks:
  annotations: true # Show coverage annotations in PR files view

cp
  metta/cogworks/curriculum/curriculum.py
  metta/cogworks/curriculum/learning_progress.py
  metta/cogworks/curriculum/task_generator.py
  tests/cogworks/curriculum/__init__.py
  tests/cogworks/curriculum/conftest.py
  tests/cogworks/curriculum/test_curriculum.py
  tests/cogworks/curriculum/test_curriculum_env.py
  tests/cogworks/curriculum/test_init.py
  tests/cogworks/curriculum/test_learning_progress.py
  tests/cogworks/curriculum/test_task.py
  tests/cogworks/curriculum/test_task_generator.py
Due: core

fix timeout monitor context
  devops/skypilot/config/sk_train.yaml
Due: core

diagonals for wasd and dpad
  mettascope/src/actions.ts
Due: core

fix timeout monitor output
  devops/skypilot/config/sk_train.yaml
Due: core

build interleaving
  agent/src/metta/agent/metta_agent.py
  agent/src/metta/agent/metta_agent_builder.py
Due: agent

cp
  metta/cogworks/curriculum/task_generator.py
  tests/cogworks/curriculum/__init__.py
  tests/cogworks/curriculum/test_curriculum.py
  tests/cogworks/curriculum/test_curriculum_env.py
  tests/cogworks/curriculum/test_task.py
Due: core

fix comments
  mettascope/src/actions.ts
Due: core

Revert to 27cade122 (state of 'skypilot run2')
  configs/env/mettagrid/arena/combat_rewardsharing.yaml
  configs/env/mettagrid/curriculum/combat_rewardsharing/learning_progress.yaml
  configs/sim/combat_rewardsharing.yaml
  configs/sim/coop_rewardsharing.yaml
  configs/user/krishnakanth.yaml
  recipes/combat_rewardsharing.sh
  recipes/coop_rewardsharing.sh
Due: core

switch to seconds in timeout
  devops/skypilot/config/sk_train.yaml
  metta/rl/utils.py
Due: core

fmt
  configs/user/monofuel.yaml
  mettascope/src/actions.ts
  mettascope/src/validation.ts
  mettascope/src/worldmap.ts
Due: core

use move for cardinal
  mettascope/src/replay.ts
Due: core

remove debug
  mettascope/src/worldmap.ts
Due: core

remove newline
  mettascope/src/actions.ts
Due: core

component separation
  agent/src/metta/agent/component_policy.py
  agent/src/metta/agent/metta_agent.py
  agent/src/metta/agent/metta_agent_builder.py
Due: agent

test: add deterministic behavior test with seeded uniform policy
  mettagrid/tests/test_determinism.py
Due: none

enabling hydrafullerror to track error on skypilot run
  recipes/dual_policy_cloud.sh
Due: core

test: fix deterministic test env to use single agent to match default map
  mettagrid/tests/test_determinism.py
Due: none

catch reason
  devops/skypilot/config/sk_train.yaml
Due: core

test: address lint issue by removing unused import
  mettagrid/tests/test_determinism.py
Due: none

Move cogworks to metta package and enhance curriculum API (#2065)
  cogworks/curriculum/task_generator.py
  metta/cogworks/README.md
  metta/cogworks/__init__.py
  metta/cogworks/curriculum/__init__.py
  metta/cogworks/curriculum/curriculum.py
  metta/cogworks/curriculum/curriculum_env.py
  metta/cogworks/curriculum/demo.py
  metta/cogworks/curriculum/learning_progress.py
  metta/cogworks/curriculum/task.py
  metta/cogworks/curriculum/task_generator.py
  mettagrid/src/metta/mettagrid/config/builder.py
  tests/cogworks/curriculum/conftest.py
  tests/cogworks/curriculum/test_curriculum.py
  tests/cogworks/curriculum/test_curriculum_env.py
  tests/cogworks/curriculum/test_task.py
Due: core, mettagrid

component simplify
  agent/src/metta/agent/component_policy.py
  agent/src/metta/agent/metta_agent.py
Due: agent

Fix merge problem: Rename cfg to system_cfg
  metta/rl/checkpoint_manager.py
Due: core

add dots
  mettascope/src/actions.ts
Due: core

Update mettascope/src/replay.ts
  mettascope/src/replay.ts
Due: core

test: strengthen determinism assertion to avoid masking empty rollout
  mettagrid/tests/test_determinism.py
Due: none

Update mettascope/src/actions.ts
  mettascope/src/actions.ts
Due: core

Create/load policy only on master and then distribute using NCCL (#2052)
  agent/src/metta/agent/util/distribution_utils.py
  metta/rl/checkpoint_manager.py
Due: core, agent

unify timeout handlers
  devops/skypilot/config/sk_train.yaml
Due: core

re-orged component based things
  agent/src/metta/agent/component_policy.py
  agent/src/metta/agent/metta_agent.py
Due: agent

[MettaScope] 8 way movements (#2073)
  configs/user/monofuel.yaml
  mettascope/src/actions.ts
  mettascope/src/replay.ts
  mettascope/src/validation.ts
  mettascope/src/worldmap.ts
Due: core

fix ipc
  devops/skypilot/config/sk_train.yaml
Due: core

test: add multi-agent and map hash determinism tests; xfail multi-agent due to randomized action order
  mettagrid/tests/test_determinism_desync_placeholder.py
  mettagrid/tests/test_determinism_multi_agent.py
  tests/map/test_map_determinism.py
Due: none

Add type hint
  mettagrid/tests/test_determinism.py
Due: none

8way nav test
  configs/env/mettagrid/navigation_8way.yaml
  recipes/navigation_8way.sh
Due: core
