Repository Metta-AI/metta: changes, and which Codecov flags are due for each by the changed paths.
All: core, app_backend, agent, mettagrid, mettagrid_cpp, common

update uv
  uv.lock
Due: core

wip
  .github/workflows/checks.yml
  tests/test_validate_all_curriculums.py
Due: core

rm -rf cython
  .cspell.json
  .dockerignore
  .gitignore
  manybot/codebot/codeclip/tests/test_file.py
Due: core

fix
  mettagrid/src/metta/mettagrid/curriculum/learning_progress.py
Due: mettagrid

remove mapgen dependency in mettagrid
  mettagrid/tests/test_bucketed_config.yaml
  mettagrid/tests/test_curriculum.py
Due: mettagrid

remove mapgen dependency in mettagrid (#2037)
  mettagrid/tests/test_bucketed_config.yaml
  mettagrid/tests/test_curriculum.py
Due: mettagrid

fix test_observations
  mettagrid/src/metta/mettagrid/test_support/__init__.py
  mettagrid/tests/test_mettagrid.py
  mettagrid/tests/test_observations.py
Due: mettagrid

fix the remaining mettagrid tests
  mettagrid/src/metta/mettagrid/test_support/__init__.py
  mettagrid/src/metta/mettagrid/test_support/make_test_config.py
  mettagrid/tests/test_8way_movement.py
  mettagrid/tests/test_cardinal_movement.py
Due: mettagrid

simplify
  Makefile
Due: core

cp
  experiments/marimo/mettabook-example.py
  experiments/notebooks/mettabook-template.ipynb
  metta/rl/trainer_config.py
  mettagrid/src/metta/mettagrid/config/builder.py
  mettagrid/src/metta/mettagrid/mettagrid_config.py
Due: core, mettagrid

cp
  experiments/notebooks/mettabook-template.ipynb
  metta/rl/trainer_config.py
  mettagrid/src/metta/mettagrid/config/builder.py
  mettagrid/src/metta/mettagrid/config/map.py
  mettagrid/src/metta/mettagrid/config/object.py
  mettagrid/src/metta/mettagrid/mettagrid_config.py
Due: core, mettagrid

cp
  configs/env/mettagrid/curriculum/notebook_dehydration.yaml
  configs/trainer/notebook.yaml
  experiments/__init__.py
  experiments/marimo/mettabook-curriculum-v2.py
  experiments/notebooks/__init__.py
  experiments/notebooks/demo_curriculum_v2.py
  experiments/notebooks/mettabook-template.ipynb
  experiments/notebooks/utils/__init__.py
  experiments/notebooks/utils/curriculum_builder.py
  experiments/notebooks/utils/curriculum_builder_v2.py
  experiments/notebooks/utils/curriculum_v2.py
  metta/rl/trainer.py
  metta/rl/trainer_config.py
  mettagrid/src/metta/mettagrid/config/__init__.py
Due: core, mettagrid

refactor: move curriculum system and migrate tools to argparse
  common/src/metta/common/util/mettagrid_cfgs.py
  demo/hello_metta.py
  demo/train_example.yaml
  metta/curriculum/__init__.py
  metta/curriculum/builders.py
  metta/curriculum/config.py
  metta/curriculum/core.py
  metta/curriculum/curriculum.py
  metta/curriculum/rl/__init__.py
  metta/curriculum/task_set.py
  mettagrid/benchmarks/test_mettagrid_env_benchmark.py
  mettagrid/demos/demo_train_gym.py
  mettagrid/demos/demo_train_pettingzoo.py
  mettagrid/demos/demo_train_puffer.py
  mettagrid/src/metta/mettagrid/__init__.py
  mettagrid/src/metta/mettagrid/gym_env.py
  mettagrid/src/metta/mettagrid/mettagrid_env.py
  mettagrid/src/metta/mettagrid/pettingzoo_env.py
  mettagrid/src/metta/mettagrid/puffer_base.py
  mettagrid/tests/renderer/test_nethack.py
  mettagrid/tests/test_buffer_reuse.py
  mettagrid/tests/test_curriculum.py
  mettagrid/tests/test_env_map.py
  mettagrid/tests/test_gym_env.py
  mettagrid/tests/test_interactive.py
  mettagrid/tests/test_leaks.py
  mettagrid/tests/test_mettagrid_env.py
  mettagrid/tests/test_movement_metrics.py
  mettagrid/tests/test_new_env_hierarchy.py
  mettagrid/tests/test_pettingzoo_env.py
  mettagrid/tests/test_wandb_movement_metrics.py
  tests/test_validate_all_curriculums.py
  tools/analyze.py
  tools/play.py
  tools/replay.py
  tools/sim.py
  tools/train.py
Due: core, mettagrid, common

Fix remaining mettagrid tests (#2038)
  mettagrid/src/metta/mettagrid/test_support/__init__.py
  mettagrid/src/metta/mettagrid/test_support/make_test_config.py
  mettagrid/tests/test_8way_movement.py
  mettagrid/tests/test_cardinal_movement.py
  mettagrid/tests/test_mettagrid.py
  mettagrid/tests/test_observations.py
Due: mettagrid

fix puffer import
  Makefile
  mettagrid/tests/test_curriculum.py
  pyproject.toml
Due: core

fix name
  .github/workflows/checks.yml
Due: core

cp
  mettagrid/src/metta/mettagrid/core.py
  mettagrid/src/metta/mettagrid/gym_env.py
  mettagrid/src/metta/mettagrid/mettagrid_env.py
  mettagrid/src/metta/mettagrid/pettingzoo_env.py
  mettagrid/src/metta/mettagrid/puffer_base.py
  mettagrid/tests/test_8way_movement.py
  mettagrid/tests/test_cardinal_movement.py
  mettagrid/tests/test_observations.py
  mettagrid/tests/test_visitation_counts.py
Due: mettagrid

fix: move curriculum to cogworks and update all imports
  mettagrid/src/metta/mettagrid/core.py
  mettagrid/src/metta/mettagrid/gym_env.py
  mettagrid/src/metta/mettagrid/mettagrid_env.py
  mettagrid/src/metta/mettagrid/pettingzoo_env.py
  mettagrid/src/metta/mettagrid/puffer_base.py
  mettagrid/tests/conftest.py
  mettagrid/tests/renderer/test_nethack.py
  mettagrid/tests/test_env_map.py
  mettagrid/tests/test_movement_metrics.py
  mettagrid/tests/test_visitation_counts.py
Due: mettagrid

cp
  mettagrid/demo.py
  mettagrid/demos/README.md
  mettagrid/demos/demo_train_gym.py
  mettagrid/demos/demo_train_pettingzoo.py
  mettagrid/demos/demo_train_puffer.py
Due: mettagrid

cp
  mettagrid/demo.py
  mettagrid/examples/use_set_next_env_cfg.py
  mettagrid/tests/conftest.py
Due: mettagrid

simplify test job
  .github/workflows/checks.yml
  pyproject.toml
Due: core

fix sharding plugin name
  .github/workflows/checks.yml
Due: core

cherry pick from 2035
  agent/pyproject.toml
  agent/src/metta/agent/lib/lstm.py
  agent/tests/lib/test_obs_token_to_box_shaper.py
  common/tests/util/test_git.py
  pyproject.toml
  uv.lock
Due: core, agent

fix some agent tests
  agent/src/metta/agent/mocks/mock_agent.py
  agent/tests/test_feature_remapping.py
Due: agent

tons of changes
  agent/src/metta/agent/lib/metta_layer.py
  agent/src/metta/agent/metta_agent.py
  configs/agent/fast.yaml
  configs/trainer/trainer.yaml
  configs/user/alex.yaml
  metta/rl/experience.py
  metta/rl/loss/base_loss.py
  metta/rl/loss/ema.py
  metta/rl/loss/kickstarter.py
  metta/rl/loss/ppo.py
  metta/rl/ppo.py
  metta/rl/stats.py
  metta/rl/trainer.py
  metta/rl/trainer_state.py
Due: core, agent

passing all agent tests
  agent/tests/lib/test_lstm.py
  agent/tests/test_metta_agent.py
Due: none

isolate puffer installation to avoid cython
  .cspell.json
  .github/workflows/checks.yml
  mettagrid/tests/test_pufferlib_integration.py
  mettagrid/tests/test_visitation_counts.py
Due: core

fix tests
  Makefile
  common/tests/util/test_system_monitor.py
  mettagrid/tests/test_pufferlib_integration.py
Due: core

fix puffer train cmd
  mettagrid/tests/test_pufferlib_integration.py
  mettagrid/tests/test_visitation_counts.py
Due: none

cp
  mettagrid/demo.py
  mettagrid/examples/test_stats_rewards.py
  mettagrid/examples/use_set_next_env_cfg.py
  mettagrid/src/metta/mettagrid/renderer/simple_text.py
Due: mettagrid

fix warnings
  mettagrid/tests/test_visitation_counts.py
  mettascope/tests/test_replay_format_validator.py
  pyproject.toml
  tests/test_tensors_have_dtype.py
Due: core

no more warnings!
  app_backend/tests/test_eval_task_routes.py
Due: none

install vanilla pufferlib
  mettagrid/tests/test_pufferlib_integration.py
Due: none

Path conditions:
  core: any file but: app_backend/, agent/, mettagrid/, common/, **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  app_backend: any of: app_backend/, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  agent: any of: agent/, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  mettagrid: any of: mettagrid/, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  mettagrid_cpp: any of: **/*.cpp, **/*.cc, **/*.cxx, **/*.c++, **/*.h, **/*.hpp, **/*.hh, **/*.hxx, **/*.h++, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  common: any of: common/, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
