Repository Metta-AI/metta: changes, and which Codecov flags are due for each by the changed paths.
All: core, app_backend, agent, mettagrid, mettagrid_cpp, common

fix test
  mettagrid/src/metta/mettagrid/config/envs.py
Due: mettagrid

Omegaconf parsing in tools/run.py is too smart so unless this is specially encoded it is hard to get the simulations json to be pased through correctly
  app_backend/src/metta/app_backend/eval_task_worker.py
  experiments/evals/run.py
Due: core, app_backend

Fix replay format validation (#2297)
  experiments/recipes/scratchpad/ci.py
  mettascope/tests/test_replay_format_validator.py
Due: core

Post-dehydration quenching: fix eval workers (#2299)
  app_backend/src/metta/app_backend/eval_task_worker.py
  experiments/evals/run.py
Due: core, app_backend

cheap hosts for benchmarking
  .github/workflows/checks.yml
Due: core

check if 8core is slower
  .github/workflows/checks.yml
Due: core

maybe 4core is enough
  .github/workflows/checks.yml
Due: core

test on default runners to compare
  .github/workflows/checks.yml
Due: core

Remove lstm
  agent/src/metta/agent/pytorch/hrm.py
Due: agent

fixed generator getting blocked by other objects
  experiments/recipes/rewardsharing.py
Due: core

update evals
  experiments/evals/icl_resource_chain.py
  experiments/recipes/icl_resource_chain.py
Due: core

back to 4core
  .github/workflows/checks.yml
Due: core

Evaluate remote by default again now that policy evaluator is working
  metta/rl/trainer_config.py
Due: core

change back to list
  experiments/evals/icl_resource_chain.py
  experiments/recipes/icl_resource_chain.py
Due: core

transformer update to dehydrate
  agent/src/metta/agent/agent_config.py
  agent/src/metta/agent/modules/transformer_module.py
  agent/src/metta/agent/pytorch/transformer_improved.py
  experiments/recipes/arena_bes_transformer.py
Due: core, agent

agalite update to dehydrate
  agent/src/metta/agent/agent_config.py
  agent/src/metta/agent/modules/agalite_core_enhanced.py
  agent/src/metta/agent/modules/agalite_enhanced.py
  agent/src/metta/agent/pytorch/agalite_improved.py
  experiments/recipes/arena_bes_agalite.py
Due: core, agent

chore: surgery post local repo break
  metta/sweep/protein.py
  metta/sweep/protein_analysis.py
Due: core

vectorizing out the loop
  agent/src/metta/agent/pytorch/transformer_improved.py
Due: agent

update to AgaliteImproved
  experiments/recipes/arena_bes_agalite.py
Due: core

Added tAXIOM: Autonomous eXperimentation & Iterative Optimization Manager
  metta/sweep/axiom/README.md
  metta/sweep/axiom/__init__.py
  metta/sweep/axiom/control_flow.py
  metta/sweep/axiom/core.py
  metta/sweep/axiom/hartmann_protein.py
  metta/sweep/axiom/hartmann_protein_multiseed.py
  metta/sweep/axiom/hooks.py
  metta/sweep/axiom/types.py
Due: core

fix keys
  experiments/recipes/icl_resource_chain.py
Due: core

Evaluate remote by default again now that policy evaluator is working (#2300)
  metta/rl/trainer_config.py
Due: core

delete maps
  experiments/evals/icl_resource_chain.py
  experiments/recipes/icl_resource_chain.py
  mettagrid/configs/maps/icl_resource_chain/2chain0sink.map
  mettagrid/configs/maps/icl_resource_chain/2chain1sink.map
  mettagrid/configs/maps/icl_resource_chain/2chain2sink.map
  mettagrid/configs/maps/icl_resource_chain/3chain0sink.map
  mettagrid/configs/maps/icl_resource_chain/3chain1sink.map
  mettagrid/configs/maps/icl_resource_chain/3chain2sink.map
  mettagrid/configs/maps/icl_resource_chain/4chain0sink.map
  mettagrid/configs/maps/icl_resource_chain/4chain1sink.map
Due: core, mettagrid

Dehydrated configs for in-context-learning resource chain (#2288)
  experiments/evals/icl_resource_chain.py
  experiments/recipes/icl_resource_chain.py
  mettagrid/src/metta/mettagrid/config/empty_converters.py
  mettagrid/src/metta/mettagrid/config/envs.py
  mettagrid/src/metta/mettagrid/map_builder/perimeter_incontext.py
Due: core, mettagrid

lint and cleanup
  agent/src/metta/agent/modules/agalite_enhanced.py
  experiments/recipes/arena_bes_agalite.py
Due: core, agent

Remove navigation maps to reduce diff scope
  configs/env/mettagrid/maps/navigation/corridors.map
  configs/env/mettagrid/maps/navigation/cylinder.map
  configs/env/mettagrid/maps/navigation/cylinder_easy.map
  configs/env/mettagrid/maps/navigation/honeypot.map
  configs/env/mettagrid/maps/navigation/knotty.map
  configs/env/mettagrid/maps/navigation/memory_palace.map
  configs/env/mettagrid/maps/navigation/obstacles0.map
  configs/env/mettagrid/maps/navigation/obstacles1.map
  configs/env/mettagrid/maps/navigation/obstacles2.map
  configs/env/mettagrid/maps/navigation/obstacles3.map
  configs/env/mettagrid/maps/navigation/radial_large.map
  configs/env/mettagrid/maps/navigation/radial_mini.map
  configs/env/mettagrid/maps/navigation/radial_small.map
  configs/env/mettagrid/maps/navigation/swirls.map
  configs/env/mettagrid/maps/navigation/thecube.map
  configs/env/mettagrid/maps/navigation/walkaround.map
  configs/env/mettagrid/maps/navigation/wanderout.map
Due: core

updated loss config. working locally
  agent/src/metta/agent/component_policies/fast.py
  experiments/recipes/arena_basic_easy_shaped.py
  experiments/users/alex.py
  metta/rl/loss/base_loss.py
  metta/rl/loss/dynamics.py
  metta/rl/loss/dynamics_config.py
  metta/rl/loss/ema.py
  metta/rl/loss/loss_config.py
  metta/rl/loss/ppo.py
  metta/rl/loss/ppo_config.py
  metta/rl/stats.py
  metta/rl/trainer.py
  metta/rl/trainer_config.py
Due: core, agent

sp
  metta/rl/trainer.py
Due: core

changing the smoke test so I can pass it... m.av.replay.probe.751
  .github/workflows/checks.yml
  experiments/recipes/scratchpad/alex.py
  metta/rl/loss/base_loss.py
  metta/rl/loss/tl_kickstarter.py
Due: core

fixed advantage drift
  metta/rl/experience.py
  metta/rl/trainer.py
Due: core

sp
  metta/rl/loss/ppo.py
  metta/rl/trainer.py
Due: core

sp
  agent/tests/test_metta_agent.py
Due: none

these CI tests are broken
  agent/tests/test_metta_agent.py
Due: none

sp
  agent/src/metta/agent/metta_agent.py
Due: agent

sp
  agent/src/metta/agent/component_policies/latent_attn_med.py
  agent/src/metta/agent/component_policies/latent_attn_small.py
  agent/src/metta/agent/component_policies/latent_attn_tiny.py
Due: agent

sp
  agent/tests/test_vanilla_policy.py
Due: none

default to safetensors
  agent/src/metta/agent/policy_metadata_yaml_helper.py
  agent/src/metta/agent/policy_record.py
  metta/rl/trainer_config.py
Due: core, agent

wip
  agent/src/metta/agent/policy_finder.py
  agent/src/metta/agent/policy_handle.py
  agent/src/metta/agent/policy_loader.py
  agent/src/metta/agent/policy_record.py
  agent/src/metta/agent/policy_store.py
  common/src/metta/common/util/git.py
  experiments/user/localmini.py
  metta/eval/eval_service.py
  metta/rl/checkpoint_manager.py
  metta/rl/kickstarter.py
  metta/rl/trainer.py
  metta/rl/wandb.py
  metta/setup/shell.py
  metta/sim/simulation.py
  metta/sim/utils.py
  metta/tools/play.py
  metta/tools/replay.py
  metta/tools/sim.py
  metta/tools/train.py
  tests/rl/test_kickstarter.py
  tools/request_eval.py
Due: core, agent, common

Path conditions:
  core: any file but: app_backend/, agent/, mettagrid/, common/, **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  app_backend: any of: app_backend/, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  agent: any of: agent/, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  mettagrid: any of: mettagrid/, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  mettagrid_cpp: any of: **/*.cpp, **/*.cc, **/*.cxx, **/*.c++, **/*.h, **/*.hpp, **/*.hh, **/*.hxx, **/*.h++, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  common: any of: common/, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
