Repository Metta-AI/metta: changes, and which Codecov flags are due for each by the changed paths.
All: core, app_backend, agent, mettagrid, common

fix
  metta/rl/trainer.py
Due: core

fix links
  README.md
Due: core

fix: correct readme badge links (#1515)
  README.md
Due: core

fix codecov slug
  .github/scripts/upload_codecov.py
Due: core

fix: set codecov slug from env (#1516)
  .github/scripts/upload_codecov.py
Due: core

use codecov cli tool
  .github/scripts/upload_codecov.py
Due: core

no longer using slug
  .github/workflows/checks.yml
Due: core

fix: switch codecov to cli tool (#1517)
  .github/scripts/upload_codecov.py
  .github/workflows/checks.yml
Due: core

updates
  app_backend/src/metta/app_backend/eval_task_worker.py
  app_backend/src/metta/app_backend/metta_repo.py
  app_backend/src/metta/app_backend/routes/eval_task_routes.py
  configs/sim_job.yaml
Due: core, app_backend

fix bad url
  .github/scripts/upload_codecov.py
Due: core

fix: update codecov cli tool url (#1518)
  .github/scripts/upload_codecov.py
Due: core

update eval task worker
  app_backend/src/metta/app_backend/eval_task_worker.py
Due: app_backend

assigned at index
  app_backend/src/metta/app_backend/metta_repo.py
Due: app_backend

try a different gtest macro
  mettagrid/tests/test_observations.cpp
Due: mettagrid

worker now checks out and runs sim.py out of a subdir
  app_backend/src/metta/app_backend/eval_task_orchestrator.py
  app_backend/src/metta/app_backend/eval_task_worker.py
  app_backend/src/metta/app_backend/metta_repo.py
Due: app_backend

upsert details on task claim
  app_backend/src/metta/app_backend/metta_repo.py
  app_backend/src/metta/app_backend/routes/eval_task_routes.py
Due: app_backend

log stdout from sim.py
  app_backend/src/metta/app_backend/eval_task_worker.py
Due: app_backend

choose macro
  mettagrid/tests/test_observations.cpp
Due: mettagrid

EKS and docker support
  .cspell.json
  app_backend/src/metta/app_backend/container_managers/__init__.py
  app_backend/src/metta/app_backend/container_managers/base.py
  app_backend/src/metta/app_backend/container_managers/docker.py
  app_backend/src/metta/app_backend/container_managers/eks.py
  app_backend/src/metta/app_backend/container_managers/factory.py
  app_backend/src/metta/app_backend/container_managers/models.py
  app_backend/src/metta/app_backend/docker-compose.yml
  app_backend/src/metta/app_backend/eval_task_orchestrator.py
Due: core, app_backend

x
  app_backend/src/metta/app_backend/container_managers/docker.py
  app_backend/src/metta/app_backend/eval_task_orchestrator.py
  app_backend/src/metta/app_backend/eval_task_worker.py
Due: app_backend

cp
  configs/env/mettagrid/curriculum/bbc/agents/1.yaml
  configs/env/mettagrid/curriculum/bbc/agents/2.yaml
  configs/env/mettagrid/curriculum/bbc/agents/24.yaml
  configs/env/mettagrid/curriculum/bbc/agents/3.yaml
Due: core

cp
  configs/env/mettagrid/curriculum/bbc/agents/1.yaml
  configs/env/mettagrid/curriculum/bbc/agents/2.yaml
  configs/env/mettagrid/curriculum/bbc/agents/24.yaml
  configs/env/mettagrid/curriculum/bbc/agents/3.yaml
  configs/env/mettagrid/curriculum/bbc/agents/defaults.yaml
  configs/env/mettagrid/curriculum/bbc/bbc.yaml
  configs/env/mettagrid/curriculum/bbc/tasks/altar.yaml
  configs/env/mettagrid/curriculum/bbc/tasks/armor.yaml
  configs/env/mettagrid/curriculum/bbc/tasks/basic.yaml
  configs/env/mettagrid/curriculum/bbc/tasks/combat.yaml
  configs/env/mettagrid/curriculum/bbc/tasks/laser.yaml
  configs/env/mettagrid/curriculum/bbc/tasks/tag.yaml
Due: core

cp
  configs/env/mettagrid/curriculum/bbc/agents/defaults.yaml
Due: core

cp
  .cursor/environment.json
Due: core

cp
  mettagrid/src/metta/mettagrid/mettagrid_c.cpp
  mettagrid/src/metta/mettagrid/mettagrid_c.pyi
  mettagrid/src/metta/mettagrid/objects/converter.hpp
  mettagrid/tests/test_converter.py
Due: mettagrid

:p
  configs/env/mettagrid/mettagrid.yaml
  mettagrid/src/metta/mettagrid/mettagrid_c_config.py
  mettagrid/src/metta/mettagrid/mettagrid_config.py
Due: core, mettagrid

updates
  app_backend/src/metta/app_backend/container_managers/docker.py
  app_backend/src/metta/app_backend/docker-compose.yml
  app_backend/src/metta/app_backend/eval_task_orchestrator.py
  app_backend/src/metta/app_backend/eval_task_worker.py
Due: app_backend

cp
  mettagrid/benchmarks/test_mettagrid_env_benchmark.cpp
  mettagrid/src/metta/mettagrid/mettagrid_c.cpp
  mettagrid/src/metta/mettagrid/mettagrid_c.hpp
  mettagrid/src/metta/mettagrid/mettagrid_c.pyi
  mettagrid/src/metta/mettagrid/mettagrid_c_config.py
  mettagrid/src/metta/mettagrid/mettagrid_config.py
  mettagrid/tests/test_global_obs_config.py
Due: mettagrid

Path conditions:
  core: any file but: app_backend/, agent/, mettagrid/, common/, **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/
  app_backend: any of: app_backend/, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/
  agent: any of: agent/, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/
  mettagrid: any of: mettagrid/, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/
  common: any of: common/, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/
