Repository Metta-AI/metta: changes, and which Codecov flags are due for each by the changed paths.
All: core, app_backend, agent, mettagrid, mettagrid_cpp, common

codecov.yml:

# Codecov configuration for Metta-AI
# Documentation: https://docs.codecov.com/docs/codecov-yaml

# Wait for all CI jobs to complete before posting results
codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

# Coverage settings
coverage:
  # Round coverage to 2 decimal places
  precision: 2
  round: down

  # Status checks configuration
  status:
    # Project-wide coverage
    project:
      default:
        target: auto # Compare against base branch
        threshold: 1% # Allow 1% coverage drop
        base: auto
        informational: true # Won't fail PR, just inform

    # Coverage for changed lines only - this is your main gate
    patch:
      default:
        target: 50% # Minimum 50% coverage on new code
        threshold: 0% # No tolerance below 50%
        base: auto
        if_ci_failed: success # Don't fail if CI fails
        if_not_found: success # Don't fail if no coverage data

      # Additional informational patch check
      informational:
        target: 80% # Ideal target
        threshold: 0%
        informational: true # Won't fail, just shows as warning

# Pull request comment configuration
comment:
  layout: "header, diff, flags, components, files"
  behavior: default
  require_changes: false # Post comment even if no coverage change
  require_base: false # Don't require base coverage
  require_head: true # Must have head coverage to post
  hide_project_coverage: false # Show overall project coverage

# Flag configuration for different test suites
flags:
  core:
    paths:
      - "!app_backend/"
      - "!agent/"
      - "!mettagrid/"
      - "!common/"
    carryforward: true

  app_backend:
    paths:
      - app_backend/
    carryforward: true

  agent:
    paths:
      - agent/
    carryforward: true

  mettagrid:
    paths:
      - mettagrid/
    carryforward: true

  mettagrid_cpp:
    paths:
      - "**/*.cpp"
      - "**/*.cc"
      - "**/*.cxx"
      - "**/*.c++"
      - "**/*.h"
      - "**/*.hpp"
      - "**/*.hh"
      - "**/*.hxx"
      - "**/*.h++"
    carryforward: true

  common:
    paths:
      - common/
    carryforward: true

# Ignore certain paths from coverage
ignore:
  - "**/tests/"
  - "**/test_*.py"
  - "**/*_test.py"
  - "**/conftest.py"
  - "setup.py"
  - "**/migrations/"
  - "**/__pycache__/"
  - "**/node_modules/"
  - "**/*.pb.py" # Generated protobuf files
  - "**/*.pyi" # Type stub files
  - "**/fixtures/"
  - "**/mocks/"
  - "**/build/" # C++ build directories
  - "**/cmake-build-*/" # CLion/CMake build directories
  - "**/CMakeFiles/" # CMake generated files
  - "**/*.o" # Object files
  - "**/*.a" # Static libraries
  - "**/*.so" # Shared libraries
  - "**/*.dylib" # macOS dynamic libraries
  - "**/*.dll" # Windows dynamic libraries

# GitHub integration settings
github_checks:
  annotations: true # Show coverage annotations in PR files view

debug: add cache debugging and fix key format to reuse existing cache
  .github/actions/setup-uv/action.yml
Due: core

add wandb notice
  common/src/metta/common/util/heartbeat.py
  common/src/metta/common/wandb/utils.py
  common/src/metta/common/wandb/wandb_context.py
  devops/skypilot/src/skypilot_run.py
Due: core, common

change to trigger ci
  metta/setup/components/nodejs.py
Due: core

exp
  experiments/recipes/arena_trader_experiment.py
  metta/rl/experience.py
  mettagrid/src/metta/mettagrid/renderer/hermes.cpp
Due: core, mettagrid, mettagrid_cpp

simplify: rely on built-in astral-sh/setup-uv caching instead of custom cache
  .github/actions/setup-uv/action.yml
Due: core

debug: add detailed cache inspection to understand why packages are still downloading
  .github/actions/setup-uv/action.yml
Due: core

cleanup terrain from numpy
  experiments/recipes/navigation_sequence.py
  metta/map/terrain_from_numpy.py
Due: core

add mettagrid child repo (#2445)
  devops/git/push_child_repo.py
Due: core

losses test fix
  agent/src/metta/agent/component_policy.py
  agent/src/metta/agent/metta_agent.py
  agent/tests/test_metta_agent.py
  experiments/recipes/arena_basic_easy_shaped.py
  metta/rl/loss/dynamics_config.py
  metta/rl/loss/ema.py
  metta/rl/loss/ema_config.py
  metta/rl/loss/loss_config.py
  metta/rl/loss/ppo.py
  metta/rl/loss/ppo_config.py
  metta/rl/loss/sl_kickstarter.py
  metta/rl/loss/sl_kickstarter_config.py
  metta/rl/loss/tl_kickstarter.py
  metta/rl/loss/tl_kickstarter_config.py
  metta/rl/losses.py
  metta/rl/trainer.py
Due: core, agent

make safely
  experiments/evals/navigation.py
Due: core

delete md
  merge-conflicts-analysis.md
  merge-resolution-audit.md
Due: core

fix: use proper built-in caching configuration from astral-sh/setup-uv
  .github/actions/setup-uv/action.yml
Due: core

add radial maze
  mettagrid/configs/maps/navigation_sequence/radial_maze.map
Due: mettagrid

turn off verbose mode
  .github/actions/setup-uv/action.yml
Due: core

update fns
  experiments/evals/navigation.py
Due: core

trigger ci
  metta/setup/components/nodejs.py
Due: core

update comments
  experiments/evals/navigation.py
Due: core

cleanup
  experiments/evals/navigation.py
Due: core

lint fix
  metta/rl/trainer.py
Due: core

switch to log level
  app_backend/src/metta/app_backend/worker_managers/container_manager.py
  common/src/metta/common/profiling/stopwatch.py
  common/src/metta/common/profiling/system_monitor.py
  common/src/metta/common/util/retry.py
  common/tests/profiling/test_stopwatch.py
  common/tests/profiling/test_system_monitor.py
  metta/core/monitoring.py
  metta/eval/eval_service.py
  metta/rl/trainer.py
  metta/sweep/wandb_utils.py
  mettagrid/src/metta/mettagrid/mettagrid_env.py
Due: core, app_backend, mettagrid, common

inventory -> resource (#2439)
  mettagrid/src/metta/mettagrid/observation_encoder.hpp
Due: mettagrid, mettagrid_cpp

quiter script
  .github/actions/setup-uv/action.yml
Due: core

rm logger from tests
  common/tests/util/test_retry.py
Due: none

generalized a bit better
  experiments/evals/navigation_transform.py
Due: core

replace all objects
  experiments/evals/navigation.py
Due: core

fix clean up
  experiments/evals/navigation_transform.py
Due: core

clean test
  mettagrid/tests/mapgen/utils/test_ascii_transform.py
Due: none

debug: add cache investigation and explicit dependency glob
  .github/actions/setup-uv/action.yml
Due: core

test: trigger second run to verify cache hit
  .github/actions/setup-uv/action.yml
Due: core

debug: investigate cache key inconsistency with explicit dependency glob
  .github/actions/setup-uv/action.yml
Due: core

feat: add simple RL demo and README documentation
  README.md
  simple_rl_demo.py
Due: core

parallel bg unit tests
  .github/workflows/checks.yml
Due: core

fix: move RL demo and documentation to mettagrid subdirectory
  README.md
  mettagrid/README.md
  mettagrid/simple_rl_demo.py
Due: core, mettagrid

fix: use platform-specific PNPM_HOME paths
  metta/setup/components/nodejs.py
Due: core

platform-specific behavior to copy 'pnpm setup'
  metta/setup/components/nodejs.py
Due: core

fix: nodejs component installation fails on fresh laptops with PATH configuration (#2438)
  metta/setup/components/nodejs.py
  tests/setup/test_nodejs_component.py
Due: core

update transformation code;
  experiments/evals/navigation_transform.py
  experiments/recipes/navigation.py
  mettagrid/src/metta/mettagrid/mapgen/utils/ascii_transform.py
Due: core, mettagrid

revert other changes
  .github/workflows/checks.yml
  .gitignore
  .vscode/launch.json
Due: core
