Repository Metta-AI/metta: changes, and which Codecov flags are due for each by the changed paths.
All: core, app_backend, agent, mettagrid, mettagrid_cpp, common

codecov.yml:

# Codecov configuration for Metta-AI
# Documentation: https://docs.codecov.com/docs/codecov-yaml

# Wait for all CI jobs to complete before posting results
codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

# Coverage settings
coverage:
  # Round coverage to 2 decimal places
  precision: 2
  round: down

  # Status checks configuration
  status:
    # Project-wide coverage
    project:
      default:
        target: auto # Compare against base branch
        threshold: 1% # Allow 1% coverage drop
        base: auto
        informational: true # Won't fail PR, just inform

    # Coverage for changed lines only - this is your main gate
    patch:
      default:
        target: 50% # Minimum 50% coverage on new code
        threshold: 0% # No tolerance below 50%
        base: auto
        if_ci_failed: success # Don't fail if CI fails
        if_not_found: success # Don't fail if no coverage data

      # Additional informational patch check
      informational:
        target: 80% # Ideal target
        threshold: 0%
        informational: true # Won't fail, just shows as warning

# Pull request comment configuration
comment:
  layout: "header, diff, flags, components, files"
  behavior: default
  require_changes: false # Post comment even if no coverage change
  require_base: false # Don't require base coverage
  require_head: true # Must have head coverage to post
  hide_project_coverage: false # Show overall project coverage

# Flag configuration for different test suites
flags:
  core:
    paths:
      - "!app_backend/"
      - "!agent/"
      - "!mettagrid/"
      - "!common/"
    carryforward: true

  app_backend:
    paths:
      - app_backend/
    carryforward: true

  agent:
    paths:
      - agent/
    carryforward: true

  mettagrid:
    paths:
      - mettagrid/
    carryforward: true

  mettagrid_cpp:
    paths:
      - "**/*.cpp"
      - "**/*.cc"
      - "**/*.cxx"
      - "**/*.c++"
      - "**/*.h"
      - "**/*.hpp"
      - "**/*.hh"
      - "**/*.hxx"
      - "**/*.h++"
    carryforward: true

  common:
    paths:
      - common/
    carryforward: true

# Ignore certain paths from coverage
ignore:
  - "**/tests/"
  - "**/test_*.py"
  - "**/*_test.py"
  - "**/conftest.py"
  - "setup.py"
  - "**/migrations/"
  - "**/__pycache__/"
  - "**/node_modules/"
  - "**/*.pb.py" # Generated protobuf files
  - "**/*.pyi" # Type stub files
  - "**/fixtures/"
  - "**/mocks/"
  - "**/build/" # C++ build directories
  - "**/cmake-build-*/" # CLion/CMake build directories
  - "**/CMakeFiles/" # CMake generated files
  - "**/*.o" # Object files
  - "**/*.a" # Static libraries
  - "**/*.so" # Shared libraries
  - "**/*.dylib" # macOS dynamic libraries
  - "**/*.dll" # Windows dynamic libraries

# GitHub integration settings
github_checks:
  annotations: true # Show coverage annotations in PR files view

weird changes with lint
  agent/src/metta/agent/metta_agent.py
  agent/src/metta/agent/modules/agalite_batched.py
  agent/src/metta/agent/modules/agalite_layers.py
  agent/src/metta/agent/modules/lstm_base.py
  agent/src/metta/agent/modules/transformer_wrapper.py
  agent/src/metta/agent/pytorch/agalite.py
  agent/src/metta/agent/pytorch/agalite_hybrid.py
  agent/src/metta/agent/pytorch/agent_mapper.py
Due: agent

fix
  agent/src/metta/agent/lib/lstm_switching.py
Due: agent

fixed linting
  agent/src/metta/agent/modules/agalite_batched.py
  agent/src/metta/agent/modules/agalite_layers.py
  agent/src/metta/agent/pytorch/agalite.py
Due: agent

8way move restricted agents
  mettagrid/src/metta/mettagrid/actions/move_8way.hpp
  mettagrid/src/metta/mettagrid/mettagrid_c.cpp
Due: mettagrid, mettagrid_cpp

feat: switch SkyPilot CI test to multi-node training (#1923)
  .cspell.json
  .github/workflows/sky-train.yml
  common/src/metta/common/util/constants.py
  common/src/metta/common/util/lazypath.py
  devops/docker/Dockerfile
  devops/skypilot/config/configure_environment.sh
  devops/skypilot/config/sandbox.yaml
  devops/skypilot/config/sk_setup.sh
  devops/skypilot/config/sk_train.yaml
  devops/skypilot/config/sk_train_run.sh
  devops/skypilot/connect.py
  devops/skypilot/sandbox.py
  devops/skypilot/test_nccl.py
Due: core, common

less docstring more codestring
  agent/src/metta/agent/metta_agent.py
  agent/src/metta/agent/modules/agalite_batched.py
  agent/src/metta/agent/modules/agalite_layers.py
  agent/src/metta/agent/pytorch/agalite.py
  agent/src/metta/agent/pytorch/agalite_hybrid.py
Due: agent

revert ma changes
  agent/src/metta/agent/metta_agent.py
Due: agent

add dtype
  agent/src/metta/agent/lib/lstm_switching.py
Due: agent

also cardinal
  mettagrid/src/metta/mettagrid/actions/move_cardinal.hpp
Due: mettagrid, mettagrid_cpp

glyph
  mettascope/src/context3d.ts
Due: core

fix naming
  mettascope/src/context3d.ts
  mettascope/tools/gen_atlas.py
Due: core

remove unneeded
  agent/src/metta/agent/pytorch/agalite.py
  agent/src/metta/agent/pytorch/agalite_hybrid.py
Due: agent

smush font interfaces together
  mettascope/src/context3d.ts
  mettascope/tools/gen_atlas.py
Due: core

successfully debugged sl kickstarter locally
  configs/user/alex.yaml
  metta/rl/loss/sl_kickstarter.py
Due: core

make fonts variable
  mettascope/tools/gen_atlas.py
Due: core

lint fix hpp
  mettagrid/src/metta/mettagrid/actions/move_8way.hpp
Due: mettagrid, mettagrid_cpp

fixed 8way and cardinal movement tests
  mettagrid/tests/test_8way_movement.py
  mettagrid/tests/test_cardinal_movement.py
Due: none

lint
  mettagrid/tests/test_8way_movement.py
Due: none

perf check
  mettagrid/src/metta/mettagrid/actions/move_optimized.hpp
  mettagrid/src/metta/mettagrid/mettagrid_c.cpp
Due: mettagrid, mettagrid_cpp

misc
  recipes/arena.sh
Due: core

change to arena recipe for baseline
  recipes/arena.sh
Due: core

trying out optimized ghost movement
  benchmark_no_agent_interference.py
  benchmark_results.png
  mettagrid/src/metta/mettagrid/actions/move_8way_optimized.hpp
  mettagrid/src/metta/mettagrid/mettagrid_c.cpp
Due: core, mettagrid, mettagrid_cpp

tentatively setting fast.yaml as bigger model to test ks small to big
  configs/agent/fast.yaml
  metta/rl/loss/ppo.py
  metta/rl/loss/sl_kickstarter.py
  metta/rl/loss/tl_kickstarter.py
  metta/rl/trainer.py
Due: core

8way move restricted agents (#2122)
  mettagrid/src/metta/mettagrid/actions/move_8way.hpp
  mettagrid/src/metta/mettagrid/actions/move_cardinal.hpp
  mettagrid/src/metta/mettagrid/mettagrid_c.cpp
  mettagrid/tests/test_8way_movement.py
  mettagrid/tests/test_cardinal_movement.py
Due: mettagrid, mettagrid_cpp

added search functionality and tests for it to app_backend. this is for policy_selector_widget. my marimo notebook example works 👍🏾
  app_backend/src/metta/app_backend/clients/scorecard_client.py
  app_backend/src/metta/app_backend/routes/scorecard_routes.py
  app_backend/tests/test_scorecard_routes.py
  experiments/marimo/simple-policy-selector.py
  experiments/notebooks/utils/policy_selector_widget/README.md
  experiments/notebooks/utils/policy_selector_widget/__init__.py
  experiments/notebooks/utils/policy_selector_widget/package.json
  experiments/notebooks/utils/policy_selector_widget/policy_selector_widget/PolicySelectorWidget.py
  experiments/notebooks/utils/policy_selector_widget/policy_selector_widget/__init__.py
  experiments/notebooks/utils/policy_selector_widget/policy_selector_widget/static/index.js
  experiments/notebooks/utils/policy_selector_widget/policy_selector_widget/static/policy_selector_widget.css
  experiments/notebooks/utils/policy_selector_widget/policy_selector_widget/util.py
  experiments/notebooks/utils/policy_selector_widget/src/PolicySelector.tsx
  experiments/notebooks/utils/policy_selector_widget/src/index.tsx
  experiments/notebooks/utils/policy_selector_widget/src/styles.css
  experiments/notebooks/utils/policy_selector_widget/src/types.ts
  experiments/notebooks/utils/policy_selector_widget/tsconfig.json
  experiments/notebooks/utils/policy_selector_widget/turbo.jsonc
  experiments/notebooks/utils/policy_selector_widget/vite.config.js
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: core, app_backend

Fix LSTM attribute initialization for checkpoint loading
  agent/src/metta/agent/lib/lstm.py
Due: agent

Batched leaderboard updates
  app_backend/src/metta/app_backend/leaderboard_updater.py
  app_backend/src/metta/app_backend/metta_repo.py
Due: app_backend

another LSTM fix
  agent/src/metta/agent/lib/lstm.py
Due: agent

progress.. it's working now on localhost searching better. gotta have a synchronous http api search routine for the widget api because it doesn't await functions when observing
  app_backend/src/metta/app_backend/clients/scorecard_client.py
  experiments/marimo/simple-policy-selector.py
  experiments/notebooks/utils/policy_selector_widget/policy_selector_widget/PolicySelectorWidget.py
  experiments/notebooks/utils/policy_selector_widget/policy_selector_widget/static/index.js
  experiments/notebooks/utils/policy_selector_widget/src/index.tsx
  experiments/notebooks/utils/policy_selector_widget/src/types.ts
Due: core, app_backend

added move env overrides to claude
  CLAUDE.md
Due: core

Leaderboard consistency check
  app_backend/src/metta/app_backend/leaderboard_updater.py
  app_backend/src/metta/app_backend/metta_repo.py
Due: app_backend

clear state memory of LSTM after load from disk
  agent/src/metta/agent/lib/lstm.py
Due: agent

reduce diff
  CLAUDE.md
  agent/src/metta/agent/lib/lstm.py
Due: core, agent

use overrides
  CLAUDE.md
Due: core

reduce diff
  agent/src/metta/agent/lib/lstm.py
Due: agent

simpler comment
  agent/src/metta/agent/lib/lstm.py
Due: agent

cleaned everything up. Some small to-dos remain. Now to merge main.
  agent/src/metta/agent/metta_agent.py
  configs/agent/fast.yaml
  configs/trainer/trainer.yaml
  configs/user/alex.yaml
  metta/rl/experience.py
  metta/rl/loss/base_loss.py
  metta/rl/loss/ppo.py
  metta/rl/trainer.py
  metta/rl/trainer_state.py
Due: core, agent

Tell CLAUDE to use overrides (#2125)
  CLAUDE.md
Due: core
