Repository Metta-AI/metta: changes, and which Codecov flags are due for each by the changed paths.
All: core, app_backend, agent, mettagrid, mettagrid_cpp, common

x
  metta/rl/wandb.py
Due: core

lint
  common/src/metta/common/profiling/system_monitor.py
  common/src/metta/common/util/log_config.py
  common/src/metta/common/util/retry.py
Due: common

test fix
  tests/tools/test_new_policy_system.py
Due: none

Update metta/rl/stats.py
  metta/rl/stats.py
Due: core

we need the whole env
  metta/setup/components/base.py
Due: core

Add local training back (#2421)
  metta/rl/stats.py
  metta/rl/trainer.py
  metta/rl/wandb.py
  metta/tools/sim.py
  tools/request_eval.py
Due: core

RADICAL SIMPLIFICATION: Replace complex scheduler architecture with simple functions
  metta/rl/hyperparameter_scheduler.py
  metta/rl/hyperparameter_scheduler_config.py
  metta/rl/trainer.py
Due: core

added back concise hyperparameter scheduling
  metta/rl/hyperparameter_scheduler.py
  metta/rl/hyperparameter_scheduler_config.py
Due: core

address graphite
  tools/request_eval.py
Due: core

lint
  metta/rl/stats.py
Due: core

more concise
  metta/rl/hyperparameter_scheduler.py
  metta/rl/hyperparameter_scheduler_config.py
Due: core

refactor: implement null object pattern with WandBDashboardToolsStub for graceful auth failure handling
  mcp_servers/wandb_dashboard/wandb_dashboard/server.py
  mcp_servers/wandb_dashboard/wandb_dashboard/tools.py
Due: core

load policy from wandb uri fix
  metta/rl/wandb.py
Due: core

more non-interactive support and tests
  metta/setup/components/tailscale.py
  tests/setup/test_aws_profile_setup.py
  tests/setup/test_base.py
  tests/setup/test_noninteractive_install.py
Due: core

cleanup names of evals
  experiments/evals/icl_resource_chain.py
Due: core

add mettascope2 emscripten build
  .github/workflows/build-mettascope2.yml
Due: core

add dependency back
  mettascope2/mettascope.nimble
Due: core

Update metta/rl/loss/tl_kickstarter.py
  metta/rl/loss/tl_kickstarter.py
Due: core

docs: Add comprehensive docstrings to address Diamond AI review feedback
  metta/setup/components/aws.py
  metta/setup/components/base.py
  metta/setup/components/wandb.py
Due: core

copy converters
  experiments/recipes/icl_resource_chain.py
Due: core

update
  experiments/evals/icl_resource_chain.py
Due: core

remove duplicate logic
  metta/setup/utils.py
Due: core

ruff
  experiments/evals/icl_resource_chain.py
Due: core

simplified __setstate__
  agent/src/metta/agent/metta_agent.py
  agent/src/metta/agent/utils.py
Due: agent

add all attr
  agent/src/metta/agent/utils.py
Due: agent

remove comments
  agent/src/metta/agent/utils.py
Due: agent

fix bug
  experiments/evals/icl_resource_chain.py
Due: core

remove comments
  agent/src/metta/agent/metta_agent.py
  agent/src/metta/agent/utils.py
Due: agent

feat: Add --non-interactive support to automated environments
  .openhands/setup.sh
  devops/docker/Dockerfile.policy_evaluator
  devops/skypilot/config/lifecycle/create_job_secrets.py
  devops/skypilot/config/lifecycle/setup.sh
  devops/tools/format_script_tools.sh
  install.sh
Due: core

draw selected trajectories
  mettascope2/src/mettascope/worldmap.nim
Due: core

empty input resources
  experiments/recipes/icl_resource_chain.py
Due: core

remove agent keys
  agent/src/metta/agent/utils.py
Due: agent

replied to small graphite tweaks
  metta/rl/loss/loss_config.py
  metta/rl/loss/ppo.py
  metta/rl/trainer.py
Due: core

rm unused field
  common/src/metta/common/util/log_config.py
Due: common

fix test
  common/src/metta/common/profiling/stopwatch.py
  common/src/metta/common/profiling/system_monitor.py
  common/tests/profiling/test_stopwatch.py
Due: common

Path conditions:
  core: any file but: app_backend/, agent/, mettagrid/, common/, **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  app_backend: any of: app_backend/, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  agent: any of: agent/, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  mettagrid: any of: mettagrid/, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  mettagrid_cpp: any of: **/*.cpp, **/*.cc, **/*.cxx, **/*.c++, **/*.h, **/*.hpp, **/*.hh, **/*.hxx, **/*.h++, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  common: any of: common/, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
