Repository Metta-AI/metta: changes, and which Codecov flags are due for each by the changed paths.
All: core, app_backend, agent, mettagrid, mettagrid_cpp, common

refactor: simplify CheckpointManager by removing redundant methods
  metta/rl/checkpoint_manager.py
Due: core

Create a new slim dockerfile for training (#2338)
  .github/workflows/build-image-slim.yml
  devops/docker/Dockerfile.slim
  devops/docker/test_dockerfile.sh
  experiments/README_corridors.md
  experiments/corridor_examples.py
  experiments/evals/navigation_with_corridors.py
  experiments/quick_map_check.py
  experiments/simple_radial_example.py
  experiments/test_navigation_corridors.py
  experiments/test_radial_corridors.py
  experiments/visualize_navigation_maps.py
  metta/map/__init__.py
  metta/map/scenes/__init__.py
  metta/map/scenes/angled_corridor_builder.py
Due: core

refactor: extract comment and import-only changes from richard-policy-cull branch
  agent/tests/test_metta_agent.py
  app_backend/src/metta/app_backend/clients/scorecard_client.py
  app_backend/tests/test_eval_task_orchestrator_integration.py
  app_backend/tests/test_scorecard_routes.py
  app_backend/tests/test_training_runs_routes.py
  cogweb/cogweb_client.py
  mettagrid/tests/mapgen/test_validate_all_ascii_maps.py
  tests/cogworks/curriculum/test_curriculum.py
  tests/setup/test_base.py
Due: core, app_backend

fix: restore auto-conversion of plain paths to file:// URIs
  metta/rl/checkpoint_manager.py
Due: core

linted
  metta/rl/checkpoint_manager.py
Due: core

cooling: reduce comments and imports found in richard-policy-cull (#2419)
  agent/tests/test_metta_agent.py
  app_backend/src/metta/app_backend/clients/scorecard_client.py
  app_backend/tests/test_eval_task_orchestrator_integration.py
  app_backend/tests/test_scorecard_routes.py
  app_backend/tests/test_training_runs_routes.py
  cogweb/cogweb_client.py
  mettagrid/tests/mapgen/test_validate_all_ascii_maps.py
  tests/cogworks/curriculum/test_curriculum.py
  tests/setup/test_base.py
Due: core, app_backend

fix: handle signal operations in marimo's non-main thread
  experiments/marimo/01-hello-world-marimo.py
Due: core

final simplify
  metta/rl/checkpoint_manager.py
  metta/rl/trainer.py
  tests/rl/test_checkpoint_manager.py
  tests/rl/test_checkpoint_uri_integration.py
Due: core

fix: remove signal handling in marimo notebook to prevent thread errors
  experiments/marimo/01-hello-world-marimo.py
Due: core

lint
  experiments/marimo/01-hello-world-marimo.py
Due: core

less logging
  experiments/marimo/01-hello-world-marimo.py
  metta/rl/trainer.py
Due: core

Reduce excessive logging in distributed training
  metta/rl/trainer.py
  metta/sweep/protein.py
Due: core

Clean up PR: remove unnecessary comments and code
  experiments/marimo/01-hello-world-marimo.py
  metta/rl/trainer.py
Due: core

Remove unused variable assignment
  metta/rl/trainer.py
Due: core

improve docs
  common/src/metta/common/util/logging.md
Due: common

remove passing logger to stopwatch
  common/tests/profiling/test_stopwatch.py
  mettagrid/src/metta/mettagrid/mettagrid_env.py
Due: mettagrid

stop passing logger in tests
  app_backend/tests/test_auto_scaler.py
Due: none

more ubiquitous use in policy evaluator
  app_backend/src/metta/app_backend/container_managers/docker.py
  app_backend/src/metta/app_backend/container_managers/k8s.py
  app_backend/src/metta/app_backend/eval_task_orchestrator.py
  app_backend/src/metta/app_backend/eval_task_worker.py
  app_backend/src/metta/app_backend/worker_managers/thread_manager.py
  common/src/metta/common/util/logging.py
Due: app_backend, common

Logging simplifications
  app_backend/src/metta/app_backend/eval_task_orchestrator.py
  app_backend/src/metta/app_backend/eval_task_worker.py
  app_backend/src/metta/app_backend/worker_managers/container_manager.py
  common/src/metta/common/config/run_tool.py
  common/src/metta/common/profiling/stopwatch.py
  common/src/metta/common/util/constants.py
  common/src/metta/common/util/logging.md
  common/src/metta/common/util/logging.py
  common/src/metta/common/util/logging_helper.md
  common/tests/wandb/test_wandb_context.py
  gitta/src/gitta/__init__.py
  metta/eval/eval_service.py
  metta/rl/trainer.py
  metta/rl/vecenv.py
  metta/tools/train.py
Due: core, app_backend, common

remove other instances of logger= passing
  common/src/metta/common/util/retry.py
  common/src/metta/common/util/system_monitor.py
  common/tests/util/test_retry.py
  common/tests/util/test_system_monitor.py
  metta/core/monitoring.py
  metta/rl/hyperparameter_scheduler.py
  metta/sweep/sweep_rollout.py
  metta/sweep/wandb_utils.py
  metta/tools/sim.py
  metta/tools/train.py
Due: core, common

get rid of `log(...)`
  app_backend/src/metta/app_backend/container_managers/docker.py
  app_backend/src/metta/app_backend/container_managers/k8s.py
  app_backend/src/metta/app_backend/eval_task_orchestrator.py
  app_backend/src/metta/app_backend/eval_task_worker.py
  app_backend/src/metta/app_backend/worker_managers/thread_manager.py
  common/src/metta/common/util/logging.md
  common/src/metta/common/util/logging.py
  metta/tools/train.py
Due: core, app_backend, common

add space
  common/src/metta/common/util/logging.py
Due: common

init logging in eval taks worker
  app_backend/src/metta/app_backend/eval_task_worker.py
Due: app_backend

rm errant test
  common/tests/util/test_retry.py
Due: none

rm other uses of self.logger
  common/src/metta/common/util/system_monitor.py
  metta/rl/hyperparameter_scheduler.py
Due: core, common

misc
  app_backend/src/metta/app_backend/container_managers/docker.py
  app_backend/src/metta/app_backend/eval_task_orchestrator.py
  app_backend/src/metta/app_backend/eval_task_worker.py
  common/src/metta/common/datadog/tracing.py
  common/tests/util/test_retry.py
Due: app_backend, common

rm default init logging
  common/src/metta/common/util/logging.py
  metta/sweep/sweep_rollout.py
Due: core, common

cooling: further logging simplifications (#2414)
  app_backend/src/metta/app_backend/container_managers/docker.py
  app_backend/src/metta/app_backend/container_managers/k8s.py
  app_backend/src/metta/app_backend/eval_task_orchestrator.py
  app_backend/src/metta/app_backend/eval_task_worker.py
  app_backend/src/metta/app_backend/worker_managers/container_manager.py
  app_backend/src/metta/app_backend/worker_managers/thread_manager.py
  app_backend/tests/test_auto_scaler.py
  common/src/metta/common/config/run_tool.py
  common/src/metta/common/datadog/tracing.py
  common/src/metta/common/profiling/stopwatch.py
  common/src/metta/common/util/constants.py
  common/src/metta/common/util/logging.md
  common/src/metta/common/util/logging.py
  common/src/metta/common/util/logging_helper.md
  common/src/metta/common/util/retry.py
  common/src/metta/common/util/system_monitor.py
  common/tests/profiling/test_stopwatch.py
  common/tests/util/test_retry.py
  common/tests/util/test_system_monitor.py
  common/tests/wandb/test_wandb_context.py
  gitta/src/gitta/__init__.py
  metta/core/monitoring.py
  metta/eval/eval_service.py
  metta/rl/hyperparameter_scheduler.py
  metta/rl/trainer.py
  metta/rl/vecenv.py
  metta/sweep/wandb_utils.py
  metta/tools/sim.py
  metta/tools/train.py
  mettagrid/src/metta/mettagrid/mettagrid_env.py
Due: core, app_backend, mettagrid, common

fix main ruff import error
  metta/tools/train.py
Due: core

How to setup remote machine in Cursor (#2417)
  devops/README.md
Due: core

feat: add working delete_dashboard functionality using wandb_workspaces
  mcp_servers/wandb_dashboard/wandb_dashboard/server.py
  mcp_servers/wandb_dashboard/wandb_dashboard/tools.py
  mcp_servers/wandb_dashboard/wandb_dashboard/wandb_client.py
Due: core

fix: resolve WandB API caching issues in list_dashboards by using fresh API clients
  mcp_servers/wandb_dashboard/wandb_dashboard/wandb_client.py
Due: core

Switched place_box to use the normal resources_consumed (#2411)
  mettagrid/src/metta/mettagrid/actions/get_output.hpp
  mettagrid/src/metta/mettagrid/actions/place_box.hpp
  mettagrid/src/metta/mettagrid/mettagrid_c.cpp
  mettagrid/src/metta/mettagrid/mettagrid_c.pyi
  mettagrid/src/metta/mettagrid/mettagrid_c_config.py
  mettagrid/src/metta/mettagrid/mettagrid_config.py
  mettagrid/src/metta/mettagrid/objects/box.hpp
Due: mettagrid, mettagrid_cpp

Remove no_agent_interference (#2412)
  mettagrid/tests/test_no_agent_interference.py
Due: none

feat: implement true in-place dashboard updates and panel additions
  mcp_servers/wandb_dashboard/wandb_dashboard/wandb_client.py
Due: core

no name only run_id
  common/src/metta/common/wandb/wandb_context.py
  metta/tools/utils/auto_config.py
Due: core, common

imports
  metta/tools/sim.py
Due: core

feat: implement comprehensive panel update functionality with three identification methods
  mcp_servers/wandb_dashboard/wandb_dashboard/server.py
  mcp_servers/wandb_dashboard/wandb_dashboard/tools.py
  mcp_servers/wandb_dashboard/wandb_dashboard/wandb_client.py
Due: core

better wandb mock
  common/tests/wandb/test_wandb_context.py
Due: none

update test
  tests/rl/test_kickstarter.py
Due: none

Path conditions:
  core: any file but: app_backend/, agent/, mettagrid/, common/, **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  app_backend: any of: app_backend/, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  agent: any of: agent/, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  mettagrid: any of: mettagrid/, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  mettagrid_cpp: any of: **/*.cpp, **/*.cc, **/*.cxx, **/*.c++, **/*.h, **/*.hpp, **/*.hh, **/*.hxx, **/*.h++, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  common: any of: common/, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
