Repository Metta-AI/metta: changes, and which Codecov flags are due for each by the changed paths.
All: core, app_backend, agent, mettagrid, mettagrid_cpp, common

Automatically determine run name if missing (#1861)
  configs/train_job.yaml
  metta/rl/trainer.py
  metta/rl/utils.py
  metta/util/metta_script.py
  metta/utils/progress.py
  tools/train.py
Due: core

Remove ProgressiveMultiTaskCurriculum (#1871)
  configs/env/mettagrid/curriculum/arena/learning_progress.yaml
  configs/env/mettagrid/curriculum/navigation/progressive.yaml
  configs/env/mettagrid/curriculum/progressive.yaml
  mettagrid/src/metta/mettagrid/curriculum/progressive.py
  mettagrid/tests/test_curriculum.py
Due: core, mettagrid

Remove final hradware config files, move hardware/github.yaml to users/ci.yaml
  .github/actions/save-benchmarks/save_benchmarks.py
  .github/scripts/replay_smoke_test.py
  .github/scripts/train_smoke_test.py
  .github/workflows/checks.yml
  configs/user/ci.yaml
  tests/rl/test_trainer_config.py
  tests/tools/test_renderer_job.py
Due: core

fix observatory oauth
  devops/charts/observatory/templates/oauth2-proxy.yaml
  devops/tf/eks/secrets.tf
Due: core

Prometheus stack on EKS; oauth cleanups (#1863)
  devops/charts/helm.values/prometheus-values.yaml
  devops/charts/helm.values/skypilot-values.yaml
  devops/charts/helmfile.yaml
  devops/charts/observatory/templates/oauth2-proxy.yaml
  devops/charts/observatory/values.yaml
  devops/charts/skypilot/templates/api-deployment.yaml
  devops/tf/eks/monitoring.tf
  devops/tf/eks/secrets.tf
  devops/tf/eks/variables.tf
Due: core

Handle null seeds more gracefully (#1873)
  metta/rl/trainer.py
Due: core

fix buffer sharing optimization issues on GPUs
  mettagrid/src/metta/mettagrid/core.py
  mettagrid/src/metta/mettagrid/mettagrid_env.py
  mettagrid/tests/test_buffer_sharing_regression.py
Due: mettagrid

merge and adapt to upstream logic changes
  mettagrid/src/metta/mettagrid/mettagrid_env.py
Due: mettagrid

arenateams
  recipes/arena_teams.sh
Due: core

Remove final hardware config files, move hardware/github.yaml to users/ci.yaml (#1875)
  .github/actions/save-benchmarks/save_benchmarks.py
  .github/scripts/replay_smoke_test.py
  .github/scripts/train_smoke_test.py
  .github/workflows/checks.yml
  configs/user/ci.yaml
  tests/rl/test_trainer_config.py
  tests/tools/test_renderer_job.py
Due: core

overrides are everywhere
  metta/rl/trainer.py
  mettagrid/tests/test_8way_movement.py
  mettagrid/tests/test_cardinal_movement.py
  mettagrid/tests/test_utils.py
Due: core

Adding small revisions to run.py
  metta/rl/rollout.py
  mettagrid/src/metta/mettagrid/base_env.py
  run.py
Due: core, mettagrid

Fix column is x and row is y mixup. (#1853)
  mettagrid/src/metta/mettagrid/mettagrid_c.cpp
Due: mettagrid, mettagrid_cpp

Norewardsharing
  configs/env/mettagrid/arena/combat_teams.yaml
  recipes/arena_teams.sh
Due: core

bash
  fun.sh
Due: core

userconfig
  configs/user/krishnakanth.yaml
Due: core

run fast tests first
  .cspell.json
  .github/workflows/checks.yml
  conftest.py
  pyproject.toml
Due: core

teams
  configs/env/mettagrid/curriculum/arena/teams.yaml
Due: core

Update terrain_from_numpy_defaults.yaml
  configs/env/mettagrid/navigation/training/terrain_from_numpy_defaults.yaml
Due: core

docs for running pufferlib
  docs/pufferlib.md
Due: core

Update terrain_from_numpy.py
  mettagrid/src/metta/mettagrid/room/terrain_from_numpy.py
Due: mettagrid

Update mettagrid.yaml
  configs/env/mettagrid/mettagrid.yaml
Due: core

Update mettagrid_config.py
  mettagrid/src/metta/mettagrid/mettagrid_config.py
Due: mettagrid

Add local_rank for device setting string
  metta/core/distributed.py
Due: core

run tests if testing system changes
  .github/workflows/checks.yml
Due: core

bugsfixed
  configs/user/krishnakanth.yaml
Due: core

Update pufferlib.md
  docs/pufferlib.md
Due: core

docs for running pufferlib (#1880)
  docs/pufferlib.md
Due: core

Apply linting fixes from ruff and metta lint
  configs/sweep_job.yaml
  experiments/cli_formatter.py
  metta/interface/environment.py
  metta/rl/trainer.py
  mettagrid/src/metta/mettagrid/base_env.py
  mettagrid/src/metta/mettagrid/curriculum/bucketed.py
  mettagrid/src/metta/mettagrid/curriculum/curriculum.py
  mettagrid/src/metta/mettagrid/curriculum/curriculum_config.py
  mettagrid/tests/test_curriculum.py
Due: core, mettagrid

Factor Curricula into TaskTrees and CurriculumAlgorithms; add CurriculumHypers
  configs/env/mettagrid/curriculum/debug.yaml
  configs/env/mettagrid/curriculum/multiagent.yaml
  configs/env/mettagrid/curriculum/navigation/progressive.yaml
  configs/env/mettagrid/curriculum/objects/all_objects.yaml
  configs/env/mettagrid/navigation/training/large.yaml
  configs/env/mettagrid/navigation/training/medium.yaml
  configs/env/mettagrid/navigation/training/small.yaml
  configs/train_job.yaml
  configs/trainer/trainer.yaml
  configs/user/bullm.yaml
  experiments/README.md
  experiments/__init__.py
  experiments/cli_formatter.py
  experiments/curriculum_defs.py
  experiments/recipes/arena_experiment.py
  metta/interface/environment.py
  metta/rl/trainer.py
  metta/rl/trainer_config.py
  metta/sim/simulation.py
  mettagrid/src/metta/mettagrid/base_env.py
  mettagrid/src/metta/mettagrid/curriculum/README.md
  mettagrid/src/metta/mettagrid/curriculum/__init__.py
  mettagrid/src/metta/mettagrid/curriculum/curriculum.py
  mettagrid/src/metta/mettagrid/curriculum/curriculum_builder.py
  mettagrid/src/metta/mettagrid/curriculum/curriculum_config.py
  mettagrid/src/metta/mettagrid/curriculum/curriculum_store.py
  mettagrid/src/metta/mettagrid/replay_writer.py
  mettagrid/tests/test_curriculum.py
Due: core, mettagrid

Path conditions:
  core: any file but: app_backend/, agent/, mettagrid/, common/, **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  app_backend: any of: app_backend/, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  agent: any of: agent/, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  mettagrid: any of: mettagrid/, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  mettagrid_cpp: any of: **/*.cpp, **/*.cc, **/*.cxx, **/*.c++, **/*.h, **/*.hpp, **/*.hh, **/*.hxx, **/*.h++, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  common: any of: common/, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
