Repository Metta-AI/metta: changes, and which Codecov flags are due for each by the changed paths.
All: core, app_backend, agent, mettagrid, mettagrid_cpp, common

Eval stats worker authenticates with stats server (#1597)
  app_backend/src/metta/app_backend/container_managers/base.py
  app_backend/src/metta/app_backend/container_managers/docker.py
  app_backend/src/metta/app_backend/container_managers/k8s.py
  app_backend/src/metta/app_backend/eval_task_orchestrator.py
  app_backend/src/metta/app_backend/eval_task_worker.py
  app_backend/src/metta/app_backend/kind.sh
  app_backend/tests/test_eval_task_orchestrator_integration.py
  devops/observatory_login.py
  metta/setup/local_commands.py
  metta/setup/metta_cli.py
  metta/setup/tools/local/kind.py
Due: core, app_backend

updated the default max vec
  agent/src/metta/agent/external/example.py
Due: agent

debugging
  agent/src/metta/agent/external/example.py
  metta/rl/puffer_policy.py
Due: core, agent

items
  CYCLICAL_CONVERTER_IMPLEMENTATION.md
  Testing/Temporary/CTestCostData.txt
  configs/env/mettagrid/cyclical_test.yaml
  configs/env/mettagrid/debug/cyclical_converter_test.yaml
  configs/env/mettagrid/game/objects/cyclical.yaml
  configs/env/mettagrid/maps/debug/cyclical_converter.map
  configs/env/mettagrid/navigation_sequence/evals/knotty_debug.yaml
  mettagrid/src/metta/mettagrid/char_encoder.py
  mettagrid/src/metta/mettagrid/objects/converter.hpp
  mettagrid/tests/test_cyclical_converter.cpp
Due: core, mettagrid, mettagrid_cpp

Fix: Remove _target_ field from trainer config before validation
  metta/rl/trainer_config.py
Due: core

add initialize to environment to the external example
  agent/src/metta/agent/external/example.py
Due: agent

dynamic mapping
  agent/src/metta/agent/external/example.py
Due: agent

A new client for importing
  .github/workflows/checks.yml
  .ruff.toml
  mettabook/analysis/README.md
  mettabook/analysis/__init__.py
  mettabook/analysis/correlation_analyzer.py
  mettabook/analysis/meta_analyzer.py
  mettabook/analysis/observatory_client.py
  mettabook/analysis/visualization_utils.py
  mettabook/mettabook/notebooks/analysis_workbook.ipynb
  mettabook/mettabook/notebooks/meta_analysis_final.ipynb
  mettabook/mettabook/notebooks/meta_analysis_suite.ipynb
  mettabook/mettabook/notebooks/meta_analysis_workbook.ipynb
  mettabook/requirements.txt
  mettabook/test_policy_loading.py
  pyproject.toml
  uv.lock
Due: core

Move even more management into kind.py
  devops/charts/orchestrator/environments/kind.yaml
  devops/charts/orchestrator/templates/deployment.yaml
  devops/charts/orchestrator/values.yaml
  metta/setup/local_commands.py
  metta/setup/metta_cli.py
  metta/setup/tools/local/kind.py
Due: core

update readme
  app_backend/README.md
Due: app_backend

rm unncessary permissions and fix test
  app_backend/tests/test_eval_task_orchestrator_integration.py
  devops/charts/orchestrator/templates/deployment.yaml
  devops/charts/orchestrator/templates/role.yaml
  devops/charts/orchestrator/values.yaml
Due: core

adapt tests to accept machine_token
  app_backend/tests/test_eval_task_orchestrator_integration.py
Due: none

even more cleanup
  app_backend/src/metta/app_backend/docker-compose.yml
  devops/charts/orchestrator/environments/kind.yaml
  devops/charts/orchestrator/values.yaml
  metta/setup/tools/local/kind.py
Due: core, app_backend

cleanup
  devops/charts/orchestrator/environments/kind.yaml
  metta/setup/tools/local/kind.py
Due: core

further cleaup
  app_backend/src/metta/app_backend/container_managers/factory.py
  devops/charts/helmfile.yaml
  devops/charts/orchestrator/environments/kind.yaml
  metta/setup/tools/local/kind.py
Due: core, app_backend

Helm charts for policy evaluator
  app_backend/src/metta/app_backend/container_managers/k8s.py
  devops/charts/helmfile.yaml
  devops/charts/orchestrator/Chart.yaml
  devops/charts/orchestrator/environments/kind.yaml
  devops/charts/orchestrator/templates/_helpers.tpl
  devops/charts/orchestrator/templates/deployment.yaml
  devops/charts/orchestrator/templates/role.yaml
  devops/charts/orchestrator/templates/rolebinding.yaml
  devops/charts/orchestrator/templates/serviceaccount.yaml
  devops/charts/orchestrator/values.yaml
  metta/setup/tools/local/kind.py
Due: core, app_backend

further cleanpu
  app_backend/src/metta/app_backend/docker-compose.yml
  devops/docker/Dockerfile.local
  metta/setup/local_commands.py
Due: core, app_backend

add httpx to image that orchestrator will use
  app_backend/pyproject.toml
  metta/setup/tools/local/kind.py
  uv.lock
Due: core, app_backend

Policy evaluator helm charts (#1604)
  app_backend/README.md
  app_backend/pyproject.toml
  app_backend/src/metta/app_backend/container_managers/factory.py
  app_backend/src/metta/app_backend/container_managers/k8s.py
  app_backend/src/metta/app_backend/docker-compose.yml
  app_backend/tests/test_eval_task_orchestrator_integration.py
  devops/charts/helmfile.yaml
  devops/charts/orchestrator/Chart.yaml
  devops/charts/orchestrator/environments/kind.yaml
  devops/charts/orchestrator/templates/_helpers.tpl
  devops/charts/orchestrator/templates/deployment.yaml
  devops/charts/orchestrator/templates/role.yaml
  devops/charts/orchestrator/templates/rolebinding.yaml
  devops/charts/orchestrator/templates/serviceaccount.yaml
  devops/charts/orchestrator/values.yaml
  devops/docker/Dockerfile.local
  metta/setup/local_commands.py
  metta/setup/metta_cli.py
  metta/setup/tools/local/kind.py
  uv.lock
Due: core, app_backend

test
  configs/user/jacke.yaml
  mettagrid/tests/test_converter_items.py
Due: core

Fix wandb=off
  configs/wandb/disabled.yaml
  devops/train.sh
Due: core

cp
  configs/user/daveey.yaml
  mettagrid/src/metta/mettagrid/actions/get_output.hpp
  mettagrid/src/metta/mettagrid/actions/put_recipe_items.hpp
  mettagrid/tests/test_mettagrid.cpp
  mettagrid/tests/test_rewards.py
  mettascope/src/actions.ts
  mettascope/src/worldmap.ts
Due: core, mettagrid, mettagrid_cpp

using feature renormalization properly
  agent/src/metta/agent/external/example.py
Due: agent

Rename action handlers from get_output/put_recipe_items to get_items/put_items (#1625)
  configs/user/daveey.yaml
  mettagrid/src/metta/mettagrid/actions/get_output.hpp
  mettagrid/src/metta/mettagrid/actions/put_recipe_items.hpp
  mettagrid/tests/test_mettagrid.cpp
  mettagrid/tests/test_rewards.py
  mettascope/src/actions.ts
  mettascope/src/worldmap.ts
Due: core, mettagrid, mettagrid_cpp

Remove unused current_resource_reward field from Agent class (#1621)
  mettagrid/src/metta/mettagrid/objects/agent.hpp
  mettagrid/tests/test_mettagrid.cpp
Due: mettagrid, mettagrid_cpp

update tests
  mettagrid/tests/test_converter_items.py
  mettagrid/tests/test_converter_replay_debug.py
Due: none

ruff fix
  mettagrid/tests/test_converter_replay_debug.py
Due: none

Path conditions:
  core: any file but: app_backend/, agent/, mettagrid/, common/, **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  app_backend: any of: app_backend/, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  agent: any of: agent/, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  mettagrid: any of: mettagrid/, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  mettagrid_cpp: any of: **/*.cpp, **/*.cc, **/*.cxx, **/*.c++, **/*.h, **/*.hpp, **/*.hh, **/*.hxx, **/*.h++, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  common: any of: common/, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
