Repository Metta-AI/metta: changes, and which Codecov flags are due for each by the changed paths.
All: core, app_backend, agent, mettagrid, mettagrid_cpp, common

codecov.yml:

# Codecov configuration for Metta-AI
# Documentation: https://docs.codecov.com/docs/codecov-yaml

# Wait for all CI jobs to complete before posting results
codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

# Coverage settings
coverage:
  # Round coverage to 2 decimal places
  precision: 2
  round: down

  # Status checks configuration
  status:
    # Project-wide coverage
    project:
      default:
        target: auto # Compare against base branch
        threshold: 1% # Allow 1% coverage drop
        base: auto
        informational: true # Won't fail PR, just inform

    # Coverage for changed lines only - this is your main gate
    patch:
      default:
        target: 50% # Minimum 50% coverage on new code
        threshold: 0% # No tolerance below 50%
        base: auto
        if_ci_failed: success # Don't fail if CI fails
        if_not_found: success # Don't fail if no coverage data

      # Additional informational patch check
      informational:
        target: 80% # Ideal target
        threshold: 0%
        informational: true # Won't fail, just shows as warning

# Pull request comment configuration
comment:
  layout: "header, diff, flags, components, files"
  behavior: default
  require_changes: false # Post comment even if no coverage change
  require_base: false # Don't require base coverage
  require_head: true # Must have head coverage to post
  hide_project_coverage: false # Show overall project coverage

# Flag configuration for different test suites
flags:
  core:
    paths:
      - "!app_backend/"
      - "!agent/"
      - "!mettagrid/"
      - "!common/"
    carryforward: true

  app_backend:
    paths:
      - app_backend/
    carryforward: true

  agent:
    paths:
      - agent/
    carryforward: true

  mettagrid:
    paths:
      - mettagrid/
    carryforward: true

  mettagrid_cpp:
    paths:
      - "**/*.cpp"
      - "**/*.cc"
      - "**/*.cxx"
      - "**/*.c++"
      - "**/*.h"
      - "**/*.hpp"
      - "**/*.hh"
      - "**/*.hxx"
      - "**/*.h++"
    carryforward: true

  common:
    paths:
      - common/
    carryforward: true

# Ignore certain paths from coverage
ignore:
  - "**/tests/"
  - "**/test_*.py"
  - "**/*_test.py"
  - "**/conftest.py"
  - "setup.py"
  - "**/migrations/"
  - "**/__pycache__/"
  - "**/node_modules/"
  - "**/*.pb.py" # Generated protobuf files
  - "**/*.pyi" # Type stub files
  - "**/fixtures/"
  - "**/mocks/"
  - "**/build/" # C++ build directories
  - "**/cmake-build-*/" # CLion/CMake build directories
  - "**/CMakeFiles/" # CMake generated files
  - "**/*.o" # Object files
  - "**/*.a" # Static libraries
  - "**/*.so" # Shared libraries
  - "**/*.dylib" # macOS dynamic libraries
  - "**/*.dll" # Windows dynamic libraries

# GitHub integration settings
github_checks:
  annotations: true # Show coverage annotations in PR files view

dehydrated nav evals
  .gitignore
  configs/env/mettagrid/mettagrid.yaml
  configs/env/mettagrid/navigation/evals/labyrinth.yaml
  experiments/evals/navigation.py
  experiments/user/berekuk.py
  metta/tools/sim.py
  mettagrid/src/metta/mettagrid/config/envs.py
  mettagrid/src/metta/mettagrid/map_builder/__init__.py
  mettagrid/tests/map_builder/test_polymorphic_serialization.py
Due: core, mettagrid

fix wall config and agents serialization migration issues
  mettagrid/tests/test_8way_movement.py
  mettagrid/tests/test_cardinal_movement.py
  mettagrid/tests/test_gym_env.py
  mettagrid/tests/test_interactive.py
  mettagrid/tests/test_pettingzoo_env.py
Due: none

seed_everything
  common/src/metta/common/util/tool.py
  metta/rl/system_config.py
  metta/tools/play.py
  metta/tools/train.py
  tools/run.py
Due: core, common

cleanup labels
  metta/map/scene.py
  metta/map/scenes/copy_grid.py
  metta/map/scenes/room_grid.py
  metta/map/scenes/transplant_scene.py
  metta/map/scenes/varied_terrain.py
Due: core

fix test_observations to ude new EnvConfig
  mettagrid/tests/test_observations.py
Due: none

streamline test_observations.py
  mettagrid/tests/test_observations.py
Due: none

fix ruff issues, replaced TestEnvironmentBuilder with EnvConfig pattern, fixed property access
  mettagrid/tests/test_8way_movement.py
Due: none

removed hardcoded paths from play.py
  metta/tools/play.py
Due: core

sim.py dehydrated (wip)
  tools/analyze.py
Due: core

remove hydraless_metta_script
  metta/util/metta_script.py
Due: core

cp
  arena/daveey-test-run-3/checkpoints/model_0000.pt
  arena/daveey-test-run-3/checkpoints/model_0010.pt
  arena/daveey-test-run-3/checkpoints/model_0020.pt
  configs/user/daveey.yaml
  experiments/arena/arena.py
  experiments/user/daveey.py
  metta/map/__init__.py
  metta/map/mapgen.py
  metta/map/terrain_from_numpy.py
  metta/rl/torch_profiler.py
  metta/rl/trainer_config.py
  metta/sim/simulation.py
  metta/tools/train.py
  mettagrid/src/metta/mettagrid/config/envs.py
  mettagrid/src/metta/mettagrid/map_builder/__init__.py
  mettagrid/src/metta/mettagrid/mettagrid_config.py
  mettagrid/src/metta/mettagrid/test_support/__init__.py
  mettagrid/tests/map_builder/test_ascii.py
  mettagrid/tests/map_builder/test_polymorphic_serialization.py
  tests/map/test_mapgen.py
  tools/run.py
Due: core, mettagrid

init_mettagrid_system_environment is back
  metta/util/init/mettagrid_system.py
  tools/run.py
Due: core

terrain_from_numpy fix
  metta/map/terrain_from_numpy.py
  mettagrid/src/metta/mettagrid/map_builder/map_builder.py
Due: core, mettagrid

cp
  experiments/evals/navigation.py
  metta/map/mapgen.py
  metta/rl/trainer_config.py
  mettagrid/tests/test_observations.py
Due: core

update uv.lock
  uv.lock
Due: core

MapBuilder.Config fixes & tests
  mettagrid/benchmarks/test_mettagrid_env_benchmark.py
  mettagrid/src/metta/mettagrid/map_builder/ascii.py
  mettagrid/src/metta/mettagrid/map_builder/map_builder.py
  mettagrid/tests/map_builder/test_ascii.py
  mettagrid/tests/map_builder/test_map_builder.py
  mettagrid/tests/map_builder/test_maze.py
  mettagrid/tests/map_builder/test_polymorphic_serialization.py
  mettagrid/tests/map_builder/test_random.py
  mettagrid/tests/renderer/test_nethack.py
  mettagrid/tests/test_8way_movement.py
  mettagrid/tests/test_cardinal_movement.py
  mettagrid/tests/test_env_config_serialization.py
  mettagrid/tests/test_gym_env.py
  mettagrid/tests/test_interactive.py
  mettagrid/tests/test_mettagrid.py
  mettagrid/tests/test_new_env_hierarchy.py
  mettagrid/tests/test_no_agent_interference.py
  mettagrid/tests/test_observations.py
  mettagrid/tests/test_pettingzoo_env.py
  mettagrid/tests/test_visitation_counts.py
  mettagrid/tests/test_wandb_movement_metrics.py
  tests/map/scenes/test_maze.py
  tests/map/utils/test_storable_map_io.py
Due: mettagrid

remove hydra from dependencies
  mettagrid/pyproject.toml
  mettagrid/src/metta/mettagrid/util/hydra.py
Due: mettagrid

fixes
  metta/map/tools/view.py
  metta/tools/analyze.py
  metta/tools/play.py
  metta/tools/replay.py
  metta/tools/sim.py
  metta/tools/train.py
Due: core

skypilot run
  configs/env/mettagrid/maps/simple/coop_rewardsharing.map
  configs/sim/coop_rewardsharing_only.yaml
  configs/user/krishnakanth.yaml
  recipes/coop_rewardsharing.sh
Due: core

fixed a bug or stopping things from rendering
  app_backend/src/metta/app_backend/routes/scorecard_routes.py
  experiments/marimo/eval-finder-example.py
  experiments/marimo/policy-selector-example.py
Due: core, app_backend

working locally
  agent/src/metta/agent/component_policies/fast.py
  agent/src/metta/agent/component_policy.py
  agent/src/metta/agent/lib/lstm.py
  agent/src/metta/agent/lib/metta_layer.py
  agent/src/metta/agent/metta_agent.py
  configs/user/alex.yaml
  metta/rl/trainer.py
  metta/sim/simulation.py
Due: core, agent

sp
  agent/src/metta/agent/lib/lstm.py
Due: agent

cp
  .gitignore
  configs/hydra.yaml
  docs/tools.md
  experiments/arena.py
  experiments/evals/run.py
  experiments/marimo/01-hello-world-marimo.py
  experiments/notebooks/01-hello-world.ipynb
  experiments/notebooks/01-hello-world.py
  experiments/user_template.py
  metta/sweep/sweep_rollout.py
  metta/tools/sim.py
  mettagrid/src/metta/mettagrid/mettagrid_env.py
  mettagrid/src/metta/mettagrid/util/hydra.py
  pnpm-lock.yaml
  tests/sweep/test_sweep_config_loading.py
  tests/tools/map/test_gen.py
  tests/tools/test_get_best_params_from_sweep.py
  tools/get_best_params_from_sweep.py
  tools/sweep_prepare_run.py
Due: core, mettagrid

fix: marking training run as failed on exception
  metta/rl/trainer.py
Due: core

some notebook bug fixes (#2226)
  app_backend/src/metta/app_backend/routes/scorecard_routes.py
  experiments/marimo/eval-finder-example.py
  experiments/marimo/policy-selector-example.py
Due: core, app_backend

working verisno?
  configs/user/gregorypylypovych.yaml
Due: core

cp
  metta/rl/hyperparameter_scheduler.py
  mettagrid/src/metta/mettagrid/util/hydra.py
  tests/rl/test_hyperparameter_scheduler.py
  tools/sweep_setup.py
Due: core, mettagrid

mv texture out
  mettascope/src/atlas.ts
  mettascope/src/context3d.ts
Due: core

sp
  agent/src/metta/agent/lib/lstm.py
  configs/user/alex.yaml
Due: core, agent

fix texture
  mettascope/src/atlas.ts
Due: core

on to dehydration-3
  experiments/marimo/01-hello-world-marimo.py
Due: core

testing
  configs/user/gregorypylypovych.yaml
Due: core

convert tools/renderer
  metta/util/metta_script.py
  tools/renderer.py
Due: core

bring back test_metta_script test
  tests/util/fixtures/script.py
  tests/util/test_metta_script.py
Due: core

fix rebase
  metta/tools/play.py
Due: core

cp
  experiments/arena/arena.py
  mettagrid/src/metta/mettagrid/core.py
  mettagrid/src/metta/mettagrid/mettagrid_config.py
  tools/train.py
Due: core, mettagrid

cp
  .vscode/launch.json
  agent/src/metta/agent/metta_agent.py
  agent/tests/test_metta_agent.py
  arena/daveey-test-run-3/checkpoints/model_0000.pt
  arena/daveey-test-run-3/checkpoints/model_0010.pt
  arena/daveey-test-run-3/checkpoints/model_0020.pt
  devops/train.sh
  experiments/arena/arena.py
  experiments/user/daveey.py
  metta/cogworks/curriculum/demo.py
  metta/map/mapgen.py
  metta/map/terrain_from_numpy.py
  metta/map/utils/show.py
  metta/rl/puffer_policy.py
  metta/rl/trainer_config.py
  mettagrid/demos/demo_train_gym.py
  mettagrid/demos/demo_train_puffer.py
  mettagrid/src/metta/mettagrid/config/__init__.py
  mettagrid/src/metta/mettagrid/config/building.py
  mettagrid/src/metta/mettagrid/config/envs.py
  mettagrid/src/metta/mettagrid/core.py
  mettagrid/src/metta/mettagrid/map_builder/map_builder.py
  mettagrid/src/metta/mettagrid/mettagrid_c_config.py
  mettagrid/src/metta/mettagrid/mettagrid_config.py
  mettagrid/tests/renderer/test_nethack.py
  mettagrid/tests/test_buffer_reuse.py
  mettagrid/tests/test_gym_env.py
  mettagrid/tests/test_interactive.py
  mettagrid/tests/test_movement_metrics.py
  mettagrid/tests/test_new_env_hierarchy.py
  mettagrid/tests/test_no_agent_interference.py
  mettagrid/tests/test_pettingzoo_env.py
  mettagrid/tests/test_wandb_movement_metrics.py
  tests/cogworks/curriculum/test_serialization.py
  tools/analyze.py
  tools/renderer.py
  tools/train.py
  tools/utils.py
Due: core, agent, mettagrid
