Repository Metta-AI/metta: changes, and which Codecov flags are due for each by the changed paths.
All: core, app_backend, agent, mettagrid, mettagrid_cpp, common

codecov.yml:

# Codecov configuration for Metta-AI
# Documentation: https://docs.codecov.com/docs/codecov-yaml

# Wait for all CI jobs to complete before posting results
codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

# Coverage settings
coverage:
  # Round coverage to 2 decimal places
  precision: 2
  round: down

  # Status checks configuration
  status:
    # Project-wide coverage
    project:
      default:
        target: auto # Compare against base branch
        threshold: 1% # Allow 1% coverage drop
        base: auto
        informational: true # Won't fail PR, just inform

    # Coverage for changed lines only - this is your main gate
    patch:
      default:
        target: 50% # Minimum 50% coverage on new code
        threshold: 0% # No tolerance below 50%
        base: auto
        if_ci_failed: success # Don't fail if CI fails
        if_not_found: success # Don't fail if no coverage data

      # Additional informational patch check
      informational:
        target: 80% # Ideal target
        threshold: 0%
        informational: true # Won't fail, just shows as warning

# Pull request comment configuration
comment:
  layout: "header, diff, flags, components, files"
  behavior: default
  require_changes: false # Post comment even if no coverage change
  require_base: false # Don't require base coverage
  require_head: true # Must have head coverage to post
  hide_project_coverage: false # Show overall project coverage

# Flag configuration for different test suites
flags:
  core:
    paths:
      - "!app_backend/"
      - "!agent/"
      - "!mettagrid/"
      - "!common/"
    carryforward: true

  app_backend:
    paths:
      - app_backend/
    carryforward: true

  agent:
    paths:
      - agent/
    carryforward: true

  mettagrid:
    paths:
      - mettagrid/
    carryforward: true

  mettagrid_cpp:
    paths:
      - "**/*.cpp"
      - "**/*.cc"
      - "**/*.cxx"
      - "**/*.c++"
      - "**/*.h"
      - "**/*.hpp"
      - "**/*.hh"
      - "**/*.hxx"
      - "**/*.h++"
    carryforward: true

  common:
    paths:
      - common/
    carryforward: true

# Ignore certain paths from coverage
ignore:
  - "**/tests/"
  - "**/test_*.py"
  - "**/*_test.py"
  - "**/conftest.py"
  - "setup.py"
  - "**/migrations/"
  - "**/__pycache__/"
  - "**/node_modules/"
  - "**/*.pb.py" # Generated protobuf files
  - "**/*.pyi" # Type stub files
  - "**/fixtures/"
  - "**/mocks/"
  - "**/build/" # C++ build directories
  - "**/cmake-build-*/" # CLion/CMake build directories
  - "**/CMakeFiles/" # CMake generated files
  - "**/*.o" # Object files
  - "**/*.a" # Static libraries
  - "**/*.so" # Shared libraries
  - "**/*.dylib" # macOS dynamic libraries
  - "**/*.dll" # Windows dynamic libraries

# GitHub integration settings
github_checks:
  annotations: true # Show coverage annotations in PR files view

Softmax Library scaffolding (#1495)
  .gitignore
  library/.prettierignore
  library/README.md
  library/drizzle.config.ts
  library/import-sorter.json
  library/next-env.d.ts
  library/next.config.ts
  library/package.json
  library/pnpm-lock.yaml
  library/postcss.config.mjs
  library/prettier.config.js
  library/src/app/FeedPost.tsx
  library/src/app/FeedPostsPage.tsx
  library/src/app/NewPostForm.tsx
  library/src/app/SignOutButton.tsx
  library/src/app/TopMenu.tsx
  library/src/app/api/auth/[...nextauth]/route.ts
  library/src/app/globals.css
  library/src/app/layout.tsx
  library/src/app/page.tsx
  library/src/app/posts/[postId]/page.tsx
  library/src/components/LoadMore.tsx
  library/src/components/TextInput.tsx
  library/src/components/ui/Button.tsx
  library/src/components/ui/PageLayout.tsx
  library/src/lib/actionClient.ts
  library/src/lib/auth.ts
  library/src/lib/db/index.ts
  library/src/lib/db/schema/auth.ts
  library/src/lib/db/schema/post.ts
  library/src/lib/hooks/usePaginator.ts
  library/src/lib/paginated.ts
  library/src/lib/routes.ts
  library/src/posts/actions/createPostAction.ts
  library/src/posts/data/feed.ts
  library/src/posts/data/post.ts
  library/tsconfig.json
Due: core

Added optional limit for Converter unit operations
  configs/env/mettagrid/game/objects/advanced.yaml
  configs/env/mettagrid/game/objects/basic.yaml
  configs/env/mettagrid/game/objects/combat.yaml
  configs/env/mettagrid/game/objects/generators.yaml
  configs/env/mettagrid/game/objects/mines.yaml
  configs/user/lsoros.yaml
  metta.code-workspace
  mettagrid/src/metta/mettagrid/mettagrid_c.cpp
  mettagrid/src/metta/mettagrid/mettagrid_c.pyi
  mettagrid/src/metta/mettagrid/mettagrid_c_config.py
  mettagrid/src/metta/mettagrid/mettagrid_config.py
  mettagrid/src/metta/mettagrid/objects/converter.hpp
Due: core, mettagrid, mettagrid_cpp

add gdb debug launch
  .vscode/launch.json
  .vscode/tasks.json
  mettagrid/GDB_DEBUG.md
  mettagrid/install-debug.sh
Due: core, mettagrid

typo
  .vscode/tasks.json
Due: core

Add configurable global observation tokens to MettagGrid (#1520)
  configs/env/mettagrid/mettagrid.yaml
  mettagrid/benchmarks/test_mettagrid_env_benchmark.cpp
  mettagrid/src/metta/mettagrid/mettagrid_c.cpp
  mettagrid/src/metta/mettagrid/mettagrid_c.hpp
  mettagrid/src/metta/mettagrid/mettagrid_c.pyi
  mettagrid/src/metta/mettagrid/mettagrid_c_config.py
  mettagrid/src/metta/mettagrid/mettagrid_config.py
  mettagrid/tests/test_global_obs_config.py
Due: core, mettagrid, mettagrid_cpp

Restore badge
  README.md
Due: core

tool
  tools/eval_historical_checkpoints_gpu.py
Due: core

Initial implementation
  metta/api.py
  mettagrid/src/metta/mettagrid/mettagrid_c.cpp
  mettagrid/src/metta/mettagrid/mettagrid_c.hpp
  mettagrid/src/metta/mettagrid/mettagrid_config.py
  mettagrid/src/metta/mettagrid/stats_tracker.hpp
  mettagrid/tests/test_exploration_tracking.py
  recipes/navigation.sh
  recipes/navigation_exploration.sh
  scripts/compare_navigation_exploration.py
  tests/test_navigation_exploration.py
Due: core, mettagrid, mettagrid_cpp

reduce diff
  scripts/compare_navigation_exploration.py
  tests/test_navigation_exploration.py
Due: core

file permissions
  recipes/navigation.sh
Due: core

feat(sweep): Add API support for sweep run id synchronization across workers
  app_backend/src/metta/app_backend/metta_repo.py
  app_backend/src/metta/app_backend/routes/sweep_routes.py
  app_backend/src/metta/app_backend/server.py
  app_backend/src/metta/app_backend/sweep_client.py
  app_backend/tests/test_sweep_routes.py
Due: app_backend

Restore accidentally deleted DeepWiki badge (#1540)
  README.md
Due: core

asdf
  file2.txt
Due: core

another change
  .github/actions/asana/pr_gh_to_asana/pr_gh_to_asana.py
Due: core

remove spelling error
  .github/actions/asana/pr_gh_to_asana/pr_gh_to_asana.py
Due: core

asana integration (#1526)
  .github/actions/asana/pr_gh_to_asana/pr_gh_to_asana.py
  .github/workflows/asana-integration.yml
  change.txt
  file2.txt
Due: core

remove empty files
  change.txt
  file.txt
  file2.txt
Due: core

Add episode tags
  app_backend/src/metta/app_backend/metta_repo.py
  app_backend/src/metta/app_backend/routes/episode_routes.py
  app_backend/src/metta/app_backend/routes/stats_routes.py
  app_backend/src/metta/app_backend/server.py
  app_backend/src/metta/app_backend/stats_client.py
  app_backend/tests/test_episode_filtering.py
  app_backend/tests/test_episode_tag_routes.py
  metta/sim/simulation.py
  metta/sim/simulation_config.py
  metta/sim/simulation_suite.py
  observatory/src/App.tsx
  observatory/src/Episodes.tsx
  observatory/src/repo.ts
Due: core, app_backend

making all eval env report back
  metta/eval/eval_request_config.py
  metta/eval/eval_service.py
  tests/test_navigation_exploration.py
Due: core

lint
  tests/test_navigation_exploration.py
Due: none

better definition of re-request
  .github/actions/asana/pr_gh_to_asana/pr_gh_to_asana.py
  .github/actions/asana/pr_review_gh_to_asana/action.yml
  .github/actions/asana/pr_review_gh_to_asana/pr_review_gh_to_asana.py
  .github/workflows/asana-integration.yml
Due: core

look at the event stream: assignee isn't correct
  .github/actions/asana/pr_gh_to_asana/pr_gh_to_asana.py
Due: core

Testing
  app_backend/src/metta/app_backend/metta_repo.py
Due: app_backend

Cleaned up code, also resolved errors with conflated cooldown and conversions. Reset values in mine yaml files to longer cooldown.
  configs/env/mettagrid/game/objects/mines.yaml
  mettagrid/src/metta/mettagrid/objects/converter.hpp
Due: core, mettagrid, mettagrid_cpp

tweaking the logic
  .github/actions/asana/pr_gh_to_asana/pr_gh_to_asana.py
Due: core

include another trigger to help with debug
  .github/workflows/asana-integration.yml
Due: core

small_obs_env
  configs/env/mettagrid/navigation/training/small_obs_sparse.yaml
  configs/sim/sparse_navigation.yaml
  configs/user/yudhister.yaml
  mettagrid/src/metta/mettagrid/mettagrid_env.py
  mettascope/src/common.ts
  mettascope/src/worldmap.ts
Due: core, mettagrid

fix bug
  .github/actions/asana/pr_gh_to_asana/pr_gh_to_asana.py
Due: core

check external
  .github/actions/check-credential/action.yml
  .github/workflows/asana-integration.yml
  docs/workflows/external-services-guide.md
Due: core

single check for external PR
  .github/actions/detect-pr-context/action.yml
  .github/workflows/asana-integration.yml
  .github/workflows/checks.yml
  .github/workflows/external-pr-example.yml.example
  docs/workflows/external-services-guide.md
Due: core

removed example
  .github/actions/detect-pr-context/action.yml
  .github/workflows/external-pr-example.yml.example
Due: core
