Repository Metta-AI/metta: changes, and which Codecov flags are due for each by the changed paths.
All: core, app_backend, agent, mettagrid, mettagrid_cpp, common

codecov.yml:

# Codecov configuration for Metta-AI
# Documentation: https://docs.codecov.com/docs/codecov-yaml

# Wait for all CI jobs to complete before posting results
codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

# Coverage settings
coverage:
  # Round coverage to 2 decimal places
  precision: 2
  round: down

  # Status checks configuration
  status:
    # Project-wide coverage
    project:
      default:
        target: auto # Compare against base branch
        threshold: 1% # Allow 1% coverage drop
        base: auto
        informational: true # Won't fail PR, just inform

    # Coverage for changed lines only - this is your main gate
    patch:
      default:
        target: 50% # Minimum 50% coverage on new code
        threshold: 0% # No tolerance below 50%
        base: auto
        if_ci_failed: success # Don't fail if CI fails
        if_not_found: success # Don't fail if no coverage data

      # Additional informational patch check
      informational:
        target: 80% # Ideal target
        threshold: 0%
        informational: true # Won't fail, just shows as warning

# Pull request comment configuration
comment:
  layout: "header, diff, flags, components, files"
  behavior: default
  require_changes: false # Post comment even if no coverage change
  require_base: false # Don't require base coverage
  require_head: true # Must have head coverage to post
  hide_project_coverage: false # Show overall project coverage

# Flag configuration for different test suites
flags:
  core:
    paths:
      - "!app_backend/"
      - "!agent/"
      - "!mettagrid/"
      - "!common/"
    carryforward: true

  app_backend:
    paths:
      - app_backend/
    carryforward: true

  agent:
    paths:
      - agent/
    carryforward: true

  mettagrid:
    paths:
      - mettagrid/
    carryforward: true

  mettagrid_cpp:
    paths:
      - "**/*.cpp"
      - "**/*.cc"
      - "**/*.cxx"
      - "**/*.c++"
      - "**/*.h"
      - "**/*.hpp"
      - "**/*.hh"
      - "**/*.hxx"
      - "**/*.h++"
    carryforward: true

  common:
    paths:
      - common/
    carryforward: true

# Ignore certain paths from coverage
ignore:
  - "**/tests/"
  - "**/test_*.py"
  - "**/*_test.py"
  - "**/conftest.py"
  - "setup.py"
  - "**/migrations/"
  - "**/__pycache__/"
  - "**/node_modules/"
  - "**/*.pb.py" # Generated protobuf files
  - "**/*.pyi" # Type stub files
  - "**/fixtures/"
  - "**/mocks/"
  - "**/build/" # C++ build directories
  - "**/cmake-build-*/" # CLion/CMake build directories
  - "**/CMakeFiles/" # CMake generated files
  - "**/*.o" # Object files
  - "**/*.a" # Static libraries
  - "**/*.so" # Shared libraries
  - "**/*.dylib" # macOS dynamic libraries
  - "**/*.dll" # Windows dynamic libraries

# GitHub integration settings
github_checks:
  annotations: true # Show coverage annotations in PR files view

`metta local load-policies` for adding policies from wandb to stats db (#1555)
  common/src/metta/common/util/stats_client_cfg.py
  metta/setup/local_commands.py
  metta/setup/metta_cli.py
  metta/setup/tools/__init__.py
  metta/setup/tools/local/__init__.py
  metta/setup/tools/local/load_policies.py
Due: core, common

removed unnecessary export
  metta/rl/__init__.py
Due: core

moved functions around
  metta/rl/trainer.py
Due: core

no silly wandb numpy
  tools/train.py
Due: core

no more initial assertions
  tests/rl/test_hyperparameter_scheduler.py
  tools/train.py
Due: core

adjusted run logging and batch size
  run.py
Due: core

fixed stats
  metta/rl/util/stats.py
Due: core

Broadcast policy
  agent/src/metta/agent/policy_store.py
  common/src/metta/common/util/distributed.py
  metta/rl/policy.py
Due: core, agent, common

Load skypilot aliases with env
  devops/setup.env
Due: core

wandb run name to long ot log
  navigation_local.sh
  recipes/agent_pressure.sh
Due: core

refactored tracking of movement
  configs/env/mettagrid/mettagrid.yaml
  configs/env/mettagrid/movement_metrics_example.yaml
  metta/rl/util/stats.py
  mettagrid/src/metta/mettagrid/action_handler.hpp
  mettagrid/src/metta/mettagrid/actions/move.hpp
  mettagrid/src/metta/mettagrid/actions/rotate.hpp
  mettagrid/src/metta/mettagrid/mettagrid_c.cpp
  mettagrid/src/metta/mettagrid/mettagrid_c.hpp
  mettagrid/src/metta/mettagrid/mettagrid_c_config.py
  mettagrid/src/metta/mettagrid/mettagrid_config.py
  mettagrid/src/metta/mettagrid/objects/agent.hpp
  mettagrid/tests/test_movement_metrics_refactored.py
  test_wandb_movement_metrics.py
Due: core, mettagrid, mettagrid_cpp

sp
  metta/rl/trainer.py
Due: core

fix ruff
  mettagrid/tests/test_movement_metrics_refactored.py
Due: none

basic table
  .cspell.json
  .gitignore
  notebooks/clients/__init__.py
  notebooks/clients/sky_client.py
  notebooks/clients/utils.py
  notebooks/clients/wandb_client.py
  notebooks/debug_table.html
  notebooks/mettabook.ipynb
  notebooks/mettabook_widgets.py
  notebooks/run_store.py
  notebooks/simple_run_table.py
  notebooks/test_integrated_table.py
  notebooks/types.py
  personal
  pyproject.toml
  uv.lock
Due: core

ipywidgets
  notebooks/integrated_run_table.py
  notebooks/mettabook.ipynb
  notebooks/run_store.py
  notebooks/test_singleton.py
Due: core

progress
  .cspell.json
  notebooks/clients/wandb_client.py
  notebooks/debug_table.html
  notebooks/integrated_run_table.py
  notebooks/mettabook.ipynb
  notebooks/mettabook_widgets.py
  notebooks/run_store.py
  notebooks/simple_run_table.py
  notebooks/test_integrated_table.py
  notebooks/test_singleton.py
  pyproject.toml
  uv.lock
Due: core

modified trainer back to normal
  configs/trainer/trainer.yaml
Due: core

config(sweep): improve full.yaml sweep config for efficient sweeping
  configs/sweep/full.yaml
Due: core

new branch
  configs/env/mettagrid/curriculum/navigation/random.yaml
  envtest.sh
  fun.sh
  recipes/agent_pressure.sh
  recipes/navigation_local.sh
Due: core

bash
  recipes/agent_pressure.sh
Due: core

feat(protein): configure max number of observations to load
  configs/sweep/full.yaml
  metta/sweep/protein_metta.py
Due: core

agent pressure hyperparams
  recipes/agent_pressure.sh
Due: core

added agent pressure hyperparams
  recipes/agent_pressure.sh
Due: core

fix: configure config to be compatible with 8 nodes.
  configs/sweep/full.yaml
Due: core

merge conflicts
  mettagrid/src/metta/mettagrid/mettagrid_c.cpp
  mettagrid/src/metta/mettagrid/objects/agent.hpp
  mettagrid/src/metta/mettagrid/objects/converter.hpp
Due: mettagrid, mettagrid_cpp

push max_reward down
  configs/env/mettagrid/navigation/training/defaults.yaml
Due: core

add max_reward
  configs/env/mettagrid/navigation/training/defaults.yaml
  configs/env/mettagrid/navigation/training/sparse.yaml
  configs/user/sasmith.yaml
  mettagrid/src/metta/mettagrid/mettagrid_c.cpp
  mettagrid/src/metta/mettagrid/mettagrid_c.hpp
  mettagrid/src/metta/mettagrid/mettagrid_config.py
Due: core, mettagrid, mettagrid_cpp

wip
  configs/env/mettagrid/navigation/training/sparse.yaml
Due: core

add a test
  mettagrid/tests/test_rewards.py
Due: none

fix a test
  mettagrid/benchmarks/test_mettagrid_env_benchmark.cpp
Due: mettagrid, mettagrid_cpp

fix a merge
  configs/env/mettagrid/navigation/training/sparse.yaml
Due: core

branch for testing (#1572)
  .github/actions/asana/pr_gh_to_asana/pr_gh_to_asana.py
  .github/actions/asana/pr_gh_to_asana/test/README.md
  .github/actions/asana/pr_gh_to_asana/test/download_action_logs.py
  .github/actions/asana/pr_gh_to_asana/test/manual_vcr_get_test.py
  .github/actions/asana/pr_gh_to_asana/test/replay_and_test.py
  .github/actions/asana/pr_gh_to_asana/test/requirements.txt
  .github/actions/asana/pr_gh_to_asana/test/run_16393962816/http-interactions-16393962816/http_interactions_16393962816.yaml
  .github/actions/asana/pr_gh_to_asana/test/run_16393962816/run_log.txt
  f.txt
Due: core

Add _self_ to defaults where missing
  configs/env/mettagrid/systematic_exploration_memory/evals/boxout.yaml
  configs/env/mettagrid/systematic_exploration_memory/evals/choose_wisely.yaml
  configs/env/mettagrid/systematic_exploration_memory/evals/corners.yaml
  configs/env/mettagrid/systematic_exploration_memory/evals/hall_of_mirrors.yaml
  configs/env/mettagrid/systematic_exploration_memory/evals/journey_home.yaml
  configs/env/mettagrid/systematic_exploration_memory/evals/little_landmark_hard.yaml
  configs/env/mettagrid/systematic_exploration_memory/evals/lobster_legs.yaml
  configs/env/mettagrid/systematic_exploration_memory/evals/lobster_legs_cues.yaml
  configs/env/mettagrid/systematic_exploration_memory/evals/memory_swirls.yaml
  configs/env/mettagrid/systematic_exploration_memory/evals/memory_swirls_hard.yaml
  configs/env/mettagrid/systematic_exploration_memory/evals/passing_things.yaml
  configs/env/mettagrid/systematic_exploration_memory/evals/rooms.yaml
  configs/env/mettagrid/systematic_exploration_memory/evals/spacey_memory.yaml
  configs/env/mettagrid/systematic_exploration_memory/evals/spiral_chamber.yaml
  configs/env/mettagrid/systematic_exploration_memory/evals/tease.yaml
  configs/env/mettagrid/systematic_exploration_memory/evals/tease_small.yaml
  configs/env/mettagrid/systematic_exploration_memory/evals/venture_out.yaml
  configs/env/mettagrid/systematic_exploration_memory/evals/you_shall_not_pass.yaml
Due: core

remove change to checks.yml
  .github/workflows/checks.yml
Due: core

Update checks.yml
  .github/workflows/checks.yml
Due: core

remove old config
  configs/env/mettagrid/movement_metrics_example.yaml
Due: core

make a change for testing
  a.txt
Due: core

make a change
  b.txt
Due: core

fix variable name
  configs/env/mettagrid/navigation/training/sparse_bucketed.yaml
  configs/user/sasmith.yaml
Due: core

add sparse nav training
  configs/env/mettagrid/curriculum/navigation/learning_progress.yaml
  configs/env/mettagrid/navigation/training/sparse_bucketed.yaml
  configs/env/mettagrid/navigation/training/sparse_bucketed_cfg.yaml
Due: core
