Repository Metta-AI/metta: changes, and which Codecov flags are due for each by the changed paths.
All: core, app_backend, agent, mettagrid, mettagrid_cpp, common

codecov.yml:

# Codecov configuration for Metta-AI
# Documentation: https://docs.codecov.com/docs/codecov-yaml

# Wait for all CI jobs to complete before posting results
codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

# Coverage settings
coverage:
  # Round coverage to 2 decimal places
  precision: 2
  round: down

  # Status checks configuration
  status:
    # Project-wide coverage
    project:
      default:
        target: auto # Compare against base branch
        threshold: 1% # Allow 1% coverage drop
        base: auto
        informational: true # Won't fail PR, just inform

    # Coverage for changed lines only - this is your main gate
    patch:
      default:
        target: 50% # Minimum 50% coverage on new code
        threshold: 0% # No tolerance below 50%
        base: auto
        if_ci_failed: success # Don't fail if CI fails
        if_not_found: success # Don't fail if no coverage data

      # Additional informational patch check
      informational:
        target: 80% # Ideal target
        threshold: 0%
        informational: true # Won't fail, just shows as warning

# Pull request comment configuration
comment:
  layout: "header, diff, flags, components, files"
  behavior: default
  require_changes: false # Post comment even if no coverage change
  require_base: false # Don't require base coverage
  require_head: true # Must have head coverage to post
  hide_project_coverage: false # Show overall project coverage

# Flag configuration for different test suites
flags:
  core:
    paths:
      - "!app_backend/"
      - "!agent/"
      - "!mettagrid/"
      - "!common/"
    carryforward: true

  app_backend:
    paths:
      - app_backend/
    carryforward: true

  agent:
    paths:
      - agent/
    carryforward: true

  mettagrid:
    paths:
      - mettagrid/
    carryforward: true

  mettagrid_cpp:
    paths:
      - "**/*.cpp"
      - "**/*.cc"
      - "**/*.cxx"
      - "**/*.c++"
      - "**/*.h"
      - "**/*.hpp"
      - "**/*.hh"
      - "**/*.hxx"
      - "**/*.h++"
    carryforward: true

  common:
    paths:
      - common/
    carryforward: true

# Ignore certain paths from coverage
ignore:
  - "**/tests/"
  - "**/test_*.py"
  - "**/*_test.py"
  - "**/conftest.py"
  - "setup.py"
  - "**/migrations/"
  - "**/__pycache__/"
  - "**/node_modules/"
  - "**/*.pb.py" # Generated protobuf files
  - "**/*.pyi" # Type stub files
  - "**/fixtures/"
  - "**/mocks/"
  - "**/build/" # C++ build directories
  - "**/cmake-build-*/" # CLion/CMake build directories
  - "**/CMakeFiles/" # CMake generated files
  - "**/*.o" # Object files
  - "**/*.a" # Static libraries
  - "**/*.so" # Shared libraries
  - "**/*.dylib" # macOS dynamic libraries
  - "**/*.dll" # Windows dynamic libraries

# GitHub integration settings
github_checks:
  annotations: true # Show coverage annotations in PR files view

add target=blank to link html
  metta/rl/evaluate.py
Due: core

cp
  experiments/marimo/mettabook-example.py
  experiments/notebooks/mettabook-template.ipynb
  metta/rl/trainer_config.py
  mettagrid/src/metta/mettagrid/config/builder.py
  mettagrid/src/metta/mettagrid/mettagrid_config.py
Due: core, mettagrid

refactor: sweep pipeline implementation
  common/src/metta/common/util/lock.py
  configs/sweep/full.yaml
  configs/sweep_job.yaml
  devops/sweep.sh
  experiments/notebooks/research/sweep_analysis.ipynb
  metta/sweep/__init__.py
  metta/sweep/protein_utils.py
  metta/sweep/sweep_lifecycle.py
  metta/sweep/sweep_rollout.py
  metta/sweep/wandb_utils.py
  output.png
  tests/sweep/__init__.py
  tests/sweep/test_integration_sweep_centralized.py
  tests/sweep/test_integration_sweep_pipeline.py
  tests/sweep/test_metta_protein.py
  tests/sweep/test_protein_end_to_end_pipeline.py
  tests/sweep/test_protein_integration.py
  tests/sweep/test_protein_metta.py
  tests/sweep/test_protein_utils.py
  tests/sweep/test_sweep_config_loading.py
  tests/sweep/test_sweep_init.py
  tests/sweep/test_sweep_lifecycle.py
  tests/sweep/test_sweep_rollout.py
  tests/sweep/test_sweep_script_integration.py
  tests/sweep/test_wandb_utils.py
  tools/get_best_params_from_sweep.py
  tools/sweep_config_utils.py
  tools/sweep_eval.py
  tools/sweep_prepare_run.py
  tools/sweep_rollout.py
  tools/sweep_setup.py
  tools/train.py
Due: core, common

supply s3 bucket for replay dir
  app_backend/src/metta/app_backend/eval_task_worker.py
  common/src/metta/common/util/constants.py
Due: app_backend, common

Policy evaluator accept and handles an entire sim suite config, not just a sim suite name
  app_backend/src/metta/app_backend/eval_task_worker.py
  app_backend/src/metta/app_backend/routes/eval_task_routes.py
  configs/sim_job.yaml
  metta/rl/evaluate.py
  tests/tools/test_sim_suite_config_override.py
  tools/sim.py
Due: core, app_backend

pass through trainer curriculum and env overrides
  app_backend/src/metta/app_backend/eval_task_worker.py
  app_backend/src/metta/app_backend/routes/eval_task_routes.py
  configs/sim_job.yaml
  metta/eval/eval_service.py
  metta/rl/evaluate.py
  metta/rl/trainer.py
  metta/sim/simulation_config.py
  tools/sim.py
Due: core, app_backend

remove a layer of indirection
  metta/eval/eval_service.py
  metta/rl/evaluate.py
  metta/rl/trainer.py
  metta/sim/simulation_config.py
  tools/sim.py
Due: core

fall back to local evaluation if submitting a remote request fails
  metta/rl/trainer.py
Due: core

Policy evaluator sends replay links (#2021)
  app_backend/src/metta/app_backend/eval_task_worker.py
  common/src/metta/common/util/collections.py
  common/src/metta/common/util/constants.py
  metta/rl/evaluate.py
  metta/rl/stats.py
Due: core, app_backend, common

Add overview/eval_{category} metrics to policy evaluator-submitted stats
  metta/rl/stats.py
Due: core

maintain backwards compatibility with supplying of git hash
  app_backend/src/metta/app_backend/routes/eval_task_routes.py
Due: app_backend

allow trainer task override without sim suite config override
  tools/sim.py
Due: core

rm test
  tests/tools/test_sim_suite_config_override.py
Due: none

Policy eval passes full sim suite configs and supports special handling for trainer task (#2024)
  app_backend/src/metta/app_backend/eval_task_worker.py
  app_backend/src/metta/app_backend/routes/eval_task_routes.py
  configs/sim_job.yaml
  metta/eval/eval_service.py
  metta/rl/evaluate.py
  metta/rl/trainer.py
  metta/sim/simulation_config.py
  tools/sim.py
Due: core, app_backend

New example code
  agent/src/metta/agent/external/example.py
  agent/src/metta/agent/metta_agent.py
Due: agent

update tools/sim.py log; sim_job is not consumable by omegaconfig after modifying the sim suite directly
  tools/sim.py
Due: core

update tools/sim.py log (#2025)
  tools/sim.py
Due: core

just log whole SimJob object and let its __repr__ handle formatting
  tools/sim.py
Due: core

just log whole SimJob object (#2026)
  tools/sim.py
Due: core

Fix bug causing sim.py to ignore input training task when no env overrides are supplied
  tools/sim.py
Due: core

Supply full sim suite config and trainer task via file paths
  app_backend/src/metta/app_backend/eval_task_worker.py
  configs/sim_job.yaml
  metta/eval/eval_service.py
  tools/sim.py
Due: core, app_backend

sim.py: use file paths to determine overriding sim suite config and trainer task (#2027)
  app_backend/src/metta/app_backend/eval_task_worker.py
  configs/sim_job.yaml
  metta/eval/eval_service.py
  tools/sim.py
Due: core, app_backend

policy eval workers lost s3 access. try-except writing to s3 buckets for now to not crash
  metta/rl/stats.py
Due: core

policy eval workers lost s3 access. try-except writing to s3 buckets for now to not crash (#2028)
  metta/rl/stats.py
Due: core

Add IRSA support for orchestrator service account
  app_backend/src/metta/app_backend/container_managers/k8s.py
  devops/charts/orchestrator/templates/deployment.yaml
  devops/charts/orchestrator/templates/serviceaccount.yaml
  devops/charts/orchestrator/values.yaml
  devops/tf/eks/orchestrator.tf
Due: core, app_backend

Update devops/tf/eks/orchestrator.tf
  devops/tf/eks/orchestrator.tf
Due: core

Update devops/charts/orchestrator/values.yaml
  devops/charts/orchestrator/values.yaml
Due: core

minor cleanups
  mettagrid/src/metta/mettagrid/curriculum/learning_progress.py
Due: mettagrid

curricula refactorings
  mettagrid/src/metta/mettagrid/curriculum/learning_progress.py
  mettagrid/src/metta/mettagrid/curriculum/multi_task.py
  mettagrid/src/metta/mettagrid/curriculum/random.py
Due: mettagrid

random_dcss_scene
  configs/env/mettagrid/game/map_builder/random_dcss_scene.yaml
Due: core

lp cleanups
  mettagrid/src/metta/mettagrid/curriculum/learning_progress.py
Due: mettagrid

home -> cost tracking dashboard link (#2020)
  devops/charts/home/templates/configmap.yaml
  devops/charts/home/values.yaml
Due: core

plug in role arn
  devops/charts/orchestrator/values.yaml
Due: core
