Repository Metta-AI/metta: changes, and which Codecov flags are due for each by the changed paths.
All: core, app_backend, agent, mettagrid, mettagrid_cpp, common

wip
  devops/skypilot/config/lifecycle/cleanup_handler.sh
  devops/skypilot/config/monitors/cluster_stop_monitor.sh
  devops/skypilot/config/monitors/heartbeat_monitor.sh
  devops/skypilot/config/monitors/test_job_restart_monitor.sh
  devops/skypilot/config/monitors/timeout_monitor.sh
  devops/skypilot/config/observability/send_discord_notification.py
  devops/skypilot/config/observability/send_discord_notification.sh
  devops/skypilot/config/skypilot_run.py
  devops/skypilot/config/skypilot_run.sh
  devops/skypilot/config/testing/terminate_worker.py
  devops/skypilot/config/testing/test_nccl.py
Due: core

refactor(summarize): remove SummaryCache from workflow implementation
  manybot/codebot/workflows/summarize.py
Due: core

feat(summarize): implement working Claude-powered summarization with clipboard support
  manybot/codebot/cli.py
  manybot/codebot/workflows/summarize.py
Due: core

improve tests
  tests/test_programmatic_env_creation.py
Due: none

simulation batch dimension preserving fix bugfix for simulating environments with single agents
  metta/sim/simulation.py
Due: core

fixed the 01 hello world marimo file for main + this branch
  experiments/marimo/.gitignore
  experiments/marimo/01-hello-world-marimo.py
Due: core

ruff format
  experiments/recipes/arena_basic_easy_shaped.py
Due: core

create a new dockerfile for training, which is 13GB instead of 33GB, and uses the tag :slim instead of :latest
  .github/workflows/build-image-slim.yml
  devops/docker/Dockerfile.slim
  devops/docker/test_dockerfile.sh
Due: core

Simplify get_policy_path
  metta/rl/trainer.py
Due: core

Use urlparse
  agent/src/metta/agent/policy_loader.py
Due: agent

Clean policy loader
  agent/src/metta/agent/policy_loader.py
Due: agent

Simplify _load_from_uri logic
  agent/src/metta/agent/policy_finder.py
Due: agent

finally fixed it! now beating the benchmark
  experiments/marimo/01-hello-world-marimo.py
  experiments/pyproject.toml
  pyproject.toml
  uv.lock
Due: core

formatting and moving things around
  experiments/marimo/01-hello-world-marimo.py
Due: core

Simplify _select_top_handles_by_metric
  agent/src/metta/agent/policy_finder.py
Due: agent

Remove recurrent agent type
  metta/rl/policy_management.py
Due: core

Clean policy management
  metta/rl/policy_management.py
Due: core

Rename
  metta/rl/policy_management.py
Due: core

Better design yaml helper
  agent/src/metta/agent/policy_metadata_yaml_helper.py
Due: agent

Remove docstring
  agent/src/metta/agent/policy_handle.py
Due: agent

Clean policy_cache
  agent/src/metta/agent/policy_cache.py
Due: agent

Add extra cache operations
  agent/src/metta/agent/policy_cache.py
Due: agent

finally got the other one working a little bit. needs more learning.
  experiments/marimo/01-hello-world-marimo.py
Due: core

evaluation for the second map scenario
  experiments/marimo/01-hello-world-marimo.py
Due: core

feat: implement codebot summarize with PydanticAI, content-based caching, and project-relative output
  .gitignore
  manybot/codebot/codebot/__init__.py
  manybot/codebot/codebot/cli.py
  manybot/codebot/codebot/commands.py
  manybot/codebot/codebot/git_utils.py
  manybot/codebot/codebot/models.py
  manybot/codebot/codebot/summary_models.py
  manybot/codebot/codeclip/codeclip/file.py
  manybot/codebot/pyproject.toml
Due: core

feat: add codebot MCP server integration for Cursor with summarize and context tools
  .cursor/mcp.json
  manybot/codebot/MCP_SERVER.md
  manybot/codebot/README.md
  manybot/codebot/codebot/cli.py
  manybot/codebot/codebot/mcp_server.py
  manybot/codebot/pyproject.toml
Due: core

refactor: Transform Axiom to stateful pipeline pattern
  CLAUDE.md
  common/src/metta/common/util/lock.py
  examples/axiom_ab_test.py
  examples/axiom_basic_pipeline.py
  examples/axiom_manifest_diff.py
  examples/axiom_train_eval_simple.py
  examples/run_axiom_experiment.sh
  experiments/sweeps/sweep_arena.py
  metta/sweep/axiom/EXPERIMENT_DESIGN.md
  metta/sweep/axiom/README.md
  metta/sweep/axiom/__init__.py
  metta/sweep/axiom/cookbook/01_debugging_training_divergence.py
  metta/sweep/axiom/cookbook/02_ab_testing_algorithms.py
  metta/sweep/axiom/cookbook/03_reproducible_experiments.py
  metta/sweep/axiom/cookbook/04_progressive_debugging.py
  metta/sweep/axiom/cookbook/README.md
  metta/sweep/axiom/core.py
  metta/sweep/axiom/experiment.py
  metta/sweep/axiom/experiment_spec.py
  metta/sweep/axiom/experiment_tool.py
  metta/sweep/axiom/sequential_sweep.py
  metta/sweep/axiom/train_and_eval.py
  metta/sweep/axiom/training_guards.py
  metta/sweep/protein_config.py
  metta/sweep/sweep_config.py
  metta/tools/sweep.py
  metta/tools/train_pipeline.py
  tests/sweep/test_axiom_experiment_spec.py
  tests/sweep/test_axiom_integration.py
Due: core, common

fix: remove hardcoded absolute path from Cursor MCP config
  .cursor/mcp.json
Due: core

fix: format arena_basic_easy_shaped.py to resolve lint check
  experiments/recipes/arena_basic_easy_shaped.py
Due: core

linted
  agent/src/metta/agent/pytorch/transformer_improved.py
  experiments/recipes/arena_basic_easy_shaped.py
  experiments/recipes/arena_bes_transformer.py
Due: core, agent

linted
  experiments/recipes/arena_basic_easy_shaped.py
Due: core

Add spacelift to home.softmax-research.net
  home/links.yaml
Due: core

take in agent param
  experiments/recipes/arena_basic_easy_shaped.py
  experiments/recipes/arena_bes_transformer.py
Due: core

switched to homogenous init to env
  agent/src/metta/agent/pytorch/transformer_improved.py
Due: agent

Add links to readmes for skypilot and spacelift
  home/links.yaml
Due: core

dry up mettagrid/tests/test_global_reward_observations.py
  mettagrid/tests/test_global_reward_observations.py
Due: none

Path conditions:
  core: any file but: app_backend/, agent/, mettagrid/, common/, **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  app_backend: any of: app_backend/, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  agent: any of: agent/, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  mettagrid: any of: mettagrid/, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  mettagrid_cpp: any of: **/*.cpp, **/*.cc, **/*.cxx, **/*.c++, **/*.h, **/*.hpp, **/*.hh, **/*.hxx, **/*.h++, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  common: any of: common/, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
