Repository Metta-AI/metta: changes, and which Codecov flags are due for each by the changed paths.
All: core, app_backend, agent, mettagrid, mettagrid_cpp, common

codecov.yml:

# Codecov configuration for Metta-AI
# Documentation: https://docs.codecov.com/docs/codecov-yaml

# Wait for all CI jobs to complete before posting results
codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

# Coverage settings
coverage:
  # Round coverage to 2 decimal places
  precision: 2
  round: down

  # Status checks configuration
  status:
    # Project-wide coverage
    project:
      default:
        target: auto # Compare against base branch
        threshold: 1% # Allow 1% coverage drop
        base: auto
        informational: true # Won't fail PR, just inform

    # Coverage for changed lines only - this is your main gate
    patch:
      default:
        target: 50% # Minimum 50% coverage on new code
        threshold: 0% # No tolerance below 50%
        base: auto
        if_ci_failed: success # Don't fail if CI fails
        if_not_found: success # Don't fail if no coverage data

      # Additional informational patch check
      informational:
        target: 80% # Ideal target
        threshold: 0%
        informational: true # Won't fail, just shows as warning

# Pull request comment configuration
comment:
  layout: "header, diff, flags, components, files"
  behavior: default
  require_changes: false # Post comment even if no coverage change
  require_base: false # Don't require base coverage
  require_head: true # Must have head coverage to post
  hide_project_coverage: false # Show overall project coverage

# Flag configuration for different test suites
flags:
  core:
    paths:
      - "!app_backend/"
      - "!agent/"
      - "!mettagrid/"
      - "!common/"
    carryforward: true

  app_backend:
    paths:
      - app_backend/
    carryforward: true

  agent:
    paths:
      - agent/
    carryforward: true

  mettagrid:
    paths:
      - mettagrid/
    carryforward: true

  mettagrid_cpp:
    paths:
      - "**/*.cpp"
      - "**/*.cc"
      - "**/*.cxx"
      - "**/*.c++"
      - "**/*.h"
      - "**/*.hpp"
      - "**/*.hh"
      - "**/*.hxx"
      - "**/*.h++"
    carryforward: true

  common:
    paths:
      - common/
    carryforward: true

# Ignore certain paths from coverage
ignore:
  - "**/tests/"
  - "**/test_*.py"
  - "**/*_test.py"
  - "**/conftest.py"
  - "setup.py"
  - "**/migrations/"
  - "**/__pycache__/"
  - "**/node_modules/"
  - "**/*.pb.py" # Generated protobuf files
  - "**/*.pyi" # Type stub files
  - "**/fixtures/"
  - "**/mocks/"
  - "**/build/" # C++ build directories
  - "**/cmake-build-*/" # CLion/CMake build directories
  - "**/CMakeFiles/" # CMake generated files
  - "**/*.o" # Object files
  - "**/*.a" # Static libraries
  - "**/*.so" # Shared libraries
  - "**/*.dylib" # macOS dynamic libraries
  - "**/*.dll" # Windows dynamic libraries

# GitHub integration settings
github_checks:
  annotations: true # Show coverage annotations in PR files view

fix
  devops/tf/library/db.tf
Due: core

buckets, yaml fix
  devops/tf/library/amplify.tf
  devops/tf/library/buckets.tf
  devops/tf/library/variables.tf
Due: core

access_token
  devops/tf/library/amplify.tf
  devops/tf/library/variables.tf
Due: core

migrate workflow, postgres_url secret output
  .github/workflows/library-migrate-db.yml
  devops/tf/library/amplify.tf
  devops/tf/library/db.tf
  devops/tf/library/outputs.tf
Due: core

no special symbols in password
  devops/tf/library/db.tf
Due: core

explicit NEXTAUTH_URL
  amplify.yml
  devops/tf/library/amplify.tf
  devops/tf/library/variables.tf
Due: core

non-sensitive db url
  devops/tf/library/outputs.tf
Due: core

remove force_ssl, it caused annoying redeployments
  devops/tf/library/db.tf
Due: core

ALLOWED_EMAIL_DOMAINS
  library/src/lib/auth.ts
Due: core

trigger workflow
  .github/workflows/library-migrate-db.yml
Due: core

AUTH_SECRET
  amplify.yml
  devops/tf/library/amplify.tf
Due: core

check email domain only in prod
  library/src/lib/auth.ts
Due: core

nonsensitive
  devops/tf/library/outputs.tf
Due: core

cleanup
  .github/workflows/library-migrate-db.yml
Due: core

Refactor
  agent/src/metta/agent/pytorch/hrm.py
Due: agent

Add decode actions
  agent/src/metta/agent/pytorch/hrm.py
Due: agent

Inherit pytorch mixin
  agent/src/metta/agent/pytorch/hrm.py
Due: agent

iam policy
  amplify.yml
  devops/tf/library/amplify.tf
  devops/tf/library/variables.tf
Due: core

AWS_S3_BUCKET -> S3_BUCKET
  amplify.yml
  devops/tf/library/amplify.tf
  library/src/lib/openai-pdf-extractor.ts
Due: core

Add a test running gen_thumb over a .json.z file and a .map file
  tests/tools/test_gen_thumb.py
Due: none

Shorten timeout, mark slow
  tests/tools/test_gen_thumb.py
Due: none

fix branch
  devops/tf/library/amplify.tf
Due: core

Align shapes and outputs
  agent/src/metta/agent/pytorch/hrm.py
Due: agent

Add to agent mapper
  agent/src/metta/agent/pytorch/agent_mapper.py
Due: agent

Library deployment (#2281)
  .github/workflows/library-migrate-db.yml
  .npmrc
  amplify.yml
  devops/tf/library/amplify.tf
  devops/tf/library/buckets.tf
  devops/tf/library/db.tf
  devops/tf/library/outputs.tf
  devops/tf/library/providers.tf
  devops/tf/library/variables.tf
  library/package.json
  library/src/lib/auth.ts
  library/src/lib/openai-pdf-extractor.ts
Due: core

add back env_label
  metta/sim/simulation_stats_db.py
Due: core

fix: Integrate refactoring changes (#2249)
  experiments/recipes/navigation.py
  mettagrid/benchmarks/test_mettagrid_env_benchmark.py
  mettagrid/src/metta/mettagrid/map_builder/random.py
  tests/test_sweep_config_utils.py
Due: core, mettagrid

Fix replay_dir automatic choice to be compatible with external/local-only users
  metta/setup/components/aws.py
  metta/tools/train.py
  metta/tools/utils/auto_config.py
Due: core

Proper array lengths for drawWalls()
  mettascope/src/worldmap.ts
Due: core

Fix replay_dir automatic choice to be compatible with external/local-only users (#2294)
  metta/setup/components/aws.py
  metta/tools/train.py
  metta/tools/utils/auto_config.py
Due: core

restore nav evals
  configs/env/mettagrid/maps/navigation/corridors.map
  configs/env/mettagrid/maps/navigation/cylinder.map
  configs/env/mettagrid/maps/navigation/cylinder_easy.map
  configs/env/mettagrid/maps/navigation/honeypot.map
  configs/env/mettagrid/maps/navigation/knotty.map
  configs/env/mettagrid/maps/navigation/memory_palace.map
  configs/env/mettagrid/maps/navigation/obstacles0.map
  configs/env/mettagrid/maps/navigation/obstacles1.map
  configs/env/mettagrid/maps/navigation/obstacles2.map
  configs/env/mettagrid/maps/navigation/obstacles3.map
  configs/env/mettagrid/maps/navigation/radial_large.map
  configs/env/mettagrid/maps/navigation/radial_mini.map
  configs/env/mettagrid/maps/navigation/radial_small.map
  configs/env/mettagrid/maps/navigation/swirls.map
  configs/env/mettagrid/maps/navigation/thecube.map
  configs/env/mettagrid/maps/navigation/walkaround.map
  configs/env/mettagrid/maps/navigation/wanderout.map
  experiments/recipes/navigation.py
Due: core

reduce diff
  experiments/recipes/navigation.py
Due: core

remove merge related extra files
  configs/env/mettagrid/maps/navigation/corridors.map
  configs/env/mettagrid/maps/navigation/cylinder.map
  configs/env/mettagrid/maps/navigation/cylinder_easy.map
  configs/env/mettagrid/maps/navigation/honeypot.map
  configs/env/mettagrid/maps/navigation/knotty.map
  configs/env/mettagrid/maps/navigation/memory_palace.map
  configs/env/mettagrid/maps/navigation/obstacles0.map
  configs/env/mettagrid/maps/navigation/obstacles1.map
  configs/env/mettagrid/maps/navigation/obstacles2.map
  configs/env/mettagrid/maps/navigation/obstacles3.map
  configs/env/mettagrid/maps/navigation/radial_large.map
  configs/env/mettagrid/maps/navigation/radial_mini.map
  configs/env/mettagrid/maps/navigation/radial_small.map
  configs/env/mettagrid/maps/navigation/swirls.map
  configs/env/mettagrid/maps/navigation/thecube.map
  configs/env/mettagrid/maps/navigation/walkaround.map
  configs/env/mettagrid/maps/navigation/wanderout.map
Due: core

load_symbol cleanups
  metta/cogworks/curriculum/task_generator.py
  metta/map/scene.py
  metta/map/tools/gen.py
  metta/utils/module.py
  mettagrid/src/metta/mettagrid/map_builder/map_builder.py
  tools/run.py
Due: core, mettagrid

tests
  common/tests/util/test_module.py
Due: none

move to metta.common.util.module
  common/src/metta/common/util/module.py
  metta/cogworks/curriculum/task_generator.py
  metta/map/scene.py
  metta/map/tools/gen.py
  mettagrid/src/metta/mettagrid/map_builder/map_builder.py
  tools/run.py
Due: core, mettagrid, common

quick fix of traintool call
  experiments/recipes/navigation.py
Due: core

diff reduce
  experiments/recipes/arena.py
Due: core

amend docstring
  metta/cogworks/curriculum/learning_progress.py
Due: core

Add navigation evaluation maps
  configs/env/mettagrid/maps/navigation/corridors.map
  configs/env/mettagrid/maps/navigation/cylinder.map
  configs/env/mettagrid/maps/navigation/cylinder_easy.map
  configs/env/mettagrid/maps/navigation/honeypot.map
  configs/env/mettagrid/maps/navigation/knotty.map
  configs/env/mettagrid/maps/navigation/memory_palace.map
  configs/env/mettagrid/maps/navigation/obstacles0.map
  configs/env/mettagrid/maps/navigation/obstacles1.map
  configs/env/mettagrid/maps/navigation/obstacles2.map
  configs/env/mettagrid/maps/navigation/obstacles3.map
  configs/env/mettagrid/maps/navigation/radial_large.map
  configs/env/mettagrid/maps/navigation/radial_mini.map
  configs/env/mettagrid/maps/navigation/radial_small.map
  configs/env/mettagrid/maps/navigation/swirls.map
  configs/env/mettagrid/maps/navigation/thecube.map
  configs/env/mettagrid/maps/navigation/walkaround.map
  configs/env/mettagrid/maps/navigation/wanderout.map
Due: core
