Repository Metta-AI/metta: changes, and which Codecov flags are due for each by the changed paths.
All: core, app_backend, agent, mettagrid, mettagrid_cpp, common

codecov.yml:

# Codecov configuration for Metta-AI
# Documentation: https://docs.codecov.com/docs/codecov-yaml

# Wait for all CI jobs to complete before posting results
codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

# Coverage settings
coverage:
  # Round coverage to 2 decimal places
  precision: 2
  round: down

  # Status checks configuration
  status:
    # Project-wide coverage
    project:
      default:
        target: auto # Compare against base branch
        threshold: 1% # Allow 1% coverage drop
        base: auto
        informational: true # Won't fail PR, just inform

    # Coverage for changed lines only - this is your main gate
    patch:
      default:
        target: 50% # Minimum 50% coverage on new code
        threshold: 0% # No tolerance below 50%
        base: auto
        if_ci_failed: success # Don't fail if CI fails
        if_not_found: success # Don't fail if no coverage data

      # Additional informational patch check
      informational:
        target: 80% # Ideal target
        threshold: 0%
        informational: true # Won't fail, just shows as warning

# Pull request comment configuration
comment:
  layout: "header, diff, flags, components, files"
  behavior: default
  require_changes: false # Post comment even if no coverage change
  require_base: false # Don't require base coverage
  require_head: true # Must have head coverage to post
  hide_project_coverage: false # Show overall project coverage

# Flag configuration for different test suites
flags:
  core:
    paths:
      - "!app_backend/"
      - "!agent/"
      - "!mettagrid/"
      - "!common/"
    carryforward: true

  app_backend:
    paths:
      - app_backend/
    carryforward: true

  agent:
    paths:
      - agent/
    carryforward: true

  mettagrid:
    paths:
      - mettagrid/
    carryforward: true

  mettagrid_cpp:
    paths:
      - "**/*.cpp"
      - "**/*.cc"
      - "**/*.cxx"
      - "**/*.c++"
      - "**/*.h"
      - "**/*.hpp"
      - "**/*.hh"
      - "**/*.hxx"
      - "**/*.h++"
    carryforward: true

  common:
    paths:
      - common/
    carryforward: true

# Ignore certain paths from coverage
ignore:
  - "**/tests/"
  - "**/test_*.py"
  - "**/*_test.py"
  - "**/conftest.py"
  - "setup.py"
  - "**/migrations/"
  - "**/__pycache__/"
  - "**/node_modules/"
  - "**/*.pb.py" # Generated protobuf files
  - "**/*.pyi" # Type stub files
  - "**/fixtures/"
  - "**/mocks/"
  - "**/build/" # C++ build directories
  - "**/cmake-build-*/" # CLion/CMake build directories
  - "**/CMakeFiles/" # CMake generated files
  - "**/*.o" # Object files
  - "**/*.a" # Static libraries
  - "**/*.so" # Shared libraries
  - "**/*.dylib" # macOS dynamic libraries
  - "**/*.dll" # Windows dynamic libraries

# GitHub integration settings
github_checks:
  annotations: true # Show coverage annotations in PR files view

increase batch szie
  configs/trainer/trainer.yaml
Due: core

perfet maze scene implementation
  .gitignore
  configs/env/mettagrid/curriculum/perfect_maze/variable_size.yaml
  configs/env/mettagrid/perfect_maze/base.yaml
  configs/env/mettagrid/perfect_maze/large.yaml
  configs/env/mettagrid/perfect_maze/medium.yaml
  configs/env/mettagrid/perfect_maze/small.yaml
Due: core

bptt example
  configs/trainer/memory_no_reset.yaml
  configs/trainer/trainer.yaml
  metta/rl/experience.py
  metta/rl/trainer.py
  metta/rl/trainer_config.py
  run.py
Due: core

removing probe subdirectory
  metta/probes/memory/binding.c
  metta/probes/memory/memory.c
  metta/probes/memory/memory.h
  metta/probes/memory/memory.py
  metta/probes/perfect_maze/binding.c
  metta/probes/perfect_maze/perfect_maze.c
  metta/probes/perfect_maze/perfect_maze.h
  metta/probes/perfect_maze/perfect_maze.py
Due: core, mettagrid_cpp

more formatting
  .github/actions/asana/pr_gh_to_asana/asana_task.py
Due: core

proper asserts
  mettascope/tests/test_replay_format_validator.py
Due: none

more cleanup
  mettascope/tests/test_replay_format_validator.py
Due: none

sim functionality
  configs/env/mettagrid/perfect_maze/evals/defaults.yaml
  configs/env/mettagrid/perfect_maze/evals/kruskal_medium.yaml
  configs/env/mettagrid/perfect_maze/evals/large.yaml
  configs/env/mettagrid/perfect_maze/evals/medium.yaml
  configs/env/mettagrid/perfect_maze/evals/prim_medium.yaml
  configs/env/mettagrid/perfect_maze/evals/small.yaml
  configs/env/mettagrid/perfect_maze/evals/tiny.yaml
  configs/sim/perfect_maze.yaml
Due: core

update defaults
  configs/env/mettagrid/operant_conditioning/defaults.yaml
Due: core

feat: Restructure mettagrid_env.py (#1876)
  mettagrid/demos/demo_train_puffer.py
  mettagrid/src/metta/mettagrid/__init__.py
  mettagrid/src/metta/mettagrid/base_env.py
  mettagrid/src/metta/mettagrid/core.py
  mettagrid/src/metta/mettagrid/gym_env.py
  mettagrid/src/metta/mettagrid/mettagrid_c.cpp
  mettagrid/src/metta/mettagrid/mettagrid_c.pyi
  mettagrid/src/metta/mettagrid/mettagrid_env.py
  mettagrid/src/metta/mettagrid/pettingzoo_env.py
  mettagrid/src/metta/mettagrid/puffer_base.py
  mettagrid/src/metta/mettagrid/puffer_env.py
  mettagrid/src/metta/mettagrid/replay_writer.py
  mettagrid/src/metta/mettagrid/types.hpp
  mettagrid/src/metta/mettagrid/util/actions.py
  mettagrid/tests/test_8way_movement.py
  mettagrid/tests/test_actions.py
  mettagrid/tests/test_buffer_reuse.py
  mettagrid/tests/test_buffer_sharing_regression.py
  mettagrid/tests/test_buffers.py
  mettagrid/tests/test_cardinal_movement.py
  mettagrid/tests/test_interactive.py
  mettagrid/tests/test_mettagrid.py
  mettagrid/tests/test_mettagrid_env.py
  mettagrid/tests/test_new_env_hierarchy.py
  mettagrid/tests/test_observations.py
  mettagrid/tests/test_puffer_env.py
  mettagrid/tests/test_pufferlib_integration.py
  mettagrid/tests/test_rewards.py
  mettagrid/tests/test_swap.py
Due: mettagrid, mettagrid_cpp

more reward structures
  configs/env/mettagrid/colortree_demo.yaml
  configs/env/mettagrid/colortree_dense.yaml
  configs/env/mettagrid/colortree_partial.yaml
  demonstrate_reward_modes.py
  mettagrid/src/metta/mettagrid/actions/color_tree.hpp
  mettagrid/src/metta/mettagrid/mettagrid_c.cpp
  mettagrid/src/metta/mettagrid/mettagrid_c_config.py
  mettagrid/src/metta/mettagrid/mettagrid_config.py
Due: core, mettagrid, mettagrid_cpp

Add orchestrator intergration test + more refactors (#1888)
  app_backend/src/metta/app_backend/clients/eval_task_client.py
  app_backend/src/metta/app_backend/clients/stats_client.py
  app_backend/src/metta/app_backend/container_managers/base.py
  app_backend/src/metta/app_backend/container_managers/docker.py
  app_backend/src/metta/app_backend/container_managers/k8s.py
  app_backend/src/metta/app_backend/container_managers/models.py
  app_backend/src/metta/app_backend/eval_task_orchestrator.py
  app_backend/src/metta/app_backend/eval_task_worker.py
  app_backend/src/metta/app_backend/metta_repo.py
  app_backend/src/metta/app_backend/routes/eval_task_routes.py
  app_backend/src/metta/app_backend/worker_managers/__init__.py
  app_backend/src/metta/app_backend/worker_managers/base.py
  app_backend/src/metta/app_backend/worker_managers/container_manager.py
  app_backend/src/metta/app_backend/worker_managers/thread_manager.py
  app_backend/src/metta/app_backend/worker_managers/worker.py
  app_backend/tests/test_eval_task_orchestrator.py
  app_backend/tests/test_eval_task_orchestrator_integration.py
  devops/charts/system/templates/nodepool.yaml
Due: core, app_backend

fix assertions
  mettascope/tests/test_replay_format_validator.py
Due: none

Add Asana external projects tools with config validator
  docs/asana_external_projects_implementation.md
  tests/tools/test_asana_external_tasks.py
  tests/tools/test_demo_asana_task_implementation.py
  tools/asana_external_tasks.py
  tools/demo_asana_task_implementation.py
Due: core

comment formatting
  .github/actions/asana/pr_gh_to_asana/asana_task.py
  .github/actions/asana/pr_gh_to_asana/dead_code.py
  .github/actions/asana/pr_gh_to_asana/pr_gh_to_asana.py
Due: core

more formatting
  .github/actions/asana/pr_gh_to_asana/pr_gh_to_asana.py
Due: core

Add retry decorator for environment initialization with tests
  docs/apply_retry_decorator_example.py
  docs/asana_task_implementation_summary.md
  docs/retry_logic_implementation.md
  metta/utils/retry.py
  mettagrid/src/metta/mettagrid/mettagrid_env.py
  tests/util/test_retry.py
Due: core, mettagrid

nail down timeseries format
  mettascope/tests/test_replay_format_validator.py
Due: none

flatten ppo
  metta/rl/ppo.py
  metta/rl/trainer.py
Due: core

ruff
  metta/rl/ppo.py
  metta/rl/trainer.py
Due: core

flatten ppo for easy visibility into trainer internals (#1914)
  metta/rl/ppo.py
  metta/rl/trainer.py
Due: core

speed up
  demonstrate_reward_modes.py
  mettagrid/src/metta/mettagrid/actions/color_tree.hpp
  mettagrid/src/metta/mettagrid/mettagrid_c.cpp
Due: core, mettagrid, mettagrid_cpp

Add better typing to checkpoint manager and remove unused code
  metta/rl/checkpoint_manager.py
  metta/rl/trainer.py
Due: core

patch up run.py
  run.py
Due: core

And some refactoring of should_run, and typing to a few other files
  common/src/metta/common/profiling/stopwatch.py
  metta/rl/checkpoint_manager.py
  metta/rl/kickstarter.py
  metta/rl/rollout.py
  metta/rl/torch_profiler.py
  metta/rl/trainer.py
  run.py
Due: core, common

format comment in asana
  .github/actions/asana/pr_gh_to_asana/asana_task.py
  .github/actions/asana/pr_gh_to_asana/pr_gh_to_asana.py
  .github/actions/asana/pr_gh_to_asana/pull_request.py
Due: core

cleanup
  configs/sim/operantconditioning.yaml
Due: core

change styling
  .github/actions/asana/pr_gh_to_asana/pr_gh_to_asana.py
Due: core

Allow non-master ranks through in some cases
  metta/rl/checkpoint_manager.py
  metta/rl/trainer.py
  metta/rl/utils.py
Due: core

last formatting for now
  .github/actions/asana/pr_gh_to_asana/pr_gh_to_asana.py
Due: core

minorly simplify some things about logging
  metta/rl/trainer.py
  metta/rl/utils.py
Due: core

fix passing arg
  metta/rl/trainer.py
  metta/rl/utils.py
Due: core

Shift over to trainer.py
  metta/rl/trainer.py
  recipes/dual_policy_cloud.sh
  recipes/dual_policy_local.sh
  run.py
Due: core

combat envs only 1 team 0 rew
  configs/env/mettagrid/game/groups/solo_team.yaml
Due: core

bptt fix
  configs/trainer/memory_no_reset.yaml
  metta/rl/experience.py
  metta/rl/losses.py
  run.py
Due: core
