Repository Metta-AI/metta: changes, and which Codecov flags are due for each by the changed paths.
All: core, app_backend, agent, mettagrid, mettagrid_cpp, common

codecov.yml:

# Codecov configuration for Metta-AI
# Documentation: https://docs.codecov.com/docs/codecov-yaml

# Wait for all CI jobs to complete before posting results
codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

# Coverage settings
coverage:
  # Round coverage to 2 decimal places
  precision: 2
  round: down

  # Status checks configuration
  status:
    # Project-wide coverage
    project:
      default:
        target: auto # Compare against base branch
        threshold: 1% # Allow 1% coverage drop
        base: auto
        informational: true # Won't fail PR, just inform

    # Coverage for changed lines only - this is your main gate
    patch:
      default:
        target: 50% # Minimum 50% coverage on new code
        threshold: 0% # No tolerance below 50%
        base: auto
        if_ci_failed: success # Don't fail if CI fails
        if_not_found: success # Don't fail if no coverage data

      # Additional informational patch check
      informational:
        target: 80% # Ideal target
        threshold: 0%
        informational: true # Won't fail, just shows as warning

# Pull request comment configuration
comment:
  layout: "header, diff, flags, components, files"
  behavior: default
  require_changes: false # Post comment even if no coverage change
  require_base: false # Don't require base coverage
  require_head: true # Must have head coverage to post
  hide_project_coverage: false # Show overall project coverage

# Flag configuration for different test suites
flags:
  core:
    paths:
      - "!app_backend/"
      - "!agent/"
      - "!mettagrid/"
      - "!common/"
    carryforward: true

  app_backend:
    paths:
      - app_backend/
    carryforward: true

  agent:
    paths:
      - agent/
    carryforward: true

  mettagrid:
    paths:
      - mettagrid/
    carryforward: true

  mettagrid_cpp:
    paths:
      - "**/*.cpp"
      - "**/*.cc"
      - "**/*.cxx"
      - "**/*.c++"
      - "**/*.h"
      - "**/*.hpp"
      - "**/*.hh"
      - "**/*.hxx"
      - "**/*.h++"
    carryforward: true

  common:
    paths:
      - common/
    carryforward: true

# Ignore certain paths from coverage
ignore:
  - "**/tests/"
  - "**/test_*.py"
  - "**/*_test.py"
  - "**/conftest.py"
  - "setup.py"
  - "**/migrations/"
  - "**/__pycache__/"
  - "**/node_modules/"
  - "**/*.pb.py" # Generated protobuf files
  - "**/*.pyi" # Type stub files
  - "**/fixtures/"
  - "**/mocks/"
  - "**/build/" # C++ build directories
  - "**/cmake-build-*/" # CLion/CMake build directories
  - "**/CMakeFiles/" # CMake generated files
  - "**/*.o" # Object files
  - "**/*.a" # Static libraries
  - "**/*.so" # Shared libraries
  - "**/*.dylib" # macOS dynamic libraries
  - "**/*.dll" # Windows dynamic libraries

# GitHub integration settings
github_checks:
  annotations: true # Show coverage annotations in PR files view

Add endpoint to get scores for a set of policies, evals, metrics (#2083)
  app_backend/src/metta/app_backend/clients/stats_client.py
  app_backend/src/metta/app_backend/leaderboard_updater.py
  app_backend/src/metta/app_backend/routes/score_routes.py
  app_backend/src/metta/app_backend/server.py
  app_backend/tests/conftest.py
  app_backend/tests/test_score_routes.py
  app_backend/tests/test_scorecard_routes.py
Due: app_backend

Make policy updater run on the main asyncio loop
  app_backend/src/metta/app_backend/leaderboard_updater.py
  app_backend/src/metta/app_backend/server.py
  app_backend/tests/test_scorecard_routes.py
Due: app_backend

ok ready to merge
  experiments/marimo/eval-finder-example.py
  experiments/notebooks/utils/eval_finder_widget/eval_finder_widget/EvalFinderWidget.py
  experiments/notebooks/utils/eval_finder_widget/package-lock.json
  experiments/notebooks/utils/eval_finder_widget/package.json
  experiments/notebooks/utils/eval_finder_widget/src/EvalCategoryView.tsx
  experiments/notebooks/utils/eval_finder_widget/src/EvalFinder.tsx
  experiments/notebooks/utils/eval_finder_widget/src/EvalListView.tsx
  experiments/notebooks/utils/eval_finder_widget/src/index.tsx
  experiments/notebooks/utils/eval_finder_widget/src/styles.css
  experiments/notebooks/utils/eval_finder_widget/tsconfig.json
  experiments/notebooks/utils/eval_finder_widget/vite.config.js
Due: core

docs
  experiments/notebooks/utils/eval_finder_widget/README.md
  experiments/notebooks/utils/scorecard_widget/README.md
Due: core

added dualpolicyconfig to trainer
  metta/rl/trainer_config.py
  recipes/dual_policy_cloud.sh
  recipes/dual_policy_local.sh
Due: core

added scheduling amongst others. KS still in debug. PPO runs locally
  agent/src/metta/agent/lib/lstm.py
  configs/agent/fast.yaml
  configs/user/alex.yaml
  metta/rl/loss/base_loss.py
  metta/rl/loss/ema.py
  metta/rl/loss/ppo.py
  metta/rl/loss/sl_kickstarter.py
  metta/rl/loss/tl_kickstarter.py
  metta/rl/trainer.py
Due: core, agent

everything PPO officially in a single location!
  configs/user/alex.yaml
  metta/rl/experience.py
  metta/rl/loss/base_loss.py
  metta/rl/loss/ppo.py
  metta/rl/trainer.py
Due: core

update configs
  configs/env/mettagrid/curriculum/operant_conditioning/in_context_learning/all_chains_no_sinks.yaml
  configs/env/mettagrid/curriculum/operant_conditioning/in_context_learning/chain_length_2/0_sinks.yaml
  configs/env/mettagrid/curriculum/operant_conditioning/in_context_learning/chain_length_2/1_sinks.yaml
  configs/env/mettagrid/curriculum/operant_conditioning/in_context_learning/chain_length_2/2_sinks.yaml
  configs/env/mettagrid/curriculum/operant_conditioning/in_context_learning/chain_length_3/0_sinks.yaml
  configs/env/mettagrid/curriculum/operant_conditioning/in_context_learning/chain_length_3/1_sinks.yaml
  configs/env/mettagrid/curriculum/operant_conditioning/in_context_learning/chain_length_3/2_sinks.yaml
  configs/env/mettagrid/curriculum/operant_conditioning/in_context_learning/chain_length_4/0_sinks.yaml
  configs/env/mettagrid/curriculum/operant_conditioning/in_context_learning/chain_length_4/1_sinks.yaml
  configs/env/mettagrid/curriculum/operant_conditioning/in_context_learning/chain_length_4/2_sinks.yaml
  configs/env/mettagrid/curriculum/operant_conditioning/in_context_learning/chain_length_5/0_sinks.yaml
  configs/env/mettagrid/curriculum/operant_conditioning/in_context_learning/chain_length_5/1_sinks.yaml
  configs/env/mettagrid/curriculum/operant_conditioning/in_context_learning/chain_length_5/2_sinks.yaml
Due: core

fix
  configs/env/mettagrid/curriculum/operant_conditioning/in_context_learning/chain_length_2/0_sinks.yaml
Due: core

changed ppo schedule
  configs/agent/fast.yaml
  configs/user/alex.yaml
Due: core

bugs fixed
  metta/rl/trainer.py
  mettagrid/src/metta/mettagrid/mettagrid_env.py
Due: core, mettagrid

fix bugs
  configs/env/mettagrid/curriculum/operant_conditioning/in_context_learning/chain_length_5/0_sinks.yaml
  configs/env/mettagrid/curriculum/operant_conditioning/in_context_learning/chain_length_5/1_sinks.yaml
  configs/env/mettagrid/curriculum/operant_conditioning/in_context_learning/chain_length_5/2_sinks.yaml
Due: core

Add AI-powered codebase summarization tool
  pyproject.toml
  tools/summarize.py
  tools/summarize_prompt.md
Due: core

Refactor reset memory
  agent/src/metta/agent/metta_agent.py
  metta/rl/experience.py
  metta/rl/trainer.py
  metta/sim/simulation.py
Due: core, agent

Lint
  agent/src/metta/agent/metta_agent.py
Due: agent

Lint
  agent/src/metta/agent/component_policy.py
Due: agent

Put leaderboard_updater on main asyncio loop (#2105)
  app_backend/src/metta/app_backend/leaderboard_updater.py
  app_backend/src/metta/app_backend/server.py
Due: app_backend

Clean
  agent/src/metta/agent/component_policy.py
Due: agent

reading works
  agent/src/metta/agent/policy_metadata_yaml_helper.py
  configs/user/localmini.yaml
  uv.lock
Due: core, agent

fix ruff checks, resolve comments, change function name to make_arena, fix failing tests, remove replay job test, remove curriculum references
  common/src/metta/common/wandb/wandb_context.py
  metta/cogworks/curriculum/__init__.py
  metta/eval/eval_service.py
  metta/map/utils/show.py
  metta/rl/system_config.py
  metta/rl/trainer_config.py
  metta/util/metta_script.py
  mettagrid/demo.py
  mettagrid/src/metta/mettagrid/config/builder.py
  mettagrid/src/metta/mettagrid/mettagrid_config.py
  mettagrid/src/metta/mettagrid/mettagrid_env.py
  mettagrid/src/metta/mettagrid/pettingzoo_env.py
  tests/cogworks/curriculum/test_curriculum.py
  tests/cogworks/curriculum/test_serialization.py
  tests/sim/test_all_sim_configs.py
  tests/tools/test_replay_job.py
  tools/sim.py
Due: core, mettagrid, common

test
  configs/env/mettagrid/colortree_easy.yaml
Due: core

Fix missing resolvers import in train.py
  tools/train.py
Due: core

.
  configs/env/mettagrid/colortree_easy.yaml
Due: core

Fix arena import in test_nethack.py
  mettagrid/tests/renderer/test_nethack.py
Due: none

fix demos
  mettagrid/demos/demo_train_gym.py
  mettagrid/demos/demo_train_pettingzoo.py
  mettagrid/demos/demo_train_puffer.py
Due: mettagrid

fix make_arena renaming
  mettagrid/tests/test_buffer_reuse.py
  mettagrid/tests/test_gym_env.py
  mettagrid/tests/test_interactive.py
  mettagrid/tests/test_movement_metrics.py
  mettagrid/tests/test_new_env_hierarchy.py
  mettagrid/tests/test_no_agent_interference.py
  mettagrid/tests/test_pettingzoo_env.py
  mettagrid/tests/test_wandb_movement_metrics.py
Due: none

16step test
  configs/env/mettagrid/colortree_easy_16step.yaml
  configs/env/mettagrid/curriculum/colortree_easy_16step.yaml
Due: core

quick fix mettagrid env benchmark TODO review with David
  mettagrid/benchmarks/test_mettagrid_env_benchmark.py
Due: none

fix resolvers callback in configs and wandb assertion
  common/tests/wandb/test_wandb_context.py
  configs/common.yaml
Due: core

type checking hack on mettagrid_config, remove comments, add hidration comments
  metta/util/metta_script.py
  mettagrid/benchmarks/test_mettagrid_env_benchmark.py
  mettagrid/src/metta/mettagrid/mettagrid_config.py
Due: core, mettagrid

cleanup DictConfig and use EnvConfig
  mettagrid/demos/demo_train_puffer.py
  mettagrid/tests/map_builder/test_random.py
Due: mettagrid

rebase aborted, logging bugs fixed
  metta/rl/stats.py
  mettagrid/src/metta/mettagrid/mettagrid_env.py
Due: core, mettagrid

fix hydra errors with callbacks and div
  configs/common.yaml
  metta/util/metta_script.py
  tests/sim/test_all_sim_configs.py
Due: core

fix random selection
  mettagrid/src/metta/mettagrid/actions/color_tree.hpp
  mettagrid/src/metta/mettagrid/curriculum/colortree_random.py
Due: mettagrid, mettagrid_cpp

cp
  experiments/experiment.py
Due: core

docs: clarify that experiment launching and notebooks are separate systems
  experiments/README.md
Due: core

[MettaScope] frontend replay format validation (#1983)
  mettascope/src/validation.ts
Due: core
