Repository Metta-AI/metta: changes, and which Codecov flags are due for each by the changed paths.
All: core, app_backend, agent, mettagrid, mettagrid_cpp, common

codecov.yml:

# Codecov configuration for Metta-AI
# Documentation: https://docs.codecov.com/docs/codecov-yaml

# Wait for all CI jobs to complete before posting results
codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

# Coverage settings
coverage:
  # Round coverage to 2 decimal places
  precision: 2
  round: down

  # Status checks configuration
  status:
    # Project-wide coverage
    project:
      default:
        target: auto # Compare against base branch
        threshold: 1% # Allow 1% coverage drop
        base: auto
        informational: true # Won't fail PR, just inform

    # Coverage for changed lines only - this is your main gate
    patch:
      default:
        target: 50% # Minimum 50% coverage on new code
        threshold: 0% # No tolerance below 50%
        base: auto
        if_ci_failed: success # Don't fail if CI fails
        if_not_found: success # Don't fail if no coverage data

      # Additional informational patch check
      informational:
        target: 80% # Ideal target
        threshold: 0%
        informational: true # Won't fail, just shows as warning

# Pull request comment configuration
comment:
  layout: "header, diff, flags, components, files"
  behavior: default
  require_changes: false # Post comment even if no coverage change
  require_base: false # Don't require base coverage
  require_head: true # Must have head coverage to post
  hide_project_coverage: false # Show overall project coverage

# Flag configuration for different test suites
flags:
  core:
    paths:
      - "!app_backend/"
      - "!agent/"
      - "!mettagrid/"
      - "!common/"
    carryforward: true

  app_backend:
    paths:
      - app_backend/
    carryforward: true

  agent:
    paths:
      - agent/
    carryforward: true

  mettagrid:
    paths:
      - mettagrid/
    carryforward: true

  mettagrid_cpp:
    paths:
      - "**/*.cpp"
      - "**/*.cc"
      - "**/*.cxx"
      - "**/*.c++"
      - "**/*.h"
      - "**/*.hpp"
      - "**/*.hh"
      - "**/*.hxx"
      - "**/*.h++"
    carryforward: true

  common:
    paths:
      - common/
    carryforward: true

# Ignore certain paths from coverage
ignore:
  - "**/tests/"
  - "**/test_*.py"
  - "**/*_test.py"
  - "**/conftest.py"
  - "setup.py"
  - "**/migrations/"
  - "**/__pycache__/"
  - "**/node_modules/"
  - "**/*.pb.py" # Generated protobuf files
  - "**/*.pyi" # Type stub files
  - "**/fixtures/"
  - "**/mocks/"
  - "**/build/" # C++ build directories
  - "**/cmake-build-*/" # CLion/CMake build directories
  - "**/CMakeFiles/" # CMake generated files
  - "**/*.o" # Object files
  - "**/*.a" # Static libraries
  - "**/*.so" # Shared libraries
  - "**/*.dylib" # macOS dynamic libraries
  - "**/*.dll" # Windows dynamic libraries

# GitHub integration settings
github_checks:
  annotations: true # Show coverage annotations in PR files view

this fixes something i forgot to do earlier today
  devops/skypilot/utils.py
Due: core

debug
  devops/skypilot/config/sk_train.yaml
  devops/skypilot/test_nccl.py
Due: core

unpack tuple
  devops/skypilot/utils.py
Due: core

fix
  common/src/metta/common/util/git.py
  devops/skypilot/utils.py
Due: core, common

remove comment
  devops/skypilot/utils.py
Due: core

rename to be more accurate
  common/src/metta/common/util/git.py
  devops/skypilot/utils.py
Due: core, common

debug
  devops/skypilot/test_nccl.py
Due: none

fix
  common/src/metta/common/util/git.py
Due: common

update docstring
  common/src/metta/common/util/git.py
Due: common

nccl wip
  devops/skypilot/config/sk_train.yaml
  devops/skypilot/test_nccl.py
Due: core

devops/skypilot/launch.py git status check bugfix (#1997)
  common/src/metta/common/util/git.py
  devops/skypilot/utils.py
Due: core, common

Add simple filesets to Google Drive export tool
  mettagrid/src/metta/mettagrid/util/file.py
  tools/filesets_to_gdrive.py
Due: core, mettagrid

pass docker args
  devops/skypilot/config/sk_train.yaml
Due: core

reduce verbosity
  devops/skypilot/config/sk_train.yaml
  devops/skypilot/test_nccl.py
Due: core

mv heartbeat up
  devops/skypilot/config/sk_train.yaml
  devops/skypilot/test_nccl.py
  devops/train.sh
Due: core

this is so skypilot tasks (docker containers based on pufferlib image) will use the virtualenv we setup with uv when training in the cloud
  devops/train.sh
Due: core

mv to env config script
  devops/skypilot/config/configure_environment.sh
  devops/skypilot/config/sk_train.yaml
Due: core

add ipc host
  devops/skypilot/config/configure_environment.sh
  devops/skypilot/config/sk_train.yaml
Due: core

disable shm again
  devops/skypilot/config/configure_environment.sh
Due: core

switch to METTA_ENV_FILE
  common/src/metta/common/util/constants.py
  common/src/metta/common/util/cost_monitor.py
  devops/setup.env
  devops/skypilot/config/configure_environment.sh
  devops/skypilot/config/sandbox.yaml
  devops/skypilot/config/sk_train.yaml
  devops/sweep.sh
  devops/sweep_rollout.sh
  devops/train.sh
Due: core, common

wip
  devops/skypilot/config/configure_environment.sh
  devops/skypilot/config/sandbox.yaml
  devops/skypilot/config/sk_train.yaml
Due: core

fix args print
  devops/train.sh
Due: core

improved dockerfile with a fix for pufferlib's virtualenv. this stops skypilot tasks from printing warnings and should prevent future errors.
  devops/docker/Dockerfile
Due: core

try turning on shm again
  devops/skypilot/config/configure_environment.sh
  devops/skypilot/config/sk_train.yaml
Due: core

Make mettagrid descriptions in README.md and mettagrid/README.md more up-to-date
  README.md
  mettagrid/README.md
  roadmap.md
Due: core, mettagrid

remove test files
  .github/actions/asana/pr_gh_to_asana/test/run_16598640248/http-interactions-16598640248/http_interactions_16598640248.yaml
  .github/actions/asana/pr_gh_to_asana/test/run_16598640248/run_log.txt
  .github/actions/asana/pr_gh_to_asana/test/run_16598640438/http-interactions-16598640438/http_interactions_16598640438.yaml
  .github/actions/asana/pr_gh_to_asana/test/run_16598640438/run_log.txt
  .github/actions/asana/pr_gh_to_asana/test/run_16599408586/http-interactions-16599408586/http_interactions_16599408586.yaml
  .github/actions/asana/pr_gh_to_asana/test/run_16599408586/run_log.txt
  .github/actions/asana/pr_gh_to_asana/test/run_16599697450/http-interactions-16599697450/http_interactions_16599697450.yaml
  .github/actions/asana/pr_gh_to_asana/test/run_16599697450/run_log.txt
  .github/actions/asana/pr_gh_to_asana/test/run_16599866463/http-interactions-16599866463/http_interactions_16599866463.yaml
  .github/actions/asana/pr_gh_to_asana/test/run_16599866463/run_log.txt
  .github/actions/asana/pr_gh_to_asana/test/run_16599950352/http-interactions-16599950352/http_interactions_16599950352.yaml
  .github/actions/asana/pr_gh_to_asana/test/run_16599950352/run_log.txt
Due: core

Refactoring
  agent/src/metta/agent/metta_agent.py
  agent/src/metta/agent/metta_agent_builder.py
  agent/src/metta/agent/policy_base.py
  agent/src/metta/agent/policy_store.py
  metta/rl/checkpoint_manager.py
  metta/rl/policy_management.py
  metta/rl/ppo.py
  metta/rl/trainer.py
Due: core, agent

Skypilot jobs are allowed to have unstaged changes (that skypilot itself creates during setup) and still not be blocked from submitting jobs to policy evaluator
  common/src/metta/common/util/git.py
Due: common

yaml serialization
  agent/src/metta/agent/policy_checkpoint_manager.py
  agent/src/metta/agent/policy_store.py
  agent/tests/test_policy_record_yaml.py
  configs/user/localmini.yaml
  tools/pytorch_state_dict_example.py
Due: core, agent

update colortree action
  configs/env/mettagrid/colortree_easy.yaml
  configs/env/mettagrid/curriculum/colortree_easy_fixed.yaml
  configs/user/jacke.yaml
  mettagrid/src/metta/mettagrid/actions/color_tree.hpp
Due: core, mettagrid, mettagrid_cpp

scriptting
  configs/env/mettagrid/colortree_easy.yaml
  configs/env/mettagrid/colortree_easy_256.yaml
  configs/env/mettagrid/curriculum/colortree_easy_fixed.yaml
  tools/run_colortree_experiments.sh
Due: core

Skypilot jobs are allowed to have unstaged changes when submitting jobs to policy evaluator (#2004)
  common/src/metta/common/util/git.py
Due: common

script for experiment
  scripts/run_colortree_experiments.sh
Due: core

Assume commits on skypilot are pushed
  .cspell.json
  common/src/metta/common/util/git.py
Due: core, common

'make test-setup' for 'metta install' pytests. few fixes in setup components to make it happen.
  Makefile
  conftest.py
  devops/aws/setup_aws_profiles.sh
  devops/macos/Brewfile
  experiments/notebooks/utils/scorecard_widget/package-lock.json
  metta/setup/components/githooks.py
  metta/setup/components/observatory_key.py
  metta/setup/components/skypilot.py
  metta/setup/components/wandb.py
  tests/setup/conftest.py
  tests/setup/test_aws_profile_setup.py
  tests/setup/test_base.py
  tests/setup/test_install_sh.py
  tests/setup/test_integration_install.py
Due: core

fix conftest to remove crap
  tests/setup/conftest.py
Due: none

modify the github action workflow
  .github/workflows/checks.yml
  tests/setup/test_aws_profile_setup.py
  tests/setup/test_install_sh.py
Due: core
