Repository Metta-AI/metta: changes, and which Codecov flags are due for each by the changed paths.
All: core, app_backend, agent, mettagrid, mettagrid_cpp, common

fix os import and linting errors, graphite suggestions
  mettagrid/demos/demo_train_core.py
  mettagrid/demos/demo_train_gym.py
  mettagrid/demos/demo_train_pettingzoo.py
  mettagrid/demos/demo_train_puffer.py
Due: mettagrid

navigation
  configs/train_job.yaml
Due: core

new config
  configs/user/compare_training.yaml
  tools/compare_training.py
Due: core

Quick fix
  tools/compare_training.py
Due: core

wandb prject change
  tools/compare_training.py
Due: core

agent switch
  bullm_run.py
  recipes/navigation_with_context_local.sh
Due: core

add support for adapter switch between puffer and pettingzoo (gym excluded as it does not work with our current pipeline)
  .github/workflows/test-demo-environments.yml
  metta/rl/trainer.py
  mettagrid/demos/demo_train_core.py
  mettagrid/demos/demo_train_gym.py
  mettagrid/demos/demo_train_pettingzoo.py
  mettagrid/demos/demo_train_puffer.py
  mettagrid/src/metta/mettagrid/core.py
  mettagrid/src/metta/mettagrid/mettagrid_env.py
  mettagrid/src/metta/mettagrid/pettingzoo_env.py
Due: core, mettagrid

add support for adapter switch
  metta/rl/trainer.py
  mettagrid/demos/demo_train_gym.py
  mettagrid/src/metta/mettagrid/mettagrid_env.py
Due: core, mettagrid

override
  recipes/navigation_with_context_local.sh
Due: core

fix isinstance checks in simulation.py and api.py for adapter system
  metta/api.py
  metta/sim/simulation.py
Due: core

fix PettingZoo test - action_space and observation_space need agent parameter
  mettagrid/tests/test_interactive.py
Due: none

fix error
  metta/api.py
  metta/sim/simulation.py
Due: core

num agents
  recipes/navigation_with_context_local.sh
Due: core

default
  recipes/navigation_with_context_local.sh
Due: core

change eval set
  recipes/navigation_with_context_local.sh
Due: core

Add inventory rewards observation to MettaGrid (#1524)
  configs/env/mettagrid/mettagrid.yaml
  configs/user/daveey.yaml
  mettagrid/benchmarks/test_mettagrid_env_benchmark.cpp
  mettagrid/docs/global_observations.md
  mettagrid/src/metta/mettagrid/mettagrid_c.cpp
  mettagrid/src/metta/mettagrid/mettagrid_c.hpp
  mettagrid/src/metta/mettagrid/mettagrid_c.pyi
  mettagrid/src/metta/mettagrid/mettagrid_c_config.py
  mettagrid/src/metta/mettagrid/mettagrid_config.py
  mettagrid/src/metta/mettagrid/objects/constants.hpp
  mettagrid/src/metta/mettagrid/objects/converter.hpp
  mettagrid/tests/test_global_observations.py
  mettagrid/tests/test_global_reward_observations.py
  recipes/nav_memory_sequence.sh
  recipes/navigation.sh
  recipes/object_use.sh
Due: core, mettagrid, mettagrid_cpp

change eval suite
  recipes/navigation_with_context_local.sh
Due: core

use core as default adapter instead of puffer
  mettagrid/src/metta/mettagrid/mettagrid_env.py
Due: mettagrid

bash
  devops/train.sh
  recipes/agent_pressure.sh
Due: core

fix: try to reduce newsletter fluff (#1550)
  .github/scripts/gemini_analyze_pr_digest.py
Due: core

revert to puffer as default adapter - core has incompatible constructor signature
  mettagrid/src/metta/mettagrid/mettagrid_env.py
Due: mettagrid

address comments
  mettagrid/benchmarks/test_mettagrid_env_benchmark.cpp
  mettagrid/src/metta/mettagrid/mettagrid_c.hpp
Due: mettagrid, mettagrid_cpp

shush codecov
  codecov.yml
Due: core

chore: fix cpp warnings (#1470)
  .cspell.json
  mettagrid/.clang-tidy
  mettagrid/CMakePresets.json
  mettagrid/benchmarks/test_mettagrid_env_benchmark.cpp
  mettagrid/clang-tidy.sh
  mettagrid/compiler_flags.cmake
  mettagrid/src/metta/mettagrid/action_handler.hpp
  mettagrid/src/metta/mettagrid/actions/attack.hpp
  mettagrid/src/metta/mettagrid/actions/change_color.hpp
  mettagrid/src/metta/mettagrid/actions/change_glyph.hpp
  mettagrid/src/metta/mettagrid/actions/get_output.hpp
  mettagrid/src/metta/mettagrid/actions/put_recipe_items.hpp
  mettagrid/src/metta/mettagrid/event.hpp
  mettagrid/src/metta/mettagrid/grid.hpp
  mettagrid/src/metta/mettagrid/grid_object.hpp
  mettagrid/src/metta/mettagrid/hash.hpp
  mettagrid/src/metta/mettagrid/mettagrid_c.cpp
  mettagrid/src/metta/mettagrid/mettagrid_c.hpp
  mettagrid/src/metta/mettagrid/mettagrid_c.pyi
  mettagrid/src/metta/mettagrid/mettagrid_env.py
  mettagrid/src/metta/mettagrid/objects/agent.hpp
  mettagrid/src/metta/mettagrid/objects/converter.hpp
  mettagrid/src/metta/mettagrid/objects/has_inventory.hpp
  mettagrid/src/metta/mettagrid/objects/wall.hpp
  mettagrid/src/metta/mettagrid/observation_encoder.hpp
  mettagrid/src/metta/mettagrid/stats_tracker.hpp
Due: core, mettagrid, mettagrid_cpp

refactor: _compute_observation (#1429)
  codecov.yml
  metta/rl/trainer.py
  mettagrid/Makefile
  mettagrid/src/metta/mettagrid/actions/attack.hpp
  mettagrid/src/metta/mettagrid/mettagrid_c.cpp
  mettagrid/src/metta/mettagrid/mettagrid_config.py
  mettagrid/src/metta/mettagrid/mettagrid_env.py
  mettagrid/src/metta/mettagrid/packed_coordinate.hpp
  mettagrid/tests/conftest.py
  mettagrid/tests/test_mettagrid.py
  mettagrid/tests/test_observations.cpp
  mettagrid/tests/test_observations.py
Due: core, mettagrid, mettagrid_cpp

Path conditions:
  core: any file but: app_backend/, agent/, mettagrid/, common/, **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  app_backend: any of: app_backend/, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  agent: any of: agent/, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  mettagrid: any of: mettagrid/, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  mettagrid_cpp: any of: **/*.cpp, **/*.cc, **/*.cxx, **/*.c++, **/*.h, **/*.hpp, **/*.hh, **/*.hxx, **/*.h++, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  common: any of: common/, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
