Repository Metta-AI/metta: changes, and which Codecov flags are due for each by the changed paths.
All: core, app_backend, agent, mettagrid, mettagrid_cpp, common

lint
  tests/map/scenes/test_room_grid.py
  tests/map/utils/test_pattern.py
Due: none

`uv run --active` where necessary (#2359)
  devops/git-hooks/pre-commit
  devops/skypilot/config/lifecycle/create_job_secrets.py
  devops/skypilot/launch.py
  metta/setup/components/skypilot.py
  metta/setup/metta_cli.py
Due: core

remove debug line
  mettascope2/src/mettascope/shell.html
Due: core

single responsibility
  .cspell.json
  common/src/metta/common/util/cost_monitor.py
  common/src/metta/common/util/skypilot_latency.py
  common/src/metta/common/wandb/log_wandb.py
  devops/skypilot/config/test_exit.py
Due: core, common

removed comments
  tests/map/random/test_float.py
  tests/map/random/test_int.py
  tests/map/scenes/test_room_grid.py
  tests/map/utils/test_pattern.py
Due: none

meant to delete that
  mcp_server/src/metta/mcp_server/task_models.py
Due: core

re-added useful tests
  tests/test_no_xcxc.py
  tests/test_num_episodes_bug.py
Due: none

test float tests
  tests/map/random/test_float.py
Due: none

aadded back test int
  tests/map/random/test_int.py
Due: none

phase 2 policy redo
  phase_2_design.md
Due: core

updated design
  phase_2_design.md
Due: core

enable panel masking
  mettascope2/src/mettascope/panels.nim
Due: core

unused flag
  metta/rl/kickstarter.py
Due: core

consolidate tests
  agent/tests/lib/test_metta_module.py
  agent/tests/lib/test_metta_modules.py
  agent/tests/util/test_distribution_utils.py
  tests/map/random/test_distributions.py
  tests/map/random/test_int.py
  tests/map/scenes/test_ascii.py
  tests/map/scenes/test_basic_generators_consolidated.py
  tests/map/scenes/test_bsp.py
  tests/map/scenes/test_make_connected.py
  tests/map/scenes/test_random.py
  tests/map/scenes/test_simple_generators.py
  tests/tools/test_opportunistic_policy.py
  tests/tools/test_policy_selection.py
Due: none

cleanedup design
  phase_1_policy_design.md
  phase_2_complete_design.md
  phase_2_design.md
Due: core

update test
  common/src/metta/common/util/cost_monitor.py
  devops/skypilot/config/skypilot_run.py
  devops/skypilot/config/skypilot_run.yaml
  devops/skypilot/config/test_exit.py
Due: core, common

move world map to world map
  mettascope2/src/mettascope.nim
  mettascope2/src/mettascope/panels.nim
  mettascope2/src/mettascope/timeline.nim
  mettascope2/src/mettascope/worldmap.nim
Due: core

phase 3 beginning
  metta/rl/simple_checkpoint_manager.py
  metta/rl/trainer.py
  metta/tools/train.py
Due: core

phase 3 progress so far
  phase_3_progress.md
Due: core

cooling: initialize_to_environment one-stop-shop for agent save/load state (#2365)
  agent/src/metta/agent/metta_agent.py
  agent/src/metta/agent/mocks/mock_agent.py
  agent/src/metta/agent/policy_record.py
  agent/src/metta/agent/policy_store.py
  agent/tests/test_feature_remapping.py
  common/src/metta/common/config/tool.py
  experiments/recipes/navigation.py
  gridworks/start.py
  metta/rl/experience.py
  metta/rl/hyperparameter_scheduler_config.py
  metta/rl/kickstarter.py
  metta/rl/policy_management.py
  metta/rl/puffer_policy.py
  metta/rl/trainer.py
  metta/sim/simulation.py
  metta/sim/utils.py
Due: core, agent, common

fiddling with tests
  tests/map/scenes/test_random_scene_from_dir.py
  tests/map/utils/test_pattern.py
  tests/map/utils/test_storable_map_io.py
  tools/renderer.py
Due: core

timeout test
  devops/skypilot/config/skypilot_run.yaml
  devops/skypilot/config/test_exit.py
Due: core

added back some tests
  tests/map/scenes/test_bsp.py
  tests/map/scenes/test_make_connected.py
  tests/map/scenes/test_mean_distance.py
  tests/map/scenes/test_mirror.py
Due: none

lint
  tests/map/random/test_distributions.py
  tests/map/scenes/test_random.py
  tests/map/scenes/test_simple_generators.py
Due: none

more work on panels
  mettascope2/src/mettascope.nim
  mettascope2/src/mettascope/agenttable.nim
  mettascope2/src/mettascope/agenttraces.nim
  mettascope2/src/mettascope/common.nim
  mettascope2/src/mettascope/envconfig.nim
  mettascope2/src/mettascope/minimap.nim
  mettascope2/src/mettascope/panels.nim
Due: core

adj size
  mettascope2/src/mettascope.nim
Due: core

cooling: cull 20% tests and bad tool (#2368)
  agent/tests/lib/test_metta_module.py
  agent/tests/lib/test_metta_modules.py
  agent/tests/util/test_distribution_utils.py
  tests/integration/test_performance_regression.py
  tests/map/random/test_distributions.py
  tests/map/random/test_int.py
  tests/map/scenes/test_ascii.py
  tests/map/scenes/test_convchain.py
  tests/map/scenes/test_multi_left_and_right.py
  tests/map/scenes/test_nop.py
  tests/map/scenes/test_random_objects.py
  tests/map/scenes/test_random_scene.py
  tests/map/scenes/test_remove_agents.py
  tests/map/scenes/test_room_grid.py
  tests/map/scenes/test_simple_generators.py
  tests/map/scenes/test_wfc.py
  tests/rl/test_mps.py
  tests/test_tensors_have_dtype.py
  tests/tools/test_gen_thumb.py
  tests/tools/test_opportunistic_policy.py
  tests/tools/test_policy_selection.py
  tools/renderer.py
Due: core

simple checkpoint manager
  metta/rl/trainer.py
  metta/tools/analyze.py
  metta/tools/play.py
  metta/tools/replay.py
  metta/tools/sim.py
  phase_3_progress.md
Due: core

lint
  metta/rl/simple_checkpoint_manager.py
  metta/rl/trainer.py
  metta/tools/analyze.py
  metta/tools/play.py
  metta/tools/replay.py
  metta/tools/sim.py
  metta/tools/train.py
Due: core

deletion
  agent/src/metta/agent/mocks/mock_policy_record.py
  agent/src/metta/agent/policy_cache.py
  agent/src/metta/agent/policy_record.py
  agent/src/metta/agent/policy_store.py
  agent/tests/test_policy_cache.py
  agent/tests/test_policy_store.py
  metta/rl/checkpoint_manager.py
  metta/rl/evaluate.py
Due: core, agent

phase 4 risks
  phase_4_policyx_removal_risks.md
Due: core

new tests
  tests/rl/test_simple_checkpoint_manager_caching.py
  tests/rl/test_simple_checkpoint_manager_comprehensive.py
  tests/sim/test_simulation_stats_db_simple_checkpoint.py
Due: none

drop files
  .cspell.json
  common/src/metta/common/util/github.py
  devops/skypilot/config/lifecycle/configure_environment.sh
  devops/skypilot/config/observability/send_discord_notification.py
  devops/skypilot/config/observability/set_github_status.py
  devops/skypilot/config/runtime_monitors.py
  devops/skypilot/config/skypilot_run.py
  devops/skypilot/config/skypilot_run.yaml
  devops/skypilot/config/test_exit.py
Due: core, common

phase 5 audit
  phase_5_audit.md
Due: core

phase 5 engineering write-up
  metta/rl/evaluate.py
  metta/rl/simple_checkpoint_manager.py
  metta/rl/trainer.py
  metta/sim/simulation_stats_db.py
  metta/tools/sim.py
  phase_5_engineering.md
  tests/sim/test_simulation_stats_db.py
Due: core

mv files
  devops/skypilot/config/configure_environment.py
  devops/skypilot/config/lifecycle/configure_environment.sh
  devops/skypilot/config/lifecycle/create_job_secrets.py
  devops/skypilot/config/lifecycle/setup.sh
  devops/skypilot/config/sandbox.yaml
  devops/skypilot/config/skypilot_run.yaml
  devops/skypilot/config/test_nccl.py
  devops/skypilot/config/testing/terminate_worker.py
Due: core

phase 6 audit
  phase_6_audit.md
Due: core

tests restored
  tests/map/random/test_int.py
  tests/map/scenes/test_ascii.py
  tests/map/scenes/test_convchain.py
  tests/map/scenes/test_multi_left_and_right.py
  tests/map/scenes/test_nop.py
  tests/map/scenes/test_random_objects.py
  tests/map/scenes/test_random_scene.py
  tests/map/scenes/test_random_scene_from_dir.py
  tests/map/scenes/test_remove_agents.py
  tests/map/scenes/test_wfc.py
Due: none

wrappers
  agent/src/metta/agent/mocks/mock_policy_record.py
  agent/src/metta/agent/policy_record.py
  agent/src/metta/agent/policy_store.py
  metta/rl/stats.py
  metta/rl/trainer.py
  metta/sim/policy_wrapper.py
  metta/sim/simple_policy_store.py
  metta/tools/play.py
  metta/tools/replay.py
Due: core, agent

stats changes mocks uhoh
  agent/src/metta/agent/mocks/__init__.py
  agent/src/metta/agent/mocks/mock_policy_record.py
  metta/eval/eval_stats_db.py
  metta/rl/kickstarter.py
  metta/rl/stats.py
  metta/rl/trainer.py
  metta/rl/wandb.py
  metta/sim/policy_wrapper.py
  metta/sim/utils.py
  tests/eval/test_eval_stats_db.py
  tests/test_num_episodes_bug.py
Due: core, agent

Path conditions:
  core: any file but: app_backend/, agent/, mettagrid/, common/, **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  app_backend: any of: app_backend/, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  agent: any of: agent/, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  mettagrid: any of: mettagrid/, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  mettagrid_cpp: any of: **/*.cpp, **/*.cc, **/*.cxx, **/*.c++, **/*.h, **/*.hpp, **/*.hh, **/*.hxx, **/*.h++, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  common: any of: common/, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
