Repository Metta-AI/metta: changes, and which Codecov flags are due for each by the changed paths.
All: core, app_backend, agent, mettagrid, mettagrid_cpp, common

codecov.yml:

# Codecov configuration for Metta-AI
# Documentation: https://docs.codecov.com/docs/codecov-yaml

# Wait for all CI jobs to complete before posting results
codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

# Coverage settings
coverage:
  # Round coverage to 2 decimal places
  precision: 2
  round: down

  # Status checks configuration
  status:
    # Project-wide coverage
    project:
      default:
        target: auto # Compare against base branch
        threshold: 1% # Allow 1% coverage drop
        base: auto
        informational: true # Won't fail PR, just inform

    # Coverage for changed lines only - this is your main gate
    patch:
      default:
        target: 50% # Minimum 50% coverage on new code
        threshold: 0% # No tolerance below 50%
        base: auto
        if_ci_failed: success # Don't fail if CI fails
        if_not_found: success # Don't fail if no coverage data

      # Additional informational patch check
      informational:
        target: 80% # Ideal target
        threshold: 0%
        informational: true # Won't fail, just shows as warning

# Pull request comment configuration
comment:
  layout: "header, diff, flags, components, files"
  behavior: default
  require_changes: false # Post comment even if no coverage change
  require_base: false # Don't require base coverage
  require_head: true # Must have head coverage to post
  hide_project_coverage: false # Show overall project coverage

# Flag configuration for different test suites
flags:
  core:
    paths:
      - "!app_backend/"
      - "!agent/"
      - "!mettagrid/"
      - "!common/"
    carryforward: true

  app_backend:
    paths:
      - app_backend/
    carryforward: true

  agent:
    paths:
      - agent/
    carryforward: true

  mettagrid:
    paths:
      - mettagrid/
    carryforward: true

  mettagrid_cpp:
    paths:
      - "**/*.cpp"
      - "**/*.cc"
      - "**/*.cxx"
      - "**/*.c++"
      - "**/*.h"
      - "**/*.hpp"
      - "**/*.hh"
      - "**/*.hxx"
      - "**/*.h++"
    carryforward: true

  common:
    paths:
      - common/
    carryforward: true

# Ignore certain paths from coverage
ignore:
  - "**/tests/"
  - "**/test_*.py"
  - "**/*_test.py"
  - "**/conftest.py"
  - "setup.py"
  - "**/migrations/"
  - "**/__pycache__/"
  - "**/node_modules/"
  - "**/*.pb.py" # Generated protobuf files
  - "**/*.pyi" # Type stub files
  - "**/fixtures/"
  - "**/mocks/"
  - "**/build/" # C++ build directories
  - "**/cmake-build-*/" # CLion/CMake build directories
  - "**/CMakeFiles/" # CMake generated files
  - "**/*.o" # Object files
  - "**/*.a" # Static libraries
  - "**/*.so" # Shared libraries
  - "**/*.dylib" # macOS dynamic libraries
  - "**/*.dll" # Windows dynamic libraries

# GitHub integration settings
github_checks:
  annotations: true # Show coverage annotations in PR files view

ruff fix
  mettagrid/tests/test_converter_replay_debug.py
Due: none

test
  configs/user/jacke.yaml
  mettagrid/tests/test_converter_items.py
Due: core

update tests
  mettagrid/tests/test_converter_items.py
  mettagrid/tests/test_converter_replay_debug.py
Due: none

reset zoom
  mettascope/src/demomode.ts
Due: core

test
  mettagrid/tests/test_converter_items.py
Due: none

buff camera speed
  mettascope/src/common.ts
Due: core

Remove unused current_resource_reward field from Agent class (#1621)
  mettagrid/src/metta/mettagrid/objects/agent.hpp
  mettagrid/tests/test_mettagrid.cpp
Due: mettagrid, mettagrid_cpp

refactor metta_script and add logging to train_dir (#1453)
  app_backend/src/metta/app_backend/eval_task_orchestrator.py
  app_backend/src/metta/app_backend/eval_task_worker.py
  common/src/metta/common/util/logging_helpers.py
  common/src/metta/common/util/resolvers.py
  common/src/metta/common/util/script_decorators.py
  common/tests/wandb/test_wandb_context.py
  configs/hydra.yaml
  metta/gridworks/server.py
  metta/map/utils/dcss.py
  metta/map/utils/make_scene_config.py
  metta/rl/trainer.py
  metta/rl/vecenv.py
  metta/util/init/mettagrid_environment.py
  metta/util/metta_script.py
  mettascope/replays.py
  mettascope/server.py
  tests/rl/test_trainer_config.py
  tests/util/fixtures/script.py
  tests/util/test_metta_script.py
  tools/analyze.py
  tools/autotune.py
  tools/dashboard.py
  tools/map/gen.py
  tools/map/gen_scene.py
  tools/map/view.py
  tools/play.py
  tools/renderer.py
  tools/replay.py
  tools/sim.py
  tools/stats_duckdb_cli.py
  tools/sweep_eval.py
  tools/sweep_prepare_run.py
  tools/sweep_setup.py
  tools/train.py
Due: core, app_backend, common

fix: max reward calculation in Agent::_update_resource_reward (#1602)
  mettagrid/src/metta/mettagrid/objects/agent.hpp
  mettagrid/tests/test_mettagrid.cpp
Due: mettagrid, mettagrid_cpp

[MettaScope] camera clamping (#1557)
  configs/user/monofuel.yaml
  mettascope/src/worldmap.ts
Due: core

chore: improve CI test parallelism (#1606)
  .cspell.json
  .github/actions/asana/ensure-task/action.yml
  .github/actions/fetch-artifacts/action.yml
  .github/actions/setup-uv/action.yml
  .github/scripts/check_mettagrid_build.py
  .github/scripts/upload_codecov.py
  .github/workflows/asana-integration.yml
  .github/workflows/auto-tag-researcher-current.yml
  .github/workflows/checks.yml
  .github/workflows/claude-review-base.yml
  .github/workflows/claude-review-orchestrator.yml
  .github/workflows/generate-newsletter.yml
  .github/workflows/stale.yml
  .github/workflows/test-demo-environments.yml
  .github/workflows/test-fetch-artifacts.yml
  app_backend/src/metta/app_backend/docker-compose.yml
  app_backend/tests/test_saved_dashboards.py
  tests/tools/map/maze.yaml
  tests/tools/test_renderer_job.py
Due: core, app_backend

Move last reference to private resource out of trainer config (#1619)
  metta/rl/trainer_config.py
  tests/rl/test_trainer_config.py
Due: core

Update search for metric keys in policy metadata (#1609)
  agent/src/metta/agent/policy_store.py
Due: agent

[MettaScope] change worldmap to switch to minimap style when zooming far out (#1442)
  mettascope/src/common.ts
  mettascope/src/minimap.ts
  mettascope/src/panels.ts
  mettascope/src/tooltips.ts
  mettascope/src/worldmap.ts
  mettascope/style.css
Due: core

Disable unneeded actions from nav evals (#1603)
  configs/env/mettagrid/navigation/evals/defaults.yaml
Due: core

Rename action handlers from get_output/put_recipe_items to get_items/put_items (#1625)
  configs/user/daveey.yaml
  mettagrid/src/metta/mettagrid/actions/get_output.hpp
  mettagrid/src/metta/mettagrid/actions/put_recipe_items.hpp
  mettagrid/tests/test_mettagrid.cpp
  mettagrid/tests/test_rewards.py
  mettascope/src/actions.ts
  mettascope/src/worldmap.ts
Due: core, mettagrid, mettagrid_cpp

Policy evaluator helm charts (#1604)
  app_backend/README.md
  app_backend/pyproject.toml
  app_backend/src/metta/app_backend/container_managers/factory.py
  app_backend/src/metta/app_backend/container_managers/k8s.py
  app_backend/src/metta/app_backend/docker-compose.yml
  app_backend/tests/test_eval_task_orchestrator_integration.py
  devops/charts/helmfile.yaml
  devops/charts/orchestrator/Chart.yaml
  devops/charts/orchestrator/environments/kind.yaml
  devops/charts/orchestrator/templates/_helpers.tpl
  devops/charts/orchestrator/templates/deployment.yaml
  devops/charts/orchestrator/templates/role.yaml
  devops/charts/orchestrator/templates/rolebinding.yaml
  devops/charts/orchestrator/templates/serviceaccount.yaml
  devops/charts/orchestrator/values.yaml
  devops/docker/Dockerfile.local
  metta/setup/local_commands.py
  metta/setup/metta_cli.py
  metta/setup/tools/local/kind.py
  uv.lock
Due: core, app_backend

Make notebooks a namespace package (#1613)
  notebooks/README.md
  notebooks/__init__.py
  notebooks/pyproject.toml
  notebooks/research/example.ipynb
  notebooks/utils/replays.py
  pyproject.toml
  uv.lock
Due: core

Fix problematic curricula (#1622)
  configs/env/mettagrid/curriculum/multiagent.yaml
  configs/env/mettagrid/curriculum/objects/all_objects.yaml
  configs/env/mettagrid/multiagent/experiments/cylinder_world.yaml
  configs/env/mettagrid/object_use/training/easy_all_objects.yaml
  tests/test_validate_all_envs.py
Due: core

Categorical distribution as an option for bucketed sampling (#1610)
  mettagrid/src/metta/mettagrid/curriculum/bucketed.py
  mettagrid/src/metta/mettagrid/curriculum/sampling.py
Due: mettagrid

Allow lots more agent_ids (#1623)
  configs/user/sasmith.yaml
  mettagrid/src/metta/mettagrid/objects/agent.hpp
Due: core, mettagrid, mettagrid_cpp

Eval stats worker authenticates with stats server (#1597)
  app_backend/src/metta/app_backend/container_managers/base.py
  app_backend/src/metta/app_backend/container_managers/docker.py
  app_backend/src/metta/app_backend/container_managers/k8s.py
  app_backend/src/metta/app_backend/eval_task_orchestrator.py
  app_backend/src/metta/app_backend/eval_task_worker.py
  app_backend/src/metta/app_backend/kind.sh
  app_backend/tests/test_eval_task_orchestrator_integration.py
  devops/observatory_login.py
  metta/setup/local_commands.py
  metta/setup/metta_cli.py
  metta/setup/tools/local/kind.py
Due: core, app_backend

v1 researcher notebook (#1457)
  .cspell.json
  .github/workflows/checks.yml
  .gitignore
  metta/setup/metta_cli.py
  notebooks/README.md
  notebooks/mettabook-template.ipynb
  notebooks/utils/__init__.py
  notebooks/utils/metrics.py
  notebooks/utils/monitoring.py
  notebooks/utils/replays.py
  notebooks/utils/training.py
  pyproject.toml
  uv.lock
Due: core

[Policy evaluator] 7: management UI (#1556)
  app_backend/README.md
  app_backend/src/metta/app_backend/metta_repo.py
  app_backend/src/metta/app_backend/routes/eval_task_routes.py
  observatory/src/App.tsx
  observatory/src/Dashboard.tsx
  observatory/src/Episodes.tsx
  observatory/src/EvalTasks.tsx
  observatory/src/TrainingRunDetail.tsx
  observatory/src/repo.ts
Due: core, app_backend

feat: System Implementation for RL adapters (Gymnasium, PettingZoo, PufferLib) (#1552)
  .github/workflows/test-demo-environments.yml
  mettagrid/README.md
  mettagrid/demos/README.md
  mettagrid/demos/demo_train_gym.py
  mettagrid/demos/demo_train_pettingzoo.py
  mettagrid/demos/demo_train_puffer.py
  mettagrid/src/metta/mettagrid/__init__.py
  mettagrid/src/metta/mettagrid/base_env.py
  mettagrid/src/metta/mettagrid/pettingzoo_env.py
  mettagrid/tests/test_interactive.py
  mettagrid/tests/test_pettingzoo_env.py
Due: core, mettagrid

[MettaScope] add button hover text (#1505)
  mettascope/src/main.ts
  mettascope/src/tooltips.ts
Due: core

improve sandbox ux
  common/src/metta/common/util/cli.py
  common/src/metta/common/util/cost_monitor.py
  common/src/metta/common/util/text_styles.py
  common/tests/util/test_colorama.py
  devops/docker/push_image.py
  devops/skypilot/configure_jobs_controller.py
  devops/skypilot/connect.py
  devops/skypilot/launch.py
  devops/skypilot/sandbox.py
  devops/skypilot/utils.py
  devops/tools/cleanup_repo.py
  metta/setup/utils.py
  mettagrid/generate_coverage.py
Due: core, mettagrid, common

nits
  devops/skypilot/sandbox.py
Due: core

support for current pufferlib torch.py (#1624)
  agent/src/metta/agent/external/example.py
  agent/src/metta/agent/policy_store.py
  metta/rl/puffer_policy.py
Due: core, agent

Initial commit
  configs/trainer/dual_policy_example.yaml
  docs/dual_policy_training.md
  metta/rl/scripted_npc.py
  metta/rl/trainer.py
  metta/rl/trainer_config.py
  metta/rl/util/dual_policy_rollout.py
  notebooks/mettabook-template.ipynb
  notebooks/research/example.ipynb
  tests/rl/test_dual_policy.py
Due: core

Fix for wandb=off (#1577)
  devops/train.sh
Due: core

specifying project
  configs/trainer/dual_policy_example.yaml
Due: core

add arrow keys to input
  mettascope/src/actions.ts
Due: core

Updating config to add evals
  configs/trainer/dual_policy_example.yaml
Due: core
