Repository Metta-AI/metta: changes, and which Codecov flags are due for each by the changed paths.
All: core, app_backend, agent, mettagrid, mettagrid_cpp, common

minor cleanups
  metta/eval/analysis_config.py
  metta/map/scene.py
  metta/tools/analyze.py
  metta/tools/play.py
  metta/tools/sim.py
  metta/tools/train.py
Due: core

remove hydra from dependencies
  mettagrid/pyproject.toml
  mettagrid/src/metta/mettagrid/util/hydra.py
Due: mettagrid

cp
  common/src/metta/common/util/config.py
  devops/skypilot/config/skypilot_run.sh
  devops/skypilot/config/skypilot_run.yaml
  devops/skypilot/launch.py
  devops/skypilot/setup_shell.sh
  devops/skypilot/utils.py
  experiments/arena.py
  experiments/evals/navigation.py
  experiments/navigation.py
  experiments/user/daveey.py
  metta/cogworks/curriculum/curriculum_env.py
  metta/cogworks/curriculum/task_generator.py
  metta/sim/simulation.py
  metta/tools/sim.py
  mettagrid/src/metta/mettagrid/config/envs.py
  mettagrid/src/metta/mettagrid/mettagrid_c_config.py
  mettagrid/tests/test_8way_movement.py
  mettagrid/tests/test_cardinal_movement.py
  mettagrid/tests/test_gym_env.py
  mettagrid/tests/test_interactive.py
  mettagrid/tests/test_new_env_hierarchy.py
  mettagrid/tests/test_pettingzoo_env.py
  tests/cogworks/curriculum/test_curriculum_env.py
  tests/cogworks/curriculum/test_serialization.py
  tests/test_action_compatibility.py
  tests/tools/map/test_gen.py
  tests/tools/test_renderer_job.py
  tools/run.py
Due: core, mettagrid, common

Clean up setup module applicability/enabled checks
  metta/setup/components/aws.py
  metta/setup/components/base.py
  metta/setup/components/codeclip.py
  metta/setup/components/core.py
  metta/setup/components/filter_repo.py
  metta/setup/components/githooks.py
  metta/setup/components/mettascope.py
  metta/setup/components/nodejs.py
  metta/setup/components/notebookwidgets.py
  metta/setup/components/observatory_key.py
  metta/setup/components/skypilot.py
  metta/setup/components/system.py
  metta/setup/components/tailscale.py
  metta/setup/components/wandb.py
  metta/setup/metta_cli.py
  metta/setup/registry.py
Due: core

cp
  app_backend/src/metta/app_backend/clients/stats_client.py
  common/src/metta/common/config/__init__.py
  experiments/arena.py
  experiments/evals/run.py
  metta/map/tools/dcss_import.py
  metta/map/tools/gen.py
  metta/map/tools/gen_scene.py
  metta/map/tools/view.py
  metta/rl/hyperparameter_scheduler.py
  metta/rl/trainer_config.py
  metta/rl/vecenv.py
  metta/tools/analyze.py
  metta/tools/play.py
  metta/tools/replay.py
  metta/tools/sim.py
  metta/tools/train.py
  mettagrid/src/metta/mettagrid/util/hydra.py
  softmax/softmax.py
  tests/rl/test_hyperparameter_scheduler.py
  tools/run.py
  tools/sweep_setup.py
  tools/train.py
Due: core, app_backend, mettagrid, common

more mapgen refactorings
  experiments/evals/navigation.py
  experiments/evals/run.py
  metta/map/load.py
  metta/map/mapgen.py
  metta/map/scene.py
  metta/map/scenes/ascii.py
  metta/map/scenes/auto.py
  metta/map/scenes/mirror.py
  metta/map/scenes/multi_left_and_right.py
  metta/map/scenes/random_objects.py
  metta/map/scenes/random_scene_from_dir.py
  metta/map/tools/gen.py
  metta/map/tools/gen_scene.py
  metta/map/tools/view.py
  metta/map/utils/make_scene_config.py
  metta/map/utils/show.py
  metta/map/utils/storable_map.py
  mettagrid/src/metta/mettagrid/config/envs.py
  tests/map/scenes/test_make_connected.py
  tests/map/scenes/test_mirror.py
  tests/map/scenes/test_random_scene.py
  tests/map/scenes/test_remove_agents.py
  tests/map/test_scene.py
  tests/map/utils/test_storable_map_io.py
  tools/map/gen.py
  tools/map/gen_scene.py
  tools/map/view.py
  tools/run.py
Due: core, mettagrid

update uv.lock; someone updated deps somewhere in the stack
  uv.lock
Due: core

fix use old config with envconfig on test_mettagrid, method to property refactoring
  mettagrid/tests/test_mettagrid.py
Due: none

wip
  agent/src/metta/agent/policy_store.py
  experiments/user/berekuk.py
  metta/tools/analyze.py
  metta/tools/play.py
  metta/tools/replay.py
  metta/tools/sim.py
  metta/tools/train.py
  tools/sim.py
Due: core, agent

map reconstruction test fixed, env hierarchy test wall and agent config
  mettagrid/tests/test_env_config_serialization.py
  mettagrid/tests/test_new_env_hierarchy.py
Due: none

cleanup mapgen types
  metta/map/mapgen_ascii.py
  metta/map/scene.py
  metta/map/utils/dcss.py
  metta/map/utils/make_scene_config.py
  tests/map/scenes/test_ascii.py
  tests/map/scenes/test_auto.py
  tests/map/scenes/test_bsp.py
  tests/map/scenes/test_convchain.py
  tests/map/scenes/test_inline_ascii.py
  tests/map/scenes/test_layout.py
  tests/map/scenes/test_make_connected.py
  tests/map/scenes/test_maze.py
  tests/map/scenes/test_mean_distance.py
  tests/map/scenes/test_mirror.py
  tests/map/scenes/test_multi_left_and_right.py
  tests/map/scenes/test_nop.py
  tests/map/scenes/test_radial_maze.py
  tests/map/scenes/test_random.py
  tests/map/scenes/test_random_objects.py
  tests/map/scenes/test_random_scene.py
  tests/map/scenes/test_random_scene_from_dir.py
  tests/map/scenes/test_remove_agents.py
  tests/map/scenes/test_room_grid.py
  tests/map/scenes/test_wfc.py
  tests/map/scenes/utils.py
  tests/map/test_mapgen.py
  tests/map/utils/test_storable_map_io.py
Due: core

removed hardcoded paths from play.py
  metta/tools/play.py
Due: core

cp
  .vscode/launch.json
  cogworks/curriculum/curriculum.py
  cogworks/curriculum/task_generator.py
  common/src/metta/common/util/config.py
  devops/run.sh
  experiments/arena.py
  experiments/evals/navigation.py
  experiments/navigation.py
  experiments/user/daveey.py
  metta/cogworks/curriculum/__init__.py
  metta/cogworks/curriculum/curriculum_env.py
  metta/cogworks/curriculum/task_generator.py
  metta/rl/vecenv.py
  metta/tools/train.py
  mettagrid/src/metta/mettagrid/config/envs.py
  mettagrid/src/metta/mettagrid/mettagrid_config.py
  mettagrid/src/metta/mettagrid/puffer_base.py
  tools/run.py
Due: core, mettagrid, common

fix visitation counts test
  mettagrid/tests/test_visitation_counts.py
Due: none

more mapgen cleanups
  experiments/evals/registry.py
  experiments/user/berekuk.py
  metta/map/load.py
  metta/map/mapgen.py
  metta/map/scene.py
  metta/map/scenes/mirror.py
  metta/map/scenes/random_scene.py
  mettagrid/src/metta/mettagrid/config/envs.py
Due: core, mettagrid

streamline test_observations.py
  mettagrid/tests/test_observations.py
Due: none

auto configs for wandb
  common/src/metta/common/wandb/wandb_context.py
  metta/setup/components/observatory_key.py
  metta/setup/components/wandb.py
  metta/setup/shell.py
  metta/tools/analyze.py
  metta/tools/play.py
  metta/tools/replay.py
  metta/tools/sim.py
  metta/tools/utils/__init__.py
  metta/tools/utils/auto_config.py
  tools/train.py
Due: core, common

fix --overrides
  common/src/metta/common/util/config.py
  tools/run.py
Due: core, common

terrain_from_numpy fix
  metta/map/terrain_from_numpy.py
  mettagrid/src/metta/mettagrid/map_builder/map_builder.py
Due: core, mettagrid

update uv.lock
  uv.lock
Due: core

remove hydraless_metta_script
  metta/util/metta_script.py
Due: core

cp
  .cspell.json
  experiments/arena.py
  experiments/arena/__init__.py
  experiments/evals/__init__.py
  experiments/evals/navigation.py
  experiments/navigation.py
  metta/cogworks/curriculum/learning_progress.py
  metta/cogworks/curriculum/task_generator.py
  mettagrid/src/metta/mettagrid/config/envs.py
Due: core, mettagrid

cleanup legacy mapgen-related builders
  configs/env/mettagrid/game/map_builder/load_random.yaml
  docs/mapgen.md
  metta/map/load.py
  metta/map/load_random.py
  metta/map/load_random_from_index.py
  metta/map/tools/view.py
  metta/map/utils/storable_map.py
Due: core

cp
  devops/skypilot/config/skypilot_run.sh
  devops/skypilot/launch.py
  experiments/arena.py
  metta/map/__init__.py
  metta/rl/system_config.py
  metta/setup/local_commands.py
  mettagrid/src/metta/mettagrid/mettagrid_c_config.py
  mettagrid/src/metta/mettagrid/mettagrid_config.py
  mettagrid/tests/test_resource_loss.py
  mettagrid/tests/test_visitation_counts.py
  mettascope/tests/test_replay_format_validator.py
  pnpm-lock.yaml
  tests/cogworks/curriculum/test_curriculum_env.py
  tests/map/scenes/test_random_scene_from_dir.py
  tests/sim/test_simulation_stats_db.py
  tests/sweep/test_integration_sweep_centralized.py
  tests/sweep/test_integration_sweep_pipeline.py
  tests/sweep/test_sweep_config_loading.py
  tests/sweep/test_sweep_init.py
  tests/test_sweep_config_utils.py
  tests/tools/test_opportunistic_policy.py
  tests/tools/test_policy_selection.py
  tools/request_eval.py
Due: core, mettagrid

cp
  agent/src/metta/agent/policy_store.py
  common/src/metta/common/wandb/wandb_context.py
  common/tests/wandb/test_wandb_context.py
  experiments/arena.py
  experiments/evals/navigation.py
  experiments/evals/run.py
  experiments/navigation.py
  experiments/user/daveey.py
  metta/map/mapgen.py
  metta/map/utils/show.py
  metta/rl/trainer_config.py
  metta/tools/analyze.py
  metta/tools/play.py
  metta/tools/replay.py
  metta/tools/sim.py
  softmax/softmax.py
  tests/tools/test_renderer_job.py
  tools/train.py
Due: core, agent, common

fixes
  metta/map/tools/view.py
  metta/tools/analyze.py
  metta/tools/play.py
  metta/tools/replay.py
  metta/tools/sim.py
  metta/tools/train.py
Due: core

okay, for now evaluate_local by default, and plan to implement evaluate_local=False by default via softmax profiles
  common/src/metta/common/util/collections.py
  metta/setup/components/base.py
  metta/setup/components/notebookwidgets.py
  metta/setup/components/tailscale.py
  metta/setup/metta_cli.py
  metta/setup/registry.py
  metta/setup/saved_settings.py
  tests/setup/test_integration_install.py
Due: core, common

evals registry
  app_backend/src/metta/app_backend/eval_task_worker.py
  experiments/evals/registry.py
  experiments/evals/run.py
  experiments/evals/suites/navigation.py
  metta/eval/eval_service.py
  metta/tools/sim.py
Due: core, app_backend

fix: marking training run as failed on exception
  metta/rl/trainer.py
Due: core

revert to agent groups
  mettagrid/tests/test_interactive.py
  mettagrid/tests/test_new_env_hierarchy.py
  mettagrid/tests/test_pettingzoo_env.py
Due: none

cp
  experiments/evals/navigation.py
  metta/map/mapgen.py
  metta/rl/trainer_config.py
  mettagrid/tests/test_observations.py
Due: core

cp
  .gitignore
  configs/hydra.yaml
  docs/tools.md
  experiments/arena.py
  experiments/evals/run.py
  experiments/marimo/01-hello-world-marimo.py
  experiments/notebooks/01-hello-world.ipynb
  experiments/notebooks/01-hello-world.py
  experiments/user_template.py
  metta/sweep/sweep_rollout.py
  metta/tools/sim.py
  mettagrid/src/metta/mettagrid/mettagrid_env.py
  mettagrid/src/metta/mettagrid/util/hydra.py
  pnpm-lock.yaml
  tests/sweep/test_sweep_config_loading.py
  tests/tools/map/test_gen.py
  tests/tools/test_get_best_params_from_sweep.py
  tools/get_best_params_from_sweep.py
  tools/sweep_prepare_run.py
Due: core, mettagrid

cp
  arena/daveey-test-run-3/checkpoints/model_0000.pt
  arena/daveey-test-run-3/checkpoints/model_0010.pt
  arena/daveey-test-run-3/checkpoints/model_0020.pt
  configs/user/daveey.yaml
  experiments/arena/arena.py
  experiments/user/daveey.py
  metta/map/__init__.py
  metta/map/mapgen.py
  metta/map/terrain_from_numpy.py
  metta/rl/torch_profiler.py
  metta/rl/trainer_config.py
  metta/sim/simulation.py
  metta/tools/train.py
  mettagrid/src/metta/mettagrid/config/envs.py
  mettagrid/src/metta/mettagrid/map_builder/__init__.py
  mettagrid/src/metta/mettagrid/mettagrid_config.py
  mettagrid/src/metta/mettagrid/test_support/__init__.py
  mettagrid/tests/map_builder/test_ascii.py
  mettagrid/tests/map_builder/test_polymorphic_serialization.py
  tests/map/test_mapgen.py
  tools/run.py
Due: core, mettagrid

cleanup labels
  metta/map/scene.py
  metta/map/scenes/copy_grid.py
  metta/map/scenes/room_grid.py
  metta/map/scenes/transplant_scene.py
  metta/map/scenes/varied_terrain.py
Due: core

MapBuilder.Config fixes & tests
  mettagrid/benchmarks/test_mettagrid_env_benchmark.py
  mettagrid/src/metta/mettagrid/map_builder/ascii.py
  mettagrid/src/metta/mettagrid/map_builder/map_builder.py
  mettagrid/tests/map_builder/test_ascii.py
  mettagrid/tests/map_builder/test_map_builder.py
  mettagrid/tests/map_builder/test_maze.py
  mettagrid/tests/map_builder/test_polymorphic_serialization.py
  mettagrid/tests/map_builder/test_random.py
  mettagrid/tests/renderer/test_nethack.py
  mettagrid/tests/test_8way_movement.py
  mettagrid/tests/test_cardinal_movement.py
  mettagrid/tests/test_env_config_serialization.py
  mettagrid/tests/test_gym_env.py
  mettagrid/tests/test_interactive.py
  mettagrid/tests/test_mettagrid.py
  mettagrid/tests/test_new_env_hierarchy.py
  mettagrid/tests/test_no_agent_interference.py
  mettagrid/tests/test_observations.py
  mettagrid/tests/test_pettingzoo_env.py
  mettagrid/tests/test_visitation_counts.py
  mettagrid/tests/test_wandb_movement_metrics.py
  tests/map/scenes/test_maze.py
  tests/map/utils/test_storable_map_io.py
Due: mettagrid

fix ruff issues, replaced TestEnvironmentBuilder with EnvConfig pattern, fixed property access
  mettagrid/tests/test_8way_movement.py
Due: none

feat: implement 100M step world model pre-training with heartbeat monitoring
  configs/trainer/trainer.yaml
  metta/rl/trainer.py
  metta/rl/trainer_config.py
Due: core

works on 3
  experiments/marimo/01-hello-world-marimo.py
  experiments/pyproject.toml
  pyproject.toml
  uv.lock
Due: core

Evaluate remotely by default
  tools/train.py
Due: core

Path conditions:
  core: any file but: app_backend/, agent/, mettagrid/, common/, **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  app_backend: any of: app_backend/, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  agent: any of: agent/, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  mettagrid: any of: mettagrid/, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  mettagrid_cpp: any of: **/*.cpp, **/*.cc, **/*.cxx, **/*.c++, **/*.h, **/*.hpp, **/*.hh, **/*.hxx, **/*.h++, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  common: any of: common/, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
