Repository Metta-AI/metta: changes, and which Codecov flags are due for each by the changed paths.
All: core, app_backend, agent, mettagrid, mettagrid_cpp, common

remove hydraless_metta_script
  metta/util/metta_script.py
Due: core

removed hardcoded paths from play.py
  metta/tools/play.py
Due: core

cleanup legacy mapgen-related builders
  configs/env/mettagrid/game/map_builder/load_random.yaml
  docs/mapgen.md
  metta/map/load.py
  metta/map/load_random.py
  metta/map/load_random_from_index.py
  metta/map/tools/view.py
  metta/map/utils/storable_map.py
Due: core

cleanup labels
  metta/map/scene.py
  metta/map/scenes/copy_grid.py
  metta/map/scenes/room_grid.py
  metta/map/scenes/transplant_scene.py
  metta/map/scenes/varied_terrain.py
Due: core

fix visitation counts test
  mettagrid/tests/test_visitation_counts.py
Due: none

dehydrated nav evals
  .gitignore
  configs/env/mettagrid/mettagrid.yaml
  configs/env/mettagrid/navigation/evals/labyrinth.yaml
  experiments/evals/navigation.py
  experiments/user/berekuk.py
  metta/tools/sim.py
  mettagrid/src/metta/mettagrid/config/envs.py
  mettagrid/src/metta/mettagrid/map_builder/__init__.py
  mettagrid/tests/map_builder/test_polymorphic_serialization.py
Due: core, mettagrid

cp
  devops/skypilot/config/skypilot_run.sh
  devops/skypilot/launch.py
  experiments/arena.py
  metta/map/__init__.py
  metta/rl/system_config.py
  metta/setup/local_commands.py
  mettagrid/src/metta/mettagrid/mettagrid_c_config.py
  mettagrid/src/metta/mettagrid/mettagrid_config.py
  mettagrid/tests/test_resource_loss.py
  mettagrid/tests/test_visitation_counts.py
  mettascope/tests/test_replay_format_validator.py
  pnpm-lock.yaml
  tests/cogworks/curriculum/test_curriculum_env.py
  tests/map/scenes/test_random_scene_from_dir.py
  tests/sim/test_simulation_stats_db.py
  tests/sweep/test_integration_sweep_centralized.py
  tests/sweep/test_integration_sweep_pipeline.py
  tests/sweep/test_sweep_config_loading.py
  tests/sweep/test_sweep_init.py
  tests/test_sweep_config_utils.py
  tests/tools/test_opportunistic_policy.py
  tests/tools/test_policy_selection.py
  tools/request_eval.py
Due: core, mettagrid

more mapgen cleanups
  experiments/evals/registry.py
  experiments/user/berekuk.py
  metta/map/load.py
  metta/map/mapgen.py
  metta/map/scene.py
  metta/map/scenes/mirror.py
  metta/map/scenes/random_scene.py
  mettagrid/src/metta/mettagrid/config/envs.py
Due: core, mettagrid

cp
  common/src/metta/common/util/config.py
  devops/skypilot/config/skypilot_run.sh
  devops/skypilot/config/skypilot_run.yaml
  devops/skypilot/launch.py
  devops/skypilot/setup_shell.sh
  devops/skypilot/utils.py
  experiments/arena.py
  experiments/evals/navigation.py
  experiments/navigation.py
  experiments/user/daveey.py
  metta/cogworks/curriculum/curriculum_env.py
  metta/cogworks/curriculum/task_generator.py
  metta/sim/simulation.py
  metta/tools/sim.py
  mettagrid/src/metta/mettagrid/config/envs.py
  mettagrid/src/metta/mettagrid/mettagrid_c_config.py
  mettagrid/tests/test_8way_movement.py
  mettagrid/tests/test_cardinal_movement.py
  mettagrid/tests/test_gym_env.py
  mettagrid/tests/test_interactive.py
  mettagrid/tests/test_new_env_hierarchy.py
  mettagrid/tests/test_pettingzoo_env.py
  tests/cogworks/curriculum/test_curriculum_env.py
  tests/cogworks/curriculum/test_serialization.py
  tests/test_action_compatibility.py
  tests/tools/map/test_gen.py
  tests/tools/test_renderer_job.py
  tools/run.py
Due: core, mettagrid, common

sim.py dehydrated (wip)
  tools/analyze.py
Due: core

seed_everything
  common/src/metta/common/util/tool.py
  metta/rl/system_config.py
  metta/tools/play.py
  metta/tools/train.py
  tools/run.py
Due: core, common

wip
  configs/common.yaml
  configs/train_job.yaml
  configs/user/ci.yaml
  metta/util/init/mettagrid_system.py
  metta/util/metta_script.py
  tools/play.py
  tools/replay.py
  tools/train.py
Due: core

remove hydra from dependencies
  mettagrid/pyproject.toml
  mettagrid/src/metta/mettagrid/util/hydra.py
Due: mettagrid

update uv.lock
  uv.lock
Due: core

cp
  .gitignore
  experiments/user_template.py
  pnpm-lock.yaml
Due: core

cp
  experiments/evals/navigation.py
  metta/map/mapgen.py
  metta/rl/trainer_config.py
  mettagrid/tests/test_observations.py
Due: core

terrain_from_numpy fix
  metta/map/terrain_from_numpy.py
  mettagrid/src/metta/mettagrid/map_builder/map_builder.py
Due: core, mettagrid

feat
  experiments/sweep-dashboard/src/components/SweepSelector.tsx
Due: core

better sweep evals
  configs/sim/sweep_eval.yaml
  experiments/sweep-dashboard/backend.py
  experiments/sweep-dashboard/src/api/sweepApi.ts
  experiments/sweep-dashboard/src/components/SweepCharts.tsx
  experiments/sweep-dashboard/src/components/SweepSelector.tsx
  metta/sweep/wandb_utils.py
Due: core

fixed pytorch install + added confidence metrics
  experiments/sweep-dashboard/backend.py
  experiments/sweep-dashboard/src/components/ModelConfidence.tsx
  experiments/sweep-dashboard/src/components/SweepCharts.tsx
  experiments/sweep-dashboard/src/components/SweepDashboard.tsx
  metta/sweep/protein.py
Due: core

feat(sweep): React monitoring dashboard.
  configs/sweep/reduced.yaml
  experiments/sweep-dashboard/README.md
  experiments/sweep-dashboard/backend.py
  experiments/sweep-dashboard/index.html
  experiments/sweep-dashboard/package-lock.json
  experiments/sweep-dashboard/package.json
  experiments/sweep-dashboard/requirements.txt
  experiments/sweep-dashboard/run.sh
  experiments/sweep-dashboard/src/App.tsx
  experiments/sweep-dashboard/src/api/skyApi.ts
  experiments/sweep-dashboard/src/api/sweepApi.ts
  experiments/sweep-dashboard/src/components/ActiveRunsTable.tsx
  experiments/sweep-dashboard/src/components/SkyJobsMonitor.tsx
  experiments/sweep-dashboard/src/components/SweepCharts.tsx
  experiments/sweep-dashboard/src/components/SweepDashboard.tsx
  experiments/sweep-dashboard/src/components/SweepFilters.tsx
  experiments/sweep-dashboard/src/components/SweepMetrics.tsx
  experiments/sweep-dashboard/src/components/SweepSelector.tsx
  experiments/sweep-dashboard/src/index.css
  experiments/sweep-dashboard/src/main.tsx
  experiments/sweep-dashboard/src/types.ts
  experiments/sweep-dashboard/tsconfig.json
  experiments/sweep-dashboard/tsconfig.node.json
  experiments/sweep-dashboard/vite.config.ts
  metta/sweep/protein.py
  metta/sweep/wandb_utils.py
Due: core

change cost to 1usd/hr.
  configs/sweep/reduced.yaml
  configs/sweep_job.yaml
  metta/sweep/protein.py
  metta/sweep/sweep_lifecycle.py
Due: core

added random seeding in protein suggestion
  configs/sweep/reduced.yaml
  metta/sweep/protein.py
Due: core

feat: add heartbeat monitoring to evaluation pipeline
  metta/eval/eval_service.py
  metta/sim/simulation.py
  metta/sim/simulation_suite.py
Due: core

add step
  mettascope/server.py
  mettascope/src/common.ts
  mettascope/src/overlay.ts
  mettascope/src/replay.ts
Due: core

added dry run config for sweeps for testing
  configs/sweep_job_dry.yaml
Due: core

fix bug
  metta/sweep/sweep_lifecycle.py
Due: core

4 gpus
  recipes/operantconditioning_incontext.sh
Due: core

convert tools/analyze
  agent/src/metta/agent/policy_store.py
  tools/analyze.py
Due: core, agent

cp
  experiments/arena/arena.py
  metta/cogworks/curriculum/demo.py
  metta/eval/eval_service.py
  metta/rl/evaluate.py
  metta/rl/trainer.py
  metta/rl/trainer_config.py
  metta/sim/simulation.py
  metta/sim/simulation_config.py
  metta/sim/simulation_suite.py
  mettagrid/src/metta/mettagrid/mettagrid_config.py
  tools/play.py
  tools/replay.py
  tools/sim.py
  tools/sweep_eval.py
  tools/train.py
Due: core, mettagrid

tools/play.py overrides
  tools/play.py
Due: core

cp
  metta/rl/evaluate.py
  metta/rl/trainer.py
  metta/sim/simulation.py
  metta/sim/simulation_config.py
  metta/sim/simulation_stats_db.py
  metta/sim/simulation_suite.py
  mettagrid/src/metta/mettagrid/mettagrid_config.py
  tests/eval/test_eval_stats_db.py
  tests/sim/test_simulation_stats_db.py
Due: core, mettagrid

bring back test_metta_script test
  tests/util/fixtures/script.py
  tests/util/test_metta_script.py
Due: core

cp
  metta/cogworks/sweep/sweep_config.py
Due: core

convert tools/renderer
  metta/util/metta_script.py
  tools/renderer.py
Due: core

Revert "Implementation of dual-policy training (50% NPC, 50% agents) (#2180)"
  configs/trainer/trainer.yaml
  metta/rl/losses.py
  metta/rl/stats.py
  metta/rl/trainer.py
  metta/rl/trainer_config.py
  metta/rl/vecenv.py
  mettagrid/src/metta/mettagrid/mettagrid_env.py
  recipes/dual_policy_cloud.sh
Due: core, mettagrid

cp
  .vscode/launch.json
  agent/src/metta/agent/metta_agent.py
  agent/tests/test_metta_agent.py
  arena/daveey-test-run-3/checkpoints/model_0000.pt
  arena/daveey-test-run-3/checkpoints/model_0010.pt
  arena/daveey-test-run-3/checkpoints/model_0020.pt
  devops/train.sh
  experiments/arena/arena.py
  experiments/user/daveey.py
  metta/cogworks/curriculum/demo.py
  metta/map/mapgen.py
  metta/map/terrain_from_numpy.py
  metta/map/utils/show.py
  metta/rl/puffer_policy.py
  metta/rl/trainer_config.py
  mettagrid/demos/demo_train_gym.py
  mettagrid/demos/demo_train_puffer.py
  mettagrid/src/metta/mettagrid/config/__init__.py
  mettagrid/src/metta/mettagrid/config/building.py
  mettagrid/src/metta/mettagrid/config/envs.py
  mettagrid/src/metta/mettagrid/core.py
  mettagrid/src/metta/mettagrid/map_builder/map_builder.py
  mettagrid/src/metta/mettagrid/mettagrid_c_config.py
  mettagrid/src/metta/mettagrid/mettagrid_config.py
  mettagrid/tests/renderer/test_nethack.py
  mettagrid/tests/test_buffer_reuse.py
  mettagrid/tests/test_gym_env.py
  mettagrid/tests/test_interactive.py
  mettagrid/tests/test_movement_metrics.py
  mettagrid/tests/test_new_env_hierarchy.py
  mettagrid/tests/test_no_agent_interference.py
  mettagrid/tests/test_pettingzoo_env.py
  mettagrid/tests/test_wandb_movement_metrics.py
  tests/cogworks/curriculum/test_serialization.py
  tools/analyze.py
  tools/renderer.py
  tools/train.py
  tools/utils.py
Due: core, agent, mettagrid

cp
  experiments/arena/arena.py
  mettagrid/src/metta/mettagrid/core.py
  mettagrid/src/metta/mettagrid/mettagrid_config.py
  tools/train.py
Due: core, mettagrid

pydantic_metta_script
  metta/util/metta_script.py
  tools/play.py
  tools/replay.py
Due: core

Path conditions:
  core: any file but: app_backend/, agent/, mettagrid/, common/, **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  app_backend: any of: app_backend/, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  agent: any of: agent/, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  mettagrid: any of: mettagrid/, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  mettagrid_cpp: any of: **/*.cpp, **/*.cc, **/*.cxx, **/*.c++, **/*.h, **/*.hpp, **/*.hh, **/*.hxx, **/*.h++, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  common: any of: common/, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
