Repository Metta-AI/metta: changes, and which Codecov flags are due for each by the changed paths.
All: core, app_backend, agent, mettagrid, mettagrid_cpp, common

codecov.yml:

# Codecov configuration for Metta-AI
# Documentation: https://docs.codecov.com/docs/codecov-yaml

# Wait for all CI jobs to complete before posting results
codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

# Coverage settings
coverage:
  # Round coverage to 2 decimal places
  precision: 2
  round: down

  # Status checks configuration
  status:
    # Project-wide coverage
    project:
      default:
        target: auto # Compare against base branch
        threshold: 1% # Allow 1% coverage drop
        base: auto
        informational: true # Won't fail PR, just inform

    # Coverage for changed lines only - this is your main gate
    patch:
      default:
        target: 50% # Minimum 50% coverage on new code
        threshold: 0% # No tolerance below 50%
        base: auto
        if_ci_failed: success # Don't fail if CI fails
        if_not_found: success # Don't fail if no coverage data

      # Additional informational patch check
      informational:
        target: 80% # Ideal target
        threshold: 0%
        informational: true # Won't fail, just shows as warning

# Pull request comment configuration
comment:
  layout: "header, diff, flags, components, files"
  behavior: default
  require_changes: false # Post comment even if no coverage change
  require_base: false # Don't require base coverage
  require_head: true # Must have head coverage to post
  hide_project_coverage: false # Show overall project coverage

# Flag configuration for different test suites
flags:
  core:
    paths:
      - "!app_backend/"
      - "!agent/"
      - "!mettagrid/"
      - "!common/"
    carryforward: true

  app_backend:
    paths:
      - app_backend/
    carryforward: true

  agent:
    paths:
      - agent/
    carryforward: true

  mettagrid:
    paths:
      - mettagrid/
    carryforward: true

  mettagrid_cpp:
    paths:
      - "**/*.cpp"
      - "**/*.cc"
      - "**/*.cxx"
      - "**/*.c++"
      - "**/*.h"
      - "**/*.hpp"
      - "**/*.hh"
      - "**/*.hxx"
      - "**/*.h++"
    carryforward: true

  common:
    paths:
      - common/
    carryforward: true

# Ignore certain paths from coverage
ignore:
  - "**/tests/"
  - "**/test_*.py"
  - "**/*_test.py"
  - "**/conftest.py"
  - "setup.py"
  - "**/migrations/"
  - "**/__pycache__/"
  - "**/node_modules/"
  - "**/*.pb.py" # Generated protobuf files
  - "**/*.pyi" # Type stub files
  - "**/fixtures/"
  - "**/mocks/"
  - "**/build/" # C++ build directories
  - "**/cmake-build-*/" # CLion/CMake build directories
  - "**/CMakeFiles/" # CMake generated files
  - "**/*.o" # Object files
  - "**/*.a" # Static libraries
  - "**/*.so" # Shared libraries
  - "**/*.dylib" # macOS dynamic libraries
  - "**/*.dll" # Windows dynamic libraries

# GitHub integration settings
github_checks:
  annotations: true # Show coverage annotations in PR files view

wip
  tests/test_validate_all_envs.py
Due: none

make a test happier
  tests/test_validate_all_envs.py
Due: none

wip
  configs/env/mettagrid/navigation/training/sparse_bucketed_cfg.yaml
Due: core

fix rewards
  mettagrid/src/metta/mettagrid/objects/agent.hpp
  mettagrid/src/metta/mettagrid/objects/converter.hpp
  mettagrid/tests/test_mettagrid.cpp
Due: mettagrid, mettagrid_cpp

fix agent reward calculation
  mettagrid/src/metta/mettagrid/objects/agent.hpp
  mettagrid/tests/test_mettagrid.cpp
Due: mettagrid, mettagrid_cpp

Delete a.txt
  a.txt
Due: core

delete empty file
  f.txt
Due: core

add sparse nav training (#1546)
  configs/env/mettagrid/curriculum/navigation/learning_progress.yaml
  configs/env/mettagrid/navigation/training/sparse_bucketed.yaml
  configs/env/mettagrid/navigation/training/sparse_bucketed_cfg.yaml
  configs/user/sasmith.yaml
  tests/test_validate_all_envs.py
Due: core

Update download_action_logs.py
  .github/actions/asana/pr_gh_to_asana/test/download_action_logs.py
Due: core

Add _self_ to defaults where missing (#1600)
  configs/env/mettagrid/systematic_exploration_memory/evals/boxout.yaml
  configs/env/mettagrid/systematic_exploration_memory/evals/choose_wisely.yaml
  configs/env/mettagrid/systematic_exploration_memory/evals/corners.yaml
  configs/env/mettagrid/systematic_exploration_memory/evals/hall_of_mirrors.yaml
  configs/env/mettagrid/systematic_exploration_memory/evals/journey_home.yaml
  configs/env/mettagrid/systematic_exploration_memory/evals/little_landmark_hard.yaml
  configs/env/mettagrid/systematic_exploration_memory/evals/lobster_legs.yaml
  configs/env/mettagrid/systematic_exploration_memory/evals/lobster_legs_cues.yaml
  configs/env/mettagrid/systematic_exploration_memory/evals/memory_swirls.yaml
  configs/env/mettagrid/systematic_exploration_memory/evals/memory_swirls_hard.yaml
  configs/env/mettagrid/systematic_exploration_memory/evals/passing_things.yaml
  configs/env/mettagrid/systematic_exploration_memory/evals/rooms.yaml
  configs/env/mettagrid/systematic_exploration_memory/evals/spacey_memory.yaml
  configs/env/mettagrid/systematic_exploration_memory/evals/spiral_chamber.yaml
  configs/env/mettagrid/systematic_exploration_memory/evals/tease.yaml
  configs/env/mettagrid/systematic_exploration_memory/evals/tease_small.yaml
  configs/env/mettagrid/systematic_exploration_memory/evals/venture_out.yaml
  configs/env/mettagrid/systematic_exploration_memory/evals/you_shall_not_pass.yaml
Due: core

Hyperparameter scheduler (#1340)
  configs/env/mettagrid/cooperation/experimental/central_table_layout.yaml
  configs/env/mettagrid/cooperation/experimental/central_table_layout_curriculum.yaml
  configs/env/mettagrid/cooperation/experimental/central_table_layout_env.yaml
  configs/env/mettagrid/cooperation/experimental/central_table_layout_template.yaml
  configs/env/mettagrid/cooperation/experimental/confined_room_coord.yaml
  configs/env/mettagrid/cooperation/experimental/confined_room_coord_curriculum.yaml
  configs/env/mettagrid/cooperation/experimental/confined_room_coord_env.yaml
  configs/env/mettagrid/cooperation/experimental/confined_room_coord_template.yaml
  configs/env/mettagrid/cooperation/experimental/two_rooms_coord.yaml
  configs/env/mettagrid/cooperation/experimental/two_rooms_coord_curriculum.yaml
  configs/env/mettagrid/cooperation/experimental/two_rooms_coord_env.yaml
  configs/env/mettagrid/cooperation/experimental/two_rooms_coord_template.yaml
  configs/env/mettagrid/curriculum/overcooked.yaml
  configs/env/mettagrid/terrain_from_numpy.yaml
  configs/user/sasmith.yaml
  metta/rl/trainer.py
  mettagrid/src/metta/mettagrid/base_env.py
  mettagrid/src/metta/mettagrid/mettagrid_c_config.py
  mettagrid/src/metta/mettagrid/mettagrid_config.py
  mettagrid/src/metta/mettagrid/mettagrid_env.py
  tests/test_validate_all_envs.py
  tests/tools/map/maze.yaml
Due: core, mettagrid

fix tests
  mettagrid/src/metta/mettagrid/mettagrid_c_config.py
  mettagrid/src/metta/mettagrid/mettagrid_config.py
Due: mettagrid

Reduce the usage of random resolvers (#1579)
  configs/env/mettagrid/cooperation/experimental/central_table_layout.yaml
  configs/env/mettagrid/cooperation/experimental/central_table_layout_curriculum.yaml
  configs/env/mettagrid/cooperation/experimental/central_table_layout_env.yaml
  configs/env/mettagrid/cooperation/experimental/central_table_layout_template.yaml
  configs/env/mettagrid/cooperation/experimental/confined_room_coord.yaml
  configs/env/mettagrid/cooperation/experimental/confined_room_coord_curriculum.yaml
  configs/env/mettagrid/cooperation/experimental/confined_room_coord_env.yaml
  configs/env/mettagrid/cooperation/experimental/confined_room_coord_template.yaml
  configs/env/mettagrid/cooperation/experimental/two_rooms_coord.yaml
  configs/env/mettagrid/cooperation/experimental/two_rooms_coord_curriculum.yaml
  configs/env/mettagrid/cooperation/experimental/two_rooms_coord_env.yaml
  configs/env/mettagrid/cooperation/experimental/two_rooms_coord_template.yaml
  configs/env/mettagrid/curriculum/overcooked.yaml
  configs/env/mettagrid/terrain_from_numpy.yaml
  configs/user/sasmith.yaml
  metta/rl/trainer.py
  mettagrid/src/metta/mettagrid/base_env.py
  mettagrid/src/metta/mettagrid/mettagrid_c_config.py
  mettagrid/src/metta/mettagrid/mettagrid_config.py
  mettagrid/src/metta/mettagrid/mettagrid_env.py
  tests/test_validate_all_envs.py
  tests/tools/map/maze.yaml
Due: core, mettagrid

log bool as int
  common/src/metta/common/util/system_monitor.py
Due: common

log as a table
  common/src/metta/common/util/skypilot_latency.py
Due: common

add metric to test
  mettagrid/tests/test_global_reward_observations.py
Due: none

fix errors during merging
  mettagrid/src/metta/mettagrid/mettagrid_c.cpp
  mettagrid/src/metta/mettagrid/stats_tracker.hpp
Due: mettagrid, mettagrid_cpp

claude's first draft
  metta/ma/__init__.py
  metta/ma/config.py
  metta/ma/diversity.py
  metta/ma/evolution.py
  metta/ma/reward.py
  metta/ma/trainer.py
Due: core

fixing lack of functions.py issues
  configs/user/alex.yaml
  metta/rl/util/__init__.py
  metta/rl/util/losses.py
Due: core

Heavily reduce the amount of $sampling
  configs/env/mettagrid/extended_sequence/backchain1.yaml
  configs/env/mettagrid/extended_sequence/backchain2.yaml
  configs/env/mettagrid/extended_sequence/backchain3.yaml
  configs/env/mettagrid/game/map_builder/maze.yaml
  configs/env/mettagrid/multiagent/experiments/boxshare.yaml
  configs/env/mettagrid/multiagent/experiments/boxy.yaml
  configs/env/mettagrid/multiagent/experiments/cylinder_world.yaml
  configs/env/mettagrid/multiagent/experiments/defaults.yaml
  configs/env/mettagrid/multiagent/experiments/manhatten.yaml
  configs/env/mettagrid/multiagent/experiments/narrow_world.yaml
  configs/env/mettagrid/multiagent/experiments/terrain_from_numpy.yaml
  configs/env/mettagrid/multiagent/experiments/varied_terrain.yaml
  configs/env/mettagrid/multiagent/multiagent/boxshare.yaml
  configs/env/mettagrid/navigation/evals/emptyspace_sparse.yaml
  configs/env/mettagrid/navigation_sequence/experiments/cylinder_world.yaml
  configs/env/mettagrid/navigation_sequence/experiments/hard_mem_defaults.yaml
  configs/env/mettagrid/navigation_sequence/experiments/mem_defaults.yaml
  configs/env/mettagrid/navigation_sequence/experiments/sequence_defaults.yaml
  configs/env/mettagrid/navigation_sequence/experiments/terrain_from_numpy.yaml
Due: core

Disable stats metadata collection to reduce memory usage (#1589)
  metta/rl/trainer.py
  mettagrid/src/metta/mettagrid/stats_tracker.hpp
  mettagrid/tests/test_stats_tracker.cpp
Due: core, mettagrid, mettagrid_cpp

bash
  mettagrid/src/metta/mettagrid/mettagrid_env.py
  recipes/agent_pressure.sh
  test
  test.cpp
Due: core, mettagrid, mettagrid_cpp

rm flaky test
  app_backend/tests/test_saved_dashboards.py
Due: none

fix variable interpolation
  configs/env/mettagrid/navigation/training/sparse_bucketed_cfg.yaml
Due: core

update bucketed 3
  configs/env/mettagrid/curriculum/navigation/bucketed_3.yaml
Due: core

boost reward for termination
  mettagrid/src/metta/mettagrid/mettagrid_env.py
Due: mettagrid

update configs
  configs/env/mettagrid/curriculum/navigation/bucketed.yaml
  configs/env/mettagrid/curriculum/navigation/bucketed_2.yaml
  configs/env/mettagrid/curriculum/navigation/bucketed_time.yaml
  configs/env/mettagrid/navigation/training/defaults.yaml
  configs/sim_job.yaml
Due: core
