Repository Metta-AI/metta: changes, and which Codecov flags are due for each by the changed paths.
All: core, app_backend, agent, mettagrid, mettagrid_cpp, common

codecov.yml:

# Codecov configuration for Metta-AI
# Documentation: https://docs.codecov.com/docs/codecov-yaml

# Wait for all CI jobs to complete before posting results
codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

# Coverage settings
coverage:
  # Round coverage to 2 decimal places
  precision: 2
  round: down

  # Status checks configuration
  status:
    # Project-wide coverage
    project:
      default:
        target: auto # Compare against base branch
        threshold: 1% # Allow 1% coverage drop
        base: auto
        informational: true # Won't fail PR, just inform

    # Coverage for changed lines only - this is your main gate
    patch:
      default:
        target: 50% # Minimum 50% coverage on new code
        threshold: 0% # No tolerance below 50%
        base: auto
        if_ci_failed: success # Don't fail if CI fails
        if_not_found: success # Don't fail if no coverage data

      # Additional informational patch check
      informational:
        target: 80% # Ideal target
        threshold: 0%
        informational: true # Won't fail, just shows as warning

# Pull request comment configuration
comment:
  layout: "header, diff, flags, components, files"
  behavior: default
  require_changes: false # Post comment even if no coverage change
  require_base: false # Don't require base coverage
  require_head: true # Must have head coverage to post
  hide_project_coverage: false # Show overall project coverage

# Flag configuration for different test suites
flags:
  core:
    paths:
      - "!app_backend/"
      - "!agent/"
      - "!mettagrid/"
      - "!common/"
    carryforward: true

  app_backend:
    paths:
      - app_backend/
    carryforward: true

  agent:
    paths:
      - agent/
    carryforward: true

  mettagrid:
    paths:
      - mettagrid/
    carryforward: true

  mettagrid_cpp:
    paths:
      - "**/*.cpp"
      - "**/*.cc"
      - "**/*.cxx"
      - "**/*.c++"
      - "**/*.h"
      - "**/*.hpp"
      - "**/*.hh"
      - "**/*.hxx"
      - "**/*.h++"
    carryforward: true

  common:
    paths:
      - common/
    carryforward: true

# Ignore certain paths from coverage
ignore:
  - "**/tests/"
  - "**/test_*.py"
  - "**/*_test.py"
  - "**/conftest.py"
  - "setup.py"
  - "**/migrations/"
  - "**/__pycache__/"
  - "**/node_modules/"
  - "**/*.pb.py" # Generated protobuf files
  - "**/*.pyi" # Type stub files
  - "**/fixtures/"
  - "**/mocks/"
  - "**/build/" # C++ build directories
  - "**/cmake-build-*/" # CLion/CMake build directories
  - "**/CMakeFiles/" # CMake generated files
  - "**/*.o" # Object files
  - "**/*.a" # Static libraries
  - "**/*.so" # Shared libraries
  - "**/*.dylib" # macOS dynamic libraries
  - "**/*.dll" # Windows dynamic libraries

# GitHub integration settings
github_checks:
  annotations: true # Show coverage annotations in PR files view

bring back test_metta_script test
  tests/util/fixtures/script.py
  tests/util/test_metta_script.py
Due: core

cp
  metta/cogworks/sweep/sweep_config.py
Due: core

convert tools/analyze
  agent/src/metta/agent/policy_store.py
  tools/analyze.py
Due: core, agent

cp
  experiments/arena/arena.py
  mettagrid/src/metta/mettagrid/core.py
  mettagrid/src/metta/mettagrid/mettagrid_config.py
  tools/train.py
Due: core, mettagrid

cp
  .vscode/launch.json
  agent/src/metta/agent/metta_agent.py
  agent/tests/test_metta_agent.py
  arena/daveey-test-run-3/checkpoints/model_0000.pt
  arena/daveey-test-run-3/checkpoints/model_0010.pt
  arena/daveey-test-run-3/checkpoints/model_0020.pt
  devops/train.sh
  experiments/arena/arena.py
  experiments/user/daveey.py
  metta/cogworks/curriculum/demo.py
  metta/map/mapgen.py
  metta/map/terrain_from_numpy.py
  metta/map/utils/show.py
  metta/rl/puffer_policy.py
  metta/rl/trainer_config.py
  mettagrid/demos/demo_train_gym.py
  mettagrid/demos/demo_train_puffer.py
  mettagrid/src/metta/mettagrid/config/__init__.py
  mettagrid/src/metta/mettagrid/config/building.py
  mettagrid/src/metta/mettagrid/config/envs.py
  mettagrid/src/metta/mettagrid/core.py
  mettagrid/src/metta/mettagrid/map_builder/map_builder.py
  mettagrid/src/metta/mettagrid/mettagrid_c_config.py
  mettagrid/src/metta/mettagrid/mettagrid_config.py
  mettagrid/tests/renderer/test_nethack.py
  mettagrid/tests/test_buffer_reuse.py
  mettagrid/tests/test_gym_env.py
  mettagrid/tests/test_interactive.py
  mettagrid/tests/test_movement_metrics.py
  mettagrid/tests/test_new_env_hierarchy.py
  mettagrid/tests/test_no_agent_interference.py
  mettagrid/tests/test_pettingzoo_env.py
  mettagrid/tests/test_wandb_movement_metrics.py
  tests/cogworks/curriculum/test_serialization.py
  tools/analyze.py
  tools/renderer.py
  tools/train.py
  tools/utils.py
Due: core, agent, mettagrid

cp
  metta/rl/evaluate.py
  metta/rl/trainer.py
  metta/sim/simulation.py
  metta/sim/simulation_config.py
  metta/sim/simulation_stats_db.py
  metta/sim/simulation_suite.py
  mettagrid/src/metta/mettagrid/mettagrid_config.py
  tests/eval/test_eval_stats_db.py
  tests/sim/test_simulation_stats_db.py
Due: core, mettagrid

tools/play.py overrides
  tools/play.py
Due: core

convert tools/renderer
  metta/util/metta_script.py
  tools/renderer.py
Due: core

cp
  experiments/arena/arena.py
  metta/cogworks/curriculum/demo.py
  metta/eval/eval_service.py
  metta/rl/evaluate.py
  metta/rl/trainer.py
  metta/rl/trainer_config.py
  metta/sim/simulation.py
  metta/sim/simulation_config.py
  metta/sim/simulation_suite.py
  mettagrid/src/metta/mettagrid/mettagrid_config.py
  tools/play.py
  tools/replay.py
  tools/sim.py
  tools/sweep_eval.py
  tools/train.py
Due: core, mettagrid

fixes
  metta/tools/play.py
  tools/play.py
  tools/run.py
Due: core

CUDA OOM Fix (#2158)
  metta/rl/vecenv.py
Due: core

fix wall config and agents serialization migration issues
  mettagrid/tests/test_8way_movement.py
  mettagrid/tests/test_cardinal_movement.py
  mettagrid/tests/test_gym_env.py
  mettagrid/tests/test_interactive.py
  mettagrid/tests/test_pettingzoo_env.py
Due: none

map reconstruction test fixed, env hierarchy test wall and agent config
  mettagrid/tests/test_env_config_serialization.py
  mettagrid/tests/test_new_env_hierarchy.py
Due: none

minor cleanups
  metta/eval/analysis_config.py
  metta/map/scene.py
  metta/tools/analyze.py
  metta/tools/play.py
  metta/tools/sim.py
  metta/tools/train.py
Due: core

fix test_observations to ude new EnvConfig
  mettagrid/tests/test_observations.py
Due: none

tools/run.py
  common/src/metta/common/util/tool.py
  experiments/arena/arena.py
  experiments/user/daveey.py
  metta/rl/system_config.py
  metta/tools/play.py
  mettascope/server.py
  tools/replay.py
  tools/run.py
  tools/train.py
Due: core, common

fix ruff issues, replaced TestEnvironmentBuilder with EnvConfig pattern, fixed property access
  mettagrid/tests/test_8way_movement.py
Due: none

SimTool is running, SceneCofnig is pydantic
  experiments/evals/run.py
  experiments/evals/suites/navigation.py
  metta/map/load.py
  metta/map/load_random.py
  metta/map/load_random_from_index.py
  metta/map/mapgen.py
  metta/map/mapgen_ascii.py
  metta/map/scene.py
  metta/map/scenes/ascii.py
  metta/map/scenes/auto.py
  metta/map/scenes/mirror.py
  metta/map/scenes/multi_left_and_right.py
  metta/map/scenes/random_objects.py
  metta/map/scenes/random_scene.py
  metta/map/scenes/random_scene_from_dir.py
  metta/map/types.py
  metta/tools/sim.py
  mettagrid/src/metta/mettagrid/config/envs.py
  mettagrid/src/metta/mettagrid/map_builder/__init__.py
  mettagrid/tests/map_builder/test_polymorphic_serialization.py
  tests/map/scenes/test_make_connected.py
  tests/map/scenes/test_remove_agents.py
  tests/map/scenes/test_room_grid.py
  tests/map/scenes/utils.py
  tests/map/test_scene.py
  tools/run.py
Due: core, mettagrid

cp
  arena/daveey-test-run-3/checkpoints/model_0000.pt
  arena/daveey-test-run-3/checkpoints/model_0010.pt
  arena/daveey-test-run-3/checkpoints/model_0020.pt
  configs/user/daveey.yaml
  experiments/arena/arena.py
  experiments/user/daveey.py
  metta/map/__init__.py
  metta/map/mapgen.py
  metta/map/terrain_from_numpy.py
  metta/rl/torch_profiler.py
  metta/rl/trainer_config.py
  metta/sim/simulation.py
  metta/tools/train.py
  mettagrid/src/metta/mettagrid/config/envs.py
  mettagrid/src/metta/mettagrid/map_builder/__init__.py
  mettagrid/src/metta/mettagrid/mettagrid_config.py
  mettagrid/src/metta/mettagrid/test_support/__init__.py
  mettagrid/tests/map_builder/test_ascii.py
  mettagrid/tests/map_builder/test_polymorphic_serialization.py
  tests/map/test_mapgen.py
  tools/run.py
Due: core, mettagrid

revert to agent groups
  mettagrid/tests/test_interactive.py
  mettagrid/tests/test_new_env_hierarchy.py
  mettagrid/tests/test_pettingzoo_env.py
Due: none

fix empty overrides; port tools/replay and tools/analyze
  experiments/arena/arena.py
  metta/tools/analyze.py
  metta/tools/replay.py
  mettascope/server.py
  tools/analyze.py
  tools/run.py
Due: core

fix use old config with envconfig on test_mettagrid, method to property refactoring
  mettagrid/tests/test_mettagrid.py
Due: none

init_mettagrid_system_environment is back
  metta/util/init/mettagrid_system.py
  tools/run.py
Due: core

fix rebase
  metta/tools/play.py
Due: core

cleanup mapgen types
  metta/map/mapgen_ascii.py
  metta/map/scene.py
  metta/map/utils/dcss.py
  metta/map/utils/make_scene_config.py
  tests/map/scenes/test_ascii.py
  tests/map/scenes/test_auto.py
  tests/map/scenes/test_bsp.py
  tests/map/scenes/test_convchain.py
  tests/map/scenes/test_inline_ascii.py
  tests/map/scenes/test_layout.py
  tests/map/scenes/test_make_connected.py
  tests/map/scenes/test_maze.py
  tests/map/scenes/test_mean_distance.py
  tests/map/scenes/test_mirror.py
  tests/map/scenes/test_multi_left_and_right.py
  tests/map/scenes/test_nop.py
  tests/map/scenes/test_radial_maze.py
  tests/map/scenes/test_random.py
  tests/map/scenes/test_random_objects.py
  tests/map/scenes/test_random_scene.py
  tests/map/scenes/test_random_scene_from_dir.py
  tests/map/scenes/test_remove_agents.py
  tests/map/scenes/test_room_grid.py
  tests/map/scenes/test_wfc.py
  tests/map/scenes/utils.py
  tests/map/test_mapgen.py
  tests/map/utils/test_storable_map_io.py
Due: core

more mapgen refactorings
  experiments/evals/navigation.py
  experiments/evals/run.py
  metta/map/load.py
  metta/map/mapgen.py
  metta/map/scene.py
  metta/map/scenes/ascii.py
  metta/map/scenes/auto.py
  metta/map/scenes/mirror.py
  metta/map/scenes/multi_left_and_right.py
  metta/map/scenes/random_objects.py
  metta/map/scenes/random_scene_from_dir.py
  metta/map/tools/gen.py
  metta/map/tools/gen_scene.py
  metta/map/tools/view.py
  metta/map/utils/make_scene_config.py
  metta/map/utils/show.py
  metta/map/utils/storable_map.py
  mettagrid/src/metta/mettagrid/config/envs.py
  tests/map/scenes/test_make_connected.py
  tests/map/scenes/test_mirror.py
  tests/map/scenes/test_random_scene.py
  tests/map/scenes/test_remove_agents.py
  tests/map/test_scene.py
  tests/map/utils/test_storable_map_io.py
  tools/map/gen.py
  tools/map/gen_scene.py
  tools/map/view.py
  tools/run.py
Due: core, mettagrid

convert stats_duckdb_cli
  tools/stats_duckdb_cli.py
Due: core

MapBuilder.Config fixes & tests
  mettagrid/benchmarks/test_mettagrid_env_benchmark.py
  mettagrid/src/metta/mettagrid/map_builder/ascii.py
  mettagrid/src/metta/mettagrid/map_builder/map_builder.py
  mettagrid/tests/map_builder/test_ascii.py
  mettagrid/tests/map_builder/test_map_builder.py
  mettagrid/tests/map_builder/test_maze.py
  mettagrid/tests/map_builder/test_polymorphic_serialization.py
  mettagrid/tests/map_builder/test_random.py
  mettagrid/tests/renderer/test_nethack.py
  mettagrid/tests/test_8way_movement.py
  mettagrid/tests/test_cardinal_movement.py
  mettagrid/tests/test_env_config_serialization.py
  mettagrid/tests/test_gym_env.py
  mettagrid/tests/test_interactive.py
  mettagrid/tests/test_mettagrid.py
  mettagrid/tests/test_new_env_hierarchy.py
  mettagrid/tests/test_no_agent_interference.py
  mettagrid/tests/test_observations.py
  mettagrid/tests/test_pettingzoo_env.py
  mettagrid/tests/test_visitation_counts.py
  mettagrid/tests/test_wandb_movement_metrics.py
  tests/map/scenes/test_maze.py
  tests/map/utils/test_storable_map_io.py
Due: mettagrid

cp
  .vscode/launch.json
  cogworks/curriculum/curriculum.py
  cogworks/curriculum/task_generator.py
  common/src/metta/common/util/config.py
  devops/run.sh
  experiments/arena.py
  experiments/evals/navigation.py
  experiments/navigation.py
  experiments/user/daveey.py
  metta/cogworks/curriculum/__init__.py
  metta/cogworks/curriculum/curriculum_env.py
  metta/cogworks/curriculum/task_generator.py
  metta/rl/vecenv.py
  metta/tools/train.py
  mettagrid/src/metta/mettagrid/config/envs.py
  mettagrid/src/metta/mettagrid/mettagrid_config.py
  mettagrid/src/metta/mettagrid/puffer_base.py
  tools/run.py
Due: core, mettagrid, common

streamline test_observations.py
  mettagrid/tests/test_observations.py
Due: none

fix --overrides
  common/src/metta/common/util/config.py
  tools/run.py
Due: core, common

wip
  agent/src/metta/agent/policy_store.py
  experiments/user/berekuk.py
  metta/tools/analyze.py
  metta/tools/play.py
  metta/tools/replay.py
  metta/tools/sim.py
  metta/tools/train.py
  tools/sim.py
Due: core, agent

cp
  agent/src/metta/agent/policy_store.py
  common/src/metta/common/wandb/wandb_context.py
  common/tests/wandb/test_wandb_context.py
  experiments/arena.py
  experiments/evals/navigation.py
  experiments/evals/run.py
  experiments/navigation.py
  experiments/user/daveey.py
  metta/map/mapgen.py
  metta/map/utils/show.py
  metta/rl/trainer_config.py
  metta/tools/analyze.py
  metta/tools/play.py
  metta/tools/replay.py
  metta/tools/sim.py
  softmax/softmax.py
  tests/tools/test_renderer_job.py
  tools/train.py
Due: core, agent, common

cp
  .vscode/launch.json
  devops/train.sh
  experiments/user/daveey.py
  metta/core/distributed.py
  metta/rl/trainer.py
  metta/rl/trainer_config.py
  metta/tools/train.py
  tools/run.py
Due: core

cp
  agent/src/metta/agent/policy_store.py
  app_backend/src/metta/app_backend/clients/stats_client.py
  common/src/metta/common/util/stats_client_cfg.py
  experiments/arena/arena.py
  experiments/user/daveey.py
  metta/core/distributed.py
  metta/rl/system_config.py
  metta/rl/trainer.py
  metta/rl/trainer_config.py
  metta/setup/local_commands.py
  metta/setup/shell.py
  tools/play.py
  tools/replay.py
  tools/request_eval.py
  tools/sim.py
  tools/train.py
  tools/utils.py
Due: core, app_backend, agent, common

cp
  .cspell.json
  experiments/arena.py
  experiments/arena/__init__.py
  experiments/evals/__init__.py
  experiments/evals/navigation.py
  experiments/navigation.py
  metta/cogworks/curriculum/learning_progress.py
  metta/cogworks/curriculum/task_generator.py
  mettagrid/src/metta/mettagrid/config/envs.py
Due: core, mettagrid

evals registry
  app_backend/src/metta/app_backend/eval_task_worker.py
  experiments/evals/registry.py
  experiments/evals/run.py
  experiments/evals/suites/navigation.py
  metta/eval/eval_service.py
  metta/tools/sim.py
Due: core, app_backend

fixes
  metta/map/tools/view.py
  metta/tools/analyze.py
  metta/tools/play.py
  metta/tools/replay.py
  metta/tools/sim.py
  metta/tools/train.py
Due: core

dcss_import tool
  metta/map/scene.py
  metta/map/tools/dcss_import.py
  metta/map/tools/gen.py
  metta/map/tools/gen_scene.py
Due: core
