Repository Metta-AI/metta: changes, and which Codecov flags are due for each by the changed paths.
All: core, app_backend, agent, mettagrid, mettagrid_cpp, common

restored name
  metta/tools/train.py
Due: core

back to from mettagrid cfg
  mettagrid/src/metta/mettagrid/core.py
Due: mettagrid

delayed heat: 01 hello world marimo - dehydrated (#2311)
  experiments/marimo/01-hello-world-marimo.py
  experiments/notebooks/utils/replays.py
  metta/tools/train.py
Due: core

keep a copy of game config
  mettagrid/src/metta/mettagrid/actions/orientation.hpp
  mettagrid/src/metta/mettagrid/actions/rotate.hpp
  mettagrid/src/metta/mettagrid/mettagrid_c.cpp
  mettagrid/src/metta/mettagrid/mettagrid_c.hpp
  mettagrid/src/metta/mettagrid/test_support/actions.py
  mettagrid/tests/test_actions.py
  mettagrid/tests/test_move.py
  mettagrid/tests/test_rotate.py
Due: mettagrid, mettagrid_cpp

add home.softmax-research.com/{short-links}
  devops/charts/home/templates/configmap.yaml
  devops/charts/home/templates/ingress-redirects.yaml
  devops/charts/home/values.yaml
Due: core

allow diagonals
  mettagrid/tests/test_move.py
Due: none

fix observation test
  mettagrid/src/metta/mettagrid/test_support/__init__.py
  mettagrid/tests/test_observations.py
Due: mettagrid

fix test_rotate
  mettagrid/src/metta/mettagrid/test_support/orientation.py
  mettagrid/tests/test_rotate.py
Due: mettagrid

Simplify resource rewards
  experiments/marimo/01-hello-world-marimo.py
  experiments/recipes/arena.py
  experiments/recipes/arena_basic_easy_shaped.py
  metta/cogworks/curriculum/demo.py
  mettagrid/src/metta/mettagrid/config/envs.py
  mettagrid/src/metta/mettagrid/mettagrid_c_config.py
  mettagrid/src/metta/mettagrid/mettagrid_config.py
  tests/test_programmatic_env_creation.py
  tests/tools/test_renderer_job.py
Due: core, mettagrid

add home.softmax-research.net/{short-links} (#2313)
  devops/charts/home/templates/configmap.yaml
  devops/charts/home/templates/ingress-redirects.yaml
  devops/charts/home/values.yaml
Due: core

fix test_stats_rewards
  mettagrid/tests/test_stats_rewards.py
Due: none

fix tests
  mettagrid/tests/test_rewards.py
Due: none

lint
  mettagrid/src/metta/mettagrid/core.py
  mettagrid/tests/test_observations.py
Due: mettagrid

fix compiler warnings
  mettagrid/src/metta/mettagrid/action_handler.hpp
  mettagrid/src/metta/mettagrid/objects/agent.hpp
Due: mettagrid, mettagrid_cpp

c++ lint
  mettagrid/src/metta/mettagrid/objects/agent_config.hpp
  mettagrid/src/metta/mettagrid/objects/converter_config.hpp
  mettagrid/src/metta/mettagrid/renderer/hermes.cpp
Due: mettagrid, mettagrid_cpp

get rid of 8way name
  experiments/recipes/arena_basic_easy_shaped.py
Due: core

revert useless commits
  metta/cogworks/curriculum/curriculum_env.py
  metta/rl/experience.py
  metta/rl/hyperparameter_scheduler_config.py
  metta/rl/trainer.py
  mettagrid/src/metta/mettagrid/config/building.py
  mettagrid/src/metta/mettagrid/mettagrid_env.py
Due: core, mettagrid

oops forgot an 8way
  experiments/recipes/arena_basic_easy_shaped.py
  mettagrid/src/metta/mettagrid/mettagrid_config.py
Due: core, mettagrid

remove reference to move_8way
  mettagrid/src/metta/mettagrid/mettagrid_config.py
Due: mettagrid

patch the python mettagrid config
  docs/move.md
  mettagrid/src/metta/mettagrid/mettagrid_config.py
Due: core, mettagrid

LOL
  mettagrid/src/metta/mettagrid/mettagrid_config.py
Due: mettagrid

docs: update to be clearer how move works (#2314)
  docs/move.md
Due: core

minor change only
  experiments/recipes/arena_basic_easy_shaped.py
Due: core

update initial resource count
  experiments/recipes/arena_basic_easy_shaped.py
Due: core

allow dict keys to be added
  common/src/metta/common/config/config.py
Due: common

Fix override config
  common/src/metta/common/config/config.py
Due: common

Address graphite comments
  common/src/metta/common/config/config.py
Due: common

better version of auto_initialize
  common/src/metta/common/config/config.py
  metta/tools/train.py
Due: core, common

no need to remove this
  metta/tools/train.py
Due: core

imports to the top
  common/src/metta/common/config/config.py
Due: common

fix: resolve TypeScript errors and add typecheck script
  library/package.json
  library/src/lib/openai-pdf-extractor.ts
Due: core

wrap on _unwrap_optional
  common/src/metta/common/config/config.py
Due: common

hotfix
  experiments/recipes/arena_basic_easy_shaped.py
Due: core

feat: add figure insights to UI with AI significance commentary
  library/src/components/PaperSidebar.tsx
  library/src/lib/openai-pdf-extractor.ts
Due: core

Clean
  common/src/metta/common/config/config.py
Due: common

move updates
  mettagrid/src/metta/mettagrid/actions/move.hpp
  mettascope/src/actions.ts
Due: core, mettagrid, mettagrid_cpp

update navigation evals
  experiments/evals/navigation.py
  experiments/evals/systematic_exploration_memory.py
Due: core

fallback
  mettagrid/src/metta/mettagrid/actions/move.hpp
  mettascope/src/actions.ts
Due: core, mettagrid, mettagrid_cpp

Path conditions:
  core: any file but: app_backend/, agent/, mettagrid/, common/, **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  app_backend: any of: app_backend/, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  agent: any of: agent/, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  mettagrid: any of: mettagrid/, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  mettagrid_cpp: any of: **/*.cpp, **/*.cc, **/*.cxx, **/*.c++, **/*.h, **/*.hpp, **/*.hh, **/*.hxx, **/*.h++, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  common: any of: common/, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
