Repository Metta-AI/metta: changes, and which Codecov flags are due for each by the changed paths.
All: core, app_backend, agent, mettagrid, mettagrid_cpp, common

wip
  devops/skypilot/config/configure_environment.sh
  devops/skypilot/config/sandbox.yaml
  devops/skypilot/config/sk_train.yaml
Due: core

added user config for self
  configs/user/yudhister.yaml
Due: core

perfect_maze_11 add
  configs/env/mettagrid/navigation/evals/perfect_maze_11.yaml
Due: core

autocurricula yamls and no agent interference flag from main
  configs/env/mettagrid/autocurricula/debug_env.yaml
  configs/env/mettagrid/autocurricula/defaults.yaml
  configs/env/mettagrid/autocurricula/terrain_from_numpy.yaml
  configs/env/mettagrid/curriculum/autocurricula/random.yaml
  configs/env/mettagrid/mettagrid.yaml
  mettagrid/src/metta/mettagrid/actions/move.hpp
  mettagrid/src/metta/mettagrid/grid.hpp
  mettagrid/src/metta/mettagrid/mettagrid_c.cpp
  mettagrid/src/metta/mettagrid/mettagrid_c.hpp
  mettagrid/src/metta/mettagrid/mettagrid_c_config.py
  mettagrid/src/metta/mettagrid/mettagrid_config.py
  mettagrid/tests/test_no_agent_interference.py
Due: core, mettagrid, mettagrid_cpp

fixing test
  mettagrid/src/metta/mettagrid/test_support/environment_builder.py
Due: mettagrid

tons of changes. working locally.
  agent/src/metta/agent/lib/lstm.py
  agent/src/metta/agent/lib/metta_layer.py
  agent/src/metta/agent/lib/nn_layer_library.py
  agent/src/metta/agent/lib/obs_token_to_box_shaper.py
  agent/src/metta/agent/metta_agent.py
  configs/agent/fast.yaml
  configs/user/alex.yaml
  metta/rl/loss/base_loss.py
  metta/rl/loss/ema.py
  metta/rl/loss/loss_tracker.py
  metta/rl/loss/ppo.py
  metta/rl/trainer.py
Due: core, agent

fixing tests
  configs/env/mettagrid/autocurricula/debug_env.yaml
Due: core

{NEW} autocurricula yamls and no agent interference flag (#2060)
  configs/env/mettagrid/autocurricula/debug_env.yaml
  configs/env/mettagrid/autocurricula/defaults.yaml
  configs/env/mettagrid/autocurricula/terrain_from_numpy.yaml
  configs/env/mettagrid/curriculum/autocurricula/random.yaml
  configs/env/mettagrid/mettagrid.yaml
  mettagrid/src/metta/mettagrid/actions/move.hpp
  mettagrid/src/metta/mettagrid/grid.hpp
  mettagrid/src/metta/mettagrid/mettagrid_c.cpp
  mettagrid/src/metta/mettagrid/mettagrid_c.hpp
  mettagrid/src/metta/mettagrid/mettagrid_c_config.py
  mettagrid/src/metta/mettagrid/mettagrid_config.py
  mettagrid/src/metta/mettagrid/test_support/environment_builder.py
  mettagrid/tests/test_no_agent_interference.py
Due: core, mettagrid, mettagrid_cpp

fix bg
  configs/env/mettagrid/operant_conditioning/chaining/2_converters/bg.yaml
Due: core

resubmit
  recipes/operant_conditioning_chaining.sh
Due: core

maps
  configs/env/mettagrid/maps/operant_conditioning_evals/temple_gate.map
  configs/env/mettagrid/operant_conditioning/smoke_tests/defaults.yaml
  configs/env/mettagrid/operant_conditioning/smoke_tests/mini/red4red.yaml
  configs/env/mettagrid/operant_conditioning_evals/go_the_right_way.yaml
  configs/env/mettagrid/operant_conditioning_evals/green_altar.yaml
  configs/env/mettagrid/operant_conditioning_evals/oc_tiny_room.yaml
  configs/env/mettagrid/operant_conditioning_evals/oc_tiny_room_armory.yaml
  configs/env/mettagrid/operant_conditioning_evals/signposts.yaml
  configs/env/mettagrid/operant_conditioning_evals/temple_gate.yaml
  configs/replay_job.yaml
Due: core

fixed rules
  .cursorrules
Due: core

Reconcile conflicts in agent instructions (#1986)
  .cursorrules
  AGENTS.md
  CLAUDE.md
Due: core

more work
  agent/src/metta/agent/policy_metadata_yaml_helper.py
  agent/src/metta/agent/policy_record.py
  agent/src/metta/agent/policy_store.py
  metta/rl/checkpoint_manager.py
  metta/rl/trainer.py
Due: core, agent

agalite v1
  agent/src/metta/agent/external/agalite.py
  agent/src/metta/agent/external/agalite_README.md
Due: agent

use einsum and builtin
  agent/src/metta/agent/external/REFACTORING_NOTES.md
  agent/src/metta/agent/external/agalite.py
  agent/src/metta/agent/external/agalite_README.md
Due: agent

eval
  configs/env/mettagrid/operant_conditioning/chaining/evals/3_chain_eval.yaml
Due: core

optimize map grid memory usage
  metta/map/mapgen.py
  metta/map/utils/ascii_grid.py
  mettagrid/src/metta/mettagrid/level_builder.py
  mettagrid/src/metta/mettagrid/room/maze.py
  mettagrid/src/metta/mettagrid/room/room.py
  mettagrid/src/metta/mettagrid/room/room_list.py
  mettagrid/src/metta/mettagrid/room/utils.py
  mettagrid/src/metta/mettagrid/test_support/environment_builder.py
  mettagrid/tests/test_buffers.py
  mettagrid/tests/test_observations.py
  mettagrid/tests/test_swap.py
  tests/map/scenes/test_random.py
  tests/map/scenes/utils.py
  tests/map/utils/test_storable_map_io.py
Due: core, mettagrid

cleanup
  metta/map/mapgen.py
Due: core

new eval
  configs/sim/operant_conditioning_chaining.yaml
Due: core

re-arrange
  agent/src/metta/agent/external/__init__.py
  agent/src/metta/agent/external/example.py
  agent/src/metta/agent/external/lstm_transformer.py
  agent/src/metta/agent/metta_agent.py
  agent/src/metta/agent/models/encoders.py
  agent/src/metta/agent/models/tokenizers.py
  agent/src/metta/agent/pytorch/fast.py
  metta/rl/policy_management.py
  metta/rl/puffer_policy.py
Due: core, agent

mid refactor
  agent/src/metta/agent/metta_agent.py
  agent/src/metta/agent/pytorch/fast.py
  agent/src/metta/agent/pytorch/latent_attn_med.py
  agent/src/metta/agent/pytorch/latent_attn_small.py
  agent/src/metta/agent/pytorch/latent_attn_tiny.py
Due: agent

base example
  agent/src/metta/agent/pytorch/base.py
Due: agent

feat: add replay format v2 support for thumbnail generation
  metta/map/utils/thumbnail.py
Due: core

improve: enhance thumbnail generation with synthetic eval detection
  metta/sim/simulation.py
Due: core

refactor: centralize eval utilities and improve frontend type safety
  observatory/src/MapViewer.tsx
  observatory/src/Scorecard.tsx
  observatory/src/TrainingRunDetail.tsx
  observatory/src/components/EvalSelector.tsx
  observatory/src/utils/evalNameUtils.ts
  observatory/src/utils/validationUtils.ts
Due: core

fix: add dashboard state validation to prevent corrupted eval names
  observatory/src/Dashboard.tsx
Due: core

docs: update comment in thumbnail_automation.py
  metta/sim/thumbnail_automation.py
Due: core

test
  configs/sim/coop_rewardsharing.yaml
  configs/user/krishnakanth.yaml
Due: core

test run coop
  configs/user/krishnakanth.yaml
Due: core

Optimize map grid memory usage (#2061)
  metta/map/mapgen.py
  metta/map/utils/ascii_grid.py
  mettagrid/src/metta/mettagrid/level_builder.py
  mettagrid/src/metta/mettagrid/room/maze.py
  mettagrid/src/metta/mettagrid/room/room.py
  mettagrid/src/metta/mettagrid/room/room_list.py
  mettagrid/src/metta/mettagrid/room/utils.py
  mettagrid/src/metta/mettagrid/test_support/environment_builder.py
  mettagrid/tests/test_buffers.py
  mettagrid/tests/test_observations.py
  mettagrid/tests/test_swap.py
  tests/map/scenes/test_random.py
  tests/map/scenes/utils.py
  tests/map/utils/test_storable_map_io.py
Due: core, mettagrid

feat: converted training_run status column to enum
  app_backend/src/metta/app_backend/metta_repo.py
Due: app_backend

simplified
  agent/src/metta/agent/metta_agent.py
  agent/src/metta/agent/pytorch/example.py
  agent/src/metta/agent/pytorch/fast.py
  agent/src/metta/agent/pytorch/latent_attn_med.py
  agent/src/metta/agent/pytorch/latent_attn_small.py
  agent/src/metta/agent/pytorch/latent_attn_tiny.py
Due: agent

reshuffle
  agent/src/metta/agent/external/__init__.py
  agent/src/metta/agent/external/lstm_transformer.py
  agent/src/metta/agent/models/encoders.py
  agent/src/metta/agent/models/tokenizers.py
  agent/src/metta/agent/pytorch/latent_attn_med.py
  agent/src/metta/agent/pytorch/latent_attn_small.py
  agent/src/metta/agent/pytorch/latent_attn_tiny.py
Due: agent

skypilot test run 2
  configs/user/krishnakanth.yaml
Due: core

device issue
  agent/src/metta/agent/metta_agent.py
  agent/src/metta/agent/pytorch/example.py
Due: agent

simplified
  metta/rl/policy_management.py
Due: core

Path conditions:
  core: any file but: app_backend/, agent/, mettagrid/, common/, **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  app_backend: any of: app_backend/, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  agent: any of: agent/, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  mettagrid: any of: mettagrid/, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  mettagrid_cpp: any of: **/*.cpp, **/*.cc, **/*.cxx, **/*.c++, **/*.h, **/*.hpp, **/*.hh, **/*.hxx, **/*.h++, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  common: any of: common/, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
