Repository Metta-AI/metta: changes, and which Codecov flags are due for each by the changed paths.
All: core, app_backend, agent, mettagrid, mettagrid_cpp, common

codecov.yml:

# Codecov configuration for Metta-AI
# Documentation: https://docs.codecov.com/docs/codecov-yaml

# Wait for all CI jobs to complete before posting results
codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

# Coverage settings
coverage:
  # Round coverage to 2 decimal places
  precision: 2
  round: down

  # Status checks configuration
  status:
    # Project-wide coverage
    project:
      default:
        target: auto # Compare against base branch
        threshold: 1% # Allow 1% coverage drop
        base: auto
        informational: true # Won't fail PR, just inform

    # Coverage for changed lines only - this is your main gate
    patch:
      default:
        target: 50% # Minimum 50% coverage on new code
        threshold: 0% # No tolerance below 50%
        base: auto
        if_ci_failed: success # Don't fail if CI fails
        if_not_found: success # Don't fail if no coverage data

      # Additional informational patch check
      informational:
        target: 80% # Ideal target
        threshold: 0%
        informational: true # Won't fail, just shows as warning

# Pull request comment configuration
comment:
  layout: "header, diff, flags, components, files"
  behavior: default
  require_changes: false # Post comment even if no coverage change
  require_base: false # Don't require base coverage
  require_head: true # Must have head coverage to post
  hide_project_coverage: false # Show overall project coverage

# Flag configuration for different test suites
flags:
  core:
    paths:
      - "!app_backend/"
      - "!agent/"
      - "!mettagrid/"
      - "!common/"
    carryforward: true

  app_backend:
    paths:
      - app_backend/
    carryforward: true

  agent:
    paths:
      - agent/
    carryforward: true

  mettagrid:
    paths:
      - mettagrid/
    carryforward: true

  mettagrid_cpp:
    paths:
      - "**/*.cpp"
      - "**/*.cc"
      - "**/*.cxx"
      - "**/*.c++"
      - "**/*.h"
      - "**/*.hpp"
      - "**/*.hh"
      - "**/*.hxx"
      - "**/*.h++"
    carryforward: true

  common:
    paths:
      - common/
    carryforward: true

# Ignore certain paths from coverage
ignore:
  - "**/tests/"
  - "**/test_*.py"
  - "**/*_test.py"
  - "**/conftest.py"
  - "setup.py"
  - "**/migrations/"
  - "**/__pycache__/"
  - "**/node_modules/"
  - "**/*.pb.py" # Generated protobuf files
  - "**/*.pyi" # Type stub files
  - "**/fixtures/"
  - "**/mocks/"
  - "**/build/" # C++ build directories
  - "**/cmake-build-*/" # CLion/CMake build directories
  - "**/CMakeFiles/" # CMake generated files
  - "**/*.o" # Object files
  - "**/*.a" # Static libraries
  - "**/*.so" # Shared libraries
  - "**/*.dylib" # macOS dynamic libraries
  - "**/*.dll" # Windows dynamic libraries

# GitHub integration settings
github_checks:
  annotations: true # Show coverage annotations in PR files view

sweep midpoint
  configs/trainer/trainer.yaml
  metta/rl/trainer_config.py
Due: core

more conservative
  configs/trainer/trainer.yaml
  metta/rl/trainer_config.py
Due: core

0.25
  configs/trainer/trainer.yaml
  metta/rl/trainer_config.py
Due: core

reasoned move
  configs/trainer/trainer.yaml
  metta/rl/trainer_config.py
Due: core

hyperparam to both
  metta/rl/trainer.py
  run.py
Due: core

10 percent move
  configs/trainer/trainer.yaml
  metta/rl/trainer_config.py
Due: core

moved organization into docs
  docs/repo_organization.md
Due: core

trainer migration
  metta/rl/hyperparameter_scheduler.py
  metta/rl/trainer.py
  run.py
Due: core

trainer migration
  metta/rl/util/stats.py
Due: core

updated naming convention
  docs/repo_organization.md
Due: core

Flat REPO_REORGANIZATION plan (#1385)
  docs/repo_organization.md
Due: core

back to hparam logging
  metta/rl/util/stats.py
  run.py
Due: core

cleaned up old dead unused code
  metta/api/__init__.py
  metta/api/agent.py
  metta/api/directories.py
  metta/api/environment.py
  metta/api/evaluation.py
  metta/rl/functions/__init__.py
  metta/rl/functions/advantage.py
  metta/rl/functions/policy_management.py
  metta/rl/functions/rollout.py
  metta/rl/functions/stats.py
  metta/rl/functions/training.py
  tools/train.py
Due: core

unneeded change gone
  agent/src/metta/agent/lib/action.py
Due: agent

imports ;
  run.py
Due: core

starting refactor
  metta/rl/torchrl_loss.py
Due: core

fixed testing
  tests/rl/test_hyperparameter_scheduler.py
Due: none

initialize to wandb
  run.py
  tools/train.py
Due: core

unified wandb helpers
  common/src/metta/common/wandb/wandb_helpers.py
  metta/interface/directories.py
  metta/interface/training.py
Due: core, common

imports to top
  agent/tests/test_feature_remapping.py
  agent/tests/test_policy_store.py
  common/src/metta/common/util/runtime_configuration.py
  common/src/metta/common/wandb/log_wandb.py
  common/tests/util/test_resolvers.py
  devops/observatory_login.py
  metta/interface/environment.py
  metta/map/utils/dcss.py
  metta/rl/trainer.py
  metta/rl/util/policy_management.py
  tests/map/random/test_float.py
  tests/test_sweep_config_utils.py
Due: core, common

device consolidation and errors
  metta/interface/__init__.py
  run.py
  tools/train.py
Due: core

wandb context no thin wrapper
  common/src/metta/common/wandb/wandb_helpers.py
  run.py
  tools/train.py
Due: core, common

config
  run.py
Due: core

simplifying initialization
  metta/interface/__init__.py
  metta/interface/training.py
  run.py
Due: core

imports to top
  agent/tests/test_feature_remapping.py
  agent/tests/test_policy_store.py
  common/src/metta/common/util/runtime_configuration.py
  common/src/metta/common/wandb/log_wandb.py
  common/tests/util/test_resolvers.py
  devops/observatory_login.py
  metta/interface/environment.py
  metta/map/utils/dcss.py
  metta/rl/util/policy_management.py
  tests/map/random/test_float.py
  tests/test_sweep_config_utils.py
Due: core, common

imports to top (#1573)
  agent/tests/test_feature_remapping.py
  agent/tests/test_policy_store.py
  common/src/metta/common/util/runtime_configuration.py
  common/src/metta/common/wandb/log_wandb.py
  common/tests/util/test_resolvers.py
  devops/observatory_login.py
  metta/interface/environment.py
  metta/map/utils/dcss.py
  metta/rl/util/policy_management.py
  tests/map/random/test_float.py
  tests/test_sweep_config_utils.py
Due: core, common

feature parity
  run.py
Due: core

consolidate unify functionality
  common/src/metta/common/wandb/helpers.py
  metta/interface/__init__.py
  metta/interface/training.py
  run.py
Due: core, common

running with curriculum
  metta/interface/training.py
  run.py
Due: core

fixed curriculum errors
  metta/rl/trainer.py
  run.py
Due: core

curricula and logging
  common/src/metta/common/wandb/helpers.py
  metta/rl/trainer.py
  run.py
Due: core, common

shorter logs
  metta/rl/trainer.py
Due: core

refactor(sweep): split sweep_init.py into sweep_setup.py and sweep_prepare_run.py
  tools/sweep_prepare_run.py
  tools/sweep_setup.py
Due: core

fix(tests): adapt sweep tests to refactor
  tests/sweep/test_integration_sweep_pipeline.py
  tests/sweep/test_sweep_config_loading.py
  tests/sweep/test_sweep_init.py
Due: none
