Repository Metta-AI/metta: changes, and which Codecov flags are due for each by the changed paths.
All: core, app_backend, agent, mettagrid, mettagrid_cpp, common

codecov.yml:

# Codecov configuration for Metta-AI
# Documentation: https://docs.codecov.com/docs/codecov-yaml

# Wait for all CI jobs to complete before posting results
codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

# Coverage settings
coverage:
  # Round coverage to 2 decimal places
  precision: 2
  round: down

  # Status checks configuration
  status:
    # Project-wide coverage
    project:
      default:
        target: auto # Compare against base branch
        threshold: 1% # Allow 1% coverage drop
        base: auto
        informational: true # Won't fail PR, just inform

    # Coverage for changed lines only - this is your main gate
    patch:
      default:
        target: 50% # Minimum 50% coverage on new code
        threshold: 0% # No tolerance below 50%
        base: auto
        if_ci_failed: success # Don't fail if CI fails
        if_not_found: success # Don't fail if no coverage data

      # Additional informational patch check
      informational:
        target: 80% # Ideal target
        threshold: 0%
        informational: true # Won't fail, just shows as warning

# Pull request comment configuration
comment:
  layout: "header, diff, flags, components, files"
  behavior: default
  require_changes: false # Post comment even if no coverage change
  require_base: false # Don't require base coverage
  require_head: true # Must have head coverage to post
  hide_project_coverage: false # Show overall project coverage

# Flag configuration for different test suites
flags:
  core:
    paths:
      - "!app_backend/"
      - "!agent/"
      - "!mettagrid/"
      - "!common/"
    carryforward: true

  app_backend:
    paths:
      - app_backend/
    carryforward: true

  agent:
    paths:
      - agent/
    carryforward: true

  mettagrid:
    paths:
      - mettagrid/
    carryforward: true

  mettagrid_cpp:
    paths:
      - "**/*.cpp"
      - "**/*.cc"
      - "**/*.cxx"
      - "**/*.c++"
      - "**/*.h"
      - "**/*.hpp"
      - "**/*.hh"
      - "**/*.hxx"
      - "**/*.h++"
    carryforward: true

  common:
    paths:
      - common/
    carryforward: true

# Ignore certain paths from coverage
ignore:
  - "**/tests/"
  - "**/test_*.py"
  - "**/*_test.py"
  - "**/conftest.py"
  - "setup.py"
  - "**/migrations/"
  - "**/__pycache__/"
  - "**/node_modules/"
  - "**/*.pb.py" # Generated protobuf files
  - "**/*.pyi" # Type stub files
  - "**/fixtures/"
  - "**/mocks/"
  - "**/build/" # C++ build directories
  - "**/cmake-build-*/" # CLion/CMake build directories
  - "**/CMakeFiles/" # CMake generated files
  - "**/*.o" # Object files
  - "**/*.a" # Static libraries
  - "**/*.so" # Shared libraries
  - "**/*.dylib" # macOS dynamic libraries
  - "**/*.dll" # Windows dynamic libraries

# GitHub integration settings
github_checks:
  annotations: true # Show coverage annotations in PR files view

misc
  recipes/contrastive_sweep.sh
Due: core

misc.
  recipes/contrastive_sweep.sh
Due: core

fixing typo in learning progress py
  configs/sweep/contrastive.yaml
  configs/sweep/quick.yaml
  mettagrid/src/metta/mettagrid/curriculum/learning_progress.py
  recipes/arena.sh
  recipes/navigation_seed_sweep.sh
Due: core, mettagrid

removing user for mettabox
  recipes/contrastive_sweep.sh
Due: core

making manual sweep work on cloud
  recipes/contrastive_sweep.sh
Due: core

increased trainer timesteps
  configs/trainer/trainer.yaml
  recipes/contrastive_sweep.sh
Due: core

better manual contrastive sweep
  recipes/contrastive_sweep.sh
Due: core

misc changes
  recipes/contrastive_sweep.sh
Due: core

wow
  configs/sweep_job.yaml
Due: core

Fixed randomized mask during training
  metta/rl/trainer.py
Due: core

latest --> top for policy selection
  metta/sweep/sweep_lifecycle.py
Due: core

agalite fixes
  agent/src/metta/agent/pytorch/agalite.py
Due: agent

cp
  experiments/arena/arena.py
  mettagrid/src/metta/mettagrid/core.py
  mettagrid/src/metta/mettagrid/mettagrid_config.py
  tools/train.py
Due: core, mettagrid

cp
  metta/cogworks/sweep/sweep_config.py
Due: core

cp
  experiments/arena/arena.py
  metta/cogworks/curriculum/demo.py
  metta/eval/eval_service.py
  metta/rl/evaluate.py
  metta/rl/trainer.py
  metta/rl/trainer_config.py
  metta/sim/simulation.py
  metta/sim/simulation_config.py
  metta/sim/simulation_suite.py
  mettagrid/src/metta/mettagrid/mettagrid_config.py
  tools/play.py
  tools/replay.py
  tools/sim.py
  tools/sweep_eval.py
  tools/train.py
Due: core, mettagrid

pydantic_metta_script
  metta/util/metta_script.py
  tools/play.py
  tools/replay.py
Due: core

convert tools/analyze
  agent/src/metta/agent/policy_store.py
  tools/analyze.py
Due: core, agent

cp
  agent/src/metta/agent/policy_store.py
  app_backend/src/metta/app_backend/clients/stats_client.py
  common/src/metta/common/util/stats_client_cfg.py
  experiments/arena/arena.py
  experiments/user/daveey.py
  metta/core/distributed.py
  metta/rl/system_config.py
  metta/rl/trainer.py
  metta/rl/trainer_config.py
  metta/setup/local_commands.py
  metta/setup/shell.py
  tools/play.py
  tools/replay.py
  tools/request_eval.py
  tools/sim.py
  tools/train.py
  tools/utils.py
Due: core, app_backend, agent, common

bring back test_metta_script test
  tests/util/fixtures/script.py
  tests/util/test_metta_script.py
Due: core

convert tools/renderer
  metta/util/metta_script.py
  tools/renderer.py
Due: core

tools/play.py overrides
  tools/play.py
Due: core

cp
  .vscode/launch.json
  agent/src/metta/agent/metta_agent.py
  agent/tests/test_metta_agent.py
  arena/daveey-test-run-3/checkpoints/model_0000.pt
  arena/daveey-test-run-3/checkpoints/model_0010.pt
  arena/daveey-test-run-3/checkpoints/model_0020.pt
  devops/train.sh
  experiments/arena/arena.py
  experiments/user/daveey.py
  metta/cogworks/curriculum/demo.py
  metta/map/mapgen.py
  metta/map/terrain_from_numpy.py
  metta/map/utils/show.py
  metta/rl/puffer_policy.py
  metta/rl/trainer_config.py
  mettagrid/demos/demo_train_gym.py
  mettagrid/demos/demo_train_puffer.py
  mettagrid/src/metta/mettagrid/config/__init__.py
  mettagrid/src/metta/mettagrid/config/building.py
  mettagrid/src/metta/mettagrid/config/envs.py
  mettagrid/src/metta/mettagrid/core.py
  mettagrid/src/metta/mettagrid/map_builder/map_builder.py
  mettagrid/src/metta/mettagrid/mettagrid_c_config.py
  mettagrid/src/metta/mettagrid/mettagrid_config.py
  mettagrid/tests/renderer/test_nethack.py
  mettagrid/tests/test_buffer_reuse.py
  mettagrid/tests/test_gym_env.py
  mettagrid/tests/test_interactive.py
  mettagrid/tests/test_movement_metrics.py
  mettagrid/tests/test_new_env_hierarchy.py
  mettagrid/tests/test_no_agent_interference.py
  mettagrid/tests/test_pettingzoo_env.py
  mettagrid/tests/test_wandb_movement_metrics.py
  tests/cogworks/curriculum/test_serialization.py
  tools/analyze.py
  tools/renderer.py
  tools/train.py
  tools/utils.py
Due: core, agent, mettagrid

cp
  metta/rl/evaluate.py
  metta/rl/trainer.py
  metta/sim/simulation.py
  metta/sim/simulation_config.py
  metta/sim/simulation_stats_db.py
  metta/sim/simulation_suite.py
  mettagrid/src/metta/mettagrid/mettagrid_config.py
  tests/eval/test_eval_stats_db.py
  tests/sim/test_simulation_stats_db.py
Due: core, mettagrid

boo
  tools/sweep_execute.py
Due: core

evals in trainig
  configs/sweep_job.yaml
Due: core

refactor into separate files
  .github/scripts/gemini_analyze_pr_digest.py
  .github/scripts/gemini_create_author_report.py
  .github/scripts/gemini_create_newsletter.py
  .github/workflows/generate-author-report.yml
  .github/workflows/generate-newsletter.yml
Due: core

seed_everything
  common/src/metta/common/util/tool.py
  metta/rl/system_config.py
  metta/tools/play.py
  metta/tools/train.py
  metta/util/metta_script.py
  tools/run.py
Due: core, common

tools/run.py
  common/src/metta/common/util/tool.py
  experiments/arena/arena.py
  experiments/user/daveey.py
  metta/rl/system_config.py
  metta/tools/play.py
  metta/tools/train.py
  mettascope/server.py
  tools/replay.py
  tools/run.py
Due: core, common

convert stats_duckdb_cli
  tools/stats_duckdb_cli.py
Due: core

sim.py dehydrated (wip)
  tools/analyze.py
Due: core

fixes
  metta/tools/play.py
  tools/play.py
  tools/run.py
Due: core

init_mettagrid_system_environment is back
  metta/util/init/mettagrid_system.py
  tools/run.py
Due: core

fix rebase
  metta/tools/play.py
Due: core

wip
  configs/common.yaml
  configs/train_job.yaml
  configs/user/ci.yaml
  metta/util/init/mettagrid_system.py
  metta/util/metta_script.py
  tools/play.py
  tools/replay.py
  tools/train.py
Due: core

adjust prompts
  .github/scripts/gemini_create_author_report.py
Due: core

fixeS
  mettagrid/src/metta/mettagrid/actions/color_tree.hpp
  mettagrid/src/metta/mettagrid/curriculum/colortree_random.py
  mettagrid/tests/test_color_tree.py
  recipes/run_colortree_experiments.sh
  scripts/run_colortree_experiments.sh
Due: core, mettagrid, mettagrid_cpp

agalite updates
  agent/src/metta/agent/modules/agalite_batched.py
  agent/src/metta/agent/modules/agalite_layers.py
  agent/src/metta/agent/modules/agalite_optimized.py
  agent/src/metta/agent/modules/agalite_optimized_v2.py
Due: agent

tests to ensure not overloading
  mettagrid/src/metta/mettagrid/curriculum/colortree_random.py
  mettagrid/src/metta/mettagrid/mettagrid_env.py
  mettagrid/tests/test_color_tree.py
Due: mettagrid

clean up pattern
  .github/scripts/gemini_create_author_report.py
Due: core
