Repository Metta-AI/metta: changes, and which Codecov flags are due for each by the changed paths.
All: core, app_backend, agent, mettagrid, mettagrid_cpp, common

how many checkpoints can there be
  metta/rl/checkpoint_manager.py
  tests/rl/test_checkpoint_manager_comprehensive.py
Due: core

update tests
  tests/eval/test_eval_stats_db.py
  tests/test_num_episodes_bug.py
Due: none

simpler selection
  metta/rl/checkpoint_manager.py
  metta/rl/policy_management.py
Due: core

update failing tests
  tests/rl/test_checkpoint_manager_caching.py
  tests/sim/test_simulation_stats_db_simple_checkpoint.py
Due: none

test changes
  metta/rl/checkpoint_manager.py
  tests/rl/test_checkpoint_manager_caching.py
  tests/rl/test_checkpoint_manager_comprehensive.py
  tests/sim/test_simulation_stats_db_simple_checkpoint.py
Due: core

test changes
  metta/rl/checkpoint_manager.py
Due: core

fix imports
  metta/eval/eval_service.py
  metta/rl/policy_management.py
  metta/sim/simulation.py
  metta/tools/sim.py
Due: core

logs
  devops/skypilot/config/runtime_monitors.py
  devops/skypilot/config/test_nccl.py
Due: core

cleanup checkpoints etc
  metta/rl/checkpoint_manager.py
  metta/rl/policy_management.py
  tests/rl/test_checkpoint_manager_comprehensive.py
  tests/sim/test_simulation_stats_db_simple_checkpoint.py
Due: core

updated score more
  metta/rl/checkpoint_manager.py
  tests/rl/test_checkpoint_manager_comprehensive.py
  tests/sim/test_simulation_stats_db_simple_checkpoint.py
Due: core

remove defensive checks
  metta/rl/checkpoint_manager.py
  metta/rl/policy_management.py
  metta/sim/simulation.py
Due: core

checkpoint update
  metta/rl/checkpoint_manager.py
Due: core

more updates
  metta/rl/checkpoint_manager.py
  tests/rl/test_checkpoint_manager_comprehensive.py
Due: core

updated tests
  metta/rl/evaluate.py
  metta/tools/compare_policies.py
  tests/eval/test_eval_stats_db.py
  tests/test_num_episodes_bug.py
Due: core

work doc
  metta/rl/checkpoint_manager.py
  richard-policy-cull.md
Due: core

update tests
  tests/eval/test_eval_stats_db.py
  tests/sim/test_simulation_stats_db_simple_checkpoint.py
Due: none

fixed tests
  tests/sim/test_simulation_stats_db_simple_checkpoint.py
Due: none

debug restart counting
  devops/skypilot/config/configure_environment.py
  devops/skypilot/config/runtime_monitors.py
  devops/skypilot/config/test_nccl.py
Due: core

and even more improvement
  metta/sweep/SWEEP_10_10_ROADMAP.md
  metta/sweep/sweep_orchestrator.py
Due: core

adjust nccl test logs
  devops/skypilot/config/test_nccl.py
Due: none

fix lint
  metta/eval/eval_stats_db.py
  metta/rl/checkpoint_manager.py
  metta/rl/policy_management.py
  metta/tools/compare_policies.py
  metta/tools/sim.py
  tests/rl/test_checkpoint_manager_caching.py
  tests/rl/test_checkpoint_manager_comprehensive.py
  tests/sim/test_simulation_stats_db_simple_checkpoint.py
  tests/test_num_episodes_bug.py
Due: core

linted
  metta/eval/eval_stats_db.py
  metta/rl/checkpoint_manager.py
  metta/rl/policy_management.py
  metta/tools/compare_policies.py
  tests/rl/test_checkpoint_manager_caching.py
  tests/rl/test_checkpoint_manager_comprehensive.py
  tests/sim/test_simulation_stats_db_simple_checkpoint.py
  tests/test_num_episodes_bug.py
Due: core

update write-up
  richard-policy-cull.md
Due: core

lint
  common/src/metta/common/util/heartbeat.py
  devops/skypilot/config/configure_environment.py
  devops/skypilot/config/runtime_monitors.py
  devops/skypilot/config/skypilot_run.py
  devops/skypilot/config/test_nccl.py
Due: core, common

Remove memory functions
  agent/src/metta/agent/metta_agent.py
Due: agent

Update devops/skypilot/config/configure_environment.py
  devops/skypilot/config/configure_environment.py
Due: core

wandb re-integration
  metta/rl/checkpoint_manager.py
  metta/rl/wandb.py
  tests/rl/test_checkpoint_integration.py
Due: core

cleanup
  metta/rl/policy_management.py
  metta/sim/simulation.py
  metta/sim/utils.py
  metta/tools/sim.py
  tests/rl/test_kickstarter.py
  tools/request_eval.py
Due: core

update tests
  common/tests/util/test_skypilot_latency.py
  common/tests/wandb/test_log_wandb.py
Due: none

lint
  common/tests/util/test_skypilot_latency.py
  common/tests/wandb/test_log_wandb.py
Due: none

simplified code
  metta/rl/checkpoint_manager.py
  metta/rl/wandb.py
  metta/sim/simulation.py
Due: core

simplified code
  metta/rl/checkpoint_manager.py
  metta/rl/wandb.py
  tests/rl/test_checkpoint_integration.py
Due: core

Memory class
  metta/rl/memory_management.py
Due: core

removed top strings
  agent/tests/test_feature_remapping.py
  agent/tests/test_metta_agent_integration.py
  cogweb/cogweb_client.py
  metta/eval/eval_stats_db.py
  metta/rl/checkpoint_manager.py
  metta/rl/evaluate.py
  metta/rl/losses.py
  metta/rl/policy_management.py
  metta/rl/stats.py
  metta/sim/simulation.py
  metta/sim/simulation_stats_db.py
  metta/tools/analyze.py
  metta/tools/compare_policies.py
  tests/eval/test_eval_stats_db.py
  tests/rl/test_checkpoint_integration.py
  tests/rl/test_checkpoint_manager_caching.py
  tests/rl/test_checkpoint_manager_comprehensive.py
  tests/rl/test_kickstarter.py
  tests/sim/test_simulation_stats_db_simple_checkpoint.py
  tests/sweep/test_protein_end_to_end_pipeline.py
  tests/test_num_episodes_bug.py
  tools/request_eval.py
Due: core

no more simple checkpoint
  tests/sim/test_simulation_stats_db_simple_checkpoint.py
Due: none

test cleanup
  metta/rl/checkpoint_manager.py
  metta/rl/wandb.py
  tests/rl/test_checkpoint_integration.py
  tests/sweep/test_protein_end_to_end_pipeline.py
Due: core

unify logging
  common/src/metta/common/util/logging_helper.md
  common/src/metta/common/util/logging_helpers.py
Due: common

audit update
  deleted_files_audit.md
  missing_functionality_analysis.md
Due: core

lint
  common/src/metta/common/util/logging_helpers.py
  devops/skypilot/config/skypilot_logging.py
Due: core, common

shorter comments
  metta/rl/checkpoint_manager.py
Due: core

Path conditions:
  core: any file but: app_backend/, agent/, mettagrid/, common/, **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  app_backend: any of: app_backend/, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  agent: any of: agent/, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  mettagrid: any of: mettagrid/, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  mettagrid_cpp: any of: **/*.cpp, **/*.cc, **/*.cxx, **/*.c++, **/*.h, **/*.hpp, **/*.hh, **/*.hxx, **/*.h++, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  common: any of: common/, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
