Repository Metta-AI/metta: changes, and which Codecov flags are due for each by the changed paths.
All: core, app_backend, agent, mettagrid, mettagrid_cpp, common

rephrased args and returns from a few docstrings (#1867)
  metta/rl/advantage.py
  metta/rl/experience.py
  metta/rl/losses.py
  metta/rl/policy_management.py
  metta/rl/ppo.py
  metta/rl/rollout.py
  metta/rl/trainer.py
Due: core

Added minor comment noting that the c++ code does not currently guard against .yaml files with initial inventories of 0 for some item, which will still be propogated to agent features.
  configs/env/mettagrid/arena/basic.yaml
  configs/user/lsoros.yaml
  mettagrid/src/metta/mettagrid/objects/agent.hpp
Due: core, mettagrid, mettagrid_cpp

attempt
  .cspell.json
  recipes/arena_teams.sh
Due: core

logging
  configs/user/dual_policy_checkpoint_example.yaml
  docs/dual_policy_training.md
  metta/rl/rollout.py
  mettagrid/src/metta/mettagrid/base_env.py
  mettagrid/src/metta/mettagrid/mettagrid_env.py
  recipes/dual_policy_local.sh
  recipes/dual_policy_sky.sh
  run.py
  tests/rl/test_dual_policy_logging.py
  tests/rl/test_dual_policy_training.py
Due: core, mettagrid

feat(sweep): Add support for multi-GPU distributed training in sweeps.
  devops/train.sh
  metta/rl/trainer.py
  tools/sweep_rollout.py
  tools/train.py
Due: core

fix stupid bug
  metta/rl/policy_management.py
Due: core

bug
  configs/env/mettagrid/arena/combat_teams.yaml
Due: core

Simplify lstm code
  agent/src/metta/agent/external/example.py
Due: agent

is this it
  metta/rl/trainer.py
Due: core

Clean code
  agent/src/metta/agent/external/new_agent.py
Due: agent

bugs
  configs/env/mettagrid/arena/combat_teams.yaml
Due: core

terraform softmax-infra-oauth secret
  devops/tf/eks/secrets.tf
  devops/tf/eks/variables.tf
Due: core

fix type
  devops/tf/eks/variables.tf
Due: core

fix
  devops/tf/eks/secrets.tf
Due: core

pelase
  common/src/metta/common/util/lock.py
  devops/sweep.sh
  metta/rl/trainer.py
Due: core, common

This commit seems to have caused training to grind to halt after a few epochs
  mettagrid/demos/demo_train_puffer.py
  mettagrid/src/metta/mettagrid/__init__.py
  mettagrid/src/metta/mettagrid/base_env.py
  mettagrid/src/metta/mettagrid/core.py
  mettagrid/src/metta/mettagrid/gym_env.py
  mettagrid/src/metta/mettagrid/mettagrid_c.cpp
  mettagrid/src/metta/mettagrid/mettagrid_c.pyi
  mettagrid/src/metta/mettagrid/mettagrid_env.py
  mettagrid/src/metta/mettagrid/pettingzoo_env.py
  mettagrid/src/metta/mettagrid/puffer_base.py
  mettagrid/src/metta/mettagrid/puffer_env.py
  mettagrid/src/metta/mettagrid/replay_writer.py
  mettagrid/src/metta/mettagrid/types.hpp
  mettagrid/src/metta/mettagrid/util/actions.py
  mettagrid/tests/test_actions.py
  mettagrid/tests/test_buffer_reuse.py
  mettagrid/tests/test_buffers.py
  mettagrid/tests/test_mettagrid.py
  mettagrid/tests/test_mettagrid_env.py
  mettagrid/tests/test_new_env_hierarchy.py
  mettagrid/tests/test_observations.py
  mettagrid/tests/test_puffer_env.py
  mettagrid/tests/test_rewards.py
  mettagrid/tests/test_swap.py
Due: mettagrid, mettagrid_cpp

Revert change that impeded training (#1870)
  mettagrid/demos/demo_train_puffer.py
  mettagrid/src/metta/mettagrid/__init__.py
  mettagrid/src/metta/mettagrid/base_env.py
  mettagrid/src/metta/mettagrid/core.py
  mettagrid/src/metta/mettagrid/gym_env.py
  mettagrid/src/metta/mettagrid/mettagrid_c.cpp
  mettagrid/src/metta/mettagrid/mettagrid_c.pyi
  mettagrid/src/metta/mettagrid/mettagrid_env.py
  mettagrid/src/metta/mettagrid/pettingzoo_env.py
  mettagrid/src/metta/mettagrid/puffer_base.py
  mettagrid/src/metta/mettagrid/puffer_env.py
  mettagrid/src/metta/mettagrid/replay_writer.py
  mettagrid/src/metta/mettagrid/types.hpp
  mettagrid/src/metta/mettagrid/util/actions.py
  mettagrid/tests/test_actions.py
  mettagrid/tests/test_buffer_reuse.py
  mettagrid/tests/test_buffers.py
  mettagrid/tests/test_mettagrid.py
  mettagrid/tests/test_mettagrid_env.py
  mettagrid/tests/test_new_env_hierarchy.py
  mettagrid/tests/test_observations.py
  mettagrid/tests/test_puffer_env.py
  mettagrid/tests/test_rewards.py
  mettagrid/tests/test_swap.py
Due: mettagrid, mettagrid_cpp

More trainer.py type changes
  metta/rl/kickstarter.py
  metta/rl/policy_management.py
  metta/rl/trainer.py
  tools/train.py
Due: core

more
  metta/interface/agent.py
  metta/rl/evaluate.py
  metta/rl/optimization.py
  metta/rl/ppo.py
  metta/rl/rollout.py
  metta/rl/stats.py
  metta/rl/util/__init__.py
  metta/rl/vecenv.py
Due: core

rm unused util
  agent/src/metta/agent/metta_agent.py
  agent/src/metta/agent/policy_record.py
  metta/rl/trainer.py
  metta/rl/util/__init__.py
Due: core, agent

Policies can also be PytorchAgent
  metta/interface/agent.py
  metta/rl/optimization.py
  metta/rl/policy_management.py
  metta/rl/ppo.py
  metta/rl/rollout.py
  metta/rl/stats.py
Due: core

fixed merge conflict
  mettagrid/src/metta/mettagrid/mettagrid_c.cpp
Due: mettagrid, mettagrid_cpp

Remove SamplingTaskCurriculum
  mettagrid/src/metta/mettagrid/curriculum/progressive.py
  mettagrid/src/metta/mettagrid/curriculum/sampling.py
  mettagrid/tests/test_curriculum.py
Due: mettagrid

Trying something
  metta/rl/policy_management.py
Due: core

trainer.py type updates and removing unused code (#1857)
  agent/src/metta/agent/metta_agent.py
  agent/src/metta/agent/policy_record.py
  metta/interface/agent.py
  metta/rl/evaluate.py
  metta/rl/kickstarter.py
  metta/rl/optimization.py
  metta/rl/policy_management.py
  metta/rl/ppo.py
  metta/rl/rollout.py
  metta/rl/stats.py
  metta/rl/trainer.py
  metta/rl/util/__init__.py
  metta/rl/vecenv.py
  tools/train.py
Due: core, agent

Update mettagrid/src/metta/mettagrid/actions/move_cardinal.hpp
  mettagrid/src/metta/mettagrid/actions/move_cardinal.hpp
Due: mettagrid, mettagrid_cpp

skypilot
  configs/user/krishnakanth.yaml
Due: core

Revert "Trying something"
  metta/rl/policy_management.py
Due: core

ruff
  mettagrid/src/metta/mettagrid/util/actions.py
  mettagrid/tests/test_cardinal_movement.py
Due: mettagrid

sim config
  configs/sim/sim.yaml
  configs/sim_job.yaml
Due: core

add cost
  configs/user/dual_policy_checkpoint_example.yaml
  docs/dual_policy_training.md
  metta/rl/rollout.py
  mettagrid/src/metta/mettagrid/base_env.py
  mettagrid/src/metta/mettagrid/mettagrid_env.py
  recipes/dual_policy_local.sh
  recipes/dual_policy_sky.sh
  run.py
  tests/rl/test_dual_policy_logging.py
  tests/rl/test_dual_policy_training.py
Due: core, mettagrid

add cooldowns
  configs/env/mettagrid/extended_sequence/backchain2.yaml
  configs/env/mettagrid/extended_sequence/backchain3.yaml
  configs/env/mettagrid/extended_sequence/backchain4.yaml
  configs/env/mettagrid/extended_sequence/backchain5.yaml
Due: core

Remove SamplingTaskCurriculum and ProgressiveTaskCurriculum (#1838)
  mettagrid/src/metta/mettagrid/curriculum/progressive.py
  mettagrid/src/metta/mettagrid/curriculum/sampling.py
  mettagrid/tests/test_curriculum.py
Due: mettagrid

increase cooldown
  configs/env/mettagrid/operant_conditioning/4_converters/factory.yaml
Due: core

prometheus chart configuration
  devops/charts/helm.values/prometheus-values.yaml
  devops/charts/helmfile.yaml
Due: core

Remove macbook config
  configs/hardware/macbook.yaml
  configs/train_job.yaml
  tools/train.py
Due: core

Path conditions:
  core: any file but: app_backend/, agent/, mettagrid/, common/, **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  app_backend: any of: app_backend/, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  agent: any of: agent/, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  mettagrid: any of: mettagrid/, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  mettagrid_cpp: any of: **/*.cpp, **/*.cc, **/*.cxx, **/*.c++, **/*.h, **/*.hpp, **/*.hh, **/*.hxx, **/*.h++, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  common: any of: common/, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
