Repository Metta-AI/metta: changes, and which Codecov flags are due for each by the changed paths.
All: core, app_backend, agent, mettagrid, mettagrid_cpp, common

codecov.yml:

# Codecov configuration for Metta-AI
# Documentation: https://docs.codecov.com/docs/codecov-yaml

# Wait for all CI jobs to complete before posting results
codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

# Coverage settings
coverage:
  # Round coverage to 2 decimal places
  precision: 2
  round: down

  # Status checks configuration
  status:
    # Project-wide coverage
    project:
      default:
        target: auto # Compare against base branch
        threshold: 1% # Allow 1% coverage drop
        base: auto
        informational: true # Won't fail PR, just inform

    # Coverage for changed lines only - this is your main gate
    patch:
      default:
        target: 50% # Minimum 50% coverage on new code
        threshold: 0% # No tolerance below 50%
        base: auto
        if_ci_failed: success # Don't fail if CI fails
        if_not_found: success # Don't fail if no coverage data

      # Additional informational patch check
      informational:
        target: 80% # Ideal target
        threshold: 0%
        informational: true # Won't fail, just shows as warning

# Pull request comment configuration
comment:
  layout: "header, diff, flags, components, files"
  behavior: default
  require_changes: false # Post comment even if no coverage change
  require_base: false # Don't require base coverage
  require_head: true # Must have head coverage to post
  hide_project_coverage: false # Show overall project coverage

# Flag configuration for different test suites
flags:
  core:
    paths:
      - "!app_backend/"
      - "!agent/"
      - "!mettagrid/"
      - "!common/"
    carryforward: true

  app_backend:
    paths:
      - app_backend/
    carryforward: true

  agent:
    paths:
      - agent/
    carryforward: true

  mettagrid:
    paths:
      - mettagrid/
    carryforward: true

  mettagrid_cpp:
    paths:
      - "**/*.cpp"
      - "**/*.cc"
      - "**/*.cxx"
      - "**/*.c++"
      - "**/*.h"
      - "**/*.hpp"
      - "**/*.hh"
      - "**/*.hxx"
      - "**/*.h++"
    carryforward: true

  common:
    paths:
      - common/
    carryforward: true

# Ignore certain paths from coverage
ignore:
  - "**/tests/"
  - "**/test_*.py"
  - "**/*_test.py"
  - "**/conftest.py"
  - "setup.py"
  - "**/migrations/"
  - "**/__pycache__/"
  - "**/node_modules/"
  - "**/*.pb.py" # Generated protobuf files
  - "**/*.pyi" # Type stub files
  - "**/fixtures/"
  - "**/mocks/"
  - "**/build/" # C++ build directories
  - "**/cmake-build-*/" # CLion/CMake build directories
  - "**/CMakeFiles/" # CMake generated files
  - "**/*.o" # Object files
  - "**/*.a" # Static libraries
  - "**/*.so" # Shared libraries
  - "**/*.dylib" # macOS dynamic libraries
  - "**/*.dll" # Windows dynamic libraries

# GitHub integration settings
github_checks:
  annotations: true # Show coverage annotations in PR files view

better
  metta/sweep/store/wandb.py
  test_orchestrator_local.py
Due: core

Get memory
  metta/rl/memory_management.py
Due: core

Remove methods
  metta/rl/memory_management.py
Due: core

better
  metta/sweep/store/wandb.py
Due: core

docstring
  metta/rl/memory_management.py
Due: core

Remove not used methods
  metta/rl/memory_management.py
Due: core

better
  test_orchestrator_local.py
Due: none

Pass states
  metta/sim/simulation.py
Due: core

Return state dict
  agent/src/metta/agent/pytorch/fast.py
Due: agent

Store states
  metta/sim/simulation.py
Due: core

better
  metta/sweep/sweep_orchestrator.py
Due: core

Handle policy return
  metta/rl/losses.py
Due: core

added support for failed runs
  metta/sweep/store/wandb.py
  metta/sweep/sweep_orchestrator.py
Due: core

Refactor trainer
  metta/rl/trainer.py
Due: core

Refactor process mini batch
  metta/rl/losses.py
Due: core

Clean
  metta/rl/losses.py
Due: core

Update keys
  metta/rl/memory_management.py
Due: core

Revert
  metta/rl/memory_management.py
Due: core

Fix get_states
  metta/rl/memory_management.py
Due: core

Pass the states
  metta/rl/losses.py
Due: core

Update mettagrid/install-debug.sh
  mettagrid/install-debug.sh
Due: mettagrid

Refactor fast
  agent/src/metta/agent/pytorch/fast.py
  metta/rl/losses.py
  metta/rl/memory_management.py
  metta/rl/trainer.py
  metta/sim/simulation.py
Due: core, agent

Align for component policies
  metta/rl/memory_management.py
Due: core

Return state from component policy
  agent/src/metta/agent/component_policy.py
  metta/rl/losses.py
Due: core, agent

Fix type
  agent/src/metta/agent/component_policy.py
Due: agent

One liner
  metta/rl/losses.py
Due: core

TODO for richard
  metta/rl/losses.py
Due: core

Simplify
  metta/rl/trainer.py
Due: core

Clean & comments
  metta/rl/memory_management.py
  metta/rl/trainer.py
Due: core

Update metta/sim/simulation.py
  metta/sim/simulation.py
Due: core

Remove methods
  agent/src/metta/agent/pytorch/base.py
Due: agent

Remove memory methods
  agent/src/metta/agent/policy_interface.py
Due: agent

Fix env_id
  metta/sim/simulation.py
Due: core

Remove unused methods
  agent/src/metta/agent/component_policy.py
Due: agent

Removed unused methods
  agent/src/metta/agent/component_policy.py
Due: agent

Rename
  agent/src/metta/agent/component_policy.py
Due: agent

Clean code
  agent/src/metta/agent/pytorch/fast.py
  metta/sim/simulation.py
Due: core, agent
