Repository Metta-AI/metta: changes, and which Codecov flags are due for each by the changed paths.
All: core, app_backend, agent, mettagrid, mettagrid_cpp, common

codecov.yml:

# Codecov configuration for Metta-AI
# Documentation: https://docs.codecov.com/docs/codecov-yaml

# Wait for all CI jobs to complete before posting results
codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

# Coverage settings
coverage:
  # Round coverage to 2 decimal places
  precision: 2
  round: down

  # Status checks configuration
  status:
    # Project-wide coverage
    project:
      default:
        target: auto # Compare against base branch
        threshold: 1% # Allow 1% coverage drop
        base: auto
        informational: true # Won't fail PR, just inform

    # Coverage for changed lines only - this is your main gate
    patch:
      default:
        target: 50% # Minimum 50% coverage on new code
        threshold: 0% # No tolerance below 50%
        base: auto
        if_ci_failed: success # Don't fail if CI fails
        if_not_found: success # Don't fail if no coverage data

      # Additional informational patch check
      informational:
        target: 80% # Ideal target
        threshold: 0%
        informational: true # Won't fail, just shows as warning

# Pull request comment configuration
comment:
  layout: "header, diff, flags, components, files"
  behavior: default
  require_changes: false # Post comment even if no coverage change
  require_base: false # Don't require base coverage
  require_head: true # Must have head coverage to post
  hide_project_coverage: false # Show overall project coverage

# Flag configuration for different test suites
flags:
  core:
    paths:
      - "!app_backend/"
      - "!agent/"
      - "!mettagrid/"
      - "!common/"
    carryforward: true

  app_backend:
    paths:
      - app_backend/
    carryforward: true

  agent:
    paths:
      - agent/
    carryforward: true

  mettagrid:
    paths:
      - mettagrid/
    carryforward: true

  mettagrid_cpp:
    paths:
      - "**/*.cpp"
      - "**/*.cc"
      - "**/*.cxx"
      - "**/*.c++"
      - "**/*.h"
      - "**/*.hpp"
      - "**/*.hh"
      - "**/*.hxx"
      - "**/*.h++"
    carryforward: true

  common:
    paths:
      - common/
    carryforward: true

# Ignore certain paths from coverage
ignore:
  - "**/tests/"
  - "**/test_*.py"
  - "**/*_test.py"
  - "**/conftest.py"
  - "setup.py"
  - "**/migrations/"
  - "**/__pycache__/"
  - "**/node_modules/"
  - "**/*.pb.py" # Generated protobuf files
  - "**/*.pyi" # Type stub files
  - "**/fixtures/"
  - "**/mocks/"
  - "**/build/" # C++ build directories
  - "**/cmake-build-*/" # CLion/CMake build directories
  - "**/CMakeFiles/" # CMake generated files
  - "**/*.o" # Object files
  - "**/*.a" # Static libraries
  - "**/*.so" # Shared libraries
  - "**/*.dylib" # macOS dynamic libraries
  - "**/*.dll" # Windows dynamic libraries

# GitHub integration settings
github_checks:
  annotations: true # Show coverage annotations in PR files view

change to array
  devops/skypilot/config/skypilot_run.sh
Due: core

tools/sim.py should emit all replay urls
  agent/src/metta/agent/component_policy.py
  devops/skypilot/README.md
  devops/skypilot/config/skypilot_run.sh
  experiments/evals/navigation.py
  metta/rl/trainer.py
  metta/sweep/sweep_lifecycle.py
  metta/tools/sim.py
  tests/tools/test_opportunistic_policy.py
  tests/tools/test_policy_selection.py
  tests/tools/test_renderer_job.py
  tools/renderer.py
  tools/train.py
Due: core, agent

split args
  devops/skypilot/config/skypilot_run.sh
Due: core

tools/sim.py should emit all replay urls
  agent/src/metta/agent/component_policy.py
  devops/skypilot/README.md
  devops/skypilot/config/skypilot_run.sh
  experiments/evals/navigation.py
  metta/rl/trainer.py
  metta/sweep/sweep_lifecycle.py
  metta/tools/sim.py
  metta/tools/train.py
  tests/tools/test_opportunistic_policy.py
  tests/tools/test_policy_selection.py
  tests/tools/test_renderer_job.py
  tools/renderer.py
  tools/train.py
Due: core, agent

fix cmd
  devops/skypilot/config/skypilot_run.sh
Due: core

Complete codebot architecture refactor and fixes
  manybot/codebot/cli.py
  manybot/codebot/codeclip/codeclip/cli.py
  manybot/codebot/workflow.py
  manybot/codebot/workflows/summarize.py
Due: core

fix shutdown
  devops/skypilot/config/skypilot_run.sh
Due: core

agent config v1
  agent/src/metta/agent/agent_config.py
  agent/src/metta/agent/agent_mapper.py
  agent/src/metta/agent/metta_agent.py
Due: agent

relh update
  experiments/user/relh.py
Due: core

agent config v2
  agent/src/metta/agent/agent_config.py
  agent/src/metta/agent/metta_agent.py
  metta/rl/checkpoint_manager.py
  metta/rl/stats.py
  metta/rl/trainer.py
  metta/tools/train.py
Due: core, agent

set workers
  experiments/user/relh.py
Due: core

added my user
  experiments/user/relh.py
Due: core

set state catch
  agent/src/metta/agent/metta_agent.py
Due: agent

move onto debug imports
  metta/rl/trainer.py
Due: core

restored AgentConfig
  metta/tools/train.py
Due: core

updated relh
  experiments/user/relh.py
Due: core

switched back to arena
  experiments/user/relh.py
  metta/rl/trainer_config.py
Due: core

revert changes
  experiments/user/relh.py
Due: core

undoing unneeded changes
  experiments/user/relh.py
  metta/tools/train.py
Due: core

attempting dist fix
  metta/core/distributed.py
Due: core

user relh fix no compile
  experiments/user/relh.py
Due: core

Reapply component-policies on top of dehydration stack
  agent/src/metta/agent/agent_mapper.py
  agent/src/metta/agent/component_policies/README.md
  agent/src/metta/agent/component_policies/fast.py
  agent/src/metta/agent/component_policies/latent_attn_med.py
  agent/src/metta/agent/component_policies/latent_attn_small.py
  agent/src/metta/agent/component_policies/latent_attn_tiny.py
  agent/src/metta/agent/component_policy.py
  agent/src/metta/agent/lib/obs_enc.py
  agent/src/metta/agent/metta_agent.py
  agent/src/metta/agent/pytorch/agent_mapper.py
  agent/src/metta/agent/pytorch/latent_attn_small.py
  agent/tests/test_legacy_adapter.py
  agent/tests/test_metta_agent.py
  configs/agent/fast.yaml
  configs/agent/latent_attn_med.yaml
  configs/agent/latent_attn_small.yaml
  configs/agent/latent_attn_tiny.yaml
  configs/agent/prototypes/resmlp_value.yaml
  configs/agent/reference_design.yaml
Due: core, agent

fixed name
  experiments/user/relh.py
Due: core

max workers
  experiments/user/relh.py
  metta/tools/train.py
Due: core

trying some speed fixes
  experiments/user/relh.py
Due: core

cpu only mode forever
  metta/rl/advantage.py
  metta/rl/trainer.py
Due: core

dist fix
  metta/core/distributed.py
Due: core

revert the distributed change
  metta/core/distributed.py
Due: core

revert
  metta/core/distributed.py
Due: core

fix: remove undefined 'device' variable in ComponentPolicy.__init__
  agent/src/metta/agent/component_policy.py
Due: agent

adding logging
  metta/tools/train.py
Due: core

component policy change
  agent/src/metta/agent/component_policy.py
Due: agent

obs enc
  agent/src/metta/agent/lib/obs_enc.py
Due: agent

revert: remove unnecessary changes to reduce diff with dehydration-10
  agent/src/metta/agent/lib/obs_enc.py
  metta/rl/advantage.py
  metta/rl/trainer.py
  metta/tools/train.py
Due: core, agent

lint
  agent/src/metta/agent/agent_config.py
  agent/src/metta/agent/metta_agent.py
  metta/rl/checkpoint_manager.py
  metta/rl/stats.py
  metta/rl/trainer.py
  metta/tools/train.py
Due: core, agent

add debug
  common/src/metta/common/util/skypilot_latency.py
Due: common

add api key
  common/src/metta/common/util/skypilot_latency.py
  devops/skypilot/utils.py
Due: core, common

fix shutdown on single gpu
  devops/skypilot/config/skypilot_run.sh
Due: core

get from netrc
  devops/skypilot/utils.py
Due: core
