Repository Metta-AI/metta: changes, and which Codecov flags are due for each by the changed paths.
All: core, app_backend, agent, mettagrid, mettagrid_cpp, common

codecov.yml:

# Codecov configuration for Metta-AI
# Documentation: https://docs.codecov.com/docs/codecov-yaml

# Wait for all CI jobs to complete before posting results
codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

# Coverage settings
coverage:
  # Round coverage to 2 decimal places
  precision: 2
  round: down

  # Status checks configuration
  status:
    # Project-wide coverage
    project:
      default:
        target: auto # Compare against base branch
        threshold: 1% # Allow 1% coverage drop
        base: auto
        informational: true # Won't fail PR, just inform

    # Coverage for changed lines only - this is your main gate
    patch:
      default:
        target: 50% # Minimum 50% coverage on new code
        threshold: 0% # No tolerance below 50%
        base: auto
        if_ci_failed: success # Don't fail if CI fails
        if_not_found: success # Don't fail if no coverage data

      # Additional informational patch check
      informational:
        target: 80% # Ideal target
        threshold: 0%
        informational: true # Won't fail, just shows as warning

# Pull request comment configuration
comment:
  layout: "header, diff, flags, components, files"
  behavior: default
  require_changes: false # Post comment even if no coverage change
  require_base: false # Don't require base coverage
  require_head: true # Must have head coverage to post
  hide_project_coverage: false # Show overall project coverage

# Flag configuration for different test suites
flags:
  core:
    paths:
      - "!app_backend/"
      - "!agent/"
      - "!mettagrid/"
      - "!common/"
    carryforward: true

  app_backend:
    paths:
      - app_backend/
    carryforward: true

  agent:
    paths:
      - agent/
    carryforward: true

  mettagrid:
    paths:
      - mettagrid/
    carryforward: true

  mettagrid_cpp:
    paths:
      - "**/*.cpp"
      - "**/*.cc"
      - "**/*.cxx"
      - "**/*.c++"
      - "**/*.h"
      - "**/*.hpp"
      - "**/*.hh"
      - "**/*.hxx"
      - "**/*.h++"
    carryforward: true

  common:
    paths:
      - common/
    carryforward: true

# Ignore certain paths from coverage
ignore:
  - "**/tests/"
  - "**/test_*.py"
  - "**/*_test.py"
  - "**/conftest.py"
  - "setup.py"
  - "**/migrations/"
  - "**/__pycache__/"
  - "**/node_modules/"
  - "**/*.pb.py" # Generated protobuf files
  - "**/*.pyi" # Type stub files
  - "**/fixtures/"
  - "**/mocks/"
  - "**/build/" # C++ build directories
  - "**/cmake-build-*/" # CLion/CMake build directories
  - "**/CMakeFiles/" # CMake generated files
  - "**/*.o" # Object files
  - "**/*.a" # Static libraries
  - "**/*.so" # Shared libraries
  - "**/*.dylib" # macOS dynamic libraries
  - "**/*.dll" # Windows dynamic libraries

# GitHub integration settings
github_checks:
  annotations: true # Show coverage annotations in PR files view

f
  mettascope2/src/mettascope.nim
Due: core

Rendering first replay
  mettascope2/replays/pens.json.z
  mettascope2/src/mettascope.nim
  mettascope2/src/mettascope.nims
  mettascope2/src/mettascope/actions.nim
  mettascope2/src/mettascope/common.nim
  mettascope2/src/mettascope/replays.nim
  mettascope2/src/mettascope/sim.nim
  mettascope2/src/mettascope/utils.nim
  mettascope2/src/mettascope/worldmap.nim
Due: core

Replay replays.
  mettascope2/data/objects/mine_red.png
  mettascope2/src/mettascope.nim
  mettascope2/src/mettascope/common.nim
  mettascope2/src/mettascope/replays.nim
  mettascope2/src/mettascope/timeline.nim
  mettascope2/src/mettascope/worldmap.nim
Due: core

Ability to load replays.
  mettascope2/mettascope.nimble
  mettascope2/src/mettascope.nim
  mettascope2/src/mettascope/replays.nim
Due: core

f
  mettascope2/mettascope.nimble
  mettascope2/src/mettascope.nim
  mettascope2/src/mettascope/panels.nim
  mettascope2/src/mettascope/timeline.nim
Due: core

fix loading replay in emscripten
  mettascope2/src/mettascope.nim
  mettascope2/src/mettascope.nims
  mettascope2/src/mettascope/shell.html
  mettascope2/src/mettascope/worldmap.nim
Due: core

cooling: remove Args/Returns for obvious type signatures (#2328)
  agent/src/metta/agent/lib/action.py
  agent/src/metta/agent/lib/metta_layer.py
  agent/src/metta/agent/lib/obs_enc.py
  agent/src/metta/agent/lib/position.py
  agent/src/metta/agent/metta_agent.py
  agent/src/metta/agent/modules/tokenizers.py
  agent/src/metta/agent/policy_cache.py
  agent/src/metta/agent/policy_interface.py
  agent/src/metta/agent/policy_store.py
  agent/src/metta/agent/pytorch/base.py
  agent/src/metta/agent/pytorch/fast.py
  agent/src/metta/agent/pytorch/latent_attn_med.py
  agent/src/metta/agent/pytorch/latent_attn_small.py
  agent/src/metta/agent/pytorch/latent_attn_tiny.py
  agent/src/metta/agent/pytorch/pytorch_agent_mixin.py
  agent/src/metta/agent/util/debug.py
  agent/src/metta/agent/util/distribution_utils.py
  agent/src/metta/agent/util/safe_get.py
  agent/src/metta/agent/util/weights_analysis.py
  agent/src/metta/agent/utils.py
  cogweb/cogweb_client.py
  common/src/metta/common/profiling/stopwatch.py
  common/src/metta/common/util/module.py
  metta/core/monitoring.py
  metta/eval/eval_service.py
  metta/map/mapgen.py
  metta/rl/checkpoint_manager.py
  metta/rl/evaluate.py
  metta/rl/optimization.py
  metta/rl/stats.py
  metta/rl/utils.py
  metta/rl/wandb.py
  metta/sim/simulation.py
  metta/utils/batch.py
  metta/utils/progress.py
  mettagrid/src/metta/mettagrid/core.py
  mettagrid/src/metta/mettagrid/mettagrid_env.py
Due: core, agent, mettagrid, common

cooling: activate_actions(_embeddings) all just becomes unified `initialize_to_environment`, also add back test_metta_agent.py (#2327)
  agent/src/metta/agent/component_policy.py
  agent/src/metta/agent/lib/action.py
  agent/src/metta/agent/metta_agent.py
  agent/src/metta/agent/policy_interface.py
  agent/src/metta/agent/pytorch/fast.py
  agent/src/metta/agent/pytorch/pytorch_agent_mixin.py
  agent/tests/test_metta_agent.py
  agent/tests/test_vanilla_policy.py
Due: agent

Zhush up home: icons, favorites, sublinks, multiple shorturls per link
  home/generate-nginx-redirects.js
  home/index.html
  home/links.yaml
  home/src/App.css
  home/src/App.tsx
  home/src/index.css
  metta/setup/metta_cli.py
Due: core

fix: convert generate-nginx-redirects.js to ES module syntax
  home/generate-nginx-redirects.js
Due: core

Add description for how to update the page
  home/src/App.tsx
Due: core

alexs solved it
  experiments/recipes/arena_basic_easy_shaped.py
Due: core

Zhush up home.softmax-research.net (#2326)
  home/generate-nginx-redirects.js
  home/index.html
  home/links.yaml
  home/src/App.css
  home/src/App.tsx
  home/src/index.css
  metta/setup/metta_cli.py
Due: core

remove pnpm from brewfile (#2322)
  devops/macos/Brewfile
Due: core

fix helm template syntax error in deployment.yaml
  devops/charts/home/templates/deployment.yaml
Due: core

Cache self.grid in mapgen - workaround for mettagrid calling map_buidler twice (#2324)
  metta/map/mapgen.py
Due: core

fix helm template syntax error in deployment.yaml (#2329)
  devops/charts/home/templates/deployment.yaml
Due: core

revert testing
  agent/tests/test_metta_agent.py
Due: none

remove cruft
  .claude/tasks/post-dehydration-performance-regression-analysis.md
  dehydrate_regression.md
  map_configuration_fixes.md
Due: core

reduce diff
  experiments/recipes/arena_basic_easy_shaped.py
Due: core

imports lint
  experiments/recipes/arena_basic_easy_shaped.py
Due: core

CRITICAL: Recipe needed to set both `groups.props.rewards` and `agents.rewards` to properly set shaped rewards (#2308)
  agent/src/metta/agent/metta_agent.py
  experiments/recipes/arena_basic_easy_shaped.py
Due: core, agent

simplify basic easy shaped
  experiments/recipes/arena_basic_easy_shaped.py
Due: core

graphite was right..
  experiments/recipes/arena.py
  experiments/recipes/arena_basic_easy_shaped.py
Due: core

Update experiments/recipes/arena_basic_easy_shaped.py
  experiments/recipes/arena_basic_easy_shaped.py
Due: core

hotfix: simplify arena_basic_easy_shaped (#2331)
  experiments/recipes/arena.py
  experiments/recipes/arena_basic_easy_shaped.py
Due: core

Simplify resource rewards
  experiments/marimo/01-hello-world-marimo.py
  experiments/recipes/arena.py
  experiments/recipes/arena_basic_easy_shaped.py
  metta/cogworks/curriculum/demo.py
  mettagrid/src/metta/mettagrid/config/envs.py
  mettagrid/src/metta/mettagrid/mettagrid_c_config.py
  mettagrid/src/metta/mettagrid/mettagrid_config.py
  tests/test_programmatic_env_creation.py
  tests/tools/test_renderer_job.py
Due: core, mettagrid

allow dict keys to be added
  common/src/metta/common/config/config.py
Due: common

wip
  common/src/metta/common/config/config.py
  experiments/evals/navigation.py
  experiments/evals/systematic_exploration_memory.py
  experiments/recipes/arena.py
  experiments/recipes/arena_basic_easy_shaped.py
Due: core, common

update test
  mettagrid/tests/test_rewards.py
Due: none

fix reward updating
  mettagrid/src/metta/mettagrid/mettagrid_c_config.py
Due: mettagrid

merge
  experiments/marimo/01-hello-world-marimo.py
Due: core

adding behavioral tests and bug fixes
  debug_lp.py
  experiments/recipes/arena.py
  experiments/recipes/navigation.py
  metta/cogworks/curriculum/curriculum.py
  metta/cogworks/curriculum/learning_progress_algorithm.py
  metta/cogworks/curriculum/task_generator.py
  tests/cogworks/curriculum/test_comprehensive.py
  tests/cogworks/curriculum/test_integration.py
  tests/cogworks/curriculum/test_learning_progress_behavior.py
Due: core

make tests more reliable
  tests/cogworks/curriculum/test_learning_progress_behavior.py
Due: none

feat(cli): add clipboard support and extract logging module
  manybot/codebot/cli.py
  manybot/codebot/logging.py
  manybot/codebot/workflow.py
  manybot/codebot/workflows/summarize.py
Due: core

remove stale imports, fix merge conflicts
  experiments/marimo/01-hello-world-marimo.py
  mettagrid/tests/test_action_compatibility.py
Due: core

collapsible install module logs... testing different modules.
  metta/setup/collapsible_logs.py
  metta/setup/components/nodejs.py
  metta/setup/components/notebookwidgets.py
  metta/setup/metta_cli.py
  package.json
  pnpm-lock.yaml
Due: core

fix this for ci
  metta/setup/metta_cli.py
Due: core

use Path better
  metta/setup/components/notebookwidgets.py
Due: core
