Repository Metta-AI/metta: changes, and which Codecov flags are due for each by the changed paths.
All: core, app_backend, agent, mettagrid, mettagrid_cpp, common

fix: resolve linting errors in experiment notebooks
  experiments/__init__.py
  experiments/experiment.py
  experiments/launch.py
  experiments/monitoring.py
  experiments/notebooks/__init__.py
  experiments/notebooks/analysis.py
  experiments/notebooks/export.py
  experiments/notebooks/generation.py
  experiments/notebooks/monitoring.py
  experiments/notebooks/replays.py
  experiments/notebooks/state.py
  experiments/notebooks/training.py
  experiments/recipes/arena_experiment.py
  experiments/types.py
  experiments/wandb_utils.py
  metta/setup/metta_cli.py
  tests/experiments/__init__.py
  tests/experiments/notebooks/__init__.py
  tests/experiments/test_experiment_launch.py
  tests/experiments/test_notebook_analysis.py
  tests/experiments/test_notebook_generation.py
  tests/experiments/test_training_job_config.py
  uv.lock
Due: core

removing unused stuff
  mettascope/src/layout.ts
Due: core

fix client import
  .github/actions/asana/pr_gh_to_asana/asana_task.py
Due: core

remove functions
  mettascope/src/layout.ts
Due: core

simplify parent layout tracking
  mettascope/src/layout.ts
Due: core

try again
  .github/actions/asana/pr_gh_to_asana/pr_gh_to_asana.py
Due: core

Put commonly use constants (accounts, urls) in metta.common.utils.constants
  app_backend/src/metta/app_backend/eval_task_orchestrator.py
  app_backend/src/metta/app_backend/sweep_client.py
  common/src/metta/common/util/constants.py
  common/src/metta/common/util/git.py
  common/src/metta/common/util/skypilot_latency.py
  common/src/metta/common/util/stats_client_cfg.py
  common/src/metta/common/wandb/collect_metrics.py
  common/src/metta/common/wandb/log_wandb.py
  common/src/metta/common/wandb/wandb_runs.py
  devops/git/push_child_repo.py
  devops/observatory_login.py
  experiments/notebooks/utils/heatmap_widget/heatmap_widget/util.py
  experiments/notebooks/utils/metrics.py
  experiments/notebooks/utils/monitoring.py
  metta/interface/training.py
  metta/setup/components/observatory_key.py
  metta/setup/components/skypilot.py
  metta/setup/local_commands.py
  metta/setup/profiles.py
  metta/setup/tools/local/kind.py
  mettascope/server.py
  mettascope/src/constants.ts
  mettascope/src/main.ts
  observatory/launch.py
  observatory/src/EvalTasks.tsx
  observatory/src/Heatmap.tsx
  observatory/src/constants.ts
  tools/play.py
  tools/replay.py
  tools/request_eval.py
Due: core, app_backend, common

reformat ts constant files
  mettascope/src/constants.ts
  observatory/src/constants.ts
Due: core

testing if boxes still memory leak
  mettagrid/src/metta/mettagrid/mettagrid_c.cpp
  mettagrid/src/metta/mettagrid/objects/agent.hpp
  recipes/boxes.sh
Due: core, mettagrid, mettagrid_cpp

comments
  mettagrid/src/metta/mettagrid/mettagrid_env.py
  mettagrid/src/metta/mettagrid/objects/constants.hpp
Due: mettagrid, mettagrid_cpp

Add visitation counts feature to agents
  mettagrid/src/metta/mettagrid/actions/move.hpp
  mettagrid/src/metta/mettagrid/mettagrid_c.cpp
  mettagrid/src/metta/mettagrid/objects/agent.hpp
  mettagrid/src/metta/mettagrid/objects/constants.hpp
  mettagrid/tests/test_visitation_counts.py
Due: mettagrid, mettagrid_cpp

again
  .github/actions/asana/pr_description_asana_to_gh/pr_description_gh_to_asana.py
  .github/actions/asana/pr_gh_to_asana/asana_task.py
  .github/actions/asana/pr_gh_to_asana/pr_gh_to_asana.py
Due: core

try again
  .github/actions/asana/pr_gh_to_asana/asana_task.py
Due: core

Simpler but broken
  tools/map/generate_maps.py
  tools/map/scene_params.py
  tools/map/train_vae.py
Due: core

Clean up routes
  app_backend/src/metta/app_backend/routes/dashboard_routes.py
  app_backend/src/metta/app_backend/routes/entity_routes.py
  app_backend/src/metta/app_backend/routes/heatmap_routes.py
  app_backend/src/metta/app_backend/server.py
  app_backend/tests/generate_test_data.py
  app_backend/tests/test_token_system.py
  app_backend/tests/test_training_runs_routes.py
  observatory/src/repo.ts
Due: core, app_backend

Do the same for mettascope replay url and lint
  common/src/metta/common/util/constants.py
  devops/add_to_leaderboard.py
  metta/interface/evaluation.py
  metta/rl/trainer.py
  metta/rl/util/evaluation.py
  metta/sim/map_preview.py
  mettascope/src/main.ts
  observatory/src/Dashboard.tsx
  observatory/src/TrainingRunDetail.tsx
  observatory/src/constants.ts
  run.py
  tools/dashboard.py
  tools/request_eval.py
Due: core, common

Clean up routes
  app_backend/tests/test_training_runs_routes.py
Due: none

fix nested splitting issue
  mettascope/custom-panel.html
  mettascope/src/layout.css
  mettascope/src/layout.ts
Due: core

update skypilot version
  experiments/notebooks/mettabook-template.ipynb
  experiments/notebooks/research/example.ipynb
  pyproject.toml
Due: core

fixed
  tools/map/generate_maps.py
Due: core

fix tab moving issue
  mettascope/src/layout.css
Due: core

use teams structure to make reward sharing arena
  configs/env/mettagrid/arena/advanced_teams.yaml
  configs/env/mettagrid/arena/basic_teams.yaml
  configs/env/mettagrid/arena/combat_teams.yaml
  configs/env/mettagrid/arena/tag_teams.yaml
  configs/env/mettagrid/curriculum/arena/teams.yaml
  recipes/arena_teams.sh
Due: core

making it one team
  configs/env/mettagrid/arena/basic_teams.yaml
  configs/env/mettagrid/arena/tag_teams.yaml
  configs/env/mettagrid/game/groups/single_team.yaml
  recipes/arena_teams.sh
Due: core

Clean up routes (#1799)
  app_backend/src/metta/app_backend/routes/dashboard_routes.py
  app_backend/src/metta/app_backend/routes/entity_routes.py
  app_backend/src/metta/app_backend/routes/heatmap_routes.py
  app_backend/src/metta/app_backend/server.py
  app_backend/tests/generate_test_data.py
  app_backend/tests/test_token_system.py
  app_backend/tests/test_training_runs_routes.py
  observatory/src/repo.ts
Due: core, app_backend

configs/user/zfogg.yaml (i made a user config 🙈💁🏾) (#1790)
  configs/user/zfogg.yaml
Due: core

Update ./tools/request_eval.py (#1793)
  app_backend/src/metta/app_backend/eval_task_client.py
  app_backend/src/metta/app_backend/metta_repo.py
  app_backend/src/metta/app_backend/routes/eval_task_routes.py
  metta/setup/utils.py
  tools/request_eval.py
Due: core, app_backend

heartbeat fix
  metta/rl/checkpoint_manager.py
Due: core

fixed
  tools/map/scene_params.py
Due: core

reduce cruft
  common/src/metta/common/util/logging_helpers.py
  metta/rl/util/rich_progress.py
Due: core, common

Fix the production GitHub action that builds the main app Docker image.
  devops/docker/Dockerfile
Due: core

make executable
  recipes/arena_teams.sh
Due: core

removed force
  metta/rl/wandb.py
Due: core

drop unused initializer
  mettagrid/src/metta/mettagrid/grid_object.hpp
  mettagrid/tests.cmake
Due: mettagrid, mettagrid_cpp

fix tabs on chrome
  mettascope/custom-panel.html
  mettascope/src/layout.ts
Due: core

cp
  configs/env/mettagrid/arena/tag.yaml
  configs/env/mettagrid/curriculum/bbc/tasks/tag.yaml
  configs/user/daveey.yaml
Due: core

fix tab closing
  mettascope/src/layout.ts
Due: core

small stuff
  tools/map/generate_maps.py
  tools/map/train_vae.py
Due: core

Path conditions:
  core: any file but: app_backend/, agent/, mettagrid/, common/, **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  app_backend: any of: app_backend/, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  agent: any of: agent/, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  mettagrid: any of: mettagrid/, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  mettagrid_cpp: any of: **/*.cpp, **/*.cc, **/*.cxx, **/*.c++, **/*.h, **/*.hpp, **/*.hh, **/*.hxx, **/*.h++, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  common: any of: common/, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
