Repository Metta-AI/metta: changes, and which Codecov flags are due for each by the changed paths.
All: core, app_backend, agent, mettagrid, mettagrid_cpp, common

apples to apples test - deactivated resets
  agent/src/metta/agent/lib/lstm.py
Due: agent

do not use METTAGRID_EXTRA_LIBS
  mettagrid/CMakeLists.txt
  mettagrid/tests.cmake
Due: mettagrid

update perimeter
  metta/map/scenes/perimeter.py
  recipes/operantconditioning_incontext.sh
Due: core

stability achieved with resetting in training but not maintaining state across mbs. Now trying to save state across mbs.
  agent/src/metta/agent/lib/lstm.py
Due: agent

improve comments
  mettascope/src/atlas.ts
Due: core

add templating
  experiments/user/example.py
  metta/setup/components/experiments.py
Due: core

tools/sim.py should emit all replay urls
  metta/tools/sim.py
Due: core

user experiments file
  experiments/user/berekuk.py
  experiments/user/example.py
  metta/setup/components/experiments.py
  metta/setup/profiles.py
Due: core

Update evaluate_policy to handle multiple simulations, much like how SimulationSuite.simulate used to
  common/src/metta/common/util/collections.py
  metta/eval/eval_service.py
  metta/sim/simulation.py
Due: core, common

cleaned up and read for review
  agent/src/metta/agent/component_policies/fast.py
  agent/src/metta/agent/lib/lstm.py
  agent/src/metta/agent/lib/lstm_dep.py
  metta/sim/simulation.py
Due: core, agent

reverts
  mettagrid/src/metta/mettagrid/mettagrid_config.py
  tests/map/test_validate_all_ascii_maps.py
Due: mettagrid

Update devops/macos/Brewfile
  devops/macos/Brewfile
Due: core

Evaluate remotely by default (#2236)
  tools/train.py
Due: core

Freeze awscli version to prevent frequent slow upgrades (#2212)
  devops/macos/Brewfile
Due: core

Always ensure evaluate interval is specified
  metta/rl/trainer_config.py
Due: core

tools/sim.py should emit all replay urls
  devops/skypilot/README.md
  devops/skypilot/config/skypilot_run.sh
  experiments/evals/navigation.py
  metta/rl/trainer.py
  metta/tools/sim.py
Due: core

fix compiler issues
  mettagrid/src/metta/mettagrid/actions/get_output.hpp
  mettagrid/src/metta/mettagrid/mettagrid_c.cpp
  mettagrid/tests/test_mettagrid.cpp
Due: mettagrid, mettagrid_cpp

update tests
  tests/rl/test_trainer_config.py
Due: none

simplify comments
  metta/rl/trainer_config.py
Due: core

Revert "fix: refactor skypilot launch system (#2198)"
  .cspell.json
  agent/src/metta/agent/component_policy.py
  agent/src/metta/agent/metta_agent.py
  devops/skypilot/config/configure_environment.sh
  devops/skypilot/config/lifecycle/cleanup_handler.sh
  devops/skypilot/config/monitors/cluster_stop_monitor.sh
  devops/skypilot/config/monitors/heartbeat_monitor.sh
  devops/skypilot/config/monitors/test_job_restart_monitor.sh
  devops/skypilot/config/monitors/timeout_monitor.sh
  devops/skypilot/config/notifications/send_discord_notification.sh
  devops/skypilot/config/notifications/send_github_status.sh
  devops/skypilot/config/notifications/set_github_status.sh
  devops/skypilot/config/observability/set_github_status.py
  devops/skypilot/config/preflight/test_nccl.py
  devops/skypilot/config/sandbox.yaml
  devops/skypilot/config/sk_setup.sh
  devops/skypilot/config/sk_train.yaml
  devops/skypilot/config/sk_train_run.sh
  devops/skypilot/create_job_secrets.py
  devops/skypilot/install.sh
  devops/skypilot/set_github_status.py
  devops/skypilot/setup_shell.sh
  devops/skypilot/test_nccl.py
  devops/train.sh
  metta/rl/trainer.py
  tools/train.py
Due: core, agent

cp
  experiments/arena/arena.py
  metta/cogworks/curriculum/demo.py
  metta/eval/eval_service.py
  metta/rl/evaluate.py
  metta/rl/trainer.py
  metta/rl/trainer_config.py
  metta/sim/simulation.py
  metta/sim/simulation_config.py
  mettagrid/src/metta/mettagrid/mettagrid_config.py
  tools/play.py
  tools/replay.py
  tools/sim.py
  tools/sweep_eval.py
  tools/train.py
Due: core, mettagrid

cp
  metta/cogworks/sweep/sweep_config.py
Due: core

Revert "Implementation of dual-policy training (50% NPC, 50% agents) (#2180)"
  configs/trainer/trainer.yaml
  metta/rl/losses.py
  metta/rl/stats.py
  metta/rl/trainer.py
  metta/rl/trainer_config.py
  metta/rl/vecenv.py
  mettagrid/src/metta/mettagrid/mettagrid_env.py
  recipes/dual_policy_cloud.sh
Due: core, mettagrid

Revert "Component Pytorch Policies w/o YAML (#2149)"
  agent/src/metta/agent/agent_mapper.py
  agent/src/metta/agent/component_policies/fast.py
  agent/src/metta/agent/component_policies/latent_attn_med.py
  agent/src/metta/agent/component_policies/latent_attn_small.py
  agent/src/metta/agent/component_policies/latent_attn_tiny.py
  agent/src/metta/agent/component_policy.py
  agent/src/metta/agent/lib/obs_enc.py
  agent/src/metta/agent/metta_agent.py
  agent/src/metta/agent/pytorch/agent_mapper.py
  agent/src/metta/agent/pytorch/latent_attn_small.py
  agent/tests/test_legacy_adapter.py
  agent/tests/test_metta_agent.py
  configs/agent/README.md
  configs/agent/fast.yaml
  configs/agent/latent_attn_med.yaml
  configs/agent/latent_attn_small.yaml
  configs/agent/latent_attn_tiny.yaml
  configs/agent/prototypes/resmlp_value.yaml
  configs/agent/reference_design.yaml
  configs/sweep_job.yaml
  configs/train_job.yaml
  metta/util/metta_script.py
  tests/rl/test_trainer_config.py
  tests/tools/test_validate_config.py
Due: core, agent

cp
  experiments/arena/arena.py
  experiments/user/daveey.py
  mettagrid/src/metta/mettagrid/core.py
  mettagrid/src/metta/mettagrid/mettagrid_config.py
  tools/train.py
Due: core, mettagrid

bring back test_metta_script test
  tests/util/fixtures/script.py
  tests/util/test_metta_script.py
Due: core

pydantic_metta_script
  metta/util/metta_script.py
  tools/play.py
  tools/replay.py
Due: core

convert tools/renderer
  metta/util/metta_script.py
  tools/renderer.py
Due: core

cp
  metta/rl/evaluate.py
  metta/rl/trainer.py
  metta/sim/simulation.py
  metta/sim/simulation_config.py
  metta/sim/simulation_stats_db.py
  mettagrid/src/metta/mettagrid/mettagrid_config.py
  tests/eval/test_eval_stats_db.py
  tests/sim/test_simulation_stats_db.py
Due: core, mettagrid

convert tools/analyze
  agent/src/metta/agent/policy_store.py
  tools/analyze.py
Due: core, agent

tools/play.py overrides
  tools/play.py
Due: core

cp
  .vscode/launch.json
  agent/src/metta/agent/metta_agent.py
  agent/tests/test_metta_agent.py
  arena/daveey-test-run-3/checkpoints/model_0000.pt
  arena/daveey-test-run-3/checkpoints/model_0010.pt
  arena/daveey-test-run-3/checkpoints/model_0020.pt
  devops/train.sh
  experiments/arena/arena.py
  experiments/user/daveey.py
  metta/cogworks/curriculum/demo.py
  metta/map/mapgen.py
  metta/map/terrain_from_numpy.py
  metta/map/utils/show.py
  metta/rl/puffer_policy.py
  metta/rl/trainer_config.py
  mettagrid/demos/demo_train_gym.py
  mettagrid/demos/demo_train_puffer.py
  mettagrid/src/metta/mettagrid/config/__init__.py
  mettagrid/src/metta/mettagrid/config/building.py
  mettagrid/src/metta/mettagrid/config/envs.py
  mettagrid/src/metta/mettagrid/core.py
  mettagrid/src/metta/mettagrid/map_builder/map_builder.py
  mettagrid/src/metta/mettagrid/mettagrid_c_config.py
  mettagrid/src/metta/mettagrid/mettagrid_config.py
  mettagrid/tests/renderer/test_nethack.py
  mettagrid/tests/test_buffer_reuse.py
  mettagrid/tests/test_gym_env.py
  mettagrid/tests/test_interactive.py
  mettagrid/tests/test_movement_metrics.py
  mettagrid/tests/test_new_env_hierarchy.py
  mettagrid/tests/test_no_agent_interference.py
  mettagrid/tests/test_pettingzoo_env.py
  mettagrid/tests/test_wandb_movement_metrics.py
  tests/cogworks/curriculum/test_serialization.py
  tools/analyze.py
  tools/renderer.py
  tools/train.py
  tools/utils.py
Due: core, agent, mettagrid

recipes
  recipes/operantconditioning_incontext.sh
Due: core

cp
  .cspell.json
  experiments/arena.py
  experiments/arena/__init__.py
  experiments/evals/__init__.py
  experiments/evals/navigation.py
  experiments/navigation.py
  metta/cogworks/curriculum/learning_progress.py
  metta/cogworks/curriculum/task_generator.py
  mettagrid/src/metta/mettagrid/config/envs.py
Due: core, mettagrid

more mapgen refactorings
  experiments/evals/navigation.py
  experiments/evals/run.py
  metta/map/load.py
  metta/map/mapgen.py
  metta/map/scene.py
  metta/map/scenes/ascii.py
  metta/map/scenes/auto.py
  metta/map/scenes/mirror.py
  metta/map/scenes/multi_left_and_right.py
  metta/map/scenes/random_objects.py
  metta/map/scenes/random_scene_from_dir.py
  metta/map/tools/gen.py
  metta/map/tools/gen_scene.py
  metta/map/tools/view.py
  metta/map/utils/make_scene_config.py
  metta/map/utils/show.py
  metta/map/utils/storable_map.py
  mettagrid/src/metta/mettagrid/config/envs.py
  tests/map/scenes/test_make_connected.py
  tests/map/scenes/test_mirror.py
  tests/map/scenes/test_random_scene.py
  tests/map/scenes/test_remove_agents.py
  tests/map/test_scene.py
  tests/map/utils/test_storable_map_io.py
  tools/map/gen.py
  tools/map/gen_scene.py
  tools/map/view.py
  tools/run.py
Due: core, mettagrid

seed_everything
  common/src/metta/common/util/tool.py
  metta/rl/system_config.py
  metta/tools/play.py
  metta/tools/train.py
  tools/run.py
Due: core, common

wip
  configs/common.yaml
  configs/train_job.yaml
  configs/user/ci.yaml
  metta/util/init/mettagrid_system.py
  metta/util/metta_script.py
  tools/play.py
  tools/replay.py
  tools/train.py
Due: core

convert stats_duckdb_cli
  tools/stats_duckdb_cli.py
Due: core

Path conditions:
  core: any file but: app_backend/, agent/, mettagrid/, common/, **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  app_backend: any of: app_backend/, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  agent: any of: agent/, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  mettagrid: any of: mettagrid/, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  mettagrid_cpp: any of: **/*.cpp, **/*.cc, **/*.cxx, **/*.c++, **/*.h, **/*.hpp, **/*.hh, **/*.hxx, **/*.h++, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  common: any of: common/, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
