Repository Metta-AI/metta: changes, and which Codecov flags are due for each by the changed paths.
All: core, app_backend, agent, mettagrid, mettagrid_cpp, common

codecov.yml:

# Codecov configuration for Metta-AI
# Documentation: https://docs.codecov.com/docs/codecov-yaml

# Wait for all CI jobs to complete before posting results
codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

# Coverage settings
coverage:
  # Round coverage to 2 decimal places
  precision: 2
  round: down

  # Status checks configuration
  status:
    # Project-wide coverage
    project:
      default:
        target: auto # Compare against base branch
        threshold: 1% # Allow 1% coverage drop
        base: auto
        informational: true # Won't fail PR, just inform

    # Coverage for changed lines only - this is your main gate
    patch:
      default:
        target: 50% # Minimum 50% coverage on new code
        threshold: 0% # No tolerance below 50%
        base: auto
        if_ci_failed: success # Don't fail if CI fails
        if_not_found: success # Don't fail if no coverage data

      # Additional informational patch check
      informational:
        target: 80% # Ideal target
        threshold: 0%
        informational: true # Won't fail, just shows as warning

# Pull request comment configuration
comment:
  layout: "header, diff, flags, components, files"
  behavior: default
  require_changes: false # Post comment even if no coverage change
  require_base: false # Don't require base coverage
  require_head: true # Must have head coverage to post
  hide_project_coverage: false # Show overall project coverage

# Flag configuration for different test suites
flags:
  core:
    paths:
      - "!app_backend/"
      - "!agent/"
      - "!mettagrid/"
      - "!common/"
    carryforward: true

  app_backend:
    paths:
      - app_backend/
    carryforward: true

  agent:
    paths:
      - agent/
    carryforward: true

  mettagrid:
    paths:
      - mettagrid/
    carryforward: true

  mettagrid_cpp:
    paths:
      - "**/*.cpp"
      - "**/*.cc"
      - "**/*.cxx"
      - "**/*.c++"
      - "**/*.h"
      - "**/*.hpp"
      - "**/*.hh"
      - "**/*.hxx"
      - "**/*.h++"
    carryforward: true

  common:
    paths:
      - common/
    carryforward: true

# Ignore certain paths from coverage
ignore:
  - "**/tests/"
  - "**/test_*.py"
  - "**/*_test.py"
  - "**/conftest.py"
  - "setup.py"
  - "**/migrations/"
  - "**/__pycache__/"
  - "**/node_modules/"
  - "**/*.pb.py" # Generated protobuf files
  - "**/*.pyi" # Type stub files
  - "**/fixtures/"
  - "**/mocks/"
  - "**/build/" # C++ build directories
  - "**/cmake-build-*/" # CLion/CMake build directories
  - "**/CMakeFiles/" # CMake generated files
  - "**/*.o" # Object files
  - "**/*.a" # Static libraries
  - "**/*.so" # Shared libraries
  - "**/*.dylib" # macOS dynamic libraries
  - "**/*.dll" # Windows dynamic libraries

# GitHub integration settings
github_checks:
  annotations: true # Show coverage annotations in PR files view

more of less hydra
  agent/src/metta/agent/metta_agent.py
  metta/rl/policy_management.py
  metta/rl/trainer.py
  tools/train.py
Due: core, agent

fix
  configs/env/mettagrid/autocurricula/defaults.yaml
Due: core

fix
  recipes/boxes.sh
Due: core

Fix cost monitor and skypilot latency script (#1885)
  common/src/metta/common/util/cost_monitor.py
  devops/skypilot/config/sk_train.yaml
Due: core, common

Add external policy option
  agent/src/metta/agent/external/example.py
  configs/user/harsh.yaml
  metta/rl/policy_management.py
Due: core, agent

sim 1
  configs/sim/sim.yaml
Due: core

Be more honest that agent cfg is really used in hydra mode
  agent/src/metta/agent/metta_agent.py
  metta/rl/policy_management.py
  metta/rl/trainer.py
  tools/train.py
Due: core, agent

fix evals
  configs/replay_job.yaml
  configs/sim/opcon_cued.yaml
  configs/sim/opcon_multiday.yaml
  configs/user/georgedeane.yaml
Due: core

add curriculum
  configs/env/mettagrid/curriculum/operant_conditioning/cued.yaml
Due: core

blue battery item possession and rewards
  mettagrid/src/metta/mettagrid/mettagrid_c.cpp
  mettagrid/src/metta/mettagrid/mettagrid_c.hpp
  mettagrid/src/metta/mettagrid/objects/agent.hpp
Due: mettagrid, mettagrid_cpp

New agent & policy architecture
  agent/src/metta/agent/metta_agent.py
Due: agent

Foo
  app_backend/src/metta/app_backend/clients/stats_client.py
  app_backend/src/metta/app_backend/container_managers/k8s.py
  app_backend/src/metta/app_backend/worker_managers/thread_manager.py
  app_backend/tests/test_eval_task_orchestrator_integration.py
  tools/request_eval.py
Due: core, app_backend

starting inventory addition
  configs/env/mettagrid/autocurricula/defaults.yaml
  fun.sh
  mettagrid/src/metta/mettagrid/mettagrid_c.cpp
  mettagrid/src/metta/mettagrid/mettagrid_c_config.py
  mettagrid/src/metta/mettagrid/mettagrid_config.py
  mettagrid/src/metta/mettagrid/objects/agent.hpp
  recipes/boxes.sh
Due: core, mettagrid, mettagrid_cpp

no reward sharing
  recipes/arena_teams.sh
Due: core

Clean up trainer.py types and remove unused code (#1879)
  agent/src/metta/agent/metta_agent.py
  metta/rl/env_config.py
  metta/rl/evaluate.py
  metta/rl/policy_management.py
  metta/rl/rollout.py
  metta/rl/trainer.py
  metta/rl/trainer_config.py
  metta/rl/wandb.py
  metta/sweep/sweep_lifecycle.py
  metta/util/init/mettagrid_environment.py
  mettagrid/src/metta/mettagrid/curriculum/core.py
  mettascope/replays.py
  tools/replay.py
  tools/sim.py
  tools/sweep_config_utils.py
  tools/sweep_eval.py
  tools/train.py
Due: core, agent, mettagrid

comp reward sharing
  configs/env/mettagrid/game/groups/solo_team.yaml
Due: core

wip cuda files
  .cspell.json
  metta.code-workspace
  mettagrid/CMakeLists.txt
  mettagrid/cuda.cmake
  mettagrid/src/metta/mettagrid/action_distance.hpp
  mettagrid/src/metta/mettagrid/agent_behavior.hpp
  mettagrid/src/metta/mettagrid/matrix_profile.cu
  mettagrid/src/metta/mettagrid/matrix_profile.hpp
Due: core, mettagrid, mettagrid_cpp

more stubs
  CMakeLists.txt
  mettagrid/cuda.cmake
  mettagrid/src/metta/mettagrid/agent_behavior.hpp
  mettagrid/src/metta/mettagrid/matrix_profile.hpp
Due: core, mettagrid, mettagrid_cpp

feat(sweep): refactor trainer in sweeps to import functional trainer and set up distributed environment directly in sweep pipeline.
  configs/sweep_job.yaml
  devops/sweep.sh
  metta/core/distributed.py
  tools/sweep_rollout.py
Due: core

Add SequentialTrialTask
  configs/env/mettagrid/navigation/training/maze_multi_trial_curriculum.yaml
  configs/env/mettagrid/navigation/training/maze_multi_trial_task.yaml
  configs/user/sasmith.yaml
  mettagrid/src/metta/mettagrid/curriculum/bucketed.py
  mettagrid/src/metta/mettagrid/curriculum/core.py
  mettagrid/src/metta/mettagrid/curriculum/sampling.py
  mettagrid/src/metta/mettagrid/curriculum/sequential_trial_task.py
  mettagrid/src/metta/mettagrid/curriculum/util.py
Due: core, mettagrid

Remove seemingly unused MettaAgent cfg.global_features was unused
  agent/src/metta/agent/metta_agent.py
  agent/src/metta/agent/policy_store.py
  metta/interface/agent.py
  mettagrid/src/metta/mettagrid/base_env.py
  mettagrid/src/metta/mettagrid/mettagrid_env.py
Due: core, agent, mettagrid

Type agent config
  agent/src/metta/agent/agent_config.py
  agent/src/metta/agent/metta_agent.py
  agent/src/metta/agent/policy_store.py
  metta/interface/agent.py
  metta/rl/checkpoint_manager.py
  metta/rl/env_config.py
  metta/rl/policy_management.py
  metta/rl/trainer.py
  tests/rl/test_agent_config.py
  tools/train.py
Due: core, agent

Error when attempting to load legacy-format checkpoints
  agent/src/metta/agent/policy_store.py
Due: agent

lots of clean up and deletions. have not run it since
  agent/src/metta/agent/lib/lstm.py
  agent/src/metta/agent/lib/obs_tokenizers.py
  agent/src/metta/agent/metta_agent.py
  agent/src/metta/agent/util/distribution_utils.py
  agent/tests/lib/test_lstm.py
  metta/rl/experience.py
  metta/rl/kickstarter.py
  metta/rl/trainer.py
  metta/sim/simulation.py
  tests/rl/test_kickstarter.py
Due: core, agent

evaluate_local so i can better test things as i'm working
  configs/trainer/trainer.yaml
  configs/user/zfogg.yaml
  metta/rl/evaluate.py
  metta/rl/trainer.py
  metta/rl/trainer_config.py
Due: core

simuLAtion
  app_backend/Dockerfile
  app_backend/src/metta/app_backend/clients/base_client.py
  app_backend/src/metta/app_backend/container_managers/docker.py
  app_backend/src/metta/app_backend/docker-compose.yml
  app_backend/src/metta/app_backend/eval_task_orchestrator.py
  app_backend/src/metta/app_backend/metta_repo.py
  app_backend/src/metta/app_backend/routes/eval_task_routes.py
  metta/rl/evaluate.py
  mettagrid/src/metta/mettagrid/replay_writer.py
Due: core, app_backend, mettagrid

change correct CMake file
  CMakeLists.txt
  mettagrid/CMakeLists.txt
Due: core, mettagrid

fix indentation bug for proper epoch tracking
  metta/rl/trainer.py
Due: core

cpu fallback
  mettagrid/cuda.cmake
  mettagrid/src/metta/mettagrid/agent_behavior.hpp
  mettagrid/src/metta/mettagrid/matrix_profile.hpp
  mettagrid/src/metta/mettagrid/matrix_profile_cpu.cpp
Due: mettagrid, mettagrid_cpp

cleanup cpu
  mettagrid/src/metta/mettagrid/matrix_profile_cpu.cpp
Due: mettagrid, mettagrid_cpp

fix EnvConfig validation
  metta/rl/env_config.py
Due: core

Fix EnvConfig validation - allow any device string (#1895)
  metta/rl/env_config.py
Due: core

add tests
  mettagrid/CMakeLists.txt
  mettagrid/cuda.cmake
  mettagrid/src/metta/mettagrid/agent_behavior.hpp
  mettagrid/src/metta/mettagrid/matrix_profile.hpp
  mettagrid/src/metta/mettagrid/matrix_profile_cpu.cpp
  mettagrid/tests.cmake
  mettagrid/tests/test_behavioral_analysis.cpp
  mettagrid/tests/test_matrix_profile.cpp
Due: mettagrid, mettagrid_cpp

tests compile
  mettagrid/src/metta/mettagrid/matrix_profile.hpp
  mettagrid/src/metta/mettagrid/matrix_profile_cpu.cpp
  mettagrid/tests/test_behavioral_analysis.cpp
  mettagrid/tests/test_matrix_profile.cpp
Due: mettagrid, mettagrid_cpp

wip
  mettagrid/src/metta/mettagrid/matrix_profile.cpp
  mettagrid/src/metta/mettagrid/matrix_profile.hpp
Due: mettagrid, mettagrid_cpp
