Repository Metta-AI/metta: changes, and which Codecov flags are due for each by the changed paths.
All: core, app_backend, agent, mettagrid, mettagrid_cpp, common

fix: restore exact working AGaLiTe implementation from commit 350a32ad1
  agent/src/metta/agent/modules/agalite_fast.py
  agent/src/metta/agent/pytorch/agalite.py
  agent/src/metta/agent/pytorch/agalite_improved.py
Due: agent

fix: remove buggy chunking code from AGaLiTe
  agent/src/metta/agent/modules/agalite_fast.py
Due: agent

fix: add comprehensive stability measures to AGaLiTe
  agent/src/metta/agent/modules/agalite_fast.py
Due: agent

fix: resolve OOM and shape mismatch issues in AGaLiTe
  agent/src/metta/agent/modules/agalite_fast.py
Due: agent

simplified
  agent/src/metta/agent/modules/agalite_fast.py
  agent/src/metta/agent/pytorch/agalite_improved.py
Due: agent

ruff fix
  mcp_server/src/metta/mcp_server/llm_client.py
  mcp_server/src/metta/mcp_server/training_utils.py
Due: core

updated
  agent/src/metta/agent/pytorch/agalite.py
Due: agent

fix: restore AGaLiTe to working agalite-fast baseline
  agent/src/metta/agent/modules/agalite_fast.py
  agent/src/metta/agent/pytorch/agalite.py
  agent/src/metta/agent/pytorch/agalite_improved.py
Due: agent

t improved
  agent/src/metta/agent/pytorch/transformer_improved.py
Due: agent

agalite fix again
  agent/src/metta/agent/modules/agalite_fast.py
Due: agent

G and P item counts
  mcp_server/src/metta/mcp_server/llm_client.py
  mcp_server/src/metta/mcp_server/training_utils.py
Due: core

Add DPO
  metta/rl/ppo.py
Due: core

fixed fast
  agent/src/metta/agent/modules/agalite_fast.py
  agent/src/metta/agent/pytorch/agalite.py
Due: agent

new transformer improved
  agent/src/metta/agent/pytorch/transformer_improved.py
Due: agent

style: apply ruff formatting to codeclip files
  manybot/codebot/codeclip/codeclip/cli.py
  manybot/codebot/codeclip/codeclip/file.py
  manybot/codebot/codeclip/codeclip/token_profiler.py
Due: core

cp
  mettagrid/src/metta/mettagrid/mettagrid_c_config.py
Due: mettagrid

Apply config
  agent/src/metta/agent/agent_config.py
  agent/src/metta/agent/component_policies/component_policy_interface.py
  agent/src/metta/agent/metta_agent.py
  agent/tests/test_legacy_adapter.py
  agent/tests/test_metta_agent.py
  agent/tests/test_vanilla_policy.py
  metta/rl/checkpoint_manager.py
  metta/rl/puffer_policy.py
Due: core, agent

sweep(feat): Add a sweep dashbaord
  experiments/dashboards/sweep_dashboard.py
  metta/sweep/README.md
  pyproject.toml
  uv.lock
Due: core

feat(sweep): Add phasing
  configs/sweep/full.yaml
  configs/sweep_job.yaml
  metta/common/tests/fixtures.py
  metta/sweep/README.md
  metta/sweep/sweep_lifecycle.py
  tools/sweep_execute.py
Due: core

final improvements to sweep config
  configs/sweep_job.yaml
Due: core

sweep(feat): Add a sweep dashbaord
  pyproject.toml
  uv.lock
Due: core

refactor: sweep pipeline implementation
  common/src/metta/common/util/datastruct.py
  common/src/metta/common/util/lock.py
  common/tests/util/test_datastruct.py
  configs/sweep/full.yaml
  configs/sweep_job.yaml
  devops/sweep.sh
  devops/sweep_rollout.sh
  experiments/notebooks/research/sweep_analysis.ipynb
  experiments/notebooks/research/sweep_dashboard_plotly.ipynb
  metta/sweep/README.md
  metta/sweep/__init__.py
  metta/sweep/protein_metta.py
  metta/sweep/sweep_lifecycle.py
  metta/sweep/sweep_rollout.py
  metta/sweep/wandb_utils.py
  output.png
  tests/sweep/test_integration_sweep_centralized.py
  tests/sweep/test_integration_sweep_pipeline.py
  tests/sweep/test_metta_protein.py
  tests/sweep/test_protein_end_to_end_pipeline.py
  tests/sweep/test_protein_integration.py
  tests/sweep/test_protein_metta.py
  tests/sweep/test_sweep_config_loading.py
  tests/sweep/test_sweep_execute.py
  tests/sweep/test_sweep_init.py
  tests/sweep/test_sweep_lifecycle.py
  tests/sweep/test_sweep_script_integration.py
  tests/sweep/test_wandb_utils.py
  tools/get_best_params_from_sweep.py
  tools/sweep_config_utils.py
  tools/sweep_eval.py
  tools/sweep_execute.py
  tools/sweep_prepare_run.py
  tools/sweep_setup.py
  tools/train.py
Due: core, common

change cost to 1usd/hr.
  configs/sweep_job.yaml
  metta/sweep/protein.py
  metta/sweep/sweep_lifecycle.py
Due: core

Add reduced parameter sweep config for effective BO
  configs/sweep/reduced.yaml
  docs/parameter_selection_rationale.md
Due: core

Add EI and UCB acquisition functions to Protein optimizer
  configs/sweep/full.yaml
  configs/sweep/quick.yaml
  configs/sweep_job.yaml
  metta/sweep/protein.py
Due: core

cp
  common/src/metta/common/util/config.py
  devops/skypilot/config/skypilot_run.sh
  devops/skypilot/config/skypilot_run.yaml
  devops/skypilot/launch.py
  devops/skypilot/setup_shell.sh
  devops/skypilot/utils.py
  experiments/arena.py
  experiments/evals/navigation.py
  experiments/navigation.py
  experiments/user/daveey.py
  metta/cogworks/curriculum/curriculum_env.py
  metta/cogworks/curriculum/task_generator.py
  metta/sim/simulation.py
  metta/tools/sim.py
  mettagrid/src/metta/mettagrid/config/envs.py
  mettagrid/src/metta/mettagrid/mettagrid_c_config.py
  mettagrid/tests/test_8way_movement.py
  mettagrid/tests/test_cardinal_movement.py
  mettagrid/tests/test_gym_env.py
  mettagrid/tests/test_interactive.py
  mettagrid/tests/test_new_env_hierarchy.py
  mettagrid/tests/test_pettingzoo_env.py
  tests/cogworks/curriculum/test_curriculum_env.py
  tests/cogworks/curriculum/test_serialization.py
  tests/test_action_compatibility.py
  tests/tools/map/test_gen.py
  tests/tools/test_renderer_job.py
  tools/run.py
Due: core, mettagrid, common

quick test
  configs/sweep/reduced.yaml
  configs/sweep_job.yaml
Due: core

removed remote evals
  configs/sweep_job.yaml
Due: core

oops
  configs/sweep_job.yaml
Due: core

Bug Fix: Serilization issue
  agent/src/metta/agent/metta_agent.py
Due: agent

Add agent interface
  agent/src/metta/agent/agent_interface.py
  agent/src/metta/agent/metta_agent.py
Due: agent

Policy condition
  agent/src/metta/agent/metta_agent.py
Due: agent

Take clip_range from config
  agent/src/metta/agent/agent_config.py
  agent/src/metta/agent/component_policies/component_policy_interface.py
Due: agent

Add Google Drive integration and fileset export functionality
  manybot/codebot/codeclip/codeclip/cli.py
  manybot/codebot/codeclip/codeclip/file.py
  mettagrid/pyproject.toml
  mettagrid/src/metta/mettagrid/util/file.py
  mettagrid/tests/test_gdrive.py
  tools/filesets_to_gdrive.py
Due: core, mettagrid

Remove local evaluation by default (#2135)
  configs/trainer/trainer.yaml
Due: core

Fix ruff formatting for Google Drive integration files
  mettagrid/src/metta/mettagrid/util/file.py
  mettagrid/tests/test_gdrive.py
  tools/filesets_to_gdrive.py
Due: core, mettagrid

refactor
  agent/src/metta/agent/policy_loader.py
  agent/src/metta/agent/policy_record.py
  agent/src/metta/agent/policy_store.py
  agent/tests/test_feature_remapping.py
  agent/tests/test_policy_cache.py
  agent/tests/test_policy_store.py
  metta/core/distributed.py
  metta/core/distributed_config.py
  metta/rl/checkpoint_manager.py
  metta/rl/policy_initializer.py
  metta/rl/policy_management.py
  metta/rl/trainer.py
  metta/rl/trainer_config.py
  metta/sim/simulation.py
  tools/train.py
Due: core, agent

Path conditions:
  core: any file but: app_backend/, agent/, mettagrid/, common/, **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  app_backend: any of: app_backend/, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  agent: any of: agent/, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  mettagrid: any of: mettagrid/, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  mettagrid_cpp: any of: **/*.cpp, **/*.cc, **/*.cxx, **/*.c++, **/*.h, **/*.hpp, **/*.hh, **/*.hxx, **/*.h++, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  common: any of: common/, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
