Repository Metta-AI/metta: changes, and which Codecov flags are due for each by the changed paths.
All: core, app_backend, agent, mettagrid, mettagrid_cpp, common

Add remaining uncommitted changes from library bootstrap work
  library/package.json
  library/scripts/create-test-posts.ts
  library/scripts/test-authors-table.ts
  library/src/app/FeedPost.tsx
  library/src/app/FeedPostsPage.tsx
  library/src/components/InstitutionOverlay.tsx
  library/src/components/NavigablePaperOverlay.tsx
  library/src/components/PaperCard.tsx
  library/src/components/PapersView.tsx
  library/src/components/StarWidget.tsx
  library/src/components/library/LibraryContent.tsx
  library/src/components/library/LibraryLayout.tsx
  library/src/components/library/LibrarySidebar.tsx
  library/src/components/library/index.ts
  library/src/components/ui/PageLayout.tsx
  library/src/posts/components/CommentSidebar.tsx
  pnpm-lock.yaml
Due: core

fix launch cmd
  .github/actions/launch-skypilot-job/action.yml
Due: core

initial minimal functionality
  metta/cogworks/curriculum/__init__.py
  metta/cogworks/curriculum/adapter.py
  metta/cogworks/curriculum/demo.py
  metta/cogworks/curriculum/learning_progress.py
  metta/cogworks/curriculum/learning_progress_minimal.py
  metta/cogworks/curriculum/test_integration.py
  metta/cogworks/curriculum/test_minimal.py
Due: core

Implement HRM_ACTV1_Inner
  agent/src/metta/agent/agent_config.py
  agent/src/metta/agent/component_policies/latent_attn_small.py
  agent/src/metta/agent/pytorch/hrm.py
Due: agent

Update .github/actions/launch-skypilot-job/action.yml
  .github/actions/launch-skypilot-job/action.yml
Due: core

enhanced curriculum with missing parameter ranges, added better navigation name guardrails, removed backwards compatibility
  experiments/navigation.py
  metta/sim/simulation_stats_db.py
Due: core

cleanup
  metta/cogworks/curriculum/__init__.py
  metta/cogworks/curriculum/adapter.py
  metta/cogworks/curriculum/learning_progress.py
  metta/cogworks/curriculum/learning_progress_minimal.py
  metta/cogworks/curriculum/test_integration.py
  metta/cogworks/curriculum/test_minimal.py
Due: core

docs: add documentation for world model
  docs/world_model.md
Due: core

fix graphite suggestions
  tools/sweep_eval.py
Due: core

hotfix: update skypilot launch cmd in CI (#2251)
  .github/actions/launch-skypilot-job/action.yml
Due: core

add git hash and hhmmss format
  experiments/navigation.py
Due: core

bug fixes
  configs/env/mettagrid/arena/coop_rewardsharing.yaml
Due: core

Update setup guide with clearer origin/redirect URI instructions
  library/GOOGLE_OAUTH_SETUP.md
Due: core

updated 01-hello-world-marimo.py to work with dehydration. also made the mettascope replays widget have an autoplay argument cuz that's useful
  experiments/marimo/01-hello-world-marimo.py
  experiments/notebooks/utils/replays.py
Due: core

fix(trainer): Remove obsolete dual_policy code
  metta/rl/trainer.py
Due: core

fix module name passing
  .github/actions/launch-skypilot-job/action.yml
  .github/workflows/sky-train.yml
Due: core

add log back
  experiments/notebooks/utils/replays.py
Due: core

graphite fix
  tools/sweep_eval.py
Due: core

Update library/src/lib/auth.ts
  library/src/lib/auth.ts
Due: core

Update .github/workflows/sky-train.yml
  .github/workflows/sky-train.yml
Due: core

fix: use module_name consistently (#2253)
  .github/actions/launch-skypilot-job/action.yml
  .github/workflows/sky-train.yml
Due: core

feat: Add Google OAuth authentication with production deployment guide (#2252)
  library/GOOGLE_OAUTH_SETUP.md
  library/src/lib/auth.ts
Due: core

Clean up pnpm lock file reference
  library/pnpm-lock.yaml
Due: core

add reward computation
  tools/incontext_optimal_solver.py
Due: core

feat: Replace inline world model pre-training with offline training workflow
  agent/src/metta/agent/world_model.py
  demo_world_model_workflow.py
  example_world_model_workflow.yaml
  metta/rl/trainer.py
  metta/rl/trainer_config.py
  pyproject.toml
  test_world_model_workflow.py
  train_world_model.py
  uv.lock
Due: core, agent

update navigation evals
  configs/env/mettagrid/maps/navigation/radial_maze.map
  configs/env/mettagrid/navigation/evals/obstacles1.yaml
  experiments/evals/navigation.py
  experiments/evals/systematic_exploration_memory.py
Due: core

Make config.label clickable, fix replay generation.
  experiments/arena.py
  experiments/navigation.py
  experiments/user/example.py
  mettagrid/src/metta/mettagrid/replay_writer.py
  mettascope/src/main.ts
  mettascope/src/replay.ts
  mettascope/src/validation.ts
  mettascope/style.css
Due: core, mettagrid

Make config.label clickable, fix replay generation. (#2255)
  experiments/arena.py
  experiments/navigation.py
  experiments/user/example.py
  mettagrid/src/metta/mettagrid/replay_writer.py
  mettascope/src/main.ts
  mettascope/src/replay.ts
  mettascope/src/validation.ts
  mettascope/style.css
Due: core, mettagrid

fix: improve heartbeat monitor and enable timeout by default (#2248)
  devops/skypilot/config/monitors/heartbeat_monitor.sh
  devops/skypilot/launch.py
Due: core

feat(world_model): Increase pretraining steps and freeze model after pretraining
  configs/trainer/trainer.yaml
  metta/rl/trainer.py
  metta/rl/trainer_config.py
Due: core

FIx Unlabeled Replay
  mettascope/src/replay.ts
Due: core

fix sinks, add strategies, make calculations more elegent
  tools/incontext_optimal_solver.py
Due: core

Fix Unlabeled Replay (#2257)
  mettascope/src/replay.ts
Due: core

make resource loss probs agent specific
  configs/env/mettagrid/autocurricula/defaults.yaml
  configs/env/mettagrid/mettagrid.yaml
  mettagrid/src/metta/mettagrid/mettagrid_c.cpp
  mettagrid/src/metta/mettagrid/mettagrid_c.hpp
  mettagrid/src/metta/mettagrid/mettagrid_c.pyi
  mettagrid/src/metta/mettagrid/mettagrid_c_config.py
  mettagrid/src/metta/mettagrid/mettagrid_config.py
  mettagrid/src/metta/mettagrid/objects/agent.hpp
  mettagrid/tests/test_mettagrid.cpp
  mettagrid/tests/test_per_agent_resource_loss.py
  mettagrid/tests/test_resource_loss.py
Due: core, mettagrid, mettagrid_cpp

not adding to tests
  mettagrid/benchmarks/test_mettagrid_env_benchmark.cpp
  mettagrid/tests/test_global_reward_observations.py
Due: mettagrid, mettagrid_cpp

made resource loss item specific
  configs/env/mettagrid/autocurricula/defaults.yaml
  configs/env/mettagrid/mettagrid.yaml
  mettagrid/src/metta/mettagrid/mettagrid_c.cpp
  mettagrid/src/metta/mettagrid/mettagrid_c.hpp
  mettagrid/src/metta/mettagrid/mettagrid_c_config.py
  mettagrid/src/metta/mettagrid/mettagrid_config.py
  mettagrid/tests/test_resource_loss.py
Due: core, mettagrid, mettagrid_cpp

fix bug in sink logic, wasn't specifying the chain correctly
  tools/incontext_optimal_solver.py
Due: core

udpating tests
  mettagrid/tests/test_per_agent_resource_loss.py
  mettagrid/tests/test_resource_loss.py
Due: none

Update mettagrid/tests/test_per_agent_resource_loss.py
  mettagrid/tests/test_per_agent_resource_loss.py
Due: none

add in a memory_failure model parameter that allows you to test how it might sample from a random policy
  tools/incontext_optimal_solver.py
Due: core

Path conditions:
  core: any file but: app_backend/, agent/, mettagrid/, common/, **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  app_backend: any of: app_backend/, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  agent: any of: agent/, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  mettagrid: any of: mettagrid/, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  mettagrid_cpp: any of: **/*.cpp, **/*.cc, **/*.cxx, **/*.c++, **/*.h, **/*.hpp, **/*.hh, **/*.hxx, **/*.h++, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  common: any of: common/, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
