Repository Metta-AI/metta: changes, and which Codecov flags are due for each by the changed paths.
All: core, app_backend, agent, mettagrid, mettagrid_cpp, common

codecov.yml:

# Codecov configuration for Metta-AI
# Documentation: https://docs.codecov.com/docs/codecov-yaml

# Wait for all CI jobs to complete before posting results
codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

# Coverage settings
coverage:
  # Round coverage to 2 decimal places
  precision: 2
  round: down

  # Status checks configuration
  status:
    # Project-wide coverage
    project:
      default:
        target: auto # Compare against base branch
        threshold: 1% # Allow 1% coverage drop
        base: auto
        informational: true # Won't fail PR, just inform

    # Coverage for changed lines only - this is your main gate
    patch:
      default:
        target: 50% # Minimum 50% coverage on new code
        threshold: 0% # No tolerance below 50%
        base: auto
        if_ci_failed: success # Don't fail if CI fails
        if_not_found: success # Don't fail if no coverage data

      # Additional informational patch check
      informational:
        target: 80% # Ideal target
        threshold: 0%
        informational: true # Won't fail, just shows as warning

# Pull request comment configuration
comment:
  layout: "header, diff, flags, components, files"
  behavior: default
  require_changes: false # Post comment even if no coverage change
  require_base: false # Don't require base coverage
  require_head: true # Must have head coverage to post
  hide_project_coverage: false # Show overall project coverage

# Flag configuration for different test suites
flags:
  core:
    paths:
      - "!app_backend/"
      - "!agent/"
      - "!mettagrid/"
      - "!common/"
    carryforward: true

  app_backend:
    paths:
      - app_backend/
    carryforward: true

  agent:
    paths:
      - agent/
    carryforward: true

  mettagrid:
    paths:
      - mettagrid/
    carryforward: true

  mettagrid_cpp:
    paths:
      - "**/*.cpp"
      - "**/*.cc"
      - "**/*.cxx"
      - "**/*.c++"
      - "**/*.h"
      - "**/*.hpp"
      - "**/*.hh"
      - "**/*.hxx"
      - "**/*.h++"
    carryforward: true

  common:
    paths:
      - common/
    carryforward: true

# Ignore certain paths from coverage
ignore:
  - "**/tests/"
  - "**/test_*.py"
  - "**/*_test.py"
  - "**/conftest.py"
  - "setup.py"
  - "**/migrations/"
  - "**/__pycache__/"
  - "**/node_modules/"
  - "**/*.pb.py" # Generated protobuf files
  - "**/*.pyi" # Type stub files
  - "**/fixtures/"
  - "**/mocks/"
  - "**/build/" # C++ build directories
  - "**/cmake-build-*/" # CLion/CMake build directories
  - "**/CMakeFiles/" # CMake generated files
  - "**/*.o" # Object files
  - "**/*.a" # Static libraries
  - "**/*.so" # Shared libraries
  - "**/*.dylib" # macOS dynamic libraries
  - "**/*.dll" # Windows dynamic libraries

# GitHub integration settings
github_checks:
  annotations: true # Show coverage annotations in PR files view

reduce diff
  metta/api/__init__.py
  metta/rl/mps.py
  run.py
Due: core

dist change
  metta/rl/functions/__init__.py
  metta/rl/functions/training.py
  run.py
  tools/train.py
Due: core

update cursor agent config
  .cursor/environment.json
Due: core

fix cursor-agent env config (#1551)
  .cursor/environment.json
Due: core

Add reward observations to curriculum for granular learning progress
  CURRICULUM_REWARD_OBSERVATIONS_UPDATE.md
  configs/env/mettagrid/curriculum/bbc/REWARD_OBSERVATIONS.md
  configs/env/mettagrid/curriculum/bbc/agents/defaults.yaml
  configs/env/mettagrid/curriculum/bbc/bbc_combat_focus.yaml
  configs/env/mettagrid/curriculum/bbc/bbc_reward_max.yaml
  mettagrid/src/metta/mettagrid/base_env.py
  mettagrid/src/metta/mettagrid/curriculum/bucketed.py
  mettagrid/src/metta/mettagrid/curriculum/core.py
  mettagrid/src/metta/mettagrid/curriculum/learning_progress.py
  mettagrid/src/metta/mettagrid/curriculum/multi_task.py
  mettagrid/src/metta/mettagrid/curriculum/prioritize_regressed.py
  mettagrid/src/metta/mettagrid/curriculum/progressive.py
  mettagrid/src/metta/mettagrid/curriculum/random.py
  mettagrid/src/metta/mettagrid/mettagrid_env.py
Due: core, mettagrid

Add reward observation tracking to BBC curriculum tasks
  configs/env/mettagrid/curriculum/bbc/tasks/altar.yaml
  configs/env/mettagrid/curriculum/bbc/tasks/armor.yaml
  configs/env/mettagrid/curriculum/bbc/tasks/basic.yaml
  configs/env/mettagrid/curriculum/bbc/tasks/combat.yaml
  configs/env/mettagrid/curriculum/bbc/tasks/laser.yaml
  configs/env/mettagrid/curriculum/bbc/tasks/tag.yaml
  test_bbc_reward_obs.py
Due: core

Remove test script for BBC reward observations
  test_bbc_reward_obs.py
Due: none

cp
  configs/env/mettagrid/examples/game_rewards_obs.yaml
  mettagrid/docs/global_observations.md
  mettagrid/src/metta/mettagrid/mettagrid_c.cpp
  mettagrid/src/metta/mettagrid/mettagrid_c.hpp
  mettagrid/src/metta/mettagrid/mettagrid_c.pyi
  mettagrid/src/metta/mettagrid/mettagrid_c_config.py
  mettagrid/src/metta/mettagrid/mettagrid_config.py
  mettagrid/src/metta/mettagrid/objects/agent.hpp
  mettagrid/src/metta/mettagrid/objects/constants.hpp
  mettagrid/tests/test_global_observations.py
Due: core, mettagrid, mettagrid_cpp

cp
  configs/user/daveey.yaml
  mettagrid/benchmarks/test_mettagrid_env_benchmark.cpp
  mettagrid/docs/global_observations.md
  mettagrid/src/metta/mettagrid/mettagrid_c.cpp
  mettagrid/src/metta/mettagrid/mettagrid_c.hpp
  mettagrid/src/metta/mettagrid/mettagrid_c.pyi
  mettagrid/src/metta/mettagrid/mettagrid_c_config.py
  mettagrid/src/metta/mettagrid/mettagrid_config.py
  mettagrid/src/metta/mettagrid/objects/agent.hpp
  mettagrid/src/metta/mettagrid/objects/constants.hpp
  mettagrid/src/metta/mettagrid/objects/converter.hpp
  mettagrid/tests/test_global_reward_observations.py
  recipes/nav_memory_sequence.sh
  recipes/navigation.sh
  recipes/object_use.sh
Due: core, mettagrid, mettagrid_cpp

cp
  configs/env/mettagrid/examples/game_rewards_obs.yaml
  configs/env/mettagrid/mettagrid.yaml
  mettagrid/docs/global_observations.md
  mettagrid/src/metta/mettagrid/mettagrid_c.cpp
  mettagrid/src/metta/mettagrid/mettagrid_c.hpp
  mettagrid/src/metta/mettagrid/mettagrid_c.pyi
  mettagrid/src/metta/mettagrid/mettagrid_c_config.py
  mettagrid/src/metta/mettagrid/mettagrid_config.py
  mettagrid/src/metta/mettagrid/objects/constants.hpp
  mettagrid/tests/test_global_observations.py
Due: core, mettagrid, mettagrid_cpp

cp
  configs/env/mettagrid/mettagrid.yaml
  mettagrid/src/metta/mettagrid/mettagrid_c.cpp
  mettagrid/src/metta/mettagrid/mettagrid_c.hpp
  mettagrid/src/metta/mettagrid/mettagrid_c.pyi
  mettagrid/src/metta/mettagrid/objects/constants.hpp
  mettagrid/tests/test_global_observations.py
  mettagrid/tests/test_global_reward_observations.py
Due: core, mettagrid, mettagrid_cpp

cp
  mettagrid/src/metta/mettagrid/mettagrid_c.cpp
  mettagrid/src/metta/mettagrid/mettagrid_c.hpp
  mettagrid/src/metta/mettagrid/mettagrid_config.py
  mettagrid/tests/test_global_observations.py
Due: mettagrid, mettagrid_cpp

Update eval smoke test script to use local path and modify simulation parameters
  .github/scripts/eval_smoke_test.py
Due: none

Fix wandb API key handling in policy store and update smoke test config
  .github/scripts/eval_smoke_test.py
  AGENTS.md
  agent/src/metta/agent/policy_store.py
Due: core, agent

just api changes
  metta/api.py
  metta/api/__init__.py
  metta/api/agent.py
  metta/api/directories.py
  metta/api/environment.py
  metta/api/evaluation.py
Due: core

initial no functions folder
  metta/rl/functions.py
  metta/rl/functions/__init__.py
  metta/rl/functions/advantage.py
  metta/rl/functions/policy_management.py
  metta/rl/functions/rollout.py
  metta/rl/functions/stats.py
  metta/rl/functions/training.py
Due: core

changes to make run.py work
  run.py
Due: core

towards useful running
  docs/api.md
  metta/api/directories.py
  metta/rl/functions.py
  metta/sim/simulation.py
  tools/train.py
Due: core

temporary api symlink
  .gitignore
Due: core

atf5
  metta/api/agent.py
  metta/api/evaluation.py
  metta/sim/simulation.py
Due: core

api.py is a compatibility layer
  tools/train.py
Due: core

fix for init
  .gitignore
  metta/api/__init__.py
Due: core

added compatibility functions
  metta/api.py
  metta/rl/functions.py
Due: core

weird api idea
  metta/api/__init__.py
Due: core

fix: use direct imports in functions.py compatibility shim
  metta/rl/functions.py
Due: core

pull github stuff into its own class
  .github/actions/asana/pr_gh_to_asana/dead_code.py
  .github/actions/asana/pr_gh_to_asana/pr_gh_to_asana.py
  .github/actions/asana/pr_gh_to_asana/pull_request.py
Due: core

Clean code
  metta/rl/hyperparameter_scheduler.py
Due: core

Define hyperparameters as property
  metta/rl/trainer.py
Due: core

Make ConstantSchedule as default scheduler
  metta/rl/hyperparameter_scheduler.py
Due: core

integrate wrappers in train.py, add _innit_ file, remove dependency on legacy mettagrid and add demos with actual training runs
  mettagrid/README.md
  mettagrid/demos/demo_train_core.py
  mettagrid/demos/demo_train_gym.py
  mettagrid/demos/demo_train_pettingzoo.py
  mettagrid/demos/demo_train_puffer.py
  mettagrid/src/metta/mettagrid/__init__.py
  mettagrid/src/metta/mettagrid/base_env.py
  mettagrid/src/metta/mettagrid/mettagrid_env.py
  mettagrid/src/metta/mettagrid/pettingzoo_env.py
  mettagrid/tests/test_pettingzoo_env.py
Due: mettagrid

reduce training steps to improve speed for cicd demos and cleanup comments
  mettagrid/demos/demo_train_core.py
  mettagrid/demos/demo_train_gym.py
  mettagrid/demos/demo_train_pettingzoo.py
  mettagrid/demos/demo_train_puffer.py
Due: mettagrid

add cicd demo tests
  .github/workflows/test-demo-environments.yml
Due: core

fix python tests
  mettagrid/src/metta/mettagrid/base_env.py
Due: mettagrid

update demo_train_core.py to not use hard coeded refrences
  mettagrid/demos/demo_train_core.py
Due: mettagrid
