Repository Metta-AI/metta: changes, and which Codecov flags are due for each by the changed paths.
All: core, app_backend, agent, mettagrid, mettagrid_cpp, common

linted
  metta/tools/compare_policies.py
  metta/tools/sim.py
Due: core

comment cleanup
  metta/rl/checkpoint_interface.py
  metta/rl/checkpoint_manager.py
  metta/rl/wandb_policy_loader.py
  metta/tools/sim.py
  tests/rl/test_checkpoint_manager_caching.py
  tests/rl/test_checkpoint_manager_comprehensive.py
Due: core

Also make sure to evaluate local
  experiments/recipes/scratchpad/example.py
Due: core

comment cleanup
  agent/tests/test_feature_remapping.py
  metta/eval/eval_stats_db.py
  metta/rl/policy_uri_resolver.py
  metta/rl/trainer.py
  metta/tools/sim.py
  tests/eval/test_eval_stats_db.py
  tests/rl/test_checkpoint_manager_caching.py
  tests/rl/test_checkpoint_manager_comprehensive.py
  tests/test_num_episodes_bug.py
  tools/request_eval_stub.py
Due: core

print test results
  devops/skypilot/config/skypilot_run.py
Due: core

docstring cleanup
  metta/eval/eval_stats_db.py
  metta/rl/checkpoint_interface.py
  metta/rl/checkpoint_manager.py
  metta/rl/wandb_policy_loader.py
Due: core

lint
  mettagrid/tests/test_global_reward_observations.py
Due: none

Default to no remote evaluation for local development. (#2388)
  experiments/recipes/scratchpad/example.py
Due: core

stub cleanup
  tests/sim/test_simulation_stats_db_simple_checkpoint.py
  tools/request_eval_stub.py
  tools/stats_duckdb_cli.py
Due: core

more cleanup
  experiments/marimo/01-hello-world-marimo.py
  metta/rl/evaluate.py
  metta/rl/policy_management.py
Due: core

policy cleanup
  cogweb/cogweb_client.py
  metta/rl/evaluate.py
  tests/sim/test_simulation_stats_db_simple_checkpoint.py
  tests/sweep/test_protein_end_to_end_pipeline.py
Due: core

remove md
  policy_cull_status.md
Due: core

fixed NaN/inf error for gpu run
  agent/src/metta/agent/util/distribution_utils.py
Due: agent

naming cleanups
  metta/rl/trainer.py
  tests/sim/test_simulation_stats_db_simple_checkpoint.py
Due: core

refactor: consolidate scheduling logic into single method
  metta/sweep/TODO_SWEEP_IMPLEMENTATION.md
  metta/sweep/scheduler/__init__.py
  metta/sweep/scheduler/sequential.py
  metta/sweep/sweep_orchestrator.py
Due: core

disable local eval by default
  metta/rl/trainer_config.py
Due: core

test cleanup
  metta/rl/checkpoint_manager.py
  tests/sim/test_simulation_stats_db_simple_checkpoint.py
Due: core

just print
  devops/skypilot/config/test_nccl.py
Due: none

fix observatory backend after gitta introduction (#2386)
  app_backend/pyproject.toml
  uv.lock
Due: core, app_backend

Add short url to k8s pod statuses dashboard (#2387)
  home/links.yaml
Due: core

test cleanup
  tests/rl/test_checkpoint_manager_comprehensive.py
  tests/rl/test_kickstarter.py
Due: none

no more backwards compat
  agent/tests/test_legacy_adapter.py
  agent/tests/test_metta_agent_integration.py
  tests/tools/test_policy_selection.py
Due: none

using auto_replay_dir() with default_factory for profile-based configuration instead of hardcoded SOFTMAX_S3_BASE
  metta/tools/sim.py
  metta/tools/train.py
  metta/tools/utils/auto_config.py
Due: core

skypilot run with 1 gpu
  agent/src/metta/agent/util/distribution_utils.py
Due: agent

add testing for auto_config
  tests/tools/test_auto_config.py
Due: none

Fix kickstarter to use CheckpointManager instead of being set to None
  metta/rl/trainer.py
Due: core

add auto_checkpoint_dir(), have play.py and replay.py use auto_config
  metta/tools/play.py
  metta/tools/replay.py
  metta/tools/utils/auto_config.py
Due: core

touch heartbeat file on init
  devops/skypilot/config/runtime_monitors.py
Due: core

lint
  agent/tests/test_metta_agent_integration.py
Due: none

fix home links.yaml and add dd traces link
  home/links.yaml
Due: core

fix home links.yaml and add dd traces link (#2390)
  home/links.yaml
Due: core

add cli support for cloud user to persist config settings permanently, add testing for new cli command
  metta/setup/metta_cli.py
  metta/setup/saved_settings.py
  metta/tools/utils/auto_config.py
  tests/tools/test_auto_config.py
Due: core

Fix wandb_policy_name format in trainer evaluation
  metta/rl/trainer.py
Due: core

Fix kickstarter teacher input: pass full TensorDict instead of env_obs tensor
  metta/rl/losses.py
Due: core

consolidate classes in EnvOverrides
  metta/tools/utils/auto_config.py
Due: core

Add sanitizer flags for unexpected integer behavior
  mettagrid/compiler_flags.cmake
Due: mettagrid

formatting
  devops/skypilot/config/test_nccl.py
Due: none

Make monitor/gpu_available wandb log a float, not a bool, so it shows up in wandb charts nicel
  common/src/metta/common/util/system_monitor.py
Due: common

Policy Updates
  CLAUDE.md
  docs/wandb/metrics/trainer_memory/README.md
  metta/rl/trainer.py
Due: core

reduce log spew in appbackend
  app_backend/src/metta/app_backend/server.py
Due: app_backend

Path conditions:
  core: any file but: app_backend/, agent/, mettagrid/, common/, **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  app_backend: any of: app_backend/, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  agent: any of: agent/, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  mettagrid: any of: mettagrid/, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  mettagrid_cpp: any of: **/*.cpp, **/*.cc, **/*.cxx, **/*.c++, **/*.h, **/*.hpp, **/*.hh, **/*.hxx, **/*.h++, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  common: any of: common/, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
