Repository Metta-AI/metta: changes, and which Codecov flags are due for each by the changed paths.
All: core, app_backend, agent, mettagrid, mettagrid_cpp, common

codecov.yml:

# Codecov configuration for Metta-AI
# Documentation: https://docs.codecov.com/docs/codecov-yaml

# Wait for all CI jobs to complete before posting results
codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

# Coverage settings
coverage:
  # Round coverage to 2 decimal places
  precision: 2
  round: down

  # Status checks configuration
  status:
    # Project-wide coverage
    project:
      default:
        target: auto # Compare against base branch
        threshold: 1% # Allow 1% coverage drop
        base: auto
        informational: true # Won't fail PR, just inform

    # Coverage for changed lines only - this is your main gate
    patch:
      default:
        target: 50% # Minimum 50% coverage on new code
        threshold: 0% # No tolerance below 50%
        base: auto
        if_ci_failed: success # Don't fail if CI fails
        if_not_found: success # Don't fail if no coverage data

      # Additional informational patch check
      informational:
        target: 80% # Ideal target
        threshold: 0%
        informational: true # Won't fail, just shows as warning

# Pull request comment configuration
comment:
  layout: "header, diff, flags, components, files"
  behavior: default
  require_changes: false # Post comment even if no coverage change
  require_base: false # Don't require base coverage
  require_head: true # Must have head coverage to post
  hide_project_coverage: false # Show overall project coverage

# Flag configuration for different test suites
flags:
  core:
    paths:
      - "!app_backend/"
      - "!agent/"
      - "!mettagrid/"
      - "!common/"
    carryforward: true

  app_backend:
    paths:
      - app_backend/
    carryforward: true

  agent:
    paths:
      - agent/
    carryforward: true

  mettagrid:
    paths:
      - mettagrid/
    carryforward: true

  mettagrid_cpp:
    paths:
      - "**/*.cpp"
      - "**/*.cc"
      - "**/*.cxx"
      - "**/*.c++"
      - "**/*.h"
      - "**/*.hpp"
      - "**/*.hh"
      - "**/*.hxx"
      - "**/*.h++"
    carryforward: true

  common:
    paths:
      - common/
    carryforward: true

# Ignore certain paths from coverage
ignore:
  - "**/tests/"
  - "**/test_*.py"
  - "**/*_test.py"
  - "**/conftest.py"
  - "setup.py"
  - "**/migrations/"
  - "**/__pycache__/"
  - "**/node_modules/"
  - "**/*.pb.py" # Generated protobuf files
  - "**/*.pyi" # Type stub files
  - "**/fixtures/"
  - "**/mocks/"
  - "**/build/" # C++ build directories
  - "**/cmake-build-*/" # CLion/CMake build directories
  - "**/CMakeFiles/" # CMake generated files
  - "**/*.o" # Object files
  - "**/*.a" # Static libraries
  - "**/*.so" # Shared libraries
  - "**/*.dylib" # macOS dynamic libraries
  - "**/*.dll" # Windows dynamic libraries

# GitHub integration settings
github_checks:
  annotations: true # Show coverage annotations in PR files view

Updates evaluation to happen as often as checkpointing, and makes wandb_checkpoint_interval and evaluate_interval default to checkpoint_interval if unspecified
  configs/trainer/trainer.yaml
  metta/rl/trainer_config.py
Due: core

Move datadog to its own service
  devops/charts/datadog/Chart.yaml
  devops/charts/datadog/README.md
  devops/charts/datadog/values.yaml
  devops/charts/helmfile.yaml
  devops/charts/orchestrator/Chart.lock
  devops/charts/orchestrator/Chart.yaml
  devops/charts/orchestrator/values.yaml
Due: core

simplify setup readme
  devops/charts/datadog/README.md
Due: core

remove unnecessary create-namespace command
  devops/charts/helmfile.yaml
Due: core

address graphite comment
  devops/charts/helmfile.yaml
Due: core

move datadog configuration directly into helmfile
  devops/charts/datadog/Chart.yaml
  devops/charts/datadog/README.md
  devops/charts/datadog/values.yaml
  devops/charts/helm.values/datadog-values.yaml
  devops/charts/helmfile.yaml
Due: core

Skypilot + datadog
  devops/charts/helm.values/skypilot-values.yaml
Due: core

remove section specifying values for workers that wont be used
  devops/charts/helm.values/skypilot-values.yaml
Due: core

update default handling
  metta/rl/trainer_config.py
  tests/rl/test_trainer_config.py
Due: core

Give skypilot workers access to datadog
  devops/skypilot/config/sk_setup.sh
  devops/skypilot/config/sk_train.yaml
  devops/skypilot/config/sk_train_run.sh
  devops/skypilot/utils.py
Due: core

feat: implement comprehensive training run status tracking
  app_backend/src/metta/app_backend/clients/stats_client.py
  app_backend/src/metta/app_backend/metta_repo.py
  app_backend/src/metta/app_backend/routes/stats_routes.py
  app_backend/tests/test_training_runs_routes.py
  metta/rl/trainer.py
  tools/train.py
Due: core, app_backend

feat: training run status (#2071)
  app_backend/src/metta/app_backend/clients/stats_client.py
  app_backend/src/metta/app_backend/metta_repo.py
  app_backend/src/metta/app_backend/routes/stats_routes.py
  app_backend/tests/test_training_runs_routes.py
  metta/rl/trainer.py
  tools/train.py
Due: core, app_backend

experiments
  configs/env/mettagrid/colortree_easy_128step.yaml
  configs/env/mettagrid/curriculum/colortree_easy_128step_2colors.yaml
  mettagrid/src/metta/mettagrid/actions/color_tree.hpp
  recipes/run_colortree_bptt_experiments.sh
  recipes/run_colortree_experiments.sh
  tools/ct_seed_sweep.py
Due: core, mettagrid, mettagrid_cpp

fixed experiments
  recipes/run_colortree_bptt_experiments.sh
Due: core

Fix nested dictionary updates in mettagrid config conversion (#2182)
  mettagrid/src/metta/mettagrid/mettagrid_c_config.py
Due: mettagrid

add init
  metta/map/__init__.py
Due: core

pgip wip
  devops/skypilot/config/sk_train_run.sh
Due: core

split into subscripts and default nccl test off
  devops/skypilot/config/monitors/cluster_stop_monitor.sh
  devops/skypilot/config/monitors/heartbeat_monitor.sh
  devops/skypilot/config/monitors/timeout_monitor.sh
  devops/skypilot/config/notifications/send_discord_notification.sh
  devops/skypilot/config/notifications/send_github_status.sh
  devops/skypilot/config/sk_train_run.sh
  devops/skypilot/launch.py
Due: core

capture NCCL test failures
  devops/skypilot/config/sk_train.yaml
  devops/skypilot/config/sk_train_run.sh
Due: core

cleanup
  app_backend/src/metta/app_backend/eval_task_orchestrator.py
Due: app_backend

Enable eval worker auto-scaling (#2160)
  app_backend/src/metta/app_backend/clients/eval_task_client.py
  app_backend/src/metta/app_backend/eval_task_orchestrator.py
  app_backend/src/metta/app_backend/metta_repo.py
  app_backend/src/metta/app_backend/routes/eval_task_routes.py
  app_backend/tests/test_auto_scaler.py
  app_backend/tests/test_eval_task_orchestrator_integration.py
Due: app_backend

rename cli arg for clarity
  .github/actions/launch-skypilot-job/action.yml
  .github/workflows/sky-train.yml
  devops/skypilot/launch.py
Due: core

Now that we have remote evaluation, evaluate as often as we checkpoint (#2187)
  configs/trainer/trainer.yaml
  metta/rl/trainer_config.py
  tests/rl/test_trainer_config.py
Due: core

coop rewardsharing small map
  configs/env/mettagrid/maps/simple/coop_rewardsharing.map
  configs/sim/coop_arena.yaml
  configs/user/krishnakanth.yaml
  recipes/coop_rewardsharing.sh
Due: core

hello world marimo fixes -- training example (#2162)
  experiments/marimo/01-hello-world-marimo.py
Due: core

use our exit handler
  devops/skypilot/config/sk_train_run.sh
Due: core

fix: disable NCCL tests (#2190)
  .github/actions/launch-skypilot-job/action.yml
  .github/workflows/sky-train.yml
  devops/skypilot/config/monitors/cluster_stop_monitor.sh
  devops/skypilot/config/monitors/heartbeat_monitor.sh
  devops/skypilot/config/monitors/timeout_monitor.sh
  devops/skypilot/config/notifications/send_discord_notification.sh
  devops/skypilot/config/notifications/send_github_status.sh
  devops/skypilot/config/sk_train.yaml
  devops/skypilot/config/sk_train_run.sh
  devops/skypilot/launch.py
Due: core

fix broken filename
  devops/skypilot/config/notifications/set_github_status.sh
Due: core

hotfix: fix broken filename (#2191)
  devops/skypilot/config/notifications/set_github_status.sh
Due: core

Upload replay files to media/html/replays/, not media/html/evaluator/replays/, even if they are generated by policy evaluator
  metta/eval/replays.py
  metta/rl/evaluate.py
Due: core

fix training
  agent/src/metta/agent/policy_loader.py
  agent/src/metta/agent/policy_record.py
  agent/src/metta/agent/policy_store.py
  configs/user/localmini.yaml
  metta/rl/checkpoint_manager.py
  metta/rl/policy_initializer.py
  metta/rl/policy_management.py
  metta/rl/trainer.py
  metta/sim/simulation.py
  tools/utils.py
Due: core, agent

adding arena scaling for test
  recipes/arena_task_scaled_perf.sh
  tests/test_task_scaled_performance.py
Due: core

permissions
  recipes/arena_task_scaled_perf.sh
Due: core
