Repository Metta-AI/metta: changes, and which Codecov flags are due for each by the changed paths.
All: core, app_backend, agent, mettagrid, mettagrid_cpp, common

fix: add hash to distr_cfg_file to prevent file collisions between workers
  devops/sweep_rollout.sh
Due: core

refactor(sweep): general improvements
  devops/sweep.sh
  tools/sweep_prepare_run.py
  tools/sweep_setup.py
Due: core

feat: Enhance WandB sweep panels with Protein parameter visualization
  metta/sweep/wandb_utils.py
  tools/sweep_setup.py
Due: core

fix: Prevent distributed training port conflicts for single GPU/node setups
  devops/train.sh
Due: core

fix: Correct WandB metric names in sweep configurations
  configs/sweep/cogeval_sweep.yaml
  configs/sweep/full.yaml
  configs/sweep/quick.yaml
Due: core

feat: Enhance WandB sweep visualization with Protein parameters
  metta/sweep/wandb_utils.py
  tools/sweep_eval.py
Due: core

revert: remove sweep_process_id
  app_backend/src/metta/app_backend/sweep_client.py
  configs/sweep_job.yaml
  devops/sweep.sh
  devops/sweep_rollout.sh
  devops/train.sh
  metta/sweep/wandb_utils.py
  tests/sweep/test_integration_sweep_centralized.py
  tests/sweep/test_sweep_script_integration.py
  tools/sweep_prepare_run.py
  tools/sweep_setup.py
Due: core, app_backend

tests: add metta_client_utils tests
  tests/sweep/test_metta_client_utils.py
Due: none

feat(sweep): Implement centralized sweep info database for sweep parallel worker support
  app_backend/src/metta/app_backend/sweep_client.py
  configs/sweep_job.yaml
  devops/sweep.sh
  devops/sweep_rollout.sh
  metta/sweep/metta_client_utils.py
  metta/sweep/wandb_utils.py
  tools/sweep_prepare_run.py
  tools/sweep_setup.py
Due: core, app_backend

Refactor sweep_rollout.sh to Python
  devops/sweep.sh
  metta/sweep/sweep_rollout.py
Due: core

Fix sweep_rollout to use run_once appropriately
  metta/sweep/sweep_rollout.py
Due: core

error w batch dim on rollout
  metta/rl/trainer.py
Due: core

send buffer to device, lol
  metta/rl/experience.py
Due: core

cp
  metta/rl/trainer.py
Due: core

Remove test file for recipe feature ID implementation
  configs/env/mettagrid/mettagrid.yaml
  mettagrid/src/metta/mettagrid/curriculum/multi_task.py
  mettagrid/src/metta/mettagrid/mettagrid_c.cpp
  mettagrid/src/metta/mettagrid/mettagrid_c.hpp
  mettagrid/src/metta/mettagrid/mettagrid_c.pyi
  mettagrid/src/metta/mettagrid/mettagrid_c_config.py
  mettagrid/src/metta/mettagrid/mettagrid_config.py
  mettagrid/src/metta/mettagrid/objects/converter.hpp
  mettagrid/src/metta/mettagrid/observation_encoder.hpp
  mettagrid/src/metta/mettagrid/stats_tracker.hpp
  mettagrid/tests/test_converter.py
  mettagrid/tests/test_recipe_feature_ids.py
  tests/mettagrid/test_attack_resource_exception.py
Due: core, mettagrid, mettagrid_cpp

Add separate feature IDs for recipe input resources
  mettagrid/src/metta/mettagrid/objects/constants.hpp
  mettagrid/src/metta/mettagrid/objects/converter.hpp
  mettagrid/src/metta/mettagrid/observation_encoder.hpp
  mettagrid/tests/test_recipe_feature_ids.py
Due: mettagrid, mettagrid_cpp

Changes from background composer bc-a5be6479-bbc1-4edf-95ca-4a2e229a1e85
  mettagrid/src/metta/mettagrid/objects/constants.hpp
  mettagrid/src/metta/mettagrid/objects/converter.hpp
  mettagrid/src/metta/mettagrid/observation_encoder.hpp
  mettagrid/tests/test_converter.py
  mettagrid/tests/test_recipe_feature_ids.py
Due: mettagrid, mettagrid_cpp

Refactor recipe input features with dedicated observation types
  mettagrid/src/metta/mettagrid/objects/constants.hpp
  mettagrid/src/metta/mettagrid/objects/converter.hpp
  mettagrid/src/metta/mettagrid/observation_encoder.hpp
  mettagrid/tests/test_recipe_feature_ids.py
Due: mettagrid, mettagrid_cpp

Changes from background composer bc-e25a0738-e476-45be-be08-3689be766a45
  configs/trainer/curriculum_server_example.yaml
  configs/trainer/trainer.yaml
  docs/curriculum_server.md
  metta/mettagrid/curriculum/curriculum_client.py
  metta/mettagrid/curriculum/curriculum_server.py
  metta/rl/curriculum_client.py
  metta/rl/curriculum_server.py
  metta/rl/trainer.py
  metta/rl/trainer_config.py
  tests/rl/test_curriculum_server.py
  tests/rl/test_curriculum_server_client.py
  tests/test_curriculum_integration.py
  tests/test_curriculum_server_integration.py
  tests/test_curriculum_trainer_integration.py
  tests/test_trainer_curriculum_integration.py
  tests/test_trainer_curriculum_stats.py
  tools/train.py
Due: core

cp
  devops/train.sh
  metta/rl/curriculum/curriculum_client.py
Due: core

cp
  metta/rl/curriculum/curriculum_client.py
Due: core

cp
  configs/trainer/trainer.yaml
  metta/rl/curriculum/curriculum_client.py
  metta/rl/trainer.py
  mettagrid/src/metta/mettagrid/curriculum/multi_task.py
Due: core, mettagrid

cp
  common/src/metta/common/util/logging_helpers.py
  common/src/metta/common/util/stats_client_cfg.py
  configs/env/mettagrid/curriculum/bbc/agents/1.yaml
  configs/env/mettagrid/curriculum/bbc/agents/2.yaml
  configs/env/mettagrid/curriculum/bbc/agents/24.yaml
  configs/env/mettagrid/curriculum/bbc/agents/3.yaml
  configs/env/mettagrid/curriculum/bbc/agents/defaults.yaml
  configs/trainer/trainer.yaml
  configs/user/daveey.yaml
  docs/curriculum_server.md
  metta/rl/curriculum/curriculum_client.py
  metta/rl/curriculum/curriculum_server.py
  metta/rl/trainer.py
  mettagrid/src/metta/mettagrid/curriculum/core.py
  mettagrid/src/metta/mettagrid/curriculum/learning_progress.py
  mettagrid/src/metta/mettagrid/curriculum/multi_task.py
  mettagrid/src/metta/mettagrid/curriculum/progressive.py
  mettagrid/src/metta/mettagrid/curriculum/sampling.py
  mettagrid/src/metta/mettagrid/mettagrid_env.py
  mettagrid/src/metta/mettagrid/objects/agent.hpp
  mettagrid/tests/test_curriculum.py
  tests/rl/curriculum/test_curriculum_integration.py
  tests/rl/curriculum/test_curriculum_server.py
  tests/rl/curriculum/test_curriculum_server_client.py
  tests/rl/curriculum/test_curriculum_server_integration.py
  tests/rl/curriculum/test_curriculum_trainer_integration.py
  tests/rl/curriculum/test_trainer_curriculum_integration.py
  tests/rl/curriculum/test_trainer_curriculum_stats.py
  tools/train.py
Due: core, mettagrid, mettagrid_cpp, common

cp
  metta/rl/curriculum/curriculum_client.py
  metta/rl/curriculum_server.py
  tests/mettagrid/test_attack_resource_consumption.py
  tests/rl/curriculum/test_curriculum_integration.py
  tests/rl/curriculum/test_curriculum_server.py
  tests/rl/curriculum/test_curriculum_server_client.py
  tests/rl/curriculum/test_curriculum_server_integration.py
  tests/rl/curriculum/test_curriculum_trainer_integration.py
  tests/rl/curriculum/test_trainer_curriculum_integration.py
  tests/rl/curriculum/test_trainer_curriculum_stats.py
  tests/rl/curriculum/test_validate_all_curriculums.py
Due: core

cp
  configs/trainer/trainer.yaml
  devops/train.sh
  metta/api.py
  metta/rl/curriculum/__init__.py
  metta/rl/curriculum/curriculum_client.py
  metta/rl/curriculum/curriculum_server.py
  metta/rl/trainer.py
  mettagrid/docs/global_observations.md
  mettagrid/src/metta/mettagrid/base_env.py
  mettagrid/src/metta/mettagrid/curriculum/core.py
  mettagrid/src/metta/mettagrid/curriculum/multi_task.py
  mettagrid/src/metta/mettagrid/curriculum/progressive.py
  mettagrid/src/metta/mettagrid/curriculum/sampling.py
  mettagrid/src/metta/mettagrid/mettagrid_c.cpp
  mettagrid/src/metta/mettagrid/mettagrid_env.py
  tests/rl/curriculum/test_curriculum_integration.py
  tests/rl/curriculum/test_curriculum_server.py
  tests/rl/curriculum/test_curriculum_server_client.py
  tests/rl/curriculum/test_curriculum_server_integration.py
  tests/rl/curriculum/test_curriculum_trainer_integration.py
  tests/rl/curriculum/test_trainer_curriculum_integration.py
  tests/rl/curriculum/test_trainer_curriculum_stats.py
  tools/sweep_config_utils.py
  tools/train.py
Due: core, mettagrid, mettagrid_cpp

Changes from background composer bc-e25a0738-e476-45be-be08-3689be766a45
  configs/trainer/curriculum_server_example.yaml
  docs/curriculum_server.md
  metta/mettagrid/curriculum/curriculum_client.py
  metta/mettagrid/curriculum/curriculum_server.py
  metta/rl/curriculum_client.py
  metta/rl/curriculum_server.py
  metta/rl/trainer.py
  metta/rl/trainer_config.py
  mettagrid/tests/test_curriculum_server.py
  pyproject.toml
  tests/rl/test_curriculum_server_client.py
  tests/test_curriculum_server_client.py
  tools/train.py
  uv.lock
Due: core

cp
  conftest.py
  metta/rl/curriculum/curriculum_client.py
  metta/rl/curriculum/curriculum_server.py
  metta/rl/trainer.py
  metta/rl/trainer_config.py
  mettagrid/src/metta/mettagrid/curriculum/bucketed.py
  mettagrid/src/metta/mettagrid/curriculum/learning_progress.py
  mettagrid/src/metta/mettagrid/curriculum/progressive.py
  mettagrid/src/metta/mettagrid/mettagrid_c.cpp
  mettagrid/src/metta/mettagrid/objects/agent.hpp
  tests/mettagrid/test_attack_resource_consumption.py
  tests/rl/curriculum/conftest.py
  tests/rl/curriculum/test_curriculum_integration.py
  tests/rl/curriculum/test_curriculum_server.py
  tests/rl/curriculum/test_curriculum_server_client.py
  tests/rl/curriculum/test_curriculum_server_integration.py
  tests/rl/curriculum/test_curriculum_trainer_integration.py
  tests/rl/curriculum/test_trainer_curriculum_integration.py
  tests/rl/curriculum/test_trainer_curriculum_stats.py
  tests/rl/curriculum/test_validate_all_curriculums.py
  tools/train.py
Due: core, mettagrid, mettagrid_cpp

added .contigous() to lstm states
  agent/src/metta/agent/lib/lstm.py
Due: agent

added flatten parameters to the lSTM
  agent/src/metta/agent/lib/lstm.py
Due: agent

temp add printout of non-contiguous params
  agent/src/metta/agent/lib/lstm.py
  metta/rl/trainer.py
Due: core, agent

flattening params at distributed data parallel
  agent/src/metta/agent/lib/lstm.py
  agent/src/metta/agent/metta_agent.py
  metta/rl/trainer.py
Due: core, agent

cp
  configs/env/mettagrid/arena/tag.yaml
  configs/env/mettagrid/curriculum/bbc/agents/defaults.yaml
  configs/env/mettagrid/curriculum/bbc/tasks/altar.yaml
  configs/env/mettagrid/curriculum/bbc/tasks/basic.yaml
  configs/env/mettagrid/curriculum/bbc/tasks/combat.yaml
  configs/env/mettagrid/curriculum/bbc/tasks/tag.yaml
  configs/env/mettagrid/mettagrid.yaml
  configs/trainer/trainer.yaml
  configs/user/daveey.yaml
  docs/curriculum_server.md
  docs/wandb/metrics/env_task_reward/README.md
  metta/rl/curriculum/curriculum_client.py
  metta/rl/curriculum/curriculum_server.py
  metta/rl/trainer.py
  metta/rl/trainer_config.py
  metta/rl/util/stats.py
  mettagrid/src/metta/mettagrid/curriculum/core.py
  mettagrid/src/metta/mettagrid/curriculum/learning_progress.py
  mettagrid/src/metta/mettagrid/curriculum/multi_task.py
  mettagrid/src/metta/mettagrid/curriculum/random.py
  mettagrid/src/metta/mettagrid/mettagrid_c_config.py
  mettagrid/src/metta/mettagrid/objects/agent.hpp
  mettagrid/src/metta/mettagrid/objects/converter.hpp
  mettagrid/tests/test_curriculum.py
  run.py
  tests/mettagrid/test_attack_resource_consumption.py
  tests/rl/curriculum/conftest.py
  tests/rl/curriculum/test_curriculum_integration.py
  tests/rl/curriculum/test_curriculum_server_client.py
  tests/rl/curriculum/test_curriculum_server_integration.py
  tests/rl/curriculum/test_curriculum_trainer_integration.py
  tests/rl/curriculum/test_trainer_curriculum_integration.py
  tests/rl/curriculum/test_trainer_curriculum_stats.py
  tests/rl/test_metrics_formatting.py
  tools/train.py
Due: core, mettagrid, mettagrid_cpp

disable hyperparam scheduler - it breaks multi-node training (#1581)
  metta/rl/trainer.py
Due: core

Path conditions:
  core: any file but: app_backend/, agent/, mettagrid/, common/, **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  app_backend: any of: app_backend/, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  agent: any of: agent/, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  mettagrid: any of: mettagrid/, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  mettagrid_cpp: any of: **/*.cpp, **/*.cc, **/*.cxx, **/*.c++, **/*.h, **/*.hpp, **/*.hh, **/*.hxx, **/*.h++, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  common: any of: common/, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
