Repository Metta-AI/metta: changes, and which Codecov flags are due for each by the changed paths.
All: core, app_backend, agent, mettagrid, mettagrid_cpp, common

Notebook hello world v1 (#2113)
  experiments/marimo/01-hello-world-marimo.py
  experiments/notebooks/01-hello-world.ipynb
  experiments/notebooks/01-hello-world.py
  experiments/pyproject.toml
  mettagrid/src/metta/mettagrid/renderer/miniscope.py
  mettagrid/src/metta/mettagrid/renderer/nethack.py
  mettagrid/tests/renderer/test_miniscope.py
  mettagrid/tests/renderer/test_nethack.py
  tests/tools/test_opportunistic_policy.py
  tests/tools/test_policy_selection.py
  tools/renderer.py
  uv.lock
Due: core, mettagrid

skypilot simplejson workaround
  devops/skypilot/install.sh
Due: core

skypilot simplejson workaround (#2146)
  devops/skypilot/install.sh
Due: core

resource loss prob
  configs/env/mettagrid/autocurricula/defaults.yaml
  configs/env/mettagrid/mettagrid.yaml
  configs/user/gregorypylypovych.yaml
  mettagrid/src/metta/mettagrid/mettagrid_c.cpp
  mettagrid/src/metta/mettagrid/mettagrid_c.hpp
  mettagrid/src/metta/mettagrid/mettagrid_c_config.py
  mettagrid/src/metta/mettagrid/mettagrid_config.py
  mettagrid/src/metta/mettagrid/test_support/environment_builder.py
Due: core, mettagrid, mettagrid_cpp

Integrate TanStack Query for star widgets and normalize positioning across all views
  library/package.json
  library/src/app/FeedPostsPage.tsx
  library/src/app/layout.tsx
  library/src/components/AuthorProfile.tsx
  library/src/components/MeView.tsx
  library/src/components/NavigablePaperOverlay.tsx
  library/src/components/PaperCard.tsx
  library/src/components/PaperSidebar.tsx
  library/src/components/PapersView.tsx
  library/src/components/StarWidgetQuery.tsx
  library/src/components/UserCard.tsx
  library/src/hooks/usePaperStars.ts
  library/src/hooks/useStarMutation.ts
  library/src/lib/auto-tagging-service.ts
  library/src/lib/query-client.tsx
Due: core

hash current file instead of confusing config stuff
  mettascope/tools/gen_atlas.py
Due: core

remove comment
  mettascope/src/worldmap.ts
  mettascope/tools/gen_atlas.py
Due: core

Update pnpm-lock.yaml for TanStack Query dependencies
  pnpm-lock.yaml
Due: core

remove test
  mettascope/src/worldmap.ts
Due: core

testing zoom levels
  mettascope/src/context3d.ts
  mettascope/src/worldmap.ts
Due: core

move border rendering to gen atlas
  mettascope/src/context3d.ts
  mettascope/src/worldmap.ts
  mettascope/tools/gen_atlas.py
Due: core

add test
  mettagrid/tests/test_resource_loss.py
Due: none

Clean up paper sidebar: remove metadata, add compact download button
  library/src/components/PaperSidebar.tsx
Due: core

improved Base Loss legibility, added comments
  configs/agent/prototypes/fast_cycle.yaml
  configs/user/alex.yaml
  metta/rl/loss/base_loss.py
  metta/rl/loss/ppo.py
Due: core

Make tags clickable across all components for discovery navigation
  library/src/app/papers/page.tsx
  library/src/components/NavigablePaperOverlay.tsx
  library/src/components/PaperCard.tsx
  library/src/components/PaperOverlay.tsx
  library/src/components/PaperSidebar.tsx
  library/src/components/PapersView.tsx
Due: core

refactor ObservationHelper
  mettagrid/src/metta/mettagrid/test_support/observation_helper.py
  mettagrid/tests/test_observations.py
Due: mettagrid

fix script
  recipes/run_colortree_experiments.sh
Due: core

autodetect color meaning
  configs/env/mettagrid/curriculum/colortree_easy_16step_random.yaml
  configs/env/mettagrid/curriculum/colortree_easy_32step_random.yaml
  mettagrid/src/metta/mettagrid/curriculum/colortree_random.py
  scripts/run_colortree_experiments.sh
Due: core, mettagrid

fix
  recipes/run_colortree_experiments.sh
Due: core

adding autocurricula eval
  configs/env/mettagrid/autocurricula/evals/big_agent_box_playing_grid.yaml
  configs/sim/all.yaml
  configs/user/gregorypylypovych.yaml
Due: core

autocurricula sim eval
  configs/sim/autocurricula.yaml
Due: core

bug fix type mismatch
  metta/rl/losses.py
  metta/rl/trainer.py
Due: core

Skip some more flaky tests
  mettagrid/tests/test_observations.py
  tests/devops/test_docker_image_builds.py
Due: none

Skip test_detailed_wall_observations
  mettagrid/tests/test_observations.py
  tests/devops/test_docker_image_builds.py
Due: none

remove flaky test marker for test_observations that robb fixed
  mettagrid/tests/test_observations.py
Due: none

Skip a flaky test (#2136)
  mettagrid/tests/test_observations.py
  tests/devops/test_docker_image_builds.py
Due: none

Update mettagrid_c.cpp
  mettagrid/src/metta/mettagrid/mettagrid_c.cpp
Due: mettagrid, mettagrid_cpp

premade
  configs/env/mettagrid/curriculum/colortree_easy_16step_2colors.yaml
  configs/env/mettagrid/curriculum/colortree_easy_16step_3colors.yaml
  configs/env/mettagrid/curriculum/colortree_easy_16step_4colors.yaml
  configs/env/mettagrid/curriculum/colortree_easy_16step_5colors.yaml
  configs/env/mettagrid/curriculum/colortree_easy_2colors.yaml
  configs/env/mettagrid/curriculum/colortree_easy_32step_2colors.yaml
  configs/env/mettagrid/curriculum/colortree_easy_32step_3colors.yaml
  configs/env/mettagrid/curriculum/colortree_easy_32step_4colors.yaml
  configs/env/mettagrid/curriculum/colortree_easy_32step_5colors.yaml
  configs/env/mettagrid/curriculum/colortree_easy_3colors.yaml
  configs/env/mettagrid/curriculum/colortree_easy_4colors.yaml
  configs/env/mettagrid/curriculum/colortree_easy_5colors.yaml
  scripts/run_colortree_experiments.sh
Due: core

quick fix
  scripts/run_colortree_experiments.sh
Due: core

Fast component policy
  agent/src/metta/agent/component_policies/fast.py
Due: agent

address comments
  agent/src/metta/agent/pytorch/fast.py
  agent/src/metta/agent/pytorch/latent_attn_med.py
  agent/src/metta/agent/pytorch/latent_attn_tiny.py
  agent/src/metta/agent/pytorch/pytorch_agent_mixin.py
Due: agent

Add PolicyInterface, Add Vanilla PyTorch MixIn, Fixes py_agent performance (#2126)
  agent/src/metta/agent/metta_agent.py
  agent/src/metta/agent/policy_interface.py
  agent/src/metta/agent/pytorch/base.py
  agent/src/metta/agent/pytorch/example.py
  agent/src/metta/agent/pytorch/fast.py
  agent/src/metta/agent/pytorch/latent_attn_med.py
  agent/src/metta/agent/pytorch/latent_attn_small.py
  agent/src/metta/agent/pytorch/latent_attn_tiny.py
  agent/src/metta/agent/pytorch/pytorch_agent_mixin.py
Due: agent

Lint
  agent/src/metta/agent/metta_agent.py
Due: agent

add back 5
  scripts/run_colortree_experiments.sh
Due: core

updated actor
  agent/src/metta/agent/lib/actor.py
  configs/agent/prototypes/fast_dynamics.yaml
  configs/user/alex.yaml
  tests/rl/test_hyperparameter_scheduler.py
  tests/rl/test_losses.py
Due: core, agent

Add enter-as-submit functionality to comment replies
  library/src/posts/components/ThreadedComment.tsx
Due: core

Support replay format v2 in thumbnail generation tool (#2144)
  mettascope/tools/gen_thumb.py
Due: core

Path conditions:
  core: any file but: app_backend/, agent/, mettagrid/, common/, **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  app_backend: any of: app_backend/, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  agent: any of: agent/, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  mettagrid: any of: mettagrid/, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  mettagrid_cpp: any of: **/*.cpp, **/*.cc, **/*.cxx, **/*.c++, **/*.h, **/*.hpp, **/*.hh, **/*.hxx, **/*.h++, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  common: any of: common/, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
