Repository Metta-AI/metta: changes, and which Codecov flags are due for each by the changed paths.
All: core, app_backend, agent, mettagrid, mettagrid_cpp, common

try 7x7
  configs/env/mettagrid/operant_conditioning/trial_and_error/2_converters/generator_blue.yaml
  configs/env/mettagrid/operant_conditioning/trial_and_error/2_converters/generator_red.yaml
Due: core

comment out
  agent/src/metta/agent/lib/nn_layer_library.py
Due: agent

revert
  configs/env/mettagrid/operant_conditioning/trial_and_error/2_converters/generator_blue.yaml
  configs/env/mettagrid/operant_conditioning/trial_and_error/2_converters/generator_red.yaml
Due: core

four trials
  configs/env/mettagrid/operant_conditioning/trial_and_error/2_converters/generator_blue.yaml
  configs/env/mettagrid/operant_conditioning/trial_and_error/2_converters/generator_red.yaml
Due: core

remove num trials
  configs/env/mettagrid/operant_conditioning/trial_and_error/2_converters/generator_blue.yaml
  configs/env/mettagrid/operant_conditioning/trial_and_error/2_converters/generator_red.yaml
Due: core

add warning toast
  mettascope/src/main.ts
  mettascope/src/replay.ts
  mettascope/src/warning_toast.ts
  mettascope/style.css
Due: core

feat: implement comprehensive tests for resolvers.py, numpy_helpers.py, cost_monitor.py
  common/tests/util/test_cost_monitor.py
  common/tests/util/test_numpy_helpers.py
  common/tests/util/test_resolvers.py
Due: none

fix recipes
  recipes/operantconditioning_smoketest.sh
Due: core

feat: implement comprehensive tests for logging_helpers.py and mettagrid_cfgs.py
  common/tests/util/test_cost_monitor.py
  common/tests/util/test_git.py
  common/tests/util/test_logging_helpers.py
  common/tests/util/test_mettagrid_cfgs.py
  common/tests/util/test_numpy_helpers.py
  common/tests/util/test_resolvers.py
Due: none

update lstm targetting for lstm_transformer
  configs/user/jacke.yaml
Due: core

uncomment
  agent/src/metta/agent/lib/nn_layer_library.py
Due: agent

fix button toggle
  mettascope/src/common.ts
  mettascope/src/main.ts
Due: core

modify the fetch_metrics function to allow for no subsampling, show progress, and have min and max steps. examples commented out in the marimo mettabook
  experiments/marimo/mettabook-example.py
  experiments/notebooks/utils/metrics.py
Due: core

try single trial with converter resets
  configs/env/mettagrid/curriculum/operant_conditioning/2_converters.yaml
  configs/env/mettagrid/operant_conditioning/trial_and_error/2_converters/generator_blue.yaml
  configs/env/mettagrid/operant_conditioning/trial_and_error/2_converters/generator_red.yaml
  configs/env/mettagrid/operant_conditioning/trial_and_error/3_converters/generator_blue.yaml
  configs/env/mettagrid/operant_conditioning/trial_and_error/3_converters/generator_green.yaml
  configs/env/mettagrid/operant_conditioning/trial_and_error/3_converters/generator_red.yaml
  configs/env/mettagrid/operant_conditioning/trial_and_error/4_converters/altar.yaml
  configs/env/mettagrid/operant_conditioning/trial_and_error/4_converters/generator_blue.yaml
  configs/env/mettagrid/operant_conditioning/trial_and_error/4_converters/generator_green.yaml
  configs/env/mettagrid/operant_conditioning/trial_and_error/4_converters/generator_red.yaml
  configs/env/mettagrid/operant_conditioning/trial_and_error/defaults.yaml
Due: core

recipe
  recipes/operant_conditioning.sh
  recipes/operant_conditioning_singleepisode.sh
Due: core

update resource limits
  configs/env/mettagrid/operant_conditioning/trial_and_error/defaults.yaml
  configs/replay_job.yaml
  configs/sim/operant_conditioning_singleepisode.yaml
  configs/user/daphne.yaml
Due: core

warning about steps when not using samples=None
  experiments/marimo/mettabook-example.py
  experiments/notebooks/utils/metrics.py
Due: core

feat: implement Batch 6 initial tests for git.py and heartbeat.py
  common/tests/util/test_git.py
  common/tests/util/test_heartbeat.py
Due: none

update cooldown
  configs/env/mettagrid/operant_conditioning/trial_and_error/3_converters/generator_green.yaml
  configs/env/mettagrid/operant_conditioning/trial_and_error/3_converters/generator_red.yaml
  configs/env/mettagrid/operant_conditioning/trial_and_error/defaults.yaml
  recipes/operant_conditioning_singleepisode.sh
Due: core

fix: improve git.py and heartbeat.py test assertions
  common/tests/util/test_git.py
  common/tests/util/test_heartbeat.py
Due: none

[MettaScope] fix heatmap button toggle (#1979)
  mettascope/src/common.ts
  mettascope/src/main.ts
Due: core

feat: implement comprehensive tests for skypilot_latency.py
  common/tests/util/test_skypilot_latency.py
Due: none

remove useless progress arg
  experiments/marimo/mettabook-example.py
  experiments/notebooks/utils/metrics.py
Due: core

smaller batch size try
  recipes/operant_conditioning_singleepisode.sh
Due: core

better logs
  experiments/notebooks/utils/metrics.py
Due: core

modify the fetch_metrics function to allow for no subsampling (FULL metrics) (#1980)
  experiments/marimo/mettabook-example.py
  experiments/notebooks/utils/metrics.py
Due: core

update recipes
  recipes/operant_conditioning.sh
Due: core

fix recipes
  recipes/operant_conditioning_singleepisode.sh
Due: core

fix: resolve failing tests in cost_monitor and instantiate modules
  common/tests/util/test_cost_monitor.py
  common/tests/util/test_git.py
  common/tests/util/test_git_filter.py
  common/tests/util/test_heartbeat.py
  common/tests/util/test_instantiate.py
  common/tests/util/test_logging_helpers.py
  common/tests/util/test_mettagrid_cfgs.py
  common/tests/util/test_skypilot_latency.py
Due: none

fix: remove trailing whitespace in test_git_filter.py
  common/tests/util/test_git_filter.py
Due: none

asciis
  configs/env/mettagrid/maps/red_2.map
  configs/env/mettagrid/maps/red_3.map
  configs/env/mettagrid/maps/red_4.map
  configs/env/mettagrid/operant_conditioning/smoke_tests/defaults.yaml
  configs/env/mettagrid/operant_conditioning/smoke_tests/mini/red2blue.yaml
  configs/env/mettagrid/operant_conditioning/smoke_tests/mini/red2red.yaml
  configs/env/mettagrid/operant_conditioning/smoke_tests/mini/red3blue.yaml
  configs/env/mettagrid/operant_conditioning/smoke_tests/mini/red3green.yaml
  configs/env/mettagrid/operant_conditioning/smoke_tests/mini/red3red.yaml
  configs/env/mettagrid/operant_conditioning/smoke_tests/mini/red4altar.yaml
  configs/env/mettagrid/operant_conditioning/smoke_tests/mini/red4blue.yaml
  configs/env/mettagrid/operant_conditioning/smoke_tests/mini/red4green.yaml
  configs/env/mettagrid/operant_conditioning/smoke_tests/mini/red4red.yaml
Due: core

revert back to learning progress
  configs/env/mettagrid/curriculum/backchain_sequence.yaml
Due: core

refactor: remove irrelevant edge case tests
  common/tests/util/test_collections.py
  common/tests/util/test_omegaconf.py
  common/tests/util/test_typed_config.py
Due: none

feat: dramatically improve cli.py test coverage to 97%
  common/tests/util/test_cli.py
Due: none

cfg -> env_cfg
  metta/rl/trainer.py
Due: core

feat: boost git.py test coverage to 93% (+28 percentage points)
  common/tests/util/test_git.py
Due: none

proper epoch tracking
  metta/rl/trainer.py
Due: core

Path conditions:
  core: any file but: app_backend/, agent/, mettagrid/, common/, **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  app_backend: any of: app_backend/, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  agent: any of: agent/, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  mettagrid: any of: mettagrid/, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  mettagrid_cpp: any of: **/*.cpp, **/*.cc, **/*.cxx, **/*.c++, **/*.h, **/*.hpp, **/*.hh, **/*.hxx, **/*.h++, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  common: any of: common/, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
