Repository Metta-AI/metta: changes, and which Codecov flags are due for each by the changed paths.
All: core, app_backend, agent, mettagrid, mettagrid_cpp, common

refactor(config): update sweep configurations to use sweep_name parameter
  configs/sweep/full.yaml
  configs/sweep_job.yaml
Due: core

refactor(sweep): adapt sweep_eval for distributed training
  configs/sweep_job.yaml
  tools/sweep_eval.py
  tools/sweep_prepare_run.py
Due: core

clean up
  MOVEMENT_METRICS.md
  mettagrid/tests/test_movement_metrics_api.py
  mettagrid/tests/test_movement_metrics_performance.py
Due: core

sp
  metta/rl/experience.py
  metta/rl/functions.py
  metta/rl/trainer.py
Due: core

feat(sweep): Add API support for sweep run id synchronization across workers
  app_backend/src/metta/app_backend/metta_repo.py
  app_backend/src/metta/app_backend/routes/sweep_routes.py
  app_backend/src/metta/app_backend/server.py
  app_backend/src/metta/app_backend/sweep_client.py
  app_backend/tests/test_sweep_routes.py
Due: app_backend

it runs locally!!!
  metta/rl/experience.py
  metta/rl/functions.py
  metta/rl/trainer.py
Due: core

fix(backend): use native UUID in metta_repo.py + adapt tests
  app_backend/src/metta/app_backend/metta_repo.py
  app_backend/src/metta/app_backend/routes/sweep_routes.py
  app_backend/tests/test_sweep_routes.py
Due: app_backend

Add sweep_best_params tool for extracting best hyperparameters from sweeps
  configs/trainer/patch/axel_remote_test_1_best.yaml
  tests/tools/test_sweep_best_params.py
  tools/sweep_best_params.py
Due: core

refactor: change --no-generate-patch to --no-patch
  tools/sweep_best_params.py
Due: core

refactor: small improvements
  configs/trainer/patch/axel_remote_test_1_best.yaml
  metta/sweep/protein_wandb.py
  metta/sweep/wandb_utils.py
  tools/sweep_best_params.py
Due: core

re-jigged config
  configs/sweep_job.yaml
Due: core

feat(sweep): Add API support for sweep run id synchronization across workers (#1541)
  app_backend/src/metta/app_backend/metta_repo.py
  app_backend/src/metta/app_backend/routes/sweep_routes.py
  app_backend/src/metta/app_backend/server.py
  app_backend/src/metta/app_backend/sweep_client.py
  app_backend/tests/test_sweep_routes.py
Due: app_backend

new hydra config
  configs/train_job_comparison.yaml
  tools/compare_training.py
Due: core

Make absolute asset paths
  observatory/package.json
Due: core

Make absolute asset paths (#1564)
  observatory/package.json
Due: core

added track_movement_metric=False to GameConfig in tests
  mettagrid/tests/test_global_reward_observations.py
Due: none

update sweep_run --> sweep_name
  tests/tools/test_sweep_best_params.py
  tools/sweep_best_params.py
Due: core

move back to using curriculum name more
  configs/trainer/trainer.yaml
  metta/api.py
  metta/map/utils/show.py
  metta/rl/trainer.py
  metta/rl/trainer_config.py
  metta/rl/vecenv.py
  metta/sim/map_preview.py
  metta/sim/simulation.py
  mettagrid/benchmarks/test_mettagrid_env_benchmark.py
  mettagrid/src/metta/mettagrid/base_env.py
  mettagrid/src/metta/mettagrid/curriculum/README.md
  mettagrid/src/metta/mettagrid/curriculum/__init__.py
  mettagrid/src/metta/mettagrid/curriculum/curriculum.py
  mettagrid/src/metta/mettagrid/curriculum/curriculum_algorithm.py
  mettagrid/src/metta/mettagrid/curriculum/curriculum_api.py
  mettagrid/src/metta/mettagrid/curriculum/curriculum_builder.py
  mettagrid/src/metta/mettagrid/curriculum/curriculum_config.py
  mettagrid/src/metta/mettagrid/curriculum/learning_progress.py
  mettagrid/src/metta/mettagrid/curriculum/prioritize_regressed.py
  mettagrid/src/metta/mettagrid/curriculum/progressive.py
  mettagrid/src/metta/mettagrid/curriculum/task_tree.py
  mettagrid/src/metta/mettagrid/curriculum/util.py
  mettagrid/src/metta/mettagrid/gym_env.py
  mettagrid/src/metta/mettagrid/mettagrid_env.py
  mettagrid/src/metta/mettagrid/pettingzoo_env.py
  mettagrid/src/metta/mettagrid/puffer_env.py
  mettagrid/tests/renderer/test_nethack.py
  mettagrid/tests/test_curriculum.py
  mettagrid/tests/test_curriculum_config.py
  mettagrid/tests/test_curriculum_scenarios.py
  mettagrid/tests/test_env_map.py
  mettagrid/tests/test_gym_env.py
  mettagrid/tests/test_interactive.py
  mettagrid/tests/test_leaks.py
  mettagrid/tests/test_mettagrid_env.py
  mettagrid/tests/test_new_env_hierarchy.py
  mettagrid/tests/test_pettingzoo_env.py
  mettagrid/tests/test_puffer_env.py
  tests/test_validate_all_curriculums.py
  tools/renderer.py
Due: core, mettagrid

wip
  .github/actions/asana/common/github_asana_mapping.py
  .github/actions/asana/pr_gh_to_asana/asana_task.py
  .github/actions/asana/pr_gh_to_asana/pr_gh_to_asana.py
  .github/actions/asana/pr_gh_to_asana/pull_request.py
  .github/workflows/asana-integration.yml
Due: core

clean
  configs/env/mettagrid/curriculum/all.yaml
  configs/env/mettagrid/curriculum/arena/learning_progress.yaml
  configs/env/mettagrid/curriculum/bbc/agents/1.yaml
  configs/env/mettagrid/curriculum/bbc/agents/2.yaml
  configs/env/mettagrid/curriculum/bbc/agents/24.yaml
  configs/env/mettagrid/curriculum/bbc/agents/3.yaml
  configs/env/mettagrid/curriculum/bbc/agents/defaults.yaml
  configs/env/mettagrid/curriculum/bbc/bbc.yaml
Due: core

use VCR lib
  .github/actions/asana/pr_gh_to_asana/.gitignore
  .github/actions/asana/pr_gh_to_asana/README.md
  .github/actions/asana/pr_gh_to_asana/asana_task.py
  .github/actions/asana/pr_gh_to_asana/github_asana_mapping.py
  .github/actions/asana/pr_gh_to_asana/pr_gh_to_asana.py
  .github/actions/asana/pr_gh_to_asana/pull_request.py
  .github/actions/asana/pr_gh_to_asana/test_vcr.py
  pyproject.toml
  uv.lock
Due: core

Fix bash-specific syntax in common.sh for POSIX compatibility
  devops/tools/common.sh
Due: core

wip cursor background agent compatibility
  .cursor/environment.json
  install.sh
Due: core

policy evaluator on local docker
  .cspell.json
  app_backend/src/metta/app_backend/container_managers/__init__.py
  app_backend/src/metta/app_backend/container_managers/base.py
  app_backend/src/metta/app_backend/container_managers/docker.py
  app_backend/src/metta/app_backend/container_managers/factory.py
  app_backend/src/metta/app_backend/container_managers/models.py
  app_backend/src/metta/app_backend/docker-compose.yml
  app_backend/src/metta/app_backend/eval_task_client.py
  app_backend/src/metta/app_backend/eval_task_orchestrator.py
  app_backend/src/metta/app_backend/eval_task_worker.py
  app_backend/src/metta/app_backend/metta_repo.py
  app_backend/src/metta/app_backend/routes/eval_task_routes.py
  app_backend/tests/test_eval_task_orchestrator_integration.py
  app_backend/tests/test_eval_task_routes.py
  common/src/metta/common/util/collections.py
  configs/sim_job.yaml
  devops/docker/Dockerfile.local
Due: core, app_backend, common

[Policy evaluator] 5: eval task workers on local docker (#1432)
  .cspell.json
  app_backend/src/metta/app_backend/container_managers/__init__.py
  app_backend/src/metta/app_backend/container_managers/base.py
  app_backend/src/metta/app_backend/container_managers/docker.py
  app_backend/src/metta/app_backend/container_managers/factory.py
  app_backend/src/metta/app_backend/container_managers/models.py
  app_backend/src/metta/app_backend/docker-compose.yml
  app_backend/src/metta/app_backend/eval_task_client.py
  app_backend/src/metta/app_backend/eval_task_orchestrator.py
  app_backend/src/metta/app_backend/eval_task_worker.py
  app_backend/src/metta/app_backend/metta_repo.py
  app_backend/src/metta/app_backend/routes/eval_task_routes.py
  app_backend/tests/test_eval_task_orchestrator_integration.py
  app_backend/tests/test_eval_task_routes.py
  common/src/metta/common/util/collections.py
  configs/sim_job.yaml
  devops/docker/Dockerfile.local
Due: core, app_backend, common

Rename EKS -> k8s where appropriate
  app_backend/README.md
  app_backend/src/metta/app_backend/container_managers/factory.py
  app_backend/src/metta/app_backend/container_managers/k8s.py
  app_backend/src/metta/app_backend/kind.sh
  app_backend/tests/test_k8s_pod_manager_integration.py
Due: app_backend

Kind implementation
  app_backend/README.md
  app_backend/src/metta/app_backend/container_managers/docker.py
  app_backend/src/metta/app_backend/container_managers/eks.py
  app_backend/src/metta/app_backend/container_managers/factory.py
  app_backend/src/metta/app_backend/eval_task_orchestrator.py
  app_backend/src/metta/app_backend/kind.sh
  app_backend/tests/test_eks_pod_manager_integration.py
  devops/docker/Dockerfile.local
  devops/macos/Brewfile
  metta/setup/local_commands.py
  metta/setup/metta_cli.py
Due: core, app_backend

implement database schema and import Asana research papers list
  library/drizzle/0000_complete_maelstrom.sql
  library/drizzle/0001_same_toad_men.sql
  library/drizzle/0002_bent_doomsday.sql
  library/drizzle/0003_lumpy_galactus.sql
  library/drizzle/meta/0000_snapshot.json
  library/drizzle/meta/0001_snapshot.json
  library/drizzle/meta/0002_snapshot.json
  library/drizzle/meta/0003_snapshot.json
  library/drizzle/meta/_journal.json
  library/package.json
  library/pnpm-lock.yaml
  library/scripts/check-drizzle-connection.ts
  library/scripts/debug-parse.ts
  library/scripts/import-papers.ts
  library/scripts/minimal-drizzle-test.ts
  library/scripts/simple-insert-test.ts
  library/scripts/test-db.ts
  library/scripts/test-import-imports.ts
  library/scripts/test-main-config.ts
  library/scripts/test-raw-db.ts
  library/scripts/test-schema-only.ts
  library/scripts/verify-papers.ts
  library/src/lib/db/index.ts
  library/src/lib/db/schema/paper.ts
Due: core

add left sidebar navigation with placeholder pages
  library/src/app/authors/page.tsx
  library/src/app/globals.css
  library/src/app/institutions/page.tsx
  library/src/app/layout.tsx
  library/src/app/me/page.tsx
  library/src/app/papers/page.tsx
  library/src/app/search/page.tsx
  library/src/components/LibraryLayout.tsx
  library/src/components/LibrarySidebar.tsx
Due: core

Path conditions:
  core: any file but: app_backend/, agent/, mettagrid/, common/, **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  app_backend: any of: app_backend/, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  agent: any of: agent/, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  mettagrid: any of: mettagrid/, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  mettagrid_cpp: any of: **/*.cpp, **/*.cc, **/*.cxx, **/*.c++, **/*.h, **/*.hpp, **/*.hh, **/*.hxx, **/*.h++, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  common: any of: common/, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
