Repository Metta-AI/metta: changes, and which Codecov flags are due for each by the changed paths.
All: core, app_backend, agent, mettagrid, mettagrid_cpp, common

codecov.yml:

# Codecov configuration for Metta-AI
# Documentation: https://docs.codecov.com/docs/codecov-yaml

# Wait for all CI jobs to complete before posting results
codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

# Coverage settings
coverage:
  # Round coverage to 2 decimal places
  precision: 2
  round: down

  # Status checks configuration
  status:
    # Project-wide coverage
    project:
      default:
        target: auto # Compare against base branch
        threshold: 1% # Allow 1% coverage drop
        base: auto
        informational: true # Won't fail PR, just inform

    # Coverage for changed lines only - this is your main gate
    patch:
      default:
        target: 50% # Minimum 50% coverage on new code
        threshold: 0% # No tolerance below 50%
        base: auto
        if_ci_failed: success # Don't fail if CI fails
        if_not_found: success # Don't fail if no coverage data

      # Additional informational patch check
      informational:
        target: 80% # Ideal target
        threshold: 0%
        informational: true # Won't fail, just shows as warning

# Pull request comment configuration
comment:
  layout: "header, diff, flags, components, files"
  behavior: default
  require_changes: false # Post comment even if no coverage change
  require_base: false # Don't require base coverage
  require_head: true # Must have head coverage to post
  hide_project_coverage: false # Show overall project coverage

# Flag configuration for different test suites
flags:
  core:
    paths:
      - "!app_backend/"
      - "!agent/"
      - "!mettagrid/"
      - "!common/"
    carryforward: true

  app_backend:
    paths:
      - app_backend/
    carryforward: true

  agent:
    paths:
      - agent/
    carryforward: true

  mettagrid:
    paths:
      - mettagrid/
    carryforward: true

  mettagrid_cpp:
    paths:
      - "**/*.cpp"
      - "**/*.cc"
      - "**/*.cxx"
      - "**/*.c++"
      - "**/*.h"
      - "**/*.hpp"
      - "**/*.hh"
      - "**/*.hxx"
      - "**/*.h++"
    carryforward: true

  common:
    paths:
      - common/
    carryforward: true

# Ignore certain paths from coverage
ignore:
  - "**/tests/"
  - "**/test_*.py"
  - "**/*_test.py"
  - "**/conftest.py"
  - "setup.py"
  - "**/migrations/"
  - "**/__pycache__/"
  - "**/node_modules/"
  - "**/*.pb.py" # Generated protobuf files
  - "**/*.pyi" # Type stub files
  - "**/fixtures/"
  - "**/mocks/"
  - "**/build/" # C++ build directories
  - "**/cmake-build-*/" # CLion/CMake build directories
  - "**/CMakeFiles/" # CMake generated files
  - "**/*.o" # Object files
  - "**/*.a" # Static libraries
  - "**/*.so" # Shared libraries
  - "**/*.dylib" # macOS dynamic libraries
  - "**/*.dll" # Windows dynamic libraries

# GitHub integration settings
github_checks:
  annotations: true # Show coverage annotations in PR files view

allow for pool based sampling, change base class
  metta/cogworks/curriculum/curriculum.py
  metta/cogworks/curriculum/learning_progress_algorithm.py
  tests/cogworks/curriculum/test_comprehensive.py
  tests/cogworks/curriculum/test_integration.py
  tests/cogworks/curriculum/test_serialization.py
Due: core

Add environment variable to disable figure extraction backend processing
  library/src/components/PaperSidebar.tsx
Due: core

new files
  examples/axiom_factory_example.py
  experiments/sweeps/sweep_arena.py
  metta/sweep/axiom/WHY_AXIOM.pdf
Due: core

Implemented dual policy NPC logic
  experiments/recipes/test_dual_policy.py
  metta/rl/dual_policy.py
  metta/rl/trainer.py
  metta/rl/trainer_config.py
  metta/rl/vecenv.py
  mettagrid/src/metta/mettagrid/mettagrid_env.py
Due: core, mettagrid

fix: restore pre-dehydration training dynamics for performance regression
  metta/rl/experience.py
  metta/rl/trainer.py
Due: core

fixed stats loop
  dehydrate_regression.md
  metta/rl/hyperparameter_scheduler.py
  metta/rl/stats.py
  metta/rl/trainer.py
Due: core

purported critical fixes
  experiments/recipes/arena_basic_easy_shaped.py
  metta/rl/trainer.py
Due: core

removed a clamp
  metta/rl/trainer.py
Due: core

remove dual policy
  dehydrate_regression.md
  metta/rl/trainer.py
Due: core

8ways
  metta.code-workspace
  mettagrid/src/metta/mettagrid/actions/attack.hpp
  mettagrid/src/metta/mettagrid/actions/move.hpp
  mettagrid/src/metta/mettagrid/actions/orientation.hpp
  mettagrid/src/metta/mettagrid/actions/rotate.hpp
  mettagrid/src/metta/mettagrid/actions/swap.hpp
  mettagrid/src/metta/mettagrid/config.hpp
  mettagrid/src/metta/mettagrid/grid.hpp
  mettagrid/src/metta/mettagrid/mettagrid_c.cpp
  mettagrid/src/metta/mettagrid/mettagrid_c.hpp
  mettagrid/src/metta/mettagrid/objects/agent.hpp
  mettagrid/src/metta/mettagrid/objects/constants.hpp
  mettagrid/src/metta/mettagrid/renderer/hermes.cpp
  mettagrid/tests/test_mettagrid.cpp
Due: core, mettagrid, mettagrid_cpp

restored small and Random map diversity
  experiments/recipes/arena_basic_easy_shaped.py
  mettagrid/src/metta/mettagrid/mettagrid_env.py
Due: core, mettagrid

hps fix and imports
  dehydrate_regression.md
  metta/rl/trainer.py
Due: core

get num agents
  experiments/recipes/arena_basic_easy_shaped.py
Due: core

fix eval
  experiments/recipes/arena_freeze.py
Due: core

fix
  experiments/recipes/arena_freeze.py
Due: core

local test successful, skypilot tim
  experiments/recipes/dual_policy.py
  experiments/recipes/test_dual_policy.py
Due: core

nim + emscripten
  flake.lock
  flake.nix
Due: core

md updates
  dehydrate_regression.md
Due: core

fix instances
  experiments/recipes/arena_basic_easy_shaped.py
Due: core

refactor: remove unused testing scripts and update PDF extractor
  library/batch-extract-elements.js
  library/extract-figure.js
  library/src/lib/openai-pdf-extractor.ts
Due: core

docs: fix worker deployment config and add complete env vars
  library/README-workers.md
Due: core

format and eval interval
  experiments/marimo/01-hello-world-marimo.py
Due: core

feat: Consolidate feed and discussion views with enhanced UX improvements (#2309)
  library/.gitignore
  library/README-workers.md
  library/package.json
  library/src/app/FeedPost.tsx
  library/src/app/FeedPostsPage.tsx
  library/src/app/posts/[postId]/page.tsx
  library/src/components/InPostComments.tsx
  library/src/components/LibrarySidebar.tsx
  library/src/components/PaperCard.tsx
  library/src/components/PaperSidebar.tsx
  library/src/components/PostDiscussion.tsx
  library/src/components/ThreadedComments.tsx
  library/src/lib/arxiv-auto-import.ts
  library/src/lib/background-jobs.ts
  library/src/lib/job-queue.ts
  library/src/lib/openai-pdf-extractor.ts
  library/src/lib/routes.ts
  library/src/lib/workers/institution-worker.ts
  library/src/lib/workers/llm-worker.ts
  library/src/lib/workers/tagging-worker.ts
  library/src/lib/workers/worker-manager.ts
  pnpm-lock.yaml
Due: core

reformatting evals logging + tests
  metta/rl/stats.py
  tests/rl/test_metrics_formatting.py
Due: core

update LD_LIBRARY_PATH for mettascope2 deps
  flake.nix
Due: core

ruff format
  metta/tools/train.py
Due: core

fix pybind issues
  mettagrid/src/metta/mettagrid/action_handler.hpp
  mettagrid/src/metta/mettagrid/actions/attack.hpp
  mettagrid/src/metta/mettagrid/actions/change_glyph.hpp
  mettagrid/src/metta/mettagrid/actions/rotate.hpp
  mettagrid/src/metta/mettagrid/config.hpp
  mettagrid/src/metta/mettagrid/mettagrid_c.cpp
  mettagrid/src/metta/mettagrid/mettagrid_c.hpp
  mettagrid/src/metta/mettagrid/mettagrid_c.pyi
  mettagrid/src/metta/mettagrid/mettagrid_c_config.py
  mettagrid/src/metta/mettagrid/mettagrid_config.hpp
  mettagrid/src/metta/mettagrid/mettagrid_config.py
  mettagrid/src/metta/mettagrid/objects/agent.hpp
  mettagrid/src/metta/mettagrid/objects/agent_config.hpp
  mettagrid/src/metta/mettagrid/objects/converter.hpp
  mettagrid/src/metta/mettagrid/objects/converter_config.hpp
  mettagrid/src/metta/mettagrid/objects/wall.hpp
  mettagrid/src/metta/mettagrid/packed_coordinate.hpp
  mettagrid/src/metta/mettagrid/test_support/actions.py
  mettagrid/src/metta/mettagrid/test_support/compass.py
  mettagrid/src/metta/mettagrid/test_support/orientation.py
  mettagrid/tests/test_mettagrid.cpp
  mettagrid/tests/test_move.py
Due: mettagrid, mettagrid_cpp

no more hps
  metta/rl/experience.py
  metta/rl/trainer.py
Due: core

reverted a bunch of useless changes
  metta/rl/advantage.py
  metta/rl/hyperparameter_scheduler.py
  metta/rl/losses.py
  metta/rl/stats.py
  metta/rl/trainer.py
  metta/rl/trainer_config.py
  metta/rl/vecenv.py
  mettagrid/src/metta/mettagrid/core.py
Due: core, mettagrid

fixed reward logging issues - npc and trained reward was constant
  experiments/recipes/dual_policy.py
Due: core

fix some import locations and def names
  experiments/marimo/01-hello-world-marimo.py
Due: core

fix some tests
  mettagrid/src/metta/mettagrid/mettagrid_c_config.py
  mettagrid/src/metta/mettagrid/test_support/actions.py
  mettagrid/tests/test_action_compatibility.py
  mettagrid/tests/test_actions.py
  mettagrid/tests/test_rewards.py
  mettagrid/tests/test_swap.py
Due: mettagrid

restore file
  mettagrid/src/metta/mettagrid/mettagrid_c_config.py
Due: mettagrid

fix tests
  mettagrid/tests/test_rotate.py
Due: none

fix more orientations
  mettagrid/tests/test_rotate.py
  mettagrid/tests/test_swap.py
Due: none

add back in GameConfig?
  mettagrid/src/metta/mettagrid/core.py
Due: mettagrid

linted
  mettagrid/src/metta/mettagrid/core.py
  mettagrid/tests/test_action_compatibility.py
Due: mettagrid

new flag for macbook to disable optimizations
  experiments/marimo/01-hello-world-marimo.py
  metta/tools/train.py
Due: core

Configure datadog agent for skypilot workers
  common/src/metta/common/util/collections.py
  devops/skypilot/config/lifecycle/configure_environment.sh
  devops/skypilot/config/lifecycle/setup.sh
  devops/tf/eks/skypilot/iam.tf
  devops/tf/eks/skypilot/secrets.tf
  metta/setup/components/datadog_agent.py
Due: core, common

adding back initial resource counts
  experiments/recipes/arena_basic_easy_shaped.py
Due: core
