Repository Metta-AI/metta: changes, and which Codecov flags are due for each by the changed paths.
All: core, app_backend, agent, mettagrid, mettagrid_cpp, common

codecov.yml:

# Codecov configuration for Metta-AI
# Documentation: https://docs.codecov.com/docs/codecov-yaml

# Wait for all CI jobs to complete before posting results
codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

# Coverage settings
coverage:
  # Round coverage to 2 decimal places
  precision: 2
  round: down

  # Status checks configuration
  status:
    # Project-wide coverage
    project:
      default:
        target: auto # Compare against base branch
        threshold: 1% # Allow 1% coverage drop
        base: auto
        informational: true # Won't fail PR, just inform

    # Coverage for changed lines only - this is your main gate
    patch:
      default:
        target: 50% # Minimum 50% coverage on new code
        threshold: 0% # No tolerance below 50%
        base: auto
        if_ci_failed: success # Don't fail if CI fails
        if_not_found: success # Don't fail if no coverage data

      # Additional informational patch check
      informational:
        target: 80% # Ideal target
        threshold: 0%
        informational: true # Won't fail, just shows as warning

# Pull request comment configuration
comment:
  layout: "header, diff, flags, components, files"
  behavior: default
  require_changes: false # Post comment even if no coverage change
  require_base: false # Don't require base coverage
  require_head: true # Must have head coverage to post
  hide_project_coverage: false # Show overall project coverage

# Flag configuration for different test suites
flags:
  core:
    paths:
      - "!app_backend/"
      - "!agent/"
      - "!mettagrid/"
      - "!common/"
    carryforward: true

  app_backend:
    paths:
      - app_backend/
    carryforward: true

  agent:
    paths:
      - agent/
    carryforward: true

  mettagrid:
    paths:
      - mettagrid/
    carryforward: true

  mettagrid_cpp:
    paths:
      - "**/*.cpp"
      - "**/*.cc"
      - "**/*.cxx"
      - "**/*.c++"
      - "**/*.h"
      - "**/*.hpp"
      - "**/*.hh"
      - "**/*.hxx"
      - "**/*.h++"
    carryforward: true

  common:
    paths:
      - common/
    carryforward: true

# Ignore certain paths from coverage
ignore:
  - "**/tests/"
  - "**/test_*.py"
  - "**/*_test.py"
  - "**/conftest.py"
  - "setup.py"
  - "**/migrations/"
  - "**/__pycache__/"
  - "**/node_modules/"
  - "**/*.pb.py" # Generated protobuf files
  - "**/*.pyi" # Type stub files
  - "**/fixtures/"
  - "**/mocks/"
  - "**/build/" # C++ build directories
  - "**/cmake-build-*/" # CLion/CMake build directories
  - "**/CMakeFiles/" # CMake generated files
  - "**/*.o" # Object files
  - "**/*.a" # Static libraries
  - "**/*.so" # Shared libraries
  - "**/*.dylib" # macOS dynamic libraries
  - "**/*.dll" # Windows dynamic libraries

# GitHub integration settings
github_checks:
  annotations: true # Show coverage annotations in PR files view

inventory_item_names -> resource_names (#2410)
  docs/action_compatibility.md
  experiments/marimo/01-hello-world-marimo.py
  experiments/notebooks/01-hello-world.ipynb
  experiments/notebooks/01-hello-world.py
  metta/cogworks/curriculum/demo.py
  metta/sim/map_preview.py
  mettagrid/benchmarks/test_mettagrid_env_benchmark.cpp
  mettagrid/docs/global_observations.md
  mettagrid/src/metta/mettagrid/actions/attack.hpp
  mettagrid/src/metta/mettagrid/actions/get_output.hpp
  mettagrid/src/metta/mettagrid/actions/put_recipe_items.hpp
  mettagrid/src/metta/mettagrid/core.py
  mettagrid/src/metta/mettagrid/mettagrid_c.cpp
  mettagrid/src/metta/mettagrid/mettagrid_c.hpp
  mettagrid/src/metta/mettagrid/mettagrid_c.pyi
  mettagrid/src/metta/mettagrid/mettagrid_c_config.py
  mettagrid/src/metta/mettagrid/mettagrid_config.hpp
  mettagrid/src/metta/mettagrid/mettagrid_config.py
  mettagrid/src/metta/mettagrid/objects/agent.hpp
  mettagrid/src/metta/mettagrid/objects/converter.hpp
  mettagrid/src/metta/mettagrid/observation_encoder.hpp
  mettagrid/src/metta/mettagrid/renderer/hermes.cpp
  mettagrid/src/metta/mettagrid/replay_writer.py
  mettagrid/src/metta/mettagrid/stats_tracker.hpp
  mettagrid/tests/diagnose.py
  mettagrid/tests/test_action_compatibility.py
  mettagrid/tests/test_actions.py
  mettagrid/tests/test_attack_resource_exception.py
  mettagrid/tests/test_buffers.py
  mettagrid/tests/test_converter.py
  mettagrid/tests/test_global_obs_config.py
  mettagrid/tests/test_global_reward_observations.py
  mettagrid/tests/test_move.py
  mettagrid/tests/test_observations.py
  mettagrid/tests/test_resource_loss.py
  mettagrid/tests/test_rewards.py
  mettagrid/tests/test_rotate.py
  mettagrid/tests/test_stats_rewards.py
  mettagrid/tests/test_swap.py
  mettagrid/tests/test_visitation_counts.py
Due: core, mettagrid, mettagrid_cpp

added verticla form of corridors
  experiments/evals/navigation_with_corridors.py
  experiments/quick_map_check.py
  experiments/visualize_navigation_maps.py
Due: core

feat: add comprehensive panel removal functionality with three identification methods
  mcp_servers/wandb_dashboard/wandb_dashboard/server.py
  mcp_servers/wandb_dashboard/wandb_dashboard/tools.py
  mcp_servers/wandb_dashboard/wandb_dashboard/wandb_client.py
Due: core

removing run name
  common/tests/wandb/test_wandb_context.py
  metta/tools/play.py
  metta/tools/replay.py
  tests/tools/test_new_policy_system.py
Due: core

avoid potentially shadowing built in logging name
  common/src/metta/common/util/log_config.md
  common/src/metta/common/util/log_config.py
  common/src/metta/common/util/logging.md
Due: common

feat: add comprehensive custom chart creation with LinePlot, BarPlot, ScatterPlot, and CustomChart support
  mcp_servers/wandb_dashboard/wandb_dashboard/server.py
  mcp_servers/wandb_dashboard/wandb_dashboard/tools.py
  mcp_servers/wandb_dashboard/wandb_dashboard/wandb_client.py
Due: core

more init sandbox
  devops/skypilot/sandbox.py
Due: core

modern cursor rules
  .cursor/environment.json
  .cursor/rules/001_workspace.mdc
  .cursor/rules/002_rules.mdc
  .cursor/rules/003_docs.mdc
  .cursor/rules/004_tools.mdc
  .cursor/rules/101_python.mdc
  .cursor/rules/102_ml_rl.mdc
  .cursor/rules/201_testing.mdc
  .cursor/rules/202_frontend.mdc
  .cursor/rules/README.md
  .cursorrules
Due: core

revert stopwatch
  .cspell.json
  app_backend/src/metta/app_backend/eval_task_orchestrator.py
  app_backend/src/metta/app_backend/eval_task_worker.py
  common/src/metta/common/profiling/stopwatch.py
  common/src/metta/common/util/log_config.md
  common/src/metta/common/util/log_config.py
  common/tests/profiling/test_stopwatch.py
  metta/gridworks/server.py
  metta/rl/vecenv.py
  metta/tools/sweep_orchestrator.py
  metta/tools/train.py
Due: core, app_backend, common

revert
  common/src/metta/common/util/retry.py
  common/src/metta/common/util/system_monitor.py
  common/tests/util/test_system_monitor.py
Due: common

feat: add non-interactive support for metta install and configure
  metta/setup/components/base.py
  metta/setup/metta_cli.py
  metta/setup/utils.py
  tests/setup/test_noninteractive_install.py
Due: core

mettascope readme redux
  mettascope/AGENTS.md
  mettascope/README.md
  mettascope/index.css
  mettascope/src/worldmap.ts
  mettascope/style.css
Due: core

dont crush formatting
  mettascope/index.css
Due: core

revert
  common/tests/util/test_retry.py
Due: none

more concise
  .cursor/rules/001_workspace.mdc
  .cursor/rules/002_rules.mdc
  .cursor/rules/003_docs.mdc
  .cursor/rules/004_tools.mdc
  .cursor/rules/101_python.mdc
  .cursor/rules/102_ml_rl.mdc
  .cursor/rules/201_testing.mdc
  .cursor/rules/202_frontend.mdc
  .cursor/rules/README.md
Due: core

fewer docs
  mettascope/AGENTS.md
  mettascope/README.md
Due: core

fewer rules
  .cursor/rules/001_core.mdc
  .cursor/rules/002_rules.mdc
  .cursor/rules/003_docs.mdc
  .cursor/rules/004_tools.mdc
  .cursor/rules/101_python.mdc
  .cursor/rules/102_ml_rl.mdc
  .cursor/rules/201_dev.mdc
  .cursor/rules/201_testing.mdc
  .cursor/rules/202_frontend.mdc
  .cursor/rules/README.md
Due: core

updated docs
  mettascope/README.md
Due: core

dont change ts css
  mettascope/src/worldmap.ts
  mettascope/style.css
Due: core

remove
  .cursorrules
Due: core

feat: replace single delete with bulk_delete_dashboards supporting confirmation workflow
  mcp_servers/wandb_dashboard/wandb_dashboard/server.py
  mcp_servers/wandb_dashboard/wandb_dashboard/tools.py
  mcp_servers/wandb_dashboard/wandb_dashboard/wandb_client.py
Due: core

add loggers
  common/src/metta/common/util/log_config.md
  common/src/metta/common/util/log_config.py
  metta/rl/trainer.py
  mettagrid/src/metta/mettagrid/mettagrid_env.py
Due: core, mettagrid, common

unnecessary readme gone
  .cursor/rules/README.md
Due: core

friction fix: update cursor rules (#2424)
  .cursor/environment.json
  .cursor/rules/001_core.mdc
  .cursor/rules/101_python.mdc
  .cursor/rules/201_dev.mdc
  .cursorrules
Due: core

for else is less ugly
  devops/skypilot/sandbox.py
Due: core

Fix all setup components to support non-interactive mode
  metta/setup/components/aws.py
  metta/setup/components/codebot.py
  metta/setup/components/core.py
  metta/setup/components/datadog_agent.py
  metta/setup/components/experiments.py
  metta/setup/components/filter_repo.py
  metta/setup/components/githooks.py
  metta/setup/components/nodejs.py
  metta/setup/components/notebookwidgets.py
  metta/setup/components/observatory_key.py
  metta/setup/components/skypilot.py
  metta/setup/components/system.py
  metta/setup/components/tailscale.py
  metta/setup/components/wandb.py
  tests/setup/test_aws_profile_setup.py
Due: core

mv system monitor
  common/src/metta/common/profiling/system_monitor.py
  common/tests/profiling/test_system_monitor.py
  metta/core/monitoring.py
  metta/sweep/wandb_utils.py
Due: core, common

Change hyperparameter scheduler to default to "off" instead of constant schedules
  metta/rl/hyperparameter_scheduler.py
  metta/rl/hyperparameter_scheduler_config.py
Due: core

Adopt KickStarter pattern for hyperparameter scheduler
  metta/rl/hyperparameter_scheduler.py
  metta/rl/hyperparameter_scheduler_config.py
Due: core

remove unnecessary comments
  metta/rl/hyperparameter_scheduler.py
Due: core

singleton SystemMonitor
  common/src/metta/common/profiling/system_monitor.py
  common/tests/profiling/test_system_monitor.py
  metta/core/monitoring.py
  metta/rl/stats.py
Due: core, common

tests closers to ci
  CLAUDE.md
  pytest-ci
Due: core

revert
  common/src/metta/common/profiling/system_monitor.py
  common/tests/profiling/test_system_monitor.py
  metta/core/monitoring.py
Due: core, common

Add back local training and other things
  metta/rl/stats.py
  metta/rl/trainer.py
  metta/rl/wandb.py
  metta/tools/sim.py
  tools/request_eval.py
Due: core

x
  metta/rl/trainer.py
Due: core

null logging pattern
  common/src/metta/common/profiling/stopwatch.py
Due: common

Significantly reduce verbosity in hyperparameter scheduler files
  metta/rl/hyperparameter_scheduler.py
  metta/rl/hyperparameter_scheduler_config.py
Due: core

renovate migration
  .github/dependabot.yml
  .github/renovate.json5
  .github/workflows/assign-dependabot.yml
  .github/workflows/dependency-validation.yml
  CLAUDE.md
  DEPENDENCIES.md
Due: core

mv
  common/src/metta/common/util/log_config.py
Due: common
