Repository Metta-AI/metta: changes, and which Codecov flags are due for each by the changed paths.
All: core, app_backend, agent, mettagrid, mettagrid_cpp, common

codecov.yml:

# Codecov configuration for Metta-AI
# Documentation: https://docs.codecov.com/docs/codecov-yaml

# Wait for all CI jobs to complete before posting results
codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

# Coverage settings
coverage:
  # Round coverage to 2 decimal places
  precision: 2
  round: down

  # Status checks configuration
  status:
    # Project-wide coverage
    project:
      default:
        target: auto # Compare against base branch
        threshold: 1% # Allow 1% coverage drop
        base: auto
        informational: true # Won't fail PR, just inform

    # Coverage for changed lines only - this is your main gate
    patch:
      default:
        target: 50% # Minimum 50% coverage on new code
        threshold: 0% # No tolerance below 50%
        base: auto
        if_ci_failed: success # Don't fail if CI fails
        if_not_found: success # Don't fail if no coverage data

      # Additional informational patch check
      informational:
        target: 80% # Ideal target
        threshold: 0%
        informational: true # Won't fail, just shows as warning

# Pull request comment configuration
comment:
  layout: "header, diff, flags, components, files"
  behavior: default
  require_changes: false # Post comment even if no coverage change
  require_base: false # Don't require base coverage
  require_head: true # Must have head coverage to post
  hide_project_coverage: false # Show overall project coverage

# Flag configuration for different test suites
flags:
  core:
    paths:
      - "!app_backend/"
      - "!agent/"
      - "!mettagrid/"
      - "!common/"
    carryforward: true

  app_backend:
    paths:
      - app_backend/
    carryforward: true

  agent:
    paths:
      - agent/
    carryforward: true

  mettagrid:
    paths:
      - mettagrid/
    carryforward: true

  mettagrid_cpp:
    paths:
      - "**/*.cpp"
      - "**/*.cc"
      - "**/*.cxx"
      - "**/*.c++"
      - "**/*.h"
      - "**/*.hpp"
      - "**/*.hh"
      - "**/*.hxx"
      - "**/*.h++"
    carryforward: true

  common:
    paths:
      - common/
    carryforward: true

# Ignore certain paths from coverage
ignore:
  - "**/tests/"
  - "**/test_*.py"
  - "**/*_test.py"
  - "**/conftest.py"
  - "setup.py"
  - "**/migrations/"
  - "**/__pycache__/"
  - "**/node_modules/"
  - "**/*.pb.py" # Generated protobuf files
  - "**/*.pyi" # Type stub files
  - "**/fixtures/"
  - "**/mocks/"
  - "**/build/" # C++ build directories
  - "**/cmake-build-*/" # CLion/CMake build directories
  - "**/CMakeFiles/" # CMake generated files
  - "**/*.o" # Object files
  - "**/*.a" # Static libraries
  - "**/*.so" # Shared libraries
  - "**/*.dylib" # macOS dynamic libraries
  - "**/*.dll" # Windows dynamic libraries

# GitHub integration settings
github_checks:
  annotations: true # Show coverage annotations in PR files view

Add a design doc for `codebot`, a system for llm codegen (#1781)
  codebot/README.md
Due: core

cp
  configs/env/mettagrid/curriculum/bbc/agents/defaults.yaml
  configs/env/mettagrid/curriculum/bbc/tasks/combat.yaml
  configs/user/daveey.yaml
Due: core

cp
  experiments/notebooks/generation.py
Due: core

iterating
  .gitignore
  experiments/README.md
  experiments/__init__.py
  experiments/definitions/research_example.py
  experiments/experiment.py
  experiments/launch.py
  experiments/monitoring.py
  experiments/new_notebook.py
  experiments/new_research_notebook.py
  experiments/notebooks/README.md
  experiments/notebooks/__init__.py
  experiments/notebooks/analysis.py
  experiments/notebooks/generation.py
  experiments/notebooks/monitoring.py
  experiments/notebooks/replays.py
  experiments/notebooks/research/README.md
  experiments/notebooks/state.py
  experiments/notebooks/training.py
  experiments/recipes/arena_experiment.py
  experiments/types.py
  experiments/wandb_utils.py
  tests/experiments/__init__.py
  tests/experiments/notebooks/__init__.py
  tests/experiments/test_experiment_launch.py
  tests/experiments/test_notebook_analysis.py
  tests/experiments/test_notebook_generation.py
  tests/experiments/test_training_job_config.py
Due: core

cp
  experiments/__init__.py
  experiments/definitions/arena_experiment.py
  experiments/definitions/research_example.py
  experiments/experiment.py
  experiments/monitoring.py
  experiments/new_research_notebook.py
  experiments/notebooks/__init__.py
  experiments/notebooks/analysis.py
  experiments/notebooks/generation.py
  experiments/notebooks/monitoring.py
  experiments/notebooks/replays.py
  experiments/notebooks/research/README.md
  experiments/notebooks/research/example.ipynb
  experiments/types.py
  experiments/wandb.py
Due: core

one draft
  experiments/__init__.py
  experiments/experiment.py
  experiments/launch.py
  experiments/notebooks/README.md
  experiments/notebooks/__init__.py
  experiments/notebooks/analysis.py
  experiments/notebooks/generation.py
  experiments/notebooks/mettabook-template.ipynb
  experiments/notebooks/training.py
  experiments/notebooks/utils/__init__.py
  experiments/notebooks/utils/metrics.py
  experiments/notebooks/utils/monitoring.py
  experiments/notebooks/utils/replays.py
  experiments/notebooks/utils/training.py
  experiments/templates/arena_experiment.py
Due: core

Movement metrics refactor (#1598)
  mettagrid/tests/test_movement_metrics.py
  test_wandb_movement_metrics.py
Due: none

Check in uv.lock (#1661)
  uv.lock
Due: core

feat: optimize CI for MettaScope (#1659)
  .github/workflows/deploy-mettascope.yml
  .github/workflows/test-mettascope.yml
Due: core

Update grid_objects to expose more data (#1667)
  mettagrid/src/metta/mettagrid/mettagrid_c.cpp
Due: mettagrid, mettagrid_cpp

[MettaScope] support sprite mirroring (#1663)
  mettascope/install.sh
Due: core

Code to save generated maps added
  tools/map/generate_maps.py
Due: core

adding more ignores to git
  .gitignore
Due: core

add experiments toplevel dir
  .gitignore
  .vscode/settings.json
  experiments/README.md
  experiments/experiment.py
  experiments/launch.py
  experiments/monitoring.py
  experiments/new_notebook.py
  experiments/notebooks/README.md
  experiments/notebooks/analysis.py
  experiments/notebooks/export.py
  experiments/notebooks/generation.py
  experiments/notebooks/training.py
  experiments/recipes/arena_experiment.py
  experiments/types.py
  metta/setup/metta_cli.py
  pyproject.toml
Due: core

checkpoint
  uv.lock
Due: core

cp
  .github/workflows/deploy-mettascope.yml
  .github/workflows/test-mettascope.yml
  experiments/README.md
  experiments/experiment.py
  experiments/new_notebook.py
  experiments/notebooks/generation.py
  experiments/notebooks/monitoring.py
  experiments/notebooks/state.py
  experiments/recipes/arena_experiment.py
  metta/setup/components/githooks.py
  metta/setup/metta_cli.py
  mettagrid/src/metta/mettagrid/mettagrid_c.cpp
  mettagrid/tests/test_movement_metrics.py
  mettascope/install.sh
  pyproject.toml
  test_wandb_movement_metrics.py
  tests/experiments/test_experiment_launch.py
  uv.lock
Due: core, mettagrid, mettagrid_cpp

from trainer config re-added
  metta/rl/hyperparameter_scheduler.py
Due: core

Support metta cmd to run stats server (#1784)
  metta/setup/local_commands.py
  metta/setup/metta_cli.py
Due: core

pnpm setup fix (#1782)
  metta/setup/components/nodejs.py
Due: core

updated drawing to match minimap style, added scaling frame
  mettascope/tools/gen_thumb.py
Due: core

rough draft
  common/src/metta/common/util/git.py
  common/tests/util/test_git.py
  devops/git/README.md
  devops/git/sync_package.py
  metta/setup/components/filter_repo.py
  metta/setup/config.py
Due: core, common

rough draft
  common/src/metta/common/util/git.py
  common/src/metta/common/util/git_filter.py
  common/tests/util/test_git.py
  common/tests/util/test_git_filter.py
  devops/git/README.md
  devops/git/child_repos/filter_repo_test.yaml
  devops/git/sync_package.py
  metta/setup/components/__init__.py
  metta/setup/components/filter_repo.py
  uv.lock
Due: core, common

rd 2
  common/src/metta/common/util/git_filter.py
  devops/git/sync_package.py
Due: core, common

rename: sync_package.py -> push_child_repo.py
  devops/git/push_child_repo.py
Due: core

rd 3
  common/tests/util/test_git.py
  devops/__init__.py
  devops/git/__init__.py
  devops/git/child_repos/filter_repo_test.yaml
  devops/git/sync_package.py
Due: core

enrich author profiles with research areas and publication stats
  library/package.json
  library/scripts/author-scraper.ts
  library/scripts/display-author-results.ts
  library/scripts/enrich-author-metadata.ts
  library/scripts/extract-authors-from-papers.ts
  library/src/components/AuthorsView.tsx
  library/src/posts/data/authors-server.ts
Due: core

testing panel system
  mettascope/custom-panel.html
  mettascope/src/layout.ts
Due: core

fix: address ruff linting errors and skip test without git-filter-repo
  common/src/metta/common/util/git_filter.py
  common/tests/util/test_git.py
  common/tests/util/test_git_filter.py
  devops/__init__.py
  devops/git/__init__.py
  devops/git/push_child_repo.py
  metta/setup/components/__init__.py
  metta/setup/components/filter_repo.py
Due: core, common

enable common turbo tasks and fix gridworks eslint
  .prettierrc
  gridworks/package.json
  gridworks/tsconfig.json
  metta.code-workspace
  pnpm-lock.yaml
  pnpm-workspace.yaml
  turbo.jsonc
Due: core

fix dist bucketed write
  mettagrid/src/metta/mettagrid/room/terrain_from_numpy.py
Due: mettagrid

new terrain from numpy
  mettagrid/src/metta/mettagrid/room/terrain_from_numpy.py
Due: mettagrid

Added VAE draft
  tools/map/check_collisions.py
  tools/map/load_maps.py
  tools/map/map_dataset.py
  tools/map/train_vae.py
Due: core

fix: address ruff linting issues
  common/src/metta/common/util/git_filter.py
  common/tests/util/test_git_filter.py
Due: common

single tab test
  mettascope/custom-panel.html
  mettascope/src/layout.ts
Due: core

move test imports up and remove deprecated lr scheduler (#1788)
  configs/trainer/trainer.yaml
  metta/rl/hyperparameter_scheduler.py
  metta/rl/trainer_config.py
  run.py
  tests/rl/test_hyperparameter_scheduler.py
  tests/rl/test_trainer_config.py
  tests/sweep/test_integration_sweep_pipeline.py
Due: core
