Repository Metta-AI/metta: changes, and which Codecov flags are due for each by the changed paths.
All: core, app_backend, agent, mettagrid, mettagrid_cpp, common

prephase audit
  docs/design/pre_phase_audit.md
Due: core

minor prephase tweaks
  metta/rl/trainer.py
Due: core

feat: CI unit tests without matrix (#2450)
  .claude/agents/agent.md
  .claude/agents/checkpoint.md
  .claude/agents/config.md
  .claude/agents/data.md
  .claude/agents/env.md
  .claude/agents/metrics.md
  .claude/agents/perf.md
  .claude/agents/trainer.md
  .cspell.json
  .github/actions/setup-uv/action.yml
  .github/scripts/upload_codecov.py
  .github/workflows/build-mettascope2.yml
  .github/workflows/checks.yml
  .github/workflows/setup-tests.yml
  .github/workflows/test-mettascope.yml
  CLAUDE.md
  Makefile
  codebot/pyproject.toml
  common/pyproject.toml
  common/src/metta/common/config/run_tool.py
  common/src/metta/common/profiling/stopwatch.py
  common/src/metta/common/profiling/system_monitor.py
  common/src/metta/common/util/log_config.py
  devops/README.md
  devops/tools/format_json.sh
  docs/tools.md
  experiments/pyproject.toml
  experiments/sweeps/README.md
  function_call_chains_audit.md
  gitta/pyproject.toml
  metta/tools/train.py
  mettagrid/tests/test_pufferlib_integration.py
  protein_acquisition_tests.md
  tools/run.py
Due: core, common

make logging more lightweight
  metta/cogworks/curriculum/learning_progress_algorithm.py
Due: core

adjust logging frequency
  metta/cogworks/curriculum/learning_progress_algorithm.py
Due: core

Fix KeyError in simulation stats remote recording
  metta/sim/simulation.py
Due: core

always initialize logging
  common/src/metta/common/config/run_tool.py
  metta/__init__.py
Due: core, common

always call
  app_backend/src/metta/app_backend/eval_task_orchestrator.py
  app_backend/src/metta/app_backend/eval_task_worker.py
  common/src/metta/common/config/run_tool.py
  common/src/metta/common/util/log_config.md
  common/src/metta/common/util/log_config.py
  metta/gridworks/server.py
Due: core, app_backend, common

fix policy_name to self._policy_uri
  metta/sim/simulation.py
Due: core

rm test about stopwatch initialization
  common/tests/profiling/test_stopwatch.py
Due: none

no need to add nullhandler if we are calling init logging
  common/src/metta/common/util/namespace.py
  metta/__init__.py
Due: core, common

cleanup
  common/src/metta/common/config/run_tool.py
  common/src/metta/common/util/log_config.md
  common/src/metta/common/util/namespace.py
  metta/__init__.py
  metta/setup/metta_cli.py
Due: core, common

rm log
  common/src/metta/common/util/log_config.py
Due: common

rm
  agent/src/metta/__init__.py
  app_backend/src/metta/__init__.py
  common/src/metta/__init__.py
  common/src/metta/common/util/namespace.py
  mettagrid/src/metta/__init__.py
Due: app_backend, agent, mettagrid, common

[MettaScope2] CI Emscripten (#2432)
  .github/workflows/build-mettascope2.yml
  mettascope2/src/mettascope.nim
Due: core

fix logger call
  devops/skypilot/src/skypilot_run.py
Due: core

remove job restart test
  devops/skypilot/src/launch.py
  devops/skypilot/src/runtime_monitors.py
  devops/skypilot/src/skypilot_run.py
Due: core

rm unnecessary init_logging
  tools/run.py
Due: core

Revert "remove job restart test"
  devops/skypilot/src/launch.py
  devops/skypilot/src/runtime_monitors.py
  devops/skypilot/src/skypilot_run.py
Due: core

Update namespace.py
  common/src/metta/common/util/namespace.py
Due: common

cooling: do not require mains to call init_logging (#2459)
  agent/src/metta/__init__.py
  app_backend/src/metta/__init__.py
  app_backend/src/metta/app_backend/eval_task_orchestrator.py
  app_backend/src/metta/app_backend/eval_task_worker.py
  common/src/metta/__init__.py
  common/src/metta/common/util/log_config.md
  common/src/metta/common/util/log_config.py
  common/src/metta/common/util/namespace.py
  common/tests/profiling/test_stopwatch.py
  metta/gridworks/server.py
  mettagrid/src/metta/__init__.py
  tools/run.py
Due: core, app_backend, agent, mettagrid, common

fix bug
  experiments/evals/navigation.py
  experiments/recipes/navigation.py
  mettagrid/configs/maps/navigation_sequence/spiral_chamber.map
  mettagrid/src/metta/mettagrid/config/envs.py
Due: core, mettagrid

reduce logging overhead with max logging
  metta/cogworks/curriculum/learning_progress_algorithm.py
Due: core

[MettaScope2] Footprints (#2435)
  mettascope2/src/mettascope/worldmap.nim
Due: core

Support passing in auth username from sso ingress into links
  devops/charts/home/templates/ingress-redirects.yaml
  devops/charts/home/values.yaml
  home/.helmignore
  home/links.yaml
Due: core

update to 16 cores
  .github/workflows/checks.yml
Due: core

update to 8 cores
  .github/workflows/checks.yml
Due: core

ruff reformat
  experiments/evals/navigation.py
  experiments/recipes/navigation.py
  mettagrid/src/metta/mettagrid/config/envs.py
Due: core, mettagrid

Mettascope2 minimap (#2397)
  mettascope2/src/mettascope/minimap.nim
  mettascope2/src/mettascope/worldmap.nim
Due: core

print
  metta/setup/components/system.py
Due: core

removing dense logging to reduce overhead
  metta/cogworks/curriculum/learning_progress_algorithm.py
Due: core

pip freeze
  .github/actions/setup-uv/action.yml
Due: core

remove print
  metta/setup/components/system.py
Due: core

move deps to their own files and hash
  .github/actions/setup-uv/action.yml
  .github/actions/setup-uv/dependencies-linting.txt
  .github/actions/setup-uv/dependencies-testing.txt
Due: core

simplify
  devops/charts/home/templates/ingress-redirects.yaml
  devops/charts/home/templates/ingress.yaml
  home/generate-nginx-redirects.js
  home/links.yaml
  home/nginx.conf.template
Due: core

python change
  metta/setup/components/system.py
Due: core

rm unused change
  devops/charts/home/values.yaml
Due: core

home.softmax-research.com/s sends user to skypilot page filtered for only their jobs (#2416)
  devops/charts/home/templates/ingress-redirects.yaml
  devops/charts/home/templates/ingress.yaml
  home/.helmignore
  home/generate-nginx-redirects.js
  home/links.yaml
  home/nginx.conf.template
Due: core

Add more home shortlinks
  home/links.yaml
Due: core

Path conditions:
  core: any file but: app_backend/, agent/, mettagrid/, common/, **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  app_backend: any of: app_backend/, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  agent: any of: agent/, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  mettagrid: any of: mettagrid/, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  mettagrid_cpp: any of: **/*.cpp, **/*.cc, **/*.cxx, **/*.c++, **/*.h, **/*.hpp, **/*.hh, **/*.hxx, **/*.h++, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  common: any of: common/, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
