Repository Metta-AI/metta: changes, and which Codecov flags are due for each by the changed paths.
All: core, app_backend, agent, mettagrid, mettagrid_cpp, common

New dashboard
  app_backend/src/metta/app_backend/metta_repo.py
  app_backend/src/metta/app_backend/routes/heatmap_routes.py
  app_backend/src/metta/app_backend/routes/heatmap_routes_old.py
  app_backend/src/metta/app_backend/server.py
  app_backend/tests/test_heatmap_routes.py
  app_backend/tests/test_policy_selector.py
  observatory/src/App.tsx
  observatory/src/Dashboard.module.css
  observatory/src/Dashboard.tsx
  observatory/src/Heatmap.tsx
  observatory/src/components/EvalSelector.module.css
  observatory/src/components/EvalSelector.tsx
  observatory/src/components/MetricSelector.module.css
  observatory/src/components/MetricSelector.tsx
  observatory/src/components/PolicySelector.module.css
  observatory/src/components/PolicySelector.tsx
  observatory/src/components/SearchInput.tsx
  observatory/src/components/TrainingRunPolicySelector.module.css
  observatory/src/components/TrainingRunPolicySelector.tsx
  observatory/src/repo.ts
Due: core, app_backend

fix helm tags in github workflows (#1651)
  .github/workflows/build-metta-app-docker.yml
  .github/workflows/build-metta-fe-docker.yml
Due: core

rm venv after training
  .github/workflows/test-mettascope.yml
Due: core

everything except passing hidden state through experience buffer at inference (?)
  agent/src/metta/agent/policy_state.py
  metta/rl/experience.py
  metta/rl/losses.py
  metta/rl/util/contrastive.py
  metta/rl/util/losses.py
  metta/rl/util/sandbox.py
  notebooks/research/contrastive_loss.ipynb
Due: core, agent

reduce uv confusion
  mettascope/Dockerfile
Due: core

also drop train_dir
  .github/workflows/test-mettascope.yml
Due: core

add debug step
  .github/workflows/test-mettascope.yml
Due: core

set env
  .github/workflows/test-mettascope.yml
Due: core

switching to heatmap jupyter widget and seperate react project
  observatory/src/PolicyView.tsx
  tools/get_recent_policy.py
Due: core

try do delete node modules
  .github/workflows/test-mettascope.yml
Due: core

vibecoded this. hope it helps. it actually fixes the problem but has linting errors
  agent/src/metta/agent/lib/obs_token_to_box_shaper.py
  agent/src/metta/agent/metta_agent.py
Due: agent

list large subdirs
  .github/workflows/test-mettascope.yml
Due: core

try avoiding uv sync
  .github/workflows/test-mettascope.yml
Due: core

nosync
  .github/workflows/test-mettascope.yml
Due: core

ignore yml files in charts
  devops/tools/format_yml.sh
Due: core

lint
  .github/workflows/checks.yml
  app_backend/src/metta/app_backend/docker-compose.yml
  mettagrid/tests/test_bucketed_config.yaml
Due: core, app_backend, mettagrid

refactor scene children (#1649)
  metta/map/mapgen.py
  metta/map/scene.py
  metta/map/scenes/ascii.py
  metta/map/scenes/auto.py
  metta/map/scenes/layout.py
  metta/map/scenes/multi_left_and_right.py
  metta/map/scenes/random_objects.py
  metta/map/scenes/random_scene.py
  metta/map/scenes/random_scene_from_dir.py
  metta/map/scenes/room_grid.py
  metta/map/types.py
  tests/map/scenes/utils.py
  tests/map/test_scene.py
Due: core

Matrix APIs (#1647)
  app_backend/src/metta/app_backend/metta_repo.py
  app_backend/src/metta/app_backend/routes/heatmap_routes.py
  app_backend/src/metta/app_backend/routes/heatmap_routes_old.py
  app_backend/src/metta/app_backend/server.py
  app_backend/tests/test_heatmap_routes.py
  app_backend/tests/test_policy_selector.py
  observatory/src/App.tsx
  observatory/src/Dashboard.module.css
  observatory/src/Dashboard.tsx
  observatory/src/Heatmap.tsx
  observatory/src/components/EvalSelector.module.css
  observatory/src/components/EvalSelector.tsx
  observatory/src/components/MetricSelector.module.css
  observatory/src/components/MetricSelector.tsx
  observatory/src/components/PolicySelector.module.css
  observatory/src/components/PolicySelector.tsx
  observatory/src/components/SearchInput.tsx
  observatory/src/components/TrainingRunPolicySelector.module.css
  observatory/src/components/TrainingRunPolicySelector.tsx
  observatory/src/repo.ts
Due: core, app_backend

fix action
  .github/actions/setup-uv/action.yml
  .github/workflows/test-mettascope.yml
Due: core

test`
  configs/env/mettagrid/cyclical/cyclical_converter_test.yaml
Due: core

add obs and action to systematic exploration eva;s
  configs/env/mettagrid/systematic_exploration_memory/evals/defaults.yaml
Due: core

implement intrinsic_size in inline_ascii
  metta/map/scenes/inline_ascii.py
Due: core

mapgen num_agents parameter
  configs/env/mettagrid/game/map_builder/instances_example.yaml
  metta.code-workspace
  metta/map/mapgen.py
  metta/map/scene.py
  metta/map/scenes/transplant_scene.py
  metta/map/types.py
Due: core

comments
  metta/map/scene.py
Due: core

refactor mapgen tests
  tests/map/test_mapgen.py
Due: none

test num_agents
  metta/map/scene.py
  tests/map/scenes/utils.py
  tests/map/test_mapgen.py
Due: core

Switch navigation training to be bucketed curricula instead of using random resolvers
  configs/env/mettagrid/curriculum/navigation/bucketed.yaml
  configs/env/mettagrid/curriculum/navigation/prioritize_regressed.yaml
  configs/env/mettagrid/navigation/training/cylinder_world.yaml
  configs/env/mettagrid/navigation/training/large.yaml
  configs/env/mettagrid/navigation/training/medium.yaml
  configs/env/mettagrid/navigation/training/small.yaml
  configs/env/mettagrid/navigation/training/terrain_from_numpy.yaml
  configs/env/mettagrid/navigation/training/terrain_from_numpy_defaults.yaml
  configs/env/mettagrid/navigation/training/varied_terrain_balanced.yaml
  configs/env/mettagrid/navigation/training/varied_terrain_dense.yaml
  configs/env/mettagrid/navigation/training/varied_terrain_maze.yaml
  configs/env/mettagrid/navigation/training/varied_terrain_sparse.yaml
  configs/user/sasmith.yaml
  metta/interface/evaluation.py
  tests/test_validate_all_envs.py
Due: core

look for disk use
  .github/workflows/test-mettascope.yml
Due: core

chore: update tool and lint yml (#1655)
  .github/workflows/checks.yml
  app_backend/src/metta/app_backend/docker-compose.yml
  devops/tools/format_yml.sh
  mettagrid/tests/test_bucketed_config.yaml
Due: core, app_backend, mettagrid

Path conditions:
  core: any file but: app_backend/, agent/, mettagrid/, common/, **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  app_backend: any of: app_backend/, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  agent: any of: agent/, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  mettagrid: any of: mettagrid/, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  mettagrid_cpp: any of: **/*.cpp, **/*.cc, **/*.cxx, **/*.c++, **/*.h, **/*.hpp, **/*.hh, **/*.hxx, **/*.h++, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  common: any of: common/, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
