Repository Metta-AI/metta: changes, and which Codecov flags are due for each by the changed paths.
All: core, app_backend, agent, mettagrid, mettagrid_cpp, common

update command
  mettascope/tests/test_replay_format_validator.py
Due: none

Handle shape
  agent/src/metta/agent/pytorch/hrm.py
Due: agent

update num instances
  experiments/evals/navigation.py
Due: core

Clean
  agent/src/metta/agent/pytorch/hrm.py
Due: agent

fix warnings
  .github/workflows/checks.yml
Due: core

skypilot run
  experiments/recipes/rewardsharing.py
Due: core

bug fix
  experiments/recipes/rewardsharing.py
Due: core

fix validation test
  experiments/recipes/scratchpad/ci.py
  mettascope/tests/test_replay_format_validator.py
Due: core

Move datadog to its own service (#2184)
  devops/charts/helm.values/datadog-values.yaml
  devops/charts/helmfile.yaml
  devops/charts/orchestrator/Chart.lock
  devops/charts/orchestrator/Chart.yaml
  devops/charts/orchestrator/values.yaml
Due: core

reject null sim/env name episode creates
  app_backend/src/metta/app_backend/clients/stats_client.py
  app_backend/src/metta/app_backend/metta_repo.py
  app_backend/src/metta/app_backend/routes/stats_routes.py
Due: app_backend

fix test
  app_backend/tests/test_stats_server.py
Due: none

sp
  agent/src/metta/agent/lib/lstm.py
  agent/src/metta/agent/lib/obs_token_to_box_shaper.py
Due: agent

lint
  agent/src/metta/agent/pytorch/transformer.py
  agent/src/metta/agent/pytorch/transformer_improved.py
Due: agent

lint
  agent/src/metta/agent/pytorch/agalite.py
  agent/src/metta/agent/pytorch/agalite_improved.py
Due: agent

reject null sim/env name episode creates (#2289)
  app_backend/src/metta/app_backend/clients/stats_client.py
  app_backend/src/metta/app_backend/metta_repo.py
  app_backend/src/metta/app_backend/routes/stats_routes.py
  app_backend/tests/test_stats_server.py
Due: app_backend

added users file
  .vscode/launch.json
  experiments/recipes/scratchpad/alex.py
  experiments/users/alex.py
Due: core

same number of agnets in training and eval
  experiments/evals/icl_resource_chain.py
Due: core

delete redundant map
  mettagrid/configs/maps/navigation/radialmaze.map
Due: mettagrid

editing launch.json! !
  .vscode/launch.json
Due: core

sp
  experiments/users/alex.py
Due: core

remove default mapbuilder, its confusing
  mettagrid/src/metta/mettagrid/config/envs.py
Due: mettagrid

tune runs-on and simplify test shards
  .github/actions/disk-cleanup/README.md
  .github/actions/disk-cleanup/action.yml
  .github/workflows/analyze-pr.yml
  .github/workflows/asana-integration.yml
  .github/workflows/assign-dependabot.yml
  .github/workflows/auto-tag-researcher-current.yml
  .github/workflows/build-image.yml
  .github/workflows/build-metta-app-docker.yml
  .github/workflows/build-metta-fe-docker.yml
  .github/workflows/build-metta-policy-evaluator-docker.yml
  .github/workflows/build-mettascope-docker.yml
  .github/workflows/checks.yml
  .github/workflows/claude-review-base.yml
  .github/workflows/claude-review-orchestrator.yml
  .github/workflows/claude.yml
  .github/workflows/deploy-mettascope.yml
  .github/workflows/dist-smoketest.yml
  .github/workflows/generate-author-report.yml
  .github/workflows/generate-newsletter.yml
  .github/workflows/setup-tests.yml
  .github/workflows/sky-train.yml
  .github/workflows/stale.yml
  .github/workflows/test-demo-environments.yml
  .github/workflows/test-fetch-artifacts.yml
  .github/workflows/test-mettascope.yml
  manybot/remotebot/README.md
Due: core

refactor
  experiments/evals/icl_resource_chain.py
Due: core

Delete experiments/recipes/scratchpad/daphne.py
  experiments/recipes/scratchpad/daphne.py
Due: core

Update building.py
  mettagrid/src/metta/mettagrid/config/building.py
Due: mettagrid

Update mettagrid/src/metta/mettagrid/map_builder/perimeter_incontext.py
  mettagrid/src/metta/mettagrid/map_builder/perimeter_incontext.py
Due: mettagrid

reformat
  experiments/evals/icl_resource_chain.py
Due: core

temporarily disable mettagrid_build.py
  .github/workflows/checks.yml
Due: core

fixed agent_step counting bug
  metta/rl/loss/ema_config.py
  metta/rl/loss/sl_kickstarter_config.py
  metta/rl/loss/tl_kickstarter.py
  metta/rl/loss/tl_kickstarter_config
  metta/rl/trainer.py
Due: core

fix bug
  experiments/evals/icl_resource_chain.py
Due: core

update trainer config
  experiments/recipes/icl_resource_chain.py
Due: core

post-dehydration fix for eval task worker
  app_backend/src/metta/app_backend/eval_task_worker.py
Due: app_backend

enter the ninja
  devops/macos/Brewfile
  mettagrid/CMakePresets.json
Due: core, mettagrid

remove mettagrid_build.py
  .github/scripts/mettagrid_build.py
  .github/workflows/checks.yml
Due: core

remove smoke tests
  .github/workflows/checks.yml
Due: core

change to 6x6
  mettagrid/src/metta/mettagrid/config/envs.py
Due: mettagrid

add policy uri
  experiments/recipes/icl_resource_chain.py
Due: core

unused import
  mettagrid/src/metta/mettagrid/config/envs.py
Due: mettagrid

bring back unit-tests-summary
  .github/workflows/checks.yml
Due: core

Path conditions:
  core: any file but: app_backend/, agent/, mettagrid/, common/, **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  app_backend: any of: app_backend/, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  agent: any of: agent/, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  mettagrid: any of: mettagrid/, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  mettagrid_cpp: any of: **/*.cpp, **/*.cc, **/*.cxx, **/*.c++, **/*.h, **/*.hpp, **/*.hh, **/*.hxx, **/*.h++, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  common: any of: common/, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
