Repository Metta-AI/metta: changes, and which Codecov flags are due for each by the changed paths.
All: core, app_backend, agent, mettagrid, mettagrid_cpp, common

different approach
  devops/skypilot/utils.py
Due: core

lint
  devops/skypilot/config/skypilot_run.sh
Due: core

lint
  agent/src/metta/agent/agent_config.py
  agent/src/metta/agent/metta_agent.py
  devops/run.sh
  devops/skypilot/config/lifecycle/configure_environment.sh
  devops/skypilot/config/skypilot_run.sh
  devops/skypilot/utils.py
  metta/cogworks/curriculum/__init__.py
  metta/cogworks/curriculum/task_generator.py
  metta/rl/checkpoint_manager.py
  metta/rl/stats.py
  metta/rl/trainer.py
  metta/tools/train.py
  mettagrid/src/metta/mettagrid/config/envs.py
Due: core, agent, mettagrid

fixes
  devops/skypilot/config/skypilot_run.sh
  devops/skypilot/utils.py
Due: core

Update skypilot_run.sh
  devops/skypilot/config/skypilot_run.sh
Due: core

Add ContextManager and complete workflow system
  manybot/codebot/workflow.py
Due: core

Clean up setting some default interval values in trainer config (#2237)
  metta/rl/trainer_config.py
  tests/rl/test_trainer_config.py
Due: core

revert: remove unnecessary changes to reduce diff with dehydration-10
  agent/src/metta/agent/lib/obs_enc.py
  metta/rl/advantage.py
  metta/rl/trainer.py
  metta/tools/train.py
Due: core, agent

move onto debug imports
  metta/rl/trainer.py
Due: core

fix: remove undefined 'device' variable in ComponentPolicy.__init__
  agent/src/metta/agent/component_policy.py
Due: agent

switched back to arena
  experiments/user/relh.py
  metta/rl/trainer_config.py
Due: core

added my user
  experiments/user/relh.py
Due: core

adding logging
  metta/tools/train.py
Due: core

revert
  metta/core/distributed.py
Due: core

Reapply component-policies on top of dehydration stack
  agent/src/metta/agent/agent_mapper.py
  agent/src/metta/agent/component_policies/README.md
  agent/src/metta/agent/component_policies/fast.py
  agent/src/metta/agent/component_policies/latent_attn_med.py
  agent/src/metta/agent/component_policies/latent_attn_small.py
  agent/src/metta/agent/component_policies/latent_attn_tiny.py
  agent/src/metta/agent/component_policy.py
  agent/src/metta/agent/lib/obs_enc.py
  agent/src/metta/agent/metta_agent.py
  agent/src/metta/agent/pytorch/agent_mapper.py
  agent/src/metta/agent/pytorch/latent_attn_small.py
  agent/tests/test_legacy_adapter.py
  agent/tests/test_metta_agent.py
  configs/agent/fast.yaml
  configs/agent/latent_attn_med.yaml
  configs/agent/latent_attn_small.yaml
  configs/agent/latent_attn_tiny.yaml
  configs/agent/prototypes/resmlp_value.yaml
  configs/agent/reference_design.yaml
Due: core, agent

user relh fix no compile
  experiments/user/relh.py
Due: core

undoing unneeded changes
  experiments/user/relh.py
  metta/tools/train.py
Due: core

revert changes
  experiments/user/relh.py
Due: core

fixed name
  experiments/user/relh.py
Due: core

attempting dist fix
  metta/core/distributed.py
Due: core

trying some speed fixes
  experiments/user/relh.py
Due: core

relh update
  experiments/user/relh.py
Due: core

cpu only mode forever
  metta/rl/advantage.py
  metta/rl/trainer.py
Due: core

agent config v1
  agent/src/metta/agent/agent_config.py
  agent/src/metta/agent/agent_mapper.py
  agent/src/metta/agent/metta_agent.py
Due: agent

set workers
  experiments/user/relh.py
Due: core

updated relh
  experiments/user/relh.py
Due: core

dist fix
  metta/core/distributed.py
Due: core

component policy change
  agent/src/metta/agent/component_policy.py
Due: agent

revert the distributed change
  metta/core/distributed.py
Due: core

agent config v2
  agent/src/metta/agent/agent_config.py
  agent/src/metta/agent/metta_agent.py
  metta/rl/checkpoint_manager.py
  metta/rl/stats.py
  metta/rl/trainer.py
  metta/tools/train.py
Due: core, agent

set state catch
  agent/src/metta/agent/metta_agent.py
Due: agent

max workers
  experiments/user/relh.py
  metta/tools/train.py
Due: core

obs enc
  agent/src/metta/agent/lib/obs_enc.py
Due: agent

restored AgentConfig
  metta/tools/train.py
Due: core

Update skypilot_run.sh
  .cspell.json
  .github/workflows/checks.yml
  .github/workflows/test-mettascope.yml
  README.md
  agent/tests/test_metta_agent.py
  common/src/metta/common/util/instantiate.py
  common/src/metta/common/util/skypilot_latency.py
  common/src/metta/common/wandb/wandb_context.py
  common/tests/util/test_instantiate.py
  devops/skypilot/config/skypilot_run.sh
  devops/skypilot/launch.py
  experiments/arena.py
  experiments/navigation.py
  metta/cogworks/curriculum/__init__.py
  metta/rl/evaluate.py
  metta/rl/hyperparameter_scheduler_config.py
  metta/rl/puffer_policy.py
  metta/rl/trainer.py
  metta/rl/trainer_config.py
  metta/tools/train.py
  mettagrid/src/metta/mettagrid/config/envs.py
  mettagrid/src/metta/mettagrid/util/file.py
  pyproject.toml
  uv.lock
Due: core, mettagrid, common

fixes
  devops/skypilot/config/skypilot_run.sh
Due: core

Path conditions:
  core: any file but: app_backend/, agent/, mettagrid/, common/, **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  app_backend: any of: app_backend/, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  agent: any of: agent/, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  mettagrid: any of: mettagrid/, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  mettagrid_cpp: any of: **/*.cpp, **/*.cc, **/*.cxx, **/*.c++, **/*.h, **/*.hpp, **/*.hh, **/*.hxx, **/*.h++, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  common: any of: common/, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
