Repository Metta-AI/metta: changes, and which Codecov flags are due for each by the changed paths.
All: core, app_backend, agent, mettagrid, mettagrid_cpp, common

codecov.yml:

# Codecov configuration for Metta-AI
# Documentation: https://docs.codecov.com/docs/codecov-yaml

# Wait for all CI jobs to complete before posting results
codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

# Coverage settings
coverage:
  # Round coverage to 2 decimal places
  precision: 2
  round: down

  # Status checks configuration
  status:
    # Project-wide coverage
    project:
      default:
        target: auto # Compare against base branch
        threshold: 1% # Allow 1% coverage drop
        base: auto
        informational: true # Won't fail PR, just inform

    # Coverage for changed lines only - this is your main gate
    patch:
      default:
        target: 50% # Minimum 50% coverage on new code
        threshold: 0% # No tolerance below 50%
        base: auto
        if_ci_failed: success # Don't fail if CI fails
        if_not_found: success # Don't fail if no coverage data

      # Additional informational patch check
      informational:
        target: 80% # Ideal target
        threshold: 0%
        informational: true # Won't fail, just shows as warning

# Pull request comment configuration
comment:
  layout: "header, diff, flags, components, files"
  behavior: default
  require_changes: false # Post comment even if no coverage change
  require_base: false # Don't require base coverage
  require_head: true # Must have head coverage to post
  hide_project_coverage: false # Show overall project coverage

# Flag configuration for different test suites
flags:
  core:
    paths:
      - "!app_backend/"
      - "!agent/"
      - "!mettagrid/"
      - "!common/"
    carryforward: true

  app_backend:
    paths:
      - app_backend/
    carryforward: true

  agent:
    paths:
      - agent/
    carryforward: true

  mettagrid:
    paths:
      - mettagrid/
    carryforward: true

  mettagrid_cpp:
    paths:
      - "**/*.cpp"
      - "**/*.cc"
      - "**/*.cxx"
      - "**/*.c++"
      - "**/*.h"
      - "**/*.hpp"
      - "**/*.hh"
      - "**/*.hxx"
      - "**/*.h++"
    carryforward: true

  common:
    paths:
      - common/
    carryforward: true

# Ignore certain paths from coverage
ignore:
  - "**/tests/"
  - "**/test_*.py"
  - "**/*_test.py"
  - "**/conftest.py"
  - "setup.py"
  - "**/migrations/"
  - "**/__pycache__/"
  - "**/node_modules/"
  - "**/*.pb.py" # Generated protobuf files
  - "**/*.pyi" # Type stub files
  - "**/fixtures/"
  - "**/mocks/"
  - "**/build/" # C++ build directories
  - "**/cmake-build-*/" # CLion/CMake build directories
  - "**/CMakeFiles/" # CMake generated files
  - "**/*.o" # Object files
  - "**/*.a" # Static libraries
  - "**/*.so" # Shared libraries
  - "**/*.dylib" # macOS dynamic libraries
  - "**/*.dll" # Windows dynamic libraries

# GitHub integration settings
github_checks:
  annotations: true # Show coverage annotations in PR files view

refactor: sweep pipeline implementation
  common/src/metta/common/util/datastruct.py
  common/src/metta/common/util/lock.py
  common/tests/util/test_datastruct.py
  configs/sweep/full.yaml
  configs/sweep_job.yaml
  devops/sweep.sh
  devops/sweep_rollout.sh
  experiments/notebooks/research/sweep_analysis.ipynb
  metta/sweep/README.md
  metta/sweep/__init__.py
  metta/sweep/protein_metta.py
  metta/sweep/sweep_lifecycle.py
  metta/sweep/sweep_rollout.py
  metta/sweep/wandb_utils.py
  tests/sweep/test_integration_sweep_centralized.py
  tests/sweep/test_integration_sweep_pipeline.py
  tests/sweep/test_metta_protein.py
  tests/sweep/test_protein_end_to_end_pipeline.py
  tests/sweep/test_protein_integration.py
  tests/sweep/test_protein_metta.py
  tests/sweep/test_sweep_config_loading.py
  tests/sweep/test_sweep_execute.py
  tests/sweep/test_sweep_init.py
  tests/sweep/test_sweep_lifecycle.py
  tests/sweep/test_sweep_script_integration.py
  tests/sweep/test_wandb_utils.py
  tools/get_best_params_from_sweep.py
  tools/sweep_config_utils.py
  tools/sweep_eval.py
  tools/sweep_execute.py
  tools/sweep_prepare_run.py
  tools/sweep_setup.py
  tools/train.py
Due: core, common

fix path
  devops/skypilot/config/sk_train_run.sh
Due: core

feat(sweep): add phase support
  configs/sweep/OPTIMIZATION_STRATEGY.md
  configs/sweep/PHASED_STRATEGY.md
  configs/sweep/full.yaml
  configs/sweep/phase1_explore_cheap.yaml
  configs/sweep/phase2_exploit_medium.yaml
  configs/sweep/phase3_final_expensive.yaml
  configs/sweep_job.yaml
  experiments/notebooks/research/sweep_analysis.ipynb
  metta/sweep/sweep_lifecycle.py
  tools/sweep_execute.py
Due: core

added plotly dashboard
  configs/sweep/OPTIMIZATION_STRATEGY.md
  configs/sweep/phase1_explore_cheap.yaml
  configs/sweep/phase2_exploit_medium.yaml
  configs/sweep/phase3_final_expensive.yaml
  configs/sweep/simple.yaml
  configs/sweep_job.yaml
  experiments/notebooks/research/sweep_analysis.ipynb
  experiments/notebooks/research/sweep_dashboard_plotly.py
  pyproject.toml
  uv.lock
Due: core

fix test
  devops/skypilot/config/preflight/test_nccl.py
Due: none

test as configured
  devops/skypilot/config/preflight/test_nccl.py
Due: none

add most valid ascii characters
  mettascope/tools/gen_atlas.py
Due: core

drop unused test
  devops/skypilot/config/preflight/test_nccl.py
Due: none

update recipes for breadcrumbing
  recipes/operantconditioning_incontext.sh
Due: core

reduced diff losses.py
  metta/rl/losses.py
Due: core

simplify
  devops/skypilot/config/lifecycle/configure_environment.sh
  devops/skypilot/config/monitors/cluster_stop_monitor.sh
  devops/skypilot/config/monitors/heartbeat_monitor.sh
  devops/skypilot/config/monitors/timeout_monitor.sh
  devops/skypilot/config/sk_train_run.sh
Due: core

reduced diff mettagrid_env
  mettagrid/src/metta/mettagrid/mettagrid_env.py
Due: mettagrid

added memory evals
  configs/env/mettagrid/autocurricula/evals/boxout.yaml
  configs/env/mettagrid/autocurricula/evals/choose_wisely.yaml
  configs/env/mettagrid/autocurricula/evals/corners.yaml
  configs/env/mettagrid/autocurricula/evals/defaults.yaml
  configs/env/mettagrid/autocurricula/evals/hall_of_mirrors.yaml
  configs/env/mettagrid/autocurricula/evals/journey_home.yaml
  configs/env/mettagrid/autocurricula/evals/little_landmark_hard.yaml
  configs/env/mettagrid/autocurricula/evals/lobster_legs.yaml
  configs/env/mettagrid/autocurricula/evals/lobster_legs_cues.yaml
  configs/env/mettagrid/autocurricula/evals/memory_swirls.yaml
  configs/env/mettagrid/autocurricula/evals/memory_swirls_hard.yaml
  configs/env/mettagrid/autocurricula/evals/passing_things.yaml
  configs/env/mettagrid/autocurricula/evals/rooms.yaml
  configs/env/mettagrid/autocurricula/evals/spacey_memory.yaml
  configs/env/mettagrid/autocurricula/evals/spiral_chamber.yaml
  configs/env/mettagrid/autocurricula/evals/tease.yaml
  configs/env/mettagrid/autocurricula/evals/tease_small.yaml
  configs/env/mettagrid/autocurricula/evals/venture_out.yaml
  configs/env/mettagrid/autocurricula/evals/you_shall_not_pass.yaml
  configs/env/mettagrid/maps/autocurricula/boxout.map
  configs/env/mettagrid/maps/autocurricula/choose_wisely.map
  configs/env/mettagrid/maps/autocurricula/corners.map
  configs/env/mettagrid/maps/autocurricula/hall_of_mirrors.map
  configs/env/mettagrid/maps/autocurricula/hard_sequence.map
  configs/env/mettagrid/maps/autocurricula/journey_home.map
  configs/env/mettagrid/maps/autocurricula/little_landmark_hard.map
  configs/env/mettagrid/maps/autocurricula/lobster_legs.map
  configs/env/mettagrid/maps/autocurricula/lobster_legs_cues.map
  configs/env/mettagrid/maps/autocurricula/memory_swirls.map
  configs/env/mettagrid/maps/autocurricula/memory_swirls_hard.map
  configs/env/mettagrid/maps/autocurricula/passing_things.map
  configs/env/mettagrid/maps/autocurricula/rooms.map
  configs/env/mettagrid/maps/autocurricula/spacey_memory.map
  configs/env/mettagrid/maps/autocurricula/spiral_chamber.map
  configs/env/mettagrid/maps/autocurricula/tease.map
  configs/env/mettagrid/maps/autocurricula/tease_small.map
  configs/env/mettagrid/maps/autocurricula/venture_out.map
  configs/env/mettagrid/maps/autocurricula/you_shall_not_pass.map
  configs/sim/autocurricula.yaml
  mettagrid/src/metta/mettagrid/char_encoder.py
Due: core, mettagrid

progress smoothing 0.1
  mettagrid/src/metta/mettagrid/curriculum/learning_progress.py
Due: mettagrid

commented few lines
  recipes/dual_policy_cloud.sh
Due: core

wip
  devops/skypilot/config/lifecycle/cleanup_handler.sh
  devops/skypilot/config/sk_train_run.sh
Due: core

update progress smoothing
  mettagrid/src/metta/mettagrid/curriculum/learning_progress.py
  recipes/operantconditioning_incontext.sh
Due: core, mettagrid

mv file
  devops/skypilot/connect.py
Due: core

progress smoothing 0.2
  mettagrid/src/metta/mettagrid/curriculum/learning_progress.py
Due: mettagrid

0.2 progress smoothing
  recipes/operantconditioning_incontext.sh
Due: core

fix: resolve TypeScript build errors in observatory
  observatory/src/Dashboard.tsx
  observatory/src/LeaderboardView.tsx
  observatory/src/Scorecard.tsx
  observatory/src/TrainingRunDetail.tsx
Due: core

mv to python
  devops/skypilot/config/lifecycle/cleanup_handler.sh
  devops/skypilot/config/notifications/set_github_status.py
  devops/skypilot/config/notifications/set_github_status.sh
  devops/skypilot/config/sk_train_run.sh
Due: core

fixes
  configs/env/mettagrid/autocurricula/evals/defaults.yaml
  greg.sh
Due: core

graphite errors fixed
  metta/rl/losses.py
  metta/rl/trainer.py
  mettagrid/src/metta/mettagrid/mettagrid_env.py
Due: core, mettagrid

fixed 0 handling
  metta/map/scenes/grid_altars.py
Due: core

fix: resolve TypeScript build errors in observatory (#2199)
  observatory/src/Dashboard.tsx
  observatory/src/LeaderboardView.tsx
  observatory/src/Scorecard.tsx
  observatory/src/TrainingRunDetail.tsx
Due: core

nav and memory evals seperate
  configs/env/mettagrid/navigation/evals/defaults.yaml
  configs/env/mettagrid/navigation/evals/emptyspace_outofsight.yaml
  configs/env/mettagrid/navigation/evals/emptyspace_sparse.yaml
  configs/env/mettagrid/navigation/evals/emptyspace_sparse_medium.yaml
  configs/env/mettagrid/navigation/evals/emptyspace_withinsight.yaml
  configs/env/mettagrid/navigation/evals/obstacles1.yaml
  configs/env/mettagrid/navigation/evals/walls_outofsight.yaml
  configs/env/mettagrid/navigation/evals/walls_sparse.yaml
  configs/env/mettagrid/navigation/evals/walls_withinsight.yaml
  configs/sim/autocurricula.yaml
Due: core

revert and now testing sqrt methods
  mettagrid/src/metta/mettagrid/curriculum/colortree_random.py
  recipes/run_colortree_bptt_experiments.sh
Due: core, mettagrid

dehydration config updates
  experiments/arena.py
  experiments/navigation.py
  metta/rl/trainer_config.py
Due: core

Grid and spiral buckets for navigation (#1729)
  common/src/metta/common/util/resolvers.py
  configs/env/mettagrid/curriculum/navigation/bucketed_grid_altar.yaml
  configs/env/mettagrid/curriculum/navigation/bucketed_spiral_altar.yaml
  configs/env/mettagrid/curriculum/navigation/grid_spiral_systematic/learning_progress_grid_spiral.yaml
  configs/env/mettagrid/curriculum/navigation/grid_spiral_systematic/learning_progress_nav_grid_spiral.yaml
  configs/env/mettagrid/curriculum/navigation/grid_spiral_systematic/learning_progress_nav_spiral.yaml
  configs/env/mettagrid/curriculum/navigation/grid_spiral_systematic/random_nav_grid_spiral.yaml
  configs/env/mettagrid/curriculum/navigation/learning_progress_nav_grid.yaml
  configs/env/mettagrid/curriculum/navigation/resampling_grid_standard.yaml
  configs/env/mettagrid/navigation/training/grid_base.yaml
  configs/env/mettagrid/navigation/training/grid_multiroom.yaml
  configs/env/mettagrid/navigation/training/spiral_altar_base.yaml
  configs/env/mettagrid/navigation/training/spiral_altar_multiroom.yaml
  configs/env/mettagrid/navigation/training/variants/grid/grid_random.yaml
  configs/env/mettagrid/navigation/training/variants/spiral/spiral_altar_large.yaml
  configs/env/mettagrid/navigation/training/variants/spiral/spiral_altar_loose.yaml
  configs/env/mettagrid/navigation/training/variants/spiral/spiral_altar_tight.yaml
  metta/map/__init__.py
  metta/map/scenes/grid_altars.py
  metta/map/scenes/spiral.py
Due: core, common

normalize to 128
  recipes/run_colortree_bptt_experiments.sh
Due: core

remove buggy maps
  configs/sim/autocurricula.yaml
Due: core

fix
  recipes/run_colortree_bptt_experiments.sh
Due: core

git cleanup
  AGALITE_IMPLEMENTATION_SUMMARY.md
  AGALITE_VARIANTS_SUMMARY.md
  MERGE_RESOLUTION_SUMMARY.md
  agent/src/metta/agent/modules/agalite_fast.py
  agent/src/metta/agent/modules/agalite_layers.py
  agent/src/metta/agent/modules/agalite_optimized.py
  agent/src/metta/agent/pytorch/agalite.py
  agent/src/metta/agent/pytorch/agalite_improved.py
  docs/FULL_CONTEXT_TRANSFORMER_GTRXL.md
  docs/FULL_CONTEXT_WORKING_VERSION.md
  test_agalite_fix.sh
Due: core, agent

formatting fix
  agent/src/metta/agent/pytorch/agent_mapper.py
Due: agent

m
  configs/env/mettagrid/navigation/evals/defaults.yaml
Due: core
