Repository Metta-AI/metta: changes, and which Codecov flags are due for each by the changed paths.
All: core, app_backend, agent, mettagrid, mettagrid_cpp, common

codecov.yml:

# Codecov configuration for Metta-AI
# Documentation: https://docs.codecov.com/docs/codecov-yaml

# Wait for all CI jobs to complete before posting results
codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

# Coverage settings
coverage:
  # Round coverage to 2 decimal places
  precision: 2
  round: down

  # Status checks configuration
  status:
    # Project-wide coverage
    project:
      default:
        target: auto # Compare against base branch
        threshold: 1% # Allow 1% coverage drop
        base: auto
        informational: true # Won't fail PR, just inform

    # Coverage for changed lines only - this is your main gate
    patch:
      default:
        target: 50% # Minimum 50% coverage on new code
        threshold: 0% # No tolerance below 50%
        base: auto
        if_ci_failed: success # Don't fail if CI fails
        if_not_found: success # Don't fail if no coverage data

      # Additional informational patch check
      informational:
        target: 80% # Ideal target
        threshold: 0%
        informational: true # Won't fail, just shows as warning

# Pull request comment configuration
comment:
  layout: "header, diff, flags, components, files"
  behavior: default
  require_changes: false # Post comment even if no coverage change
  require_base: false # Don't require base coverage
  require_head: true # Must have head coverage to post
  hide_project_coverage: false # Show overall project coverage

# Flag configuration for different test suites
flags:
  core:
    paths:
      - "!app_backend/"
      - "!agent/"
      - "!mettagrid/"
      - "!common/"
    carryforward: true

  app_backend:
    paths:
      - app_backend/
    carryforward: true

  agent:
    paths:
      - agent/
    carryforward: true

  mettagrid:
    paths:
      - mettagrid/
    carryforward: true

  mettagrid_cpp:
    paths:
      - "**/*.cpp"
      - "**/*.cc"
      - "**/*.cxx"
      - "**/*.c++"
      - "**/*.h"
      - "**/*.hpp"
      - "**/*.hh"
      - "**/*.hxx"
      - "**/*.h++"
    carryforward: true

  common:
    paths:
      - common/
    carryforward: true

# Ignore certain paths from coverage
ignore:
  - "**/tests/"
  - "**/test_*.py"
  - "**/*_test.py"
  - "**/conftest.py"
  - "setup.py"
  - "**/migrations/"
  - "**/__pycache__/"
  - "**/node_modules/"
  - "**/*.pb.py" # Generated protobuf files
  - "**/*.pyi" # Type stub files
  - "**/fixtures/"
  - "**/mocks/"
  - "**/build/" # C++ build directories
  - "**/cmake-build-*/" # CLion/CMake build directories
  - "**/CMakeFiles/" # CMake generated files
  - "**/*.o" # Object files
  - "**/*.a" # Static libraries
  - "**/*.so" # Shared libraries
  - "**/*.dylib" # macOS dynamic libraries
  - "**/*.dll" # Windows dynamic libraries

# GitHub integration settings
github_checks:
  annotations: true # Show coverage annotations in PR files view

cooling: PolicyX refactor no-op changes (#2441)
  CLAUDE.md
  codebot/tests/codeclip/test_summary.py
  common/tests/wandb/test_log_wandb.py
  docs/tools.md
  docs/wandb/metrics/trainer_memory/README.md
  metta/sweep/protein_metta.py
  metta/sweep/scheduler/optimizing.py
  metta/sweep/scheduler/sequential.py
  tests/setup/test_aws_profile_setup.py
  tests/sweep/test_orchestrator.py
  tests/sweep/test_schedulers.py
Due: core

test simplify
  tests/integration/test_performance_regression.py
  tests/rl/test_checkpoint_manager.py
Due: none

run in the repo root for sure
  metta/setup/components/nodejs.py
Due: core

fix: ensure pnpm install runs from correct directory and add PATH verification
  tests/setup/test_nodejs_component.py
Due: none

wandb take 10
  metta/rl/wandb.py
  tests/rl/test_checkpoint_uri_integration.py
Due: core

wandb simplify
  metta/rl/wandb.py
  tests/rl/test_checkpoint_uri_integration.py
Due: core

logging space
  common/src/metta/common/util/logging.py
Due: common

ruff format
  tests/setup/test_nodejs_component.py
Due: none

wandb simplify
  metta/rl/wandb.py
Due: core

fix: reorder pnpm setup to let pnpm configure PNPM_HOME properly
  metta/setup/components/nodejs.py
Due: core

Add Comprehensive WandB MCP Server with Bulk Dashboard Management (#2428)
  .gitignore
  mcp_servers/wandb_dashboard/CLAUDE_DESKTOP_SETUP.md
  mcp_servers/wandb_dashboard/CURSOR_SETUP.md
  mcp_servers/wandb_dashboard/README.md
  mcp_servers/wandb_dashboard/pyproject.toml
  mcp_servers/wandb_dashboard/wandb_dashboard/__init__.py
  mcp_servers/wandb_dashboard/wandb_dashboard/config.py
  mcp_servers/wandb_dashboard/wandb_dashboard/server.py
  mcp_servers/wandb_dashboard/wandb_dashboard/tools.py
  mcp_servers/wandb_dashboard/wandb_dashboard/wandb_client.py
Due: core

fix retry
  common/src/metta/common/util/retry.py
  common/tests/util/test_retry.py
  devops/skypilot/src/skypilot_run.py
  gitta/src/gitta/__init__.py
  metta/sweep/wandb_utils.py
Due: core, common

once more wandb
  metta/rl/trainer.py
  metta/rl/wandb.py
Due: core

no defensive checks just fail
  metta/rl/wandb.py
Due: core

relax the tests for custom installs like mine. pnpm just has to be available somehow
  metta/setup/components/nodejs.py
  tests/setup/test_nodejs_component.py
Due: core

mapgen utils add ascii map rotation and mirroring with test
  mettagrid/src/metta/mettagrid/mapgen/utils/ascii_transform.py
  mettagrid/tests/mapgen/utils/test_ascii_transform.py
Due: mettagrid

logging fix
  common/src/metta/common/util/logging.py
Due: common

feat: add intelligent uv store caching to speed up CI
  .github/actions/setup-uv/action.yml
Due: core

update terrian from numpy
  experiments/recipes/navigation_sequence.py
  metta/map/terrain_from_numpy.py
  mettagrid/src/metta/mettagrid/config/envs.py
Due: core, mettagrid

python change to trigger ci
  tests/setup/test_base.py
Due: none

stretching addition
  mettagrid/src/metta/mettagrid/mapgen/utils/ascii_transform.py
  mettagrid/tests/mapgen/utils/test_ascii_transform.py
Due: mettagrid

fix: ensure complete cache validation for venv + uv store
  .github/actions/setup-uv/action.yml
Due: core

add mettagrid child repo
  devops/git/push_child_repo.py
Due: core

change to trigger ci
  tests/setup/test_base.py
Due: none

prevent silently failing on observatory auth (#2406)
  metta/tools/train.py
Due: core

remove mettascope mode from show_map
  mettagrid/src/metta/mettagrid/mapgen/tools/gen.py
  mettagrid/src/metta/mettagrid/mapgen/utils/show.py
  mettagrid/tests/test_forbidden_imports.py
Due: mettagrid

conditional non-mettagrid import show_map
  metta/sim/map_preview.py
  mettagrid/src/metta/mettagrid/mapgen/utils/show.py
Due: core, mettagrid

test mettagrid for non-mettagrid metta imports
  mettagrid/tests/test_forbidden_imports.py
Due: none

fix: improve cache hit detection to work with restore-keys
  .github/actions/setup-uv/action.yml
Due: core

navigation evals with transformations
  experiments/evals/navigation_transform.py
  mettagrid/src/metta/mettagrid/mapgen/utils/ascii_transform.py
Due: core, mettagrid

Remove the remaining non-mettagrid imports (#2422)
  metta/sim/map_preview.py
  mettagrid/src/metta/mettagrid/mapgen/tools/gen.py
  mettagrid/src/metta/mettagrid/mapgen/utils/show.py
  mettagrid/tests/test_forbidden_imports.py
Due: core, mettagrid

refactor: simplify nodejs component to rely on pnpm setup
  metta/setup/components/nodejs.py
  tests/setup/test_nodejs_component.py
Due: core

use emscripten action instead of apt get
  .github/workflows/build-mettascope2.yml
Due: core

debug: add debugging output to investigate cached venv issues
  .github/actions/setup-uv/action.yml
Due: core

fix deps
  mettascope2/mettascope.nimble
Due: core

fix: only cache uv store, not venv, to avoid broken Python references
  .github/actions/setup-uv/action.yml
Due: core
