Repository Metta-AI/metta: changes, and which Codecov flags are due for each by the changed paths.
All: core, app_backend, agent, mettagrid, mettagrid_cpp, common

fix offset
  mettascope2/src/mettascope/worldmap.nim
Due: core

didn't need that useless code
  tests/setup/test_base.py
Due: none

reorg
  devops/skypilot/__init__.py
  devops/skypilot/config/skypilot_run.py
  devops/skypilot/src/__init__.py
  devops/skypilot/src/skypilot_latency.py
  devops/skypilot/tests/test_skypilot_latency.py
Due: core

Cleanup in context enviornments (#2433)
  experiments/evals/icl_resource_chain.py
  experiments/recipes/icl_resource_chain.py
Due: core

Restore replay.ts from main and update env_config references to mg_config
  mettascope/src/replay.ts
Due: core

fix name
  mettagrid/src/metta/mettagrid/action_handler.hpp
  mettagrid/src/metta/mettagrid/actions/attack.hpp
  mettagrid/src/metta/mettagrid/actions/put_recipe_items.hpp
  mettagrid/src/metta/mettagrid/renderer/hermes.cpp
Due: mettagrid, mettagrid_cpp

hotfix: fix mettagrid build (#2436)
  mettagrid/src/metta/mettagrid/action_handler.hpp
  mettagrid/src/metta/mettagrid/actions/attack.hpp
  mettagrid/src/metta/mettagrid/actions/put_recipe_items.hpp
  mettagrid/src/metta/mettagrid/renderer/hermes.cpp
Due: mettagrid, mettagrid_cpp

fix resource name rechange
  mettagrid/src/metta/mettagrid/renderer/hermes.cpp
Due: mettagrid, mettagrid_cpp

remove some stuff we already handle in other code and remove useless redundant tests
  metta/setup/components/skypilot.py
  metta/setup/components/system.py
  tests/setup/test_aws_profile_setup.py
  tests/setup/test_noninteractive_install.py
Due: core

remove stupid test
  tests/setup/test_noninteractive_install.py
Due: none

renaming
  devops/__init__.py
  devops/skypilot/__init__.py
  devops/skypilot/config/nccl_tests.py
  devops/skypilot/config/skypilot_run.py
  devops/skypilot/src/__init__.py
  devops/skypilot/src/job_latency.py
  devops/skypilot/tests/test_job_latency.py
Due: core

mv cost_monitor
  devops/skypilot/__init__.py
  devops/skypilot/config/configure_environment.py
  devops/skypilot/config/sandbox.yaml
  devops/skypilot/config/skypilot_logging.py
  devops/skypilot/config/skypilot_run.py
  devops/skypilot/src/cost_monitor.py
  devops/skypilot/tests/test_job_latency.py
Due: core

add label
  experiments/recipes/icl_resource_chain.py
Due: core

update ocnfigs
  experiments/evals/navigation.py
  experiments/evals/navigation_sequence.py
  experiments/evals/systematic_exploration_memory.py
  mettagrid/configs/maps/navigation_exploration_memory/easy.map
  mettagrid/configs/maps/navigation_exploration_memory/hard.map
  mettagrid/configs/maps/navigation_exploration_memory/medium.map
  mettagrid/configs/maps/navigation_exploration_memory_sequence/access_cross.map
  mettagrid/configs/maps/navigation_exploration_memory_sequence/boxout.map
Due: core, mettagrid

post-dehydration: Hyperparameter Scheduler Redux (#2415)
  metta/rl/hyperparameter_scheduler.py
  metta/rl/hyperparameter_scheduler_config.py
  metta/rl/trainer.py
Due: core

Add non-interactive support for metta install and configure commands (#2426)
  .openhands/setup.sh
  devops/docker/Dockerfile.policy_evaluator
  devops/skypilot/config/lifecycle/create_job_secrets.py
  devops/skypilot/config/lifecycle/setup.sh
  devops/tools/format_script_tools.sh
  install.sh
  metta/setup/components/aws.py
  metta/setup/components/base.py
  metta/setup/components/codebot.py
  metta/setup/components/core.py
  metta/setup/components/datadog_agent.py
  metta/setup/components/experiments.py
  metta/setup/components/filter_repo.py
  metta/setup/components/githooks.py
  metta/setup/components/nodejs.py
  metta/setup/components/notebookwidgets.py
  metta/setup/components/observatory_key.py
  metta/setup/components/skypilot.py
  metta/setup/components/system.py
  metta/setup/components/tailscale.py
  metta/setup/components/wandb.py
  metta/setup/metta_cli.py
  metta/setup/utils.py
  tests/setup/test_aws_profile_setup.py
  tests/setup/test_base.py
  tests/setup/test_noninteractive_install.py
Due: core

fix tests
  tests/tools/test_new_policy_system.py
Due: none

inventory -> resource
  mettagrid/src/metta/mettagrid/observation_encoder.hpp
Due: mettagrid, mettagrid_cpp

fix: nodejs component installation fails on fresh laptops with PATH configuration
  metta/setup/components/nodejs.py
  tests/setup/test_nodejs_component.py
Due: core

Apply suggestion from @graphite-app[bot]
  metta/setup/components/nodejs.py
Due: core

Rename `env` to `mg` in a lot of different places (#2430)
  agent/tests/test_metta_agent_integration.py
  experiments/marimo/01-hello-world-marimo.py
  experiments/notebooks/01-hello-world.ipynb
  experiments/notebooks/01-hello-world.py
  experiments/recipes/arena.py
  experiments/recipes/arena_basic_easy_shaped.py
  experiments/recipes/icl_resource_chain.py
  experiments/recipes/navigation.py
  experiments/recipes/scratchpad/ci.py
  experiments/recipes/scratchpad/example.py
  metta/cogworks/curriculum/__init__.py
  metta/cogworks/curriculum/curriculum.py
  metta/cogworks/curriculum/curriculum_env.py
  metta/cogworks/curriculum/task.py
  metta/cogworks/curriculum/task_generator.py
  mettagrid/demo.py
  mettagrid/demos/demo_train_gym.py
  mettagrid/demos/demo_train_pettingzoo.py
  mettagrid/src/metta/mettagrid/core.py
  mettagrid/src/metta/mettagrid/gym_env.py
  mettagrid/src/metta/mettagrid/mapgen/tools/gen.py
  mettagrid/src/metta/mettagrid/mettagrid_env.py
  mettagrid/src/metta/mettagrid/pettingzoo_env.py
  mettagrid/src/metta/mettagrid/puffer_base.py
  mettagrid/src/metta/mettagrid/replay_writer.py
  mettagrid/tests/test_env_config_serialization.py
  mettagrid/tests/test_env_map.py
  mettascope/src/replay.ts
  mettascope/tests/test_replay_format_validator.py
  mettascope2/src/mettascope.nim
  mettascope2/src/mettascope/common.nim
  mettascope2/src/mettascope/replays.nim
  tests/cogworks/curriculum/test_curriculum_env.py
  tests/cogworks/curriculum/test_task.py
  tests/tools/test_renderer_job.py
Due: core, mettagrid

simplify the heartbeat system
  common/src/metta/common/util/heartbeat.py
  common/src/metta/common/wandb/docs/collect_metrics.py
  common/src/metta/common/wandb/docs/generate_docs.py
  common/src/metta/common/wandb/docs/metric_descriptions.yaml
  common/src/metta/common/wandb/docs/wandb_metrics.csv
  common/src/metta/common/wandb/log_wandb.py
  common/src/metta/common/wandb/utils.py
  common/src/metta/common/wandb/wandb_context.py
  devops/skypilot/__init__.py
  devops/skypilot/config/skypilot_run.yaml
  devops/skypilot/src/configure_environment.py
  devops/skypilot/src/configure_jobs_controller.py
  devops/skypilot/src/connect.py
  devops/skypilot/src/launch.py
  devops/skypilot/src/nccl_tests.py
  devops/skypilot/src/runtime_monitors.py
  devops/skypilot/src/sandbox.py
  devops/skypilot/src/skypilot_run.py
  devops/skypilot/src/utils.py
Due: core, common

ruff format
  metta/setup/components/nodejs.py
Due: core

better tests
  tests/setup/test_nodejs_component.py
Due: none

sp!
  agent/src/metta/agent/lib/lstm.py
Due: agent

imports to top
  metta/rl/wandb.py
  tests/rl/test_checkpoint_uri_integration.py
Due: core

imports to top
  codebot/tests/codeclip/test_summary.py
  common/tests/wandb/test_log_wandb.py
  tests/setup/test_aws_profile_setup.py
  tests/setup/test_noninteractive_install.py
  tests/sweep/test_orchestrator.py
  tests/sweep/test_schedulers.py
Due: none

remove old
  tests/tools/test_renderer_job.py
Due: none

cleaned up
  tests/rl/test_checkpoint_uri_integration.py
Due: none

Update metta/setup/components/nodejs.py
  metta/setup/components/nodejs.py
Due: core

wandb fixes
  metta/cogworks/curriculum/task_generator.py
  metta/rl/wandb.py
  tests/rl/test_checkpoint_uri_integration.py
Due: core

wandb fixes
  metta/rl/wandb.py
  tests/rl/test_checkpoint_uri_integration.py
Due: core

test that pnpm install runs
  tests/setup/test_nodejs_component.py
Due: none

migrate
  common/src/metta/common/wandb/utils.py
  common/tests/wandb/test_log_wandb.py
  common/tests/wandb/test_wandb_context.py
  devops/skypilot/src/cost_monitor.py
  devops/skypilot/src/launch.py
  devops/skypilot/src/runtime_monitors.py
  devops/skypilot/src/skypilot_run.py
Due: core, common

no-op changes
  CLAUDE.md
  codebot/tests/codeclip/test_summary.py
  common/tests/wandb/test_log_wandb.py
  docs/tools.md
  docs/wandb/metrics/trainer_memory/README.md
  metta/sweep/protein_metta.py
  metta/sweep/scheduler/optimizing.py
  metta/sweep/scheduler/sequential.py
  tests/setup/test_aws_profile_setup.py
  tests/setup/test_noninteractive_install.py
  tests/sweep/test_orchestrator.py
  tests/sweep/test_schedulers.py
Due: core

undo possible breaking
  tests/setup/test_noninteractive_install.py
Due: none

Path conditions:
  core: any file but: app_backend/, agent/, mettagrid/, common/, **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  app_backend: any of: app_backend/, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  agent: any of: agent/, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  mettagrid: any of: mettagrid/, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  mettagrid_cpp: any of: **/*.cpp, **/*.cc, **/*.cxx, **/*.c++, **/*.h, **/*.hpp, **/*.hh, **/*.hxx, **/*.h++, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  common: any of: common/, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
