Repository Metta-AI/metta: changes, and which Codecov flags are due for each by the changed paths.
All: core, app_backend, agent, mettagrid, mettagrid_cpp, common

codecov.yml:

# Codecov configuration for Metta-AI
# Documentation: https://docs.codecov.com/docs/codecov-yaml

# Wait for all CI jobs to complete before posting results
codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

# Coverage settings
coverage:
  # Round coverage to 2 decimal places
  precision: 2
  round: down

  # Status checks configuration
  status:
    # Project-wide coverage
    project:
      default:
        target: auto # Compare against base branch
        threshold: 1% # Allow 1% coverage drop
        base: auto
        informational: true # Won't fail PR, just inform

    # Coverage for changed lines only - this is your main gate
    patch:
      default:
        target: 50% # Minimum 50% coverage on new code
        threshold: 0% # No tolerance below 50%
        base: auto
        if_ci_failed: success # Don't fail if CI fails
        if_not_found: success # Don't fail if no coverage data

      # Additional informational patch check
      informational:
        target: 80% # Ideal target
        threshold: 0%
        informational: true # Won't fail, just shows as warning

# Pull request comment configuration
comment:
  layout: "header, diff, flags, components, files"
  behavior: default
  require_changes: false # Post comment even if no coverage change
  require_base: false # Don't require base coverage
  require_head: true # Must have head coverage to post
  hide_project_coverage: false # Show overall project coverage

# Flag configuration for different test suites
flags:
  core:
    paths:
      - "!app_backend/"
      - "!agent/"
      - "!mettagrid/"
      - "!common/"
    carryforward: true

  app_backend:
    paths:
      - app_backend/
    carryforward: true

  agent:
    paths:
      - agent/
    carryforward: true

  mettagrid:
    paths:
      - mettagrid/
    carryforward: true

  mettagrid_cpp:
    paths:
      - "**/*.cpp"
      - "**/*.cc"
      - "**/*.cxx"
      - "**/*.c++"
      - "**/*.h"
      - "**/*.hpp"
      - "**/*.hh"
      - "**/*.hxx"
      - "**/*.h++"
    carryforward: true

  common:
    paths:
      - common/
    carryforward: true

# Ignore certain paths from coverage
ignore:
  - "**/tests/"
  - "**/test_*.py"
  - "**/*_test.py"
  - "**/conftest.py"
  - "setup.py"
  - "**/migrations/"
  - "**/__pycache__/"
  - "**/node_modules/"
  - "**/*.pb.py" # Generated protobuf files
  - "**/*.pyi" # Type stub files
  - "**/fixtures/"
  - "**/mocks/"
  - "**/build/" # C++ build directories
  - "**/cmake-build-*/" # CLion/CMake build directories
  - "**/CMakeFiles/" # CMake generated files
  - "**/*.o" # Object files
  - "**/*.a" # Static libraries
  - "**/*.so" # Shared libraries
  - "**/*.dylib" # macOS dynamic libraries
  - "**/*.dll" # Windows dynamic libraries

# GitHub integration settings
github_checks:
  annotations: true # Show coverage annotations in PR files view

more debugging
  .github/actions/launch-skypilot-job/action.yml
Due: core

even more logging
  common/src/metta/common/util/stats_client_cfg.py
Due: common

logging
  common/src/metta/common/util/stats_client_cfg.py
Due: common

ruff
  metta/rl/trainer.py
  metta/rl/util/evaluation.py
  metta/rl/wandb.py
  run.py
Due: core

fix?
  common/src/metta/common/util/stats_client_cfg.py
  devops/skypilot/config/sandbox.yaml
  devops/skypilot/config/sk_train.yaml
  devops/skypilot/create_job_secrets.py
  devops/skypilot/utils.py
Due: core, common

clean up logging
  .github/actions/launch-skypilot-job/action.yml
Due: core

fix: early exit from githook when mode=None (#1810)
  devops/git-hooks/pre-commit
Due: core

Fix skypilot in CI after file_mount changes (#1812)
  devops/skypilot/config/sandbox.yaml
  devops/skypilot/config/sk_train.yaml
  devops/skypilot/create_job_secrets.py
  devops/skypilot/utils.py
Due: core

Update eval worker requests (#1809)
  app_backend/src/metta/app_backend/container_managers/k8s.py
  devops/charts/orchestrator/values.yaml
Due: core, app_backend

Fix ./tools/request_eval.py --dry-run by not creating async tasks until we know we will want them
  tools/request_eval.py
Due: core

Fix ./tools/request_eval.py --dry-run (#1813)
  tools/request_eval.py
Due: core

Symlink in missing react files to experiments/notebooks/utils/heatmap_widget/src
  experiments/notebooks/utils/heatmap_widget/src/constants.ts
  experiments/notebooks/utils/heatmap_widget/src/repo.ts
Due: core

Symlink in missing files to experiments/ copy of react widgets (#1814)
  experiments/notebooks/utils/heatmap_widget/src/constants.ts
  experiments/notebooks/utils/heatmap_widget/src/repo.ts
Due: core

Show requesting user in eval task table
  app_backend/src/metta/app_backend/metta_repo.py
  app_backend/src/metta/app_backend/routes/eval_task_routes.py
  observatory/src/EvalTasks.tsx
Due: core, app_backend

lint
  observatory/src/EvalTasks.tsx
Due: core

fix types
  observatory/src/EvalTasks.tsx
  observatory/src/repo.ts
Due: core

fix the broken Dockerfile for real this time
  devops/docker/Dockerfile
Due: core

fix the broken Dockerfile for real this time (#1816)
  devops/docker/Dockerfile
Due: core

More lasers in tag envs (#1794)
  configs/env/mettagrid/arena/tag.yaml
  configs/env/mettagrid/curriculum/bbc/tasks/tag.yaml
  configs/user/daveey.yaml
Due: core

fix configs
  configs/sim/operantconditioning.yaml
Due: core

Update eval worker requests
  app_backend/src/metta/app_backend/container_managers/k8s.py
Due: app_backend

properly terminate early
  mettagrid/src/metta/mettagrid/mettagrid_env.py
  mettagrid/src/metta/mettagrid/room/terrain_from_numpy.py
Due: mettagrid

fix bugs
  mettagrid/src/metta/mettagrid/mettagrid_env.py
  mettagrid/src/metta/mettagrid/room/terrain_from_numpy.py
Due: mettagrid

Update eval worker requests (#1817)
  app_backend/src/metta/app_backend/container_managers/k8s.py
Due: app_backend

end of episode boost
  configs/env/mettagrid/navigation/training/terrain_from_numpy_defaults.yaml
Due: core

remove notebook changes
  .gitignore
  .vscode/settings.json
  experiments/README.md
  experiments/__init__.py
  experiments/cli_formatter.py
  experiments/experiment.py
  experiments/recipes/arena_experiment.py
  experiments/runner.py
  experiments/skypilot_service.py
  experiments/training_job.py
  experiments/wandb_service.py
  tests/experiments/__init__.py
  tests/experiments/test_cli_formatter.py
  tests/experiments/test_experiment_workflow.py
  tests/experiments/test_training_job_config.py
  uv.lock
Due: core

cp
  experiments/README.md
  experiments/experiment.py
  experiments/pyproject.toml
  experiments/runner.py
  experiments/skypilot_service.py
  tests/experiments/test_experiment_workflow.py
  uv.lock
Due: core

update sim file
  configs/sim/operantconditioning.yaml
Due: core

Remove dist_cfg.yaml file-based coordination for distributed sweeps
  common/src/metta/common/util/lock.py
  metta/sweep/sweep_lifecycle.py
  metta/sweep/wandb_utils.py
  tools/sweep_rollout.py
Due: core, common

Add Docker sandbox environment for distributed sweep testing
  configs/sweep_job.yaml
  devops/docker_launch.py
  devops/setup_docker_sandbox.sh
  metta/sweep/docker/Dockerfile
  metta/sweep/docker/Makefile
  metta/sweep/docker/README.md
  metta/sweep/docker/configs/test-sweep-advanced.yaml
  metta/sweep/docker/configs/test-sweep-basic.yaml
  metta/sweep/docker/configs/test-sweep-intermediate.yaml
  metta/sweep/docker/docker-compose.yml
  metta/sweep/docker/scripts/dummy-api-server.py
  metta/sweep/docker/scripts/run-single-test.sh
  metta/sweep/docker/scripts/run-sweep-tests.sh
  metta/sweep/docker/scripts/start-test-env.sh
Due: core

get rid of choice from multiagent
  configs/env/mettagrid/multiagent/experiments/boxshare.yaml
  configs/env/mettagrid/multiagent/experiments/boxy.yaml
  configs/env/mettagrid/multiagent/experiments/defaults_bucketed.yaml
  configs/env/mettagrid/multiagent/experiments/defaults_cfg.yaml
  configs/env/mettagrid/multiagent/experiments/manhatten.yaml
  configs/env/mettagrid/multiagent/experiments/narrow_world.yaml
  configs/env/mettagrid/multiagent/experiments/terrain_from_numpy.yaml
  configs/env/mettagrid/multiagent/experiments/varied_terrain.yaml
Due: core

bash
  recipes/boxes.sh
Due: core
