Repository Metta-AI/metta: changes, and which Codecov flags are due for each by the changed paths.
All: core, app_backend, agent, mettagrid, mettagrid_cpp, common

codecov.yml:

# Codecov configuration for Metta-AI
# Documentation: https://docs.codecov.com/docs/codecov-yaml

# Wait for all CI jobs to complete before posting results
codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

# Coverage settings
coverage:
  # Round coverage to 2 decimal places
  precision: 2
  round: down

  # Status checks configuration
  status:
    # Project-wide coverage
    project:
      default:
        target: auto # Compare against base branch
        threshold: 1% # Allow 1% coverage drop
        base: auto
        informational: true # Won't fail PR, just inform

    # Coverage for changed lines only - this is your main gate
    patch:
      default:
        target: 50% # Minimum 50% coverage on new code
        threshold: 0% # No tolerance below 50%
        base: auto
        if_ci_failed: success # Don't fail if CI fails
        if_not_found: success # Don't fail if no coverage data

      # Additional informational patch check
      informational:
        target: 80% # Ideal target
        threshold: 0%
        informational: true # Won't fail, just shows as warning

# Pull request comment configuration
comment:
  layout: "header, diff, flags, components, files"
  behavior: default
  require_changes: false # Post comment even if no coverage change
  require_base: false # Don't require base coverage
  require_head: true # Must have head coverage to post
  hide_project_coverage: false # Show overall project coverage

# Flag configuration for different test suites
flags:
  core:
    paths:
      - "!app_backend/"
      - "!agent/"
      - "!mettagrid/"
      - "!common/"
    carryforward: true

  app_backend:
    paths:
      - app_backend/
    carryforward: true

  agent:
    paths:
      - agent/
    carryforward: true

  mettagrid:
    paths:
      - mettagrid/
    carryforward: true

  mettagrid_cpp:
    paths:
      - "**/*.cpp"
      - "**/*.cc"
      - "**/*.cxx"
      - "**/*.c++"
      - "**/*.h"
      - "**/*.hpp"
      - "**/*.hh"
      - "**/*.hxx"
      - "**/*.h++"
    carryforward: true

  common:
    paths:
      - common/
    carryforward: true

# Ignore certain paths from coverage
ignore:
  - "**/tests/"
  - "**/test_*.py"
  - "**/*_test.py"
  - "**/conftest.py"
  - "setup.py"
  - "**/migrations/"
  - "**/__pycache__/"
  - "**/node_modules/"
  - "**/*.pb.py" # Generated protobuf files
  - "**/*.pyi" # Type stub files
  - "**/fixtures/"
  - "**/mocks/"
  - "**/build/" # C++ build directories
  - "**/cmake-build-*/" # CLion/CMake build directories
  - "**/CMakeFiles/" # CMake generated files
  - "**/*.o" # Object files
  - "**/*.a" # Static libraries
  - "**/*.so" # Shared libraries
  - "**/*.dylib" # macOS dynamic libraries
  - "**/*.dll" # Windows dynamic libraries

# GitHub integration settings
github_checks:
  annotations: true # Show coverage annotations in PR files view

smudges
  mettascope/src/glyphtable.ts
  mettascope/tools/parse_json_z.py
Due: core

add sprite font tool
  mettascope/data/fonts/bitty.json
  mettascope/data/fonts/bitty.png
  mettascope/data/fonts/font.json
  mettascope/data/fonts/font.png
  mettascope/src/main.ts
  mettascope/tools/sprint_font/character tables/emoji.csv
  mettascope/tools/sprint_font/character tables/extended_ascii.csv
  mettascope/tools/sprint_font/character tables/unicode_symbols.csv
  mettascope/tools/sprint_font/sprite_font.html
Due: core

add debug step
  .github/workflows/test-mettascope.yml
Due: core

mv cleanup to uv action
  .github/actions/setup-uv/action.yml
Due: core

set shell
  .github/actions/setup-uv/action.yml
Due: core

add comment
  .github/actions/setup-uv/action.yml
Due: core

cache cleanup
  .github/actions/setup-uv/action.yml
Due: core

add df
  .github/actions/setup-uv/action.yml
Due: core

update font
  mettascope/data/fonts/font.json
  mettascope/data/fonts/font.png
  mettascope/tools/sprint_font/character tables/emoji.csv
  mettascope/tools/sprint_font/character tables/extended_ascii.csv
  mettascope/tools/sprint_font/character tables/unicode_symbols.csv
  mettascope/tools/sprint_font/sprite_font.html
Due: core

fix merge
  mettascope/src/main.ts
Due: core

update includes
  mettascope/src/main.ts
Due: core

lint
  mettascope/data/fonts/font.json
  mettascope/src/glyphtable.ts
  mettascope/src/main.ts
Due: core

lint
  mettascope/src/glyphtable.ts
Due: core

reverts
  .github/actions/setup-uv/action.yml
  .github/workflows/test-mettascope.yml
Due: core

Fix actions utility to use max_action_args property
  mettagrid/src/metta/mettagrid/util/actions.py
Due: mettagrid

start of heatmap work
  mettascope/src/common.ts
  mettascope/src/heatmap.ts
  mettascope/src/main.ts
Due: core

update cylclical
  configs/env/mettagrid/curriculum/cyclical_learning_progress_full.yaml
  configs/env/mettagrid/curriculum/cyclical_random_full.yaml
  tools/request_eval_pattern.py
Due: core

fix all the bugs from API changes. it works again
  app_backend/src/metta/app_backend/clients/scorecard_client.py
  experiments/notebooks/heatmap_widget_example.ipynb
  experiments/notebooks/utils/heatmap_widget/heatmap_widget/util.py
Due: core, app_backend

oops removed crap
  experiments/notebooks/heatmap_widget_example.ipynb
Due: core

Add distributed object broadcasting utility and update policy loading logic
  agent/src/metta/agent/util/distribution_utils.py
  metta/rl/trainer.py
  metta/rl/util/policy_management.py
  tools/train.py
Due: core, agent

attempt to stop prettier
  .vscode/settings.json
  metta.code-workspace
  mettascope/data/fonts/font.json
  mettascope/index.html
Due: core

trace panel cache fixes
  mettascope/src/main.ts
  mettascope/src/traces.ts
Due: core

fix comments
  mettascope/src/traces.ts
Due: core

Some metta_client cleanup (#1830)
  app_backend/src/metta/app_backend/clients/__init__.py
  app_backend/src/metta/app_backend/clients/base_client.py
  app_backend/src/metta/app_backend/clients/eval_task_client.py
  app_backend/src/metta/app_backend/clients/scorecard_client.py
  app_backend/src/metta/app_backend/eval_task_orchestrator.py
  app_backend/src/metta/app_backend/eval_task_worker.py
  app_backend/src/metta/app_backend/routes/heatmap_routes.py
  app_backend/src/metta/app_backend/stats_client.py
  app_backend/tests/test_eval_task_routes.py
  common/src/metta/common/client/__init__.py
  common/src/metta/common/client/metta_client.py
  experiments/notebooks/heatmap_widget_example.ipynb
  experiments/notebooks/utils/heatmap_widget/heatmap_widget/util.py
Due: core, app_backend, common

track max idle time
  mettagrid/src/metta/mettagrid/action_handler.hpp
  mettagrid/src/metta/mettagrid/actions/rotate.hpp
  mettagrid/src/metta/mettagrid/objects/agent.hpp
  mettagrid/src/metta/mettagrid/stats_tracker.hpp
Due: mettagrid, mettagrid_cpp

fix prettierignore
  .prettierignore
  mettascope/.prettierignore
  mettascope/index.html
Due: core

revert
  metta.code-workspace
Due: core

Move stats_client into app_backend.clients.stats_client
  app_backend/src/metta/app_backend/clients/stats_client.py
  app_backend/tests/conftest.py
  app_backend/tests/test_episode_filtering.py
  app_backend/tests/test_episode_tag_routes.py
  app_backend/tests/test_eval_task_routes.py
  app_backend/tests/test_heatmap_routes.py
  app_backend/tests/test_stats_server.py
  app_backend/tests/test_training_runs_routes.py
  common/src/metta/common/util/stats_client_cfg.py
  metta/eval/eval_service.py
  metta/rl/trainer.py
  metta/setup/shell.py
  metta/sim/simulation.py
  metta/sim/simulation_suite.py
  metta/sim/utils.py
  tools/sim.py
  tools/train.py
Due: core, app_backend, common

Lean even more on pydantic +fastapi uuid handling
  app_backend/src/metta/app_backend/clients/stats_client.py
  app_backend/src/metta/app_backend/routes/stats_routes.py
  metta/sim/simulation.py
Due: core, app_backend

fix test
  app_backend/tests/generate_test_data.py
Due: app_backend

Make StatsClient work more like our other beautiful clients to stats-server
  app_backend/src/metta/app_backend/clients/base_client.py
  app_backend/src/metta/app_backend/server.py
  app_backend/src/metta/app_backend/stats_client.py
  common/src/metta/common/util/stats_client_cfg.py
Due: app_backend, common

lean on pydantic automatic handling of uuids
  app_backend/src/metta/app_backend/clients/stats_client.py
  app_backend/src/metta/app_backend/routes/stats_routes.py
Due: app_backend

fix circular import
  app_backend/src/metta/app_backend/clients/base_client.py
Due: app_backend

reverts
  mettascope/src/common.ts
Due: core

Update tests and lean even more on fastapi+pydantic uuid parsing
  app_backend/src/metta/app_backend/clients/stats_client.py
  app_backend/src/metta/app_backend/routes/stats_routes.py
  app_backend/tests/client_adapter.py
  app_backend/tests/conftest.py
  app_backend/tests/test_heatmap_routes.py
  app_backend/tests/test_stats_server.py
Due: app_backend

flattening metta/
  docs/api.md
  metta/__init__.py
  metta/batch_utils.py
  metta/distributed.py
  metta/interface/agent.py
  metta/monitoring.py
  metta/rich_progress.py
  metta/rl/advantage.py
  metta/rl/checkpoint_manager.py
  metta/rl/evaluate.py
  metta/rl/evaluation.py
  metta/rl/losses.py
  metta/rl/optimization.py
  metta/rl/policy_management.py
  metta/rl/rollout.py
  metta/rl/train.py
  metta/rl/trainer.py
  metta/rl/training_loop.py
  metta/rl/util/__init__.py
  metta/rl/util/losses.py
  metta/rl/util/rollout.py
  metta/stats.py
  run.py
  tests/rl/test_metrics_formatting.py
  tests/rl/test_mps.py
  tools/train.py
Due: core

reverts
  mettascope/src/main.ts
Due: core

name clarification
  metta/rl/losses.py
  metta/rl/ppo.py
Due: core

name clarification
  metta/rl/ppo.py
Due: core
