Repository Metta-AI/metta: changes, and which Codecov flags are due for each by the changed paths.
All: core, app_backend, agent, mettagrid, mettagrid_cpp, common

fix space
  mettascope/src/demomode.ts
Due: core

remove lines
  mettascope/src/main.ts
Due: core

remove stuff
  mettascope/src/worldmap.ts
Due: core

fix var/let
  mettascope/src/worldmap.ts
Due: core

Fix resources not showing up in thought bubbles. (#1702)
  configs/user/me.yaml
  mettascope/data/atlas/actions/get_items.png
  mettascope/data/atlas/actions/icons/get_items.png
  mettascope/data/atlas/actions/icons/put_items.png
  mettascope/data/atlas/actions/put_items.png
  mettascope/src/worldmap.ts
Due: core

CI checks use uv for ruff commands to respect settings in pyproject.toml
  .github/workflows/checks.yml
Due: core

don't build 4x
  .github/scripts/check_mettagrid_build.py
  .github/workflows/checks.yml
Due: core

fix linting errors
  experiments/notebooks/heatmap_widget_example.ipynb
  experiments/notebooks/utils/heatmap_widget/heatmap_widget/__init__.py
Due: core

boxes dropping env logic and visualization working
  configs/env/mettagrid/autocurriucla/defaults.yaml
  mettagrid/src/metta/mettagrid/action_handler.hpp
  mettagrid/src/metta/mettagrid/actions/get_output.hpp
  mettagrid/src/metta/mettagrid/actions/put_recipe_items.hpp
  mettagrid/src/metta/mettagrid/grid.hpp
  mettagrid/src/metta/mettagrid/mettagrid_c.cpp
  mettagrid/src/metta/mettagrid/mettagrid_c.hpp
  mettagrid/src/metta/mettagrid/objects/box.hpp
  mettascope/src/actions.ts
Due: core, mettagrid, mettagrid_cpp

fix cdists for bucketed
  configs/env/mettagrid/curriculum/bbc/tasks/altar.yaml
  configs/env/mettagrid/curriculum/bbc/tasks/armor.yaml
  configs/env/mettagrid/curriculum/bbc/tasks/basic.yaml
  configs/env/mettagrid/curriculum/bbc/tasks/combat.yaml
  configs/env/mettagrid/curriculum/bbc/tasks/laser.yaml
  configs/env/mettagrid/curriculum/bbc/tasks/tag.yaml
  configs/env/mettagrid/curriculum/navigation/bucketed.yaml
  configs/env/mettagrid/curriculum/objects/all_objects.yaml
  configs/env/mettagrid/curriculum/resources.yaml
  mettagrid/src/metta/mettagrid/curriculum/bucketed.py
  mettagrid/src/metta/mettagrid/curriculum/sampling.py
  mettagrid/tests/test_curriculum.py
Due: core, mettagrid

update playwright
  mettascope/Dockerfile
  mettascope/package.json
  pnpm-lock.yaml
Due: core

Support pnpm in metta.setup (#1682)
  gridworks/package.json
  library/package.json
  metta/setup/components/base.py
  metta/setup/components/mettascope.py
  metta/setup/components/observatory_fe.py
  metta/setup/components/pnpm.py
  metta/setup/config.py
  metta/setup/metta_cli.py
  metta/setup/registry.py
  mettascope/package.json
  pnpm-lock.yaml
Due: core

fix
  mettagrid/src/metta/mettagrid/curriculum/bucketed.py
Due: mettagrid

update playwright
  pnpm-lock.yaml
Due: core

latent linear
  configs/agent/latent_linear.yaml
Due: core

Fix
  experiments/notebooks/utils/metrics.py
  experiments/notebooks/utils/monitoring.py
  experiments/notebooks/utils/replays.py
  experiments/notebooks/utils/training.py
  experiments/pyproject.toml
  pyproject.toml
Due: core

fix
  mettagrid/src/metta/mettagrid/curriculum/sampling.py
Due: mettagrid

forgot to save file
  .github/workflows/checks.yml
Due: core

add print statement
  mettagrid/src/metta/mettagrid/curriculum/bucketed.py
Due: mettagrid

match versions
  mettascope/package.json
  pnpm-lock.yaml
Due: core

print statments
  mettagrid/src/metta/mettagrid/curriculum/sampling.py
Due: mettagrid

check for range
  mettagrid/src/metta/mettagrid/curriculum/sampling.py
Due: mettagrid

remove logs
  mettagrid/src/metta/mettagrid/curriculum/bucketed.py
Due: mettagrid

correct docker build context
  .github/workflows/build-metta-fe-docker.yml
Due: core

fix image test
  tests/devops/test_docker_image_builds.py
Due: none

minimal turborepo; build observatory with turborepo
  .dockerignore
  .gitignore
  metta/setup/components/mettascope.py
  metta/setup/components/nodejs.py
  metta/setup/config.py
  observatory/Dockerfile
  package.json
  pnpm-lock.yaml
  turbo.jsonc
Due: core

note on docker context
  observatory/Dockerfile
Due: core

split smoke tests
  .github/workflows/checks.yml
Due: core

Fix ruff ignoring notebook files (#1618)
  .github/workflows/checks.yml
  experiments/notebooks/utils/metrics.py
  experiments/notebooks/utils/monitoring.py
  experiments/notebooks/utils/replays.py
  experiments/notebooks/utils/training.py
  experiments/pyproject.toml
  pyproject.toml
Due: core

linear layer update
  agent/src/metta/agent/lib/mean_pool.py
  configs/agent/latent_linear.yaml
Due: core, agent

finally fixed all the build errors with vite config
  experiments/notebooks/utils/heatmap_widget/README.md
  experiments/notebooks/utils/heatmap_widget/package-lock.json
  experiments/notebooks/utils/heatmap_widget/package.json
  experiments/notebooks/utils/heatmap_widget/src/Heatmap.tsx
  experiments/notebooks/utils/heatmap_widget/src/index.tsx
  experiments/notebooks/utils/heatmap_widget/vite.config.js
Due: core

pool
  agent/src/metta/agent/lib/mean_pool.py
  configs/agent/latent_linear.yaml
Due: core, agent

fix types
  configs/env/mettagrid/curriculum/resources.yaml
  configs/user/daphne.yaml
  mettagrid/src/metta/mettagrid/curriculum/bucketed.py
Due: core, mettagrid

add logs
  mettagrid/src/metta/mettagrid/curriculum/sampling.py
Due: mettagrid

logsumexp coeff change
  configs/trainer/trainer.yaml
  metta/rl/trainer_config.py
Due: core

Path conditions:
  core: any file but: app_backend/, agent/, mettagrid/, common/, **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  app_backend: any of: app_backend/, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  agent: any of: agent/, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  mettagrid: any of: mettagrid/, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  mettagrid_cpp: any of: **/*.cpp, **/*.cc, **/*.cxx, **/*.c++, **/*.h, **/*.hpp, **/*.hh, **/*.hxx, **/*.h++, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
  common: any of: common/, but not: **/tests/, **/test_*.py, **/*_test.py, **/conftest.py, setup.py, **/migrations/, **/__pycache__/, **/node_modules/, **/*.pb.py, **/*.pyi, **/fixtures/, **/mocks/, **/build/, **/cmake-build-*/, **/CMakeFiles/, **/*.o, **/*.a, **/*.so, **/*.dylib, **/*.dll
