Repository Metta-AI/metta: changes, and which Codecov flags are due for each by the changed paths.
All: core, app_backend, agent, mettagrid, mettagrid_cpp, common

codecov.yml:

# Codecov configuration for Metta-AI
# Documentation: https://docs.codecov.com/docs/codecov-yaml

# Wait for all CI jobs to complete before posting results
codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

# Coverage settings
coverage:
  # Round coverage to 2 decimal places
  precision: 2
  round: down

  # Status checks configuration
  status:
    # Project-wide coverage
    project:
      default:
        target: auto # Compare against base branch
        threshold: 1% # Allow 1% coverage drop
        base: auto
        informational: true # Won't fail PR, just inform

    # Coverage for changed lines only - this is your main gate
    patch:
      default:
        target: 50% # Minimum 50% coverage on new code
        threshold: 0% # No tolerance below 50%
        base: auto
        if_ci_failed: success # Don't fail if CI fails
        if_not_found: success # Don't fail if no coverage data

      # Additional informational patch check
      informational:
        target: 80% # Ideal target
        threshold: 0%
        informational: true # Won't fail, just shows as warning

# Pull request comment configuration
comment:
  layout: "header, diff, flags, components, files"
  behavior: default
  require_changes: false # Post comment even if no coverage change
  require_base: false # Don't require base coverage
  require_head: true # Must have head coverage to post
  hide_project_coverage: false # Show overall project coverage

# Flag configuration for different test suites
flags:
  core:
    paths:
      - "!app_backend/"
      - "!agent/"
      - "!mettagrid/"
      - "!common/"
    carryforward: true

  app_backend:
    paths:
      - app_backend/
    carryforward: true

  agent:
    paths:
      - agent/
    carryforward: true

  mettagrid:
    paths:
      - mettagrid/
    carryforward: true

  mettagrid_cpp:
    paths:
      - "**/*.cpp"
      - "**/*.cc"
      - "**/*.cxx"
      - "**/*.c++"
      - "**/*.h"
      - "**/*.hpp"
      - "**/*.hh"
      - "**/*.hxx"
      - "**/*.h++"
    carryforward: true

  common:
    paths:
      - common/
    carryforward: true

# Ignore certain paths from coverage
ignore:
  - "**/tests/"
  - "**/test_*.py"
  - "**/*_test.py"
  - "**/conftest.py"
  - "setup.py"
  - "**/migrations/"
  - "**/__pycache__/"
  - "**/node_modules/"
  - "**/*.pb.py" # Generated protobuf files
  - "**/*.pyi" # Type stub files
  - "**/fixtures/"
  - "**/mocks/"
  - "**/build/" # C++ build directories
  - "**/cmake-build-*/" # CLion/CMake build directories
  - "**/CMakeFiles/" # CMake generated files
  - "**/*.o" # Object files
  - "**/*.a" # Static libraries
  - "**/*.so" # Shared libraries
  - "**/*.dylib" # macOS dynamic libraries
  - "**/*.dll" # Windows dynamic libraries

# GitHub integration settings
github_checks:
  annotations: true # Show coverage annotations in PR files view

refactor: _compute_observation (#1429)
  codecov.yml
  metta/rl/trainer.py
  mettagrid/Makefile
  mettagrid/src/metta/mettagrid/actions/attack.hpp
  mettagrid/src/metta/mettagrid/mettagrid_c.cpp
  mettagrid/src/metta/mettagrid/mettagrid_config.py
  mettagrid/src/metta/mettagrid/mettagrid_env.py
  mettagrid/src/metta/mettagrid/packed_coordinate.hpp
  mettagrid/tests/conftest.py
  mettagrid/tests/test_mettagrid.py
  mettagrid/tests/test_observations.cpp
  mettagrid/tests/test_observations.py
Due: core, mettagrid, mettagrid_cpp

Initial commit
  MOVEMENT_METRICS.md
  docs/wandb/metrics/README.md
  docs/wandb/metrics/env_agent/README.md
  metta/api.py
  mettagrid/src/metta/mettagrid/mettagrid_c.cpp
  mettagrid/src/metta/mettagrid/mettagrid_c.hpp
  mettagrid/src/metta/mettagrid/mettagrid_c_config.py
  mettagrid/src/metta/mettagrid/mettagrid_config.py
  mettagrid/tests/test_movement_metrics.py
  mettagrid/tests/test_movement_metrics_api.py
  mettagrid/tests/test_movement_metrics_performance.py
  recipes/navigation.sh
Due: core, mettagrid, mettagrid_cpp

update test
  mettagrid/tests/test_movement_metrics_api.py
Due: none

camera clamping
  mettascope/src/worldmap.ts
Due: core

annealing config
  configs/trainer/trainer.yaml
  metta/rl/functions.py
  metta/rl/trainer_config.py
  repo2txt.py
  tests/rl/test_functions.py
Due: core

new config
  configs/trainer/trainer.yaml
Due: core

bash
  recipes/agent_pressure.sh
Due: core

make clamping feel more natural
  mettascope/src/worldmap.ts
Due: core

Make metta clean only operate off the root folder to avoid removing other user files
  metta/setup/metta_cli.py
Due: core

boost glyph to agent
  configs/user/rwalters.yaml
  mettagrid/benchmarks/test_mettagrid_env_benchmark.cpp
  mettagrid/src/metta/mettagrid/mettagrid_c.cpp
  mettagrid/src/metta/mettagrid/mettagrid_c.pyi
  mettagrid/src/metta/mettagrid/mettagrid_c_config.py
  mettagrid/src/metta/mettagrid/mettagrid_config.py
  mettagrid/src/metta/mettagrid/objects/agent.hpp
  mettagrid/src/metta/mettagrid/objects/converter.hpp
  mettagrid/tests/test_mettagrid.cpp
Due: core, mettagrid, mettagrid_cpp

only 200 obs tokens is supported
  configs/env/mettagrid/communication/defaults.yaml
  configs/user/rwalters.yaml
  mettagrid/src/metta/mettagrid/mettagrid_config.py
Due: core, mettagrid

optimization
  MOVEMENT_METRICS.md
  mettagrid/src/metta/mettagrid/mettagrid_c.cpp
Due: core, mettagrid, mettagrid_cpp

Make metta clean only operates on files within repo root (#1558)
  metta/setup/metta_cli.py
Due: core

fix action defaults
  mettagrid/src/metta/mettagrid/mettagrid_config.py
Due: mettagrid

debug
  mettagrid/src/metta/mettagrid/mettagrid_c_config.py
Due: mettagrid

rm debug
  configs/user/rwalters.yaml
  mettagrid/src/metta/mettagrid/mettagrid_c_config.py
Due: core, mettagrid

optimize take 2
  mettagrid/src/metta/mettagrid/mettagrid_c.cpp
  mettagrid/src/metta/mettagrid/mettagrid_c.hpp
Due: mettagrid, mettagrid_cpp

curriculum must have uniform num_agents
  configs/env/mettagrid/curriculum/communication.yaml
Due: core

Add default run name generation for training tool
  configs/user/.metta_tool_config.yaml
  tools/configure.py
  tools/train.py
Due: core

more checkpoints
  configs/user/rwalters.yaml
Due: core

resolved some bugs, now working w training bptt errors
  agent/src/metta/agent/metta_agent.py
  configs/user/alex.yaml
  metta/rl/experience.py
  metta/rl/trainer.py
Due: core, agent

Rename cfg variable
  configs/env/mettagrid/curriculum/bbc/tasks/altar.yaml
  configs/env/mettagrid/curriculum/bbc/tasks/armor.yaml
  configs/env/mettagrid/curriculum/bbc/tasks/basic.yaml
  configs/env/mettagrid/curriculum/bbc/tasks/combat.yaml
  configs/env/mettagrid/curriculum/bbc/tasks/laser.yaml
  configs/env/mettagrid/curriculum/bbc/tasks/tag.yaml
  configs/env/mettagrid/curriculum/navigation/bucketed.yaml
  configs/env/mettagrid/curriculum/objects/all_objects.yaml
  configs/env/mettagrid/curriculum/resources.yaml
  mettagrid/src/metta/mettagrid/curriculum/bucketed.py
  mettagrid/src/metta/mettagrid/curriculum/progressive.py
  mettagrid/src/metta/mettagrid/curriculum/sampling.py
Due: core, mettagrid

clean up metrics
  docs/wandb/metrics/README.md
  docs/wandb/metrics/env_agent/README.md
  metta/rl/functions.py
Due: core

Clean up curricula
  mettagrid/src/metta/mettagrid/curriculum/bucketed.py
  mettagrid/src/metta/mettagrid/curriculum/sampling.py
  mettagrid/tests/test_curriculum.py
Due: mettagrid

sp
  agent/src/metta/agent/lib/lstm.py
  metta/rl/experience.py
  metta/rl/trainer.py
Due: core, agent

sp
  metta/rl/experience.py
  metta/rl/trainer.py
Due: core

refactor(sweep): general improvements
  devops/sweep.sh
  tools/sweep_prepare_run.py
  tools/sweep_setup.py
Due: core

refactor(sweep): split sweep_init.py into sweep_setup.py and sweep_prepare_run.py
  tools/sweep_prepare_run.py
  tools/sweep_setup.py
Due: core

refactor(sweep): update remaining sweep utilities and documentation
  metta/sweep/README.md
  metta/sweep/wandb_utils.py
  tools/sweep_config_utils.py
  tools/sweep_eval.py
Due: core

fix(sweep): update shell scripts for refactored sweep system
  devops/sweep.sh
  devops/sweep_rollout.sh
Due: core

test(sweep): update tests to use sweep_name parameter
  tests/sweep/test_integration_sweep_pipeline.py
  tests/sweep/test_protein_end_to_end_pipeline.py
  tests/sweep/test_sweep_config_loading.py
Due: none

config: rever sweep_job to 5M steps
  configs/sweep_job.yaml
Due: core

fix(tests): adapt sweep tests to refactor
  tests/sweep/test_integration_sweep_pipeline.py
  tests/sweep/test_sweep_config_loading.py
  tests/sweep/test_sweep_init.py
Due: none

refactor(sweep): separate sweep setup from run setup + general improvements.
  devops/sweep.sh
  devops/sweep_rollout.sh
  tools/sweep_prepare_run.py
  tools/sweep_setup.py
Due: core
